[2019-02-14 16:47] notro commented on #1434
Having a ```mpconfigboard.h``` as you mention in https://github.com/adafruit/circuitpython/pull/1544#issuecomment-463655178 would be real sweet. This way the board will have full controll of the config. Ofc this means that the defines needs to be checked in ```mpconfigport.h``` to see if they're defined first before setting a default like how it's done in ```mpconfig.h```.

[2019-02-14 17:55] dhalbert commented on #1434
Yes, thanks for pointing that out. I did miss a couple of cases as I'm working on this. The new file has a ton of `#ifdef`'s and `#ifndef`'s. However, the individual port and board files should be a lot nicer.

I want also to combine the `.mk` settings as well, such as a common set of warnings, etc. Right now `-flto` doesn't work on nrf, it should, and it's very hard to debug why it isn't working.

[2019-02-14 18:10] TG-Techie opened #1549 "DISPIO: zero Shape height crashes and bootloops cp"
try making s shape have no height! then putting it in a group and showing it

it should raise a ValueError: Width of Shape cannot be zero
it doesn't

[2019-02-14 18:11] TG-Techie commented on #1549
height too

[2019-02-14 18:17] ladyada commented on #1549
@TG-Techie if you can write a minimal (but complete) example code for these bugs to demonstrate it crashing, plus the output of the crash that will really help us find and squish these bugs! the more details/info, the better as it lets us focus on fixing :)

[2019-02-14 18:22] TG-Techie commented on #1549
Totally will write one up now
error message: starts boot looping and does not appear on usb

[code]

[2019-02-14 18:29] tannewt commented on #1549
Please update to the latest master. I fixed this with #1548. Thank you for the small code example.

Also, it should no longer boot loop. It should enter safe mode now after a crash.

[2019-02-14 18:29] #1549 closed

[2019-02-14 18:32] tannewt commented on #1039
@dhalbert Can we close this now after #1541 ?

[2019-02-14 18:32] dhalbert commented on #1039
Yes, I thought it was going to get closed automatically.

[2019-02-14 18:32] #1039 closed

[2019-02-14 18:45] tannewt commented on #1039
It's not super smart about how when it knows to close: https://help.github.com/articles/closing-issues-using-keywords/

[2019-02-14 19:41] ladyada commented on #1270
ok how about low speed pins we low drive (theres no lowspeed's on the feather nrf) and then high speed high drive :) we can document this in product pages

[2019-02-14 20:55] bwshockley commented on #1270
I've potentially got a board (Mini SAM Nordic version in the works) that would use a low speed pin (P1.10) to drive the builtin_led.  Would this be configurable via board definition to set to high drive?  Or is this not possible currently?  I could just create a fork and modify to suite my needs, but I'd rather not fork CP too much if I can just define in the board files.

[2019-02-14 21:40] jerryneedell commented on #1545
hmmm -- I hope this is a clue: If I cop yht contents of alphanum_featherwing.py
[code]

directly into the featherwing_alphanum_simpletest.py replacing
[code]
and changing
[code]
to
[code]

then the demo runs fine on my feather_nrf52840_express

I hope this makes sense to someone ;-)

[2019-02-14 21:45] jerryneedell commented on #1545
Could this issue have something to do with the execution of multiple layers of imports ? Is that different on the atmel_samd51 from the nrf_52840?

[2019-02-14 21:56] dhalbert commented on #1270
@ladyada That sounds good -- thanks!

@bwshockley We don't currently store any info labelling pins as low-speed or high-speed, but we could store that in the pin table and add some kind of setting or override mechanism.

The regular drive might actually be fine for your LED. What's the current draw you set via resistor?

[2019-02-14 22:21] notro commented on #1500
Thanks, I didn't check the makefiles...

I tried it on an Metro M4 Express and I get same result.
I can ping the board, it is able to resolve the dns name, but fails when sending:

[code]
The socked code works fine on an RPi sitting next to it.

[2019-02-14 22:22] bwshockley commented on #1270
Oh - by all means, there is no need to make changes on my account, just curious.  2ma should actually be okay - I tend to choose my resistors to set lower current anyway in case I'm on battery.  But, I was trying to make sure that if I determined I needed a little more, I could get to it.

[2019-02-14 22:25] notro commented on #1500
I think 'll just close this for now and maybe pick this up later.

[2019-02-14 22:25] #1500 closed

[2019-02-15 01:44] nickzoic commented on #1046
OK, this hole goes even deeper: if I compile with `-O1` it works as expected.
With `-Os` or `-O2` it gives the weird `TypeError: Tuple or struct_time argument required` error.
Same result with gcc-arm-none-eabi-8-2018-q4-major and gcc-arm-none-eabi-7-2018-q2-update

[2019-02-15 01:56] dhalbert commented on #1046
I am doing a ton of refactoring of the makefiles and the config system, so if you have something else to work on, you can hold off on the rabbit hole for now and we can try again when I finish. It won't necessarily fix this problem, but it might be easier to debug and try different things.

[2019-02-15 04:02] nickzoic commented on #1046
Oh cool, thanks Dan.  Will do, I'll check back in next week.
The atmel-samd port works fine with the same shared-bindings and arm
compiler so I'm a bit flummoxed.Maybe different compiler flags & stuff.

[2019-02-15 12:22] jerryneedell commented on #1003
since we have dropped nrf52832  -- should we close this?

[2019-02-15 12:30] dhalbert commented on #1003
Since no one has complained about this in 52840, let's close.

[2019-02-15 12:30] #1003 closed

[2019-02-15 12:58] jerryneedell commented on #1545
I have simplified the test to cause this issue:
create two scripts
test.py containing this line
[code]
and test1.py containing:
[code]
copy both files onto the feather_nrf52840

at the REPL
[code]
the nrf52840 crashes -- drops USB and enter safe mode

note: running import test  at the REPL works...

[2019-02-15 13:05] jerryneedell commented on #1545
I alos tried importing from a different library
in  test.py:
[code]

this does not cause the crash.  Perhaps it is something in the ht16k33 lib

[2019-02-15 14:07] jerryneedell commented on #1545
forgot to post safe mode message
[code]

[2019-02-15 15:59] jerryneedell commented on #1545
Ozone screensho after trap to HardDault_Handler  -- unsupported return stack adderss -- not much information
![screenshot from 2019-02-15 10-57-16](https://user-images.githubusercontent.com/15856834/52868175-97f27d80-3110-11e9-90d4-735ff4b2a80b.png)

[2019-02-15 16:21] jerryneedell commented on #1545
gdb backtrace:
[code]

[2019-02-15 20:35] makermelissa commented on #1545
I've been working on approaching this a slightly different way. I've been removing a lot of contents of the libraries that import it and it seems to have something to do with an import chain. I'm not sure why it's specific to the nRF52840, but maybe Jerry's comments would help shed more light on that. Either way, I was also able to reproduce this bug.

[2019-02-15 20:45] jerryneedell commented on #1545
Just a wild guess, but I wonder if it is something to do with running out of stack space.. I found that if I compile with DEBUG=1 I can reproduce the problem -- see above, but when I tried to run some tests of the ESP32SPI code, It also went to Safe Mode but in that case, the Safe Mode message reported the reason as running out of stack space.  I normal build w/o DEBUG runs the ESP32SPI code fine

[2019-02-15 20:47] makermelissa commented on #1545
Yeah, that makes sense.

[2019-02-15 20:48] makermelissa commented on #1545
Fortunately running with code.py works just fine and I think that's how most users would approach it.

[2019-02-15 20:49] jerryneedell commented on #1545
oh - that is interesting -- I never tried that -- yuk :-(

[2019-02-15 21:03] dhalbert commented on #1545
I just noticed (while doing something else) that the default nRF stack is only 4k. I am adjusting that. It would be interesting to know if this also fails on an M0, where the default stack is also that size.

[2019-02-15 21:04] jerryneedell commented on #1545
yes -- raising it to 8K fixes the problem!!

[2019-02-15 21:22] jerryneedell commented on #1545
Increasing the stack size to 8K resolved this issue.  Tested on feather_nrf52840_express and particle_argon.

I guess we should leave this issue open until the nrf52840 builds are reconfigured for larger stack -- @dhalbert has a PR in work for that and other changes.

[2019-02-15 21:50] TG-Techie opened #1551 "DISPIO: classes not maintining thier subclasses once added to group"
[code]
gives:
<class 'rect'>
<class 'rect'>
<class 'TileGrid'>

this means my rect class cannot edit the palette inside of it.

CircuitPython 4.0.0-beta.2-58-g35e3d99f6

[2019-02-15 21:54] tannewt commented on #1551
Ah, ya good point. Will fix. Thanks!

[2019-02-15 21:56] tannewt commented on #1539
@TG-Techie did you get a chance to test this with the latest code?

[2019-02-15 21:57] tannewt commented on #1528
@dhalbert Ah windows throws my ideas out the window. Will keep brainstorming but close this.

[2019-02-15 21:57] #1528 closed

[2019-02-15 22:15] tannewt commented on #1545
It would be nice to add stack checking to throw an exception in this case. Raising the stack size isn't a great fix because other imports can still cause the same crash.

[2019-02-16 02:31] jerryneedell commented on #1545
fixed by #1554

[2019-02-16 02:31] #1545 closed

[2019-02-16 02:46] #1127 closed

[2019-02-16 03:57] sommersoft commented on #1405
Fixed by [#132](https://github.com/adafruit/Adafruit_CircuitPython_Bundle/pull/132) & #1550.

**Step 3: ReadTheDocs!!** 😄

[2019-02-16 03:57] #1405 closed

[2019-02-16 03:58] dhalbert commented on #1434
Fixed by #1554.

[2019-02-16 03:58] #1434 closed

[2019-02-16 04:00] dhalbert commented on #1547
Added to nrf builds by #1554. Enhanced by #1544.

[2019-02-16 04:00] #1547 closed

[2019-02-16 06:33] edwios opened #1556 "bleio: cccd not properly set after Peripheral was added to a Service?"
Hi,

I have the following piece of code, however when I run it, it returned CCCD error:
OSError: Failed to read CCCD value, err 0x3002

[code]

`send_temp()` is essentially `chara.value = bytearray([temp & 0xFF, temp >> 8])`

Did I missed anything?

Note: Circuitpython master tree on Feb 8th, nRF52840 dongle

Regards,
Ed

[2019-02-16 13:22] edwios commented on #1556
Found what's wrong, it was due to a bug causing `send_temp()` to set the `chara.value` before `periph.connected` returned True.

Closing the issue.

BTW, great works on the **bleio**, it is really friendly and very easy to use!

[2019-02-16 13:22] edwios commented on #1556
Found what's wrong, it was due to a bug causing `send_temp()` to set the `chara.value` before `periph.connected` returned True.

Closing the issue.

BTW, great works on the **bleio**, it is really friendly and very easy to use!

[2019-02-16 13:22] #1556 closed

[2019-02-16 13:47] #1551 closed

[2019-02-16 14:45] dhalbert commented on #1556
One question is whether it should be safe to set the value when not connected. Maybe it should just suppress trying to notify in that case, since you may want to set an initial value.

Thanks for the compliment! Getting to a pleasant API is hard.

[2019-02-16 14:50] dhalbert opened #1557 "Enable MICROPY_MODULE_WEAK_LINKS for library replacement"
@notro needs `MICROPY_MODULE_WEAK_LINKS` for library extension. I'll look at this more carefully and see if we can turn it on without issues. I think it's off for small builds right now (which is probably fine since there's really no room for library extensions).

[2019-02-16 21:59] dhalbert opened #1559 "Recent travis failures"
Travis builds have been failing recently. Example:
https://travis-ci.com/adafruit/circuitpython/jobs/178330132
[code]
I tried this on my local Ubuntu machine (running bionic, not xenial) immediately seeing this failure, so I have the same commit, etc., with exactly the same git version (2.20.1) (I used a git ppa for that). I do not get the error
[code]
but my output is otherwise identical up to th

[2019-02-16 22:41] dhalbert commented on #1559
These problems are new. `.travis.yml` hasn't changed in a couple of months or so.

[2019-02-17 04:25] makermelissa opened #1561 "RTC Functionality missing from NRF making DS3231 Library Unusable"
Regarding Discussion in PR https://github.com/adafruit/Adafruit_CircuitPython_FeatherWing/pull/27, in the latest official release (beta 2), the functions are there, but cause a BCDDateTimeRegister object to be returned. @jerryneedell had compiled a build from master on 2/15 and that was missing the mktime() and localtime() functions, but the BCDDateTimeRegister seemed to be fixed.

[2019-02-17 04:26] makermelissa commented on #1561
Forgot to mention, Dan mentioned there was work being done on this in #1534.

[2019-02-17 15:11] sommersoft commented on #1108
@kattni this _appears_ to be good now? All of the listed repos have RTD builds within the last month. Granted, I didn't check any RTDs for libraries not listed here...

[2019-02-17 18:31] makermelissa commented on #1561
Ok, now that I've successfully compiled the latest version of circuitpython, it appears the specific functionality I need is the mktime() and localtime() functions in the time package.

[2019-02-17 19:17] kattni commented on #1108
Yeah I think this is probably fine. If anything comes up again, we'll deal with it then.

[2019-02-17 19:17] #1108 closed

[2019-02-17 21:55] dhalbert opened #1563 "Improve rtc documentation"
There should be a simple example in the doc, and `rtc.RTC datetime` should say it takes a `struct_time`, etc.

[2019-02-18 03:02] #1557 closed

[2019-02-18 03:07] #1559 closed

[2019-02-18 04:47] jerryneedell opened #1565 "trinket_m0 analogout fails after soft reset"
The following test script will execute after a hard RESET, but fails with an I/O Error after a soft reboot

test.py
[code]

[code]

[2019-02-18 05:25] ladyada commented on #1565
are you saving with Mu?

[2019-02-18 06:13] makermelissa commented on #1565
Jerry, I and iraytrace (on discord) all experienced this with a fresh build off master on CP. I personally saved using Mu, and I think the others did as well.

[2019-02-18 07:41] jerryneedell commented on #1565
I was not using Mu. Just running from REPL And typing control-d to reboot. I was not using code.py. Just test.py.

[2019-02-18 17:32] ladyada commented on #1565
ok yeah i have seen this lately but i thought it was related to save failing. i noticed that if i opened code.py in Mu and saved it (maybe changing a char and deleting) then it would magically work, or maybe its unreleated

[2019-02-18 17:36] TG-Techie opened #1567 "DISPIO: changing tilegrid breaks containing group"
[code]
causes:
Auto-reload is on. Simply save files over USB to run them or enter REPL to disable.
main.py output:
<class 'rect'>
<class 'rect'>
Traceback (most recent call last):
  File "main.py", line 47, in <module>
NameError: name 'grp' is not defined

[2019-02-18 17:38] TG-Techie commented on #1567
note: removing the r.x = 50 makes it run perfectly

[2019-02-18 19:37] kattni opened #1568 "Connection dropping with BLE Connect app when printing mobile data streams"
Feather nRF52840 and the Adafruit Bluefruit LE Connect application used. Android version.

Here is the process.
- I have my code.py running to print Accel/Gyro/Magnet/Quat packets. The code runs fine while it’s waiting to connect.
- I connect using the Bluefruit app. Connects fine. I go to the controller, and enable each of the four data streams.
- The code starts printing the data streams to the

[2019-02-18 20:31] TG-Techie opened #1570 "PYPORTAL: collect inconsistently causing softreload"
I will attach the files but I cannot recreate the issue consistently. also the code is very complex
every now and then when it tries to collect it reloads
[code]

change the pyportal to spi mode via the jumper and run these files
[portal backup.zip](https://github.com/adafruit/circuitpython/files/2877301/portal.backup.zip)

[2019-02-18 20:38] ladyada commented on #1570
TG, i edited to remove the exclaimation points. please keep the issue text and subject lines informative and compact

[2019-02-18 21:24] TG-Techie commented on #1570
my apologies, I should have proofread the issue title.

[2019-02-19 01:26] ladyada opened #1571 "displayio - Change backlight freq to 50KHz instead of 5KHz"
`pwmout_result_t result = common_hal_pulseio_pwmout_construct(&self->backlight_pwm, backlight_pin, 0, 5000, false);`

in Display.c should be changed to 50000, as 5KHz is within hearing range and if you PWM the pyportal backlight you can hear a squeeking noise :)

[2019-02-19 01:26] ladyada commented on #1571
(i can submit a PR once https://github.com/adafruit/circuitpython/pull/1552 is merged since that's what im working in)

[2019-02-19 03:06] ladyada opened #1572 "code.py does not have __file__ defined"
on other files that are imported, `print(__file__)` works. in code.py you get `NameError: name '__file__' is not defined`

[2019-02-19 22:35] alexwhittemore opened #1574 "I2C scan/address bit order error"
It sure looks a lot like there's a bit order reversal when handling i2c addresses.

I've got a custom board - call it a Trinket M0 (closest relative). I'm using an i2c port on SDA=PA22 and SCL=PA23. This port seems to be working normally, but only if I bit-reverse addresses. For instance, I've got a fuel gauge attached to the port with an address of 0x6C. However, if I i2c.scan():
[code]

I can ca

[2019-02-19 22:46] ladyada commented on #1574
hi- we use 7-bit addressing, not 8-bit
 0x6C / 2 = 0x36 :)

[2019-02-19 22:46] #1574 closed

[2019-02-19 22:59] alexwhittemore commented on #1574
Ahhh, so "8 bit addressing" doesn't mean "some clever way of adding an extra bit" - it means "we incorrectly left-shift the _true_ device address when we really shouldn't"

Clear enough, I suppose!

[2019-02-19 23:51] ATMakersBill opened #1575 "Problem installing 4.0 beta1 & beta2 on NRF52840 Feather Express"
Hi folks, I have a Feather NRF52840 and tried to install CP 4.0b2 on it.  I entered bootloader mode and got the FTHR840BOOT drive.  I copied the UF2 and got a failure
![image](https://user-images.githubusercontent.com/32851154/53055765-ebe5c500-3476-11e9-9f2c-55d79b41152f.png)

I have gotten different errors saying that the file is too large to fit on the device, but it always fails.

Here is my b

[2019-02-20 00:14] #1565 closed

[2019-02-20 00:17] dhalbert commented on #1575
This is on Windows 10, 1809 build. I got a different error but also failed to copy the .uf2 to the Feather 52840.
[code]

![image](https://user-images.githubusercontent.com/2847802/53056452-42ec9980-3479-11e9-800c-d422add32975.png)

Upgraded to bootloader 0.2.8, though it reports as:
[code]
Then I get the error shown in the original post, where the UF2 is reported to have disappeared from its orig

[2019-02-20 00:20] dhalbert commented on #1575
On Windows 7, trying to copy via drag and drop shows this error:

![image](https://user-images.githubusercontent.com/2847802/53056996-64e71b80-347b-11e9-8d89-8ccba80d5c99.png)

[2019-02-20 00:27] dhalbert commented on #1575
Re-created as https://github.com/adafruit/Adafruit_nRF52_Bootloader/issues/46, closed here, since it's a bootloader issue.

[2019-02-20 00:27] #1575 closed

[2019-02-20 00:28] #1529 closed

[2019-02-20 00:39] dhalbert commented on #1396
Even after #1554, which makes the atmel-samd and nrf builds extremely similar, `-flto` still produces an empty output file on nrf. So my guess is that the interrupt vector is not dragging in everything else as it does on atmel-samd. But I don't know why; I already tried a bunch of things to get it to work.

[2019-02-20 01:37] ladyada commented on #1574
hmm, not sure your question but i think your datasheet is probably confusing, and has the '8 bit' address which includes a 0 for the lowest bit (left shift one). we use the 'raw' address, same as Arduino and Linux, which does not pad the LSB
https://www.i2c-bus.org/addressing/
maybe that helps?

[2019-02-20 02:59] alexwhittemore commented on #1574
Yes - that's exactly it. I never realized the difference. Thanks for walking me through it!

[2019-02-20 08:25] tannewt commented on #1570
Is the device connected to your computer via USB? Any write activity your host does will cause a reload.

[2019-02-20 08:29] tannewt commented on #1539
@TG-Techie Please reopen if this is an issue still.

[2019-02-20 08:29] #1539 closed

[2019-02-20 16:24] dhalbert commented on #1155
Repointing some discussion that was in PR #1566 to here. Trying to summarize:

We decided to make weakly-linked `_` versions of a few modules that could be extended with Python versions derived from the CPython standard library. Right now, this is just `os` and `time`, though there could be more.

We have not enabled the "weak links" (module alias) mechanism in the M0 builds. There is not enough R

[2019-02-20 18:17] notro commented on #1155
These are also extended:
- [io](https://github.com/notro/tmp_CircuitPython_stdlib/blob/master/lib/io.py) (a couple of constants)
- [re](https://github.com/notro/tmp_CircuitPython_stdlib/blob/master/lib/re.py) (escape() and a constant)

```collections``` is also a likely candidate.

It is a possibility to filter out the undersocre modules in [mp_help_print_modules()](http://elixir.tronnes.org/circu

[2019-02-20 22:45] dhalbert commented on #1568
Partly fixed by https://github.com/adafruit/Adafruit_CircuitPython_BluefruitConnect/pull/10, but there's still a hard fault sometimes on the CircuitPython side. Still debugging that.

[2019-02-20 23:42] TG-Techie opened #1577 "PYPORTAL: wiped itself (several times)"
i was running code that worked perfectly before but after updating to the most recent master it started hard crashing and then wiped itself

[2019-02-20 23:43] TG-Techie commented on #1577
working on reconstructing the lost code as an example

[2019-02-21 00:45] TG-Techie opened #1578 "ctrl-d not running main.py"
Adafruit CircuitPython 4.0.0-beta.2-97-g0dc260058 on 2019-02-20; Adafruit PyPortal with samd51j20

it only runs main when main is saved

[2019-02-21 01:45] TG-Techie opened #1579 "PYPORTAL file loss"
Since i upgraded to the most recent master,4.0.0-beta.2-97-g0dc260058 on 2019-02-20
, occasionally while editing with mu the pytportal freezes up and the led goes red and the mounted drive will freeze up and crash too if you try to interact with it. then when unplugged and re-plugged some file on the drive will be corrupted, or an entire folder. i have a jtag edu with me (the large one) if you thi

[2019-02-21 02:15] TG-Techie commented on #1577
it's done it two more times.
iv'e been working on:
https://github.com/TG-Techie/pyportal_gui
i wish i could be more specific, this is mostly reconstructed code

[2019-02-21 02:24] ladyada commented on #1579
this this a duplicate of https://github.com/adafruit/circuitpython/issues/1577#issuecomment-465834205 ?

[2019-02-21 03:10] TG-Techie commented on #1577
ah, i just tried it with 4.0.0-beta.2-36-g66b0c67f5-dirty on 2019-02-12 and it happened again  hrmmmm (i saved an old compile)

[2019-02-21 04:38] dhalbert commented on #1577
I think I know what this might be. I might have messed up declaring `MICROPY_PORT_ROOT_POINTERS` in the big refactor. @ladyada
Will investigate further

[2019-02-21 04:50] dhalbert commented on #1577
No, that's not it.

[2019-02-21 11:51] conchyliculture opened #1583 "Adafruit Feather M0 Bluefruit LE releases?"
Hi,
README.rst says the [Adafruit Feather M0 Bluefruit LE](https://www.adafruit.com/product/2995) is part of the supported boards, though I can't find any .u2f nor .bin files in the release (so I can't follow the install procedure [here](https://learn.adafruit.com/welcome-to-circuitpython/non-uf2-installation
).
Do you have documentation on how to build circuitpython.bin file myself?
Is the board

[2019-02-21 12:52] jerryneedell commented on #1583
Use the release for the M0 adalogger. It has pin D8 defined and is needed as the SPI chip select.

[2019-02-21 12:55] jerryneedell commented on #1583
More info here https://learn.adafruit.com/munny-lamp/code-with-circuitpython

[2019-02-21 13:26] TG-Techie commented on #1570
@tannewt  yes it is plugged in but i was not saving. i would ctrl-d to make it reload then as it was running it would reload on it's own.

[2019-02-21 17:28] #1568 closed

[2019-02-21 18:50] #1583 closed

[2019-02-21 18:52] tannewt commented on #1579
Let's focus on #1577. These are similar enough that we only need one.

[2019-02-21 18:52] #1579 closed

[2019-02-21 18:55] tannewt commented on #1577
Since you have a JLink, it'd be awesome if you could have a debug build running through the JLink as you work with it. Set a breakpoint on `reset_into_safe_mode`. It will likely be triggered when the USB dies for you. If it doesn't, you can still control-c it to get a backtrace. You may also want to power the pyportal separately through a stemma connector so that you can unplug usb when it misbeha

[2019-02-21 18:58] tannewt commented on #1578
More details please. When are you typing ctrl-d? If main is running you'll need to ctrl-c then ctrl-d.

[2019-02-21 18:59] tannewt commented on #1571
@ladyada want to PR this or should I?

[2019-02-21 19:00] TG-Techie commented on #1577
I'll be free at 3 to do so until 4. I do not know what a debug build is nor am I super experienced with a Jlink. Is there a guide you know of ?

[2019-02-21 19:02] ladyada commented on #1571
if you dont mind doing it, im going to try to focus on testing PR's with the time i have today

[2019-02-21 19:02] siddacious commented on #1577
This is the one I used; I hear the author went on to do great things
https://learn.adafruit.com/debugging-the-samd21-with-gdb/overview

[2019-02-21 19:03] siddacious commented on #1577
`JLinkGDBServer -speed 4000 -if SWD -device ATSAMD51P20` is the gdb server command I use for the GC which I think is the same for the pyportal?

[2019-02-21 19:46] tannewt commented on #1571
kk, on it.

[2019-02-21 20:51] #1571 closed

[2019-02-21 21:18] TG-Techie commented on #1578
consistently when in the repl

[2019-02-21 21:36] #1572 closed

[2019-02-21 22:18] TG-Techie commented on #1577
try these two firmwares, I find the one without init does not have the problem
[wout_init_firmware.uf2.zip](https://github.com/adafruit/circuitpython/files/2891516/wout_init_firmware.uf2.zip)
[firmware.uf2.zip](https://github.com/adafruit/circuitpython/files/2891519/firmware.uf2.zip)

[2019-02-21 22:22] ladyada commented on #1577
TG, when commegnting on issues - please add more information so we know what you're doing and what the firmware you are posting does: what 'init code'? how did you verify 'it does not have the problem' during test? we cannot debug, read, or analyze uf2 files :)

[2019-02-21 22:33] TG-Techie commented on #1577
I duplicated the pyportal board profile and changed the board.c to match the metro m4, thus board.DISPLAY is a Nonetype, and I have not been having the file/folder (and occasional) corruption problem while saving or reloading in addition to far fewer safe mode alerts. The board i am running it on is in spi mode, if relevant.

ladyada,  thank you for the feedback you have been giving I have been fi

[2019-02-21 22:41] ladyada commented on #1577
ok thanks - next up, when you get safemode alerts what are they saying? do you have a screenshot? they have the reason for safemode

[2019-02-21 23:04] tannewt commented on #1570
Your OS may be doing stuff on the drive in the background. If you see reload errors when usb isn't connected please reopen. Otherwise, this is as expected.

[2019-02-21 23:04] #1570 closed

[2019-02-22 00:50] TG-Techie commented on #1577
to get it to output this error I just saved the same main.py over and over, using the program in between saves, until it went to safe mode (took three tries). I was using the most recent master (see below for the build number).
[code]

[2019-02-22 01:04] TG-Techie commented on #1577
after i power cycled the drive was wiped again

[2019-02-22 01:22] dhalbert commented on #1577
@tannewt I think one thing to check here is if a displayio-related object (or maybe a filesystem-related object) should be part of the root pointers lists, but is not. I had a crashing (not a filesystem issue) due to forgetting this for an internal BLE linked list.

@TG-Techie What editor and what operating system are you using? (MacOS for the latter, right?)

[2019-02-22 10:14] uhrheber commented on #1577
I don't know whether it's related or not, but I built the latest version from the repository, and tried adafruit_ble with the echo example.
It ran perfectly at first, but then I added some code to show the bluetooth status with the onboard LEDs, and after several restarts, both by saving the file and CTRL-D, the virtual drive was wiped.

Version:
Adafruit CircuitPython 4.0.0-beta.2-111-gd218069f0

[2019-02-22 11:18] TG-Techie commented on #1577
@dhalbert. Yes, I'm a Unix/Macos person through and through. I'm using mu 1.0.2.

[2019-02-22 11:54] uhrheber commented on #1577
There seems to be something wrong with the filesystem drivers, after reformatting the virtual drive, and reflashing, I got all sorts of weird errors, like:

main.py output:
Traceback (most recent call last):
  File "main.py", line 1, in <module>
  File "/lib/adafruit_ble/__init__.py", line 1, in <module>
NameError: name 'ÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿÿ' is not defined

But when I open the file __init_

[2019-02-22 12:02] TG-Techie commented on #1577
@uhheber what do you mean by main.py output? Via repl? Is init seperate from main ?

[2019-02-22 12:16] uhrheber commented on #1577
*** This code works:
#######################################
from adafruit_ble.uart import UARTServer
import board, digitalio

ledg = digitalio.DigitalInOut(board.LED2_G)
ledg.direction = digitalio.Direction.OUTPUT
ledb = digitalio.DigitalInOut(board.LED2_B)
ledb.direction = digitalio.Direction.OUTPUT

uart = UARTServer()

while True:
    uart.start_advertising()
    ledg.value = False
    ledb.va

[2019-02-22 12:26] dhalbert commented on #1577
@uhrheber Could you say exactly which commit you built, or which UF2 you used? The commit listed in the startup prompt is apparently not accurate.

[2019-02-22 12:45] jerryneedell commented on #1577
I just tried the error prodcing code both manually as test.py and as main,py -- it does produce an error as main.py but it runs normally as test.py

[code]

test.py
[code]

[2019-02-22 12:48] jerryneedell commented on #1577
ha! but it runs normally if named code.py ??

[2019-02-22 12:58] jerryneedell commented on #1577
my tests were on a pca10059 dongle wiht a build the current master as of a few hours ago.
I have not had any issue where the File system has been wiped by a control-D

[2019-02-22 13:04] TG-Techie commented on #1577
Hrmmm I find mine crashes and wipes regardless of file content.

[2019-02-22 13:12] uhrheber commented on #1577
@dhalbert Git log says:
commit d218069f03451e74e049b337830cbd1be7a25d8e (HEAD -> master, origin/master, origin/HEAD)
Merge: 3e877e0f6 ed1ace09e
Author: Dan Halbert <halbert@halwitz.org>
Date:   Thu Feb 21 17:15:50 2019 -0500

    Merge pull request #1584 from tannewt/disable_concurrent_write_protection

    Add option to disable the concurrent write protection

commit 3e877e0f6a05083980d5829e8fcc9

[2019-02-22 13:14] jerryneedell commented on #1577
Now I reloaded it as main.py and it works fine ...

It may be very important to make sure the File sytem has been updated before resetting - on lyninx I do  "sync" after any write to the board.

I had some odd behaviors with trying to load another file and execute it from the REPL -- it resulted in the same "name= junk " error as above until I reloaded

after that even the previous;y failing main.

[2019-02-22 13:17] uhrheber commented on #1577
@jerryneedell I don't think that this is the root cause. I had the code that produces the error in main.py, and it was synced, because I could read it with another editor. I then ejected the stick (in Linux), unplugged and replugged it. After that, the file system was wiped clean.

[2019-02-22 13:22] jerryneedell commented on #1577
I'm not sure what to suggest, just sharing my observations -- at this point, I cannot reproduce the error ...

I have corrupted many a file system by not properly syncing the system before a hard reset or power cycle.

[2019-02-22 13:50] uhrheber commented on #1577
It's definitely not the write cache, I disable write caching for the circuitpython drive in Linux, but nevertheless I get the error.

Also, there seems to be an error in adafruit_ble, because even when it works, I can send only a few characters at a time, when I sent more than ~10, CircuitPython crashes:

[code]

[2019-02-22 14:07] uhrheber commented on #1577
I just noticed, that the code runs when I add a '#' at the end of the lines that cause an error.

[code]
crashes, while
[code]
works.

Any explanations?

[2019-02-22 14:18] uhrheber commented on #1577
p.s. it seems to have something to do with the ble library, or external libraries in general, because code using only internal libraries works without a problem, and I can unplug and replug the stick as often as I want, without any problems.

[2019-02-22 14:30] jerryneedell commented on #1577
It may be consistent with access to the file system — loading an external library has to read it from the file system.

[2019-02-22 15:00] dhalbert commented on #1577
@uhrheber Your testing is on a PCA10059, which uses the internal flash as CIRCUITPY. On the chance that there’s a bug in the internal flash code, could you test on the PCA10056 as well?

Also, please turn off the special mount options you are using, and just do `sync` after writing, to avoid any possible Linux driver issues.

What text editor are you using?

You mentioned resetting the board frequ

[2019-02-22 16:58] uhrheber commented on #1577
I don't use special mount options, I just disabled the write cache.
Also, as I already said, it's independent from the OS.
Text editors:
Windows: Notepad++, Mu
Linux: Gedit, Mu

I said nothing about resetting the board.
It doesn't matter whether I use the OS' drive eject function before unplugging it, the file system gets wiped anyway.

When I don't use external libraries, I can do with the board

[2019-02-22 17:48] uhrheber commented on #1577
PCA10056 works without a problem, even when I unplug it while it's running, there's no drive corruption.
So your assumption about a bug in the internal flash code is most likely right.

[2019-02-22 17:49] dhalbert commented on #1577
@uhrheber Which board(s) are you these problems on?

[2019-02-22 17:52] dhalbert commented on #1577
Our comments crossed.  Thanks!

[2019-02-22 17:52] uhrheber commented on #1577
Only pca10059 so far, I have some nRF52840 based modules from Fanstel here, but didn't test them so far. They don't have external memory, so they should behave exactly as the pca10059.

[2019-02-22 17:54] TG-Techie commented on #1577
Is we proceeding under the assumption that the two problems are linked ?

[2019-02-22 17:55] uhrheber commented on #1577
But why is TG-Techie having these problems with the PyPortal? It HAS external flash.

[2019-02-22 17:58] dhalbert commented on #1577
There may be several problems here. @uhrheber’s issue definitely seems related to internal flash. Yours seems to be related to displayio, which they’re not using.

[2019-02-22 18:01] TG-Techie commented on #1577
I think i is worth pointing out I do have displayio compiled into the firmware, I only call release_displays, but it has no pre-initialised display. also that my hardware config does not match the software when init_display is enabled

[2019-02-22 18:03] TG-Techie commented on #1577
i have also noticed my tricorder,  basically an m4 without an initialized display, does not have the file loss issue.

[2019-02-22 18:05] uhrheber commented on #1577
BTW, the problem with ble.uart still exists also on the pca10056. When I send more than a few characters at once, the program crashes:

[code]

[2019-02-22 18:05] TG-Techie commented on #1577
@uhrheber  should that go in a separate issue?

[2019-02-22 18:10] uhrheber commented on #1577
Definitely. It's a different problem.

[2019-02-22 18:11] TG-Techie commented on #1577
two fold.   i wonder if this is happening on the hallowing?

[2019-02-22 18:17] ladyada commented on #1577
TG - what if you have the backlight very dim, but using the displayio interface - please try that!

[2019-02-22 18:22] TG-Techie commented on #1577
Ladyada, I'm glad to try, and not entirely sure what you want me to try. I use it in spi and even when in repl and not main I don't see anything on the screen, just white.

[2019-02-22 18:24] ladyada commented on #1577
to see the the backlight current is causing a brownout while writing to the FAT, its worth a try. you would have displayio active, but just not use high current ALL ON backlight

[2019-02-22 18:52] uhrheber commented on #1577
OK, guys, the problem seems to be gone after I erased the memory of the pca10059 completely, flashed the newest version of the UF2 bootloader (pca10059_bootloader-0.2.8_s140_6.1.1.hex), and then copied the freshly compiled CircuitPython UF2 file over.

Now I feel dumb for not trying this sooner.
Sorry for wasting your time, obviously a completely unrelated problem.

[2019-02-22 19:02] dhalbert commented on #1577
@uhrheber No problem - it can take several tries to divide and conquer an issue. If you are still seeing BLE problems, please open a new issue.

[2019-02-22 19:04] #1109 closed

[2019-02-23 02:46] ladyada opened #1588 "`displayio` - have available property for width and height"
realized while trying to center an image we don't have a way to 'ask' the `board.DISPLAY` what we are :)
- `width`
- `height`
- `color_depth`

from initizer here: https://circuitpython.readthedocs.io/en/latest/shared-bindings/displayio/Display.html

no rush from me - but i can see it coming in handy when people have various displays!

[2019-02-23 13:03] uhrheber commented on #1577
Unfortunately, I spoke too soon.
After copying more libraries to the pca10059, and adding more code, the problem reappeared.

This made me thinking, that it might be related to the filling level of the disk.
So I started a test program, called F3, that is meant for testing USB sticks.
It fills the drive with test files to the brim, and then reads them back, testing for corrupted and overwritten pa

[2019-02-23 18:56] rdagger opened #1590 "BLEIO Scanner incorrect addresses and other issues"
I'm trying to use a Feather nRF52840 Express to detect BLE beacons. I'm using the following sample code:
[code]
I've notices 4 issues.

1. Printing entries shows the same hardware address and raw data for all entries.  The RSSI for the entries is different.
2. The 4th hex value of the address is incorrect.  It is showing the 5th hex value in both the 4th and 5th positions (Example: AA:BB:CC:**EE**

[2019-02-23 19:18] dhalbert commented on #1590
Thanks for noticing the issues. The `Scanner` code hasn't been worked on at all, and is from an earlier PR. We're not doing central mode for 4.0.0. We should probably remove these from the build right now. I'll keep this open as reference for when we do work on it.

[2019-02-23 19:20] dhalbert opened #1591 "bleio: remove non-supported classes and functionality from 4.0.0 build"
`bleio` currently includes things aren't expected to be supported in 4.0.0. They should be made invisible for now. Cf. #1590.

[2019-02-23 19:36] rdagger commented on #1590
Thanks for the quick response.  I'm interested in detecting BLE beacons by address and signal strength.  Is that going to be possible?  Are there any current workarounds?

[2019-02-23 20:06] dhalbert commented on #1590
We have plans for central mode, which will include the kind of scanning you want, post 4.0.0. We're trying to get 4.0.0 out soon (no published schedule). If time is pressing, our nRF52 Arduino board support package has scanning, for example: https://github.com/adafruit/Adafruit_nRF52_Arduino/blob/master/libraries/Bluefruit52Lib/examples/Central/central_scan/central_scan.ino

[2019-02-24 02:22] edwios commented on #1556
For a peripheral, I don't know what is the point of writing to a characteristic when it is not connected.

[2019-02-24 16:42] uhrheber commented on #1577
I just repeated the write/read test with F3 on a Pyboard v1.1 (MicroPython v1.9.4), and again on a pca10059 (CircuitPython 4.0.0-beta.2-116-gaf863a378).
Pyboard: no data corruptions, runs without an error even when the disk is full, reset doesn't do any damage
pca10059: corrupted data, behaves sometime erratically when the disk is nearly full, disk wiped after reset

Would be interesting to see wh

[2019-02-24 16:43] dhalbert commented on #1577
CircuitPython is only supported on `atmel-samd` and `nrf` (and `esp8266` on 3.x). We don't remove the other `ports/*` so we can still merge from upstream easily.

[2019-02-24 17:17] dhalbert commented on #1556
You might want to initialize the characteristic with a value before you start advertising. When a client connects, they might request the value immediately.

[2019-02-24 20:02] #1591 closed

[2019-02-24 20:05] dhalbert opened #1595 "Implement BLE Scanner"
... or the equivalent, so that beacons can be detected.

[2019-02-24 20:06] dhalbert opened #1596 "Implement BLE Central mode"
This is a full central mode, so that it can act as a GATT Client. Might be 4.x or might be later.

[2019-02-24 20:06] dhalbert commented on #1590
Superseded by #1595.

[2019-02-24 20:06] #1590 closed

[2019-02-24 20:07] kevinjwalters opened #1597 "pulseio.PWMOut duty_cycle assignment fails infrequently"
I noticed this once during some manual testing and thought I'd imagined it. It then happened again and the value prints as 0 so it's not my imagination, perhaps occurs 1 in 30 assignments:

[code]

FYI, I'm using two other PWMOuts at same time which appear to be the maximum I can use :(

This is on `Adafruit CircuitPython 4.0.0-beta.2 on 2019-02-05; Adafruit CircuitPlayground Express with samd21g1

[2019-02-24 20:10] dhalbert commented on #1597
Is `aout` related to `a3pwmaout`? I notice it occurs when you set `aout.value = 0`.

[2019-02-24 20:41] kevinjwalters commented on #1597
It's A0 in analogue out mode:

[code]

I just tried a loop iterating over some values

[code]

[2019-02-24 20:52] kevinjwalters commented on #1597
Jumping by 5000 makes it easier to see failed non-0 assignments, e.g. `wanted 28000 got 0`:

[code]

[2019-02-24 20:54] kevinjwalters commented on #1597
Ah, I intended to do that without the 0 assignments to just to make sure it still fails to assign when 0 isn't in play.

[code]

[2019-02-24 21:38] TG-Techie commented on #1577
the no auto reload seems to have. fixed it

[2019-02-24 21:40] TG-Techie opened #1598 "DIPSIO: add way to check if dispio object is being shown"
or an _onshow_ method to for touchable objects, etc

[2019-02-24 21:41] TG-Techie commented on #1598
that had unscored on either side

[2019-02-24 21:44] TG-Techie commented on #1577
however is still freezes while sometimes saving

[2019-02-24 21:52] siddacious commented on #1598
@TG-Techie Please clean up your initial request/comment to include more information about what you're trying to achieve and how what you're asking for will help achieve your goals.

[2019-02-24 22:45] dhalbert commented on #1597
Would you mind trying this with CircuitPython 3.1.2? That would help narrow things down? Thanks very much!

[2019-02-24 23:13] TG-Techie commented on #1598
my apologies, more detail for not issues too. good explanation?

[2019-02-24 23:27] siddacious commented on #1598
Much better, thank you.

[2019-02-24 23:28] TG-Techie commented on #1598
how do you add labels? or is it a permissions thing?

[2019-02-25 00:46] kevinjwalters commented on #1597
Will try it with 3.1.2 in a day or two.

[2019-02-25 01:02] TG-Techie commented on #1577
up just hard crashed!
but i forgot to put a boot.py back in when i stated this new version.

[2019-02-25 01:40] dhalbert commented on #1597
OK, never mind about 3.1.2 - the code is the same. Looking at this.

[2019-02-25 01:46] dhalbert commented on #1597
In your tests in the most recent comments, are you still using up a couple of other PWM's? Could you post the setup code for the tests? `PWMOut` may use a TC or a TCC timer, depending on what's available, and they are used differently.

One thing I will try is to try read the duty cycle a second time.

[2019-02-25 12:59] kevinjwalters commented on #1597
This is the full code (from REPL):

[code]

And at the risk of losing a few I threw in an if to look for differences. It looks likely it's always the prior value. Three reads all show same value. I'm fairly certain the actual pwm wave doesn't change as that's how it was first apparent to me.

[code]

Semi-related, if you have any magic for getting one more PWM output in CircuitPython, please share

[2019-02-25 16:36] dhalbert opened #1599 "displayio documentation typos"
1. https://github.com/adafruit/circuitpython/blob/master/shared-bindings/displayio/ParallelBus.c#L42 says
[code]
That's kind of the same text in `FourWire.c`, but is that a copy/paste typo?

2. https://github.com/adafruit/circuitpython/blob/master/shared-bindings/displayio/__init__.c#L74 says:
[code]
It's cut off, should be `deinited.`, and maybe more?

[2019-02-25 16:57] dhalbert commented on #1599
3. `FourWire` should note that the `reset` pin arg is defaulted to `None`:
[code]
The text below the defn could also note that.

[2019-02-27 22:29] makermelissa opened #1602 "Latest master does not compile for mini_sam_m4 board"
The error I get is:
[code]

[2019-02-27 22:32] dhalbert commented on #1602
Did you `git submodule update --init --recursive` ? That code is in a submodule that was recently updated.

[2019-02-27 22:32] makermelissa commented on #1602
Nope, I didn't know about that. I'll do that and try again.

[2019-02-27 22:35] makermelissa commented on #1602
Ok, that worked. I guess it was user error.

[2019-02-27 22:35] #1602 closed

[2019-02-28 05:55] makermelissa opened #1603 "Initializing with board.I2C() multiple times causing crash into safe mode"
I was experimenting with changing from busio.I2C over to board.I2C() for another issue due to conflicts. It worked great in CP 3.1.2, but in both CP4 Beta 2 and the latest build off master, it causes the board to go into safe mode.

[2019-02-28 05:57] makermelissa commented on #1603
I forgot to add that this was on a Feather M4 Express.

[2019-02-28 06:04] makermelissa commented on #1603
The setup I had for reproduction purposes is I was using the test code Jerry had at:
https://github.com/adafruit/Adafruit_CircuitPython_FeatherWing/issues/35 as code.py, the latest master branch at: https://github.com/makermelissa/Adafruit_CircuitPython_FeatherWing, and the latest uncompressed versions of the minimal supporting libraries.

I was just doing a quick test in CP4 before merging when I

[2019-02-28 12:48] jerryneedell commented on #1603
when I try that test code with your feathewrwing library on a particle argon, I get
[code]
It works if I use my version of the alphanunum_featherewing.py
[code]

[2019-02-28 12:56] jerryneedell commented on #1603
updated to current master CP -- same result
[code]

still works with my version

[2019-02-28 12:56] dhalbert commented on #1603
Is someone calling `board.I2C` instead of `board.I2C()` ?

[2019-02-28 12:58] jerryneedell commented on #1603
yup!  @makermelissa has
[code]

[2019-02-28 13:05] jerryneedell commented on #1603
and the failure is on the sht31d device, not on the featherwing

[2019-02-28 13:11] jerryneedell commented on #1603
if I change the test code to this -- it works with
[code]

[2019-02-28 13:15] jerryneedell commented on #1603
Ran both version on a feather_m4_ express -- the original version reproduces the safe mode crash
the modified version above work normally.

[2019-02-28 13:24] jerryneedell commented on #1603
FYI -- the safe mode crash on the SAMD51 is
[code]

[2019-02-28 15:20] dhalbert commented on #1603
No, it shouldn't crash.

[2019-02-28 16:55] dhalbert commented on #1603
I'm trying to reproduce this in the simplest way possible, and not succeeding. Are you saying that your `shared.py` has:
[code]
And then you get a crash when referencing `board.I2C()` in other code?
The simple REPL version of this on a board with `board.I2C()`  (I'm testing on a Metro M4) is
[code]
which is what I'd expect. And if I try this, I get an expected error:
[code]

[2019-02-28 16:58] makermelissa commented on #1603
I couldn't get it to happen in the REPL either and I wondered if it might have something to do with calling it in different files or through an import or something. Also, the entire contents of shared.py is basically what @jerryneedell posted above.

[2019-02-28 17:02] makermelissa commented on #1603
I also tried commenting out everything except this in shared and it still crashed.
[code]

[2019-02-28 17:07] dhalbert commented on #1603
This might have to do with class and global dictionaries or something like that. I'm not sure it's related to I2C at all, really. If you can give me the simplest test case you can muster that would be really helpful. Thanks.

[2019-02-28 17:10] makermelissa commented on #1603
Ok, I'll keep playing with it and see what I can come up with.

[2019-02-28 20:32] dhalbert commented on #1597
I have reproduced this on a Metro M0 with this test program:
[code]
It only prints anomalies. Reducing the frequency reduces the errors greatly. The pin is using a TCC. Will now try to debug.

[2019-03-01 00:47] dhalbert commented on #1597
@kevinjwalters Could you please test this uf2? It seems to fix the above problem. But I have not actually looked at the output waveforms, and you're in a better position to do that. I tested on a Metro M0, but I believe I replicated the test conditions you set up (I used the same physical chip pin, etc.). Thanks.

[cpx-fix-pwmout-tcc-2019-02-28.uf2.zip](https://github.com/adafruit/circuitpython/fi

[2019-03-01 07:38] kevinjwalters commented on #1597
Sure, I can give it a test today or tomorrow on my CPX. The explanation in #1605 fits the type of bug I was expecting particularly wrt sporadic occurrence.

Does that uf2 need to re rebuillt due to the absent bit that @sommersoft noted in #1605?

[2019-03-01 07:52] makermelissa commented on #1603
I kept trying to boil this down and even just removing a little of the SHT31D module made it behave as expected. It seems to be some kind of bad combination of things. I can go ahead and close this is you want or leave it open for later.

[2019-03-01 07:57] makermelissa commented on #1603
Nevermind, I got it to crash again, so I'll keep working on it.

[2019-03-01 13:53] dhalbert commented on #1597
No, that just broke the M4 builds (syntax error). The CPX build I gave you above is fine.

[2019-03-01 13:55] dhalbert commented on #1603
No, please leave it open. A crash is a crash, and needs to be fixed.

[2019-03-01 14:58] kevinjwalters commented on #1597
Ran my previous test, then ran it again with upping the iterations from 9 to 99 - all tiptop - fix looks good on my CPX, ta.

[2019-03-01 14:59] dhalbert commented on #1597
Great, are you getting the waveforms out that you want?

[2019-03-01 16:14] makermelissa commented on #1603
Ok, thanks Danh. I'll leave it be.

[2019-03-01 17:14] dhalbert commented on #1597
Fixed by #1605

[2019-03-01 17:14] #1597 closed

[2019-03-01 20:26] deshipu opened #1609 "USB disconnect or reset mutes sound on the computer"
For some reason with the 4.0 code, even with ``CIRCUITPYTHON_USB_HID=0`` and ``CIRCUITPYTHON_USB_MIDI=0``, disconnecting or hard-resetting the board results in my sound getting muted. I tested that initially with PewPew (which is pretty much a Trinket M0), but confirmed it now with a Hallowing M0 Express.

Interestingly enough, nothing is appearing in ``xev`` when that happens.

[2019-03-01 20:26] dhalbert commented on #1609
This is on Ubuntu, right? We should test on other OS's.

[2019-03-01 20:30] siddacious commented on #1609
I've been plugging/unplugging, resetting etc. ad nauseam the last few days with master+ and haven't noticed anything getting muted on my Mac (Mojave)

[2019-03-01 20:32] deshipu commented on #1609
Yes, more precisely Linux Mint with XFCE4. It doesn't happen on Fedora 28, also with XFCE4.

[2019-03-01 20:46] deshipu commented on #1609
I think that it is not keyboard — I disabled keyboard shortcuts for volume control, and it still happens.

[2019-03-01 20:47] dhalbert commented on #1609
are they regular keyboard shortcuts or Consumer Control shortcuts?

[2019-03-01 20:52] deshipu commented on #1609
How do I tell?

I just checked that it doesn't happen with 4.0.0-alpha.5

[2019-03-01 21:16] deshipu commented on #1609
Looks like commit b5e40f52c2b1c2890c866d7305e0e99b4811b7f5 is the problem.

[2019-03-01 21:19] dhalbert commented on #1609
Thanks for the bisect or equivalent. That's a big commit: USB MIDI and a lot of tinyusb changes. I'll put a sniffer on the USB traffic and see what's up.

[2019-03-01 21:22] deshipu commented on #1609
Another thing that may be relevant: the board shows up in alsamixer in the list of sound cards. My current working theory is that Ubuntu does something weird when a sound card is disconnected — perhaps the same mechanism that switches volume when headphones are connected/disconnected.

[2019-03-01 21:24] deshipu commented on #1609
I wonder how hard it would be for the board not to appear as a MIDI device when ``CIRCUITPYTHON_USB_MIDI`` is disabled, and also not appear as a keyboard when ``CIRCUITPYTHON_USB_HID`` is disabled.

[2019-03-01 21:27] dhalbert commented on #1609
Then it's the MIDI. USB MIDI is a subclass of audio device (from https://github.com/adafruit/circuitpython/blob/master/tools/gen_usb_descriptor.py)
[code]

We have an open issue (#1015) for dynamic USB descriptors. We could possibly conditionalize the static descriptor in the file above for now.

[2019-03-01 21:43] kevinjwalters commented on #1609
I found the CPX didn't work as a keyboard when I plugged it into a school's computer. It made me wonder if there was something about the other usb devices that it was showing up as which made it block the port. It's alluded to in https://forums.adafruit.com/viewtopic.php?f=48&t=146648#p725650

I'd tweaked the CPX dice project (https://github.com/kevinjwalters/circuitpython-examples/blob/master/cpx

[2019-03-01 22:15] siddacious commented on #703
Just chiming in to voice my support for this. I'd be happy to test once the feathers are back in stock.

[2019-03-02 00:25] kevinjwalters commented on #1597
Waveforms are good, just been playing with those.

[2019-03-02 09:53] nickzoic commented on #1042
OK I completely forgot about this but I think it is okay ... now i've just got to rebase it!

[2019-03-02 20:16] jerryneedell opened #1612 "displayio and SPI conflict"
There appears to be some conflict with displayio and SPI.
I have a TFT featherewing on a Feather_m4_express ( same issue on a particle xenon)
and if I run the stmpe610_simpletest which reads the TFT touch screen it works normally as long as I have not configured displayio first. If set up diaplayio -- so the REPL is being echoed to the screen, and then try the stmpe610_simpletest, it crashes.

PR

[2019-03-02 21:23] pmcanseco commented on #574
Hey there, the learn.adafruit.com link is broken, but the blog post is still up. What's the corrent learn.adafruit.com link?

[2019-03-02 21:34] siddacious commented on #574
@pmcanseco both of the links above work for me as does the one in this blog post:
https://blog.adafruit.com/2018/02/02/guide-update-get-connected-to-the-repl-using-pycharm/

Are you talking about a different link? If so please paste it here.

[2019-03-02 21:54] ladyada commented on #574
@kattni made it private because it stopped working (i think?)

[2019-03-02 22:03] kattni commented on #574
I removed the page because it never really worked properly. It was inconsistent and for me, at least, required deleting all of my settings to get it to work each time. It was never designed to work with CircuitPython, it was designed to work with MicroPython, so it provides a lot of features that are irrelevant to CP such as flashing the board.

If you wish to access the REPL from PyCharm, conside

[2019-03-02 22:51] ladyada opened #1613 "TileGrid position has some unknown transformation (and also we can't move)"
this could be me not understanding tilegrid but when i subclass it to create shapes with outlines, it displays in the right spot, but the position is weirdly transformed?

download this:
https://github.com/ladyada/Adafruit_CircuitPython_Display_Shapes/blob/master/adafruit_display_shapes/rect.py
then run:

[code]

red rect with blue outline appears, but position prints out as `(13504, 8192)` not `(

[2019-03-03 01:50] jerryneedell commented on #1612
a followup - the issue does not occur if I execute
```displayio.release_displays()```
then run the stmpe610_simpletest

[2019-03-03 03:12] dhalbert commented on #1612
I believe tjhe displayio object (and its SPI object) and the pin assignments live past a soft reload, so that the screen can show the text of the reload. I'm not sure if your issue is associated with this, but it's something to keep in mind.

[2019-03-03 13:17] jerryneedell opened #1615 "particle xenon safe mode with tft featherwing"
I have been trying to use a particle xenon with a tft featherwing to test displayio.
In general, it works fine except that very often on power up, the system goes into SAFE mode due to a low power condition.  I have not seen this with the feather  nrf52840 or feather_m4_express.

It usually recovers and boots   normally if I just press RESET so it appears to be related to the power up.

Since the

[2019-03-03 16:10] dhalbert commented on #1615
It might be that the power supply design is such that there's more of delay than on the feather before the the voltage gets above 2.7V, which is the brownout threshold. We could wait some number of milliseconds before enabling the brownout detection. This is in `port_init() in `ports/nrf/supervisor/port.c`.

[2019-03-03 17:03] jerryneedell commented on #1615
Thanks! I will experiment with it.

[2019-03-03 22:25] jerryneedell commented on #1615
hmm -- I tried adding delays from 2 to 10 ms and it made no difference but I found something else of interest.  Grounding the EN pin on the particle_xenon only drops the 3.3V signal to 1V ?? It goes to 0V on a Feather_m4 (and I assume on all feathers)  Both rise to 3.3 V in a few hundred microseconds but does the threshold test possibly get confused because the xenon is starting at 1V?  In any cas

[2019-03-04 01:37] silentShadow opened #1616 "main.py CircuitPython 3.1.2 on 2019-01-07 runs out of memory"
Opened up new M0 express and updated to CircuitPython 3.1.2 from the latest Repo and get the following:

Traceback (most recent call last):
  File "main.py", line 14, in <module>
  File "adafruit_hid/keyboard.py", line 35, in <module>
  File "adafruit_hid/keycode.py", line 31, in <module>
  File "adafruit_hid/keycode.py", line 195, in Keycode
MemoryError: memory allocation failed, allocating 776 b

[2019-03-04 03:29] dhalbert commented on #1616
Which version of the `adafruit_hid` library did you load? You need to use the compiled `.mpy` 3.x version from here: https://github.com/adafruit/Adafruit_CircuitPython_HID/releases/latest. Otherwise you'll run out of memory when importing. And if you have both the .py and .mpy versions, the .py will take precedence.

[2019-03-04 13:01] jerryneedell commented on #1615
a few more observations:
I checked a particle argon and also found that the 3.3V only goes to 1V when EN is grounded.
Interestingly, when I did that, the argon rebooted to Safe Mode!

The Safe mode boot only appears to occur if the EN pin is used to power cycle the xenon board on the TFT featherwing. It boots reliably if I just apply power via the USB port.

I will post a question to the Particle.

[2019-03-04 18:22] Vjmorrison opened #1617 "Trellis M4 Does not appear at tty device on chromebook"
after flashing the latest (4.0.0 beta 2) firmware and loading 4.x libraries, I can see the trellis m4 as a storage device and can load/execute code on it, however I cannot see the device as a tty serial connection:

vjmorrison@penguin:~$ ls /dev/tty*
/dev/tty

vjmorrison@penguin:~$ python3 -m serial.tools.list_ports
no ports found

vjmorrison@penguin:~$ ls /dev
console  fd    initctl  lxd     net

[2019-03-04 23:36] silentShadow commented on #1616
I'm honestly not sure, it's just what exists in the main.py file on my device.  I didn't modify it.  I did a flash erase and removed the main.py file for now.  I'll grab the version you linked and see what happens.

[2019-03-05 04:54] dhalbert commented on #1617
I tried on an older Samsung Chromebook, updated to the latest OS. It looks like you're running in developer mode or something like that. Could you confirm and describe what you're doing?

If `dmesg` is available, could you paste what's in the system log when you plug in the board? That will give us some clues about what the USB issues are. Thanks.

I do see /dev/ttyACM0 with a Trinket M0 on my Chr

[2019-03-05 13:46] dhalbert commented on #1617
I was able to see the system logs via `file:///var/log/messages`. I don't see any errors, and `ttyACM0` is mentioned in the logs when I plug it in, but it's not visible to BeagleTerm. I don't want to wipe this chromebook to enable developer mode, so I may try some other way (like putting CloudReady on a laptop).

I also tried the latest build of CircuitPython and it's still not working. It's not s

[2019-03-05 19:31] dhalbert commented on #1617
I installed the latest version of [CloudReady](https://www.neverware.com/freedownload), which is Chromium OS, on an old netbook and did not have this issue, so I'm not sure what's going on. Tagging @hathach for reference, but this is going to be trickier to debug than I thought. I'll get some USB traces from my other Chromebook at some point.

[2019-03-05 19:46] dhalbert commented on #1612
The TFT FeatherWing uses the regular SPI pins to talk to the display. `"stmpe610_simpletest.py` does:
[code]
So since those pins are already in use by `displayio`, you'll get an error.

[2019-03-05 19:49] jerryneedell commented on #1612
I changed it to use board.SPI()  so I don't get the "pin in use" error.

[2019-03-05 22:38] dhalbert commented on #1612
`st.read_data()` eventually uses BusDevice, which should wait for and then grab the lock for the SPI bus, locking out displayio while reading. Somehow someone is violating the lock protocol. We'll have to read the displayio code to look at this.

[2019-03-05 23:55] dhalbert opened #1619 "displayio `common_hal_xxx_begin_transaction()` routines not used or implemented safely"
The common_hal routines `common_hal_displayio_fourwire_begin_transaction()` and `common_hal_displayio_parallelbus_begin_transaction()` return `true` or `false` depending on whether they've successfully started a display transaction. However, their return value is never checked: the callers assume that once called, the transaction has begun, even though the start-transaction has failed.

For `Paral

[2019-03-05 23:55] dhalbert commented on #1612
OK, I believe this problem is due to #1619.

[2019-03-06 11:23] jerryneedell commented on #1615
AS noted by @sommersoft it looks like the power regulator on the Xenon is working as desighend
According to the datasheet the output voltage only goes to ~.8 V when the CE (EN pin)  is Low.

![image](https://user-images.githubusercontent.com/15856834/53877593-97465c00-3fd7-11e9-9f72-ad776b15a638.png)

So, the question remains, why does CP go to Safe Mode when the EN Pin is brought back to High? Is

[2019-03-06 16:58] jerryneedell commented on #1612
some progress with current master build and SPI
current master build allow me to mount/access the SD CArd with displayio active
[code]
import adafruit_sdcard
import busio
import digitalio
import board
import storage
import sys
# Connect to the card and mount the filesystem.
cs = digitalio.DigitalInOut(board.D5)
sdcard = adafruit_sdcard.SDCard(board.SPI(), cs)
vfs = storage.VfsFat(sdcard)
storage.m

[2019-03-06 23:53] Vjmorrison commented on #1617
So to answer your questions from before:

1. The only developer mode I thought I enabled was to turn on the linux BETA for chromebooks https://support.google.com/chromebook/answer/9145439?hl=en  Other than that I don't remember ever turning on developer mode.
2. Looking at dmesg I dont see anything new added after plugging in and out.  Link to before and after messages here: https://drive.google.c

[2019-03-07 05:37] cpforbes commented on #1617
I replicated the problem with a Trinket M0 and a circuit playground express.
The serial device and the CIRCUITPY drive never appeared. TRINKETBOOT did appear when I reset to the firmware upload mode.

The kernel logged errors after starting to enumerate the HID devices then disconnected the USB device. Which was then detected and the process started over.

I recompiled the same CP version with `CI

[2019-03-07 09:13] hathach commented on #1617
It is definitely USB HID issue, I remembered that CPY doesn't support boot protocol for keyboard. Maybe chromeOS trying to switch protocol to boot mode, and doesn't receive correct response from CPY. Hard to tell for sure, but it is a possible cause. I haven't used chromebooks before, could It be run with virtual box to troubleshoot the issue, if yes, please tell me which version chromeOS I should

[2019-03-07 15:19] #1612 closed

[2019-03-07 16:39] dhalbert commented on #1619
Fixed by #1620

[2019-03-07 16:39] #1619 closed

[2019-03-07 16:41] dhalbert commented on #1588
Fixed by #1601.

[2019-03-07 16:41] #1588 closed

[2019-03-07 17:17] ladyada commented on #1234
@kattni taggin' ya!

[2019-03-07 17:19] ladyada opened #1621 "Driver for TPA2016"
https://github.com/adafruit/Adafruit-TPA2016-Library/issues/4

we forgot to do this one :) @kattni i will tag you for this one, its a nice easy library

[2019-03-07 17:44] kattni commented on #1234
nRF24L01 library has been discussed here: https://github.com/adafruit/Adafruit_Blinka/pull/85

@rhthomas Let's continue any GitHub discussion here. You're still welcome to ping me on Discord as well with any questions.

[2019-03-07 17:53] kevinjwalters commented on #1090
What's the summary of the behaviour now for M0 and M4 boards?

If I do

and they both start/end with 32768 will it play them back to back without any additional delays? If sample 1 ends at 0 and sample 2 starts at 65535 how long will it take to ramp from one to the other and is this controllable from CircuitPython program?

For this scenario,

is there a way to control the bahaviour for **stop()**

[2019-03-07 20:38] Vjmorrison commented on #1617
As a fun thing, It does work 100% correctly with the same cable and device on my Windows 10 machine.  Do you think If I removed the HID library from the device it would work on my chromebook?

[2019-03-07 21:22] dhalbert commented on #1617
It's not the HID library - the device shows up whether the library is there or not. I'm going to get some USB traces with a USB hardware logging device and see if something looks strange. It's also odd that it works OK with CloudReady - this is mysterious.

[2019-03-08 01:24] tannewt commented on #1599
Please also add a milestone. I may miss it if it doesn't have one even if it is assigned to me.

[2019-03-08 01:38] tannewt commented on #1090
The slew rate is not controllable from Python. It is [50 us per 49 DAC value](https://github.com/adafruit/circuitpython/pull/1280/files#diff-13dec12304b3d13dd106bfcf6c78160eR60).

I recommend samples start and end with 32768 for best results. The ramp will be zero length in that case assuming 32768 is also the quiescent value.

There isn't a way to stop after the end of the sample. That would be a

[2019-03-08 01:50] tannewt commented on #1598
We should add a function to Group that returns the child with the opaque pixel from a given coordinate.

[2019-03-08 02:24] TG-Techie commented on #1598
Agreed, "fetch", "pull", "of"?

[2019-03-08 02:36] dhalbert commented on #1598
`child_at` ?

[2019-03-08 02:37] TG-Techie commented on #1598
When you say child do you mean a pixel color or an object?

[2019-03-08 04:20] cpforbes commented on #1617
I have more data but no solution.

I tested on a CentOS 7 system with a Redhat patched 3.10.0 kernel.
kernel version 3.10.0-229 (the 229 is Redhat's patch number) did not work.
kernel version 3.10.0-327 did work.
Redhat backports fixed from later kernels into the RHEL/CentOS kernel. I'm guessing something is tickling a bug in the kernel.

Red Hat's changelog can be found here:
https://git.centos.o

[2019-03-08 11:39] kevinjwalters commented on #1090
For future reference, the related forum discussion: https://forums.adafruit.com/viewtopic.php?f=60&t=148191

[2019-03-08 11:58] kevinjwalters opened #1623 "Allow looping audio samples to be stopped after a complete sample"
It would be useful to allow audio samples that are playing with the looping feature to be _optionally_ terminated after a complete sample, e.g. to an integer number of samples will be repeated. I've not considered the case for non-looping but perhaps that would also be a desirable optional feature for some use cases.

A carefully constructed looping sample this would start at "0" (midpoint would b

[2019-03-08 19:40] sommersoft commented on #923
Forgot to close this. Fixed by #1614.

[2019-03-08 19:40] #923 closed

[2019-03-08 23:21] kenidowa commented on #268
Will this ever happen?

[2019-03-09 00:39] ladyada commented on #268
@kenidowa wanna help? how are you at reverse engineering ARM assembly :)

[2019-03-09 00:46] siddacious commented on #268
I've been seriously considering giving this a try. I have no idea how successful I'll be but I may or may not have watched your qtouch videos more than a few times and sought out an alternative to IDA.

Good money says I'll fail miserably but maybe I'd at least be able to tell someone more  what _not_ to try  :)

[2019-03-09 01:12] ladyada commented on #268
lol could look at the new free ghidra?

[2019-03-09 14:59] jpecor opened #1625 "Add support for splitting screen with displayio"
It would be nice to allow partitioning/splitting of the display with displayio such that you could use each partition as an independent display.  For example, drawing graphics - buttons, shapes, etc. - on the top half while preserving the REPL output on the bottom of a single display.

I'm admittedly fuzzy on how the layering works with displayio Groups right now, so maybe we're not far from this

[2019-03-09 15:28] kevinjwalters opened #1626 "pulseio.PWMOut() instantiation fails sometimes with constant same frequencies on CPX"
I'm seeing some rather non-deterministic behavior with creation of `pulseio.PWMOut()`. I've been discussing how to get the most PWM outputs on a Circuit Playground Express: https://forums.adafruit.com/viewtopic.php?f=60&t=148017. I can sometimes get four by using the same frequency and `variable_frequency=False` but not always! Example below is a variant of 4.0.0 beta 2 with no `code.py`/`main.py`

[2019-03-09 18:40] ladyada commented on #1625
yeah this could def be handy - probably easiest to do by being able to define the size/location of the splash

[2019-03-09 19:16] tannewt commented on #1625
I'm thinking it'll be more like a second terminal output that you can connect to the "stdout" of CircuitPython. I want to make the input and output streams more generic in the future. (For example, keyboard support is the reverse of this.)

[2019-03-09 19:33] siddacious commented on #1625
@tannewt  I like that idea

[2019-03-09 22:32] uhrheber opened #1627 "[nrf52840] Filesystem errors when virtual drive fills up"
Tested boards: pca10056, pca10059
Steps to reproduce the errors:
- take a blank board, connect it to a computers USB, put a simple main.py on it (LED blink, or such) and run it
- create a subdirectory on the virtual drive (e.g. /lib)
- copy some CircuitPython libs into the subdir (a few 10kB of files are usually enough, but sometimes more is needed)

The following errors occur, sometimes immediate

[2019-03-10 05:22] rdagger opened #1628 "[nrf52840] Crash or hang during NUS and SPI use"
I'm using a Feather nRF52840 Express.  I have used it extensively for 2 weeks.  I coded a small game and everything was working great.  I upgraded to beta 4.3 and now the board is consistently crashing without giving any kind of debugging messages in the serial console.  This never happened prior to 4.3.  The crashing started instantly after the upgrade without any mods to my previously working co

[2019-03-10 07:36] jreese commented on #553
Is there any way to work around this, short of modifying that function and building my own custom firmware to use?

[2019-03-10 13:08] dhalbert commented on #1628
If you were running 4.0.0-beta.2 before you upgraded to beta.3, then reinstalling beta.2 would revert things to as they were: there's nothing "hidden" going on. It's possible a new bug was introduced in beta.3, or perhaps something about your operating conditions have changed. Please give us more information:

1. Source code of your program (attach as .zip or .txt)
2. More complete description of

[2019-03-10 16:54] water5 opened #1629 "Add ESP32 support"

[2019-03-10 16:57] barbudor opened #1630 "NAK CDC USB packets when the CDC buffer is full"
Hi

I have recently upgraded my CPX to 4.0.0beta3.
I am working on a project where I need to log data to files on the file system (requires storage to be mounted as writable from boot.py).
In order to optimize the debugging I am using uPyCraft which is an IDE which allows to upload files to the file system through the REPL.
The code send by uPyCraft to the REPL is:
`myfile=open(filename,'w')`
`myf

[2019-03-10 16:57] dhalbert commented on #1629
There is no native build for ESP32. However, we have a good library that supports using the ESP32 as a co-processor: https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI. This library is used for the PyPortal.

Using the ESP32 as a co-processor is advantageous in several ways: we don't need to port CircuitPython itself to the ESP32, which is a major task; we can substitute another Wifi-capa

[2019-03-10 18:40] rdagger commented on #1628
It turns out I did not revert far enough.  I loaded Adafruit CircuitPython 0dc2600 on 2019-02-20 and everything is now working!  Unfortunately, Adafruit CircuitPython f3e50b9 on 2019-02-21 does NOT work.
1.  Attached is the source code and a schematic.
[Mario Working 2.zip](https://github.com/adafruit/circuitpython/files/2949871/Mario.Working.2.zip)
2.  By “lock up”, I mean the program halts, the

[2019-03-10 21:59] kenidowa commented on #268
So, I asked about Touchio because I found it really usefully for standalone application of a TrinketMO but when I tried using it on ItsyBitsyMO on larger applications I ran into code space issues.  So, moved to ItsyBitsyM4 but then found it doesn't have Touchio.  So, after watching 2yr. old video of yours on it.  Is it that the SAMD51 touch is so different from SAMD21 or is it the amount of code s

[2019-03-10 21:59] ladyada commented on #268
yep, its completely different

[2019-03-11 05:49] tannewt commented on #553
@jreese Modifying is easiest. What are you trying to do?

[2019-03-11 06:02] tannewt commented on #1630
One helpful piece of information would be how big the file you are sending is. My guess is that the IDE is overflowing the CDC incoming buffer. I don't think we correctly tell USB to slow down.

[2019-03-11 18:57] barbudor commented on #1630
Hi tannewt,
It does not depends on the file size. Even a small file such as boot.py failed.
When I look at the uPyCraft code (https://github.com/DFRobot/uPyCraft_src/blob/master/ctrl.py line 1044), I understand that:
- File to write is cut in chunks of 128 bytes
- Each chunk is written with a `myfile.write(...data..)` REPL command
- After each write, they wait for REPL response. (They do not expli

[2019-03-11 19:02] ladyada commented on #1328
hiya i tested the latest S3 build with the latest UF2 bootloader updated and it kicked directly from circuitpython to the bootloader within Arduino 1.8.5 on win 7 so i think this is fixed!

[2019-03-11 19:03] ladyada commented on #1328
@ghhann please let us know if this comes up still with the latest version of CircuitPython!

[2019-03-11 19:03] #1328 closed

[2019-03-11 19:11] deshipu opened #1633 "Enable the SWD/SWC debugging pins to be used as normal pins when not debugging"
We could use the PA30 and PA31 pins as normal GPIO pins (and also SPI and I2C and so on) in CP3, however in CP4 they are always busy when we try to use them. It would be great if we could use them, even if that was optional only for some boards and disabled debugging entirely.

[2019-03-11 19:18] ladyada commented on #703
@nickzoic hihi do you have any idea about this or reproduce it?

[2019-03-11 19:40] caternuson opened #1634 "Add board.SPEAKER alias for PyPortal"
This is simply to make things a little easier by being more consistent. Similar to naming the [battery voltage sense pin](https://github.com/adafruit/circuitpython/issues/1149). On the PyPortal, the two pins associated with the speaker are currently named:

- `board.SPEAKER_ENABLE`
- `board.AUDIO_OUT`

On the CPX and the Hallowing, the second one is called `board.SPEAKER`. So suggest either renami

[2019-03-11 19:50] sommersoft commented on #1633
Just linking an approach I mentioned in the previous "force board into safe mode" issue. Will gather/expand thoughts regarding this later.

https://github.com/adafruit/circuitpython/issues/990#issuecomment-403130037

[2019-03-11 19:53] ladyada commented on #1634
aliasing board.SPEAKER sounds good - wanna try the PR? :)

[2019-03-11 19:55] rdagger commented on #1628
I did further testing and I think the crash occurs on the first _spi.write()_ call.  This is line number 895 in method _write_cmd_cpy()_ of my file ssd1351.py.  Here's the line:
`self.spi.write(bytearray([command]))`

[2019-03-11 20:03] dhalbert commented on #1628
Thanks - I am seeing the same place. Am debugging with gdb via J-Link.

[2019-03-11 22:10] brentru commented on #703
I'm encountering a similar issue to the behavior @genevanmeter and @turbinenreiter noticed, on 4.0.0b3. Except, I'm not able to get it to connect.

Running the script in `Code.py` seems to lock up the device (can't view contents in Finder) and the REPL. I had to downgrade to 3.0 to remove the code.py (since it lacks 'wiznet'), then bump back to 4.0 to get the board connecting again.

Calling `.con

[2019-03-11 22:16] caternuson commented on #1634
Sure #1635

[2019-03-11 22:52] deshipu opened #1636 "Idea: hide "private" names from tab completion"
This is just an idea for discussion: what if we filtered the names considered by auto-completion to filter out all names that start with the underscore, *unless* the user has already typed an underscore? The rationale behind this is that those usually are implementation details of the module/class in question, and the chance the users actually want to call them from outside are small.

[2019-03-12 00:54] kevinjwalters commented on #1626
For what it's worth I tried it on `4.0.0-beta.3` and same fault occurs there.

I've written some python code that now tries to initialise them with retries and then reverses order. My current implementation doesn't seem to be that useful as a workaround. Control-C/Control-D for a soft reset will eventually work but it often takes ten attempts :(

[2019-03-12 01:17] dhalbert commented on #1628
@rdagger could you test the attached .uf2? It works for me with your program (your program is very cute!). Thanks.

Problem was that nRF52840 SPIM3 peripheral got re-enabled in beta.3, but it has a hw bug, there's a workaround in the nrfx library, but the workaround breaks BLE. So disabled SPIM3. There was also another problem involving include files, but fixing that didn't fix the underlying SPIM

[2019-03-12 01:50] dhalbert commented on #1626
Try this uf2. I made one minor change to wait for a reset of a TCC before proceeding. But I don't see anything else wrong, like uninitialized variables.
[cpx-tcc-wait-2019-03-11.uf2.zip](https://github.com/adafruit/circuitpython/files/2954845/cpx-tcc-wait-2019-03-11.uf2.zip)

[2019-03-12 02:56] dhalbert commented on #1634
Fixed by #1635.

[2019-03-12 02:56] #1634 closed

[2019-03-12 02:57] dhalbert commented on #1626
Also, if that doesn't fix things, I'd be interested to know if you see any difference when using a lower frequency (like 2000 instead of 2000000)

[2019-03-12 05:02] rdagger commented on #1628
Thanks, great job!  The program works again using your .uf2.
Will your changes be incorporated into the next build?

[2019-03-12 12:40] dhalbert commented on #1628
Thanks for testing. Yes, this fixes a significant bug, and will go into the next beta (and will be available in intermediate builds [here](https://adafruit-circuit-python.s3.amazonaws.com/index.html?prefix=bin) after the PR is merged)

[2019-03-12 13:32] kevinjwalters commented on #1626
`4.0.0-beta.3-4-g186e31591-dirty` doesn't appear to make any difference, I still get initialisation errors. I'll have a play with frequency later. For lower frequency should l I use `4.0.0 beta 3` or `4.0.0-beta.3-4-g186e31591-dirty`?

[2019-03-12 13:35] dhalbert commented on #1626
The uf2 I gave you fixes something that's probably inconsequential, but I would keep that change anyway, so test against that.

Have you looked at the `pins.c` file for CPX to get the actual PA/PBxx pin numbers? Then you can look up which TC's or TCC's are available for each PAxx or PBxx.

[2019-03-12 13:58] kevinjwalters commented on #1626
From some brief testing, 2kHz seems like similar behaviour with many failures using `4.0.0-beta.3-4-g186e31591-dirty`.

I can't see a clear pattern yet, maybe a power off makes it more likely to initialise ok but it's not on the first execution of code.py as one might expect. The second attempt (i.e. power off/on, auto-execute code.py, soft reset post exception, second code.py execution) seems pre

[2019-03-12 15:24] kevinjwalters opened #1639 "Application exception output to serial (over USB) appears truncated due to buffering issue"
My near-perfect code has just spat an exception. I'm running `4.0.0-beta.3-4-g186e31591-dirty` which 4.0.0 beta 3 with a minor tweak. The exception has half-appeared on my console (PuTTY on Windows) from the CPX over USB:

[code]

There's a single space after `line ` - the absence of the rest of the text on the line makes it very apparent it's truncated. When I press the enter key and the rest app

[2019-03-12 17:15] zencuke commented on #1613
I don't know if this adds any information but as long as I did the test I thought I would add it here. I was looking at this code as a tilegrid example (I'm hoping to create similar app specific drawing primitives) and got curious. I added a bunch of debug print statements to rect.py:rect.__INIT__ to see where it happened. The position value was initially (0,0) and changed after the line

to the s

[2019-03-12 17:20] zencuke commented on #1613
The exact debug statement I added to the various places in rect.py was.

[2019-03-12 17:57] #1628 closed

[2019-03-12 18:06] tannewt commented on #1613
I'll be looking at this today because I'm going to switch position to separate x and y properties to make TileGrid consistent with Group.

[2019-03-12 18:28] tannewt commented on #1639
4.x uses a different USB stack than 3.x so it's likely a bug in TinyUSB. Maybe @hathach will take a look.

[2019-03-12 18:29] tannewt commented on #1636
Makes sense to me. I thought we tab completed with the entered prefix but I haven't looked into it.

[2019-03-12 18:34] deshipu commented on #1636
We do. This is only for the case when the prefix is empty (as right after a period, for example).

[2019-03-12 18:34] tannewt commented on #1630
The incoming buffer has changed with 4.0.0 because we moved from the Atmel USB stack to TinyUSB.

Looks like the incoming buffer is 128 bytes on the SAMD21: https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/Makefile#L91

One easy fix would be to increase that value and see if the problem goes away. It will reduce the available heap memory so it's a balancing act.

[2019-03-12 18:50] barbudor commented on #1630
Thanks tannewt
This clarify why "myfile( ...128 bytes...)" (obviously slightly larger than 128 bytes) fails.

In the meantime I found a menu in uPyCraft to force the board to be considered as a microbit which enforce a smaller transfer chunk (64 bit). Forcing this mode seems to make the file transfer reliable.
I was about to report this tonight.

May be we could add a short comment in https://circ

[2019-03-12 19:00] jreese commented on #553
Was attempting to use this to interface with a PC game over USB serial, where the game was designed for Arduinos and only expected LF, and would break on commands ending with CR/LF.  However, after discussing it with the developer, they have since updated the game to be compatible with CR/LF.

It did eat up many hours of debugging efforts before I discovered that CircuitPython was silently doing t

[2019-03-12 19:05] tannewt commented on #553
Ok, thanks for the background. I agree we should document this somewhere. Maybe if/when we rework the serial in and out to the supervisor.

[2019-03-12 19:23] dhalbert commented on #553
I thought this must have come up in MicroPython before, and sure enough, yes: https://github.com/micropython/micropython/issues/1260

A feature was implemented in MicroPython to do raw output, `sys.stdout.buffer.write()`, but it's not turned on right now in CircuitPython (nor for most board in MicroPython, it appears). I'm not sure whether just enabling this will work or whether we need to reimple

[2019-03-12 20:41] CedarGroveStudios commented on #1045
Is there a way to preset the rotary encoder count value after instantiation? Would greatly simplify tracking the encoder value when a single encoder was used to provide multiple selection parameters.

[2019-03-12 20:50] dhalbert commented on #1045
`.position` is not read-only: you can assign it a value.

[2019-03-12 20:59] CedarGroveStudios commented on #1045
Excellent! Thank you!

[2019-03-12 22:23] tannewt commented on #1567
I think this is due to the position setter not handling subclasses correctly. Fix incoming.

[2019-03-12 22:42] tannewt commented on #1625
FYI I came across this testing code of mine:

[code]

While it doesn't display CircuitPython's output, it would allow you to display your own text in a terminal. Is that enough for you @jpecor ?

[2019-03-12 23:49] jpecor commented on #1625
Thanks @tannewt!    A couple of questions:

I replaced "x=10, y=0" with "position=(10,0)".  I presume that was the intent of the original code?

Also, what is "g" supposed to be?  There's no original declaration/constructor for it, so I get an error.

[2019-03-12 23:54] tannewt commented on #1516
I tried set_rgb_status_brightness with latest master on Grand Central from code.py and it worked just fine.

[2019-03-12 23:59] tannewt commented on #1625
ah, ya. I have a PR out to change position to separate x and y. So position will work now and x and y in the future.

g is the group you want the terminal to be in. Terminal really just modifies the TileGrid for you.

This is my full file but it has extra stuff:

[code]

[2019-03-13 00:02] #1045 closed

[2019-03-13 00:20] jpecor commented on #1625
Ah!  I was missing this line:

`g = displayio.Group(max_size=10, scale=2)`

The position=(x,y) feels intuitive to me.

[2019-03-13 00:22] tannewt commented on #1603
What is the smallest repro case we have for this? I can take a look tomorrow.

[2019-03-13 00:25] tannewt commented on #1625
Ya, I was torn about it. It's slightly more efficient to use numbers instead of tuples so that's been my bias. I wonder if I'm compromising my intuitive over efficient goal though...

[2019-03-13 00:27] tannewt commented on #1270
@dhalbert and I chatted about this. We decided to punt it to 4.x or later when we can introduce a drive_strength property to DigitalInOut. Automatically deciding risks incorrect and confusing behavior.

[2019-03-13 00:27] ladyada commented on #1270
i'd <3 a drive_strength property :)

[2019-03-13 00:52] makermelissa commented on #1603
Other than the scenario I originally described, I haven't been able to get it to reproduce with anything smaller.

[2019-03-13 01:25] jpecor commented on #1625
If the x=, y= approach is more optimized, I'd favor that route, as well.  Less Pythonic, maybe, but for CircuitPython every bit saved will likely matter.     Also, I must have some other libs that are long in the tooth.  My version of Text doesn't have x, y in __init__.

Just checked GitHub, and TextArea is gone.  Replaced with Label?   Wow, things move fast!

[2019-03-13 01:32] dhalbert commented on #1626
OK, it was an arg processing bug. Even though you said `variable_frequency=False`, it was taking it as `True`, which made it use only TCC's. Try this:
[cpx-pwmout-arg-fix-2019-04-12.uf2.zip](https://github.com/adafruit/circuitpython/files/2959365/cpx-pwmout-arg-fix-2019-04-12.uf2.zip)

[2019-03-13 09:27] kevinjwalters commented on #1626
I've just tested that latest version, `4.0.0-beta.3-25-g2169a6240-dirty`, and it worked first time and has worked for nine soft reboot (Control-C / Control-D). Previous versions had roughly a 9/10 failure rate. Looks good.

[2019-03-13 14:41] tboie opened #1642 "Linux Ubuntu 18.04 USB Connection Error"
3.x - OK
4.x - Not working

UF2 Bootloader v2.0.0-adafruit.9 SFHWRO
Model: Feather M0 Express
Board-ID: SAMD21G18A-Feather-M0-Express-v0

User: root

Initial USB connection dmesg:
[  212.866387] usb 6-1: new full-speed USB device number 2 using ohci-platform
[  213.058283] usb 6-1: New USB device found, idVendor=239a, idProduct=8023
[  213.058317] usb 6-1: New USB device strings: Mfr=2, Product=3,

[2019-03-13 14:49] kevinjwalters commented on #1626
I just using `4.0.0-beta.3-25-g2169a6240-dirty` for a few minutes and then left it. When I came back and tried to connect to the serial (over USB) it didn't work. The drive (on Windows) was no longer showing up with the typical spaced used but just marked as `FAT` and opening it in explorer showed it as empty. It responded to reset button but that's left me with an `CIRCUITPY` drive that's _missin

[2019-03-13 15:03] cpforbes commented on #1642
This looks similar to #1617

[2019-03-13 15:26] kevinjwalters commented on #1626
It's getting weirder, the wavs have disappeared and a `.metadata_never_index` has appeared. Minor chance this is related to Patch Tuesday but that's even more frightening.

[2019-03-13 15:44] kevinjwalters commented on #1626
My boot_out currently have in it

[code]

[2019-03-13 16:01] kevinjwalters commented on #1626
I've decided to go back to 4.0.0 beta 3 to see if that's stable. I put that on and this popped out when I connected to serial console afterwards:

[code]

`boot_out` currently contains:

[code]

and has a date of 1-Jan-2000 which is a bit odd. I'm going to `storage.erase_filesystem()` to ensure I've got a clean slate.

[2019-03-13 18:12] tannewt commented on #1625
Yup! We're moving fast to get things as we want for 4.0.0 stable. Thanks for joining us on the ride!

[2019-03-13 18:14] #1626 closed

[2019-03-13 19:53] dglaude commented on #1315
Apparently 3.1.2 has it:

_Added runtime.serial_bytes_available. Returns True if any bytes are available to read on the USB serial input. Allows for polling to see whether to call the built-in input() or wait. (read-only). Thanks to @ATMakersBill._

https://blog.adafruit.com/2019/01/06/circuitpython-3-1-2-released-adafruit-circuitpython/

PS: Any sample code using this is welcome... I feel I need

[2019-03-13 20:13] kevinjwalters opened #1643 "File system problems and soft reboot hanging"
I was using a variant of CircuitPython 4.0.0 beta 3 (`4.0.0-beta.3-25-g2169a6240-dirty`) which initially looked good and then started seriously misbehaving with a lot of things disappearing from the file system and it failing to soft reboot, i.e. control-D from the REPL over serial over USB.

The first thing I noticed from a Win8.1 host was that the application on the Circuit Playground Express bo

[2019-03-13 20:39] tannewt commented on #1630
We should be able to change the USB stack so that host-side software doesn't need to know the buffer size. I'm going to leave this open and edit the title. We need to NAK when the CDC buffer is full.

[2019-03-13 21:49] kevinjwalters opened #1644 "Varying duty_cycle on PWMOut very occasionally results in a high blip"
I've been using PWMOut for audio use and I heard a few anomalies on `4.0.0-beta.3`. I've looked into it briefly and it appears that very occasionally there's a high blip on my PWM. @deshipu asked if it's one cycle on Discord and I think it is although it's difficult to tell on my traditional (non storage) oscilloscope. It can be recreated with this code on a Circuit Playground Express (CPX):

[cod

[2019-03-13 21:56] kevinjwalters commented on #1644
I can connect up a logic analyser and try and capture it to check duration of the high if this is needed?

[2019-03-13 22:24] #1567 closed

[2019-03-13 22:24] #1599 closed

[2019-03-13 22:24] #1613 closed

[2019-03-13 22:32] kevinjwalters commented on #1644
From discord:

[2019-03-14 01:29] #1192 closed

[2019-03-14 03:02] jerryneedell opened #1646 "PyPortal lib broken for TileGrid"
I think the latest changes to displayio have broken the PyPortal lib call to TileGrid

I tried the PyPortal EventCountdown example with latest build and it fails
[code]

It works if I revert to a previous build
[code]

It looks like the "position" keyword argument was removed from Tilegrid so this line fails:
 https://github.com/adafruit/Adafruit_CircuitPython_PyPortal/blob/master/adafruit_pyporta

[2019-03-14 03:33] sommersoft commented on #1037
As I work through this, a couple things are becoming apparent that will need to be addressed with regards to SAMD vs nRF differences:

- nRF PDM, with its baked-in structure requires much less setup and thereby less user configuration than SAMD. So, should I approach `shared-bindings` with weak links & ignored args, or `#ifdef` accordingly. For example, SAMD takes both `bit_depth` and `oversample`

[2019-03-14 13:15] uhrheber commented on #1627
BTW: How circuitpython is flashed doesn't make a difference.
I flashed boards directly with J-Link (without a bootloader), with the Adafruit UF2 bootloader, and with the Nordic DFU bootloader.

[2019-03-14 13:16] uhrheber commented on #1643
This sounds familiar. may be linked to [#1627](https://github.com/adafruit/circuitpython/issues/1627).

[2019-03-14 16:35] kevinjwalters commented on #1643
Does sound similar but you mention "virtual drive fills up" in the ticket's title. I think people will read that as problems occur if the `CIRCUITPY` is filled up, is that what you mean?

In my case I don't believe disk fills were part of cause as I have a lot of spare space on CPX. I have been doing a certain amout of power off / power on and have not been diligent about unmounting the file syste

[2019-03-14 16:41] kevinjwalters commented on #111
Is there a bug/RFE ticket from Adafruit with Microsoft? Given this was noted in 2017 this should have been fixed by them by now?

[2019-03-14 16:45] dhalbert commented on #111
I tried very hard to get Microsoft's attention on this, including using Feedback Hub, and contacting several people who work there, asking them to pass it on. I didn't succeed, as far as I know. The behavior may have to do with not wanting to wear out floppy disks, or something like that.

[2019-03-14 16:49] kevinjwalters commented on #111
I'd say floppy disks were are even more risk because almost all drives had a physical eject albeit with the churning noise and LED to help users trained in the art of waiting. Only those fancy Apple users had their software controlled eject plus the hole for the paper clip for when it all went wrong!

[2019-03-14 16:58] tannewt commented on #1633
@sommersoft DBGPRES is perfect! Thanks!

[2019-03-14 16:59] sommersoft commented on #1633
👍
_I totally forgot to "gather/expand later"_ 😄

[2019-03-14 17:00] kevinjwalters commented on #1627
What o/s including version is running on the host computer? Why does title mention "drive fills up"?

[2019-03-14 18:44] tannewt commented on #1603
I've reproduced this on a Feather M4. Will now try on Metro M4 where I can run a debugger.

[2019-03-14 19:45] #1633 closed

[2019-03-14 19:47] tannewt commented on #1603
I've reproduced this on Metro M4 and confirmed it's long-lived related. (The bug disappears if I turn long-living off.) Still digging into why.

[2019-03-14 19:49] dhalbert commented on #1644
@kevinjwalters I'll check the TC code, but could you also check using pin `A1` and see if you also see a blip? I'm not sure the TC's have the same kind of double-buffering synchronization you need to avoid glitches like this.

[2019-03-14 20:41] dhalbert commented on #1616
@silentShadow Are you still having trouble?

[2019-03-14 21:20] zamfi commented on #519
I was able to get this running on my Metro M0 Express, but it looks like `time.monotonic_ns()` still only returns a value with a resolution of milliseconds.

Is there an equivalent to the `micros()` call available on the Arduino platform?

[2019-03-15 00:07] kevinjwalters commented on #1644
I've checked A1 and didn't noticed any problems over a 4 minute period.

[2019-03-15 03:52] jerryneedell commented on #1643
Some additional observations:
The symptom I am running into with the PyPortal FS is that I am running some tests of new code  (fixing TileGrid calls) and if the it often fails with at TypeError if I have not updated it yet. When I copy over the new code and do a control-D to reboot, - it display "soft reboot" then hangs. If it press the RESET button it comes up in Safe mode (HardFault) and the FS

[2019-03-15 03:54] dhalbert commented on #1643
I can confirm I saw something similar to what @jerryneedell saw. Not sure if it was on a CPX or a Metro M4 (I was using both today). I had just plugged it in.

[2019-03-15 05:37] siddacious commented on #1643
I also saw something similar; I believe it was on my feather m4. I'll do some more testing this weekend.

[2019-03-15 09:32] uhrheber commented on #1627
I tested several host computers, with Windows 10 and Linux Mint 18.3/19.1. Same results.

"Drive fills up" means, the fuller the virtual drive gets (regardless what data, may be Python code, random test data), the more likely the read errors appear.

As I said, a single Circuitpython file may run without an error indefinitely, but as soon as you copy additional files to the virtual drive, the erro

[2019-03-15 09:36] uhrheber commented on #1643
@kevinjwalters What I wanted to say is, the fuller the drive gets, the more likely those errors appear.
With just a single main.py file, and maybe even a library or two, the code may run for some time without an error (or not), but if you add additional files (may be random test data), the error becomes more likely.

[2019-03-15 09:43] uhrheber commented on #1643
@kevinjwalters What I wanted to say is, the fuller the drive gets, the more likely those errors appear.
With just a single main.py file, and maybe even a library or two, the code may run for some time without an error (or not), but if you add additional files (may be random test data), the error becomes more likely.

To repeat this behaviour:
- Put a single main.py file on the drive, that does a s

[2019-03-15 11:59] kevinjwalters commented on #1627
That's interesting detail. I was only asking because a disk/storage device being completely full often causes various forms of mayhem and I wasn't sure if you were talking about 100% full or now.

[2019-03-15 12:39] kevinjwalters commented on #1643
Based on @uhrheber comments it suggests the file system code is _one_ canidate here, has it changed? Also interesting to note that it doesn't appear to depend on what the application is doing as such a trivial tiny `main.py` was used.

Does the whole code base go through static code/dynamic analysis checks for buffer overflows and the like? I'm just wondering if this could be some bug that's been

[2019-03-15 13:12] uhrheber commented on #1643
I tested all official releases since 4.0.0 Beta 1, and they all behave like that.
I think that the older releases are somewhat more stable, but this might as well be coincidence.

The thing is, it's somewhat of a hit and miss, I have one pca10059 dongle, that I use as a USB password typer, and it uses both the USB HID and the TouchIO library. It was originally on Beta 1, and I later updated it to

[2019-03-15 13:18] dhalbert commented on #1643
@uhrheber Thanks for that observation. That's interesting, because it's on nrf as well as atmel-samd, and, because BLE does tasks at a higher priority than anything else. The combination suggests that the problem may be in the common code, not the chip-specific code, and that it's some kind of timing or interrupt problem.

[2019-03-15 13:48] uhrheber commented on #1643
If you want to test it yourself, here's my code (needs the libs adafruit_ble and adafruit_bluefruit_connect).
It can be used with the Bluefruit app, to use the colourpicker to change the colour of the RGB LED on the pca10059 dongle.

``
import board

from adafruit_ble.uart import UARTServer
import board, digitalio, pulseio
from adafruit_bluefruit_connect.packet import Packet
from adafruit_bluefrui

[2019-03-15 14:12] uhrheber commented on #1643
What I also observed:
Sometimes code runs perfectly, but when you add/modify code (or even a comment), it starts failing.

[2019-03-15 18:03] tannewt commented on #1037
I usually approach this from the "Throw an exception if unsupported" tact. Not sure what you need weak links for.

If nRF is 16 bit in it should be able to do 8bit by shifting it all. That'll save recording memory.

As you get at, I wouldn't have separate documentation per chip. I'd instead make sure the docs say supported functionality may vary chip to chip.

[2019-03-15 18:04] #1603 closed

[2019-03-15 19:11] jerryneedell commented on #1643
Another observation:
I have not had a FS failure if I first eject CircuitPY then do a hard RESET (press RESET button)
It fails frequently if I do a Soft Reboot (Control -D)
all on PyPortal

[2019-03-15 19:34] makermelissa commented on #1643
An observation I’ve noticed that may or may not be related is sometimes just going into a folder in finder causes the PyPortal to reset. I’ve not had corruption yet. I had noticed similar symptoms on other boards previously, but it seems to be fine now. I’ve only noticed this lately on PyPortal.

[2019-03-15 19:52] kevinjwalters commented on #1643
In the #1639 comments there's mention of a change in a USB library for 4.x. Could that be doing something different at soft reboot time compared to the previous releases? Given that writing files to the CPX triggers automatic reboots if that new USB stack does something different which ends up preventing the final writes (#111) to the file system from being applied that might explain this?

[2019-03-15 19:53] dhalbert commented on #1643
Yes, this is definitely the kind of thing we'd be looking at, but also whether filesystem operations before that were not completed or were incorrect.

[2019-03-15 20:47] caternuson commented on #1642
Just adding info. I'm not able to recreate this. Ubuntu 18.04.2 LTS. CircuitPython 4.0.0 beta 3:
`adafruit-circuitpython-feather_m0_express-en_US-4.0.0-beta.3.uf2`
on a Feather M0 Express.

[code]

@tboie Do you have udev rules installed?

[2019-03-15 22:36] tboie commented on #1642
Yes, using these:
https://learn.adafruit.com/adafruit-arduino-ide-setup/linux-setup

[2019-03-15 23:15] dhalbert commented on #1642
Just checking: have you rebooted this machine and it still doesn't work? We saw some issues with Arch Linux in which an update was done and there were problems before the machine was rebooted.

[2019-03-16 00:38] dhalbert commented on #1617
@hathach Here are two Beagle traces when plugging a Trinket M0 into my Samsung Chromebook. One is CircuitPython 3.1.2, which does appear as `/dev/tty/ACM0`. The other is CircuitPython 4.0.0-beta.4, which does not appear. The Chromebook is a Samsung XE303C12, running 32-bit Chrome OS, the latest version available for this: 72.0.3626.122.

[circuitpython-4.0.0-beta.4-trinket-m0-samsung-chromebook-us

[2019-03-16 04:22] tboie commented on #1642
Yes, no luck

[2019-03-16 14:51] dhalbert commented on #1642
What is the brand and model of the PC that you're using here, and is your USB port on the motherboard, or is it a separate plugin card? I notice that it's using the "ohci-platform" driver, rather than echi or xhci. I believe this is older.

If you have a USB hub you could interpose between the host's USB port and the board, try that.

[2019-03-16 16:07] kevinjwalters commented on #1644
I put an Ikalogic SQ25 logic analyser on A6 to verify what I was hearing and seeing on non-storage oscilloscope, it does appear to be a single cycle blip which has the effect of joing two either side into one long high pulse.

![CPX-A6-duty_cycle-varying-highblip-example-1](https://user-images.githubusercontent.com/6851309/54478012-98f8f680-4805-11e9-85b4-d65cd75accb5.PNG)

[2019-03-16 16:57] makermelissa commented on #1643
I'm definitely noticing File System problems much more on a Feather M4 Express with CircuitPython 4.0-Beta4. The RGB LED goes red and it can't read files. I had a file disappear as well and had to recopy.

[2019-03-16 18:30] jerryneedell commented on #1643
On my feather_nrf52840_express with beta4  doing a Soft Reboot after copying a file to the board results in a disconnect of the screen session followed by a boot to safe mode (HardFaultHandler).
Resettng remounts CIRCUITPY, but all files have been erased. Only boot_out.txt remains.

This is reproducible:
Boot -- open screen session
copy a file to CIRCUITPY
issues control-D
Screen disconnects - boa

[2019-03-16 19:23] dhalbert commented on #1643
I have reproduced @jerryneedell 's crash on Feather 840 with a simple main.py just printing out something every second, and then I do `touch /media/halbert/CIRCUITPY/foo.txt;sync`.

[2019-03-16 20:05] dhalbert commented on #1643
Scenario is:
1. `run_code_py()` in `main.c` is called the first time. `filesystem_flush()` is called, which calls `spi_flash_flush_keep_cache()` indirectly. It does not call `flush_ram_cache()` in `external_flash.c` because there's no RAM cache.
2. I write a file in CIRCUITPY.
3. Reload is requested, and happens. `run_code_py()` gets run a second time, calls `filesystem_flush()` again.
4. This tim

[2019-03-17 00:40] tboie commented on #1642
Pine 64 - RockPro64:
Rockchip RK3399 Hexa-Core (dual ARM Cortex A72 and quad ARM Cortex A53) 64-Bit Processor with MALI T-860 Quad-Core GPU

https://www.pine64.org/?product=rockpro64-4gb-single-board-computer

Ubuntu 18.04.2 Bionic

On-board USB 2.0 connection being used.

CIRCUITPY 3.x is working

[2019-03-17 02:06] jerryneedell commented on #1646
Fixed by
https://github.com/adafruit/Adafruit_CircuitPython_PyPortal/pull/15

[2019-03-17 02:06] #1646 closed

[2019-03-17 03:37] iraytrace opened #1650 "CircuitPython 4.0 Beta 4 hard crash"
When running on a CircuitPlayground Express with:

Got a hard crash which said:

Looks like our core CircuitPython code crashed hard. Whoops!
Please file an issue at https://github.com/adafruit/circuitpython/issues
 with the contents of your CIRCUITPY drive and this message:
Crash into the HardFault_Handler.

Host system was a Mac.  Code was being loaded from MU to the board when the error message

[2019-03-17 03:41] makermelissa commented on #1650
Thanks @iraytrace. I believe this will be fixed with PR #1649. My suggestion is to use Beta 3 for the moment as I was having far fewer problems with that one.

[2019-03-17 03:42] kdb424 opened #1651 "microcontroller.nvm Broken in Alphas/Beta 4.0"
I have been trying to use this function, and have tested from alpha 2 to beta 4 (the latest at time of issue) and have not been able to successfully use this. Depending on the version, different issues happen from REPL lockups, to rebooting to safe mode. Is this not supported at the current time?

[code]

[2019-03-17 09:07] gvcp opened #1652 "4.0 beta 4 hangs and code modified"
Several issues with Feather M4 express (also simple blink aplication) on MacOS (10.12.6):
When using the mu editor it frequently hangs when trying to save code.py.
Sometimes code can be saved but is frequently modified to all 0xFF´s with exactly the same length than the  original code.
Serial communication with Mu hangs, ctrl C crl D has no effect in this state.
Uodated Mu from 1.0 to 1.02, but do

[2019-03-17 11:43] jerryneedell commented on #1652
This may be related to #1643

[2019-03-17 13:17] #1643 closed

[2019-03-17 14:27] jerryneedell opened #1654 "file system issues on pca10059"
following up on #1649
running this on pca10059 -- test code from @uhrheber

[code]

[code]

so far  - no issues

[2019-03-17 14:42] jerryneedell commented on #1654
hmm --  BUT -- I am finding that sometimes files copied to the PCA10059 doe not show up to the PAC10059 FS....  Recopying them sometimes works -- I have not seen the FS wiped ... yet.
I'll try this on the other 52840 boards

[2019-03-17 14:43] uhrheber commented on #1654
@jerryneedell Please try to copy data to the drive, while the code runs.
Ideally, use F3 (http://oss.digirati.com.br/f3/) or h2testw (https://fightflashfraud.wordpress.com/2008/11/24/h2testw-gold-standard-in-detecting-fake-capacity-flash/).

Both are meant to write random test data to USB sticks, read it back and test for modified/overwritten parts.
I get modified data when writing to the drive wh

[2019-03-17 14:49] jerryneedell commented on #1654
OK -- I will try to replicate your test setup.
As noted above, I have been copy files to it and there are clearly issues on the pca10059. I have not been able to replicate them on the other boards yet.

[2019-03-17 15:32] uhrheber commented on #1654
F3 just uses a single task to fill the drive with test data, and after that reads the data back and compares it.
I wouldn't call that a stress test but a function test.

A stress test would be dozens of concurrent random reads and writes at the same time.
I don't necessarily expect CP to handle that well.

But: On a Windows system with a background virus scanner installed, it may well happen that

[2019-03-17 17:03] dhalbert opened #1655 "GitHub credentials for Adabot now wrong?"
The first Travis subjob is failing trying to make a release PR for circuitpython.org:
https://travis-ci.com/adafruit/circuitpython/jobs/185484652. I heard second-hand a credential got changed?
[code]

[2019-03-17 17:53] kevinjwalters commented on #1626
4.0.0 beta 5 looks good, btw.

[2019-03-17 18:26] dhalbert commented on #1644
The TC's are not double-buffered like the TCC's, so changing the duty cycle can cause these glitches. There's some discussion of a workaround here: https://medium.com/@nebsp/smoothly-changing-a-timers-frequency-on-the-arduino-zero-1f6cd285369a, though I have to study this a bit.

[2019-03-17 18:52] dhalbert commented on #1652
@gvcp Please try again with the beta.5 release (new this morning), and let us know here if that fixed it.

[2019-03-17 18:52] dhalbert commented on #1650
beta.5 to fix this is now out.

[2019-03-17 19:24] kevinjwalters commented on #1644
Thanks for looking at this. I'm still surprised these are so noticeable when the pwm is used for sound, I only found this because I heard the audio being a bit clicky.

[2019-03-17 19:38] gvcp commented on #1652
Doesn't appear any more with blink application, seems to behave stable in this respect like CP3.x.
Just wondering about the connection with BLE stated in  #1643 as I don´t have any BLE hardware connected to Feather M4 express.

[2019-03-17 19:52] dhalbert commented on #1652
Thanks. The BLE issues in #1643 are probably different, it appears.

[2019-03-17 19:52] #1652 closed

[2019-03-17 22:37] jrcutler opened #1656 "atmel-samd: Cannot disable pulseio or rotaryio (link error)"
It appears to be impossible to build an `atmel-samd` target with either `CIRCUITPY_PULSEIO = 0` or `CIRCUITPY_ROTARYIO = 0` due to hard-coded references to functions in `samd-peripherals/samd/external_interrupts.c` (causing link errors).

To replicate, add `CIRCUITPY_PULSEIO = 0` or `CIRCUITPY_ROTARYIO = 0` to `ports/atmel-samd/boards/trinket_m0`, then try to build for `trinket_m0`.

I was able to

[2019-03-17 23:09] water5 opened #1657 "ESP8266: frozen Python modules cause crash when imported"
When import 'ntptime' package, appear message below and board reset:
-------------------------------
Fatal exception 3(LoadStoreErrorCause):
...
-------------------------------

test board:  ESP8266 module

circuitpython version:  adafruit-circuitpython-feather_huzzah-3.1.2.bin

[2019-03-17 23:14] dhalbert commented on #1642
I did a little research on this board. There have been USB problems in the past, though they seem to be related to USB 3.0. Have you tried the USB 3.0 ports, or the USB-C port with an adapter?

I'm suspecting there's something marginal about the USB driver or ports. If you could get some USB traces with wireshark (if that works) or a Beagle USB tracer, then we'd have a starting point for what's go

[2019-03-17 23:40] dhalbert commented on #1654
@uhrheber comments copied from #1643:

That didn't do it.
I merged your pull request [ #1649 ], compiled and flashed it to a pca10059, then I copied my BLE colourpicker code + libs to the drive.
The code started to run, but stopped by itself after about 20 seconds, without me doing anything.
After unplugging and replugging, the drive was wiped.

--------------

I tested the pca10059 with a simple

[2019-03-18 00:42] rrace001 opened #1658 "No rule to make target 'common-hal/analogio/__init__.c"
Just made a new clone the repository and got an error.  I can still make boards on an version a few months older.

make: *** No rule to make target 'common-hal/analogio/__init__.c', needed by 'build-trinket_m0/genhdr/qstr.i.last'.  Stop.

[2019-03-18 00:53] dhalbert commented on #1658
I think your clone is incomplete somehow. Does the file `circuitpython/ports/atmel-samd/common-hal/analogio/__init__.c` exist? It's part of the source tree. Is this is a clone from `adafruit/circuitpython` or your own repo?

[2019-03-18 01:31] dhalbert commented on #1654
i am working on a fix for this.

[2019-03-18 02:40] rdagger opened #1659 "Displayio.display incorrectly parsing init_sequence"
I’m using the feather_nrf52840_express-en_US-4.0.0-beta.5.uf2.  I’m trying to use the displayio library with an external ST7735 LCD display.  I’m using the code from https://github.com/adafruit/Adafruit_CircuitPython_ST7735

The feather is hard crashing with the error: “MicroPython NLR jump failed. Likely memory corruption.”
I confirmed the display is OK and is correctly wired by using the Circuit

[2019-03-18 02:50] makermelissa commented on #1659
Just out of curiosity, which external ST7735 LCD display are you using? Apparently there are different versions of this display and I'm wondering if you have one of the ones I'm working on adding support to.

[2019-03-18 02:53] makermelissa commented on #1659
Also, I just hooked up a ST7735 display to an nRF52840 running the same version you described above and it's not crashing. The one I'm using is one I bought off of Aliexpress. Oh, also what code are you using to test it. Here's a script I wrote that's working for me:
[code]

[2019-03-18 02:54] Rathmore opened #1660 "board error? "ValueError: TFT_BACKLIGHT in use""
My trying to get my Hallowing to run the slideshow code found here: https://learn.adafruit.com/getting-started-with-hallowing-for-hackaday-supercon-attendees/slideshows

[code]

I'm running the beta 5 build of CP4 on my Hallowing with the latest CP4 libraries.

When I run the code, I get:
[code]

(The REPL is displaying on the screen with a small CP logo at the top (which is new?) and the backligh

[2019-03-18 03:25] makermelissa commented on #1660
Updating the code to what I have below gets past the `ValueError: TFT_BACKLIGHT in use` error and gives `RuntimeError: All timers in use` which I believe is on the pulseio.PWMOut() call.
[code]

Full Error Message:
[code]

[2019-03-18 04:51] dhalbert commented on #1654
@jerryneedell @uhrheber I have a test uf2 for you to try. This fixes a whole bunch of problems with using the internal flash as CIRCUITPY: there was more than one underlying issue.

My test was to run the [`ble_uart_echo_test.py` example in Adafruit_CircuitPython_BLE](https://github.com/adafruit/Adafruit_CircuitPython_BLE/blob/master/examples/ble_uart_echo_test.py), connect to the peripheral from

[2019-03-18 06:51] tannewt commented on #1655
Ya, I removed one set of adabot creds I showed on my stream. Will update them tomorrow. Thanks for handling it!

[2019-03-18 07:05] tannewt commented on #1660
Hi hi, this "BACKLIGHT in use" error is due to us moving control of the backlight into the display object itself (so it can adjust the backlight when user code isn't running).

I believe the latest slideshow library has been updated for this and you should just remove the `pulseio.PWMOut(board.TFT_BACKLIGHT),` parameter from code.py.

[2019-03-18 07:07] rdagger commented on #1659
@makermelissa  I'm using the HiLetgo 1.8" inch ST7735R.  Which nrf52840 board are you using?  By same version, did you mean the same U2F?  Are you getting graphics on the display?
Here's my test code:
[code]

[2019-03-18 07:20] makermelissa commented on #1659
The Feather nRF52840 Express (which is what the binary you mentioned was for) and the same binary. Yes I'm getting a little Blinka icon in the corner and text with that. Do you happen to remember if the plastic that came on the display had a red tab, green tab, or some other color? If not, that's ok. I'm trying to determine if it is one of those alternate boards that the driver hasn't been impleme

[2019-03-18 07:44] uhrheber commented on #1654
@dhalbert Unfortunately, I forgot the boards with UF2 bootloaders at home, and don't have a JLink at work. I only have boards with the Nordic DFU bootloader at hand. Would you mind sending me the .hex file?
If you're reading this after waking up, then I'm most likely already at home, and have access to boards with UF2.

[2019-03-18 07:45] rdagger commented on #1659
I don't recall the tab color but the display works great with the ST7735**R** class in the RGB Display library provided in the CircuitPython bundle.

Can I please see your full code to display the Blinka bitmap.

Are you using the MO and SCK pins on the feather for MOSI and clock respectively?

Are you using an unmodified version of adafruit_st7735.py from https://github.com/adafruit/Adafruit_Circ

[2019-03-18 08:19] deshipu commented on #1659
I think the tab color was meaningful only for the displays sourced by Adafruit, if you get them from anywhere else, that color is pretty much random and doesn't correspond to the display version.

There are two versions of those displays (originally designated as "red tab" and "green tab"), which differ in how the actual LCD lines are connected to the ST7725 chip inside — one starts at the upper l

[2019-03-18 10:35] jerryneedell commented on #1654
I tried this on a pca10059.
With Beta5 I did not consistently have the issue with the FS getting wiped, but it was having problems.
ran ble_uart_echo_test - connected from desktop
copied ~5K byte file to CIRCUITPY
system kept running but when I did a soft reboot and tried to restart ble_uart_echo_test
it could not properly read the script from the FS.  The ble_uart test script file was damaged, bu

[2019-03-18 10:40] jerryneedell commented on #1654
ah good -- repeated the test with Beta 5 and after file copy and soft reboot - the FS was corrupted!
[code]

Does not happen with new build

[2019-03-18 12:56] dhalbert commented on #1654
@uhreber here is the hex:
[pca10059-sd-write-2019-03-18.hex.zip](https://github.com/adafruit/circuitpython/files/2978129/pca10059-sd-write-2019-03-18.hex.zip)

[2019-03-18 13:00] dhalbert commented on #1654
@jerryneedell I thought of another possible issue with flushing the filesystem properly which might explain the missing file, and I'll check on that this morning.

[2019-03-18 13:45] uhrheber commented on #1654
@dhalbert You're the best. Did you even sleep last night?

The new firmware is much more stable, but still has some quirks.
While my bluetooth colourpicker code was running (without bluetooth connection), I copied various libs to the libs folder on the virtual drive.
When there was less than 50kB free, the drive vanished, and CP entered safe mode.
When I then unplugged and replugged the stick, the

[2019-03-18 14:39] dhalbert commented on #1654
@uhreber I do sleep a regular amount. :sleeping: :smiley:  I work from home so it's easy to work late and check on things in the morning.

The "running out of space" bug is probably separate. It may be a flaw in the FAT filesystem code.

[2019-03-18 14:39] dhalbert commented on #1654
Based on this testing, I'll merge these changes for now, and make sure we have an issue for "filling up the filesystem". Thank you both.

[2019-03-18 14:42] dhalbert commented on #1654
Fixed at least partially by #1661.

[2019-03-18 14:48] makermelissa commented on #1659
Thanks for the input @deshipu. That wasn't explained very clearly anywhere I could find.

@rdagger, I'm not loading a full bitmap. It's only displaying the REPL output onto my screen with my code. The board I'm using is a 1.44" 128x128 screen that is very similar to the screen this driver was written for, so I'm not surprised mine is working. I went ahead and ordered the screen you mentioned off a

[2019-03-18 15:03] dhalbert commented on #1616
Closing for now. Good places for this support are in https://adafru.it/discord, #help-with-circuitpython channel, or https://forums.adafruit.com.

[2019-03-18 15:03] #1616 closed

[2019-03-18 15:04] dhalbert commented on #1651
On which board(s) are you having trouble?

[2019-03-18 15:25] dhalbert commented on #1656
Thanks for this. Filed an issue in the other repo as well: https://github.com/adafruit/samd-peripherals/issues/19

[2019-03-18 15:27] dhalbert commented on #1577
Should be fixed by #1604 and/or #1649.

[2019-03-18 15:27] #1577 closed

[2019-03-18 15:29] dhalbert commented on #1578
This is probably fixed by the filesystem flush fixes.

[2019-03-18 15:29] #1578 closed

[2019-03-18 15:48] dhalbert commented on #1657
There seems to be something wrong with the frozen-in version of `ntptime`. As a workaround for now, try copying the file below,`ntptime.py`, to the root directory and importing it. I did that and it didn't crash. This is the exactly the file that is supposed to be built in:

https://github.com/adafruit/circuitpython/blob/3.x/ports/esp8266/modules/ntptime.py

Link to raw version (for direct downloa

[2019-03-18 15:50] kdb424 commented on #1651
Whoops, forgot to say. This is on the Itsy Bitsy M4 express so far that I have tested.

[2019-03-18 15:50] dhalbert commented on #1657
It appears that all of the frozen python modules files are broken, so if you need others, copy those too, from the `modules` directory above.

[2019-03-18 15:55] dhalbert commented on #1657
This is broken all the way back to 3.0.0. Alternatively, try the 2.3.1 release for esp8266, which was well-tested: https://github.com/adafruit/circuitpython/releases/tag/2.3.1

ESP8266 support was dropped for CircuitPython 4.0.

[2019-03-18 16:02] jerryneedell commented on #1657
this is strange because I know I have used many of those modules in the past and I think I was using them well beyond 3.0.0

[2019-03-18 16:13] dhalbert commented on #1657
I was wrong, only `ntpsetup.py` and `port_diag.py` cause a crash. The other frozen modules are fine.

[2019-03-18 17:25] uhrheber commented on #1654
I compiled the latest master for pca10059.
Ran some bluetooth test code, and used f3 to test the drive.
Result:
[code]

[2019-03-18 17:45] hathach commented on #1617
@dhalbert thanks for the trace file, I saw control endpoint didn't response after request to get input report from HID with report ID = 0x05. Can you help me to dumb HID report on your pc as follow command.

[code]
You may need to install [hidrd](https://github.com/DIGImend/hidrd), on linux it is  simply `sudo apt install hidrd`

this is not important, but the interface number of your descriptor i

[2019-03-18 18:00] dhalbert commented on #1617
@hathach The traces are from the chromebook. I'm not sure I can run `usbhid-dump` or equivalent on it -- maybe if I switch to developer mode -- (have to wipe it to do that) . Or did you want it from just any Linux host?

[2019-03-18 18:11] rdagger commented on #1659
I did further testing this morning.  I was wrong about the SPI data.  The command and data are transmitted.  There’s a delay between the command and data that threw off my scope.  This delay was not present in the RGB Display library initialization.

I’m still not getting anything on the screen.  Could someone please post a simple demo to draw anything using displayio.

Here's my current code that

[2019-03-18 18:29] hathach commented on #1617
You can dump while attaching to your main pc. I just want to know which report ID host is trying ro get

[2019-03-18 18:30] hathach commented on #1617
Btw, did the issue happen with other mcu such as m4 or nrf5x ??

[2019-03-18 18:39] dhalbert commented on #1617
@hathac Interestingly, seems to be SAMD-related. M0 and M4 boards don't show up as /dev/ttyACM0, but nrf52480 boards (Feather and PCA10059) _are_ showing up.

[2019-03-18 18:57] uhrheber commented on #1654
I can also see, that CP4 is much slower when writing the flash than CP3.
On an ItsyBitsy M4 Express (yeah, I now have one, just arrived) I get (using f3write):
CP3: Average writing speed: 104.00 KB/s Average reading speed: 875.80 KB/s
CP4: Average writing speed: 48.73 KB/s  Average reading speed: 947.08 KB/s

pca10056:
CP4: Average writing speed: 17.39 KB/s Average reading speed: 486.17 KB/s

pca1

[2019-03-18 21:34] rrace001 commented on #1658
This was a fork from your repo and the files existed. Since you thought the clone was incomplete then I decided to delete all and redo the clone to make sure. It works fine now.  Not sure what I did wrong but thanks for the quick reply.

[2019-03-18 21:34] #1658 closed

[2019-03-18 21:51] dhalbert commented on #1658
Glad it’s ok!

[2019-03-18 23:10] tannewt opened #1662 "Move Glyph and BuiltinFont to a fontio"
It's confusing in displayio.

[2019-03-18 23:18] CedarGroveStudios opened #1663 "add gmtime() to time module"
Add `gmtime()` to support foundational timekeeping in UTC to permit conversion to `localtime()` or when needed to calculate an offset to convert a UTC time value to the local timezone. See discussion: [adafruit/Adafruit_CircuitPython_PyPortal/issues #16](https://github.com/adafruit/Adafruit_CircuitPython_PyPortal/issues/16)

[2019-03-18 23:23] ptorrone opened #1664 "add board PyCon Gemma 2018 to builds"
for circuitpython boards with different silk' on the board, let's add it as a build so it shows up on: https://circuitpython.org/downloads

pycon 2018 gemma info is here:
https://github.com/adafruit/CircuitPython_Badge_README/tree/master/final_versions/PYCON_2018

(photos, etc).

[2019-03-18 23:24] ptorrone opened #1665 "add board 4-H to builds"
for circuitpython boards with different silk' on the board, let's add it as a build so it shows up on: https://circuitpython.org/downloads

4-h board info here (photos, etc):
https://www.adafruit.com/4h

[2019-03-18 23:27] ptorrone opened #1666 "add Digi-Key + Adafruit PyCon 2019 board to builds"
for circuitpython boards with different silk' on the board, let's add it as a build so it shows up on: https://circuitpython.org/downloads

add Digi-Key + Adafruit PyCon 2019 board to builds, can be a placeholder - images to follow soon and we'll also link to:
https://github.com/adafruit/PyCon2019

[2019-03-19 00:34] hathach commented on #1617
@dhalbert hmm, I guess it could be setup packet handling code specifically with samd port. Give me a bit of time, I will check and try to come up with a patch for you to test again.

[2019-03-19 01:10] water5 commented on #1657
Actually, ntptime.settime() also can't work, it dependent utime module, Adafruit circuitpython has n't utime module.

[2019-03-19 01:42] dhalbert commented on #1617
@hathach here is the hidrd output from a Metro M4:
[cpy-hidrd.txt](https://github.com/adafruit/circuitpython/files/2981135/cpy-hidrd.txt)

[2019-03-19 01:43] dhalbert commented on #1617
As noted above, if we remove the GAMEPAD, /dev/ttyACM0 shows up.

[2019-03-19 01:44] dhalbert commented on #1617
One thing I am thinking of in the long run is making the keyboard be a boot device, in an unshared endpoint. A few people have asked for that so they can use a board as a boot keyboard.

[2019-03-19 01:46] hathach commented on #1617
Thanks @dhalbert, though I think it is most likely usb port issue now, since the stack handles it just fine with nrf port.

[2019-03-19 01:47] dhalbert commented on #1617
I did an hidrd report with the Feather nRF52480, and it's identical.

[2019-03-19 01:48] hathach commented on #1617
For boot keyboard, tinyusb should be able to handle that now. Though there may be a bit of gotcach, can you open an issue for boot device and assign me there. I will do a PR for that

[2019-03-19 01:54] dhalbert commented on #1617
Here is a Beagle trace of the Feather nRF52840, which is reporting a descriptor that should be identical non-working trinket M0 from the 4.0.0 trace above.
[circuitpython-4.0.0-beta.5-feather-nrf52840-samsung-chromebook-usb2.tdc.zip](https://github.com/adafruit/circuitpython/files/2981169/circuitpython-4.0.0-beta.5-feather-nrf52840-samsung-chromebook-usb2.tdc.zip)

[2019-03-19 01:57] dhalbert commented on #1617
Hi, do you mean a tinyusb issue or a CircuitPython issue? No problem for us doing it for CPy.

[2019-03-19 02:15] dhalbert commented on #1657
@water5 - Aha, you've figured out the problem! Try just replacing `utime` with `time`.

I'm not sure what the problem is with `port_diag.py`, but actually calling `esp.check_fw()` calls a crash. However, I don't think that should cause the import to crash.

[2019-03-19 02:22] hathach commented on #1617
@dhalbert most likely tinyusb port issue ☺☺ but could be both, need to give it a few try to be sure :)

[2019-03-19 02:44] water5 commented on #1657
`import ntptime
import time as utime

ntptime.settime()`

also appear :
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "ntptime.py", line 32, in settime
ImportError: no module named 'utime'

[2019-03-19 02:46] rdagger commented on #1659
I wasn't having any luck so I wrote an init sequence for the SSD1351 OLED display:
[code]
It looks like the initialization is working because I can manually clear the display using the displayio.FourWire.send() command.  The following manually clears the display to the given color:
[code]
However, I guess I'm just missing something obvious because I can't get the display to respond to any of the d

[2019-03-19 02:54] dhalbert commented on #1657
You have to use your own copy of ntptime.py, and change the `import utime` that's further down in the program. You can't use the built-in frozen copy.

[2019-03-19 03:05] makermelissa commented on #1659
Very nice @rdagger! I've requested for a couple display repos to be created. Once that's complete, would you like to package that driver up into a PR? I can help you out if you would like.

Regarding the displayio sample code, I think it's probably outdated. I recently wrote some sample code for the ILI9341 CP driver that could be minimally repurposed for the other displays. It just basically init

[2019-03-19 05:58] rdagger commented on #1659
@makermelissa  Please feel free to use the driver in a PR.  I would really appreciate if you could post your sample code for the ILI9341.  Thanks.

[2019-03-19 06:00] makermelissa commented on #1659
Already posted. You can find it here: https://github.com/adafruit/Adafruit_CircuitPython_ILI9341/blob/master/examples/ili9341_simpletest.py

[2019-03-19 06:31] rdagger commented on #1659
@makermelissa  Thanks, I didn't notice that you had created the sample code in the repo.  I did try something very close but got nothing on the display other than snow which occurs regardless after initialization.
[code]
![Snow_20190318_231324](https://user-images.githubusercontent.com/106355/54584610-1161e200-49d5-11e9-93cc-e7f8f1f4996d.jpg)

[2019-03-19 06:34] makermelissa commented on #1659
Ok, well I plan on knocking out some of these display drivers this week. I just got the 160x80 Mini TFT working tonight and am getting the rest of the init commands plugged into the ST7735 driver right now. Hopefully I can get something for you on Wednesday.

[2019-03-19 06:51] tannewt commented on #1655
I updated the creds for adafruit/circuitpython and adafruit/adabot so they should be good to go.

[2019-03-19 06:51] #1655 closed

[2019-03-19 07:24] uhrheber commented on #1654
I just had a wiped drive again on a pca10059, running the latest master firmware.
I had a program and libs on the drive, copied over the main.py with a different one, and the program didn't start. After unplugging and replugging, the drive was wiped clean.

[2019-03-19 08:04] makermelissa opened #1667 "FS Issues on the Feather M4 Express"
Although the latest Beta 5 is more stable than Beta 4, Ive had 2-3 instances where the NeoPixel Went Red and the File System locked up. Resetting it brought it to Safe Mode and it notified me that a Hard Fault had occurred. In one instance, I had several folders replaced with zero-byte files.

[2019-03-19 10:59] water5 commented on #1657
When `time.localtime()` appear "RuntimeError: RTC is not supported on this board".
But actually, `machine.RTC().datetime()` works fine.

[2019-03-19 11:35] dhalbert commented on #1654
Which operating system are you using, and how long did you wait after it didn't restart? It sounds like you caught it in the middle before the write was complete.

I do have further ideas about making the caching safer and will get you some test UF2's later.

Could you also show how you set up and ran the f3 test, just for reference? Thanks.

[2019-03-19 12:11] uhrheber commented on #1654
In this case, the operating system was Windows 10 Enterprise 1709, because this is what I have at work.
At home, I mostly use Linux Mint 19.1.

After copying over the main.py, I waited quite a while, because when it didn't run, I first started mu to check what was going on, but couldn't get a serial connection, so I decided to replug it.
After that, the drive was wiped clean, but I could get a ser

[2019-03-19 13:52] uhrheber commented on #1654
I freshly flashed a pca10059, put some libs and example code on it, and let it run for some time, replacing the main.py occasionally.
So far I couldn't reproduce the error.

[2019-03-19 14:32] uhrheber opened #1668 "adafruit_hid.mouse doesn't run when board is plugged into USB"
I tried the following code:
[code]

Just a simple test, to move the mouse cursor around in squares.
The code runs perfectly when:
- started by ^D
- started by file system interrupt when the file containing the code (here: main.py) is copied to the virtual drive, or an existing main.py is edited and saved (e.g. in Mu).

But: When the board is freshly connected to USB, the code doesn't start.
Tested

[2019-03-19 14:46] deshipu commented on #1668
I don't suppose you have a PyPortal or Hallowing to try and get the messages displayed on the screen? I tried with a Hallowing just now, but I couldn't reproduce your problem — it works for me.

[2019-03-19 14:47] deshipu commented on #1668
By the way, which version of the firmware are you using?

[2019-03-19 14:50] uhrheber commented on #1668
Latest master from today.

[2019-03-19 14:51] deshipu commented on #1668
That's the same I tried. I suppose this is something specific to Windows.

[2019-03-19 14:52] deshipu commented on #1668
You could try adding some delay at the beginning of the program...

[2019-03-19 14:52] uhrheber commented on #1668
Maybe. I'll try it with Linux when I'm home.

[2019-03-19 14:53] uhrheber commented on #1668
I already tried a 5 seconds delay at the beginning. No dice.

[2019-03-19 15:00] uhrheber commented on #1668
I now added a 0.5 seconds delay before and after instantiating mouse, and now it works.

This should maybe be added to the documentation/examples.

The working code is now:
[code]

I'm closing this issue.

[2019-03-19 15:00] #1668 closed

[2019-03-19 15:45] dhalbert commented on #1654
Your experience two comments up is familiar. Windows in particular, and Linux to a lesser extent, do not write all the data and metadata to the drive immediately when you write a file. For Windows, this can take up to 90 seconds, for Linux, it's 10-20 seconds or so. Windows has a long delay only with FAT12 filesystems. See https://superuser.com/questions/1197897/windows-delays-writing-fat-table-on

[2019-03-19 15:47] dhalbert commented on #1668
The Mouse code actually does this already, but it sounds like you need a bit more: https://github.com/adafruit/Adafruit_CircuitPython_HID/blob/master/adafruit_hid/mouse.py#L60

[2019-03-19 17:13] uhrheber commented on #1654
I did eject the stick before unplugging it. And the code didn't run when I copied the new main.py over the older, so I guess the error happened at the moment of writing.

On Linux, I disabled all write caching for circuitpython drives.

[2019-03-19 18:00] dhalbert commented on #1667
What were your doing (or what was happening) at the time? If I can reproduce this I can catch the hard fault and debug.

[2019-03-19 18:02] makermelissa commented on #1667
I was working on writing the displayio driver for the Mini 160x80 driver. I think it happened immediately after I saved changes to a CP script, but most of the time it was fine.

[2019-03-19 18:04] makermelissa commented on #1667
I’ll let you know if I find something more specific that causes it.

[2019-03-19 21:47] dhalbert opened #1669 "displayio: infinite loop in Bitmap.c"
`shared-bindings/displayio/Bitmap.c`:
[code]
I don't think  `1U << power_of_two` is meant here, since it's shifting by a very large amount, maybe just `power_of_two`? It rapidly shifts too far and will become 0, and then `power_of_two` will also become 0 as the 1 gets shifted too far.

@deshipu was trying `image = displayio.Bitmap(8, 16, 65546)`.

[2019-03-19 22:01] deshipu commented on #1669
I think it's supposed to be ``+=1``. The idea is to find the lowest power of two that is greater than the ``value_count``.

[2019-03-19 22:05] tannewt commented on #1350
I just tried the main.py from the original post on 4.0.0 Beta 5 and it worked just fine. It also works after CTRL-D. I think this is fixed.

[2019-03-19 22:05] #1350 closed

[2019-03-19 22:07] tannewt commented on #1660
@Rathmore did my response above get you going on this? I don't think it's a bug.

[2019-03-19 23:45] Rathmore commented on #1660
I removed the parameter and now get:
[code]
I updated my libraries to the version that dropped today (3/19), and I still get the same output. I am still on beta 5.

My slideshow line reads
[code]
Thanks.

[2019-03-20 01:15] caternuson opened #1671 "displayio.Palette not checking color_count"
Can instantiate a `Palette` with a `color_count` that exceeds max (255?) without getting any errors. But then it errors out later.
[code]

[2019-03-20 01:34] tannewt commented on #1660
@Rathmore Progress! Looks like @jerryneedell has already fixed the lib and it just needed a release. So, grab 1.0.4 [here](https://github.com/adafruit/Adafruit_CircuitPython_Slideshow/releases/tag/1.0.4) and give it a try. It'll be in the bundle sometime tomorrow.

Closing this because it's a library issue and has been fixed.

[2019-03-20 01:34] #1660 closed

[2019-03-20 17:02] dhalbert commented on #1654
@uhrherber I installed `f3`, and it talks about writing gigabyte-sized files. There don't seem to be parameters to write smaller files. Do you just run it and have it fill up the filesystem (and presumably fails in some way when it reaches the limit)?

[2019-03-20 17:10] uhrheber commented on #1654
@dhalbert Just start f3, it'll write until the drive is full, but it seems to have a fixed block size, because it usually leaves some few kB free.

[2019-03-20 17:11] tannewt commented on #1659
Sounds like the init sequence is parsed just fine. Please find us on the forums or Discord if you need further help with getting displays going.

[2019-03-20 17:11] #1659 closed

[2019-03-20 17:12] tannewt commented on #1669
Please remember to add a milestone.

[2019-03-20 17:17] kevinjwalters commented on #1639
For what it's worth, just noticed this occurs with 4.0.0 beta 5 too. Only about 1 in 20 of my errors does this, there's something data (or timing?) dependent about this.

[2019-03-20 17:18] tannewt commented on #1530
@wallarug Any update on this?

[2019-03-20 17:20] tannewt commented on #1437
Do we have room to enable COMPAT on more builds for 4.0.0?

[2019-03-20 17:23] dhalbert commented on #1437
Yes, now we do. I'll try it and do a PR.

[2019-03-20 17:24] notro commented on #1639
It's probably the same problem I have run into https://github.com/adafruit/circuitpython/issues/1342#issuecomment-441475189

[2019-03-20 17:26] kevinjwalters commented on #1639
FYI, In my case the data will pop out if you tap return (i.e. send some data in oppposite direction). The terminal session is not disconnected.

[2019-03-20 17:27] tannewt opened #1673 "Add additional builds for special versions of boards"
We have two special versions of CPX coming and we'd like separate downloads and download pages on the website for them. We don't need them to be unique builds though. So, we can copy the original version with a different name. It does need to work with build board info too.

We need to do this for:

- [ ] PyCon Gemma 2018
- [ ] DigiKey + Adafruit PyCon 2019 CircuitPlayground
- [ ] 4-H Green Circui

[2019-03-20 17:28] tannewt commented on #1666
Closing in favor of #1673 which is one issue for the tooling and can include initial boards to do.

[2019-03-20 17:28] #1666 closed

[2019-03-20 17:28] tannewt commented on #1665
Closing in favor of #1673 which is one issue for the tooling and can include initial boards to do.

[2019-03-20 17:28] #1665 closed

[2019-03-20 17:28] tannewt commented on #1664
Closing in favor of #1673 which is one issue for the tooling and can include initial boards to do.

[2019-03-20 17:28] #1664 closed

[2019-03-20 17:52] dhalbert commented on #1669
Sorry about that. We could also add milestones to some PR's, though I'm not sure about the status of a number of them.

[2019-03-20 17:53] tannewt commented on #1669
np, the main issue is that I won't see it if it's only assigned to me. When I'm looking at what to do next I start from the milestone issue list.

[2019-03-20 17:55] TG-Techie commented on #1577
@dhalbert  it wasn't. I just tried beta5 on my pyp and it crashed and reappeared as NO NAME.
the bootout.txt reads:
[code]
I updated the firmware and then connected to the repl, using mu, and ctrl-c ed then ctrl-d ed.

[2019-03-20 18:03] dhalbert commented on #1577
@TG-Techie is it reproducible? If you can do it again, what was the main.py you were running? Thanks.

[2019-03-20 18:05] deshipu commented on #1673
I would love to do that for the PewPew 10.3 (the big one) as well, if possible.

[2019-03-20 18:14] deshipu commented on #1669
By the way, how about renaming the ``power_of_two`` to ``bits`` or even ``bpp`` — this way there won't be a confusion whether the number says which power of two this is, or the value of that power of two.

[2019-03-20 18:37] tannewt commented on #1651
@kdb424 Thanks for the report. It should still be working. I plan on fixing it today.

[2019-03-20 18:39] tannewt commented on #1651
@kdb424 A quick test with Beta 5 on a different M4 worked just fine. Is there more to your code than the three lines you posted?

[2019-03-20 18:45] makermelissa commented on #1667
I haven't had an issue since I reported this. It's possible that it was corrupted from Beta 4. I'll be doing some more stuff tonight and will see if it happens again then.

[2019-03-20 19:21] deshipu commented on #1671
This is strange, because I don't see anything that would limit the size of the palette — ``uint32_t`` is used as the index type everywhere.

[2019-03-20 19:26] deshipu commented on #1671
Ah, I see, ``color_count`` is ``uint8_t`` in the ``displayio_palette_t`` struct.

[2019-03-20 21:13] #1671 closed

[2019-03-20 21:28] tannewt commented on #1651
I haven't been able to reproduce this on an Itsy Bitsy M4 either. @kdb424 please reopen/comment if you can still trigger it with Beta 5 or newer. Thanks!

[2019-03-20 21:28] #1651 closed

[2019-03-20 21:36] #1662 closed

[2019-03-20 21:44] tannewt commented on #1103
I haven't been able to reproduce this. @labishrestha please comment if you are able to cause this problem with 4.0.0 Beta 5 or newer. An Itsy Bitsy M4 I have here has 3.0.0-beta.0 on it which is quite old.

[2019-03-20 21:44] #1103 closed

[2019-03-20 21:46] tannewt commented on #1437
Fixed by #1675. Thanks @dhalbert !

[2019-03-20 21:46] #1437 closed

[2019-03-20 21:48] tannewt commented on #1667
@makermelissa do you have a debugger available to you? It might be worth having it breaking on the HardFault_Handler while you do other things just in case it is a random occurrence.

[2019-03-20 21:52] makermelissa commented on #1667
Yeah. Is there a guide to using it for debugging?

[2019-03-20 21:53] makermelissa commented on #1667
I’ve only used it for bootloader flashing.

[2019-03-20 22:03] sommersoft commented on #1667
@makermelissa https://learn.adafruit.com/debugging-the-samd21-with-gdb/overview should get you debugging.

[2019-03-20 22:29] makermelissa commented on #1667
Thanks @sommersoft. I'll take a look at that guide.

[2019-03-20 22:29] dhalbert commented on #1667
Very brief instructions:
1. Building with debug symbols is helpful:
`make -j4 BOARD=feather_nrf52840_express SD=s140 DEBUG=1`
2. Connect the jlink and start the JLinkGDBServer in another terminal window:
`JLinkGDBServer -device nRF52840_xxAA -if SWD`
3. Start debugging with the .elf file:
`arm-none-eabi-gdb build-feather_nrf52840_express-s140/firmware.elf`

[2019-03-20 22:30] makermelissa commented on #1667
Thanks @dhalbert

[2019-03-20 23:20] wallarug commented on #1530
Hey Scott,

I gave up on this particular flash chip.  The manufacturer could not provide the correct timings to make it work with CircuitPython either.

Maybe if I have a lifetime of spare time I could fix it.  But for now, this can be closed as a won't fix.

[2019-03-20 23:20] #1530 closed

[2019-03-20 23:48] rdagger commented on #1659
I posted the issue to the Adafruit CircuitPython forum:
https://forums.adafruit.com/viewtopic.php?f=60&t=149282

[2019-03-20 23:59] sommersoft commented on #1037
So, I'm past RAM management hurdles; well, it doesn't error out at least.

Now on to the part I **really** have like no experience in. I was under the impression that with the nRF52840 PDM periph's built-in decimation, I don't need to run it through [`filter_sample`](https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/common-hal/audiobusio/PDMIn.c#L334). It _should_ already be i

[2019-03-21 00:08] kevinjwalters commented on #884
Are there any examples on how to use PixelBuf https://circuitpython.readthedocs.io/en/latest/shared-bindings/_pixelbuf/__init__.html

How does this compare memory-wise with the NeoPixel/DotStar libraries for CircuitPython 3.x?

[2019-03-21 00:15] rhooper commented on #884
At some point I hope my life becomes less busy, otherwise I'll work on this during sprints at PyCon.
https://github.com/rhooper/CircuitPython_Pixel_Driver is the WIP repo that has neopixel.py and adafruit_dotstar.py drivers.  Memory-wise it should be similar to the current implementations, unless you use the single buffered mode that doesn't refresh the brightness of all pixels when brightness is

[2019-03-21 03:49] KacperLa opened #1677 "rotaryio 1/4 of possible resolution?"
It seems to me that the way rotaryio is currently written is limited to 1/4 of its possible resolution. On encoder library's for the Arduino the rising and falling of the a and b pins is used to calculate the position of the encoder rather then their states. Is it possible to implement this proposed method?

[2019-03-21 04:19] makermelissa commented on #1667
Ok, I got it to do it twice and is still red at the moment. The last time it happened when I was saving a library file inside of a folder.

[2019-03-21 04:24] makermelissa commented on #1667
Since this is happening on a Feather M4 Express and I'm working on programming feathers, I can't plug in a JLink without soldering. So I'm going to see if I can get this to happen on a Metro M4 Express using Siddacious's MetroWing.

[2019-03-21 04:42] makermelissa commented on #1667
I got it to happen on the MetroM4 as well. I now know what I did. I made a change to the lib. Saved. Made another change, and then saved again within a very short amount of time. Unfortunately I'm just now realizing I didn't compile a version with debug symbols before this happened.

[2019-03-21 12:55] dhalbert commented on #1677
The current method is meant for use with detented Gray Code rotary encoders: one count per click. This has the advantage of not needing debouncing. We can add modes for other kinds of encoders, x2 and x4, but you would see more bobbling back and forth unless the outputs were debounced with capacitors. What kind of encoders are you thinking of using?

[2019-03-21 13:03] dhalbert commented on #1667
Just FYI, backtrace even without debugging symbols will have some information that gdb can recover from the .elf file. Belowi is backtrace from a non-debug elf. It has routine names but not arg names or values. Obviously the debug is better, but this can still help. But if you can repeat with a DEBUG build, that would be great.

I forget what OS and editor you're using? Which are they? Are you edi

[2019-03-21 13:18] tboie commented on #1642
All USB ports have been tested with no success.  Tested dozens of other USB items with no problems.

The new USB midi is just too cool for me to give up just yet.

I have wireshark running.  Is there any particular method to get the needed log information?

[2019-03-21 13:45] siddacious commented on #1667
@makermelissa One thing I find extremely useful while debugging is turning off size optimization by removing the `-0s` here https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/Makefile#L95

This will prevent annoying things like variables being optimized out when you'd really like to know their values.

Obviously this makes the build larger so will probably only work with M4s an

[2019-03-21 13:53] dhalbert commented on #1642
To set up wireshark to trace USB traffic, follow the directions here: https://wiki.wireshark.org/CaptureSetup/USB. The critical thing is doing `sudo modprobe usbmon`. You could then run wireshark as root and not do the other stuff, but it's easier if you're not root.

When you start wireshark with usbmon loaded, you should see a list of usb controllers and see usb activity (there's a line graph sh

[2019-03-21 15:20] dhalbert commented on #1300
I got this working and will do a PR. However, a couple of notes:
1. On the PCA10056 board, there are P0.09, and P0.10 positions on the black female headers. But these are unconnected unless you move the 0-ohm jumper resistors from R44 to R43 and R46 to R45. That was a head-scratcher for a while; see [this Nordic Devzone comment](https://devzone.nordicsemi.com/f/nordic-q-a/30703/gpio-pin-mapping-is

[2019-03-21 15:25] dhalbert commented on #1300
Also, I didn't restrict this to just `DigitalInOut`, since conceivably the pins could be used for other purposes.

[2019-03-21 17:48] papahabla commented on #1677
I noticed that when using rotaryio, my detent encoder was only registering every other detent as a position change. Based on the c code, I wrote the following script to test a slightly different implementation and it seems to work pretty well for me with full detent resolution. Of course it needs to be ported back to C to take advantage of using interrupts.

[PEC16-4215F-N0024](https://www.digikey

[2019-03-21 18:05] dhalbert commented on #1677
@KacperLa @papahabla Which boards are you using? The nrf and atmel-samd implementations differ?

[2019-03-21 18:23] papahabla commented on #1677
@dhalbert  I am using the ItsyBitsy M4 Express.

[2019-03-21 19:09] tannewt commented on #1037
What does it look like if you print it as signed 16 bit numbers? It looks like its swinging around 0. (The long numbers of all ones are negative.)

[2019-03-21 19:11] #1300 closed

[2019-03-21 20:55] tannewt commented on #1639
I wasn't able to reproduce this. @kevinjwalters can you please post everything needed to reproduce this? Thanks!

I tried this code because it prints long strings:
[code]

[2019-03-21 20:56] tannewt commented on #1630
I can easily reproduce this by pasting a long string into the REPL via screen. Will try and fix shortly.

[2019-03-21 21:20] kevinjwalters commented on #1639
I've only noticed it on certain _exception_ output, not to say it doesn't occur on others, of course.

My first example got zapped when I encountered the #1643 bug :( I may have preserved another, let me go digging.

[2019-03-21 21:28] kevinjwalters commented on #1639
This did it on the 3rd attempt. Each time I was using up arrow/return to recall and execute the previous command in PuTTY. It's not fully reproducible though:

[code]

[2019-03-21 21:32] kevinjwalters commented on #1639
Here's one showing where it stops:

[code]

[2019-03-21 21:46] kevinjwalters commented on #1639
I'd suggest leaving this until I can get a more reproducible case.

[2019-03-21 21:59] tannewt commented on #1630
TinyUSB PR here: https://github.com/hathach/tinyusb/pull/46

[2019-03-22 10:48] jerryneedell opened #1679 "PyPortal crash -- USB disconnects"
With current Master
[code]
I have been running the openweather demo on a pyportal. After running for a few hours, it will suddenly drop the USB connection and the program appears to have stopped (not updates on screen. CIRCUITPY is no linger mounted and /dev/ttyACM0 is no longer accessible.

The screen just shows the last weather update -- no REPL messages

It recovers and runs normally after a ha

[2019-03-22 15:23] jerryneedell opened #1680 "PyPortal crash -- EventCountdown example"
I am finding that the PyPortal EventCoundown example causes a (HardFault) reboot to safe mode with the current CP Master build.  https://github.com/adafruit/Adafruit_Learning_System_Guides/tree/master/PyPortal_EventCountdown  Warning -- it may also corrupt the FS.  I have had varying results with this -- Sometimes it runs but the background splash disappears. Sometimes it crashes....

Run on:
Adaf

[2019-03-22 18:50] FutureSharks commented on #504
The lack of search is really annoying! I just want to find the code for `rotaryio`: https://github.com/adafruit/circuitpython/search?q=forked&type=Code

:(

@dhalbert not being a fork doesn't affect the ability to work with the main micropython repo. You can still pull and merge between repos that aren't forked.

[2019-03-22 20:34] dhalbert opened #1681 "serial_write_substring hangs when writing to disconnected USB"
If CDC USB is connected and then becomes disconnected, `serial_write_substring()` in `supervisor/shared/serial.c` will loop forever trying to write a string. The call to `tud_cdc_connected()` returns `true` even though USB has been disconnected. See code in https://github.com/adafruit/circuitpython/blob/master/supervisor/shared/serial.c#L54.

Opening an issue in tinyusb about this.

#1680 discusse

[2019-03-22 21:16] jerryneedell commented on #1681
@dhalbert If you run from a "code.py" and never connect to USB will this problem be avoided. That is, do you have to open a REPL session in order to trigger this?

[2019-03-22 23:09] tboie commented on #1642
[dump1.pcapng.zip](https://github.com/adafruit/circuitpython/files/2998717/dump1.pcapng.zip)

Hope that helps.  Can run more captures if needed

[2019-03-23 02:03] dhalbert commented on #1681
Yes, I believe it has to do with being connected and then disconnecting.

[2019-03-23 02:04] dhalbert commented on #1642
Thanks!

@hathach ^^ here's another USB trace, from a different host computer with issues (it's a Rockchip running Ubuntu).

[2019-03-24 01:03] rdagger opened #1683 "Displayio column & row commands are 16 bit (need 8 bit too)"
I wrote a CircuitPython displayio driver for the SSD1351 OLED 128x128 display.  I confirmed the init sequence works by manually sending SPI commands to the display using the _FourWire.send()_ method.  However, none of the displayio commands work.

A closer look with a scope shows that displayio sends 16 bit values when it calls _set_column_ and _set_row_.  The SSD1351 expects 8 bit values for colu

[2019-03-24 01:39] makermelissa opened #1684 "displayio: Option needed to allow SPI Chip Select Toggle between init commands"
Due to the way the ST7789 display works, the only way I was able to get it to work was to have the CS briefly go High, then Low between commands. I found this by examining the Arduino Driver and it seems particular to this display. I have confirmed that toggling this in CircuitPython does fix the display working. I am preparing my first PR to fix this and will submit when it passes on Travis.

[2019-03-24 02:26] jerryneedell commented on #1681
Just FYI, I have been running the slideshowsd.py example as code.py on a PyPortal with current master with no data connection, just a wall supply. After a few hours, the slideshow stops and I see on the screen that it has rebooted to safe mode. The reason is not displayed. If I then do a hard reset, it restarts the code.py slideshow.
No idea if this is related, but I wanted to report it since this

[2019-03-24 15:09] jerryneedell opened #1686 "PyPortal -- safe mode during slideshow"
I have been running the slideshowsd.py example bleow  as code.py on a PyPortal with current master with no data connection, just a wall supply. After a few hours, the slideshow stops and I see on the screen that it has entered safe mode. The reason is not displayed. If I then do a hard reset, it restarts the code.py slideshow normally.
May be related to #1681  but no USB connection is necessary an

[2019-03-24 16:46] makermelissa commented on #1683
@rdagger I noticed there's a comment in CircuitPython with this issue with a "To Do" next to it, so let's leave this open. However, I was able to get a working driver without this change for the SSD1351. As of right now the [PR](https://github.com/adafruit/Adafruit_CircuitPython_SSD1351/pull/3) hasn't been merged yet, but you can download it off my repo until it has.

[2019-03-24 17:32] dhalbert commented on #1680
I have tried this a few times. I am consistently seeing the background disappear, but otherwise it hasn't crashed. Does it crash right away, or should I let it run a while?

[2019-03-24 18:07] billr12 commented on #1516
Scott:

I just tried set_rgb_status_brightness on a PyPortal running beta 5.  With the command in boot.py, it works as expected.

With the command only in code.py (no boot.py) the led stays on when code is started either by powering the PyPortal or by hitting the reset button.  The led will be turned off by entering <ctrl>C in the Mu REPL while the code is running, or by re-saving the code while i

[2019-03-24 19:08] jerryneedell commented on #1680
@dhalbert  With the default settings, it does not crash immediately -- infact, it seems to be running OK today,
However, if I cahange the event date to:
[code]
it crashes immediately on first update. That is, I see the background, then after a few seconds, it crashes.

[2019-03-24 19:59] ladyada opened #1688 "displayio - allow ability to hide/show groups"
a flag property called `visible` or something, to quickly hide/show a group would be great, easier than popping/pushing when you have a big group stack?

[2019-03-24 20:12] ladyada opened #1689 "fontio - get bounding box requires an argument?"
[code]

[2019-03-24 20:13] jerryneedell commented on #1680
very strange -- I  run eventcountdown.py on the PyPortal, it runs OK -- I then copied eventcountdown.py to new_copy.py  -- When I run new_copy.py  it crashes...
a diff of the files does not report any difference.

In all cases, I am running this from the REPL not code.py.

even stranger,  any of the examples (that is different dates) run OK if loaded as code.py.....
My head hurts...

[2019-03-24 20:31] deshipu commented on #1680
I think it might depend on where the file is in the partition table, how it is split into blocks, and other things like that. On a non-express board you could just copy the ``current.uf2`` file to reproduce the whole filesystem exactly, perhaps we could have some tool to dump the filesystem off the flash chip on the express boards as well?

[2019-03-24 20:33] deshipu commented on #1110
This is merged as ``_pew`` already.

[2019-03-24 20:33] #1110 closed

[2019-03-24 20:35] deshipu commented on #1686
I had similar problems while developing the snake game for the Hallowing M0 Express. The code is at https://github.com/deshipu/hallowing-snake

[2019-03-24 21:00] deshipu opened #1690 "String internationalization for Polish"
I will work on that.

[2019-03-24 21:02] deshipu commented on #1098
I started a translation for Polish: https://github.com/adafruit/circuitpython/issues/1690

[2019-03-24 22:27] ladyada opened #1691 "displayio - pause display refresh (for setting up a bunch of items)"
the opposite of refresh_soon() :)

[2019-03-24 23:05] deshipu commented on #1691
maybe a context manager would work for this, pausing the display for the duration of executing the code inside of it

[2019-03-24 23:07] deshipu commented on #1691
something like:
[code]

[2019-03-25 01:04] dhalbert opened #1694 "displayio.Group should be iterable"
`displayio.Group` should be iterable, since it has a length and can be indexed.

Not sure if this should be 4.0 or 4.x.

[2019-03-25 01:37] ladyada commented on #1694
yahh i this would be handy :)

[2019-03-25 02:19] dhalbert opened #1695 "displayio: inner Group gets smashed"
On latest master:

The `testg.py` file below produces this output, showing that the `inner_group[0]` has been smashed in some way:
[code]
Minimal example, file `testg.py`:
[code]
The `max_size` values seem to be critical in some way to produce this output, though I've seen other erroneous output with other values, e.g.:
[code]
Note that the first string in the second `print()` statement has disapp

[2019-03-25 02:20] dhalbert commented on #1680
The essence of this bug is described in #1695. I don't know about the hard crashes, but that may be yet some other bug, or else it's a manifestation of the #1695 bug. Could close this in favor of #1680.

[2019-03-25 03:09] rdagger commented on #1683
@makermelissa I tested the SSD1351 driver and the example that you linked above and it doesn't work yet.  I don't see how it could until the changes to _set_column_ & _set_row_ byte length are added?

Maybe I'm misunderstanding your post or maybe you have a different revision of the SSD1351?  I'm using a generic SSD1351, but the Adafruit SSD1351 datasheet also shows a single byte for column/row st

[2019-03-25 03:50] dhalbert commented on #1683
Could be 4.0.0 milestone or could be 4.x, depending on whether this appears to be necessary.

[2019-03-25 03:58] ATMakersBill opened #1696 "XBox Adaptive Controller needs custom HID Descriptor & tweaks"
[Note: @dhalbert requested this issue even though it's really not a bug in CP, but in the XAC]

I spent a great deal of time getting the XBox Adaptive Controller (XAC) to work with CircuitPython.  I found that there were a number of issues with the XAC's implementation of HID that I had to work around.

I have reported those issues to Microsoft, but I've heard back that there will not be a quick r

[2019-03-25 04:28] makermelissa commented on #1683
Thanks for testing @rdagger. It must have been the CircuitPython PR I prepared for this. I'll test it with the PR again.

[2019-03-25 06:06] makermelissa commented on #1683
Oh, I didn't address your comment @dhalbert. I'd say it should remain a milestone since it's necessary for displayio to work on certain displays.

@rdagger I swear it was working last night, but it's not working for me anymore, so now I'm trying to figure out what I did so I can duplicate. :)

[2019-03-25 12:35] dhalbert commented on #1686
I ran the example above overnight. It didn't go into safe mode but it did throw an `IOError` 22 exception on this line in `adafruit_slideshow.py`:
[code]
I suspect something got smashed. I'm rerunning with a breakpoint on the lowest-level exception handling so I can catch something like this.

[2019-03-25 18:05] deshipu opened #1702 "ESP8266 messages still present in translations"
I have noticed that the translation template still contains all the messages for functions related to WiFi configuration on the ESP8266. Since the support for ESP8266 is getting removed in this version, perhaps we should also remove the messages, so that the translators don't have to do unnecessary work, and to save space?

[2019-03-25 18:34] KacperLa commented on #1677
I have been using the following encoder:

https://www.amazon.com/Signswise-Incremental-Encoder-Dc5-24v-Voltage/dp/B00UTIFCVA/ref=sr_1_2?keywords=encoder&qid=1553538276&s=gateway&sr=8-2

These are great for hobby use as they are very accessible and very precise. I believe its a hall effect quadrature encoder, to use it you have to wire it through a logic lever shifter but there are encoders like it

[2019-03-25 18:41] rdagger commented on #1683
Seems like it will be difficult for the displayio.display class to maintain compatibility across all the different LCD displays.  I took a look at writing a driver for an older Adafruit ST7565 display.  Instead of a _set_column_ command it has _set_column_upper_ and _set_column_lower_ commands.  Instead of _set_row_ it has _set_page_ (The display is broken into 8 horizontal pages which are numbere

[2019-03-25 18:50] deshipu commented on #1683
Fortunately there is a very limited number of different displays in use in there, and all the new ones follow the MIPI standard, so we could either hard-code the weird ones or simply completely leave them out.

[2019-03-25 18:59] ATMakersBill commented on #1696
Here are the issues I sent to Microsoft (Bryce Johnson) about how they could improve the HID support in the XAC.  He thanked me and it's in the pipeline, but honestly it's not going to be a speedy fix.
[XBox Feedback.pdf](https://github.com/adafruit/circuitpython/files/3005031/XBox.Feedback.pdf)

[2019-03-25 19:03] makermelissa commented on #1683
In certain cases such as this display, I think there is enough flexibility to get it working. I had it displaying the other night, but must not have unplugged the display before testing Beta 5, so something was still properly initialized when I tested. I do know it works under the right conditions though.

[2019-03-25 20:12] deshipu opened #1704 "displayio.Group.sort()"
It would be nice to have it, to be able to, for example, sort the sprites by their ``y`` coordinate.

[2019-03-25 20:15] deshipu opened #1705 "displayio.Group rotation and flipping"
It would be nice to be able to rotate the Group in 90° increments, and to be able to mirror and vertically flip it. One way of implementing it would be adding an ``orientation`` attribute, with eight possible values. One bit would control horizontal flip, one bit — vertical, and last bit would control swapping of the ``x`` and ``y`` coordinates (diagonal flip). This way we can have all possible or

[2019-03-26 00:32] dhalbert commented on #1686
@jerryneedell How many images were in your slideshow?

[2019-03-26 00:34] jerryneedell commented on #1686
Four

[2019-03-26 00:37] dhalbert commented on #1686
Thanks, I was seeing the exception above within half an hour or so with 13 images; reduced it to 12, and it's running for a couple of hours, but doesn't seem critical. In the bug above, the value passed in instead of the `image_name` string was the integer `14`, which is suspiciously close to 13. Hence my try to reduce it by one and see if I see something similar.

[2019-03-26 02:43] dhalbert commented on #1702
We should remove the esp8266 port from the translation files. However, the strings don't show up at all in anything that's built, because they're port-specific and not included in non-esp8266 ports. So it appears it's a waste of human time, but not flash space.

[2019-03-26 02:48] dhalbert commented on #531
@tannewt The huffman coding is not dictionary-based across strings, is that right? I looked for a library that does dictionary-based compression across multiple strings with a shared dictionary, but didn't find anything. All the libraries seem to be very stream oriented. I'd think we might do well with a dictionary scheme because the messages have quite a few substrings in common.

[2019-03-26 03:00] jpecor opened #1707 "Deprecated link to usb.org in adafruit_hid documentation"
There's a link to usb.org in the adafruit_hid.keycode.Keycode section of the documentation:

http://www.usb.org/developers/hidpage/Hut1_12v2.pdf#page=58

This link appears to be deprecated and leads to a Page Not Found error.   I did some traversing around usb.org and found the **_Hut1_12v2.pdf_** document here:

https://www.usb.org/sites/default/files/documents/hut1_12v2.pdf

But I don't know for

[2019-03-26 03:15] dhalbert commented on #1617
Also tested Metro M0 with 4.0.0-beta.5 on same Samsung Chromebook as above. Didn't work either, so it doesn't appear to be a crystalled-vs-crystalless difference.

[2019-03-26 05:44] makermelissa commented on #1667
Thanks @siddacious. I missed your comment before, but I'm playing around with this now. I soldered a 5-pin header onto the proto area of my Feather M4 with wires so I can connect it to a debugger easily.

[2019-03-26 07:05] makermelissa commented on #1683
Ok, I figured it out. I was using && instead of & for bitwise and. Once I fixed that it worked beautifully. Submitted PR so hopefully we'll get that up and running pretty soon.

[2019-03-26 15:03] dhalbert commented on #1690
Do you want to try to get this done for 4.0 or 4.x (later)?

[2019-03-26 15:11] deshipu commented on #1690
I'm not really aiming at any particular deadline — I'm working on it as I have time. Currently I'm at about 40%, so my guess is that I should finish by the end of this week, but I can't guarantee it.

[2019-03-26 17:21] s-light commented on #1315
@dglaude a minimalistic example:
[code]

for a more 'in context example' have a look at
https://github.com/s-light/slight_CircuitPython_TLC5957/blob/master/examples/slight_tlc5957_gsclock_test.py#L97

'menu-use' can be found in [this project](https://github.com/s-light/magic_crystal_animation/blob/master/src/animation.py#L539)

all of these examples have the problem that the call to `input` is blo

[2019-03-26 17:46] dhalbert opened #1709 "Can't connect to REPL with Debian 9"
Some users have been unable to connect to the REPL from Debian Linux machines. This problem may be related to #1642 and #1617.

See @mlupo commenting in https://forums.adafruit.com/viewtopic.php?f=60&t=149291#p737722. MTO in discord #help-with-circuitpython 2019-03-25 also had trouble with two different Debian 9 machines, a Udoo Ultra (x64) running Debian 9.7, and an older laptop running 9.somethi

[2019-03-26 19:40] s-light commented on #1315
i just asked for this in discord chat:

@s-light there is a peek functionality available at a low level, but we haven't exposed it. Feel free to file an issue. In the long run we would like to have a separate serial channel available that's not mixed in with the REPL.

he explained in more details that he meant with **separate serial channel**  a second 'com-port' created by circuit python... usab

[2019-03-26 20:46] tannewt commented on #1639
Ok, moved to Long Term and will bump it back up when we can reproduce it.

[2019-03-26 20:55] dhalbert commented on #1709
I installed Debian 9.8 on an external hard drive, and then booted it up on three machines:

1. Dell Optiplex 7010 desktop
2. Dell Latittude 4310 laptop
3. Lenovo 110S laptop

In all cases, I was able to connect a PyPortal running 4.0.0 beta.5, and then connect to the REPL via `/dev/ttyACM0`. So I'm not sure what's going on with the other machines. I've asked @MTO on discord to update to 9.8 to see

[2019-03-26 21:03] tannewt commented on #504
@FutureSharks Our code for modules is consistently structured so it should be easy to find. The layout is described here: https://circuitpython.readthedocs.io/en/latest/docs/common_hal.html

Breaking the fork connection on GitHub will make it less obvious that we are a fork of MicroPython. I want to leave it as a way to make our relationship to the original project clearer.

[2019-03-26 21:30] tannewt commented on #1516
Ok, thanks for retesting @billr12. I'll reopen because this should be a quick fix. I have a feeling the brightness set isn't triggering an immediate write to the pixel when it should. A quick test would be to infinite loop after setting the brightness.

[2019-03-26 21:32] tannewt commented on #1689
`fontio.BuiltinFont` is the type, not the instance. Use `terminalio.FONT` to get the `BuiltinFont` used by the terminal.

[2019-03-26 21:32] #1689 closed

[2019-03-26 21:34] tannewt commented on #1691
I expect to experiment a bunch with frame synchronization in 4.x once we can actually update a frame faster than the display does. Thanks for making an issue for it.

[2019-03-26 21:34] tannewt commented on #1694
Agree with 4.x. I want to lock `displayio` down now for 4.0.0.

[2019-03-26 21:39] tannewt commented on #1696
For now please make a fork available that bakes in the other descriptor.

I would like to support this through custom USB descriptors in boot.py in the long run. We'll re-prioritize issues after 4.0.0 and hopefully have a better timeline for this then. I'd like to do it sometime this year because it will close #231, our second oldest bug too.

[2019-03-26 21:42] tannewt commented on #1704
Note that this is `.sort` so it happens in place. `sorted(group)` would create a new object.

@deshipu Does this need to be native? You could make a Group subclass to do it instead.

[2019-03-26 21:43] tannewt commented on #1705
Would you prefer Group over TileGrid support?

[2019-03-26 21:45] tannewt commented on #1707
@jpecor I imagine that is the correct document. Mind creating a PR to update it?

Will transfer this to the adafruit_hid repo now since that's where the PR will need to be.

[2019-03-26 21:56] deshipu commented on #1704
It's a bit difficult to do fast sorting when all you have is access to individual elements...

How about a different approach — instead of having Group as the container, have Group.items that would be a regular Python list — then you get all the list methods for free, including slices and sort.

[2019-03-26 22:03] deshipu commented on #1705
I have no preference, both work for me, and I suppose ``TileGrid`` is a little easier to implement, but having it on ``Group`` would be more consistent given that groups already have coordinate offsets on them. Come to think of it, to have it on groups you would need to have it on tiles first, so maybe we can start with that, and add it to the group later if it is needed.

For me the use case is t

[2019-03-26 22:11] tannewt commented on #531
@dhalbert Correct. It's only individual byte frequency.

ngrams could help for unicode characters and common substrings but adds overhead in the encoding of the huffman tree itself.

Another thing we could do is apply the huffman compression to QSTRs. It's more challenging because QSTRs are dynamically added as well as static. We'd save memory by doing of for string objects as well.

[2019-03-26 22:31] tannewt commented on #1705
Totally. I plan on adding them. It's just a question of where. Starting with TileGrid makes sense to me.

One challenge will be OnDiskBitmap because reads in one direction are waaaaaayyyy faster than the other.

[2019-03-26 22:33] tannewt commented on #1704
The challenging bit of C sorting is that the key function will likely be python still. (How would you choose what to sort by otherwise?)

I've thought about making Group more closely tied to list post-4.0.0. I don't like static allocation it does now.

[2019-03-26 22:34] emteeoh commented on #1709
On the Odroid, uname -a reports
Linux hc2-2 4.14.87+ #1 SMP PREEMPT Thu Dec 20 14:41:09 UTC 2018 armv7l GNU/Linux

On the Udoo:
uname output before and after:
Linux OfficeOfMTO 4.9.0-8-amd64 #1 SMP Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux
Linux OfficeOfMTO 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux

I don't see a change in behaviour: The filesystem doesn't mount, t

[2019-03-26 22:34] emteeoh commented on #1709
Here's dmesg from the odroid (which works fine)
[4251594.309299] usb 2-1: new full-speed USB device number 2 using exynos-ohci
[4251594.548350] usb 2-1: New USB device found, idVendor=239a, idProduct=8032
[4251594.553786] usb 2-1: New USB device strings: Mfr=2, Product=3, SerialNumber=1
[4251594.561057] usb 2-1: Product: PyPortal
[4251594.564954] usb 2-1: Manufacturer: Adafruit Industries LLC
[425

[2019-03-26 22:43] emteeoh commented on #1709
On the laptop: A Lenovo Thinkpad X1 Carbon (4th gen) also running debian 9.8
The kernel was already up to date. Dist-upgrade only updated a few libs.
uname output:
Linux CarbonX1G4 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux

from dmesg when I plug in the pyportal:
[ 4885.145818] usb 1-1: new full-speed USB device number 90 using xhci_hcd
[ 4885.297839] usb 1-1: New USB d

[2019-03-26 22:43] deshipu commented on #1704
I could keep a helper list on the side, sorting it and updating the group with it, but currently that would involve removing all elements from the group one-by-one, and then re-adding them one-by-one from the list. Slice assignment could be great for this (``group[:] = sorted(group)``) I suppose.

[2019-03-26 22:49] #1669 closed

[2019-03-27 02:07] mgithubreq opened #1712 "4.x beta crashes when Trinket M0 plugged into an Android phone OTG port"
Trinket M0 running 4.x beta or HEAD works fine when plugged into a laptop and fails when plugged into a Android phones using an OTG cable.  3.x works fine on the same devices.

[2019-03-27 02:08] dhalbert commented on #1712
@hathach This might be a good lead on some USB issues, and one you could test locally.

[2019-03-27 05:51] makermelissa commented on #1667
Ok, I decided to set up the debugger as described above (except for the Metro M4) and really go to town. Here's the Backtrace @dhalbert:
[code]

[2019-03-27 05:53] makermelissa commented on #1667
It probably doesn't matter, but the compiled code was what I had in this PR: https://github.com/adafruit/circuitpython/pull/1708

[2019-03-27 05:55] makermelissa commented on #1667
It didn't corrupt the file this time (maybe because I typed `continue`), but I hope this helps you trace it.

[2019-03-27 06:00] makermelissa commented on #1667
@dhalbert, if you want, I can also try on my feather M4 express. I modified it using the protoboard area so I can hook a debugger up easily now. :)

[2019-03-27 06:29] makermelissa commented on #1667
Ok, this time I got the Red LED and it corrupted the filesystem. Here's back trace and what happened when I tried to continue:
[code]

[2019-03-27 06:43] ATMakersBill commented on #1695
@dhalbert I may be hitting the same issue on a PyPortal with latest everything (yesterday's bundle and 4.0 beta5)
Adafruit CircuitPython 4.0.0-beta.5 on 2019-03-17; Adafruit PyPortal with samd51j20

I just thought I'd add a comment that I had seen none of this instability until I started reading the image and sound files from the SD card.  The card's not corrupted and works fine in my laptop, but

[2019-03-27 09:04] FutureSharks commented on #504
OK fair enough, thanks for the reply @tannewt

[2019-03-27 15:08] #1516 closed

[2019-03-27 15:09] #1630 closed

[2019-03-27 15:58] hathach commented on #1681
@dhalbert I just find out the dcd_samd21 doesn't report disconnection/unplug event to the stack. So yes, if you provide the power via DC jack to Metro M0 then unplug the usb cable. The stack will still think it is connected. Hmm, very tricky is I couldn't find an way to detect such event reading through samd21 family data sheet. The closest thing I could detect is suspend interrupt, which will alw

[2019-03-27 16:01] dhalbert commented on #1681
I was thinking we could detect that a write (and maybe a read) was stalled, and set a flag that says it's disconnected.

Is this only samd21 or also samd51? Is this inherent in the peripheral or is it an ASF4 issue?

[2019-03-27 16:07] hathach commented on #1681
@dhalbert STALL is bit signal, same as ACK or NAK. Physical disconnect will cause the bus in SE0 ( D+ and D- in LOW). Somehow It also generate the suspend event (J state for 3 ms) with samd. I couldn't find way to detect usb disconnect with samd21 and samd51, but I am not familiar with them. Maybe you or other may know better.

[2019-03-27 16:09] dhalbert commented on #1681
I don't mean a literal USB STALL, just a write that isn't making progress (zero characters written).

[2019-03-27 16:20] hathach commented on #1681
imo, suspend is much better for this. I am looking more closer now. Maybe it is somewhere else, power module or something..

[2019-03-27 17:58] #1695 closed

[2019-03-27 18:07] tannewt commented on #1098
Hi all,
We're nearing completion of the first 4.0.0 stable release. We'll get many more people trying it as a result. Please take a look at translations when you have a chance and make any changes you'd like to see in 4.0.0. We can always update them after as well.
Thanks!

[2019-03-27 18:07] dhalbert commented on #1680
I think this is fixed by #1714. Could you reopen if you are still seeing crashes? Thanks.

[2019-03-27 18:07] #1680 closed

[2019-03-27 18:14] dhalbert opened #1717 "Consider using SdFAT library instead of Python modules for SD card"
@ladyada says this code is solid: https://github.com/greiman/SdFat

[2019-03-27 19:09] tannewt commented on #1667
@makermelissa What code was running when this happened? The varying stack trace seems to indicate memory corruption. @dhalbert just submitted a fix for memory issues when TileGrid is used with a ColorConverter. Any chance you were using it?

[2019-03-27 19:10] makermelissa commented on #1667
I was running the example code from the ST7735 library and rapidly making changes and saving the file.

[2019-03-27 19:13] makermelissa commented on #1667
Yep verified. It was using TileGrid. I'l try it with the fix.

[2019-03-27 19:16] tannewt commented on #1644
@dhalbert Do you plan on doing this for 4.0? Seems like we could do this in 4.x.

[2019-03-27 19:17] dhalbert commented on #1644
I'll move it to 4.x. I know what I want to do, but I need to test it too.

[2019-03-27 19:29] tannewt commented on #1679
Is this pixel_shader related too?

[2019-03-27 20:28] C47D commented on #1098
I will try to get the Spanish translations up to day, haven't looked into it in a while.

[2019-03-27 20:50] tannewt commented on #1627
I'm unable to reproduce this with 94822ee2088960e6f68c9d4f05606cdb47c9ba5c built in debug mode on the PCA10056. I loaded it with JLink and then added a blinky code.py (below), made the lib folder and then dragged the lib folder over. I also copied the examples over. It was slow but didn't have errors.

Next I repeatedly ejected the drive, disconnected the usb data lines with an inline switch, rese

[2019-03-27 20:50] #1627 closed

[2019-03-27 20:54] tannewt commented on #1654
Is this still an issue?

[2019-03-27 21:12] dhalbert commented on #1654
We need to test this again. I don't think we've fixed anything that would necessarily fix this.

[2019-03-28 00:13] nickzoic commented on #1677
Yep, it's dividing down by four to be compatible with the other rotaryio implementations (see #1045 / #1521)

It'd be easy enough for it to be modified not to, perhaps by adding a constructor argument 'divider' which can default to 4.  Values 1,2 and 4 are probably pretty sensible for different kinds of encoder.

[code]

@tannewt what do you reckon?

-----Nick

[2019-03-28 01:01] nickzoic commented on #1563
Yeah, it is a bit obscure.  There's sample code in PR #1534 ... the stuff to update is the `\\|` stuff in `shared-bindings/rtc/__init__.c`, right? I probably should have done that as part of #1534 already ...

[2019-03-28 01:12] cpforbes commented on #1617
I just tested a build of #1721
It worked fine on Centos 7 and my chromebook.

[2019-03-28 04:46] makermelissa commented on #1667
Ok, I got it to HardFault twice with this:
[code]
However, it did not corrupt the filesystem like before, so definite improvement.

[2019-03-28 05:34] tannewt commented on #1667
@makermelissa When you have a chance please describe your whole setup. I'll try to replicate it tomorrow.

[2019-03-28 05:48] makermelissa commented on #1667
Ok. I have an M4 Metro with Siddacious' MetroWing adapter on it (it was either that or my modified Feather M4 with debug header), an Adafruit Mini Color TFT with Joystick FeatherWing, and a JLink Edu connected to the Metro.

For software, I had compiled the latest with this https://github.com/adafruit/circuitpython/pull/1708. For CP code and libraries I had the latest ST7735 PR that I had submitte

[2019-03-28 13:20] #1617 closed

[2019-03-28 15:17] dhalbert commented on #1709
@emteeoh Could you try this build on your pyportal, on the various hosts that don't work?

https://adafruit-circuit-python.s3.amazonaws.com/bin/pyportal/en_US/adafruit-circuitpython-pyportal-en_US-20190328-c6e3b17.uf2. This is the build from this PR: https://github.com/adafruit/circuitpython/pull/1721.

[2019-03-28 15:25] dhalbert commented on #1642
@tboie Could you try this build on your Feather M0 Express?
https://adafruit-circuit-python.s3.amazonaws.com/bin/feather_m0_express/en_US/adafruit-circuitpython-feather_m0_express-en_US-20190328-c6e3b17.uf2.

It fixes a USB HID problem that may also affect connectivity. PR for fix is #1721.

[2019-03-28 16:45] #1684 closed

[2019-03-28 17:11] tannewt commented on #1677
@nickzoic divider with a default of 4 for backwards compatibility sounds good to me.

[2019-03-28 17:14] tannewt commented on #1563
Yup, `\\|` lines are filtered out and treated as an rst file.

[2019-03-28 19:10] hathach commented on #1617
phew, finally this is fixed :+1: :+1:

[2019-03-28 19:24] tboie commented on #1642
Works after a quick test!

[2019-03-28 20:02] dhalbert commented on #1642
OK, we'll declare this fixed by #1721!

[2019-03-28 20:02] #1642 closed

[2019-03-28 20:16] kattni commented on #1621
This is complete!

[2019-03-28 20:16] #1621 closed

[2019-03-28 20:37] dhalbert commented on #1712
@mgithubreq Could you try this build on your Trinket M0?
https://adafruit-circuit-python.s3.amazonaws.com/bin/trinket_m0/en_US/adafruit-circuitpython-trinket_m0-en_US-20190328-c6e3b17.uf2

It fixes a USB HID problem that may also affect connectivity. PR for fix is #1721.

[2019-03-28 20:41] dhalbert commented on #1702
Fixed by #1716.

[2019-03-28 20:41] #1702 closed

[2019-03-28 21:33] emteeoh commented on #1709
Wahoo! CIRCUITPY mounts, *and* I can talk to it on the console!
It is seeing some garbage on the console somehow, causing errors, but I'm pretty sure that's host side. Once I'm on the console and hit CTRL-D it runs normally.

Could we get a build for the neoTrellis too?

[2019-03-28 21:38] dhalbert commented on #1709
Just look for the same commit number c6e3b17 (or later) on the Amazon S3 site above for other builds.

The garbage you are seeing could be due to `modemmanager` running on your host (especially if you se "AT" in the strings. Just uninstall it -- it doesn't have much purpose nowadays.

[2019-03-28 21:38] #1709 closed

[2019-03-28 22:32] emteeoh commented on #1709
Thanks!
The neoTrellis works too with c6e3b17!

removing modemmanager fixed the garbage, too.

[2019-03-28 23:30] KacperLa commented on #1677
That would be fantastic!!!

[2019-03-29 00:52] makermelissa opened #1723 "Create Adafruit_CircuitPython_SSD1331 Repo"
Please create a new repo named "Adafruit_CircuitPython_SSD1331". Thanks

[2019-03-29 02:01] ladyada commented on #1723
ok!!

[2019-03-29 02:01] #1723 closed

[2019-03-29 02:06] makermelissa commented on #1723
Thanks!

[2019-03-29 06:45] mgithubreq commented on #1712
@dhalbert Thank you!  Unfortunately, I can't test this right now.  We have only one Trinket and I already passed it on to the team doing further integration into our target device...

[2019-03-29 07:13] TheRealByron opened #1724 "PyPortal - Demo code: ValueError: syntax error in JSON (after 72 hours)"
I believe I've encountered an error in the PyPoral Library that supports the code.py that retrieves Adafruit famous quotations. After an estimated 72 hours of "burn-in", I found the screen in text mode with a stacktrace-looking stream of text:
rieving data...Reply is OK! (beginning of that has scrolled off screen)
Couldn't parse JSON
The actual "text" value appears truncated, and there is no attri

[2019-03-29 12:29] dhalbert commented on #1712
I tried this on an Amazon Fire, and it no longer seems to crash. Unfortunately, the HID keyboard presented by the Trinket prevents the on-screen keyboard from appearing, and there was no obvious way to allow the on-screen keyboard to appear. I'm going to close this for now, because it sounds similar to the other scenarios for #1721.

[2019-03-29 12:29] #1712 closed

[2019-03-29 12:33] dhalbert commented on #1686
I let this run overnight, unconnected to USB, and it didn't crash. There are still problems related to USB connect/disconnect (#1681), but #1721 or other fixes may have fixed the underlying problem here.

[2019-03-29 15:57] #1683 closed

[2019-03-29 19:33] dhalbert commented on #1690
PR #1725 from @deshipu merged to complete this for 4.0.

[2019-03-30 20:12] alwayslinux2 opened #1728 "PyPortal Crash into HardFault_Handler"
Code runs for variable amount of time, then hard crashes, doesn't matter what the except tries to catch.

One example:
You are running in safe mode which means something unanticipated happened.
Looks like our core CircuitPython code crashed hard. Whoops!
Please file an issue at https://github.com/adafruit/circuitpython/issues
 with the contents of your CIRCUITPY drive and this message:
Crash into

[2019-03-30 20:39] dhalbert commented on #1728
Thanks for the report.

1. Could you use beta.6 instead of this intermediate build? Thanks.
2. What is typically a "variable amount of time": seconds, minutes, hours?
3. Could you confirm that your pyportal library is up to date?
4. When running, are you connected to the REPL? If so, does your host computer go to sleep, and then the crash happens?

I'm running your code on a PyPortal, same except

[2019-03-30 21:11] alwayslinux2 commented on #1728
I was on adafruit-circuitpython-pyportal-en_US-20190327-df79e9a.uf2
but I also tried adafruit-circuitpython-pyportal-en_US-4.0.0-beta.5
and adafruit-circuitpython-pyportal-en_US-4.0.0-beta.6
The daily seemed to crash within minutes at most.
beta 5 I didn't let run all that long
beta 6 crashed a couple times right away, but then has been running for 30 minutes so far.
[nature.bmp.gz](https://github

[2019-03-31 00:58] dhalbert commented on #1728
I have reproduced some kind of hang after running this for a number of hours. I've restarted it with a debugger to see what I can catch. It was running unattached to USB (power-only cable), and I'm repeating that.

[2019-03-31 07:59] suraj022 opened #1730 "No module named bitbangio"
I'm using circuitpython on a custom made arduino zero board. I've got it all working and using the circuitpython version 3.1.2 for arduino zero.

but when I try to import bitbangio, I get this error:

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: no module named 'bitbangio'
`

what is the solution to it?

[2019-03-31 11:08] deshipu commented on #1730
Use ``busio`` instead?

[2019-03-31 13:42] RWeducation commented on #1730
Does `busio` allow SPI on any pin?

[2019-03-31 13:59] dhalbert commented on #1730
`bitbangio` is omitted from the Arduino Zero build for space reasons. The Zero uses 64kB of internal flash for CRICUITPY, so flash state is very tight, as with Gemma M0 and Trinket M0 It would be possible to add `bitbangio` back and remove something else to make room.

`busio` does not allow SPI on any pin: there are restrictions based on the SPI peripheral on the SAMD21. But if you choose your pi

[2019-03-31 14:22] alwayslinux2 commented on #1728
I let it run overnight, using beta 6, and it has now run without error for 14 hours. Maybe it was fixed by beta 6.

[2019-04-01 03:25] jerryneedell opened #1733 "hallowing "pl" build failure"
I tried running the tools/build_release_files.py  on the current master and get one failure

[code]

this was after the https://github.com/adafruit/circuitpython/commit/bd4a156b9d0ce02300f0ca1cc01c582d0a01d3a1

commit

It looks like Travis succeeded, so it is not clear why it is failing for me.

[2019-04-01 03:32] sommersoft commented on #1733
During discussion of this on Discord, I replicated the above. However, I get a slightly different build size.

[code]
This was built on my Vagrant VM running Ubuntu 18.04. gcc version:
[code]

[2019-04-01 05:56] RWeducation commented on #1730
makes sense. How would I add this module while compiling it myself?

[2019-04-01 18:10] #1733 closed

[2019-04-01 18:24] FutureSharks commented on #884
Any update on this?

I'm trying to write to a ring of 16 pixels to show the position of an encoder when it is turned by a human. Currently the lag makes it feel quite unresponsive on my Itsy Bitsy M0:

[code]

Currently it takes about 250ms to fill the whole ring.

[2019-04-01 18:27] ladyada commented on #884
shark, turn off auto_write, also use `fill()`

[2019-04-01 18:28] dhalbert commented on #884
@FutureSharks Besides the `_pixelbuf` work described above, in progress:

1. Set your `brightness=1.0` (or omit the arg: it defaults to 1.0) which will speed things up, and make the color values smaller to compensate. When `brightness` is not 1.0 the pixel values must be copied before sending out the data.

2. Set `auto_write=false`. Set the pixel values in that `for` loop, and then after the loop

[2019-04-01 18:28] kevinjwalters commented on #884
Your question is probably better placed in the forums.

Try `auto_write=False` and after the `for` loop do a `pixels.show()`. What does the 4 tuple do, I normally see those as (red, green, blue) values? Also if you want it even quicker use brightness=1.0 and control brightness by reducing the values you are setting.

[2019-04-01 18:43] FutureSharks commented on #884
Thanks @ladyada but I don't want to fill the whole ring with the same colour. The ring is supposed to show the position of the encoder to a human so if the ring is all one colour it doesn't show anything.

I tried disabling `auto_write` but performance is the same:

[code]

I get a memory allocation error `MemoryError: memory allocation failed, allocating %u bytes
` when testing [CircuitPython_Pix

[2019-04-01 18:44] dhalbert commented on #884
Move the `.show()` out of the loop:
[code]

[2019-04-02 00:40] dhalbert commented on #1730
In ports/atmel-samd/boards/arduino_zero/mpconfigboard.mk, set `CIRCUITPY_BITBANGIO = 1`. If the build then overflows flash, you'll need to turn other things off by setting them to 0. But see if it fits first.

[2019-04-02 02:50] nickzoic commented on #1561
G'day Melissa!  PR #1534 did not turn out as well as I'd hoped but hopefully the PR #1736 should address this ...

[2019-04-02 03:52] makermelissa commented on #1667
I just had my lib directory get wiped out on Beta 6 with this same pesky error. Unfortunately I didn't have my debugger running at the time. Now that I know the bug still exists in Beta 6, I'll hook my debugger up.

[2019-04-02 06:00] makermelissa commented on #1667
Ugh, it wiped it again, but this time I got a backtrace:
[code]

[2019-04-02 06:10] tannewt commented on #1667
With the ST7735 example still? This smells of memory corruption to me. Were you interacting with the drive a bunch also? If not, it may reproduce ok.

[2019-04-02 06:13] ladyada commented on #1667
funny i was adding ST7735 to the CPX and getting a lot of hardfaults too, just running the simpletest thought it was me :/

[2019-04-02 07:23] tannewt commented on #1667
@ladyada What code were you running? I'll try and track it down tomorrow.

[2019-04-02 14:12] makermelissa commented on #1667
Actually, this time I was working on the SSD1331 library. Possibly displayio init code? It happens when I rapidly edit and save.

[2019-04-02 17:24] RWeducation commented on #1730
Tried building with `CIRCUITPY_BITBANGIO = 1` and got the following error.

`Use make V=1, make V=2 or set BUILD_VERBOSE similarly in your environment to increase build verbosity.
In file included from ../../shared-bindings/bitbangio/__init__.c:32:0:
../../shared-bindings/bitbangio/__init__.c:88:50: error: 'MP_QSTR_bitbangio' undeclared here (not in a function); did you mean 'MP_QSTR_rotaryio'?

[2019-04-02 18:20] TG-Techie opened #1738 "missing error message `bytes(negative number)`"
I was messing around in python, for fun, and noticed that there was no error message for trying to make a bytes instance of a negative number. instead of saying 'ValueError: cannot convert negative number to bytes' it just raises 'ValueError:'.

this is copied from the repl on mu.
[code]
running: os: macos, cirpy: beta4 built on the first of april from master.

[2019-04-02 18:40] tannewt commented on #1728
Please reopen if this happens again with Beta 6.

[2019-04-02 18:40] #1728 closed

[2019-04-02 18:40] tannewt commented on #1667
Has anyone seen it with a built-in display? Or is it only when code.py is initing?

[2019-04-02 19:32] makermelissa commented on #1667
I haven’t tried on a device with a built in display.

[2019-04-02 21:53] tannewt commented on #1667
I managed to reproduce a HardFault on an M4 (pybadge) but it is very touchy. If I insert assembly the problem goes away.

I think the best approach will be reproing on the M0 and then using the micro trace buffer to see what was done recently. Will try that after I take a break.