[2021-07-29 06:18] hathach commented on #4998
I dont know for sure if it is due to crystalless or not. But I haven't got tinyusb running on L4 Discovery board, and didn't have time to look further at it.You could give it a try.

[2021-07-29 12:48] dhalbert commented on #5076
The code in the library is not the problem, but there might be a problem in the default keyboard report descriptor, so I have transferred this issue to https://github.com/adafruit/circuitpython/. If there is a problem, it might be that MacOS is more sensitive to this than Windows. It is a signed/unsigned-value problem.

Could you try this UF2 and see if it makes a difference? Unzip it before uploa

[2021-07-29 15:05] dhalbert commented on #4190
@hathach I have just noticed USB disconnects randomly while trying to debug some audio playback on RP2040. I am not doing MIDI. USB becomes disconnected, but when I reconnect, everything is fine (no crash). I will try to narrow this down later. Perhaps the USB interrupt handling is being starved or disabled due to some other operations. I am doing some DMA (audio and display).

[2021-07-29 17:44] tannewt commented on #5043
How are you getting the name of a BLE beacon? My impression is that they may simply advertise an ID that an app can lookup for a name. `NRF Connect` will list the contents of advertisements around you.

[2021-07-29 17:49] microDev1 commented on #5023
Converting this to a feature request for CPython `atexit` module. We already have an issue open for `print_exception()` (#4748).

[2021-07-29 19:24] Loopbackconnector commented on #4775
12 + hours after update and display still looks good!

[2021-07-30 00:34] henoya commented on #5076
Dan-san
I tried UF2 and got the following error.

[code]

The code in `code.py` is the same as the first.

[2021-07-30 16:19] #4010 closed

[2021-07-30 16:19] #4869 closed

[2021-07-30 19:16] hierophect opened #5080 "supervisor.set_next_code_file should store across deep sleep"
The implementation of #3454 does not currently behave in an intuitive way when used in conjunction with Deep Sleep. In general, a "sub program" called by `supervisor.set_next_file` should behave in an identical way to a typical `code.py` program, so that code examples and copied projects can be used without thinking about whether they've been selected from a menu. However, current programs that us

[2021-07-30 19:18] hierophect commented on #4409
Resolved by #4816, whoops

[2021-07-30 19:18] #4409 closed

[2021-07-30 19:27] hierophect opened #5081 "Add SleepMemory for RP2040"
Adding RP2040 sleep memory is actually kind of tricky because of the way we handle the general RAM during deep sleep. Unlike every other port, the RP2040 is actually *incapable* of fully shutting down the RAM during deep sleep - even the lowest power settings still retains all data. In an effort to be as close as possible to the other ports, which typically lose all memory when deep sleeping, the

[2021-07-30 19:34] hierophect opened #5082 "Try powering down memory in RP2040 deep sleep"
Section 2.11.4 of the RP2040 datasheet notes that the memory can be set to a low power state during deep sleep using MEMPOWERDOWN. This is not used in the deep sleep examples given by the demo SDK and the amount of power it saves is not described. As noted in #5081, this still does not result in any data loss, it's just a lower power state and apparently needs a little bit of extra time to start b

[2021-07-30 22:45] FoamyGuy opened #5084 "Vectorio doesn't seem to display rotation properly"
### CircuitPython version

[code]
[code]

### Behavior

When the display is at rotation `0` the rectangle gets drawn as expected a 50px wide, 1px tall line:
![image](https://user-images.githubusercontent.com/2406189/127717971-089a7885-51a0-405c-b583-a732647e74a9.png)

When the display rotation is `90` we get a filled in rectangle, looks like 50px tall and over 100px wide, not sure of exact size:
!

[2021-07-30 23:04] FoamyGuy commented on #5084
@WarriorOfWire I'm curious if you have any ideas on cause or potential solutions for supporting rotations other than `0`

[2021-07-31 12:38] Red-M opened #5086 "Teensy 4.1 cannot boot 7.0"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

I flash the mentioned 7.0.0 versions and when I plug the teensy back in, after about 3 minutes, all I get is this USB descriptor:
![image](https://user-images.githubusercontent.com/1468433/127740071-e5cba471-9da3-4e1d-a22a-05f8b6e6c6f6.png)

### Description

_No response_

### Additional information

_No response_

[2021-07-31 12:40] aivarannamaa commented on #2791
It looks like the need to update display makes using REPL slower. It may not be relevant for manual usage, but Thonny, for example, uses REPL for management tasks (eg. for querying variables and available modules) and also for running code from the active editor. Because of this, using TrinketM0 in Thonny is much smoother experience compared to CLUE (which contains faster processor, if I'm not mis

[2021-07-31 15:31] dhalbert commented on #5076
I would be interested in seeing the HID report descriptor for your off-the-shelf Japanese keyboard. On the Mac, you can dump it using this tool: https://github.com/todbot/mac-hid-dump. A precompiled version of this is  in https://github.com/todbot/mac-hid-dump/releases/tag/0.1, in the zip file. Thanks.

[2021-07-31 15:43] bitboy85 commented on #2791
I agree that it might be useful for debugging purpose, but for this reason i also think it should be disabled by default because most software has disabled debug output unless you really want it.
Instead of using an additional function parameter there might be other solutions like a global debug variable in boot.py.

[2021-07-31 16:41] bitboy85 commented on #620
If anyone ends up here by google: I've created an example for absolute mouse here: https://gist.github.com/bitboy85/cdcd0e7e04082db414b5f1d23ab09005

[2021-07-31 18:21] WarriorOfWire commented on #5084
Thanks for the report! I recall this worked in the dim mists of time. Will dig up a uc, set up this computer for development and take a look.

[2021-07-31 18:24] DavePutz commented on #5086
I had the same issue on a imxrt1010_evk
Ran in debug mode and got the following stack:
[code]
Hope this helps.

[2021-07-31 22:59] WarriorOfWire commented on #5084
So the issue is in the way it's computing the dirty area + a displayio semantic. This works fine, but it has really sharp edges.

[code]

If you run the above you will see a blue streak up to the yellow rectangle of the appropriate size. What you're seeing is the "dirty rectangle" from the shape. Iirc displayio isn't set up to support multiple dirty areas so you gotta invalidate the whole area fro

[2021-08-01 00:02] henoya commented on #5076
Thank you. I will try to get the HID report descriptor now.

[2021-08-01 00:20] henoya commented on #5076
Got the HID report descriptor, ARCHISS PTR91 is the off-the-shelf one.
I don't know why two are shown, but one is connected.
Here is the URL of the product page in Japanese.
https://archisite.co.jp/products/archiss/progres-touch/retro-tiny-jp/

[code]

[2021-08-01 13:39] Flameeyes commented on #4888
FWIW this is also affecting the FeatherS2 — and it's a regression from CircuitPython 6.2.

[code]

[code]

[2021-08-01 19:25] microDev1 commented on #5020
I ran a traceback, it says `StoreProhibited` and points to the following line. Looks like `out_report_buffer` is `NULL`.
 https://github.com/adafruit/circuitpython/blob/98cd989c16ab82bff10002359b09d4027a198a97/shared-module/usb_hid/Device.c#L255

[2021-08-01 19:31] dhalbert commented on #5020
It looks like safe mode is not initializing the HID devices. This maybe the host trying to set the keyboard LEDs or something like that. I'll take a look.

[2021-08-01 22:19] dhalbert commented on #5062
I did a bisect on this on ESP32-S2, and it's this commit that's causing the empty `boot_out.txt`:

https://github.com/adafruit/circuitpython/compare/cf97793af%5E...adafruit:cf97793af (_Add supervisor.get_previous_traceback() function._)

[2021-08-01 22:59] DavePutz commented on #5086
installed a simple "blink led" code.py on 7.0.0-alpha-5 and can see that the code is running, even though there is no REPL or CIRCUITPY drive.

[2021-08-01 23:08] dhalbert commented on #5062
Making this change causes `boot_out.txt` to appear again. A `NULL` was passed before the commit mentioned above
[code]

Tagging @cwalther for interest and perhaps some insight.

I tried one other thing, which was to insert a one second delay after the `filesystem_flush()` in `run_boot_py()`, and that did not help. I thought perhaps the new exception handling was overwriting the data we wanted to w

[2021-08-01 23:34] somenice commented on #4093
Hi there Adafruit folks,
I'm running into this similar error with the Funhouse which I think is built on a similar architecture.
https://learn.adafruit.com/creating-funhouse-projects-with-circuitpython/temperature-logger-example

`Traceback (most recent call last):
  File "code.py", line 69, in <module>
  File "code.py", line 59, in log_data
  File "adafruit_portalbase/network.py", line 345, in co

[2021-08-02 00:41] rbrian commented on #4867
I can confirm that something similar happens on the macropad with alpha 5

[2021-08-02 03:28] dhalbert commented on #4984
I changed the optimization flag for DEBUG to be `-Os` and still had the same problem, so I wonder what `DEBUG` is adding to the build besides code size.

[2021-08-02 03:42] microDev1 commented on #4984
I had to turn off almost all of the `common-hal` modules to get a `DEBUG=1` build.
Also, @tannewt on discord suggested another way to get a debug build is by reducing tinyusb buffer size.

From [this](https://esp32.com/viewtopic.php?t=6699) esp32 forum post:
[code]

[2021-08-02 03:53] microDev1 commented on #4984
`git bisect` poinst to `idf-v4.3` update commit https://github.com/adafruit/circuitpython/pull/4195/commits/e0eecd2f76b5e77271ee2dd3bb8b14d5bb3efad2.

[2021-08-02 08:39] cwalther commented on #5062
Hm, could be that I broke something there - I probably didn’t check whether `NULL` had any special meaning beyond “I’m not interested in the result”. I’ll take a look.

[2021-08-02 10:06] hathach commented on #4190
@DynamoBen sorry for late response, looking at your log, look like rp2040 got suspended after awhile. since currently tinyusb port of rp2040 doesn't distinguish between disconnected vs suspend (doable with a bit of extra code with decent testing). Therefore it will cause an re-enumeration. Unfortunately, the dcd isn't clean up all the previous pending transfer which cause the `WARN: starting new t

[2021-08-02 10:08] hathach commented on #4190
It could probably an different issue, could you provide detail to reproduce the issue, I will try to see if I could figure out something.

[2021-08-02 11:33] RamblingGeekUK commented on #4642
I have just built and I'm seeing this also.

[2021-08-02 13:04] dhalbert commented on #4642
Could you all try 7.0.0-alpha.5 with this bug? I removed the ability to interrupt an SPI transaction with ctrl-C in #4974, which should be in alpha.5.

[2021-08-02 14:11] dgriswo commented on #4642
`Adafruit CircuitPython 7.0.0-alpha.5 on 2021-07-21; Adafruit Feather RP2040 with rp2040` + `Adafruit TFT FeatherWing - 3.5" 480x320 Touchscreen for Feathers
PRODUCT ID: 3651`

I can now enter the REPL and reload without encountering the STMPE610 error.  I can also trigger a reload via filesystem write without error.  The display correctly initializes in both cases.

[2021-08-02 14:14] dhalbert commented on #4642
OK, I will close this as fixed by #4974 for now. Please reopen if you still have trouble with alpha.5 or later. Thanks @dgriswo for quick testing!

[2021-08-02 14:14] #4642 closed

[2021-08-02 17:02] Paul-iKarma commented on #3477
Newbie question.
Was hoping to connect this like a USB memory stick, write jpeg files from the PC and have those changes trigger the posting of file names and sizes to a remote server. Is this possible? Perhaps with some onboard program that might, for example, switch connection of the SD card back and forth between the unit and the PC so the card could take a peek at the new files? Or completely

[2021-08-02 17:05] dhalbert commented on #3477
See #2006 and #1764 for why this is hard.

[2021-08-02 17:38] deshipu commented on #2206
I wonder if now that we can free up USB endpoints in `boot.py` it becomes a little less impossible to have this?

[2021-08-02 18:05] tannewt commented on #2791
I like that it shows on the REPL. You could have thonny do `displayio.release_displays()` to turn it off completely. You would need to know how to reinitialize a display then though.

I strongly disagree that it should be off by default. Seeing the serial error output is one of the trickiest parts of the usb workflow and having the display show errors by default greatly simplifies it.

[2021-08-02 21:14] cwalther commented on #5062
I think I figured it out. PR forthcoming.

[code]

We were keeping a pointer to an out-of-scope local variable, which was clobbered by the newly added `result`. Replacing `&result` by `NULL` probably caused the compiler to optimize out the unused `result`, preventing that.

[2021-08-02 22:01] tannewt commented on #4768
How did you all copy the build over? UF2? I suspect the bootloader is failing on images >512k in size (1MB+ uf2 file). https://github.com/adafruit/Adafruit_nRF52_Bootloader/issues/213

[2021-08-03 00:52] DavePutz commented on #4768
I have been using the uf2 bootloader. I just loaded a debug 7.0.0-alpha.5
build on a Feather nrf52840
Express using a jlink connection and it booted correctly. The .uf2 size was
1127936 bytes.

On Mon, Aug 2, 2021 at 5:01 PM Scott Shawcroft ***@***.***>
wrote:

[2021-08-03 01:40] tannewt commented on #3021
@kattni Have we finished switching libraries over?

[2021-08-03 02:16] #5062 closed

[2021-08-03 02:32] electric1236 commented on #4020
I also have the exact same problem, I can't get the code to write or append, it gives me the same problem

[2021-08-03 06:11] ThomasAtBBTF commented on #5049
How does #5089 fix this problem?
Or: can I "reset the chip" without rebooting CircuitPython?
Maybe we need the possibility to call: supervisor.enable_ble_workflow() which can be called in code.py,
after supervisor.disable_ble_workflow() was called in boot.py

[2021-08-03 13:57] auxym commented on #1258
Hi, I see mentioned in this thread that BLE has a lower bound of 7.5 ms latency. Does anyone have any idea what the latency of ESB would be using nrf52840s? We are looking into the use of these modules for robotics applications where latency is critical but throughput not that much (and power is relatively irrelevant).

[2021-08-03 14:50] dhalbert opened #5091 "RP2040 DEBUG=1 builds don't work"
Version: fails with 7.0.0 main at this time and earlier

RP2040 board builds built with `DEBUG=1` don't work: they crash. The crash can be seen with `gdb`:
[code]
If I set a breakpoint at `main()`, it does get past `main()`, and then soon hits the `decl_isr_bkpt isr_hardfault`.

MicroPython built as `CMAKE_ARGS = -DMICROPY_BOARD=$(BOARD) -DCMAKE_BUILD_TYPE=Debug` does not have this problem.

(I or

[2021-08-03 19:59] kattni commented on #3021
@tannewt For the most part. Everything else is being tracked within its own repo. This can be closed.

[2021-08-03 19:59] #3021 closed

[2021-08-03 20:57] tannewt commented on #5091
This is weird because this is where the memory is being initialized: https://github.com/adafruit/circuitpython/blob/main/ports/raspberrypi/supervisor/port.c#L97

[2021-08-03 21:01] tannewt commented on #5049
What are you trying to do overall? It would be ok to have it on and advertise until user code advertises something else. If a device connects before the user code, then the user code can create the HIDService and the central will pick it up.

#5089 does the minimal API to turn it all off. I don't really want to add more complicated APIs until we know what we want to be able to do.

[2021-08-03 21:02] tannewt commented on #5049
If/when we add that detail, I'd put it in `_bleio` because the detailed control doesn't matter when user code can't control ble. The current disable is meant to be a broad shutoff.

[2021-08-03 21:03] tannewt commented on #4768
Thanks @DavePutz. Let's consider this fixed.

[2021-08-03 21:03] #4768 closed

[2021-08-03 21:07] tannewt commented on #2206
This is not an issue with endpoint count. USB MSC can have multiple drives over the same endpoints by using a logical unit (LUN) index.

Let's keep this discussion to #3477 since it is still open.

[2021-08-03 21:33] 2bndy5 commented on #1258
I haven't been getting around to solving this... But my guess would be much less than 7.5 ms. A single successful transmission normally takes a little over 500 us (depending on what you have the auto-retry feature's delay value set to).

If auto-ack feature is off (not recommended), then it would be more like 200 us. Note that turning off auto-ack is really only for OTA backward compatibility with

[2021-08-03 21:55] bsatrom commented on #4998
Hey @hierophect thanks for the punch-list of items to port at the link above. I've pulled those into my port and have started working through them. One question about this item...

Specifically on getting clock code from CubeMX, can you elaborate on where I can find this? I've created a new project for the STM32L4R5ZIY6 and am poking through the code, but nothing is jumping out. Do i need to pull

[2021-08-04 02:37] dhalbert opened #5092 "PWM-generated tones may be off-frequency at higher frequencies"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

he tone jumps randomly at 1850 and up.

### Description

_No response_

### Additional information

Original report here: https://forums.adafruit.com/viewtopic.php?f=59&t=181842

Check PWM frequency calculation and setting.

[2021-08-04 17:26] tannewt commented on #4998
My guess is that you'd move the auto-generated code into something like: https://github.com/adafruit/circuitpython/blob/main/ports/stm/peripherals/stm32f7/clocks.c

[2021-08-04 21:07] tannewt commented on #5041
Ok, closing this because the board itself doesn't label the default busses.

[2021-08-04 21:44] tannewt commented on #4888
This is actually more correct. The change comes from [the 1.13 merge](https://github.com/adafruit/circuitpython/pull/4720/files?file-filters%5B%5D=.c#diff-d10683776c4bfa5c707b7af8a20a136c9d59131e9803ba1bc547020e43fe0704L93) where I removed the "pretend to flush" https://github.com/adafruit/circuitpython/pull/1555/files#diff-d10683776c4bfa5c707b7af8a20a136c9d59131e9803ba1bc547020e43fe0704R92.

Basi

[2021-08-04 21:47] tannewt commented on #5018
I can't reproduce this. Jeff, do you want to try it again?

[2021-08-05 06:18] ThomasAtBBTF commented on #5049
Overall, I am trying to use a nRF52 board with CircuitPyton.
And when powering on the board, I want the Bluetooth transmissions of the board to be off / disabled.
Until the python code in code.py is ready to advertise the intended features of the product.

[2021-08-05 13:41] bsatrom commented on #4998
Thanks @tannewt I created a clone of the peripherals for the f4r5 but was struggling to connect the dots based on the code generated by CubeMX. I'll take another look though, I'm sure I'm close to finding the right spot.

[2021-08-05 16:28] dhalbert commented on #4401
Closed by #4387.

[2021-08-05 16:28] #4401 closed

[2021-08-05 16:56] ThomasAtBBTF commented on #5049
I just do not see what kind of services the board shall advertise while no code is running.

[2021-08-05 18:21] #5049 closed

[2021-08-05 18:36] tannewt commented on #5049
`supervisor.disable_ble_workflow()` will allow for this. It turns off background advertising and creation of the file transfer service and the nordic uart service for circuitpython serial connectivity. You can still advertise from user code.

The background advertisements will advertise the file transfer service (0xfebb) and the nordic uart service in the scan response.

[2021-08-05 18:45] tannewt commented on #4998
Feel free to join our Discord. We are usually in #circuitpython-dev during the US workday. https://adafru.it/discord

[2021-08-05 18:59] ThomasAtBBTF commented on #5049
Ok, great!
I will try this out first thing tomorrow morning.
I think, I just did not understand what "disable_ble_workflow" would actually do.
I thought, that it will stop all Bluetooth activities until reset.

[2021-08-06 03:38] ATMakersBill opened #5101 "Macropad MIDI loses connection after a few minutes"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

I have been using this code to send MIDI events that can then be used for controlling OBS Studio (using the obs-midi plugin) or other systems.  I have tested only on Windows 10.

This code sends Note On/Off when the keys on the Macropad and CC events when the encoder is rotated.

An easy way to view them is to use https://www.

[2021-08-06 03:47] jedgarpark commented on #5101
I'm suspecting this could be Windows 10 related, I'll try testing it too.

[2021-08-06 04:01] ATMakersBill commented on #5101
Also tested with the simpler code from this project instead
https://learn.adafruit.com/adafruit-macropad-rp2040/macropad-midi

Same issues

[2021-08-06 04:03] jedgarpark commented on #5101
I am not able to reproduce the error when testing on Windows 10

[2021-08-06 04:25] hathach commented on #5101
probably similar to #4190

[2021-08-06 06:15] ThomasAtBBTF commented on #5018
I checked this again on my ItysBitsy nRF52840 after installing:
Adafruit CircuitPython 7.0.0-alpha.5-105-gf0e489f51 on 2021-08-05; Adafruit ItsyBitsy nRF52840 Express with nRF52840
and I can not reproduce the problem anymore.

But note: I am calling now ```supervisor.disable_ble_workflow()``` in ```boot.py``

[2021-08-06 10:39] cwalther commented on #1084
@deshipu or anyone interested in sample code: Now that the prerequisites (`supervisor.set_next_code_file()` and `supervisor.get_previous_traceback()`) have landed, here is my work in progress on a menu for the PewPew M4 that makes use of them: [cwalther/game-m4-menu:supervisor](https://github.com/cwalther/game-m4-menu/tree/supervisor) ([diff](https://github.com/pewpew-game/game-m4-menu/compare/mas

[2021-08-06 12:56] dhalbert commented on #5101
I chatted with @ATMakersBill last night about the details of this, and gave him some more recent builds to try, which did not help. It does sound like #4190. I have seen #4190-like symptoms on Ubuntu Linux 20.04 without using MIDI at all, with a quiescent connection, while doing some audio testing.

It is merely the connection that is broken. I can reconnect CDC and resume where I left off.

@jedg

[2021-08-06 13:51] TanguyBoulard opened #5103 "Receive command from host computer via SerialPort"
_Hi all,_

I am using {Adafruit Metro M0 Express + Serial communication + Adafruit Shileld Motor Shield V2 + Stepper motor}, and I'm programming it with Circuit Python.
I want to receive command transmitted from the computer to which the Metro is connected via USB. Then I can execute the right command and activate motors.

**CircuitPython Code:**
[code]

**PC code:**
[code]

But nothing happen!

[2021-08-06 13:57] dastels commented on #5103
Try reversing the \r and \n.   The input() function might be looking for the windows terminator convention "\r\n"

[2021-08-06 14:00] ATMakersBill commented on #5101
So... perhaps this will help - I think this might be an interaction problem between the CP code (or maybe TinyUSB) and the Dell hardware/firmware/drivers.  I noticed on #4190 that the user was on a Dell XPS.  I am testing on my Dell Inspiron 7506 2n1 and getting the issue consistently.  On the same machine, I tested a Behringer Control Surface (hardware MIDI device) and it ran continually all nigh

[2021-08-06 14:15] TanguyBoulard commented on #5103
Nope @dastels  it does not solve the issue.
Might the issue is located here : `command = value.decode('utf-8')`
I do even know how to debug it.

[2021-08-06 14:24] dhalbert commented on #5103
Try printing the data that you are receiving, and make sure that the COM port is correct.

We don't do this kind of support via GitHub, as it is not a bug or enhancement request, but a support issue. Too many people get email each time a comment is made here. We can move this to discord: https://adafru.it/discord or to the forums: https://forums.adafruit.com/viewforum.php?f=60. Let us know which y

[2021-08-06 14:24] #5103 closed

[2021-08-06 14:24] dastels commented on #5103
Yeah. I dug through the related code and it is looking for "\n" as the line terminator.

I've had success using sys.stdin.read(1) to get one character at a time from the serial/usb connection.

[2021-08-06 14:24] dhalbert commented on #5103
I see you have already posted in the forums: https://forums.adafruit.com/viewtopic.php?f=60&t=182014. Let's continue the discussion there.

[2021-08-06 14:35] jedgarpark commented on #5101
@dhalbert I left it quiescent for 10 minutes on a Windows 10 PC (not a Dell, my son's DIY gaming rig) without problems. I also left it overnight on my MacBook Pro without any problems.

[2021-08-06 18:56] #5018 closed

[2021-08-06 19:10] #4748 closed

[2021-08-06 20:34] lesamouraipourpre commented on #3477
For transferring **text files** to and from the SD card, you can use `Thonny` (and maybe other editors, eg `Mu`, but I haven't tried)

Once `code.py` has run and mounted the SD card, the `/sd/` directory shows up when you try to read or write a file to the CircuitPython device. I don't understand how it actually works but it does.

I don't think this can be used for transferring binary files but s

[2021-08-06 23:33] askpatrickw opened #5105 "Include Board_ID in the boot_out.txt for Circup to use to link to CP.org"
As discussed in the Circup repo https://github.com/adafruit/circup/issues/113

Having a way for circup to determine a link to the CP.org page would allow circup to direct users where exactly to go when there is a newer version of CP detected for their board.

As per Neradoc "the process would be to add the board ID somewhere as a define in the core, whether automatically generated or manually, the

[2021-08-08 05:32] microDev1 commented on #3421
Closing... resolved by #3563.

[2021-08-08 05:32] #3421 closed

[2021-08-08 05:52] microDev1 commented on #1501
Closing... `__int__` is working now.

[2021-08-08 05:52] #1501 closed

[2021-08-08 05:59] #1824 closed

[2021-08-08 06:25] microDev1 commented on #3301
We now have `CPython` compatible `traceback` module implemented. Adding `format_exception()` is the next step.

[2021-08-08 14:06] ThomasAtBBTF opened #5109 "light_sleep_until_alarms() should accept pins which in use."
I am working on a project where 12 processor pins are used on an nRF52840 and I am running into the problem that these pins can not be used as pins for ending light sleep.
It would be helpful if already initialized / in use pins could be added to ```alarm.light_sleep_until_alarms()```.
I fear, deinitializing all 12 pins (which I use to detect user input) before "going to sleep" and reinitializing

[2021-08-08 17:14] NathanY3G commented on #5105
I would like to volunteer to take a look at adding this :-)

[2021-08-08 19:26] NathanY3G opened #5111 "board.LED not defined for Grand Central M4 Express"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

The following error is displayed:

[code]

### Description

Although this is a minor issue, for code portability it would be nice not to have to use conditional logic or to change the original source code.

### Additional information

_No response_

[2021-08-08 19:36] anecdata commented on #5111
The Learn Guide (https://learn.adafruit.com/adafruit-grand-central/pinouts) points out that the silk for the user LED for `D13` is `L`, but there is not a `board.L` either that I can see (https://github.com/adafruit/circuitpython/blob/main/ports/atmel-samd/boards/grandcentral_m4_express/pins.c).

[2021-08-08 19:38] NathanY3G commented on #5111
Thanks for the information @anecdata and file reference. Since it looks like it should be a one-liner I will take the liberty of creating a MR myself.

[2021-08-08 19:39] FoamyGuy commented on #5111
It looks to me like the Metro M0 and Metro M4 devices are in the same boat as this without `LED` or `L`

I'm going to take a shot at adding it to those devices.

[2021-08-08 19:45] kevinjwalters commented on #1760
I only discovered the [Adafruit Monster Mask](https://www.adafruit.com/product/4343) today - gets mentioned briefly in [A CircuitPython Board Tour with Ladyada #CircuitPythonDay2021](https://www.youtube.com/watch?v=UwGtmSZkm2c&t=2534s) (YouTube).

[2021-08-08 19:47] NathanY3G commented on #5111
I have just seen your reply @FoamyGuy! Thank you both for such quick replies :-)

I have already created a MR for the GCM4: https://github.com/adafruit/circuitpython/pull/5112 if anybody has time to take a look.

[2021-08-08 19:58] FoamyGuy commented on #5111
actually, I'm not sure how I missed it in both, but the Metro M0 and M4 do already have them.

Anyhow, thanks for adding that to the Grand Central build.

[2021-08-09 01:40] Neradoc commented on #5105
There's `CIRCUITPY_BOARD_ID` already defined (only used on rp2040 for picotool information). `MICROPY_FULL_VERSION_INFO` is also the string printed to the REPL, and I want the resulting string to be easily parsable.

I did some tests on a couple of boards. Adding it at the end of `MICROPY_FULL_VERSION_INFO` like this `" (" CIRCUITPY_BOARD_ID ")"` takes 68 bytes on Arduino Nano 2040 and 64 bytes on

[2021-08-09 06:15] #5111 closed

[2021-08-09 19:17] #3301 closed

[2021-08-09 19:29] gallaugher opened #5118 "CPB CircuitPython doesn't behave as expected with potentiometer"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

When running this code on a CPB, the potentiometer maxes out as expected, but for the last about 1/10th, it retreats (note that image below). When running on other boards (have tried on a Feather RP2040 and a CPX), the behavior is as expected, maxes out, and no "dip". You can see the CPX, below, but same behavior is shown for

[2021-08-09 19:51] tannewt commented on #5118
Please try the absolute latest. I don't think this has been fixed but it's always good to check.

[2021-08-09 19:58] gallaugher commented on #5118
@tannewt have been chatting with @danh on Discord & he pointed out that wiring to 3.3v on the CPB instead of CPX would be more appropriate. I just tried this & the "retreat" didn't occur - worked as expected. I was following the wiring diagram at: https://learn.adafruit.com/make-it-change-potentiometers/connections For the CPX I was using VOUT as well, though. I'm running 6.3 on all boards, so I t

[2021-08-09 20:14] dhalbert commented on #5118
Closing due to fix to use proper voltage. I notified the Guide author.

[2021-08-09 20:14] #5118 closed

[2021-08-09 20:46] saeugetier opened #5119 "SSD1680 Epaper - buffer wraps when width is higher than 255 pixels"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

The display buffer is not displayed correctly. The width is higher than can be addressed with 1 byte. The right part of the display buffer is displayed on the left side overlapping the previous drawn buffer.

### Description

Content is not displayed correctly.

### Additional information

- Problem was found with a Waveshare

[2021-08-09 21:14] ThomasAtBBTF commented on #5109
For further information on this topic.
For testing, I deinitialized all 12 pins and passed them together with a TimeAlarm to ```light_sleep_until_alarms()```
Here my code:
[code]
This **sometimes** works. Other times not all of the 12 pins are waking up from sleep and also sometimes I run into a hard fault.
Is there a limit how many alarm sources may be specified?
Did anyone else observe the insta

[2021-08-09 21:21] ThomasAtBBTF commented on #5109
Also, I am** very happy** with the reduction of power consumption in "light sleep"!
While active the project board is using 9 mA when running from a fully charged 3.7v LIPO battery
During sleep, the current is **only** 1.5 mA !
I am not sure about the exact mA values because I have no real high accuracy measuring equipment for so little  currents.
But the power consumption reduction is very promis

[2021-08-10 02:40] #763 closed

[2021-08-10 05:51] jbraunschweiger opened #5122 "displayio.Colorspace fails to import"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

[code]

### Description

Am I an idiot. Why can't I use Colorspace as defined in [the docs](https://circuitpython.readthedocs.io/en/latest/shared-bindings/displayio/#displayio.Colorspace)?

### Additional information

_No response_

[2021-08-10 05:55] #5122 closed

[2021-08-10 10:34] ThinkTransit commented on #3988
Hi,

I have tested this on the nightly build from last night - Adafruit CircuitPython 7.0.0-alpha.5-175-g8da98eb1f on 2021-08-10; FeatherS2 with ESP32S2

microcontroller.reset() works as expected however resetting from the watchdog still goes to safe mode on the FeatherS2

[2021-08-10 14:25] saeugetier commented on #5119
This is how the drawn display buffer looks:

![Image](https://user-images.githubusercontent.com/1408260/128884393-d9160ab4-6e03-49c0-b52c-e0daa80e134b.jpg)

[2021-08-10 18:38] hathach commented on #5101
I am working on rp2040 suspend/disconnect detection since I think it may be the cause. The problem is I couldn't reproduce the issue on my local machine. Though I made an cpy with usb debug message enabled (in the other issue). @ATMakersBill would you mind trying it out (you will need to hooked its gpio0,1 to FTDI/CP210x for the log).

I have enabled the tinyusb log output to UART @115200 baudrate

[2021-08-10 18:49] tannewt commented on #5119
The bug may be in this file but I'm not sure where: https://github.com/adafruit/circuitpython/blob/main/shared-module/displayio/EPaperDisplay.c

[2021-08-10 19:01] tannewt commented on #5109
We recommend the PPK2 for measuring power: https://www.adafruit.com/product/5048

I wouldn't be surprised if there are bugs in the sleep implementation. It is very new. I'd suggest trying to narrow down the code that causes issues and then posting an issue so we can try and reproduce it.

We can leave this issue open for the sharing issue. I understand the problem but am not sure the best way to s

[2021-08-11 01:40] tannewt commented on #1155
Anyone want to keep this open? I don't think it's worth our time to try and port all of the stdlib. I'd rather have more targeted issues.

[2021-08-11 01:44] tannewt commented on #1253
The git checkout is now 1m 18s in Github Actions.

[2021-08-11 01:45] dhalbert commented on #1251
Is `MPY_CPYTHON_COMPAT` turned on for all boards now? I'd start there. I'm not sure whether turning it on will bloat the tiniest builds too much.

[2021-08-11 01:45] tannewt commented on #1267
Closing this since boards with CPYTHON_COMPAT on will have it.

[2021-08-11 01:45] #1267 closed

[2021-08-11 01:47] dhalbert commented on #1155
The time to look at this kind of thing is when the bare-metal Pi port is done :)

[2021-08-11 01:49] tannewt commented on #1316
@dhalbert I think this might be related to your current investigation.

[2021-08-11 01:51] tannewt commented on #1322
I'll close this since there is now a library. I'd encourage you to create a separate repo for it and get it into the community bundle. Instructions are here: https://learn.adafruit.com/creating-and-sharing-a-circuitpython-library

[2021-08-11 01:51] #1322 closed

[2021-08-11 01:53] tannewt commented on #1342
I haven't seen any issues recently. I suspect it's been fixed.

[2021-08-11 01:53] #1342 closed

[2021-08-11 01:54] tannewt commented on #1639
This was fixed by https://github.com/hathach/tinyusb/pull/260

[2021-08-11 01:54] #1639 closed

[2021-08-11 01:56] tannewt commented on #1346
Sleep memory can be used for this: https://learn.adafruit.com/deep-sleep-with-circuitpython/sleep-memory

[2021-08-11 01:56] #1346 closed

[2021-08-11 01:58] tannewt commented on #1362
I don't think we'll ever do this in CP. Seeed has done something similar with ArduPy already: https://github.com/Seeed-Studio/ArduPy

[2021-08-11 01:58] #1362 closed

[2021-08-11 02:00] tannewt commented on #1384
@osterwood do you still care about this? I think it's pretty niche.

[2021-08-11 02:15] osterwood commented on #1384
Indeed it is!  Haven't used the AT21CS01 since 2018, so I don't think there is a need to incorporate the changes I suggested here.

[2021-08-11 02:15] #1384 closed

[2021-08-11 03:13] Andon-A opened #5124 "Allow keyword arguments for digital pin setup"
As it sits right now, I can set up nearly any type of pin input and output in one line. I can, for example, use:
[code]
And this will start a PWM output that, on most boards, will turn the on-board LED on at half power. Similarly, AnalogIn and AnalogOut don't require any setup at all.

DigitalInOut, on the other hand, requires this, to largely accomplish the same thing:
[code]

It would be nice if

[2021-08-11 03:51] dhalbert opened #5125 "Update TinyUSB to include latest fixes"
There are MIDI fixes and I think other fixes that are more recent than our last submodule update.

[2021-08-11 04:02] hierophect commented on #5109
Is this problem as simple as removing the "claim pin" effect in PinAlarm? I did not foresee a use case like this so I think I specifically put it in there for all ports. That said we should think about whether there will be ill effects to allowing this form of overlap - initializing a PinAlarm will do things like change the pull settings and potentially the internal mux settings, depending on the

[2021-08-11 04:53] anecdata commented on #5124
Would also presumably obviate the need for the alternative 2nd step in the current flow: `led.direction = Direction.OUTPUT`.

[2021-08-11 11:42] Neradoc commented on #5124
The most concise way to define a digital pin is currently 2 steps, not counting the imports.
[code]
[code]
I have seen a couple of people on discord mention that they find the setup for pins in Circuitpython complicated (though they might think more of the 3-step version seen in many guides), and I tend to find it a little too verbose myself. In addition to require installing a library, simpleio's

[2021-08-11 13:39] dhalbert commented on #4190
@hathach I can try testing with your UART debug output build on several different Windows machines. Would you want a Beagle trace if it does hang up?

[2021-08-11 13:48] hathach commented on #4190
@dhalbert A beagle trace would be great, since it capture what actually happens. UART log does show how the stacks interpret the bus event. The more info the better

PS: I am also trying to troubleshoot this, and will compile an new debug build for testing as well.

[2021-08-11 14:59] anecdata commented on #5124
Worth keeping mind that that we can "read" the value of an output:
[code]

[2021-08-11 15:34] tannewt commented on #5124
The reason we don't allow it from the constructor is that it's weird to have keyword arguments that are only valid depending on another (direction). Value and drive mode are for output and pull is for input. The class does default to input so we could add a pull kwarg. That'd simplify the input case. I'd push back against combining them.

The other examples don't have this weird dependency between

[2021-08-11 15:39] microDev1 opened #5126 "tools/codeformat.py could handle problems better (uncrustify errors)"
With `uncrustify=0.69` (default with `Ubuntu 20.04`):

- when `python3 tools/codeformat.py -cv` is run, a bunch of errors can be seen
- when uncrustify is run with pre-commit, the errors go undetected and the formatting hook passes.

My theory is that pre-commit expects the hook to return a certain error code on failure but `codeformat.py` isn't doing that.

[2021-08-11 15:48] jepler commented on #5126
Keep in mind that uncrustify 0.69 is not supported. Adding a check that causes pre-commit to fail if that is the installed version would be welcome.

[2021-08-11 16:18] mrdalgaard commented on #5109
I have a somewhat same use case, of trying to use an alarm pin, while awake.

I'm also trying to make sure that i don't miss any events, just on a single alarm pin.
The code does something along the lines of

1: Wake up from alarm pin
2: Log timestamp
3: Do some processing
4: Go to sleep and wait for next alarm pin event

In order to catch any pin events happening while at step 3, i'm trying to us

[2021-08-11 16:25] jepler commented on #5126
As far as I know, this problem does not affect 0.71.

[2021-08-11 16:39] ThomasAtBBTF commented on #5109
Thank you for the information about the Nordic Power Profiler, I will buy one of these.
And, actually, for the moment I can not observe any missed presses. But for production code, the sleep implementation is currently too buggy.
I will try to make a simplified version of the code which can run on a CLUE and will see if I will observe the same instabilities.
If so, I will post a bug here.

[2021-08-11 17:25] Andon-A commented on #5124
Perhaps instead of setting `pull` or `value` directly, an independent arg could be used? I'll call it `startvalue` because it's the value the pin starts with. Unless I'm missing something, you could use four arguments and, since things are exclusive anyway, there'd be no cases of keywords depending on other keywords.

My thought process says you'd have the following:
[code]

So the argument would

[2021-08-11 17:30] dhalbert commented on #5124
You still want to be able specify the `drive_mode`, too, on construction.

I personally don't mind the keyword arguments depending on each other, because there are easy idioms for both the input and output cases. It's a deficiency of Python that it's painful to have multiple constructors: you can use class methods, but it's rare.

[2021-08-11 17:49] Andon-A commented on #5124
`drive_mode` being a separate argument might work.

My thoughts on it:
If used in conjunction with `startvalue` being `True` or `False`, it works as expected.
It could be ignored with `Pull.UP` or `Pull.DOWN`, instead of having exceptions
If used with no `startvalue` then it could default to having a value of `False` (As is current) and then set the pin to the appropriate output mode.

[2021-08-11 19:00] saeugetier commented on #5119
[EPaper.zip](https://github.com/adafruit/circuitpython/files/6969035/EPaper.zip)

I have recorded the communication between the Raspi Pico and the EPaper. I saw that the chip select is high between the first and second byte after the command. The chip select is not high after the command has been sent. Maybe the chip select ends the communication and the initialization is done with wrong parameter

[2021-08-11 19:21] tannewt commented on #1251
Nope, it looks like it's tied to FULL_BUILD. There isn't really anything to do for this specific issue. Do we want to have a new issue to enable CPYTHON_COMPAT on all boards?

[2021-08-11 19:24] tannewt commented on #5109
@mrdalgaard That's definitely a bug. :-) You shouldn't be able to use a pin twice.

What are you using it for? Key/button scanning as well?

Maybe this would be best served by making the new `keypad` module sleep compatible. I think that'd work for @ThomasAtBBTF's keyboard.

[2021-08-11 19:24] saeugetier commented on #5119
I found the bug:
The command "set_row_window_command" has a wrong byte order: The content is command: 0x45, data: 0x00, 0x00, 0x01, 0x27. But correct is: command: 0x45, data: 0x00, 0x00, 0x27, 0x01.

The byte order has to be flipped here:
https://github.com/adafruit/circuitpython/blob/main/shared-module/displayio/display_core.c#L300-L303

[2021-08-11 19:37] tannewt commented on #4272
@electric1236 Please retry this with the absolute latest. I wasn't able to reproduce this on a Metro M4 on pin D1 which is also PA22.

[2021-08-11 19:40] tannewt commented on #4888
I don't think it's worth worrying about this. Very little code uses flush. If you have a reason you'd like to to work, then please file a new issue. If needed, we can make it work without IO instead of faking the flush.

[2021-08-11 19:40] #4888 closed

[2021-08-11 19:47] mrdalgaard commented on #5109
@tannewt Actually its for a remote anemometer on an airfield.
It will generate 0-30 pulses/sec. The pulseio module is hence not usable, and using just countio makes the resolution bad at low speeds. (need to measure time between pulses, not the number of pulses)
When calculating gusts, average wind directions over different durations, and sending the data via the RFM95 module, pulses would potenti

[2021-08-11 21:09] tannewt commented on #3626
This is not a core bug. The reason for the extra delay is the time it takes to go to and from the quiescent_value. These ramps are done to prevent clicking. The CP library could reuse the AudioOut to reduce the timing impact of these ramps to and from 0. Furthermore, #1623 would help stop samples at the quiescent_value and not require the ramp on stop.

![Screenshot_20210811_140017](https://user-i

[2021-08-11 21:11] jepler commented on #5126
We discussed this further on Discord, and think it would be a good idea to change codeformat to
 * add a specific version check
 * make a subprocess exiting with nonzero status cause codeformat to exit with nonzero status. Using `subprocess.check_call` is OK for this, even though it means it would stop processing files after the first error exit status.

[2021-08-11 21:54] dhalbert commented on #5109
@mrdalgaard If `keypad` had simple tick timestamps, I wonder if that would work for you. Or if countio kept some kind of simple timestamps (e.g. `supervisor.tick_ms()` values) of the previous `n` ticks, maybe that would be useful. But that wouldn't help your lower-power sleep quest.

Some simple external hardware with a counter that you poll often might work.

[2021-08-11 22:50] robertgallup commented on #3626
Very interesting, and thanks for looking into this! Are the ramps built in? Or, does the CP library have control over them? As I recall, tones play sine wave samples generated by the CP library. With #1623, ramps may not be required at all if the sample begins/ends on zero.

Also, are different tones generated by generating different samples, rather than using the same sample with different sampli

[2021-08-11 23:07] adrian-the-git commented on #2791
I think CircuitPython is and should be a "debug features ON by default" environment, but it would be great to have the ability to disable the REPL without rebuilding (I'll save my comments on why it's undesirable to do so for an appropriate thread).

So anyhow, on a 64x32 matrix panel, the onscreen REPL doesn't really fit, so the output line which I'm interested in reading is not visible, with Bli

[2021-08-12 09:44] hathach commented on #4190
@DynamoBen @dhalbert I tried my best to update tinyusb to address this issue. However, since all my PC cannot reproduce the issue. Would you mind trying this out again. zip contains uf2 for for pico and macropad with multiple debug level (0, 2, 3) . 0 is no debug just for verifying (in case debug log accidentally resolve it by slowing down cpu)
Note: pico uart tx is GPIO0, macropad, uart tx is GPI

[2021-08-12 09:44] hathach commented on #5101
@ATMakersBill I tried my best to update tinyusb to address this issue. However, since all my PC cannot reproduce the issue. Would you mind trying this out again. zip contains uf2 for for pico and macropad with multiple debug level (0, 2, 3) . 0 is no debug just for verifying (in case debug log accidentally resolve it by slowing down cpu)
Note: pico uart tx is GPIO0, macropad, uart tx is GPIO20 (SD

[2021-08-12 11:51] dhalbert commented on #4190
I tried to reproduce on a Dell Optiplex 3020 last night with Windows 10 and failed. I will try an Intel machine with an older motherboard.

Do you have any idea what this might be related to: is it Windows driver related, or might it be more USB controller related? Do you know if USB2 vs USB3 might make a difference? I can try various permutations, but I have many choices right now

[2021-08-12 11:54] #980 closed

[2021-08-12 13:31] Neradoc opened #5132 "Crash on auto reload on ESP32S2"
### CircuitPython version

[code]
All the way down to:
[code]

### Code/REPL

[code]

### Behavior

On file saving, when the code is running, the board disconnects from USB and resets (and comes back).

### Description

- Happens if the code is running, even during a single time.sleep() (no while loop).
- Doesn't seem to happen if the code has finished.
- Reproduced on mac and windows.
- Reproduce

[2021-08-12 13:35] anecdata commented on #5132
I get `microcontroller.ResetReason.WATCHDOG` when this occurs.

[2021-08-12 14:00] hathach commented on #4190
By failed, you mean you couldn't reproduce the issue and everything works well right !?

I couldn't reproduce the issue myself, and just update code where I think may be the issue. It is hard to tell for sure, If I am right, it is kind of race condition when host issue a bus reset e.g reset duration etc .. and cause the stack (with rp2040 port) to lock up. Theoretically, there shouldn't be any dif

[2021-08-12 14:09] jepler opened #5133 "Display.refresh: no-args refresh() should never throw RuntimeError even if it takes a long time"
@todbot's [staroids](https://github.com/todbot/circuitpython_staroids) is awesome!  But as someone on Discord noted, it eventually crashes:
![image](https://user-images.githubusercontent.com/1517291/129210382-64cc0b16-615c-41af-8e34-b4f47a074f6d.png)

While I appreciate the intent behind the `minimum_frames_per_second` argument, my experience with it in practice has been that I always manually pas

[2021-08-12 14:18] dhalbert commented on #5133
Why is using the return value not workable? I agree the default should be zero, or it shouldn't be throwing an exception at all ever: the return value should tell you the status. Maybe return True, False, or None (not sure what the cases are, hence my question).

[2021-08-12 14:34] DynamoBen commented on #4190
I'm still seeing the issue, most interesting parts below. I used Debug level 2, because level 3 caused the USB driver to not be recognized.

`USBD Xfer Complete on EP 85 with 4 bytes
  MIDI xfer callback
USBD Bus Reset : Full Speed

USBD Setup Received 80 06 00 01 00 00 40 00
  Get Descriptor Device
  Queue EP 80 with 18 bytes ...
USBD Xfer Complete on EP 80 with 18 bytes
  Queue EP 00 with 0 byte

[2021-08-12 15:58] evildave666 opened #5134 "stm32f411_blackpill_with_flash exposes pins dedicated to spi flash in board module"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

[code]

[2021-08-12 15:59] evildave666 commented on #5134
If I can make time I'll try to work on this over the weekend.

[2021-08-12 16:25] tannewt commented on #2791
Why doesn't `displayio.release_displays()` work? That would allow you to control when the display is initialized.

[2021-08-12 16:28] jepler commented on #5133
If using the return value is workable, yay, that'd be great. Since True and False are given meanings already, would None indicate that the target frames per second was not reached, but a refresh occurred anyway?

[2021-08-12 16:32] tannewt commented on #5119
Ok, looks like we'll need a setting for MSB vs LSB. I assume it's working as-is for LCDs so this eink must do the opposite.

Want to make a PR for it? That display isn't used by Adafruit currently so it won't be a priority for Adafruit funded folks.

[2021-08-12 16:36] tannewt commented on #3626
The ramps are built in. The library can set the `quiescent_value` which sets the destination. The init and deinit go to zero so setting `quiescent_value=0` would only lead to ramps on stop.

We discussed this a bit in a meeting yesterday and thought the long term solution is to remove the ramps in favor of controlling speaker enable. This would allow us to disconnect the speaker and let it settle

[2021-08-12 16:40] tannewt commented on #5133
I'm ok changing the default minimum. I wouldn't change target since its meant to pace the code.

[2021-08-12 16:42] john-- commented on #4106
Agreed. I'm happy to see multi-core support is being considered!

[2021-08-12 16:42] dhalbert commented on #5133
I think this means:

- Too late per the target rate: returns False and do nothing
- Too late per the minimum rate: raises exception and does nothing
- Refresh happened: return True

I don't actually like encoding the return in True/False/None, that's probably a bad a idea. We could at least use an enum.

I wonder if we really need two targets. The best effort is to do the target. The program is st

[2021-08-12 16:48] #4272 closed

[2021-08-12 16:49] tannewt commented on #3626
I'm going to close this issue because the timings now match 5.3.0 again.

[2021-08-12 16:49] #3626 closed

[2021-08-12 16:52] #3890 closed

[2021-08-12 16:54] tannewt opened #5135 "Move OneWire to `onewireio`"
It is currently in `busio` and `bitbangio`. Moving it to `onewireio` will allow us to disable it separately from `busio` in 8.x.

[2021-08-12 16:56] dhalbert opened #5136 "Prevent clicks at the beginning or end of audio play"
Currently for some ports and some audio play mechanisms, there can be clicks at the beginning and/or the end of a sample due to sudden level shifts. We have support for quiescent values but these are often sample-file dependent.

Some ports ramp the amplitude up and down, but this prevents gapless playback and lengthens playing short samples (#3626).

We have also recommended in the past that user

[2021-08-12 17:01] dhalbert commented on #4271
This should be fixed by #5079. Please reopen or resubmit if it isn't.

[2021-08-12 17:01] #4271 closed

[2021-08-12 17:02] dhalbert commented on #5047
This should be fixed by #5079 on RP2040 but may still exist on SAMD51, and I will be looking at that.

[2021-08-12 17:05] dhalbert commented on #4431
I was seeing crashes with explicitly-specified buffers as well, and when they were only of size 2048. This may be fixed by #5079, but I need to re-test

[2021-08-12 17:05] dhalbert commented on #4208
This should be fixed by #5079, with the default buffer sizes.

[2021-08-12 17:05] #4208 closed

[2021-08-12 17:51] kevinjwalters commented on #4208
Just had a play with `7.0.0-alpha.6` with some stereo audio playback on a (Maker) Pi Pico and it sounds good.

It does still have a big pop at the start of each `play()` and that includes a second `play()` executed while the one is playing. I checked my sample in audacity and it's silent at the start (and end).

[2021-08-12 17:59] kevinjwalters commented on #4208
My larson scanner no longer kills the interpreter. I now get this.

[code]

[2021-08-12 18:03] dhalbert commented on #4208
The pops we are going to address via #5136. Doing it nicely with `PWMAudio` is not easy. I can get rid of some but then when I leave the PWM idling it creates white noise.

What is the "larson scanner"? Is that related to #4431? If there is not a current issue, please open a new one. Thanks.

[2021-08-12 18:56] kevinjwalters commented on #4208
Related but the full code is mentioned in https://github.com/adafruit/circuitpython/issues/4208#issuecomment-804296887

I'd been setting the buffer size to 80k to see what it did. I reduced it and the code now runs but there's a fair bit of popping _during_ as the sample plays which must be some clash between (lots of) PWM for other GPIO and the audio GPIO. I'll put a new ticket in for that - I wa

[2021-08-12 19:20] lesamouraipourpre commented on #5119
Maybe related, there is an issue on Blinka relating to missing `MSB` using SPI with MicroPython.
https://github.com/adafruit/Adafruit_Blinka/issues/480

[2021-08-12 19:59] dhalbert commented on #5105
It would, but how about using the existing `os.uname()`, such as `os.uname().machine`?

Currently:
[code]
We could add the board ID to `machine`, maybe putting it parentheses or something like that.

`os.uname()` exists in CPython on Linux and MacOS. Its `machine` is not that informative:
[code]

There is also `platform`, which is in CPython, but not in CircuitPython or MicroPython.

[2021-08-12 20:12] saeugetier commented on #5119
@tannewt I can prepare a pull request. But I need somebody for testing the Adafruit EPD, if they still work.

[2021-08-12 22:13] snehanyk05 opened #5140 "Support for Adafruit DYP ultrasonic Sonar Sensors"
I am currently using a DYP-A01-V2 Ultrasonic sensor.
Datasheet in the link below:
[https://cdn-shop.adafruit.com/product-files/4665/4665_C14242.pdf](https://cdn-shop.adafruit.com/product-files/4665/4665_C14242.pdf)
I'm trying to find the right circuitpython library for it, but am unable to find one. Is there existing support for it or can i just go ahead and use the [HCSR04 adafruit](https://pypi.

[2021-08-12 22:33] kevinjwalters opened #5141 "PWMAudio on Pico has some crackles when duty_cycle is varied on many other GPIO"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

some text

### Description

some text

### Additional information

some text

[2021-08-12 23:44] tannewt commented on #5086
I started looking at this today and haven't had a ton of success. It appears #4689 caused an assertion error due to the bulk size of the high speed end point that #4774 fixed. At the #4774 commit it appears to work with CDC only. MSC causes issues similar to what Dave saw above. I don't see this issue on main though.

main as of d294692c4e698785f523fbe94a2de46d5fa90c63 seems to run but fails to en

[2021-08-12 23:48] tannewt commented on #5086
Twist! I left it while writing this up and it eventually enumerated:

[code]

[2021-08-13 02:28] dhalbert commented on #5086
I wonder if the clock accuracy is marginal.

[2021-08-13 02:51] dhalbert commented on #5086
usb_hid does NOT have the fix for HIGHSPEED that the other devices have:
[code]

[2021-08-13 03:09] dhalbert commented on #5086
I take back the HID thing. In 6.x, HID endpoint descriptors still had a max length of 64.

[2021-08-13 04:05] #5133 closed

[2021-08-13 06:30] hathach commented on #4190
@DynamoBen the usb log look pretty normal, I should add timestamp to the log (will do it next), do you know how long does it take until the  `USBD Bus Reset : Full Speed` occurs.

1. Does the usb comm both msc and terminal is both freeze ?
2. Can you still connect / disconnect terminal to cdc
3. Is pico still recognized by windows (even msc/cdc not responding) , you could check it using the usbtre

[2021-08-13 13:48] DynamoBen commented on #4190
@hathach It usually fails within 20 min, I can get some more exact timing if needed. Terminal continues after MIDI has stopped. I didn't try reconnecting the terminal. Pico is recognized still and no driver errors.

It's been mentioned by others but I can use other USB MIDI devices without failure and I can run similar test code with a Teensy with no failure. It doesn't help with this specific iss

[2021-08-13 15:36] RufusVS commented on #5092
Through additional testing I found out that frequencies as low as 666 and 670 drop out, though adjacent frequencies play, if this helps.

[2021-08-13 16:53] ladyada commented on #5140
there's no library - you can just use pyserial or UART serial
https://github.com/adafruit/Adafruit_Learning_System_Guides/blob/main/DYP_ultrasonics/me007ys.py

[2021-08-13 17:26] antonio-openroad opened #5146 "FileTransferProtocol: problems with non-ascii filenames"
**CircuitPython version**

Adafruit CircuitPython 7.0.0-alpha.5 on Circuit Playground Bluefruit

**Behavior**
These problems are related to the Bluetooth FileTransferProtocol

Filenames with accents can be created but cannot be removed.
For example if you create a folder named "Carpeta sin título" ("untitled folder" in Spanish) it is not possible to remove it later

Filenames with emojis cause big

[2021-08-13 17:32] jepler commented on #5021
I re-tested with beta.6 loaded via uf2 with
[code]
and the crash still occurs. Intially I thought it was fixed, because **the code sample a few comments above commented out the problematic line by default**.

[2021-08-13 17:38] snehanyk05 commented on #5140
Got it to work! Thank you so much! :)

[2021-08-13 17:38] #5140 closed

[2021-08-13 17:58] tannewt commented on #5119
We can ask some folks to test from the PR. We'll want to test some TFT as well since that code is used for all displays.

[2021-08-13 18:22] tannewt commented on #5133
I added the minimum as a way to debug when the loop is way too slow.

[2021-08-13 18:24] tannewt commented on #5086
I've ordered a Beagle 480 to sniff the USB HS so I'll pick this up once I get it next week.

[2021-08-13 18:29] dhalbert commented on #5086
If we just turn off high speed for now, can we get these boards working? Would it be worth it to allow people to try them for other things?

[2021-08-13 18:43] tannewt commented on #5086
I'd rather just wait instead of spending any more time on it. There is plenty of other work to do for 7.0.0.

[2021-08-13 19:55] robdearpowa opened #5148 "Tiny 2040"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

code.py output:
Traceback (chiamata più recente per ultima):
  File "code.py", riga 19, in <module>
NameError: nome 'SCL'non definito

Translation from italian:
  File "code.py", row 19, in <module>
NameError: name 'SCL' not defined

### Description

- board.I2C() doesn't provide a default I2C config
- board doesn't have SCL,

[2021-08-13 19:59] tannewt commented on #5148
@zodiusInfuser please take a look

[2021-08-13 20:14] ZodiusInfuser commented on #5148
The board does not have specific default pins for I2C (or UART or SPI for that matter), as the pin numbering on the board is just 0-7 (versus the QTPy with explicit naming). The intention was to give users choice of which pins to use.

If defaults would be preferred so the above case works then I can make an executive decision on which ones, but would this prevent those pins from being used for ot

[2021-08-13 20:21] robdearpowa commented on #5148
If i may have a word, the real problem it's not that board.I2C() doesn't have a default pins for I2C, but that board itself doesn't provide a set of pins (example: SCL0, SDA0) to access them manually
![immagine](https://user-images.githubusercontent.com/37190636/129414209-8bf43275-fc35-4485-bb75-f525562d626f.png)

[2021-08-13 20:21] Neradoc commented on #5148
Since no pin are marked as default SDA or SCL on the sikkscreen or the pinout, it's perfectly normal not to have them in the `board` module. That's the case for the pico for example. However `board.I2C`, `board.SPI` and `board.UART` should be removed since they just raise `NotImplementedError`.

Default I2C pins do not impact what the users can do, `board.I2C` is only inited on first use, the name

[2021-08-13 20:26] robdearpowa commented on #5148
Ohh thanks a lot, i tought you could create buis.I2C() only via SCL, SDA namings, thanks

[2021-08-13 20:46] #5148 closed

[2021-08-13 21:53] #5126 closed

[2021-08-13 22:10] #5135 closed

[2021-08-13 22:28] askpatrickw commented on #5105
For Circup: As long as its nicely parsable in boot.txt it doesn't matter.
For CP: My opinion is that `board` makes more sense. It feels like the place to look for it to me.

If the reason for not doing doing it in board is because of needing to edit so many `pins.c` files.. I'm happy to help with that tedium in a follow-up PR if someone does the actual C work.

[2021-08-14 05:56] #5057 closed

[2021-08-14 06:09] hathach commented on #4190
@DynamoBen device log look normal to me, I think we should look more at the host log/app. Can you tell me more about what does not work when the issue occurs. Original post said both MIDI and serial not working. Can you re-test it.
1. Check if REPL still work
2. Check if MSC still work
3. What is your MIDI  app for testing, maybe either try to close and relaunch it (probably a bus reset cause it t

[2021-08-14 12:02] dhalbert commented on #5101
I tried the Ableton demo program on a Dell Optiplex 3020 (WIndows 10) and a 7010 (Ubuntu 20.04) and was not able to reproduce the program.These have similar motherboards.  In both cases I was not using a USB hub. So either it seems very specific to certain USB controllers or else there is some OS-related issue that is not present all the time.

[2021-08-14 13:27] w8HAQRHkTx7r opened #5150 "macropad.pixels[0] flashes randomly+/- after "code done running""
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

After the for loop completes, "code done running" is displayed and pixels[0] will begin to flash red randomly.

### Description

The "code done running" is expected.  The flashing is not.  I would expect the default behavior to be "all pixels off".  If a
[code]
is added to the code, the code is never done and pixels[0] never f

[2021-08-14 13:57] dhalbert commented on #5150
The first NeoPixel is used as a status pixel, like the status NeoPixels on Feather and Metro boards. If your program starts using the NeoPixels, the status information will not be displayed. Normally your user program would run forever, but if it completes, CircuitPython restart and will again display status information.

[2021-08-14 14:57] w8HAQRHkTx7r commented on #5150
@dhalbert I'm sorry I'm not familiar with the Feather nor Metro and I don't understand your comment.  Are you saying the random flashes are providing me with some sort of status information?

[2021-08-14 15:04] dhalbert commented on #5150
Yes, the status RGB LED indicates various states and errors. In 6.x and earlier, it flashed more often: https://learn.adafruit.com/welcome-to-circuitpython/troubleshooting#circuitpython-rgb-status-light-2978455-21. In 7.0.0, we are simplifying it and reducing the frequency of flashing, to save power and annoyance. The new flashing scheme hasn't been written up yet in detail.

[2021-08-14 21:50] jepler commented on #5021
debug uart messages seem to indicate the watchdog is biting...
[code]

[2021-08-15 08:51] s-light opened #5153 "PulseOut inverted (idle_state = carrier active)"
iam designing a light barrier for speed measuring -
to be immune against environment-light i use a `VISHAY TSSP96038` IR Receiver.
my ItsyBitsy M4 generates a 38kHz stream to pulse the sending IR-LED - that is working fine with
[code]

for speed & respons-tests i want to setup a test case where i **pause this stream for some *us***.
as fare as i can tell currently the PulseOut only works the other

[2021-08-15 10:57] w8HAQRHkTx7r commented on #5150
I guess that puts an end to it.

[2021-08-15 11:51] dmcomm commented on #5153
I was previously thinking that `idle_state=True` would mean the line is high when it's not pulsing (useful for driving active-low circuits, and noting that some of these microcontrollers can sink more current than they can source).

This request is another meaning of inverting PulseOut that hadn't occurred to me.

[2021-08-15 12:25] #5132 closed

[2021-08-15 13:45] Ask314 commented on #4020
I was excited to find Lady Ada's 'fix' back in May, and I'm trying to implement this too!  I still can't use the SD card on my Teensy 4.1.  I used Lady Ada's code, copied some files to the SD card on my PC, and it works, it does print the directory of the SD card.
BUT - I get the same: OSError: [Errno 5] Input/output error

when it gets to this code:
# Use the filesystem as normal! Our files are u

[2021-08-15 15:02] jerryneedell opened #5154 "repeated modules (qrio,array)"
@jepler Tagging at your request.

 I just did a build for esp32s2 and noticed that help('modules') shows qrio and array twice.
It does not seem to cause any problems, but I assume it is not desired.
[code]

[2021-08-15 16:33] nitz opened #5155 "AttributeError: type object 'object' has no attribute '__new__' (Regression?)"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

[code]

### Description

Seems to be a regression of sorts. I found #1437, which describes the same behavior (using `super()` rather than `object`, though it happens with both: `AttributeError: 'super' object has no attribute '__new__'`). As shown in the code, this is a pure python class with no native base (using the inferred

[2021-08-15 17:03] kevinjwalters commented on #4323
Turns out the SparkFun cable is fine, I hadn't realised it needed a much firmer push to go in. My i2c reliability has increased since then.

I've put all the functionality now in the code (for i2c) so you can put it to sleep and set/use the fan cleaning mode.

@mew-cx I believe the data sheet's statement of `PM4 and PM10 output values are calculated based on distribution profile of all measured pa

[2021-08-15 18:31] jepler commented on #4996
OK, so the solution is possibly to share some underlying module between boot.py and code.py, where the actual descriptor data resides!

[2021-08-15 18:31] #4996 closed

[2021-08-15 18:53] ThomasAtBBTF commented on #4996
So, do I understand correctly, that if I want to add a BrailleDevice HID descriptor, I better do that in boot.py?

[2021-08-15 19:09] dhalbert commented on #4996
You have to do `usb_hid.enable(sequence of devices)` in boot.py. You can't add it after USB has been enumerated. THis is explained in the Guide: https://learn.adafruit.com/customizing-usb-devices-in-circuitpython/

[2021-08-15 19:38] kevinjwalters commented on #4323
[code]

[2021-08-15 22:47] DavePutz commented on #5155
It looks like the issue is, indeed, MICROPY_CPYTHON_COMPAT. It is being set unconditionally in py/circuitpy_mpconfig.h to the value of CIRCUITPY_FULL_BUILD. So, setting MICROPY_CPYTHON_COMPAT = 1  in your .mk file won't do anything. I tested by setting it to 1 in py/circuitpy_mpconfig.h and your script runs OK.

[2021-08-16 00:02] nitz commented on #5155
Fantastic find, Dave! I honestly hadn't even checked the header, only looking at the `.mk`. It looks like the header still uses the  `MICROPY_CPYTHON_COMPAT` symbol for at least a string compare bit in there, I wonder if the use of `CIRCUITPY_FULL_BUILD` for `MICROPY_CPYTHON_COMPAT` was an accident? I'm replying from mobile but I'll dig through blames when I make it back to my PC.

This definitely

[2021-08-16 00:08] dhalbert commented on #5155
The setting is to save space in small builds.

[2021-08-16 00:54] nitz commented on #5155
Sure, that makes plenty of sense @dhalbert, but is there a reason `MICROPY_CPYTHON_COMPAT` shouldn't be opt-in even when `CIRCUITPY_FULL_BUILD ` is 0? Like @DavePutz pointed out, it's [tied directly to `CIRCUITPY_FULL_BUILD`](https://github.com/adafruit/circuitpython/blob/498755af0180e699b72b7773c3ca5265a329f60c/py/circuitpy_mpconfig.h#L191) as it stands. now.

It looks like in d0a210654767677d6d2

[2021-08-16 01:18] dhalbert commented on #5155
@nitz Yes, it should be `?=`, to allow optionally setting it, not just `=`. I think it was set unconditionally several years ago and we should have changed it. Perhaps we should re-purpose this issue to fix that.

[2021-08-16 13:52] jepler commented on #5154
I believe this happens because `qrio` and `array` both happen to use `MP_REGISTER_MODULE` in addition to being listed "in some other location": `array` directly in `objmodule.c` and `qrio` via `MICROPY_PORT_BUILTIN_MODULES`.

I made `qrio` this way so that I could build it into the Unix port with a minimum of fuss. I actually think it may be the preferable way, but @tannewt I'd love your input abo

[2021-08-16 15:21] dhalbert commented on #5076
Sorry for the delay, I am getting back to this now.

[2021-08-16 15:49] lcongdon opened #5159 "FunHouse I2C Fails with External Sensor Attached"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

I2C fails on FunHouse if an external I2C sensor is attached.

With no external I2C sensor attached, onboard sensor functions as expected:
[code]
Attaching an external sensor causes I2C to fail for both onboard and external sensors.

### Description

FunHouse functions as expected with no external I2C device attached. Adding an

[2021-08-16 16:50] dhalbert commented on #5076
OK, I have another UF2 for you to test:
[pico-kbd-0-255.uf2.zip](https://github.com/adafruit/circuitpython/files/6994013/pico-kbd-0-255.uf2.zip)

I tested this with karabiner-elements-EventViewer (nice program, by the way), and now I see the `KC_INTx` codes showing up, which did not happen with alpha.6. The version above has a keyboard descriptor that should allow 0-255 (it was adapter from a US c

[2021-08-16 18:57] tannewt commented on #5154
I'm not sure what you are asking me.

[2021-08-16 19:03] tannewt commented on #5150
Could you post a video? It shouldn't be random. If the code completes without error it'll be a single green blink every 5 seconds or so. If an exception ends the code, it'll blink red twice every 5 seconds. In safe mode it is three yellow blinks.

[2021-08-16 19:07] jepler commented on #5154
@tannewt how do you feel about using the `MP_REGISTER_MODULE` style to list shared-bindings python modules, going forward?

[2021-08-16 19:16] tannewt commented on #5155
Fixed by #5157.

[2021-08-16 19:16] #5155 closed

[2021-08-16 19:21] tannewt commented on #5159
What sensors specifically do you have issue with? How long are the wires you are using to connect them?

[2021-08-16 19:57] w8HAQRHkTx7r commented on #5150
Very interesting

[2021-08-16 20:26] w8HAQRHkTx7r commented on #5150
While trying to video the tests, I ran into issues of consistent results.  My first test was
[code]
The p[0] flashed GREEN every 5 seconds, just like you implied.   This is the first time I'd seen that.

The next test was
[code]
and it double-flashed RED every 5 seconds.

When I added a
[code]
into the body of the for loop and got single (not double)  red flashes, occasional solid red, a solid gre

[2021-08-16 21:39] Neradoc commented on #5150
I can repro, using the following code.py:
[code]
I got the same inconsistent red blinks. Then changed it to this and saved:
[code]
An got this instead of all white.

![image](https://user-images.githubusercontent.com/6160205/129632810-08419256-f20a-4869-bed9-4b313eac4f1e.jpg)

[2021-08-16 22:24] lcongdon commented on #5159
The problem occurs with the PCT2075, the SGP40, and the BHT1750. Each fail with either 2 inch or 4 inch cables. I have reverted to CircuitPython 6.3.0 due to other issues with 7.0.0 alpha and the issue is present in 6.3 as well.

[2021-08-16 22:48] dhalbert commented on #5150
I do not see these problems, both with the tip of `main` and with alpha.5. I also updated the macropad library to the absolute latest and it's ok. If you haven't updated the library, try that.

I tried doing just red, green, and blue, and they look OK also.

[2021-08-16 22:49] dhalbert commented on #5150
Try also putting a delay of a second or so at the beginning of the program. I have a weak hypothesis...

[2021-08-16 23:13] w8HAQRHkTx7r commented on #5150
I'm sorry.  It's long.  I ran multiple tests with inconsistent results.  Here's what a saw:

https://youtu.be/CNROk2Ach_Y

Summary:
1) Normal green blinks
2) Normal double-red blinks
3) Random / single-red flash or 5 second solid
4) Ditto

[2021-08-16 23:18] w8HAQRHkTx7r commented on #5150
Typical random behavior with

[code]

[2021-08-16 23:34] dhalbert commented on #5150
What is your host operating system, and what editor are you using? Do you have any utility programs installed that are backup programs, disk utilities, etc.?

If you install a program such as above as code.py, and then plug the macropad into an AC adapter (so no host computer), do you see the same random flashing? If you press the reset button, does the behavior repeat exactly?

[2021-08-17 00:31] Neradoc commented on #5150
I have it on latest, I even flash-nuke'd, put head from S3, and reinstalled the libraries from circup.
With just w8HAQRHkTx7r's code.py I get at minimum the red flash (after the code runs successfully).
Plugging the board into a power outlet with the same code.py I get the same result.

I noticed that the code running with the macropad library seems to have the correct colors though, so I looked a

[2021-08-17 01:02] dhalbert commented on #5150
This might be a PIO issue: neopixels uses PIO, and rotary encoder also uses PIO.

[2021-08-17 03:05] w8HAQRHkTx7r commented on #5150
I'm on the latest MacOS.  I don't have any backups running or other utilities to manage disks.

The problem happens on a raw AC outlet. I use Mu Editor.

I'll try a Reset later and an alternate way of changing code.py.

[2021-08-17 13:37] hathach commented on #1136
I am adding the `hid_boot_interface` example here if anyone is interested to test https://github.com/hathach/tinyusb/pull/1025 . I don't have any legacy bios PC to test with though. Therefore it may have an issue or two. For implementation it uses 1 interface for keyboard, and 1 for mouse. Per HID specs, device is default to report mode, Bios PC will send control request SET_PROTOCOL to change it

[2021-08-17 13:48] w8HAQRHkTx7r commented on #5150
I tried to be methodical and took good notes in this series of tests.  I created 4 .py files in Mu and saved them with the following names:
[code]

Then I exited Mu and shutdown my MacBook Pro.  After booting up, I plugged in the MacroPad to the usb port, opened a terminal window and switched from one program to another using:
[code]
and recorded the status of pixels[0] when code done was reached.

[2021-08-17 13:55] dhalbert commented on #5150
@Neradoc could you try a `microcontroller.reset()` instead of the reload, to see if it's a hw setup issue? Thanks.

[2021-08-17 14:39] kattni opened #5164 "CircuitPython hangs in while playing: loop with MP3 playback"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

The code above hangs in the `while` loop, and never reaches the `print("done playing")`. Discovered by me with MacroPad library, reproduced with code above by @jepler. There are no failures in the serial console, and you still have access to reload from the console and/or get to the REPL. This happens with similar code in the

[2021-08-17 15:32] Neradoc commented on #5150
It works correctly after a reset, with the button or `microcontroller.reset`, until `rotaryio.IncrementalEncoder` is deinited. I've done a few tests, it seems the issue appears after the `rotaryio.IncrementalEncoder` is deinited, but only if the neopixels were used before. Being connected to a computer or not has no incidence on any of that.

This displays all green as expected:
[code]
This displa

[2021-08-17 15:47] dhalbert commented on #4986
ESP32-S2 now properly goes into safe mode. This must have been fixed with one of @microDev1's ESP32-S2 mode fix PR's.

After pressing reset:
[code]

[2021-08-17 15:47] #4986 closed

[2021-08-17 17:05] #5164 closed

[2021-08-17 17:41] dhalbert commented on #4658
I retested the shorter test program on a Metro M4 and Trinket M0 on the tip of `main`, and it seems to work OK. There have been some recent fixes that I think might have fixed this. Please reopen if you can reproduce. Thanks.

[2021-08-17 17:41] #4658 closed

[2021-08-17 18:48] dhalbert commented on #4431
This no longer crashes, but supplying a buffer >1025 raises the exception `RuntimeError: Internal audio buffer too small`.

(1025 only works I think because these are 16-bit samples, so 1024+1 works because the extra byte is ignored, but 1025 does not work).

I'm going to close this and open a new issue about that, since it's not fatal.

By the way, I tried this with all the PWM pins, and with the

[2021-08-17 18:48] #4431 closed

[2021-08-17 19:02] dhalbert opened #5167 "Supplying a larger buffer for RP2040 PWMAudioOut fails"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

[code]

### Description

Simplified from test program in #4431.

### Additional information

Might want to defer this past 7.0.0.

[2021-08-17 19:03] dhalbert commented on #5141
Do you hear the crackles just at the beginning and the end? If you remove the other PWM pins does it still stop after a while?

[2021-08-17 19:38] dhalbert commented on #5020
What is your host computer OS? I could not reproduce this on Ubuntu 20.04 with later-than-alpha.6, but it might be due to a delayed callback from TinyUSB.

In any case, I added code to PR #5151 to avoid a write when there is no buffer, which would prevent this.

[2021-08-17 19:38] tannewt commented on #5154
I haven't looked into it at all so I'd defer to you.

[2021-08-17 19:50] tannewt commented on #5150
@w8HAQRHkTx7r thanks for the video and your patience. We'll get this fixed soon.

[2021-08-17 22:31] bmeisels opened #5169 "IL0373 Epaper - quick refresh"
Hi,

@amit794 and I have been working on quick refresh support (by using a different waveform) on the IL0373 as part of our work on the ARAMCON 2 Badge.
Our code can be found at (friendly warning - this is not production grade):
CircuitPython core changes - https://github.com/aramcon-badge/circuitpython/tree/feature/refresh-modes
IL0373 driver - https://github.com/aramcon-badge/aramcon-firmware/bl

[2021-08-17 23:04] skerr92 commented on #5159
I did want to see if this was an issue specific to Funhouse vs a broader issue with ESP32-S2. I tried this with the ESP32-S2 PixelWing I just had added and tested with 7.0 Alpha with two i2c boards. One the MPU-6050 and the other the 1.3" OLED display.

I wasn't able to replicate the issues with my ESP32-S2 board so it's possible it could be isolated to Funhouse.

[2021-08-17 23:05] todbot opened #5170 "FunHouse 2nd LED full-on white on startup"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

Install latest CircuitPython 7 from S3.
On power up:
- All purple LEDs turn on briefly (TinyUSB?),
- Then yellow 1st LED flashes and 2nd LED turns full-on white
- Status 1st LED turns off, but 2nd LED stays full-on white
See attached video in Additional Information

### Description

This behavior is not present in 7.0.0-alpha6

[2021-08-18 00:48] tannewt commented on #5146
https://github.com/adafruit/Glider-for-iOS/pull/10 is needed on the Glider side.

Fix for FATFS incoming.

[2021-08-18 05:07] dgriswo commented on #5159
I have a FunHouse and tried with a PCT2075, BH1750, SGP30 (all concurrent) with CircuitPython 6.3.0.  I was able to instantiate an object for all the sensors and the FunHouse object without issue.  I repeated the test under 7.0.0-alpha.6 without issue. I don't have an SGP40 to test.

I even tried pulling A0 on the PCT2075 high to make its i2c address 0x77 and couldn't reproduce the "No I2C device

[2021-08-18 12:27] dhalbert commented on #5159
@lcongdon Let's see if this is a possible hardware problem. Thanks.

- Are you using the Adafruit sensor boards, or some other boards?
-  Which STEMMA cables are you using? Are you using Adafruit ones? Could you give the part numbers your ordered?
- Are you using the small black STEMMA/QT socket? Are you using cables directly to the boards, or are you going to header pins?
- Could you measure the

[2021-08-18 15:22] jepler commented on #5021
I didn't get any traction on this bug, so giving it back for someone else to try.

[2021-08-18 15:33] jepler commented on #5004
I see the same, with #5172 (just in case it was a tinyusb bug that was subsequently fixed):
[code]

[2021-08-18 15:44] KingerNorth commented on #5159
I tested the Funhouse and added 2 breakouts with stemmaqt connectors, the apds9960 and the vl6180. The i2c and the Funhouse house worked perfectly. I tried it with both adafruit-circuitpython-adafruit_funhouse-en_US-7.0.0-alpha.6.uf2 and the latest file adafruit-circuitpython-adafruit_funhouse-en_US-20210817-5b0009c.uf2. I was using 100m stemma cables between the Funhouse and both breakouts. Also

[2021-08-18 16:24] jepler commented on #5004
What do y'all have in `code.py`?  I bisected the problem I was seeing to the merge of #3191 (between beta.2 and rc.0) but it went away after moving my `code.py` out of the way.  `code.py` contained some code to use canbus, but there was no working bus.

The code I had was:

[code]

[2021-08-18 16:26] jepler commented on #5004
.. and I can go all the way back up to 7.0.0-alpha.6 with no `code.py` and all is well.

[2021-08-18 16:50] sa-schaefer opened #5176 "Circuit Python Core Crash"
Auto-reload is off.
Running in safe mode! Not running saved code.

You are in safe mode because:
CircuitPython core code crashed hard. Whoops!
Attempted heap allocation when VM not running.
Please file an issue with the contents of your CIRCUITPY drive at
https://github.com/adafruit/circuitpython/issues

Press any key to enter the REPL. Use CTRL-D to reload.

Adafruit CircuitPython 7.0.0-alpha.4 o

[2021-08-18 16:52] dhalbert commented on #5176
Please provide more details ("Please file an issue with the contents of your CIRCUITPY drive"), and if this is reproducible, try alpha.6 or "Absolute Newest".

[2021-08-18 16:56] sa-schaefer commented on #5176
Not sure what files to attach as there are files that I am not sharing.  I have a copy of the CIRCUITPY drive I can attach required files to.
I have to go, will look at this later

[2021-08-18 16:56] #5176 closed

[2021-08-18 17:14] #5125 closed

[2021-08-18 17:39] tannewt commented on #5169
Please make a draft PR for the changes to the core. That makes it easier to see what you are proposing for the core.

I think we'd be open to merging it in but would want to know the details first.

[2021-08-18 17:42] tannewt commented on #5170
I think the board define was just fixed so the pins are right now.

Yeah, that would be good. I didn't know we had a board with multiple dotstars instead of neopixels.

[2021-08-18 19:15] sa-schaefer commented on #5176
I am back, I rebooted the Feather RP2040 and the problem went away.  Not sure what happened, if it reoccurs I will try the alpha 6 or Absolute Newest.

[2021-08-18 19:35] NikilXYZ commented on #4542
Pretty sure that interrupt context switching on AVR microcontrollers took around 40 uS anyway. So this is within reasonable expectations.

[2021-08-18 19:40] lcongdon commented on #5159
@dhalbert, your question prompted a close inspection of the I2C socket on the FunHouse and there is a bent pin. Thanks for looking into this.

[2021-08-18 19:40] #5159 closed

[2021-08-18 19:42] dhalbert commented on #5159
Glad it was easy to spot. Thanks for checking. Sometime's it just mechanical!

[2021-08-18 20:06] lcongdon commented on #5159
@skerr92, @dgriswo and @KingerNorth thanks also for checking. I incorrectly assumed a software problem. Working for me now as well.

[2021-08-18 20:24] WarriorOfWire commented on #4542
How many microseconds does python gc take on your AVR though? That’s the real point there, not interrupt context switch timing (both of which are different from circuitpython loop lifecycle state- please feel free to read the tick loop code if you’re curious, and gather your own data on gc timing if you doubt mine).

Circuitpython is not the right tool for microsecond timing critical projects, and

[2021-08-18 20:26] NikilXYZ commented on #4542
Well there's no Python on AVR as far as I know.

I am just saying ppl used to AVRs through arduino unos and subsequent
boards might not have an issue with that timing

On Wed, Aug 18, 2021 at 3:25 PM Kenny ***@***.***> wrote:

[2021-08-18 21:02] jepler opened #5177 "Enable seeking mp3 files"
It's a bit gross, but I came up with  a working recipe for re-synching with an mp3 file after a seek to an arbitrary position. https://github.com/adafruit/Adafruit_MP3/compare/master...jepler:mp3-seek?expand=1

This potentially does a bunch more reading inside the audio background callback, so it may or may cause audio to glitch.

However, it did work properly for my test mp3 file when starting fr

[2021-08-18 22:14] dhalbert commented on #5020
Closing via #5151. Please reopen if this shows up again.

[2021-08-18 22:14] #5020 closed

[2021-08-18 22:29] jepler opened #5179 "esp32s2: implement sdioio"
Can we use https://docs.espressif.com/projects/esp-idf/en/latest/esp32s2/api-reference/storage/sdmmc.html ?

[2021-08-18 22:31] jepler opened #5180 "rp2040: implement sdioio"
Maybe we can use this code? https://github.com/raspberrypi/pico-extras/blob/master/src/rp2_common/pico_sd_card/sd_card.pio

[2021-08-19 03:20] microDev1 commented on #5020
Thanks @dhalbert, this is fixed now.

[2021-08-19 03:29] microDev1 commented on #5179
This can't be done on the `esp32s2`. The support is for `esp32` and `esp32s3`.

Check for `SOC_SDMMC_HOST_SUPPORTED` in `esp-idf/components/soc/esp32XX/include/soc/soc_caps.h`.

[2021-08-19 03:29] #5179 closed

[2021-08-19 13:06] jepler commented on #5179
Ah, I've learned to check if the URL says esp32s2 but apparently that's not enough to distinguish whether the functionality is actually available.

[2021-08-19 20:05] jepler opened #5183 "Convert all circuitpython modules to use MP_REGISTER_MODULE"
This can reduce the amount of boilerplate required.  Instead of introducing a macro such as `QRIO_MODULE` dependent on `CIRCUITPY_QRIO` and then adding an expansion of it in `MICROPY_PORT_BUILTIN_MODULES_STRONG_LINKS`, one simply writes in the bindings `__init__.c` file:
[code]
where the first item is the module name as a qstr, the second item is the module's globals, and the third is the preproce

[2021-08-19 20:48] tannewt commented on #5086
FYI, I found the issue. The iMX code was sleeping when pending USB actions were queued up. This caused the device to not respond. The interrupt that would have woken from sleep had already occurred.

[2021-08-20 00:24] dhalbert opened #5184 "STM32 PWMAudioOut does not sound good"
While testing audio on a bunch of boards, found that `PWMAudioOut` on STM (at least STM32F405), does not sound good. It's recognizable, but very noisy. Changing sample rate or sample size (8 vs 16) does not really make a difference.

[2021-08-20 02:19] robertgallup commented on #3626
Awesome! I finally tried this out with 7.0.0 Alpha 6 and it's such a relief to have tones again that don't stagger drunkenly along!  :-)

[2021-08-20 03:20] #5034 closed

[2021-08-20 03:55] #5154 closed

[2021-08-20 03:55] #5004 closed

[2021-08-20 04:01] #3447 closed

[2021-08-20 09:49] waiweng83 opened #5186 "Print function doesn't print the GPIO state correctly."
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

The function print(button.value) doesn't print out the GPIO state correctly if I commented out the time.sleep(0.1).
It works fine if the 0.1s delay is there.

In both cases, the LED does react correctly to the button's state.

### Description

_No response_

### Additional information

_No response_

[2021-08-20 12:44] Neradoc commented on #5186
I don't see you set a pull direction in your code ?
[code]
Alternatively you can use this:
[code]

[2021-08-20 14:05] waiweng83 commented on #5186
It doesn't matter as there is external pull up on my board (Maker Pi RP2040).
Also the LED does behave expectedly according to the state of the push button.
Only the print function doesn't print the actual value when there is no delay in the loop.

[2021-08-20 14:11] dhalbert commented on #5186
I think you may be seeing switch bounce. You are reading the button state twice, and the second time may be different than the first, due to bouncing. The delay does debouncing for you.

Also, the LED value is the opposite of the button state. You did not say what you expected, just that you thought it was wrong.

Try this:
[code]

[2021-08-20 14:20] waiweng83 commented on #5186
I'm sorry that if I didn't make it clear.

I have a button which is active low and a LED which is active high.
I expect that when I press the button, the LED will turn on and the printed value on REPL will be False.

However, when I run the code, the LED does turn on when I press the button, but the output to the REPL remains as True.
I've tried your code and the problem is still there.

[2021-08-20 16:25] anecdata commented on #5186
I don't have the Maker board, but I was unable to replicate this on an QT Py RP2040, mirroring the Cytron Maker Pi RP2040 button circuit here: https://drive.google.com/file/d/1Zp8GYO8x7ThObB1G8RIZx2YdqrXtdUc0/view
The LED and print() both reflected the correct state, regardless of delay.

[2021-08-20 16:34] NathanY3G opened #5187 "Add aliases for I2S audio pins to board module"
In the `board` module there are aliases for pins that have certain functions e.g. `SD_CS`. It would be convenient if similar aliases existed for the I2S audio pins. This would make it unnecessary to add conditional logic similar to the following:

[code]

I believe a number of boards have fixed I2S pin assignments including:

1. Adafruit Feather M4 CAN Express
2. Adafruit Feather STM32F405 Express

[2021-08-20 17:04] waiweng83 commented on #5186
This is strange. I'm able to reproduce the problem running QT Py RP2040 firmware on Maker Pi RP2040.
I'm also able to reproduce this on Raspberry Pi Pico.

[2021-08-20 17:41] dhalbert commented on #5186
Suppose you remove the LED part of the code and just print the value of the button over and over. Does it go False when you press it and True when you release? Do you see the same thing with the other button, on GP21?

[2021-08-20 18:58] jepler commented on #4883
The BAUD register is 8 bits, and it divides a 48MHz clock. The biggest divisor, 255, gives an I2C SCL rate of 48MHz/2/255 ~= 94kHz. This error is not detected.

To allow lower rates we'd have to change the clock the SERCOM is driven from, but that looks like a can of worms.

[2021-08-20 19:23] lesamouraipourpre opened #5189 "Remove `set_vertical_scroll` from displayio"
As far as I can tell the `set_vertical_scroll` parameter in the Display constructor is not used.

[code]

Should it be removed?

[2021-08-20 19:38] jepler commented on #4883
Looks like this affects samd21 equally (reading source, not testing a device)

[2021-08-20 19:59] tannewt commented on #5189
I probably added it optimistically. (It would really help speed up scrolls in one direction.) In almost all cases I've looked at, the orientation is wrong. We can remove it in 7.0.0 if no libraries use it. We can always add it back if we start using it.

[2021-08-20 20:23] dhalbert commented on #5187
The functionally labelled pins usually correspond to either silkscreen markings or hardwired connections (e.g. `NEOPIXEL`, `SD-CS`). We don't tend to assign function names to pins such as the Grand Central pins above when you'd have to look up the pins anyway. Though there are boards where only certain pins can be used for certain functions, like the I2S examples above, there are other boards wher

[2021-08-20 20:23] #5187 closed

[2021-08-20 20:44] lesamouraipourpre commented on #5189
Against the Adafruit bundle:
[code]

If you are happy enough to remove it, I can do PRs for these 6 libraries.

[2021-08-20 21:09] mrdalgaard opened #5191 "Add aesio to more ports"
AES support is useful on more port then the nRF52840 when using wireless hardware, such as the RFM9x (which does not support AES natively).
If the current module is a generic implementation, please consider building it on ports with enough storage.

[2021-08-20 23:14] tannewt opened #5192 "Translations with two-byte unicode characters shouldn't use two bytes for every character"
When any character that is compressed is two bytes, then all characters in the `values` and `words` tables will be twobytes. Instead, only the mulibyte character should take multiple bytes.

![Screenshot_20210820_161300](https://user-images.githubusercontent.com/52649/130301666-77df1dd9-b847-47fa-ba6c-bb9549616410.png)

This change caused the french version to increase ~500 bytes simply due to two

[2021-08-20 23:16] cwalther commented on #5192
In other words, the compression should work in terms of UTF-8 bytes, not in terms of codepoints (characters).

[2021-08-21 00:07] Docteh commented on #5192
I think the compression needs to see which method is more efficient. Most languages using code points with high values are probably using lots of code points with high values.

Throwing a few fancy apostrophes into the middle of many latin characters seems to have been unexpected.

The fancy apostrophe in question is 8217 in hex `0x2019`
Also represented as three bytes in UTF-8
[code]

https://git

[2021-08-21 00:10] tannewt commented on #5192
FYI: I discussed this on my stream today: https://www.youtube.com/watch?v=veOmVVP_YsY

[2021-08-21 00:43] mocleiri commented on #4671
I've built a micropython integration for tensorflow lite micro: https://github.com/mocleiri/tensorflow-micropython-examples

I've implemented all of the upstream examples except for magic wand.  Some are just running micropython code with hard coded sample data and others like micro_speech can run in real-time with audio sampled over i2s.

I'm progressively expanding what has been done and I'm int

[2021-08-21 02:30] #5086 closed

[2021-08-21 02:30] #4883 closed

[2021-08-21 07:46] henoya commented on #5076
Dan-san

Thanks!
I have tried `pico-kbd-0-255.uf2.zip` and it works fine.
I have confirmed that keycodes that were not entered in the previous version are now entered!
The `￥` character is assigned to the same character code as `/` (backslash) in ASCII code, but it is not supposed to be displayed unless you have a Japanese display environment.
In my computer environment, `INT1` (135) was correctly

[2021-08-21 12:23] dhalbert commented on #5076
Great! Thank you for testing. This fix has already been merged as part of #5151, since I felt that the descriptor needed improvement in any case. It is already available in any "Absolute Newest" release, and will be in the next release, which will probalby be `7.0.0-beta.0`.

The specific commit is https://github.com/adafruit/circuitpython/pull/5151/commits/38f42818e9a01226cc62d4d1ba7bc4dc264ff5b8

[2021-08-21 12:23] #5076 closed

[2021-08-21 12:31] jepler commented on #5192
The portion that you saw showing up as two bytes per character is the "dictionary", which is a small portion of the message data overall. (called "words" in `genhdr/compression.generated.h`)

It turns out this is not a savings for all languages, basically for the reasons @Docteh mentions above, we need make the compression system accommodate either situation and determine which is more efficient.

[2021-08-21 15:24] lesamouraipourpre opened #5194 "`pixel_luma` parameter is not used in `displayio_colorconverter_compute_tricolor`"
The `pixel_luma` parameter of `displayio_colorconverter_compute_tricolor` in `shared-module/displayio/ColorConverter.c` is not used at all.

[code]

Should this be removed?

[2021-08-21 16:59] FoamyGuy opened #5195 "Bitmap allows pixels to be set to color indexes that exceed value_count"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

Setting the pixel to a color value that exceeds the `value_count` that was passed in the `Bitmap()` initialization does not raise an exception unless / until the value exceeds the maximum decimal value possible based on the number of bits needed to fit the `value_count` that was passed to the constructor.

### Description

The

[2021-08-21 18:49] NathanY3G commented on #5187
Thanks @dhalbert for taking the time to explain the rationale. I believe I understand the intent of the `board` module now.

[2021-08-21 19:26] hierophect commented on #4671
@mocleiri my first instinct would be the STM32H7 (probably H743), which we have basic support for, is used by OpenMV, and has a precedent for being used for this kind of application. However, a number of Circuitpython boards use external flash, including the ESP32S2, the i.MX RT, and the RP2040, all of which could theoretically support the firmware size you're mentioning. It'd probably be nice to

[2021-08-21 19:56] dhalbert opened #5197 "Support "feature" reports in HID"
"Feature" reports are not currently supported in HID. They can be bidirectional. I believe this requires some additional callback processing for Feature get and set requests.

Narrows #4868.

[2021-08-21 19:56] dhalbert commented on #4868
Most fixed by #5151. Feature reports enhancement moved to #5197.

[2021-08-21 19:56] #4868 closed

[2021-08-21 20:15] PeterFalken opened #5198 "Macropad RP2040 sometimes doesn't report position change."
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

No error message on console.

### Description

If turning the rotary encoder fast - sometimes the app_index variable won't change value.
I'm trying to update the Macropad Hotkeys code so that pushing the encoder switch will change to different folder containing specific OS macros (basically grouping hotkey macro definitions by

[2021-08-21 20:22] dhalbert commented on #5198
IIn the code above, trying getting the `macropad.encoder` value only once, since it may vary between the two calls at the beginning of the loop.

The rotary encoder handling is interrupt-driven, and sometimes can lose clicks when the encoder transitions happen too fast. I'm not sure that's the issue here. There is also a known problem about reversing: #3875. We've spent time tweaking the code, but

[2021-08-21 20:31] #5146 closed

[2021-08-21 21:04] PeterFalken commented on #5198
Thanks Dan.
I'll update the code so that macropad.encoder is only evaluated once and then run a few tests.
`## Main loop
while True:
    n_position = macropad.encoder
    diff = n_position - l_position
    l_position = n_position
    if 0 != diff:
...`

I'll report back with my findings.

[2021-08-22 00:50] PeterFalken commented on #5198
After updating the code to only call _macropad.encoder_ - the behavior is improved, less positions are lost if turning the encoder fast. I think that in the end the positional code should actually be something like this:

[code]

[2021-08-22 02:37] dhalbert commented on #5198
Glad it's working better. Are you modifying this code? https://github.com/adafruit/Adafruit_Learning_System_Guides/blob/main/Macropad_Hotkeys/code.py
If you think it could use improvement, feel free to submit a PR, though a feature addition would require a guide update, so I'm not sure we'd do that right now.

Do you think we should close this issue?

[2021-08-22 03:14] DavePutz commented on #5091
I ran some tests and found the if the -Og in the Makefile under the "ifeq ($(DEBUG), 1)"  with -O3 resulted in a successful (and debugable) build. @tannewt ;  since a normal build also uses -O3 would this be an acceptable change to PR?

[2021-08-22 04:02] PeterFalken commented on #5198
Dan,
Let's close this issue, since the root cause is already being tracked on the ticket you mentioned on the first comment.
I'll submit a PR for the Macropad Hotkeys with some improvements. The feature addition - I'll work on it and get in touch once it's ready for release, I could probably take care of updating the guide as well.

Thanks for the help, I learned a couple of things.

[2021-08-22 04:02] #5198 closed

[2021-08-22 12:56] dhalbert commented on #5150
Another report of sometimes-wrong NeoPixel colors, in the Arduino library (which I would guess uses the same PIO code):
https://github.com/adafruit/Adafruit_NeoPixel/issues/288

[2021-08-22 15:40] mocleiri commented on #4671
Thanks for your feedback.

I'm tracking circuitpython integration on: https://github.com/mocleiri/tensorflow-micropython-examples/issues/27

I'm looking at reducing the ops and firmware size in:
https://github.com/mocleiri/tensorflow-micropython-examples/issues/28

I'll start with the Cortex M7 boards like openmv and teensy 4.1 and then into the others you listed.

I'll ping back on this issue onc

[2021-08-22 21:09] jerryneedell opened #5201 "nrf52840 builds not working"
[EDIT - problem is more widespread than just the done; see below -- @dhalbert]

I tried using one of the new RAYTAC-nrf52840 dongles? https://www.adafruit.com/product/5199 With the pre-installed firmware, I can see it with the nrf-connect app and see changes in the button state and well as set the LED on/off. I tried uploading CP from tip of main to  it and it does not seem to boot - I see several

[2021-08-22 21:20] dhalbert commented on #5201
I tried this the dongle with:
- https://adafruit-circuit-python.s3.amazonaws.com/bin/raytac_mdbt50q-rx/en_US/adafruit-circuitpython-raytac_mdbt50q-rx-en_US-7.0.0-alpha.6.uf2: works and shows CIRCUITPY
- https://adafruit-circuit-python.s3.amazonaws.com/bin/raytac_mdbt50q-rx/en_US/adafruit-circuitpython-raytac_mdbt50q-rx-en_US-20210822-fdfcaf0.uf2: does not work

So a bisect is in order.

[2021-08-22 21:25] dhalbert commented on #5201
I tried a Feather nRF52840 with fdcaf0 as well, and it doesn't work either. So something about the nRF builds has broken since alpha.6.

[2021-08-22 22:56] mathias commented on #4377
Is it possible that this problem could be back, on a Macropad running 7.0.0-alpha.6 ?

I’m seeing a very similar problem, except I can’t get the board back by reset — I have to use the nuke uf2 to clear it and start over with flashing. I described what I’m seeing here: https://forums.adafruit.com/viewtopic.php?f=60&t=182523&p=886785#p886785 before I found this Issue.

[2021-08-22 23:14] dhalbert commented on #5201
Bisected to
- d2860b58b06f02303a30a7ff505f3fae2c21ba25, which is #5182

[The title of an issue or PR will be included in the rendering, _if_ you put it in a list.]

[2021-08-23 00:03] dhalbert commented on #4377
@mathias I answered in the forums.

[2021-08-23 00:36] jepler commented on #5189
Yes, let's mark it as deprecated and ignored in 7.0, then remove it from the core in 8.

[2021-08-23 00:53] jepler commented on #5192
I had an additional idea, which was to make the entries in "words" index "values" rather than being code points; the indexing is "utf8-like" if more than 0-255 indices in values are needed.  This should be a win on average, as (no matter the language) most code points in "words" should be represented by just 1 byte. However, it ends up a bit worse for latin languages still.

| language | before |

[2021-08-23 02:41] waiweng83 commented on #5186
The problem still persists after removing the LED part. It also happens on other GPIO.

[2021-08-23 06:34] waiweng83 commented on #5186
I think I've found out the root cause for this problem.
I've done some test using the code below:

[code]

And what I got was the LED turns on way before the printed counter is > 10000.

Can I confirm that the print function is non-blocking and calling the print function is actually just adding the value to a queue and it will only be printed after the previous value. This way if we keep calling t

[2021-08-23 11:58] dhalbert commented on #5186
There's a buffer for USB output, and the output is also buffered on the host side. On the host side, the buffer can get very large, so you'll have some lag. When and if the host-side buffer fills up, the USB driver there will do a USB stall to prevent getting more input, and the CircuitPython side will not transmit more information until the stall is released. Some terminal programs are faster tha

[2021-08-23 14:19] #4471 closed

[2021-08-23 14:19] #5023 closed

[2021-08-23 16:46] #5201 closed

[2021-08-23 17:27] #5047 closed

[2021-08-23 19:25] tannewt commented on #5091
@DavePutz Yup, fine with me.

[2021-08-23 19:38] tannewt commented on #4671
Thanks for looking into this @mocleiri.

[2021-08-23 19:50] tannewt commented on #5194
Sure. Looks like it is unused.

[2021-08-24 00:44] jepler commented on #5192
I doodled around with ideas to reduce the size of the huffman table in the ja translation, but I don't think there ends up being much gained, or maybe even a net loss.

General idea: Split code points into 8:8 values. Find out the number of distinct upper octets (70 in the case of the ja translation today), and store items as a combination of the lower 8 bits plus an index for the upper bits. In t

[2021-08-24 01:41] waiweng83 commented on #5186
@dhalbert Thanks for your explanation. I understand it clearly now.
So it seems like it's not a bug and I will close this issue.

Thanks everyone.

[2021-08-24 01:41] #5186 closed

[2021-08-24 04:33] jpconstantineau opened #5211 "nRF52 RotaryIO: raise error when more than 4 encoders are used"
I have a small macropad that has 5 rotary encoders.  It appears that CircuitPython has a hardcoded limit of 4 rotary encoders to be setup on the nRF52840. (I use a BlueMicro840).

I created a [test program](http://pykey.jpconstantineau.com/docs/testing_hardware/encoders) to track the position of all 5 encoders.  In the first iteration of the program, I initialize 5 encoders in sequence 1,2,3,4,5 a

[2021-08-24 06:39] microDev1 commented on #5211
CircuitPython doesn't have a limit for the number of rotary encoders.
`nRF52840` has a limit of 8 [`GPIOTE`](https://infocenter.nordicsemi.com/index.jsp?topic=%2Fps_nrf52840%2Fkeyfeatures_html5.html) channels, each rotary encoder uses 2 channels and thus a max of 4 encoders can be used.
Leaving this issue open as an error should be raised when we run out of available channels.

[2021-08-24 06:58] #5194 closed

[2021-08-24 07:55] microDev1 commented on #5091
Closing... fixed in #5210.

[2021-08-24 07:55] #5091 closed

[2021-08-24 12:53] jpconstantineau commented on #5211
That makes sense and explains why performance is much better than in the arduino (Adafruit_nRF52_Arduino) software encoders.
Is there any other functionality that would consume channels as well?  i.e. Does the consumption of GPIOTE channels impact other functionality?  Take for example alarm.pin? Does that use the GPIOTE or pin SENSE mechanism?

Would there be any chance to add the hardware Quadra

[2021-08-24 13:24] dhalbert commented on #5211
We've had a lot of discussion of rotaryio in #3875. I found [an interesting algorithm](http://www.technoblogy.com/show?1YHJ), mentioned in that issue, that uses only one interrupt, which would save interrupt channels. We didn't use the QDEC peripheral for the reason you imply, which is that it only supported one encoder.

[2021-08-24 13:46] urish opened #5212 "USB output only starts after main.py finishes (RP2040)"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

I'm working on adding CircuitPython support to my Raspberry Pi Pico simulator on Wokwi.com.

The USB Serial output seems to initialize only after main.py finishes running, so the user can't see any output (or enter any input, such as Ctrl+C) as long as main.py is running. Once main.py finishes running, the USB Serial console i

[2021-08-24 14:04] jepler commented on #5211
I think I spoke dismissively about the above-linked algorithm once, but I took the time to actually test it and I think it may be a correct algorithm for quadrature decoding. I believed that any algorithm triggered only by edges from one of A or B had to be wrong, because [this particular realization of an A-triggered quadrature decoder is wrong](https://emergent.unpythonic.net/projects/0114909467

[2021-08-24 14:36] dhalbert commented on #5212
The behavior you describe does not happen on a real Pi Pico when running CircuitPython. USB is started when `code.py` starts.

Do you by chance have both a `main.py` and a `code.py`? Both are accepted: `code.py `is preferred for CircuitPython. (The accepted files are `code.txt`, `code.py`, `main.txt`, `main.py`, searched for in that order.)

Could you describe how you emulate the Pi Pico? Can you

[2021-08-24 15:00] urish commented on #5212
Thanks for the speedy response and for trying to reproduce this on the real Pi Pico!

In this case, I only have main.py (also tried now with code, getting same behavior):

[code]

The Pi Pico is emulated using an [open source library that I created for the purpose](https://github.com/wokwi/rp2040js). I can trace USB activity, as well as connect with GDB to debug the CP code that is running inside

[2021-08-24 15:08] jpconstantineau commented on #5211
Counting twice as fast may be an issue, especially with encoders that have mechanical detents (clicks). In such case, we would have double-counts per detent. We would need some kind of divider.

@jepler is your new algorithm the same as the one implemented in the [arduino nrf52 stack](https://github.com/adafruit/Adafruit_nRF52_Arduino/blob/master/libraries/RotaryEncoder/SwRotaryEncoder.cpp)?   Thi

[2021-08-24 15:14] jepler commented on #5211
The algorithm I tried implementing was the one @dhalbert linked to, http://www.technoblogy.com/show?1YHJ

[2021-08-24 15:15] dhalbert commented on #5212
So if main.py is an infinite loop, you never see the EP0_IN_BUFFER_CONTROL write?

Both MicroPython and CircuitPython use TinyUSB as the USB stack. CPy calls `tud_task()` to handle pending USB work in the background. We check for background tasks at safe points in the VM interpreter via `RUN_BACKGROUND_TASKS`, aka `supervisor_run_background_tasks_if_tick()`. We see whether at least one 1/1024sec t

[2021-08-24 15:59] fasteddy516 opened #5213 "No longer able to create custom USB HID devices."
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

On the Metro M4 I get the following error in `boot_out.txt`:
[code]

On the QT-PY `boot_out.txt` is empty, and I get this message in the serial console:
[code]

### Description

I am unable to create custom USB HID devices after the API change from 7.0.0 alpha.x > beta.0.

I was trying to update my [joystick library](https://g

[2021-08-24 17:04] microDev1 commented on #3778
CircuitPython just got a `BLE` workflow, so `esp32c3` support is now possible.

[2021-08-24 17:07] jepler commented on #5092
[code]

For sample rates above around 65536, the math overflows at `(denominator * sample_rate)`

[2021-08-24 17:08] jepler commented on #5092
Because the macropad sine wave contains 100 samples, problems would start at around 65536/100 Hz

[2021-08-24 18:00] #5213 closed

[2021-08-24 18:11] jpconstantineau commented on #5211
After some thought, I would err of the side of a better algorithm as opposed to more encoders.  End-users always complain when behavior isn't as expected and appears buggy.  Number of encoders being limited by hardware features is easier to "explain away".
I would be completely fine if an exception/error be raised when the number of GPIOTE runs out.

[2021-08-24 18:19] dhalbert commented on #5092
I have been looking at the `PWMOut` frequency setting, which is pretty grainy at lower frequencies.

[2021-08-24 19:06] capellini commented on #5183
@jepler I'd like to help with this.  I've been experimenting with this using displayio and my pybadge.

[2021-08-24 19:18] jepler commented on #5092
It looks like the DMA will happily update the PWM _register_ faster than the PWM's carrier frequency, but you're right that at higher sample rates maybe not all the samples would actually make it out via PWM

[2021-08-24 19:42] warmbit opened #5215 "USB VID/PID Request for Warmbit BluePixel"
Hi,

I'm currently working on a nRF52840 board as LED controller. The prototype has been assembled. I'd like to have it work with both Circuit Python and Arduino. Would it be possible to receive a VID/PID for this purpose?

Thank you very much!

[2021-08-24 20:23] urish commented on #5212
Correct

This was a very good pointer, thanks!

So here's what I'm observing:

1. `dcd_init()` is called, and registers `dcd_rp2040_irq()` as IRQ handler for USB.
2. USB peripheral is enabled, and then the reset sequence happens.
3. The Set Device Address setup packet is sent and picked up by `dcd_rp2040_irq()`, which does not seem to ack it.
4. At some point in the future, `post_usb_init()` is ca

[2021-08-24 21:07] todbot opened #5216 "Enable key velocity for MIDI keybeds by adding "ticks_ms" property to keypad.Event"
The `keypad` module can be used for MIDI keyboards, and provide velocity sensitivity, with the addition of a millisecond timestamp to the `keypad.Event` object.

In a recent [@jedgarpark  livestream](https://www.youtube.com/watch?v=bVuzj_N_MKc), he demo'd a MIDI keyboard using `keypad`. Like most keybeds, the one demo'd is implemented as two matrices: one for key down, one for key up. The intended

[2021-08-24 21:12] tannewt commented on #5215
Adafruit is no longer granting PIDs to folks outside of Adafruit. You can request a PID from https://pid.codes for open source hardware (they have testing pids too) or most chip manufacturers sublicense PIDs. I think [Nordic is ok](https://devzone.nordicsemi.com/f/nordic-q-a/50638/usb-pid-for-nrf52840) if you use a random PID with their VID.

[2021-08-24 21:12] #5215 closed

[2021-08-24 21:18] tannewt commented on #5212
This sounds like a TinyUSB issue. dcd_init() shouldn't setup the interrupt handler. That should be left to the client. @hathach thoughts?

CircuitPython intercepts the interrupt so that it can queue up the USB background task. By missing the interrupt, it misses the queued work.

[2021-08-24 21:39] jfurcean commented on #5021
Commenting out the `gc.collect()` line in `network.py` of `adafruit_circuitpython_portalbase` allows the shortened example to work. The longer example still doesn't work. I think there is some interaction with `gc.collect()` and the network connection.

I tested this with the simple magtag example in `adafruit_circuitpython_magtag` and added `magtag.network.connnect()`. It would crash unless I als

[2021-08-24 21:41] jepler commented on #4562
@FoamyGuy is this something you ended up taking on or does it still need to be done?

[2021-08-24 21:41] urish commented on #5212
Also, assuming that we find a way to fix or work around the issue, there's still some time between when main.py starts running and USB Serial is up.

This means that the user is not going to see the first few prints, and more importantly, the output in case of a syntax error. I'm wondering if there is anything we can do to delay running main.py until after USB Serial is ready? Perhaps something in

[2021-08-24 21:47] tannewt commented on #5105
Anyone have a PR/branch for this? I feel like I've seen one.

What do we need to get it in?

[2021-08-24 21:48] tannewt commented on #5134
Didn't I change my mind on this because the pins are broken out on pin headers?

[2021-08-25 02:03] dhalbert commented on #1316
Fixed by #5196

[2021-08-25 02:03] #1316 closed

[2021-08-25 02:17] FoamyGuy commented on #4562
@jepler I did make these changes in the learn guide at the time that the PR in the Learn Repo was merged.

I believe I got everything updated that needs it. But I am less experienced with ulab (or numpy / scipy) so it may be worth taking a quick look over it to ensure I didn't get anything wrong if you or someone with more experience is up to doing that.

[2021-08-25 02:23] dhalbert commented on #5216
I have had other requests for a timestamp for keypad events for other use cases, and it would be relatively easy to implement this.

[2021-08-25 03:01] #5092 closed

[2021-08-25 03:06] ladyada commented on #1316
yessssssssssssssssssssssss

[2021-08-25 03:07] dhalbert commented on #1316
I am not sure this is really fixed completely, but it is better.

[2021-08-25 03:08] #5170 closed

[2021-08-25 03:12] #4962 closed

[2021-08-25 03:24] dhalbert commented on #5212
Yes, there is a race between main.py and USB coming up. USB is not initialized in the boot.py because you can make changes to USB there.

I do see this race when using `tio`, which reconnects immediately when it sees that USB is up. A single `print("Hello")` does not show output after a hard reset, but does after a soft-reload (ctrl-D). We did not see this as an issue before because it was not pos

[2021-08-25 04:59] hathach commented on #5212
It is originally from raspberry pi team, I remembered we have an discussion with them before pico is released and result in API to get and set irq handler API. It shouldn't be an issue with current implementation of post_usb(), irq is disabled and reinstalled with cpython irq. The race condition is probably on other issue.

[2021-08-25 07:29] urish commented on #5212
With MicroPython I do see that problem, so the default is to use the UART console and not the USB CDC while running in the simulator.

Where would you add this wait? One alternative I can think about it to have a way to indicate to CircuitPython that we want this wait, e.g. some file on the filesystem or a flag set by boot.py. This way, users who don't need to see the initial main.py output won't

[2021-08-25 12:06] jepler commented on #4562
I'll skim the guide text before closing this up.

[2021-08-25 12:57] jepler commented on #4030
This may technically be an incompatible change, as changing the representation in NVS will make the data unreadable by older revisions. I'm going to go ahead and work on this, but we need to consider this wrinkle before deciding if we can still go into 7.0.0 with this change.

(it may be possible to migrate the data forward but that would still make it inaccessible to 6.3)

[2021-08-25 14:51] jepler commented on #4562
I fixed up some text on the last page, thanks for doing the bulk of the work @FoamyGuy !

[2021-08-25 14:51] #4562 closed

[2021-08-25 15:16] CrakeNotSnowman commented on #5021
I think this bug extends to the Metro Express ESP32-S2 however I can no longer reproduce it.

### Similarities:
- Metro ESP32-S2 is was using network connections
- As the `gc.mem_free()` ram ran out instead of freeing memory, the board would reset.

I was using the .bin nightly build from August 21st.

This morning I moved to the 7.0 beta .bin, and experienced the same issue. In an effort to find

[2021-08-25 15:32] jepler commented on #5021
Unfortunately, #5220 did _NOT_ fix this

[2021-08-25 15:40] jepler commented on #5021
It must be some kind of object that is moved but can't be moved safely, making this change causes the crash to go away for me:
[code]

[2021-08-25 16:01] dhalbert opened #5226 "Move shared-bindings/supervisor implementations into shared-module"
The implementations for `supervisor/shared-bindings` are directly in `__init__.c`, instead of being factored out into a `shared-module/supervisor/__init__.c`, etc. I think the latter would be better.

Motivation: I wanted to call `common_hal_supervisor_get_ms_ticks()` to use it as a timestamp for `keypad` events, but it does not exist.

[2021-08-26 13:10] jerryneedell opened #5233 "nRF52840 - SPIM3 not working if VBUS not powered when reset"
See this Forum thread for the details:
https://forums.adafruit.com/viewtopic.php?f=57&t=182604&p=887344#p887344
Summary:
with an RFM9x featherwing mounted on a nRF52840, all works normally when powered vis USB, but when powered via a LiPo battery, the rfm9x fails its version check.

The OP found a workaround:
create a dummy SPI instance before creating the real SPI instance that is fed to the rfm9

[2021-08-26 15:54] jepler opened #5236 "Add support for Espressif ESP32-S2-HMI-DevKit-1"

[2021-08-26 21:55] mrdalgaard opened #5240 "nRF52840 hardfaults on countio.deinit()"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

Crashes to hardfault handler when code is run, and alarm pin is triggered.
Not including the traceback module and traceback print will make it not crash immediately , but rather when you try to reload the program, or when loading REPL.

### Description

Connected to PC via USB (so lightsleep is fakesleep)

### Additional infor

[2021-08-27 15:19] jepler opened #5247 "fishy code in shared-module/usb_hid/__init__.c"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

Scott & I spotted this while working on #5021 -- We think that the use of `[id_idx]` twice in each line is fishy and the  first one should be `[device_idx]`

### Description

_No response_

### Additional information

_No response_

[2021-08-27 15:34] jepler opened #5248 "Add __name__ to all `board` modules"
@capellini  noticed that (most?) boards don't have `__name__` in the board module: https://github.com/adafruit/circuitpython/issues/5183#issuecomment-906807750

It would be good to see this added, just for consistency's sake.

[2021-08-27 18:52] mrdalgaard opened #5251 "RP2040 does not release countio PWM slice on VM reboot"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

Letting code run to completion or breaking out of it, and reloading will output following

[code]

### Description

Only fixed by a hard reset

### Additional information

_No response_

[2021-08-27 21:56] jpconstantineau opened #5252 "nRF52840 BLEUART doesn't receive messages - ble_bluefruit_color_picker doesn't work"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

- When code runs, no error messages occur...
- When I connect with the app, (Bluefruit LE Connect v3.3.2), it connects successfully (both app and REPL are fine).
- I then go into the "Controller", select "Color Picker"
- I pick a color, then "select"
- I would expect the neopixel to light-up and display the color chosen. Howev

[2021-08-27 23:27] #5247 closed

[2021-08-27 23:29] dhalbert opened #5254 "am trying to strobe several PWM GPIO and play a sound at the same time and get:"
am trying to strobe several PWM GPIO and play a sound at the same time and get:
RuntimeError: All timers in use
if I use less then 10 GPIOs I can get the sound, more and the error occurs. If I can put the sound onto another process I think i can bypass the timer issue??? thoughts?

_Originally posted by @LarryPriest in https://github.com/adafruit/circuitpython/issues/4542#issuecomment-907488603_

[2021-08-27 23:31] dhalbert commented on #5254
There are limited number of hardware timers on any particular chip. So multiprocessing will not help you: you have exhausted the hardware resources. What board is this?

[2021-08-28 03:15] #5251 closed

[2021-08-28 05:31] PracticalMetal commented on #5248
Hi, I would like to work on this. Can you suggest me ways to get started?

[2021-08-28 07:37] jpconstantineau commented on #3875
I just tested this on my 4 encoder nRF52 board as I was testing PR #5253 which affected encoders too.
I can attest that the dead zone is still there for EC11 encoders.

Looking at the [EC11 datasheet](https://tech.alpsalpine.com/prod/e/pdf/encoder/incremental/ec11/ec11.pdf) they appear to have 2 detents per pulse.  This would make them appear to have a dead zone when they are reversed.  In a nutsh

[2021-08-28 11:12] mrdalgaard opened #5257 "nRF52840: Entering any characters in console while sleeping will wake pin_alarm endlessly"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

Code will sleep untill sending any keystroke over USB serial console - then:

[code]
etc..
Did not touch the alarm pin

### Description
Exists on 7.0.0b0 as well as on #5253
Is especially annoying as Mu seems to send a character to the console when the Mu window gets focus

### Additional information

Triggering the actual ala

[2021-08-28 12:21] urish commented on #5212
For the online simulator, there's no way to click on the reset button at the moment. I envision most users will get a link to some project, the click the "play" button, see how it works, and start playing around with the code. So time to start can have a notable impact on the user experience. To show what I mean, try running these two examples:

- current setup: https://wokwi.com/arduino/projects/

[2021-08-28 13:15] dhalbert commented on #5248
Take a look at #5222, which added `board.board_id`. The author wrote a script to automate the changes.

[2021-08-28 13:27] dhalbert commented on #5212
I just mean that the "play" button could start from a hard reset, or it could just write code.py, as happens on physical hardware now.

The main reason now for using boot.py is to customize the presented USB. Is the simulator able to simulate HID devices, etc.?

[2021-08-28 15:51] LarryPriest commented on #5254
pico, i am working on several sub-modules of a K-9 project. i have the memory map ( bigclivedotcom gallium) and a binary counter but when I tried to add sound i ran out of timers. oh well, next step -> . . . thanks for the insight.

[2021-08-28 17:08] jerryneedell opened #5258 "esp32s2 - imagecapture sometimes adds extra byte"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

 unpredictably the image capture will be normal (starting with 0xff 0xd8) and other times there will be an extra 0xff byte at the beginning of the image buffer. If not removed, the encoded image will not be recognizable by AIO.

rebooting or resetting will often change from one behavior to another. It also rarely happens spont

[2021-08-28 17:38] dhalbert commented on #5254
You could play audio with `audiobusio.I2SOut`, but you'll need an I2S amplifier (we have those). You could try that as a substitute for `AudioPWMOut` now even if you can't hear what you and see if you run out of anything.

If you need lots of PWM's, you can get a breakout board that uses a PCM9685, which has up to 16 channels on some breakouts. You control it with I2C. See https://www.adafruit.com

[2021-08-28 17:38] #5254 closed

[2021-08-28 18:14] LarryPriest commented on #5254
thanks again -ttyl

[2021-08-28 18:26] bmeisels commented on #5169
Now that #5199 has been merged we can close this.
Thanks!

[2021-08-28 18:26] #5169 closed

[2021-08-28 19:09] deshipu opened #5259 "Option to disable waiting for safe mode"
I was reading comments on a bug, and stumbled upon this comment:
https://github.com/adafruit/circuitpython/issues/5212#issuecomment-907307341

which explains why my keyboards are so slow to work when I'm switching between hosts with a KVM. I previously blamed the slow USB enumeration in general, and the KVM in particular, but this explains it.

I wonder if adding a compile-time option for skipping

[2021-08-28 22:37] jepler commented on #3875
Yeah the code we have today is heavily geared to 1 detent per quadrature cycle. Supporting other "granularities", sometimes called X2 and X4, would be a nice addition, except for the problem of making it fit on small boards like the M0s which don't have much code space left.

[2021-08-29 09:23] urish commented on #5212
Nope, at least until someone asks for it. Remounting the FS read/write could come up with some use cases (e.g. users who prototype a data logger and want to experiment with code that writes to the FS).

Writing code.py when you press on play could be a possible solution. What I'm still concerned about is the first-time experience: users who open a link to a simulation project will still have to wa

[2021-08-29 13:28] mrdalgaard opened #5261 "nRF52840: multiple watchdog hardfaults"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

Code will immediately crash and return:

[code]
When the watchdog timeout is reached, safe mode will reset, and USB is disconnected until manual reset.

### Description

watchdog will hardfault CP if code is allowed to run to completion, or broken out of.

### Additional information

watchdog.WatchDogMode.RAISE will also crash

[2021-08-29 13:49] nathanielbutts commented on #5047
I'm still having this issue on Pico RP2040, using 7.0.0-beta.0.  There is a difference in the crackling between beta.0 and alpha.6.  On alpha.6 it was the same crackling for the entire length of play back.  On beta.0 it cycles, kinda like:
 `_|¯|_|¯|_|¯|______|¯|_|¯|_|¯|______|¯|_|¯|_|¯|_`

Code I am using:
`import board
import audiocore
import audiomp3
import audiobusio
import digitalio
import ti

[2021-08-29 14:22] mrdalgaard commented on #5252
I noticed that setting BLE up in REPL, and then connecting the app to it will allow you du send text to the REPL console from the client, but not in the other direction. So it seems to be working one way.

[2021-08-29 15:13] microDev1 opened #5262 "Addresses are not printed with leading `0x`"
In CPython, `0x%p` style is preferred for address, I think we should use it instead of `%p` for consistency.

They also have a check to ensure presence of leading `0x`:
[code]
Above code-snippet is from [`bytesobject.c`](https://github.com/python/cpython/blob/fa6304a5225787054067bb56089632146d288b20/Objects/bytesobject.c#L369-L381), a similar implementation can also be found in [`unicodeobject.c`]

[2021-08-29 16:50] nathanielbutts commented on #5047
Same issue using my MAX98357 Breakout board.  Thought it might be a related to being a 2 channel file, but converting to one channel didn't make a change.  Modified my script to run audiocore.WaveFile and still using the I2S output, and it works as expected.

[2021-08-29 21:58] dhalbert commented on #5047
@nathanielbutts Could you open a new issue, specific to MP3 (it sounds like it's only MP3?)

[2021-08-30 17:05] nathanielbutts opened #5266 "audiobusio.I2SOut: audio distorted "crackly" playing MP3"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

I'm still having this issue on Pico RP2040, using 7.0.0-beta.0. There is a difference in the crackling between beta.0 and alpha.6. On alpha.6 it was the same crackling for the entire length of play back. On beta.0 it cycles, kinda like:
`_|¯|_|¯|_|¯|______|¯|_|¯|_|¯|______|¯|_|¯|_|¯|_`

### Description

Issue presents itself u

[2021-08-30 17:06] nathanielbutts commented on #5047
Absolutely.  Opened [Issue #5226](https://github.com/adafruit/circuitpython/issues/5266)

[2021-08-30 18:24] ladyada commented on #5252
@tannewt i think this is the NUS thing?

[2021-08-30 18:29] ngdrascal commented on #4828
I was experiencing this exact problem.  Some HTTPS websites worked fine and others issued a traceback originating in _get_socket.  After going to Arduino's IO Cloud website (create.arduino.cc/iot) and updating the firmware for the u-blox the error went away.  The device came with NINA firmware version 1.4.5.  The upgraded version is 1.4.8.

[2021-08-30 19:44] tannewt commented on #5266
What is the bitrate of the MP3? You may need to lower it.

[2021-08-30 19:49] tannewt commented on #5252
Yup, the plan is to switch the UUIDs used for the CP serial connection.

[2021-08-30 19:51] deshipu opened #5269 "stm32: Meowbit board.MENU button can't be used — pin in use error"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

[code]

### Description

_No response_

### Additional information

The ``board.MENU`` seems to be ``PC15``. I couldn't find any references to that pin in ``board.c``,  so I guess something is wrong with the code that checks whether the pin is in use or not?

[2021-08-30 19:51] kattni commented on #5266
These are the MP3 restraints for RP2040/Pico. Supported MP3 files are mono and stereo files less than 64kbit/s, with sample rates from 8kHz to 24kHz. (This info was gathered for an upcoming guide, and I thought it might be helpful here.)

[2021-08-30 19:56] tannewt commented on #5259
Compile time option is fine with me. I wouldn't have it on by default though.

nRF will have a second wait time for the BLE workflow.

Perhaps we could add a safe mode pin to check at some point or maybe even a key matrix. Those checks would be fast but still allow for safe mode.

[2021-08-30 20:09] tannewt commented on #5212
What if you don't have the play button and just start the simulator immediately? That way it'd be like plugging in a CP board. Are you able to blink the on board LED? That'd make it clearer that something is happening.

Can this simulator be run headless? I'd love to use it for library CI to track memory use.

[2021-08-30 21:10] dedSyn4ps3 commented on #4828
Intersting @ngdrascal ... when I get a chance I will have to check that out. Have you been able to recreate both the HTTPS and MQTTS code examples from above using or adafruit example codes since updating the ublox firmware?

[2021-08-31 00:00] hjubb commented on #4828
I haven't been using MQTT/S but was having issues regarding HTTPS encountering the exact same `_get_socket` traceback in an error. My solution was to install the root certs for the specific domains *I was targeting* (which wasn't made very clear from any of the examples I could find) using the arduino-fwuploader at https://github.com/arduino/arduino-fwuploader

[2021-08-31 00:44] ngdrascal commented on #4828
@dedSyn4ps3 The Adafruit example from https://learn.adafruit.com/circuitpython-on-the-arduino-nano-rp2040-connect/wifi actually worked fine before I upgraded the ublox firmware.  I wasn't experiencing the issue with all websites, just some.  For example posting to https://reqbin.com/echo/post/form works fine, but posting to https://login.microsoftonline.com failed in the __get_socket_ routine.  Af

[2021-08-31 01:00] #5262 closed

[2021-08-31 01:30] tannewt commented on #5101
@ATMakersBill We've changed a number of things and this issue is likely fixed. I'm closing now but will reopen if you test and find that it is still an issue. Either way, I don't want to block 7.0.0 on this.

[2021-08-31 01:30] #5101 closed

[2021-08-31 01:32] tannewt commented on #4190
Moving this to post-7.0.0. @DynamoBen we'd like your feedback on https://github.com/adafruit/circuitpython/issues/4190#issuecomment-898844231

[2021-08-31 02:05] LibertyBeta commented on #4190
Will the current patch from tinyusb still be streamed into 7.0.0?
--
Rainer Paskiewicz

On Mon, Aug 30, 2021 at 9:32 PM Scott Shawcroft ***@***.***>
wrote:

[2021-08-31 02:33] dhalbert commented on #5212
If there is some delay, you could have a little UI delay countdown like a circle filling its edge (like the Apple download/install circle in the App store) that takes one second to complete. That would make it obvious that there was something to wait for.

[2021-08-31 03:41] #5211 closed

[2021-08-31 03:41] #5240 closed

[2021-08-31 03:44] #5252 closed

[2021-08-31 04:14] dedSyn4ps3 commented on #4828
@ngdrascal fantastic...so you're saying that the snip above is what you ran with no errors? I just hopped on to post my own success on the arduino-side of things when I saw your update.

@ladyada, I updated the uBlox firmware similar to @ngdrascal just through the IDE itself. I'm running the 2.0 beta on macOS. After the fw updated I added the root ca for adafruit as well as initial state, which is

[2021-08-31 07:59] #5257 closed

[2021-08-31 12:35] ngdrascal commented on #4828
@dedSyn4ps3 Correct.

In my case I DID NOT upload any certs.  I just updated firmware on the ublox.

[2021-08-31 13:25] dedSyn4ps3 commented on #4828
@ngdrascal gotcha. The reason why I uploaded the certs was due to a 403 Forbidden when first attempting to make the API request for Initial State.

After uploading the root cert and double checking my request query everything went through just fine. 🤘👌

[2021-08-31 13:29] dedSyn4ps3 commented on #4828
@tannewt , I think we've just about got this bug squashed...I'll double check the CP version of querying my initial state dashboard to see if it goes through after the ublox update.

If it doesn't,  I have not found anywhere in the docs of a way to include a root cert or .pem file into CP code like can be done through arduino. Any way to do that if there still is an issue with some endpoints?

[2021-08-31 13:46] dedSyn4ps3 commented on #4828
@ngdrascal @ladyada , I re-loaded CP onto the board and TLS queries to the Initial State API are now functional as well...great success!

I don't know if the ublox update alone would have fixed this, since the arduino request generated a 403 response prior to adding the root cert for initial state.

If users find that a TLS endpoint is not working, they may just need to pull up the arduino IDE and

[2021-08-31 16:52] tannewt commented on #4828
Great! Will close it now.

I don't know of one. I suspect we'd need to add the cert loading in the [ESP32SPI library](https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI) though since the ESP does all of the heavy lifting.

[2021-08-31 16:52] #4828 closed

[2021-08-31 16:55] tannewt commented on #4190
I am hoping to merge #5268 for the next release.

[2021-08-31 20:25] tannewt opened #5276 "Compress QSTR pointer pool"
The QSTR pool is a bunch of 32-bit pointers. We could store them as 16 bit offsets from a base pointer for the whole pool instead.

Doing this for the const pool built into the firmware would save ~1300 bytes of flash **but** require a post-processing step after the link. The linker places all of strings so it can't be done earlier. I tried to subtract the start of rodata in the initializer list b

[2021-08-31 20:28] deBaer opened #5277 "Make IO9 available on lilygo_ttgo_t8_s2_st7789"
Hi, sadly, the board module on this board doesn't know IO9. It's the ADC the battery is connected to for measuring the battery voltage.

[2021-08-31 22:01] anecdata commented on #5277
Want to try a Pull Request? The change is in this file:
https://github.com/adafruit/circuitpython/blob/main/ports/esp32s2/boards/lilygo_ttgo_t8_s2_st7789/pins.c

Until it's fixed, you can access this pin with `microcontroller.pin.GPIO9`

[2021-08-31 22:54] #5261 closed

[2021-09-01 00:16] nathanielbutts commented on #5266
I believe that was the problem.  Inspecting the file showed it to be 320kbit/s and 44.1khz, so basically .wav like.  I used xcfa to move it to 64kbit/s and the pops are gone.  It sounds kind of muted and scratchy, but that has probably to do more with manipulating the file too much.  I'll play around with ripping at the correct rates and try again.

Thanks for looking at it!

[2021-09-01 00:16] #5266 closed

[2021-09-01 04:37] capellini commented on #5183
I think that I've now converted all modules in shared bindings that have a `*_MODULE` defined in `py/circuitpy_mpconfig.h`.  I didn't see a module listed in `MICROPY_PORT_BUILTIN_MODULES_STRONG_LINKS` for the following modules in shared bindings, so didn't use `MP_REGISTER_MODULE`:

- multiterminal
- paralleldisplay
- nvm (submodule of microcontroller)
- os (listed in `MICROPY_PORT_BUILTIN_MODULE_

[2021-09-01 08:23] #5277 closed

[2021-09-01 10:30] blalor opened #5282 "[7.0.0.beta0] Unknown system firmware error: 3205"
I'm attempting to use the AppleMediaService advertisement, per the example [here](https://github.com/adafruit/Adafruit_CircuitPython_BLE_Apple_Media/blob/1de22a217258e37434bbbe17347be5e34077291f/examples/ble_apple_media_simpletest.py).  I've run into the same problem as @Kimpehzor in adafruit/Adafruit_CircuitPython_BLE#130, so per @tannewt's direction I'm trying the "Absolute Newest" CircuitPython

[2021-09-01 11:54] jepler commented on #5183
@capellini I'm "out of the office" so I can't look into it in detail right now. If you want to try to PR just one of those changes, perhaps someone else can review it and give useful feedback.

@tannewt do you know why those modules are different, or if we need to handle the situation differently?

[2021-09-01 17:28] tannewt commented on #5183
`espidf`, `rp2pio` and `samd` are port specific modules so I'd do those as a group.

The other four are micropython modules that we reorganized into shared-bindings. `os` and `time` are in this group too. I think they can be made strong links. MicroPython has `uos` and `utime` too which is why they have strong and weak links.

I'm not sure `multiterminal` is used anywhere. We used to use it on ESP

[2021-09-01 19:45] kattni opened #5283 "Sinewave tone playback on RP2040 no longer working as of CP7"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

The code attempts to transmit audio, but instead of a tone, a 1 second bit of semi-static-silence is played through the headphones/speaker, every 1 seconds.

Increasing the `tone_volume` variable does not resolve the issue.

### Description

Tested using the UDA1334A breakout with Raspberry Pi Pico and Feather RP2040. Same res

[2021-09-01 20:49] #5236 closed, assigned to jepler

[2021-09-01 21:18] kattni commented on #5283
So, update. WAV file playback is also resulting in silence on Pico running both 6.3.0 and 7.0.0-beta.0-183-gb80ffee10 using the UDA1334A.

I now suspect the issue may lie with `audiocore`.

Please let me know if you need any further information, or have builds to test.

[2021-09-01 21:29] rsbohn commented on #5283
Testing Pi Pico with UDA1334A.
With CP6 I hear the tone. Adafruit CircuitPython 6.3.0 on 2021-06-01; Raspberry Pi Pico with rp2040
With CP7 I hear static and some clicking. Adafruit CircuitPython 7.0.0-alpha.6-72-g162954a1a on 2021-08-17; Raspberry Pi Pico with rp2040
The static seems to be between the tones, or silence on CP7.

[2021-09-01 21:40] rsbohn commented on #5283
I can play 44100 sample/sec .wav files on CP7.

[2021-09-01 22:45] dhalbert commented on #5283
If you have an analog amp (TPA2012, etc., or try on the MacroPad), does `PWMAudioOut` work?

It appears there are conflicting test results of `RawSample` vs `WaveFile`.

I had trouble with `I2SOut` due to miswiring sometimes.

I did `WaveFile` testing with the test program in #5196, adapted to the SAMD or RP2040 board I was testing on (`I2SOut` vs `PWMAudioOut`, and whether or not there was SPEAKE

[2021-09-01 22:48] kattni commented on #5283
@dhalbert I just did MP3 playback using PWM with the PAM8302 on the Pico and MacroPad - and tone playback definitely works on the MacroPad, it's built into the library.

Should I try something else?

SAMD51 worked with I2S and tone playback.

I'm concerned about my Pico because Carter and rsbohn are getting similar results to each other, but my results are odd.

[2021-09-01 22:52] dhalbert commented on #5283
Triple-check the wiring is all I could suggest. The I2S amp I was using did not have the pins in the same order as the order on the board. I was testing with a Feather RP2040 because it has a reset button.

I think I was using the MAX98357A I2S amp.

[2021-09-01 22:55] dhalbert commented on #5283
LRC is WS, BCLK is CLK, DIN is DATA, I think that's what I did on MAX98357A.

[2021-09-01 22:56] kattni commented on #5283
Correct on the different order of pins from CircuitPython to the breakout - the UDA is clearer on pin names. I triple checked my wiring, and it appears to be right. Remember, it works with MP3 playback over I2S.

I ordered the MAX, I don't have it yet, I won't have it until Monday.

[2021-09-02 02:13] blalor commented on #5282
Ah, I was _wondering_ how pairing information persists without being explicitly stored! That's really good to know.

Clearing the bonding information worked!

[2021-09-02 03:22] vkichline commented on #3999
ESP-NOW is a great remote control protocol. It can achieve **much** longer range (with **much** lower bandwidth) than WiFi and needs no network access, making it resistant to many issues that affect portable control systems, such as security.
I would use this protocol today if it were available to write a wireless multi-servo control, using an M5 for the UI/HID and an ESP32-S2 as the receiver/cont

[2021-09-02 06:25] mocleiri commented on #4671
I found out that the circuitpython stm32 port doesn't support C++ which is a problem but I think it can be worked around.

Would it be possible to intake this micropython commit to add c++ support to stm32?

https://github.com/micropython/micropython/commit/97960dc7deb7a0e691fca5944402cd03386b744b

The other option is to build the c++ parts externally and link them into the firmware.  I'm already

[2021-09-02 07:22] deshipu commented on #5259
Fixed by #5270

[2021-09-02 07:22] #5259 closed

[2021-09-02 16:34] #5191 closed

[2021-09-02 17:50] tannewt commented on #5282
Great! I'll close this. I think the new bonding code will invalidate any existing identities when a new copy is written. So, it shouldn't happen going forwards.

[2021-09-02 17:50] #5282 closed

[2021-09-02 17:59] tannewt commented on #4671
I'd be happy to see C++ support integrated into our build files. I've not used C++ for embedded though so I'm not sure what exactly would need to change.

Why are you planning on linking to the prebuilt .a files? I'd prefer to build it directly into the binary if we can. That way we can tweak the compilation options and maybe use LTO.

[2021-09-02 22:08] kjgoodwin299 commented on #2585
Thank you everyone!  I just ran into this exact problem playing around with my new macro keyboard.  I'm new to circuit python and of course chose Cura as the application I would use as a test!  disabled USB printing in marketplace and solved the problem.  So it's not me writing bad code after all!

[2021-09-03 00:32] mocleiri commented on #4671
Using the static library was a shortcut which worked on esp32 so I didn't have to know how it all worked on the tensorflow side.

In getting to the answer on how to link it I built most of such an approach to build everything from the micropython side.

I will continue and incorporate into my eventual pull request.

[2021-09-03 15:58] jerryneedell commented on #5233
I hooked up a logic analyzer: under USB power using SPIM3 (default) it airs and looks normal:
![rfm9x_usb](https://user-images.githubusercontent.com/15856834/132033999-dd743666-135c-483b-ad6c-603e8456e851.png)
under battery power, it fails and there is no activity on the SPI lines!
![rfm9x_battery_fail](https://user-images.githubusercontent.com/15856834/132034093-8837bb8d-b1b5-4ad2-b0ea-0b8a1ec996

[2021-09-03 17:25] mrdalgaard commented on #5233
I just tested this on another SPI device (BMP390) to see if this is a general issue.

I used the following bit of code:

[code]

It works fine on USB power, but on battery it also fails:

[code]
Hence it seems to not be related to the RFM9x at all.

Tested it on 7.0.0rc1

[2021-09-03 18:08] jerryneedell commented on #5233
@mrdalgaard Thanks -- That was next on my todo list!
I also reproduced the same behavior using a Particle ARGON board (nrf52840)
Something very odd about SPIM3
Googling nrf52840 spim3 produced some interesting discussions but none that seemed relevant...yet.

[2021-09-03 22:36] mrdalgaard commented on #5233
This issue might be related:
https://devzone.nordicsemi.com/f/nordic-q-a/74754/nrf52840-application-won-t-completely-run-without-power-applied-to-vbus
Since the nRF chip has VBUS directly connected to it, it might actually change behaviour based on whether USB power is connected.

This could also be related, but have not tested with a capacitor yet:
https://devzone.nordicsemi.com/f/nordic-q-a/6547

[2021-09-04 03:33] #5248 closed

[2021-09-04 09:34] jerryneedell commented on #5233
Interesting -- the first link does appear to be the same issue
[code]

[2021-09-04 09:40] jerryneedell commented on #5233
An additional observation -- If I power it up via USB, then disconnect the USB and leave it on battery power, it continues to operate normally. The issue only occurs if it is powered up or RESET when in battery power.

[2021-09-04 11:05] mrdalgaard commented on #5233
Yes, and since the person in the first link does not seem to be using CircuitPython, it would seem to be a problem with the hardware, or the bootloader, which is in common.

[2021-09-04 19:09] dhalbert commented on #5233
SPIM3 has a number of errata. We have implemented a RAM workaround to get it to work reliably. But I had not heard of this VBUS issue until now. I will look at this further in a few days and probably ask Nordic about it.

[2021-09-06 05:15] eat-sleep-code opened #5311 "Mini Remote Control: No signal sent is valid?"
@tannewt

I am tinkering with parts from an old AdaBox -- a Circuit Playground Express and Mini Remote Control [Product ID: 389].

I installed CircuitPython 6.3.0 on the Circuit Playground Express. I also created a lib folder on the CPE and dropped the adafruit_irremote.mpy from Bundle for Version 6.x in it.

I then placed this code into a code.py file on it:

[code]

When I press the UP button (s

[2021-09-06 16:16] microDev1 commented on #3558
Closing... fixed in #3838.

[2021-09-06 16:16] #3558 closed

[2021-09-06 17:01] dhalbert commented on #5283
The UDA1334A breakout cannot drive a speaker: it is line-level output meant to drive an amp. I tried a UDA1334A into a MAX98357A and I am hearing output. Are you testing the UDA1334A directly to a speaker, or with an amp in between.

I am hearing more scratchiness on `I2SOut` than `PWMAudioOut`, but that is a different issue.

[2021-09-06 17:12] dhalbert commented on #5283
[deleted and reposted - previous post had several errors]

The UDA1334A breakout cannot drive a speaker: it is line-level output meant to drive an amp. I tried a UDA1334A into a TPA2012 analog amp, playing WAV files and I am hearing output. Are you testing the UDA1334A directly to a speaker, or with an amp in between?

I am not hearing the sine wave test at the top, though; I'm working on that.

B

[2021-09-06 19:37] anecdata opened #5305 "Presence of boot.py in many cases will cause a boot loop on ESP32-S2 with TinyUF2 (rc, not beta)"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

~~On an ESP32-S2 device (Fun House in this case, but on others as well) without TinyUF2, device behaves as expected.~~

~~On the same device _with_ TinyUF2,~~ starting clean from a fresh `storage.erase_filesystem()`, with ~~either~~ empty `boot.py` + ~~empty `code.py`, or~~ some (but not all) combinations of ~~trivial and~~ no

[2021-09-06 20:27] gingle opened #5306 "Bitbang SPI looses least significant bit"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

![image](https://user-images.githubusercontent.com/7987362/132258730-fa61428c-f88a-49b6-96c3-881f4726fde1.png)

### Description

_No response_

### Additional information

This works correctly:
from adafruit_bus_device.spi_device import SPIDevice

[2021-09-06 21:15] aivarannamaa opened #5307 "Raw REPL marker missing in CP 7.0 rc1"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

In MicroPython up to latest release and in CircuitPython up to (at least) 6.3.0, entering the raw REPL gives fixed marker: `raw REPL; CTRL-B to exit\r\n>`. In CP 7.0 rc1 for Raspbery Pi Pico, this is reduced to `\r\n>` and Thonny IDE can't read the confirmation about entering raw REPL anymore.

### Additional information

I ha

[2021-09-06 21:22] jepler commented on #5307
It's possible something's buggy at 4a9ad8a9424bfdc16d58d69ce19bf4425296ff6d and this got lost?
[code]
in addition, this would only work in English, not in other languages once they've localized this message.

[2021-09-06 21:30] aivarannamaa commented on #5307
I haven't checked it in 6.3.0, but in an older CP release this was not localized (and I hope it won't be, because raw repl is not meant for the users)

[2021-09-06 22:41] jepler commented on #5307
Right, the ability to localize this string was added between 6.3.0 and now. Perhaps the impacts of doing so were not fully analyzed and it'll need to be reverted.  But that message looks a LOT like it's intended for a human to read and understand, which is one of the reasons I made it so that it could be localized.

[2021-09-06 22:51] jepler commented on #5307
Can you test with that commit reverted and see if it fixes the problem you initially reported?

[2021-09-07 01:37] jwillikers commented on #5307
I'm seeing this problem, too. I know this was not an issue during the alpha releases for 7.0.0.

[2021-09-07 07:45] aivarannamaa commented on #5307
@jepler, reverting 4a9ad8a9424bfdc16d58d69ce19bf4425296ff6d makes CP usable in Thonny again.

I hope you agree to not localize `"raw REPL; CTRL-B to exit\n"`. The other strings in this commit are not relevant for Thonny and I agree that localizing Paste mode greeting makes sense.

[2021-09-07 13:39] jepler commented on #5307
I see why localizing it is a problem for these other pieces of software right now, but a user can accidentally press the key combination to enter this mode.

We'll revert this change or a portion of it soon to avoid breaking other software, but can you help us plan how to make our possible to localize it in the future such as in circuit python 8?

[2021-09-07 14:01] aivarannamaa commented on #5307
The best I can think of is prefixing the standard marker with translated explanation, so that Ctrl+A would produce something like this:

[code]

Current Thonny version would then output the first line as if it was regular output, but it would be able to detect raw REPL. In the future versions I could take care of the preceding line as well.

[2021-09-07 14:05] dhalbert commented on #5283
I have a fix that restores I2S output, by not trying to reuse the buffer supplied by `RawSample` as an output buffer. However, it is intermittently buzzy, which can sometimes only be fixed by a power-cycle. I hear this same buzziness in 6.3.0, so I think that was an existing problem.

The current RP2040 code does not do anything special to expand mono samples to stereo. I2S output is always stereo

[2021-09-07 15:11] anecdata commented on #5305
I think it's more complicated... if I start clean, empty boot & code will work repeatedly. It seems like there's some unexpected state being retained in some cases, and once the error triggers, it will keep triggering across hard resets until boot.py is removed. It would almost have to be something in flash?

Another behavior I hadn't seen before: Some non-trivial `boot.py` and non-trivial `code.p

[2021-09-07 18:52] kattni commented on #5283
@dhalbert Here are the MP3s from my example.
[single-code.txt](https://github.com/adafruit/circuitpython/files/7123742/single-code.txt)

[mp3files.zip](https://github.com/adafruit/circuitpython/files/7123736/mp3files.zip)

[2021-09-07 20:33] tannewt commented on #5283
FYI, the RP2040 memory system will expand narrow writes to 32 bits. This is how the 16 bit mono sample becomes a 32 bit stereo sample, the RP2040 mirrors the 16bits to the second position. See [the pico example](https://github.com/raspberrypi/pico-examples/blob/2fb08a028f886624ebc9c938775e054860549159/system/narrow_io_write/narrow_io_write.c) for details.

[2021-09-07 20:39] tannewt commented on #5307
Are there ASCII or UTF-8 control characters we can use instead? I don't like prioritizing machine interoperability over human interop. Serial messages are *NOT* a stable API for software to work against.

[2021-09-07 20:43] water5 opened #5309 "ATSAMD build error (audio_dma.c)"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

audio_dma.c: In function 'audio_evsys_handler':
audio_dma.c:420:31: error: implicit declaration of function 'dma_write_back_descriptor' [-Werror=implicit-function-declaration]
  420 |             (DmacDescriptor *)dma_write_back_descriptor(dma->dma_channel)->DESCADDR.reg;
      |                               ^~~~~~~~~~~~~~~~~

[2021-09-07 20:51] dhalbert commented on #5309
The `samd-peripherals` submodule has been updated. You'll need to get the new version:
[code]

Also note that the `esp-idf` submodule has been updated, and is now in a different repo.

[2021-09-07 20:51] #5309 closed

[2021-09-07 21:15] #4672 closed

[2021-09-07 22:16] dhalbert opened #5313 "RP2040 I2SOut sounds bad"
RP2040 `I2SOut` can have many clicks and buzzes, and other artifacts. The quality can vary between successive plays of the identical audio. A power cycle or reset can make it sound better, but only for a while.

The PIO I2S implementation is free-running, at the same clock rate as the DMA writing. But it appears to get out of sync or bad data is introduced somehow.

See #5283 and #5310 for further

[2021-09-07 22:18] #5283 closed

[2021-09-07 23:04] tannewt commented on #5212
Starred! Thank you!

My main use for it would be measuring import sizes of libraries so we'd need a way to dump memory state at a certain point. Something similar to [the memory analysis I did a while back](https://www.youtube.com/watch?v=baa5ILZTRkQ).

[2021-09-07 23:06] tannewt commented on #5305
Can you replicate this with a DEBUG build when it is outputting to the debug UART?

[2021-09-07 23:17] urish commented on #5212
I haven't watch the whole thing, but from skimming it seems like you use GDB to take the memory dump. There's a [GDB Interface built into the simulator](https://www.youtube.com/watch?v=OsybPYEepoY&t=1316s), so I can change the demo repo to expose that on a certain port. Would that do the trick, or do prefer a different method for dumping the memory?

[2021-09-07 23:48] tannewt commented on #5212
Neat! That should be enough. We can likely automate talking to it from python where we can also do the analysis. It's not the top of my todo list so it may be a while until I look deeply into it.

[2021-09-08 00:13] anecdata commented on #5305
I haven't done a DEBUG build since it became too big to generate, but I'll ask around to see how to make it fit.

[2021-09-08 01:26] dhalbert commented on #5305
Paulsk cut the wifi buffers in half and made it fit: https://discord.com/channels/327254708534116352/537365702651150357/881908023436640356

[2021-09-08 08:18] aivarannamaa commented on #5307
I wouldn't mind testing for fixed control characters in CircuitPython (and for the original marker in MicroPython), but I like my suggestion more, as pyboard.py would be happy with this and IMO it wouldn't hurt human interoperability at all.

[2021-09-08 14:52] urish commented on #5212
Done! If you need any help with automating it, I'm at your service.

[2021-09-08 15:52] dhalbert commented on #5313
I did further testing, and I don't believe this is a software problem. It was some kind of electrical issue with the MAX98357A and how I wired it. When I connected a Saleae up the problem went away. When I removed the Saleae ground return, the problem came back. I connected Vin and GND more directly, and that fixed the problem. Reducing the MAX98357A gain might also help.

[2021-09-08 15:52] #5313 closed

[2021-09-08 16:24] anecdata commented on #4984
Reducing wifi buffers was another suggestion to workaround this, but I couldn't find where / how to do that, so turned off modules so that it built. Just as a stake in the sand, I was able to build `DEBUG=1` on esp32-s2 `7.0.0-rc.1` with the following changes:
[code]

[2021-09-08 16:31] anecdata commented on #5305
Switched to Cucumber RIS since Funhouse doesn't have debug pins exposed.

1. erased flash
2. installed TinyUF2 combined
3. installed CP `rc.1`

Initial test with no `boot.py` and default `code.py` gives this in the debug console on startup:
[code]

Creating an empty `boot.py` gave an ambiguous result on hard reset, repeatedly. No "Hello World!, but it's possible that `tio` didn't reconnect in time

[2021-09-08 17:01] anecdata commented on #5305
If I put a larger `code.py` on it, it will go into a boot loop, but the debug console in this particular case looks more normal on each iteration (no gibberish):
[code]

[2021-09-08 17:39] tannewt commented on #5307
In #5315 I have CircuitPython echo back the sent control codes to confirm what mode it is in. So, here is what it does:

* `\x01` (Ctrl-A) for raw repl. Sent after friendly message.
* `\x02` (Ctrl-B) for regular repl. Sent before friendly message when exiting paste or raw modes.
* `\x05` (Ctrl-E) for paste mode. Sent after friendly message.

[2021-09-08 17:52] aivarannamaa commented on #5307
I'd vote for leaving #5315 for 8.0 and reverting to old behavior in 7.0.

[2021-09-08 17:55] aivarannamaa commented on #5307
This would also leave more time to discuss it with MicroPython people. It would be nice if tool interface worked the same on both platforms.

[2021-09-08 18:12] dhalbert commented on #5307
I agree it is late in the 7.0.0 cycle to change this, though we don't have to wait for 8.0.0: as soon as MicroPython and we agree, we can add it for some 7.x version.

@tannewt If you would like to provide a translatable message, for now we could print the English message _and_ print the `translate()` message if `TRANSLATION` is not English.

[2021-09-08 18:25] aivarannamaa commented on #5307
Please note, that tools currently look for `b"raw REPL; CTRL-B to exit\r\n>"`, so English *after* the translation would be better for tools.

[2021-09-08 19:35] #5307 closed

[2021-09-08 19:40] tannewt opened #5317 "Translate message in pyexec and use invisible characters to convey serial state to tools"
Follow up from #5307. CP 7 broke Thonny and other serial based tools because it relies on certain messages. Translating these messages breaks the tools. Instead, we should add invisible characters that these tools can used to determine serial link state (human repl, raw repl vs paste mode). These characters will remove the dependence of these tools on the messages that may change from version to v

[2021-09-08 19:41] tannewt commented on #5307
Ok, I merged in @microDev1's revert and filed #5317 to track the work. Tools shouldn't be relying on message content so I'd rather put our efforts into determining invisible characters that serve the same purpose.

[2021-09-08 19:42] mrdalgaard opened #5318 "nRF: deep sleep increases power usage"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

After startup my cheap multimeter measures around 0.5mA for the first 15 seconds, and over twice that for the last 15 seconds (in deep sleep)
Light sleep and time.sleep has the same consumption, but deep sleep having a larger consumption is unexpected.

### Description

Easy workaround is to use

[code]
Instead of deep sleep,

[2021-09-08 20:31] anecdata commented on #5305
Manual bisect shows earliest S3 artifact with this issue is:
`2021-08-27T22:59:12.000Z 2.6 MB adafruit-circuitpython-gravitech_cucumber_rs-en_US-20210827-31b9dd4.uf2`
If I read the tea leaves right, I think that correlates to:
https://github.com/adafruit/circuitpython/pull/5245

[2021-09-08 21:53] anecdata commented on #5305
Backing out just the additions on line 133 and 142 from that PR does indeed seem to fix the `boot.py` issue and allow `rc.1` to run successfully.

[2021-09-09 14:51] DynamoBen commented on #4190
I'm testing with latest right now, so far it's looking better. I should know tomorrow if the issues I've been seeing are resolved. I plan to do extended testing on two different Dell systems which previously exhibited the failure.

[2021-09-09 17:51] tannewt commented on #5305
What are the contents of your boot.py and code.py? This does sound like the issue we thought we had fixed.

[2021-09-09 18:56] eat-sleep-code commented on #5311
@tannewt  Oh cool.   It was freezing in Thonny so never got to see what the exception was.   I will take a look at that again  a bit later today.

[2021-09-09 20:25] lesamouraipourpre opened #5325 "Vectorio doesn't consistently validate location"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

[code]

### Description

When you set the location of a `vectorio` shape via the constructor, the `x` or `y` properties, no bounds checking is performed. If it is set via the `location` property, bounds checking is performed and raises a `ValueError`

### Additional information

_No response_

[2021-09-09 21:15] lesamouraipourpre commented on #5325
Looking at this further the constructor expects the x,y location to be in `uint16` range but the validation is done against `sint16` range.

https://github.com/adafruit/circuitpython/blob/0ee0ed70350f029c0ebf05ceaeb89d5611ffa297/shared-module/vectorio/VectorShape.c#L165-L167

[2021-09-09 21:19] dhalbert commented on #5269
https://github.com/adafruit/circuitpython/blob/0ee0ed70350f029c0ebf05ceaeb89d5611ffa297/ports/stm/peripherals/stm32f4/stm32f401xe/gpio.c#L41
says `PC15` is `OSC32_OUT`, and so reserves it. There is no public schematic for the Meowbit, so I'm not sure if `OSC32` is used or not, and would even be available after boot.

[2021-09-09 21:56] dhalbert commented on #1176
I asked how keyboards get identified in the Apple Developer Forums (https://developer.apple.com/forums/thread/687750) and did not get any useful answers.

[2021-09-09 22:01] anecdata commented on #5305
I'm trying but having difficulty coming up with a minimal reproducible example for the initial `code.py`.

@neradoc replicated the boot looping on FunHouse with an empty `boot.py` file and no `code.py`, but I don't know what his prior conditions were <https://discord.com/channels/327254708534116352/327298996332658690/884511468844879883>

Necessary but insufficient conditions seem to be:
- Tiny UF2

[2021-09-10 05:54] anecdata commented on #5305
I don't really understand what that PR does, or the issues that it addressed. Any ideas what _kinds_ of code might trigger this... large code size or complex code to interpret? big buffers? fragmentation? stack vs heap vs pystack vs esp-idf? other? I finally bodged together 600+ lines of code snippets that will consistently trigger the issue, but it's ugly and introduces  variables because a lot o

[2021-09-10 16:40] deshipu commented on #5269
Perhaps the pin for the menu button is wrong then.

Looking at https://www.kittenbot.cc/collections/frontpage/products/meowbit-codable-console-for-microsoft-makecode-arcade that button also enables DFU mode. I'm looking at the datasheet for STM32F401RET6 and the bootloader docs, but I can't see any reference to what pin that might be.

The micropython fork at https://github.com/KittenBot/micropyth

[2021-09-10 17:02] deshipu commented on #5269
Looking at the PCB traces under a microscope, it looks like the MENU button is indeed connected to pin PC15.

[2021-09-10 17:45] tannewt commented on #5305
The issue we were trying to fix was a rare case where the ATB reads into the FTB. The ATB tracks block status and the FTB tracks whether each block has a finalizer. If the first block of the FTB looks like a TAIL block from the ATB, then the collector will read past the end of RAM and hang the chip. Once hung, the WDT will reset the chip after a time.

So it is a specific case of allocating someth

[2021-09-10 17:50] tannewt commented on #5325
Let's not block 7.0.0 on this. It can be fixed afterwards.

[2021-09-10 21:01] anecdata commented on #5305
That's all way over my head. I missed that deep dive, so I'll watch and see what I can learn.

[2021-09-11 18:12] #5325 closed

[2021-09-11 18:23] WarriorOfWire commented on #5325
@tannewt agree this shouldn't slow down the 7.0.0 release train. Good candidate for 7.0.1 inclusion.

[2021-09-11 22:14] urish commented on #5212
Closing the issue, as the original problem has now been fixed. CircuitPython 7.0 (RC 1) is working pretty well in the simulation, it can even do [SSD1306 output](https://wokwi.com/arduino/projects/309427357921313345).

For reference, this is what I ended up doing to make the complete output of code.py available from the very beginning. It all happens automatically when the user click on the "Play"

[2021-09-11 22:14] #5212 closed

[2021-09-11 22:42] urish opened #5331 "Implement CPU sleep (WFI) when idle on RP2040"
Looking at the rp2 port code, I can see that there's already an [implementation for `port_idle_until_interrupt()`](https://github.com/adafruit/circuitpython/blob/cf5c32be3b3708035271ee264f978207ce928dd1/ports/raspberrypi/supervisor/port.c#L238), but for some reason the `wfi` instruction is commented out.

When running CircuitPython in the simulator, this makes a huge difference, as you can see:
*

[2021-09-12 11:35] jerryneedell opened #5332 "supervisor.get_previous_traceback() not working"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

supervisor.get_previous_traceback() is not returning anything?

Prior to RC.1 I was seeing a report of the traceback from the last error

### Description

_No response_

### Additional information

_No response_

[2021-09-12 11:42] jerryneedell commented on #5332
here is a better example on a fether M4 express
with an older version of CP -- beta.0

[code]

with rc.1
[code]

[2021-09-12 17:14] jpconstantineau opened #5334 "QT Py RP2040 & rotaryio - "Pins must be sequential" error isn't user friendly"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

Initializing a rotary encoder on D4 and D5 appears to be on sequential pins as they are next to each other on the QT PY RP2040 and even have sequential numbers.  This combination works properly.

Initializing a rotary encoder on D5 and D6 also appears to be on sequential pins as they are next to each other on the QT PY RP2040

[2021-09-12 17:58] DynamoBen commented on #4190
Been running continuously for days, not sure what changed but things seem to be working now.

[2021-09-12 18:02] hathach commented on #4190
@DynamoBen thank you for your feedback, lots of usb driver updated recently to make it compliance to USB test suite https://github.com/hathach/tinyusb/issues/1059 , which help to review several corner cases bugs. It probably fixes this one as well (hopefully). When you are confident  that the bug is fixed, let us know so that we could close this one.

[2021-09-12 19:35] dhalbert commented on #5334
This unfortunately is not possible, because we are using RP2040 PIO, which requires sequential pins.

We could say "Pins must be sequential as GPIO pins" or "GPIO pins must be sequential". In addition, we could add a note to the documentation explaining this in more detail.

[2021-09-12 20:16] jpconstantineau commented on #5334
I assumed as much when I saw the check in the code.

I suspect that "GPIO pins must be sequential" would be enough to point to the GPIO IDs as opposed to the Pin IDs.

Is there an easy way to find out the GPIO IDs from the REPL as opposed to digging in the code?  That could be part of the documentation to help people troubleshoot.

Some documentation would be useful too but like most people, I sti

[2021-09-12 20:25] dhalbert commented on #5334
`microcontroller.pin.GPIOnn` objects are the same as the `board.some_pin` objects. They print preferentially as `board.some_pin. E.g. on the MacroPad:
[code]
So it's easy to go one way, but more work to go the other way.

The schematic and the code are really the ground truth. The schematic is available on the "Downloads" page for a particular board.

[2021-09-12 20:56] Neradoc commented on #5334
`help(microcontroller.pin)` gives you one name per pin:
[code]
But this script will give you all the aliases:
https://gist.github.com/Neradoc/467cfba8a415a9648751633fe01df6aa
[code]

[2021-09-12 21:24] dhalbert commented on #5334
Thanks! I don't think I ever knew this!

[2021-09-13 10:06] Beau28713 commented on #4218
[code]

Running the above example on circuit playground express crashed the core code and rebooted the hardware into safe mode.

![CP_Cplay](https://user-images.githubusercontent.com/65408911/133064393-44091639-5d09-4498-a387-ef09c72980f2.PNG)

[2021-09-13 16:52] hathach commented on #5233
It is a bit weird and sound strange. I have no idea though. Maybe it is the power regulator or something. There is configurable DCDCEN0, DCDCEN register which is mentioned in `5.3.1.4 Regulator configuration examples` with 4 illustrated. To be honest, I haven't tried it out.

![image](https://user-images.githubusercontent.com/249515/133124762-ef00f1bd-e9f1-419c-a051-bf545b2765e4.png)

[2021-09-13 19:14] tannewt commented on #4218
I think the fix is to check if the digitalio is deinited here: https://github.com/adafruit/circuitpython/blob/main/shared-bindings/neopixel_write/__init__.c#L63

[2021-09-13 19:28] #4190 closed

[2021-09-13 19:31] tannewt commented on #5331
I had copied it in there from SAMD21 when doing the initial port work. It didn't work for some reason so I commented it out and moved on.

If it does work now, then great! A PR would be welcome. Please test on real hardware too.

I don't have any blocker for it. I just never circled back to retest it.

[2021-09-13 19:34] urish commented on #5331
Thanks for explaining! I'll try to see how this works on the real hardware and send a PR.

One thing I noticed - it doesn't work (in the simulator) unless I also comment out the call to `common_hal_mcu_disable_interrupts()` before calling WFI.

What's the reason we disable interrupts there?

[2021-09-13 19:36] tannewt commented on #5331
Without it there is a chance an interrupt occurs, is serviced and queues a background task before the WFI. Doing the WFI then delays the execution of the background task and messes things up.

WFI should wake from an interrupt even when interrupts aren't enabled. This allows shutdown and wake code to happen around an WFI before needing to service an interrupt.

[2021-09-13 19:37] urish commented on #5331
Got it, thanks!

[2021-09-13 19:58] urish commented on #5331
Ok, so I ran a build with the two lines uncommented, and it seems to pass a quick sanity test:

1. The system loads, I can see the CP drive
2. I have a serial console (over USB)
3. I can copy my code to the CP drive, it runs
4. The code blinks the LED successfully and prints to the Serial output
5. I can get into the REPL and type commands successfully

I used the following test program for step 4

[2021-09-13 20:03] dhalbert commented on #5331
Were you testing on a real RP2040 board?

[2021-09-13 20:05] urish commented on #5331
Yes, like @tannewt asked. In fact, it fails right now in the simulator because of the WFI while interrupts disabled issue. But I'm working on a fix for it now

[2021-09-13 23:25] tannewt commented on #5305
I wasn't able to replicate this on an UM FeatherS2. Have you only replicated it on devices with a screen?

[2021-09-14 00:24] Beau28713 commented on #4218
I'll take a look at it. Thanks

[2021-09-14 01:00] anecdata commented on #5305
It affects any ESP32-S2 device I've tried so far: MagTag, FunHouse, Cucumber RS (no display). If I delete some code, doesn't seem to matter which code, more like how much. Just verified that the latest build:
`adafruit-circuitpython-gravitech_cucumber_rs-en_US-20210913-3e9cf8f.uf2` still triggers the issue with the 600+ line conglomeration of snippets. I'll put it in a gist and link below.

Feathe

[2021-09-14 05:23] aocole opened #5343 "alarm.wake_alarm not set upon wake from deep sleep"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

When plugged in to USB (and so the board only pretends to deep sleep), alarm.wake_alarm is set as expected to an instance of either TimeAlarm or PinAlarm. However, when running on battery, alarm.wake_alarm is always None when the above code runs upon wake, regardless of whether it was the pin or timer alarm that caused the wak

[2021-09-14 10:08] jerryneedell opened #5344 "stm32f405 has sdioio module as sdio"
Was the name of sdioio changed to sdio recently? the docs still refer to it as sdioio but in the rc.1 build for the STM32F405, it shows up (and works) as sdio instead of sdioio.

Is this correct?

[code]

this example works on the STM32F405

[code]

[2021-09-14 10:34] microDev1 commented on #5344
Good catch @jerryneedell. This change was introduced in https://github.com/adafruit/circuitpython/commit/9002f351b46f0dce620e2dcaf3c9550694c777dc, it is probably a mistake.

[2021-09-14 10:43] jerryneedell commented on #5344
Ah -- good -- I've been trying to find another port that has it enabled to compare, but have not found one yet. IT is in the "common-hal" for atmel-samd but it appears to be disabled in the build.

[2021-09-14 10:48] jerryneedell commented on #5344
Is it just this line https://github.com/adafruit/circuitpython/blob/9002f351b46f0dce620e2dcaf3c9550694c777dc/shared-bindings/sdioio/__init__.c#L49
missing the "io" in the QSTR_sdio

[2021-09-14 11:00] microDev1 commented on #5344
Yup, that is the only line that needs to be changed.

[code]

[2021-09-14 11:16] jerryneedell commented on #5344
I can do a PR later today, but it may be a lot quicker for someone else to do it.

[2021-09-14 15:02] dhalbert commented on #5344
I just did a quick PR.

[2021-09-14 15:19] jerryneedell commented on #5344
Thanks -- it works!

[2021-09-14 15:19] #5344 closed

[2021-09-14 15:29] dhalbert commented on #5305
@anecdata I think you mentioned on Sunday that TinyUF2 is not necessary, at least with the example above? So let's edit the title, etc.

[2021-09-14 16:30] KeithTheEE commented on #5343
Using most of the above code I tested with an adjustment that uses the `isinstance` comparison as outlined in [this learn guide](https://learn.adafruit.com/deep-sleep-with-circuitpython/alarms-and-sleep#what-woke-me-up-3079890-16) which states that the deep sleep should at least should set the `alarm.wake_alarm` to the correct alarm type, and an `isinstance` comparison should give you an idea of w

[2021-09-14 16:34] anecdata commented on #5305
Just a note that in the large example, there are functions and function code that are never executed, but if I delete too much of that, the issue goes away. That leads me to think it has more to do with code size or complexity, and the interpretation to byte code stage. And indeed, if I have a `code.py` that simply imports the original offending but mpy-cross'd `{code}.mpy`, the issue does not ari

[2021-09-14 18:45] tannewt commented on #5305
At what point does it fail with that `code.py`? It seems to get pretty far for me.

I also see you are enabling the WDT yourself. Please post more of your debug output. The S2 has multiple watchdogs and it should tell us which of the two reset the chip for you.

[2021-09-14 19:02] anecdata commented on #5305
I don't think the user watchdog is required, it was just a handy snippet. The code will run and soft-reload fine. What it won't do is recover from a hard reset after it's done a `while True` or two. That results in boot loops with debug console like this:
[code]

[2021-09-14 19:35] Capekk opened #5346 "SSD1309 Display Library"
Hello, I was looking for a way to program SSD1309 display in circuitpython but there is no library for it. I just wanted to know if the library can or can't be made. Or is there any other way to program SSD1309 using circuitpython?

[2021-09-14 23:27] #5332 closed

[2021-09-15 00:16] dhalbert opened #5349 "Restore some deleted modules after 8.0.0 API changes if possible"
Some small builds had to have modules turned off in order to fit. After `OneWire` is moved out of `busio`, there may be room again.

- Restore `rainbowio`:
  - [x] `arduino_mkr1300`
  - [x] `arduino_nano_33_iot`
  - [x] `arduino_zero`
  - [x] `sensebox_mcu`.
  - [x]  `seeeduino_xiao_kb`
- Restore `onewireio`:
  - [x]  `sensebox_mcu`
  - [x]  `arduino_nano_33_iot`
  - [x] `arduino_zero`
  - [x]  `m

[2021-09-15 02:08] #5305 closed

[2021-09-15 11:41] #4288 closed

[2021-09-15 12:19] hathach commented on #5233
I just remembered one thing that may help, when vbus is detected, usb will auto enable the hfclk() https://github.com/hathach/tinyusb/blob/master/src/portable/nordic/nrf5x/dcd_nrf5x.c#L1001

I am not sure it could help, maybe just try to plainly enable hfclk() to see if it has any impact.

[2021-09-15 13:46] SultanOfSolder commented on #3999
For community theater, props that can trigger their own sound queues. Think "How do we trigger a gun shot sound when the actor pulls the trigger, instead of having the sound guy inevitably triggering it 1.5 seconds late in at least one performance?" {Trust me, this happens all the time!}
The transmitter is in the prop, and the receiver sends a MIDI command when triggered, or signals a WAV file pla

[2021-09-15 14:14] dhalbert commented on #5233
@hathach That is very interesting, I'll try that! I note the examples above all don't use BLE, which would turn on HFCLK for radio purposes.

[2021-09-15 15:14] tannewt commented on #3999
@SultanOfSolder How far away is the prop from receiver? You could use BLE instead of Wifi.

[2021-09-15 15:17] tannewt commented on #5346
It should be doable. I'd start with this driver: https://github.com/adafruit/Adafruit_CircuitPython_DisplayIO_SSD1306

What display(s) are you using?

[2021-09-15 15:20] wifijt commented on #3999
BLE on the ESP32 is inconsistent and not compatible with the Nordic BLE -

On Wed, Sep 15, 2021 at 11:14 AM Scott Shawcroft ***@***.***>
wrote:

[2021-09-15 15:22] Capekk commented on #5346
It's 2.42 inch 128x64 OLED LCD Display Module SSD1309 12864 7 Pin SPI/IIC I2C

[2021-09-15 15:25] deshipu commented on #5346
Try and see if the ssd1306 driver works, it should be similar enough.

[2021-09-15 16:15] SultanOfSolder commented on #3999
@tannewt It varies, but can easily be 50 to 75 feet, line of sight. One of the theaters I work with is 110 seats, another is 1700. You could place the receiver above/below the stage and run a cable back to the sound board, but that's less than ideal. Not every show will need it, so I'm looking for a PnP solution.

[2021-09-15 16:36] dhalbert commented on #5233
I partly reproduced this, but with the latest build (`main`, past `rc.1`), I cannot reproduce the problem. Here is my test program, run on a Feather nRF52840, powered either with USB or with a LiPO. I am monitoring the SCK and MOSI pins with a Saleae.

[code]
I was originally testing (by mistake) with some random earlier 7.0.0 build, but when I tried the latest `main` build I did not see the probl

[2021-09-15 17:07] jerryneedell commented on #5233
Just to clarify, did you start from power off when trying with the LiPo?

It will keep running if initially powered via USB then unplugged.

I'll try it in an hour or so.

[2021-09-15 17:58] mrdalgaard commented on #5233
I tried to reproduce the problem, using my currently running code, by just commenting out the workaround.
Plugged in the battery, and..... it didn't fail..
I narrowed it down to setting up the watchdog.

This bit of code will run ok:

[code]

While this will fail:

[code]

What does the watchdog change that makes this work?

Otherwise i'm seeing the same issue as on rc1 - Currently testing with:
A

[2021-09-15 18:07] mrdalgaard commented on #5233
Adding
`import _bleio`
to the code does not make a difference

[2021-09-15 18:18] dhalbert commented on #5233
Yes, both from a reset-button push, and from plugging the battery into an unpowered board.

[2021-09-15 18:25] jerryneedell commented on #5233
I just tried my previous code and it behaves the same as before -- work on USB, not on LiPo
[code]
code.py
[code]

[2021-09-15 18:27] dhalbert commented on #5233
Can you try my simple example as well?

[2021-09-15 18:39] jerryneedell commented on #5233
@dhalbert I tried your code and it shows  SPI Activity (with Salea) under both LiPo and USB
 I tried it with and without the rfm9x board attached. Same results.

[2021-09-15 18:45] jerryneedell commented on #5233
but switching to my code -- I see nothing under LiPo Power....

[2021-09-15 20:46] m-mcgowan commented on #4998
Thanks for the help so far - our port is coming along nicely, USB and digitalio are working! On our feather board (as with others), it makes sense to initialize certain pins as output, e.g. the LED pin, and in our case ENABLE_3V3.   In the CP examples, the script sets the direction of the pin before using it. Is there some way we can have this setup beforehand and also have the corresponding digit

[2021-09-15 20:58] rdoursenaud opened #5351 "matrixportal_m4 build errors with arm-none-eabi-gcc 11.2.0"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

[code]

### Description

Using the latest upstream release the build fails.
[code]

### Additional information

Building with the officially recommended v10.2.1 works fine.

[2021-09-15 21:51] deshipu commented on #3999
I would also love to have the ability to use ESP-Now for my robots. Bluetooth is not an option, since this is an ESP32-S2. I will use regular WiFi for now.

[2021-09-15 21:59] rdoursenaud opened #5353 "microcontroller.on_next_reset() behavior discrepancy on nrf"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

The board resets immediately into bootloader mode without waiting for a `microcontroller.reset()` as the method name and [documentation](https://learn.adafruit.com/circuitpython-essentials/circuitpython-resetting#reset-into-specific-mode-3087084-14) implies.

### Description

Running the very same code on `Adafruit CircuitPyth

[2021-09-16 02:43] Neradoc opened #5354 "Macropad and other rp2 boot up issues with RC2"
Updating a macropad to RC2 from the site made the board not mount (and make the mouse stutter).
When I plug the board or reset, the safe mode blink happens, then nothing. Not even the screen shows anything.
Putting RC1 back, and power cycling restored it to normal.

Trying recent builds, I narrowed it down to #5341. Reverting it in RC2 fixed the issue.

On a Raspberry pico, RC2 does not show or ru

[2021-09-16 02:59] dhalbert commented on #5354
I reproduced this on a Feather RP2040. On power-up, nothing is seen. I wrote a blink program in `code.py` and it did not start. Pressing reset usually causes the board to come up, but I had to switch USB ports after a second power-cycle, so I think the USB behavior is upsetting Linux.

[2021-09-16 03:36] dhalbert commented on #5354
I tried adding an explicit check for `!tud_task_even_ready()` before the `__wfi()`, which is what the code did before #5182, and that did not help.

@tannewt Since this is a show-stopper, we could just revert #5341, and I'll make an rc.3 quickly. Let's talk about what to do next.

[2021-09-16 05:22] jpconstantineau commented on #5354
I can confirm this issue is present on another RP2040 board I am working on (not yet in the list but loaded a Pico uf2 as a first test - received the PCBs before dinner...).

[2021-09-16 11:33] BetterAutomations commented on #3999
Remember that other high speed protocol devices exist, such as LoRA or the HC-12 module. Cheap and effective, not secure but you can always add that on top in software.

[2021-09-16 12:26] SultanOfSolder commented on #3999
@BetterAutomations All of which require an antenna of some length that you may not be able to bury in the prop. The arduino libs work, but it's a lot easier to figure out what you wrote in python when you have to make changes a year later.

[2021-09-16 13:22] evildave666 opened #5355 "Application using USB HID on ESP32S2 hangs μC when executed out of code.py but executes properly from REPL"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

When the code above (in /keeb.py) is run out of REPL manually via ">>> import keeb" it runs fine (extinguishes the LED and sends "z" to host when key is pressed)

When a code.py consisting solely of:
[code]
is created, no CDC device is attached to the host for REPL, CIRCUITPY is not mounted, and the program does not function.

[2021-09-16 13:24] dhalbert commented on #5355
Hypothesis: we do a gc after each `import`, so I wonder if something HID-related is being gc'd that should not be.

[2021-09-16 14:43] dhalbert commented on #5355
I tried reproducing this on a Metro ESP32-S2, using `board.IO5` for the button and `board.LED` for the LED. Otherwise everything is the same. Libraries are all the latest versions. There is no `boot.py`, and `keeb.py` and `code.py` are as described above.

I do not see this problem with rc.2, including when restarting from a power-cycle or a ctrl-C, ctrl-D in the REPL.

[2021-09-16 15:08] dhalbert commented on #5355
Further testing: no problem with rc.2 .uf2 instead of  .bin. @Neradoc can also not replicate on TinyS2 or Feather S2.

[2021-09-16 16:25] #5354 closed

[2021-09-16 17:30] microDev1 commented on #5331
Merging PR #5341 caused issue #5354 so it was reverted in #5357.

[2021-09-16 18:13] tannewt commented on #5351
I think I did `add parentheses around the second 'sizeof' to silence this warning` locally. Want to make a PR for it?

[2021-09-16 18:22] tannewt commented on #4998
Nice work! Sounds like you are ready to make a PR.

Generally we don't pre-initialize any individual pins. The one exception I could see is the power enable pin that you may want to turn on in board_init and off in board_deinit. However, this will prevent code.py control of it which some people usually want.

For I2C, SPI and UART we usually have default busses that are available as board.I2C etc.

[2021-09-16 20:15] jpconstantineau commented on #1792
This feature would also be useful for detecting if a nrf52 keyboard should enable BLE or USB HID.

[2021-09-16 20:34] Capekk commented on #5346
Ye I'm gonna try it, but I haven't received it yet. I was just asking if it's even possible. Thanks for the help guys.

[2021-09-16 21:22] jepler opened #5359 "changed file checking is breaking builds in my fork"
### CircuitPython version

[code]

### Description

github actions fails [in my fork](https://github.com/jepler/circuitpython/runs/3625108063?check_suite_focus=true#step:35:7):
![image](https://user-images.githubusercontent.com/1517291/133686745-b1fcdc8e-3d03-4030-b0e5-38acff7ca13a.png)
[code]

The value of CHANGED_FILES is very lengthy.
![image](https://user-images.githubusercontent.com/1517291/1

[2021-09-17 03:24] anecdata opened #5361 "microcontroller.ResetReason.SOFTWARE with 7.0.0-rc.2 but no microcontroller.reset() in code"
### CircuitPython version

[code]

### Code/REPL

No known minimum reproducible example.

### Behavior

Spurious `microcontroller.ResetReason.SOFTWARE` during operation, but there is no `microcontroller.reset()` in either `boot.py` or `code.py`.

No unusual serial activity prior to rebooting. No tracebacks detected after restart.

I can't reproduce it on demand, only observed once in the 24 hours

[2021-09-17 08:46] ThomasAtBBTF commented on #4868
I checked again for my BrailleHID descriptor and it still failes in
/lib/adafruit_ble/services/standard/hid.py
Where
`           reports = {}
            get_report_info(collection, reports)
            if len(reports) > 1:
                raise NotImplementedError(
                    "Only one report id per Application collection supported"
                )
`

[2021-09-17 10:26] lesamouraipourpre opened #5362 "Display.fill_row documentation doesn't match code"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

[code]

### Description

The documentation for `Display.fill_row()` says it accepts a `WriteableBuffer`:
https://github.com/adafruit/circuitpython/blob/1f82fa9d991622308144989daf9884109fa31c6d/shared-bindings/displayio/Display.c#L448-L452

However, if anything other than a `bytearray` is passed in, it raises an error:
https://

[2021-09-17 12:48] durapensa commented on #5355
Tested & no problem with rc.3 .uf2 (using `board.BUTTON` instead of `board.D2`)

[2021-09-17 12:59] dhalbert commented on #4868
@ThomasAtBBTF I did not realize that check was in the BLE library. Did you just try removing it? I think it might just work without the check, but I'm not sure.

[2021-09-17 17:28] tannewt commented on #5359
I couldn't find another way to pass the info from one step to another.

I think this is more a bug in the base branch detection. It determined that this was a new branch so it diffed against your main branch which may not be up to date. There is likely some setting we could tweak to change this.
![Screenshot_20210917_102834](https://user-images.githubusercontent.com/52649/133829647-ee422534-f1c5-4

[2021-09-17 17:30] tannewt commented on #5362
Either solution is fine with me.

[2021-09-18 05:07] evildave666 commented on #5355
OK, since @durapensa is having no problem with the same board I guess we can safely assume this board is probably naff. Sorry to waste time on this.

[2021-09-18 05:07] #5355 closed

[2021-09-18 15:16] microDev1 commented on #1629
CircuitPython just got a `BLE` workflow, so `esp32` support is now possible.

[2021-09-18 23:42] jddmartin opened #5370 "json roundtrip bug"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

code.py output:
old_d {'number': 5e+06}
json string:  {"number": 5e+06}
Traceback (most recent call last):
  File "code.py", line 15, in <module>
ValueError: invalid syntax for number

### Description

Floating point numbers of the form 5e+06 are generated by "json.dumps" but not understood by "json.loads"

"json.loads" unders

[2021-09-19 03:01] jepler commented on #5370
If possible, please test with the latest 7.0.0 release candidate.

If possible, please test again with the latest version, 7.0.0-rc.3 or newer.  It appears it was fixed somewhere along the line.
[code]

[2021-09-19 18:23] anecdata opened #5374 "Intermittent HardFault_Handler on ESP32-S2"
### CircuitPython version

[code]

### Code/REPL

No minimum reproducible example at this time.

### Behavior

This is more of a placeholder issue since it's not reproducible on demand.

These are intermittent hardfaults that occur during code.py run, but not obviously correlated to any particular operations within the code. Have not seen this on PyPortal (the only SAMD I have on rc.2 at the momen

[2021-09-19 19:15] anecdata commented on #4914
I think it's worth discussing some design goals here. Monitor will potentially be subjected to a firehose of wifi frames, even with filtering by channel, `type` (mgmt, data, etc), `subtype` (Beacon, Probe Request), etc. Limitations of RAM and processor speed will both probably come into play.

Espressif's esp-idf example allows saving to SD or I think somehow viewing over JTAG, but I think this ma

[2021-09-19 20:17] #5362 closed

[2021-09-19 21:50] jddmartin commented on #5370
After updating to 7.0.0-rc.3.uf2 I no longer see the bug.

Thank you!

[2021-09-19 21:50] #5370 closed

[2021-09-20 01:41] maholli commented on #4837
OK finally got around to working on this.

I've made progress and can put a SAMD into deep sleep from circuitpython. However, I'm stuck getting **fake** deep sleep playing nice.

Since https://github.com/adafruit/circuitpython/pull/5048 is closed, I've attached the relevant files so others can potentially help from here: [common-hal.zip](https://github.com/adafruit/circuitpython/files/7193260/comm

[2021-09-20 21:47] tannewt commented on #4837
Please provide a comparison link to the changes (your branch vs main) rather than requiring local modifications.

[2021-09-20 21:49] tannewt commented on #4914
I'd suggest modeling the API after the BLE scanning API. It has similar issues of getting a lot of inputs and needing to filter early.

[2021-09-20 22:29] maholli commented on #4837
Updated the comment to reference a proper commit change log. Thanks for the reminder.

[2021-09-21 02:53] matthewjerome commented on #4914
Providing a means to generate a simple list of "**device X was present for Y seconds**" is probably enough to get started. By passing in filters of `channel`, `mgmt` packet type and optionally (?) a minimum `signal strength` or minimum `packet count found` before storing is enough. This would further minimize the amount of data passed back to the CircuitPython level can be minimized.

Example : `[

[2021-09-21 03:58] anecdata commented on #4914
Makes sense to me. I'm still trying to get my arms around the idf example, and how to translate that to common-hal. Seems to me that:

- sniffer start sets up a work queue, creates the sniffer task, sets up the sniffer callback for incoming frames, sets up the filters (frame type and channel in this case), and enables monitor mode
- the sniffer callback receives one frame at a time and adds it to

[2021-09-21 18:16] tannewt commented on #4837
To some degree it should loop through pretending to deep sleep because main will loop until an alarm was actually detected. It'll only sleep between interrupts: https://github.com/adafruit/circuitpython/blob/main/main.c#L533

[2021-09-21 18:39] myllyja opened #5377 "Crash into HardFault_Handler when importing the built-in wifi module on Saola 1 w/Wrover with ESP32S2"
### CircuitPython version

[code]

### Code/REPL

[code]

### Behavior

If the code.py tries to import the wifi module, the device will go to safe mode

[code]

And if I try to do the same in REPL, the serial connection is cut off(PuTTY says "Error reading from serial device") without any further output after entering the command.
[code]

### Description

_No response_

### Additional information