[2019-07-19 09:51] NightSkySK opened #2001 "Consider using / convert u8g2 for displays instead of SSD1306 only"
I've noticed that for CircuitPython the is a quite limited number of displays supported.
Please consider to use/convert to CircuitPython U8G2 library from https://github.com/olikraus/u8g2 It's just awesome.

[2019-07-19 14:04] C47D commented on #1886
Hi,

Had to delete my old comment because i didn't read properly your reply, so all my questions are now answered.

[2019-07-19 17:04] tannewt commented on #2001
The model of that library is completely different from our model. In CircuitPython we use Python files to store init sequences while u8g2 uses C. Using u8g2 would bloat our binaries code size a ton.

We could use it as a reference for creating community drivers for all of the different chips though.

[2019-07-19 17:04] #2001 closed

[2019-07-20 13:29] jepler commented on #1038
Please see #2000

[2019-07-22 09:45] kevinjwalters opened #2005 "CircuitPython 4.x hang on PyGamer after about 10 minutes of while loop playing stereo audio"
I've got a CircuitPython hang that I've seen on 4.1.0 rc0 and rc1 if I leave some code running. Takes about ten minutes on a PyGamer to hang, it's not predictable but will do it on about one in four executions. The serial connection (Windows 8.1 desktop) becomes disconnected but probably with no close (tapping a key in terminal window makes it realise the PyGamer's gone away) and the **CIRCUITPY**

[2019-07-22 13:33] C47D commented on #321
@tannewt, Does this still need fixing?

[2019-07-22 14:48] kevinjwalters commented on #2005
Powered on PyGamer today, left same code running for 2 mins, then copied a file off and that triggered a restart. That hung within about 10 mins too. Same serial output, the last line is only on the serial over USB not the PyGamer screen. My printed line of text per loop is a touch longer than the PyGamer screen width so each line wraps onto a new screen line.

[2019-07-22 15:56] kevinjwalters commented on #2005
For completeness, I did one without anything attached to the feather connector. Second run hung after 20 mins.

[2019-07-22 17:32] kevinjwalters commented on #2005
BTW, is there any kind of watchdog reset in CP?

[2019-07-22 19:12] dhalbert commented on #2005
Nope, nothing that would cause that. There has been an issue of microcontroller fuses being set by accident that enable the watchdog timer, but that has a max of 32 seconds.

[2019-07-22 19:22] kevinjwalters commented on #2005
I was thinking more of something that might save the situation and give a form of auto recovery.

[2019-07-22 22:56] tannewt commented on #321
I don't think it is an issue if `mp_arg_parse_all` is used. I do believe there are issues within shared-bindings still. It should be easy to check, try passing a kwarg that has a weird name should error out.

I glanced at a few APIs and didn't see any issues. Fuzzing might be the easiest way to find these issues.

[2019-07-22 23:03] tannewt commented on #2005
@kevinjwalters Do you have a jlink? We could get you one. Just email me.

[2019-07-23 02:30] #1828 closed

[2019-07-23 02:30] #1956 closed

[2019-07-23 20:34] brentru opened #2008 "Using WIZNET5K without attached ethernet causes hang"
Using an Adafruit Ethernet FeatherWing with a Feather M4 Express, without an ethernet cable attached causes the REPL to become non-responsive. The second time, after resetting the board, it caused a crash and the repl printed that it crashed into the _HardFault_Handler_.

The feather is currently unable to switch back into CircuitPython, only the bootloader.

Code:
[code]

Problematic portion of t

[2019-07-24 01:20] dhalbert commented on #2005
I got this to hang twice, but only after running for hours. Getting permission to post code here.
@tannewt note where it's hanging: I'll examine more variables but want to post this now before it gets lost.

Backtrace:
[code]

[2019-07-24 02:14] tannewt commented on #2005
Another interesting tidbit would be the sercom registers which should be clocking the dma.

[2019-07-24 02:17] dhalbert commented on #2005
[code]

[2019-07-24 18:54] kevinjwalters commented on #2005
The values "optimized out" will be presumably sitting in registers? What's the `info register` output when it's stuck in `shared_dma_transfer`?

[2019-07-24 18:58] dhalbert commented on #2005
The values might have been in registers or sometimes on the stack, but at the point in the code where the values are no longer needed, the compiler will reuse those locations, so they are not preserved and would get overwritten for other uses. I'd have to look at the machine code to see if they're accidentally still available. But I can usually go back in the stack and see what was passed down.

[2019-07-24 19:07] kevinjwalters commented on #2005
`length` should still be around in a register at https://github.com/adafruit/samd-peripherals/blob/83a4759d186574d8034435cd2303def85e4ed793/samd/dma.c#L192 as it's required later as a return value https://github.com/adafruit/samd-peripherals/blob/83a4759d186574d8034435cd2303def85e4ed793/samd/dma.c#L213 ? I was curious about this just because, as you noted, `pixels` has as a strange value.

[2019-07-24 20:50] kevinjwalters commented on #2005
`length` is probably fine, `0x400` appears in `BTCNT.reg` and sounds plausible.

I'm wondering if https://github.com/adafruit/circuitpython/issues/1992 could be related to this in some way? I'd imagine the circuitpython interpreter has little interest in the 16bit values and yet they have a profound effect on triggering the bug. Stranger still, I believe when it happens a "fix" is to append a sing

[2019-07-24 20:55] kevinjwalters commented on #1992
It's possible that a bizarre workaround for this is to do a single

[code]

on the end of the data. This doesn't make sense as for 2 channels one would expect the array to always need to be even in length!

[2019-07-25 10:54] kevinjwalters commented on #1992
Reproducible on a Feather M4 too including the `bizarre_workaround`.

[2019-07-25 20:54] dhalbert commented on #2005
I compiled with `-Og` to get better debugging, but I then ran for 24 hours with no failure. I changed back to `-Os` and got an identical backtrace to the one above, sometime during overnight testing (I set it going and went to sleep).

[2019-07-26 16:58] dhalbert opened #2013 "Replace most uses of MICROPY_VM_HOOK_LOOP with RUN_BACKGROUND_TASKS"
`MICROPY_VM_HOOK_LOOP` was provided in MicroPython `vm.c` to allow tasks to be run at safe points (between bytecodes) in the VM. It is defined in CircuitPython as `run_background_tasks();`, and we use it many more places when we're busy waiting for an indefinite period and need to service background tasks. It's also guarded by `#ifdef`, rather unnecessarily.

Let's create a new macro and redefine

[2019-07-26 22:23] kevinjwalters commented on #2005
I'm going to watche/listen to the CircuitPython Deep Dive but where is the stack for the CP interpreter? Is there any guarantee that it can't clash with other users of the SRAM or detect if it does? I ask because the data buffer + length ends up in SRCADDR and that's 0x2002fd40 which is fairly close to end of (M4 192k of) SRAM at 0x2002ffff.

[2019-07-26 23:15] dhalbert commented on #2005
Yes, we have stack checking: https://github.com/adafruit/circuitpython/blob/master/py/stackctrl.c#L55. The VM interpreter does a check at opportune times, and there's a 1kB safety area. Most routines don't allocate large chunks of stuff on the stack.

[2019-07-27 09:06] kevinjwalters commented on #2005
There's two variable length arrays (presumably on the stack?) at the end of this highlighted piece of code: https://github.com/adafruit/circuitpython/blob/master/shared-module/displayio/__init__.c#L24-L63

I've not yet figured out exactly what the code is doing but `buffer_size` has potential to be 128 which means a 4*128 = 512 allocation on stack for `buffer[]` plus whatever `mask[]` size is.

Is

[2019-07-27 09:38] kevinjwalters commented on #2005
One other observation, `displayio_display_begin_transaction()` is called three times in https://github.com/adafruit/circuitpython/blob/master/shared-module/displayio/__init__.c#L78 but the one highlighted is the only one that doesn't check return code.

[2019-07-27 13:46] dhalbert opened #2015 "Automatic stack overflow checking"
https://blog.japaric.io/stack-overflow-protection/

Describes how to put the stack at the bottom of RAM (with heap at the top) providing an automatic way to check overflow. Requires linking twice.

[2019-07-27 14:55] dhalbert commented on #2005
Thank you for auditing this code!

@tannewt Take a look at these issues:

`mask[]` can actually be quite large. It could be pretty much the size of the whole display. So suppose it's 320*480, that makes mask length `4800 + 1`. @tannewt Note how large this can get.

I set a breakpoint in the section of the code and am running your test program. There appears clipping going on, so it never actually

[2019-07-27 14:58] dhalbert commented on #2005
Posting the test code:
[code-v0.9.1-githubissue2005.py.zip](https://github.com/adafruit/circuitpython/files/3438281/code-v0.9.1-githubissue2005.py.zip)

[2019-07-28 19:20] keith-packard opened #2019 "Request VID/PID for SnekBoard"
Pull request #2018 adds support for SnekBoard, which is a SAMD21G18A board with 9V motor controllers for use with Lego Power Functions motors and sensors. I'll need a 'real' USB VID/PID before this pull request should be merged.

[2019-07-28 19:51] ladyada commented on #2019
Here ya go!
[code]

[2019-07-28 21:30] keith-packard commented on #2019
Thanks so much! I've updated the code, and also submitted a pull request for the uf2 bootloader project https://github.com/adafruit/uf2-samdx1/pull/78.

[2019-07-28 21:31] #2019 closed

[2019-07-29 03:42] #1886 closed

[2019-07-29 13:24] dhalbert commented on #2015
See https://github.com/micropython/micropython/issues/4952 for Damien's ideas on this.

[2019-07-29 13:29] C47D commented on #321
Hi @tannewt,

I will not be able to work on this on short term, but I will try to fully understand the problem and solution. Fuzzing sounds like fun, I have not done it before, I gues I can build CP for Unix and fuzz it there.

[2019-07-29 14:00] jepler commented on #321
@c47d I'm not sure how I would apply fuzzing to this particular class of problem, but there's a blog post I wrote on how to apply fuzzing to find crashing bugs in circuitpython: https://www.unpythonic.net/2018/03/26/Fuzz-testing-CircuitPython.html

[2019-07-29 14:40] C47D commented on #321
@jepler Thanks, i will take a look at it on lunch time :)

[2019-07-29 15:34] crowecawcaw commented on #696
I am interested in implementing some version of low power sleep for the nrf52840. From looking through the code it bit, it seems like there are timers and loops that need to be run continuously for CircuitPython to function as expected which complicate the issue.

My first goal would be to implement a new module to sleep on command. A secondary goal would be to merge the low power code in with the

[2019-07-29 15:45] dhalbert commented on #696
We currently use the SysTick timer in all our ports for general timekeeping (msec ticks and smaller): see `ports/nrf/tick.c`. SysTick is available on all M0/M4 processors: it is not manufacturer-specific. SysTick is based on the processor clock; when the processor sleeps, its clock is turned off, so SysTick will stop working.

So `tick.c` et al would need to be changed to use the RTC instead. The

[2019-07-29 19:54] tannewt commented on #1380
Interesting article about asyncio: https://www.roguelynn.com/words/asyncio-we-did-it-wrong/

[2019-07-29 21:49] tannewt commented on #2005
So, yes it looks like we should check we have enough stack left.

`mask`'s size should be limited by `buffer_size` because it holds one bit per pixel of the current area (`clipped`.)

Yup, the volatile is debugging leftovers.

I'll likely rework the begin_transaction stuff with the e-paper work I'm starting. As it is now, the first check causes a chip select blip that we don't need.

[2019-07-29 21:59] tannewt commented on #2013
Works for me!

[2019-07-29 22:04] dhalbert commented on #2005
@tannewt did you see any issues with the DMA descriptors? The above issues are interesting, but I don't think that code gets called anyway in this case, where it hangs waiting for the DMA to finish.

[2019-07-29 22:07] tannewt commented on #2015
This makes sense to me but we do actually allow for different stack bounds: https://github.com/adafruit/circuitpython/blob/master/shared-bindings/supervisor/__init__.c#L111

We could remove that if we like. I doubt we want to get in the business of moving the top of the stack on the fly.

[2019-07-29 22:14] tannewt commented on #2005
I doubt the dma_descriptors are corrupted by the stack because they are on the other side of the heap. However, it's worth looking to see what is placed next to it in memory.

It is weird that DRE is high on the Sercom since it should trigger a DMA burst to fill it. This could happen if the DMA wasn't ready when DRE was triggered I think.

I wonder if it's related to the DMA issues @ladyada and @P

[2019-07-29 22:31] tannewt commented on #696
@crowecawcaw I'd recommend starting without usb and just loading code over a debugger. USB is timing critical and will be unhappy if the background task isn't called. Once you get it going off of usb then I'd start by just disabling sleep when on usb. Later, if needed, we can make it work with usb.

[2019-07-30 00:52] ladyada commented on #2005
we think it only happens when you have two running DMA tasks. it was extremely sporadic and hard to repro so i patch-fixed it by detecting the 'DMA lockup' and kicking

https://github.com/adafruit/nofrendo_arcada/blob/master/nofrendo_arcada.ino#L136

[2019-07-30 02:14] dhalbert commented on #2005
@ladyada @tannewt This is in the errata: is this relevant?

![image](https://user-images.githubusercontent.com/2847802/62095382-4537f880-b24e-11e9-8ff6-846b04e07cfc.png)

[2019-07-30 02:17] sommersoft commented on #1970
While this is "initially" done, there is a slight problem. Which actually isn't new to us.

The generated table does not wrap the text: https://circuitpython.readthedocs.io/en/latest/shared-bindings/support_matrix.html#support-matrix

After some searching, this is primarily a `sphinx-rtd-theme` [issue](https://github.com/readthedocs/sphinx_rtd_theme/pull/432).

There exists a workaround, which is

[2019-07-30 03:01] ladyada commented on #2005
could be related, but i was seeing 0x3 in chstatus which would be BUSY + PEND
![image](https://user-images.githubusercontent.com/1214161/62097408-ba0e3100-b254-11e9-9225-2a1a064231bb.png)

[2019-07-30 05:27] smurfix commented on #1380
Right. They even complain that they don't have Trio's "nursery" concept. (Well, they could use the "anyio" wrapper, which does provide the equivalent.)

It'd be interesting to rewrite the same code in Trio and compare the pitfalls.

[2019-07-30 07:28] mattytrentini commented on #1380
When I read that article I found it quite _pro_-asyncio, despite the inflammatory title: "I do believe asyncio is quite user-friendly, but I did underestimate the inherit complexity concurrent programming brings."

In fact, I think it _supports_ the stance that you should _not_ try to build a simpler system - asynchronous code is difficult, as the author says: "whether you use asyncio, Twisted, To

[2019-07-30 09:49] smurfix commented on #1380
Sure, but it doesn't *have* to be **that** difficult.

Writing something like the Happy Eyeballs algorithm takes 50 lines in Trio but 500 in "native" asyncio. That should tell us something. As should the fact that the people responsible for asyncio plan to evolve it into a Trio-ish direction as quickly as possible.

[2019-07-30 13:18] wallarug opened #2020 "TC / TCC All timers in use SAMD51"
Hi !

I am having more issues with timers and CircuitPython using a SAMD51G19A this time.

I have been doing some testing and discovered that the CircuitPython is reporting that all timers are being used.  I have done a table check and think this might be wrong or not using all the available channels. - happy to be told otherwise.

**From the Datasheet**

| Servo | Pin | TC | TCC | TCC |
|-------|

[2019-07-30 13:56] dhalbert commented on #2020
Could you post your entire test program?

[2019-07-30 14:08] wallarug commented on #2020
No problemo!

It is here (posted link to save on comment space):
https://github.com/robotics-masters/mm1-hat-cpy-native/blob/master/experiments/backup-v1.5/tests.py

[2019-07-30 16:25] kevinjwalters commented on #1992
Also on a Metro M4.

[2019-07-30 16:41] kevinjwalters commented on #1922
Published last week: [Adafruit Learn: Making oscilloscope images with DACs](https://learn.adafruit.com/dac-oscilloscope-images)

[2019-07-30 16:55] dhalbert commented on #2020
I am looking at robothatmm1/pins.c, and I see these pin definitions, which are somewhat different that you posted in the first post:
[code]

[2019-07-30 16:57] dhalbert commented on #2020
OK, never mind, that's the SAMD21 board. But where is the SAMD51 board definition?

[2019-07-30 17:52] dhalbert commented on #2020
You can add some print statements in common-hal/pulseio/PWMOut.c to print out the timers and channels. I started to do this but it would be more direct if you did. To print, do this (adjust args as necessary):
[code]

I did add a print statement and tried this on a Metro M4 but unfortunately not all the pins you are using are available on that board.

I am not sure, but I think the assignment logi

[2019-07-30 18:54] tannewt commented on #1970
I think this is ok to close. It's probably best to have separate pages for each board which explain what is present and what is missing.

[2019-07-30 21:45] crowecawcaw commented on #696
This may be a silly question but is there a good way to develop and debug the CircuitPython source? Does anyone have suggestions for a free IDE that could make things easier? Right now, I'm editing code, compiling, and refreshing every change but it's difficult to tell what's going on without breakpoints or the like.

[2019-07-30 22:51] sommersoft commented on #696
@crowecawcaw, when I was dev'ing primarily on Win10, I used Atmel Studio 7. Breakpoints and I/O registers were a bit of breeze. The [major] downside though was being forced to compile in a VM. It may be possible to overcome that, but I never figured out a way.

I did try to get Segger Embedded Studio working as an IDE on Linux and Win10, but never got anywhere with it.

On Linux, using GDB became

[2019-07-30 23:58] wallarug commented on #2020
Hi @dhalbert ,

It has been merged in last night to the main CircuitPython repo in PR #2014 :

https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/boards/robohatmm1_m4/pins.c

[code]

I'll give this a test tonight and see what is happening.  Even if it is doing it logically by the table there should be plenty of TC and TCC channels free.

[2019-07-31 03:01] sommersoft commented on #1970
Closing, then. I'll make a new (or two) issue with some outlying issues, and include the "future page-per-board".

[2019-07-31 03:01] #1970 closed

[2019-07-31 03:34] sommersoft opened #2021 "Docs: Module Support Matrix Updates"
Now that the first iteration of the new module support matrix is done, it needs more work. I'm going to put a few issues into this single one; if anyone would rather have them broken up feel free (or let me know).

- [x] **Text does not wrap in the matrix table:**
  There are some CSS settings that are in `/docs/static/customstyle.css` that should force wrapping inside the table. They are somehow

[2019-07-31 12:27] wallarug commented on #2020
Below are some test results:

[code]

Question:  What is wrong with TCC0[0] for Servo 3?

[code]

Question:  What is wrong with TCC0[0] for Servo 8?

I guess this sort of shows the issue.   TCC 0 is not being selected at all.  Any ideas?

[2019-07-31 12:41] wallarug commented on #2020
I guess this sort of shows the issue.

TCC 0 is not being selected in some cases.

I have a working theory on this one.  I think there could be an issue with the logic of selecting pins with the same existing TCC timer.  Since this is the first part of the function - in other words: It will also check on an existing first - it might rule out some valid pins in later stages.

I am doing some more t

[2019-07-31 12:48] dhalbert commented on #2020
Yes, it's quite possible there's a bug in the "what is free?" logic. It wasn't scanning in the way I thoguht it would, but I haven't had time to desk-check the code with a number of examples.

[2019-07-31 13:41] wallarug commented on #2020
Two things at play here:
1. I think I just have another unfortunate pin selection.
2. It is going by lowest TCC timer rather than 'first function'

I have been working off this table for which pins are sharing CC Channels:

Compare Channel: 4
Wave Output: 8
Valid for:  SAMD21 TCC0, TCC1 - SAMD51 TCC1

| 0 | 1 | 2 | 3 |
|--|--|--|--|
| 4 | 5 | 6 | 7 |

In fact for TCC0 on SAMD51 it should be:

Comp

[2019-07-31 15:16] crowecawcaw commented on #696
After spending some time looking through the code base, my plan is to make a module that has a function low_power_sleep() that will put the processor in a low power state until the time elapses. From what I can tell, there are 3 types of timers in play:

- RTC: This is constantly running and is used for time.time(). It runs even if the processor is in low power modes.
- SysTick: Based on the proce

[2019-07-31 16:10] deshipu commented on #696
I wonder if we should have separate issues for tracking this on different ports?

Personally, I would be more interested in being able to wake up on a gpio change than on a timer, so that we can get rid of those power switches from our hardware designs.

[2019-07-31 16:30] dhalbert commented on #696
The nRF and SAMD RTCs both tick with 30.5us precision, so it could be used for time.sleep() and time.monotonic() pretty successfully, I think.

[2019-07-31 16:37] crowecawcaw commented on #696
I thought that if an interrupt was firing quickly, it would prevent the processor for staying in the low power state for very long causing the power consumption to remain high. In this instance, the RTC would be triggering interrupts every 30.5us to increment the ticks. By configuring a timer to interrupt less frequently (100ms or so), the processor would be mostly sleeping and its power consumpti

[2019-07-31 17:32] tannewt commented on #696
@crowecawcaw My debug process is documented here: https://learn.adafruit.com/debugging-the-samd21-with-gdb I use it on SAMD51 and nRF too.

[2019-07-31 17:33] brentru opened #2022 "Enable binascii on SAMD port"
Binascii is available in WiFi ports (ESP/NRF), but not SAMD ports.

 Specifically, I'm interested in the `a2b_base64` (https://circuitpython.readthedocs.io/en/latest/docs/library/binascii.html#binascii.a2b_base64) and `b2a_base64`(https://circuitpython.readthedocs.io/en/latest/docs/library/binascii.html#binascii.a2b_base64) methods from the binascii API for a RSA implementation I'm working on.

[2019-07-31 17:42] brentru opened #2023 "Hashlib on SAMD"
Hashlib is not supported on SAMD ports of CircuitPython.

The SHA256 is useful for a RSA implementation I'm working on. SHA1 is useful for [TOTP](https://learn.adafruit.com/circuitpython-totp-otp-2fa-authy-authenticator-friend/software), and MD5 may come in handy for performing checksums for files on CIRCUITPY.

[2019-07-31 17:45] brentru opened #2024 "Add .hex() method to bytes objects"
The CPython bytes.hex() property does not exist for CircuitPython bytes objects:

[code]

https://docs.python.org/3/library/stdtypes.html#bytes.hex

[2019-07-31 17:50] dhalbert commented on #696
There's a prescaler for the RTC's, so you can divide down the 30.5us ticks to a slower interval.

[2019-07-31 17:53] dhalbert opened #2025 "displayio HardFault after restarting an SSD1306-using program"
I ran this program, ^C'd it, and then did ^D to do a soft reload. This doesn't always happen, but it did happen several times, so I tried to provoke. Probably not related to BLE. Notice it's crashing inside the import of `adafruit_displayio_ssd1306.mpy`.
[code]
Backtrace:
[code]
Point of crash:
[code]

[2019-07-31 17:58] dhalbert commented on #2024
As a workaround, you can use `binascii.hexlify()`, I think.

[2019-07-31 18:05] brentru commented on #2024
@dhalbert  `binascii` does not exist within samd ports (https://github.com/adafruit/circuitpython/issues/2022). Hexlify also returns a bytes object, .hex returns a string object.

[2019-07-31 21:20] crowecawcaw commented on #696
Thank you @tannewt and @dhalbert both for the tips!

I have a new ```lowpower``` module running with a ```sleep()``` function that runs correctly off a timer. The function waits for an interrupt repeatedly until the timer interrupt fires. Current the current draw is sitting at 2.5mA. I've compiled the firmware without the softdevice option which I'm assuming prevents the bluetooth hardware from be

[2019-07-31 21:27] jscholes commented on #1050
Do you have any sort of ideas as to a timeline on this, or where it fits in on the roadmap.  This would be super helpful for a project we're currently working on.  If we were to write a Python extension in C, would we have access to the Arduino BLE libraries to implement BLE HID from that route?  Or would it need to be done from scratch.

[2019-07-31 22:07] dhalbert commented on #1050
Good timing: I have been working on this today. The code is really all in Python: the C BLE modules provide the infrastructure. The code is relatively complex because of the complexity of HID. It needs pairing and bonding: I have pairing working, but have not yet implemented bonding (remembering the pairing info so you don't need to re-pair).

No promises on when it will get done, but it's my curr

[2019-07-31 22:10] dhalbert commented on #1981
@tannewt is this done?

[2019-07-31 22:12] dhalbert commented on #1595
Implemented by #1993.

[2019-07-31 22:12] #1595 closed

[2019-07-31 22:14] dhalbert commented on #1596
Implemented by #1993.

[2019-07-31 22:14] #1596 closed

[2019-07-31 22:15] rdagger commented on #1595
That's great!  Thanks.

[2019-07-31 22:18] dhalbert commented on #1042
Implemented by #1042.

[2019-07-31 22:18] #1042 closed

[2019-07-31 22:25] jscholes commented on #1050
Seriously fantastic news.  Are you developing this on a public branch or repo?  Would love to check it out and maybe help if you're looking for outside contributions.  Thanks!

[2019-07-31 23:50] tannewt commented on #1981
Yup! It just hasn't been auto-closed because it hasn't been merged into master.

[2019-07-31 23:57] jepler commented on #1887
I found, and @dhalbert confirmed, that the 8-2019-q3 compiler is significantly slower (more than 3x as long!) to build.  The whole build doesn't succeed on travis, because it exceeds the 50 minute timeout for jobs.

Old compiler (7-2018-q3-update):
[code]
https://travis-ci.com/adafruit/circuitpython/jobs/221025799

New compiler (8-2019-q3-update):
[code]
https://travis-ci.org/jepler/circuitpython/

[2019-08-01 00:03] dhalbert commented on #1887
I speculated this might be `-flto`, but other people are also seeing much slower compile times: https://community.arm.com/developer/tools-software/oss-platforms/f/gnu-toolchain-forum/13503/gcc-g-version-8-very-slow-to-compile

[2019-08-01 00:11] jepler commented on #1046
@nickzoic @dhalbert can this issue be closed up?  It looks like it was covered by #1736.

[2019-08-01 00:51] dhalbert commented on #1046
Implemented by #1046. Thanks @jepler

[2019-08-01 00:51] #1046 closed

[2019-08-01 01:05] dhalbert commented on #1890
Fixed by #1896.

[2019-08-01 01:05] #1890 closed

[2019-08-01 01:09] dhalbert commented on #1595
This will be in 5.0.0-alpha.0, and is already available in the `master` builds here on S3: https://adafruit-circuit-python.s3.amazonaws.com/index.html?prefix=bin

[2019-08-01 01:47] nickzoic commented on #2008
So the problem is that the DHCP process is run asynchronously: the python code keeps running while the wiznet device is attempting the get an address.  If it can't get an address then the while loop will never exit: you'd need to do something cleverer like giving up after 20 times around the loop and trying something else.

*However*, you should be able to interrupt the `time.sleep(1)` in the REPL

[2019-08-01 04:51] JnBrymn commented on #463
Hi @deshipu I appear to be having the same problem as @jadudm described in the initial comment.  Reviewing the instructions you referenced (https://circuitpython.readthedocs.io/en/latest/docs/troubleshooting.html#file-system-issues) they ask me to "Download the appropriate flash .erase uf2 from the Adafruit_SPIFlash repo." and linked here https://github.com/adafruit/Adafruit_SPIFlash/tree/master/e

[2019-08-01 04:51] josedlrios opened #2029 "Pygamer Joystick pins"
I'm trying the libraries and examples from the bundle and realized the joystick pins are swapped, whenever I move the joystick UP or DOWN the values I receive are from the JOYSTICK_X, same for the y axis (LEFT or RIGHT) is this normal behavior? any suggestion?.

This is my code:
`
  import time
  import board
  import analogio

  def read_x(samples=3):
      reading = 0
      for sample in range(0

[2019-08-01 05:06] JnBrymn commented on #463
Ah found it! https://learn.adafruit.com/welcome-to-circuitpython/troubleshooting#old-way-for-the-circuit-playground-express-feather-m0-express-and-metro-m0-express-20-25

[2019-08-01 09:29] deshipu commented on #2029
Which version of CircuitPython are you using?

[2019-08-01 13:34] brentru commented on #2008
@nickzoic  Would it be possible to have a `wiznet.connected` property within the wiznet module which I would poll against, instead of the while/sleep code?

Should this be handled within the wiznet module itself? Or in the code.

Was using a Feather M4 Express on 4.0.2 stable. I do not have the exact ver-str since it was corrupted/couldn't recover.

[2019-08-01 13:53] josedlrios commented on #2029
@deshipu 4.0.2

[2019-08-01 14:05] deshipu commented on #2029
Can you try with 4.1.0-rc.1? I know the pins were swapped in the early versions, not sure in which version it got fixed.

[2019-08-01 14:36] josedlrios commented on #2029
@deshipu It works incredible well also the example for cursor_control works smoothly any ideas on why is that? is it better to stick with the unstable version? Many thanks for the help!

[2019-08-01 14:59] deshipu commented on #2029
The pins were swapped by error, and it got fixed in a later version. It should get released as stable soon.

[2019-08-01 19:53] #2029 closed

[2019-08-01 20:49] klardotsh commented on #1050
Consider me onboard to help as needed with this effort - BLE has been on KMK Firmware's goal list for about as long as the project has existed and we're finally stable enough in the core firmware to dedicate cycles to QoL/creature comfort features. If there's a way I/we can help, holler at us here/Discord/etc. Cheers!

[2019-08-01 22:28] nickzoic commented on #2008
4.0.2 stable is enough ... I'll try to replicate the problem on the weekend.
Have you been able to re-flash the board since?

I'm not sitting in front of the hardware right now, but there's a read-only `connected` property on the interface itself, eg:
[code]
You still have to poll it though.  Also, `connected` just tells you if there's a cable to a switch port: you still have to check `ifconfig` i

[2019-08-02 14:13] brentru commented on #2008
Ok, great! EthernetManager would take care of that.

When you set up this weekend, could you try checking to see if ifconfig succeeded, without plugging in the ethernet cable? It _should_ cause a hardfault.

Yup - had to run SPIFlash on it first. Adding a UF2 to FEATHERBOOT couldn't recover it.

I like this method, the `timeout` should be user-configurable.

[2019-08-02 17:56] tannewt commented on #1380
Interesting pypi package related to our use of properties and async: https://async-property.readthedocs.io/en/latest/readme.html

[2019-08-02 18:26] tannewt commented on #2020
All of the related logic is stored in PWMOut: https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/common-hal/pulseio/PWMOut.c#L154

There is no central list of active PWMOuts so you'll need to track it if you plan on dynamically swapping them.

Adding support for TC[0] isn'd likely what you want because it'll drastically reduce the functionality of the PWMOut to 8 bit resolution

[2019-08-02 18:30] tannewt commented on #2025
@dhalbert this is on master right? Not 4.x. I think I've fixed it in my current work.

[2019-08-02 18:32] dhalbert commented on #2025
right, master. I thought maybe it was due to I2C handling, but I don't remember if that's in 4.x.

[2019-08-02 18:34] tannewt commented on #2024
@brentru I corrected the terminology here. `.hex()` is a method because it is a function on an object. Properties are used like variables without parens.

[2019-08-02 18:38] tannewt commented on #2025
I think it's related to the changes I made with the oled PR around not sharing group objects between displays. I believe I already found and fixed it with my epaper work.

[2019-08-02 18:40] dhalbert commented on #2025
I'll test it after the epaper PR.

[2019-08-02 20:20] njsmith commented on #1380
In Trio, we teach beginners that `await blah()` is a special kind of function call, that you use when calling special functions defined with `async def`. We *don't* teach about `await obj` syntax, bare coroutine objects, the awaitable protocol, or any of that. This means we can't use some clever tricks like `async_property`, but I think the simplification is worth it. (It also makes it pretty easy

[2019-08-02 20:34] deshipu commented on #1380
Problem is, CircuitPython already uses properties for all the things that take time that you probably want to be asynchronous, like reading values from sensors or sending data to displays.

[2019-08-02 21:24] njsmith commented on #1380
You're going to have to break compatibility to make those async, though, one way or another.

I don't know what's best for your situation; I just wanted to point out some of the options and tradeoffs.

[2019-08-02 21:52] PTS93 commented on #1362
There are some developments which might make this more interesting to approach.
First of this https://github.com/arduino/ArduinoCore-API
So one could try go the way the went with the recent mbed compatibility layer for the nrf52840.
https://github.com/arduino/ArduinoCore-nRF528x-mbedos

[2019-08-02 22:41] ATMakersBill commented on #1982
Did this get merged in?  I don't see the PR (but I'm not a Git expert)

[2019-08-02 23:27] tannewt commented on #1691
Ok, so I think I know what I want to replace `wait_for_frame` and `refresh_soon` with. I think we want an explicit `refresh` call that blocks until new pixels have been sent to the display (but not wait on epaper refresh.)

For fast screens it'll have a `target_fps` kwarg that takes a target frame rate and skips the pixel update if the time since the last frame is more than the gap needed for the

[2019-08-02 23:30] ladyada commented on #1691
do you want to have anything for pausing so that if you have text on top of a bitmap you dont have a few characters appear at a time

[2019-08-02 23:34] tannewt commented on #1691
@ladyada You don't need to pause because a refresh will only happen when you call `refresh`. It won't auto happen at all. (though the terminal/supervisor will call it too)

[2019-08-02 23:34] ATMakersBill commented on #1982
Nevermind - I updated to 4.1 and it fixed it - thank you!

[2019-08-02 23:36] ladyada commented on #1691
ohh, wait, so you will have to poke the display for each drawing? how will that work if you draw/change a bitmap like with turtle?

[2019-08-02 23:39] tannewt commented on #1691
You'll want to call refresh from time to time and the dirty area will be updated. I don't think it's too common to have code that may run much faster than the display can update.

[2019-08-02 23:41] ladyada commented on #1691
totally cool - i just wanted to know what to expect - the arduino code's like this too so i'm pretty used to it!

[2019-08-03 13:44] deshipu commented on #1691
That seems reasonable, and much less magical, I like it. I would probably rename ``max_delay`` to ``max_lag``, to make it clearer.

[2019-08-03 13:46] wallarug commented on #2020
Thanks @tannewt .  I'm having a play with it now.  I think it could be doable within the same logic already there but would take a bit of time.

I discovered one issue already with the errors that are sent back when no timers are free.

If you look at my first output in this comment: https://github.com/adafruit/circuitpython/issues/2020#issuecomment-516826913

It says _"All timers in use"_ instead

[2019-08-03 13:50] deshipu opened #2033 "displayio: pre-allocated buffers and read-only bitmaps"
I'm thinking about submitting a similar pull request as #2032, but for bitmaps. One thing I would like to add there, though, is the possibility of using a bytes object as the buffer (possibly one that is frozen with your library in flash) — but then the bitmap would need to be read-only, as we can't modify the contents of such a buffer. I think the easiest way to do that would just be to have an i

[2019-08-03 16:41] tannewt commented on #1691
I think we will want a `ready_for_refresh` for EInk so we can decide not to wait three minutes.

[2019-08-03 17:06] ladyada commented on #1691
yes, ready_for_refresh is a good idea :) just a note that sharp memory displays *must* be refreshed once a second, or the image disappears. so its sorta the opposite of e-ink.

[2019-08-03 19:31] joshmcintyre opened #2035 "Question - How to remove default shared-modules from build"
Hi all,

I'm trying to add a custom module that generates Bitcoin addresses to a CircuitPython build. I am building off of the `4.1.x` branch.

However, I'm overflowing the available FLASH space by about 44KB
[code]

I'm trying to trim down my code as much as possible, but even removing some unused functions didn't change the amount I'm going over.

**I'd like to know how to remove some of the bui

[2019-08-03 19:36] ladyada commented on #2035
youch thats large :) can you use M4 or nRF52 builds only? M0 is super tight fit :/

[2019-08-03 19:37] dhalbert commented on #2035
Look in `mpconfigboard.mk` for various boards and you'll see things like `CIRCUITPY_BLAH = 0` or `=1`. That will turn that particular module on and off. A list of these settings can be gleaned from `circuitpython/py/circuitpy_mpconfig.mk`. But yeah, that's pretty large.

You could also remove some frozen modules if you don't use them, in the same file.

[2019-08-03 20:30] joshmcintyre commented on #2035
Thanks for the responses all!!

@dhalbert thank you, I'll look there.

@ladyada I've been interested in trying the Grand Central so I'd like to get an M4 build working. But when I tried to compile for that, I got an error I can't quite figure out:

``
`/usr/lib/gcc/arm-none-eabi/6.3.1/../../../arm-none-eabi/bin/ld: error: build-grandcentral_m4_express/firmware.elf uses VFP register arguments, /usr

[2019-08-03 20:37] dhalbert commented on #2035
We are using arm-none-eabi 7.3.1, which you can get from https://launchpad.net/~team-gcc-arm-embedded/+archive/ubuntu/ppa, or directly from https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/gnu-rm/downloads: use the `7-2018-q2-update` release. Could you try updating your compiler?

[2019-08-03 23:23] rdagger commented on #1595
The scanning works!  Here's my code:
[code]
I have a couple of requests.
1. Scan returns a lot of duplicate entries.  Would it be possible to only return unique entries?  Would this also speed up the scanning?
2. Address.address_bytes returns the address reversed.  Can it please be swapped?   On a side note, it looks like CircuitPython doesn't support reversing strings using [::-1].  It throws Not

[2019-08-03 23:51] tcpipchip commented on #1556
right!

[2019-08-04 00:16] joshmcintyre commented on #2035
Hi Dan and Limor, I updated my compiler to the one you've recommended.

After some minor adjustments to code on my end, I was able to compile for the `Grand Central (M4)` board. Looking forward to testing the build when I get that product ordered.

I'll also play around and see if I can get my build it to fit on an `M0` board like the `Circuit Playground` with those tips on removing default module

[2019-08-04 00:16] #2035 closed

[2019-08-04 02:40] dhalbert commented on #1595
Check out the alpha release of https://github.com/adafruit/Adafruit_CircuitPython_BLE/releases/tag/2.0.0-alpha.0. `adafruit_ble.Scanner` has support for suppressing duplicates and other features. The `bleio` functionality is designed to be the minimum necessary, and we're layering Python code on top for end-user use in many cases.

The address bytes are as fetched from the advertisement. It will p

[2019-08-04 02:44] nickzoic commented on #2008
* Can't replicate on ~4.0.0 e00a702ce (which is what was still on my board) ... Ctrl-C breaks out of the loop as expected.
* Ditto a fresh build of 4.0.2 ... I can run your code above w/ no cable attached & it breaks out fine.  DHCP discovery is running happily in the background.
* eth.connect works as expected ... it depends on the physical interface, not the network actually being useful.
* when

[2019-08-04 14:53] jepler opened #2036 "Improve Buffer use in audio APIs"
Pull request #2032 suggests to add a pre-allocated buffer to WaveFile.  However, maybe there's a different route that would be better.  Let's see if we can flesh it out.

It appears that in general, while actually DMA'ing the audio data to the DAC, PWM, or I2C destination, there's an unavoidable need for a chunk of audio data in an arrangement that suits the specific hardware implementation.  For

[2019-08-04 15:11] deshipu commented on #2036
How about doing the same thing as in #2032 but for your ``AudioOut`` implementation, if it needs a buffer, so it can be shared?

[2019-08-04 15:17] jepler commented on #2036
What if the sample object can give the AudioOut permission to destroy (vs conserve) the buffer that it gives

[2019-08-04 15:18] deshipu commented on #2036
I can't think of a use case where you would want it conserved?

[2019-08-04 16:38] ladyada commented on #2035
yay!

[2019-08-04 17:32] jepler commented on #2036
RawSample needs it conserved.

[2019-08-04 17:39] jerryneedell opened #2037 "gemma_m0 dotstar behaving oddly on boot/REPL entry"
With the current master 5.0 and with 4.1.0 my gemma_m0 seems to  work OK, but the Dotstar LED is behaving oddly on boot and REPL entry.
On boot or reset, it flashes quickly - red, blue, white
on REPL entry it can be different colors - blue, light blue, light red (pink) - mostly blue - it may just be whatever the flashing color stopped at.

I have not tried older versions of CP.

edited to add:
the

[2019-08-04 18:18] rdagger commented on #1595
The example code is very helpful, thanks!  Using the scanner library provides unique entries.
I'm pretty sure the byte order is reversed.  I created a simple test that flips the byte order:
[code]

[2019-08-04 20:46] dhalbert commented on #1595
if you just `print(e.address)`, does it print in the right order, for your purposes?  Doing `print()` or `str()` does reverse the bytes. The address_bytes are taken directly from the advertisement, in the order that they show up in the advertisement.

[2019-08-04 21:10] rdagger commented on #1595
You're correct, `print()` and `str()` return the formatted address in the right order.
I was checking entries for addresses matching a known list and it wasn't obvious to me that I had to use `str()` with instances of the address class as opposed to address_bytes.  Thanks.

[2019-08-05 04:08] 2bndy5 commented on #1234
@uhrheber I've been working on the [CircuitPython support for the nRF24L01(+)](https://github.com/2bndy5/CircuitPython_nRF24L01), and in reference to [this previous post](https://github.com/adafruit/circuitpython/issues/1234#issuecomment-427481036): from my understanding of the [Enhanced ShockBurst ](https://www.sparkfun.com/datasheets/Components/SMD/nRF24L01Pluss_Preliminary_Product_Specification

[2019-08-05 15:01] DavePutz commented on #1908
I *think* I may have spotted the issue, but would like some other
eyes to take a look if possible.
Here's what I see:
When playing .wav files, in audio_dma_setup_playback(), we find a free DMA channel (usually
channel 0) and store it in the dma structure. So, whenever we call audio_dma_load_next_block()
we use that stored channel. Now, when using the microphone we call
 common_hal_audiobusio_pdmin

[2019-08-05 16:55] hybotics opened #2038 "Saving code to main.py does not reload and run"
Saving an updated main.py is supposed to force a reload and run the new code with any errors reported in the REPL.

What happens is when I save a new main.py, I get an OS error 5 in the REPL. I have to press Ctrl/D in the REPL many (usually over 30) times to get anything to happen. Until it takes off, I get the OS error 5 each time I press Ctrl/D. The OS error 5 is not valid here.

[2019-08-05 16:57] dhalbert commented on #2038
Is this true of any `main.py` or just this particular one? If the latter, please post the code here. If not, try reformatting the CIRCUITPY filesystem:
[code]

[2019-08-05 17:00] hybotics commented on #2038
It is true *any* time I save a new main.py. I am running Raspbian Stretch with the Geany editor. I will try reformatting the CIRCUITPY drive and see if that helps.

[2019-08-05 17:03] dhalbert commented on #2038
This may be due to the geany editor not flushing all the file writes immediately. I haven't tested it or reviewed its source code to see if it does. See https://learn.adafruit.com/welcome-to-circuitpython/creating-and-editing-code#1-use-an-editor-that-writes-out-the-file-completely-when-you-save-it-7-13

[2019-08-05 17:08] hybotics commented on #2038
I saved all the files from my board and reformatted the storage. That fixed the problem! Thanks for the suggestion.

[2019-08-05 17:08] #2038 closed

[2019-08-05 19:45] dhalbert commented on #2038
Great! Do think about whether geany is the problem: if it does only a partial write and you do a hardware reset, the filesystem will get corrupted. It looks like geany uses Gnome file operations, and I don't see that those do something like an `fsync`. You could do a `sync` from the shell after a write to make sure the file is completely written.

[2019-08-06 00:53] jepler commented on #1868
Addressed by #1996.

[2019-08-06 00:53] #1868 closed

[2019-08-06 00:54] jepler commented on #1868
@tannewt however, that fix was applied only to the master branch.  Do you want me to reopen this and create a version to apply to 4.x?

[2019-08-06 00:56] tannewt commented on #2020
Nope, no deliberate. Just an oversight. Please fix if you can. :-)

[2019-08-06 01:07] nickzoic commented on #2008
Hmmm, short of the usual checks (is your power supply good enough? Is the 'wing seated properly? Does it still do it with the latest release? Can we try over with new hardware?) I'm stumped.  One thing you could try is to plug an ethernet cable into a port you can monitor and check that you can see DHCP discovery packets being sent while waiting for ifconfig() to finish, but I'm clutching at straw

[2019-08-06 01:09] jepler commented on #1532
@tannewt this is implemented on nrf now, and infrastructure is committed would help a future implementation for atmel_samd.  Do you want to hold this issue open?

[2019-08-06 01:15] tannewt opened #2041 "Polish up native api docs so that stubs are complete"
`make stubs` generates .pyi files that can be used in editors like VS code to provide helpful hints. The rST docs need to be fixed up so that the stubs include things like valid types.

[2019-08-06 01:18] tannewt commented on #2041
PR that added stubs: https://github.com/adafruit/circuitpython/pull/1915

Example PR that fixed up some comments: https://github.com/adafruit/circuitpython/pull/1920

[2019-08-06 01:25] nickzoic commented on #2008
tried it again with no hardware reset line attached (because that's possible) and after a soft reset of the board (which happens) but still all working as expected.

[2019-08-06 01:25] tannewt commented on #1868
nah, I have a feeling most nrf folks will skip straight to 5.x to get all the new ble goodness.

[2019-08-06 01:26] tannewt commented on #1532
Nope, let's close this. We can always open a new issue when we want it for samd. Thanks 🎉

[2019-08-06 01:26] #1532 closed

[2019-08-06 01:29] tannewt commented on #2036
One tricky thing with a looped sample is knowing whether the sample has already been transformed or not.

[2019-08-06 01:34] tannewt commented on #2033
Bitmap already has read_only: https://github.com/adafruit/circuitpython/blob/master/shared-module/displayio/Bitmap.h#L45 It's used for the blinka in the top left already so it should be easy to extend.

`displaycore` is an interesting idea. It might be worth doing to separate out epaper from mipi support if it ends up too big. Let's revisit that once the epaper PR is closer.

[2019-08-06 01:47] tannewt commented on #1908
Sounds suspicious @DavePutz ! I think you are right about contention.

1. I think we'll want to use channel 0 for recording and 1 for playback because lower numbers get higher priority. I'm not sure what has to happen for that though.

2. Load next block is loading more of the sound from the filesystem so the sound keeps playing because we can't store it all in memory.

Perhaps @jepler and @deship

[2019-08-06 02:54] #1981 closed

[2019-08-06 04:04] jepler commented on #1908
I think @DavePutz is on the right track, if both devices ever try to use the same channel at the same time, something bad will happen. Why isn't the expected protection against this working?

I started looking into this with debugging prints and the first thing I noticed is that `dma_disable_channel` can be called with an out-of-range channel number if `audio_dma_stop` is called twice, and it freq

[2019-08-06 10:35] wallarug commented on #2020
@kattni  @rhooper  I am taking another look at something very similar to #770 which both of you were involved in.

How the current PWMOut determines if the error says "All Timers for this pin are in use" and "All timers in use" is still not clear in my view.

For some reason the TCCs are treated differently to the TCs under this arrangement.  You can have a situation where all the TCC timers are u

[2019-08-06 20:53] tannewt commented on #2020
I don't think there is a reason. It sounds like you have an improvement of
the error messages.

On Tue, Aug 6, 2019 at 3:35 AM wallarug <notifications@github.com> wrote:

[2019-08-06 21:01] DavePutz commented on #1908
Here is some python code that reproduces reliably for me. Note that I think the use of the Neopixel code may be needed, as in my tests that generated a lot of gc_allocs and gc_frees - possibly related??
import array
import math
import time
import microcontroller
import audiobusio
import board
import gc
from adafruit_circuitplayground.express import cpx

# Exponential scaling factor.
# Should proba

[2019-08-06 21:56] kevinjwalters commented on #1992
Worth monitoring #1908 as this also relates to (more fatal) problems that are being attributed to DMA woes.

[2019-08-06 22:01] kevinjwalters commented on #2005
#1908 has also gone down the path of DMA investigation.

[2019-08-06 22:17] jepler commented on #1908
Unfortunately, I still get hard crashes with my earlier debugging and potential fix code.

[2019-08-06 23:11] jepler commented on #1908
next guess, which it looks like has solved the problem, but not sure if it's cumulative with other local changes:
[code]

Theory: nothing is clearing out audio_dma_state for this channel (except reset); this leads to audio_dma_load_next_block being called when it shouldn't have been, which is exactly what has been described.

[2019-08-07 01:40] DavePutz commented on #1908
I can confirm that your fix takes care of both the original code by c-k-dillard  and my repro code above. My only question would be if we could still have a dma channel conflict should someone actually be playing a wav file asynchronously with using the microphone (or is that really not possible)?

[2019-08-07 12:03] jepler commented on #1908
@DavePutz Yes, my analysis of how the channel->CHCTRLA.bit.ENABLE value work seem to indicate that there's a further risk of accidentally re-using a DMA channel too soon when the playback (or, hypothetically, the recording) are asynchronous.

[2019-08-07 16:48] deryakitis commented on #95
Hi, when I try to run the circuitpython code below for an i2c of vcnl sensor and crickit robot on feather m0 express it gives me an ''SCL in use" error. Do you have an idea about how can I fix that?

import time
import adafruit_vcnl4010
import board
import busio
from adafruit_crickit import crickit

i2c = busio.I2C(board.SCL, board.SDA)
while not i2c.try_lock():
    pass
print("I2C addresses found

[2019-08-07 17:15] caternuson commented on #95
When you import the crickit library, it sets up the I2C bus:
<https://github.com/adafruit/Adafruit_CircuitPython_Crickit/blob/master/adafruit_crickit.py#L382>
So when you try to do it again with:
[code]
It hits that error since the pins, both `SCL` and `SDA`, are in use. It only mentions `SCL` since that's the first one it tries to use.

Also, you don't need to worry about doing the lock and the s

[2019-08-07 18:01] deryakitis commented on #95
Firstly, thaks for the quick response!

I inverted the code into the way you said, now I am getting the same error
but for SDA.

Error:

Traceback (most recent call last):
  File "code.py", line 7, in <module>
ValueError: SDA in use

Code:

import time
import adafruit_vcnl4010
import board
import busio
from adafruit_crickit import crickit

sensor = adafruit_vcnl4010.VCNL4010(board.I2C())
#i2c = bu

[2019-08-07 18:19] dhalbert commented on #95
There's an underlying problem that the Crickit library doesn't use `board.I2C()`. It creates its own `I2C` object:

https://github.com/adafruit/Adafruit_CircuitPython_Crickit/blob/617bb0787f2c61283d248632a62b27be80f64b29/adafruit_crickit.py#L382

That should be fixed. In the meantime you can do this:

[code]
and then use that `i2c` object for the VCNL.

[2019-08-07 18:24] caternuson commented on #95
oh, yah. good catch. thanks @dhalbert

@deryakitis here you go:
[code]

[2019-08-07 18:55] tammymakesthings commented on #1995
@yesnoio I don't have a lot of time until the beginning of September, but I'm interested in helping with this effort.

[2019-08-07 19:10] klardotsh commented on #1995
I'm preeeeeeetty sure it got ripped out of (or at least disabled in) CircuitPython, but MicroPython ships `ujson` as a C module. YAML is technically a superset of JSON, so *if* this was implemented as a C core module, you've got something of a start to base off of: http://docs.micropython.org/en/latest/library/ujson.html https://github.com/micropython/micropython/blob/master/extmod/modujson.c

Tha

[2019-08-07 23:46] jerryneedell opened #2045 "Pyportal hard faults"
I wish I had more specific information , but I am getting repeated Hard Fault crashes to Safe mode on a PyPortal with the current Master.
[code]
After a hard reset it seems to work fine with a variety of programs but then after a soft reboot (or after a few) it will crash rerunning a program that has run previously.

Just wanted to get this posted as a heads up. I have not seen it on other boards.

[2019-08-07 23:57] jerryneedell commented on #2045
just to be sure, I recloned the CP repo and rebuilt sot remove the "dirty" buult -- it was not getting the correct tag for tinyusb. rebuilt and still have same crashes
[code]
trying to find a simpler test case....

[2019-08-08 00:12] jerryneedell commented on #2045
here is another way to trigger the Hard fault:
Hard reset:
run slide show:
[code]
then soft reboot (control-d)  and run this "simpletest"
``
# NOTE: Make sure you've created your secrets.py file before running this example
# https://learn.adafruit.com/adafruit-pyportal/internet-connect#whats-a-secrets-file-17-2
import board
from adafruit_pyportal import PyPortal

# Set a data source URL
TEXT_URL =

[2019-08-08 01:53] jerryneedell commented on #2045
another example is the new Wake Up light demo https://github.com/adafruit/Adafruit_Learning_System_Guides/tree/master/PyPortal_Wakeup_Light

It runs fine after a hard reset, but crashes to Safe Mode  if restarted after after a soft reboot.

[2019-08-08 02:24] jerryneedell commented on #2045
hmm -- I get the same behavior with CP 4.1.0

[2019-08-08 02:28] jerryneedell commented on #2045
correction to now deleted post... I cannot reproduce this issue with CP 4.1.0

[2019-08-08 02:39] DavePutz commented on #1913
Running some diagnostics this looks like a crash due to memory fragmentation. I believe this is due
to having 'import' statements scattered throughout the code. If all imports are placed at the top of the Python script things seem to run OK. i.e.:
[code]
In addition to helping memory management, this is just good Python programming practice. As Python PEP08 states:

[2019-08-08 03:03] jerryneedell commented on #2045
ok -- much simpler example
[code]

runs ok after hard reset

crashes to hard fault safe mode after a soft reset (control - d)

[code]

[2019-08-08 11:41] 2bndy5 commented on #1234
I've got a stable release deployed. I cloned the community bundle, then successfully did the `git submodule add ...` command. Now I'm stuck. the command that @tannewt used in the picture of the last page of the sharing guide doesn't work (not sure where the build-bundle.py is located). Then I tried `circuitpython-build-bundles --filename_prefix circuitpython-community-bundle --library_location lib

[2019-08-08 16:58] kevinjwalters commented on #1913
I'm not disagreeing with (non conditional) `import`s at the top but shouldn't running out of memory give a `MemoryError` exception?

[2019-08-08 19:33] jerryneedell commented on #2045
I wondered if this was related to #1913, but since it is only  for CP5.0 and so far on PyPortal, I think it may be a different issue.  If anyone has a PyPortal with CP 5.0 installed, it would be nice to have a confirmation using the short test in the previous message.

[2019-08-08 20:50] jerryneedell opened #2048 "HID issue with CP 5.0"

[2019-08-08 20:56] jerryneedell commented on #2048
This keyboard test (and other programs) have run on my PIRKEY_M0 for a long time and also work under CP 4.1.0  but now fail under CP 5.0
Is there a known change needed?
I realize the PIRKEY is not really supported, but I suspect this an issue with HID support in general.

[code]
When a key on the remote is pressed, it is recived but after a few seconds the PIRKEY crashes as below and the key keeps

[2019-08-08 21:28] DavePutz commented on #1913
Sorry - I should have made my comment clearer. MemoryError exceptions are what I was seeing when I was doing the requested testing using the 4.0.1 release. I did not test with the beta version the issue was reported on. The error occurs at line 96, which is the DiskJockey import statement.

[2019-08-09 10:43] jerryneedell commented on #2048
Is this likely an issue with the adafruit_hid library or with something in the core? Since it seems to be related to something in 5.0 I assumed it was due to a change in the core.

[2019-08-09 18:25] DavePutz commented on #2045
Confirmed that the test above fails using CP 5.0. I'll see if I can get my JLink hooked up to the PyPortal and get some stack(s).

[2019-08-10 15:06] jepler opened #2052 "nrf: crash on `time.time()`"
While debugging an unrelated issue, I discovered that in master branch on a particle xenon, this hits an assertion failure:
[code]

The debugger says:
[code]
My diagnosis is that `mp_obj_tuple_get` cannot presently be used with "namedtuple" instances, a limitation that should probably be relaxed.

I'm not sure why (if?) this affects nrf only, kjw on discord reported that a metro m4 express with 4.

[2019-08-11 13:36] jepler commented on #2013
In addition, it's technically incorrect to use MICROPY_VM_HOOK_LOOP without the _INIT and _RETURN macros also being present, I think.

[2019-08-11 13:55] jepler commented on #2013
@dhalbert what about MICROPY_EVENT_POLL_HOOK, used in shared-module/bitbangio/SPI.c?

[2019-08-12 17:41] tannewt commented on #1691
We're going to add `auto_refresh` as a kwarg and property to Display so that `refresh` is optional from the start.

[2019-08-12 19:27] kevinjwalters opened #2056 "Traceback from exceptions accumulates on REPL on 4.1.0"
Observed on `4.1.0-rc.1` and briefly discussed on Discord. `4.1.0` has same issue with accumulation of stack trace stuff in `Traceback` output:

[code]

[2019-08-12 22:14] #2052 closed

[2019-08-12 22:16] #2048 closed

[2019-08-12 22:58] #1908 closed

[2019-08-12 22:59] tannewt commented on #1908
@jepler Care to make a PR for that audio_dma_state fix?

[2019-08-12 23:04] tannewt commented on #1234
@2bndy5 Ya, it could be a windows thing. Feel free to make a PR and rely on Travis to test it.

[2019-08-12 23:22] CedarGroveStudios opened #2057 "usb_midi may be introducing additional 2-byte message"
@jedgarpark discovered that sending a _ProgramChange_ 2-byte message using `usb_midi` incorrectly produced two _ProgramChange_ messages, the first with a zero patch byte value and the second with the correct patch byte value. Regular one and three-byte MIDI messages seem to be unaffected.
The zero-value _ProgramChange_ message was interpreted by Macintosh-based MIDI sniffers as incorrectly formatt

[2019-08-12 23:32] kevinjwalters commented on #2057
I had a brief look at this earlier chatting with John over Discord and couldn't see what was wrong from a library or MIDI point of view. Very interesting and very bizarre.

[2019-08-12 23:42] 2bndy5 commented on #1234
its totally a windows thing (no problems building on the raspi)... May even be a *my* windows thing (running Insider Preview builds). It builds ok in travis, but the rf24.mpy is not in the correct subfolder "circuitpython-nrf24l01" under lib (see the [release notes](https://github.com/2bndy5/CircuitPython_nRF24L01/releases/tag/1.0.0)). I'm currently adding another module under the same folder that

[2019-08-13 02:30] jepler opened #2058 "Track DMA channel in use, don't rely on dma_channel_enabled (on atmel-samd)"
While investigating #1908, I observed the following:

---

Next, I started tracking how dma_channel_enabled tracked with calls to dma_{en,dis}able_channel. I found that, contrary to what the code in find_free_audio_dma_channel requires, it appears that channel->CHCTRLA.bit.ENABLE can be set to false asynchronously.

When this happens, it's possible for both AudioOut and PDMIn to simultaneously bel

[2019-08-13 03:08] jepler commented on #2057
down in tinyusb at `tud_midi_n_write`, it looks like the ProgramChange message (msg=0xc) is not directly supported -- instead, it uses the cin=0xf option to send it as two one-byte messages.  If my reading is correct, it's possible that some receiving software could treat this as two ProgramChange messages, only without a program number attached to the first one, never mind that the document I fou

[2019-08-13 03:27] jedgarpark commented on #2057
@jepler  Thanks for checking into it and discovering that. In case it matters, I was on mac os 10.13.6 and seeing the issue when sending the Program Change message from a Circuit Playground Express and reading the messages with both MIDI Tools and MIDI Monitor.

[2019-08-13 05:02] makermelissa opened #2059 "Changes to displayio caused SSD1351 to stop working with CircuitPython 4.1.0"
It appears some of the displayio changes in 4.1.0 may have broken the SSD1351 driver. I just tested that the driver works fine in 4.0.1 and I will see if I can narrow down further with which iteration it actually stopped working. I'm wondering if it had anything to do with us removing that delay.

[2019-08-13 14:10] jerryneedell opened #2060 "I2C error after soft reboot on nRF52840"
I get the following error accessing an I2C device  (VCNL4040) after a soft reboot.
It  works normally after a hard reboot, but fails after a soft reboot (control-D)

This occurs with CP4.1.0 and CP 5.0 (current master)

[code]
test code
[code]

[2019-08-13 14:34] jerryneedell commented on #2060
I am not able to reproduce this error on a SAMD51 (metro_m4_airlift_lite) it appears to be nRF specific.

[2019-08-13 15:50] makermelissa commented on #2059
Ok, it seem to have broken between 4.1.0 Beta 0 (working) and 4.1.0 Beta 1 (not working).

[2019-08-13 16:17] jepler commented on #2060
I will try to reproduce this on a Particle Xenon with OLED featherwing, I believe that has an I2C interface.

I did verify just reading the source that reset_port() calls i2c_reset(), so it's not the most obvious possible cause.

[2019-08-13 17:23] DavePutz commented on #2045
With the current 5.0 master, I now see slightly different symptoms. The program runs after a hard reset, but also runs after a soft reset(Ctrl-D). However, if I run "exec(open('main.py').read())" from the REPL prompt, it dies with the following stack:

	 HardFault_Handler Line: 297
 	 <signal handler called> Line: 297
         displayio_group_get_refresh_areas (displayio_group_t * self, displayio_

[2019-08-13 17:25] jerryneedell commented on #2060
I just reproduced it on a Particle Xenon as well - I have not tried the I2C devices -- will do that next
So far I have just used the vcnl4040.

[2019-08-13 17:31] dhalbert commented on #2060
@jerryneedell Could you try something besides a VCNL4040 or VEML7700? These boards have currently have pullups that are too weak for the chips (which need 4.7k instead of 10k for reliable operation).

[2019-08-13 17:34] jerryneedell commented on #2060
SO far I cannot reproduce it with anything else -- I have tried am2320, adxl34x and adt7410
all work fine  -- may well just be the vcnl4040

[2019-08-13 17:35] jerryneedell commented on #2060
why is it just impacting the nrf and not SAMD?

[2019-08-13 17:35] dhalbert commented on #1970
For your new issues: table looks nice informationally but doesn't wrap;

![image](https://user-images.githubusercontent.com/2847802/62963526-2cdbe800-bdcf-11e9-82c4-bca0a580e2c0.png)

[2019-08-13 17:38] dhalbert commented on #2060
Feather '840 has very short traces to I2C pins, shorter than other Feathers. Capacitance isn't quite enough. Adding 10pF caps or extra 10k pullups makes those chips work fine on Feather '840, but they don't work properly otherwise. Datasheet says 2.2k or 2.2k-4.7k for pullups. This is lower than most pullups. Metro '840 proto works with these chips with current 10k pullups. Try adding extra 10k pu

[2019-08-13 17:40] jerryneedell commented on #2060
hmm - I have 2 other devices with 10K pull-ups on the bus I thought that would help but I'll try adding them directly

[2019-08-13 17:41] dhalbert commented on #2060
It may be a different problem.

[2019-08-13 17:43] jerryneedell commented on #2060
also, why would it only fail after reboot but work after hard reset?

[2019-08-13 17:45] dhalbert commented on #2060
I saw the TWIM (I2C) peripherals seem get into a bad state while debugging the VCNL/VEML problem. Only a hard reset would fix them. But there may be some incomplete resetting going on. If we can duplicate the problem on other I2C devices, then we can eliminate chip-specific problem and it's a software problem, not a hardware problem.

[2019-08-13 17:47] jerryneedell commented on #2060
adding 10K pull-ups does not help :-(

[2019-08-13 17:49] deshipu commented on #2060
4.7kΩ are standard for high-speed I²C

[2019-08-13 17:51] jerryneedell commented on #2060
FWIW - I accessed an adxl34x twice -- hard reset then soft reset -- no problem
then did a soft reset and tried to access the vcnl4040 and it failed as above.

[2019-08-13 17:57] jerryneedell commented on #2060
@dhalbert did you really mean

I have them from SCA/SDL to 3.3v  -- not ground

[2019-08-13 17:58] dhalbert commented on #2060
No, I didn't, sorry, doing multiple things at once :)

[2019-08-13 18:01] jerryneedell commented on #2060
also tried adding 10pF cap between 3.3V and GND but it did not change anything.

[2019-08-13 18:08] jerryneedell commented on #2060
So - at this point - this does appear to be an issue that only impact the vcnl4040 -- the only reason I stumbled across it is taht I wanted to try the qwiic connectors on the sparkfun nrf52840 and daisy chain a few qwic compatible sensors.  That test was successful...as long as don't do a soft reboot!  Would you prefer to move this to the vcnl4040 driver repo?

[2019-08-13 18:23] tannewt commented on #1234
Oh, weird. @sommersoft may have an idea why it's getting move outside it's package.

[2019-08-13 18:31] tannewt commented on #2058
👍 from me

[2019-08-13 18:37] makermelissa commented on #2059
The change was that the baudrate was added as a parameter to Fourwire and the default speed was increased. Manually passing in 16000000 for the baudrate has it working in 4.1.0.

[2019-08-13 18:37] #2059 closed

[2019-08-13 18:39] tannewt commented on #2057
@jepler Looks like you found the issue! I kinda figured that word packing would have an issue or two. It's kinda crazy to require IMO. Please PR TinyUSB for the fix.

[2019-08-13 18:41] tannewt commented on #2059
Is 16mhz the limit of the ssd1351 or of the wiring? If it's the chip, we should add a way for the driver to reduce the baudrate of the given bus.

[2019-08-13 18:44] makermelissa commented on #2059
Yes, that seems to be the limit of the SSD1351. Currently the driver is separate from the bus. We could do a driver sweep and add that to the driver and reversion them as 2.0. For now though, I'm working on the guide page and I will be putting that in there.

[2019-08-13 18:44] makermelissa commented on #2059
I'll also update the example.

[2019-08-13 18:46] ladyada commented on #2059
...technically.... many our displays have SPI limits, we just ignore them because they dont mind overclocking. the HX for example, doesn't like going over 32MHz, but the ST77 is happy up to 80MHz+!

[2019-08-13 18:48] tannewt commented on #2045
Oh, I think I've fixed this in my epd branch: https://github.com/tannewt/circuitpython/tree/epd

IIRC it's an issue of not resetting the group of a display properly: https://github.com/tannewt/circuitpython/commit/312c2408de359f2fe5324a5f29562d1479d7b415#diff-4ce49108868950347d358317f36c0935L238

In the OLED PR I lumped all of the reset logic into one loop not realizing that the continues would sk

[2019-08-13 18:48] makermelissa commented on #2059
Well, if I set it to 20MHz, it doesn't work.

[2019-08-13 18:49] tannewt commented on #2059
I'm thinking that we can expose a baudrate property on the bus and have the driver cap it to the max it can handle.

[2019-08-13 18:51] makermelissa commented on #2059
Can it be changed once the Fourwire object is declared?

[2019-08-13 18:52] makermelissa commented on #2059
Nevermind, I just reread what you typed. That's what you're proposing. Sounds good.

[2019-08-13 19:00] sommersoft commented on #1970
Yep. I haven't been actively working it, but I opened #2020 to track it.

[2019-08-13 19:10] jepler commented on #2060
Based on further findings, I'm deassigning myself.  I'll still check with the i2c part I have, just in case, but it sounds like I won't be able to repro the problem

[2019-08-13 19:16] kevinjwalters commented on #2057
Are you refereding to this, **USB-MIDI Event Packets** on page 16 of https://www.usb.org/sites/default/files/midi10.pdf

Not claiming that's the _current_ spec. btw just the first thing I found.

[2019-08-13 19:18] sommersoft commented on #1234
Try adding `--package_folder_prefix circuitpython_` to the arguments when you call circuitpython-build-tools. It defaults to include package folders named `adafruit_`.

This does raise a bug though. It should handle this better, than just dumping the file outside of the folder.

[2019-08-13 19:54] jerryneedell commented on #2045
@tannewt I tried your EPD branch on my PyPortal, but it always goes to safe mode (HardFauult) on hard reset.   Do I need to make some changes to it  for the PyPortal?

[2019-08-13 20:23] jerryneedell commented on #2060
FYI -- the error also occurs, as predicted, with the VEML7700...

[2019-08-14 00:25] jepler commented on #2057
Interestingly, on Linux I get ...
![Screenshot_2019-08-13_19-24-04](https://user-images.githubusercontent.com/1517291/62986198-fff3f900-bdff-11e9-8ede-5c7518729d47.png)
so it'll be tough for me to test any fixes.

[2019-08-14 08:17] kevinjwalters commented on #2056
This seemed fairly harmless in REPL. Is it definitely REPL only? If not, is there any chance of leaking memory for applications with repeatedly/many caught exceptions? I'd guess not as the TraceBack/text would only be prepared when it's not caught?

[2019-08-14 08:53] deshipu commented on #2059
That sounds like a magical side effect that will only cause problems at some point to someone. I know it's not as user-friendly, but perhaps just checking the baud rate and raising an exception when it's too high would be better?

[2019-08-14 16:01] hybotics commented on #298
Hi,

I am VERY interested in seeing some kind of source level debugging added to Circuitpython. By this I mean the facility to have a script stop at a certain point (breakpoint), be able to examine and change variables, and the continue after the breakpoint. I am at a point with one script where it would be VERY useful to be able to do this.

For instance, I have verified that code sequences work,

[2019-08-14 16:22] jedgarpark commented on #2057
Odd. The mac os receives it as straight up broken. Windows seems to get the intended Program Change message plus a bonus unintended one. And now your Linux test show it perfectly fine.

[2019-08-14 16:32] jepler commented on #2057
@CedarGroveStudios Is the program you used in the original report available to download?  I can pop over to windows for testing/debugging (no macs in the house though)

[2019-08-14 16:40] jedgarpark commented on #2057
[code]

[2019-08-14 16:44] jepler commented on #2057
I meant the Windows program with the title "MIDI input messages"

[2019-08-14 17:00] jedgarpark commented on #2057
Ah, got it. That's MIDI Tools https://mountainutilities.eu/miditools

[2019-08-15 00:17] jepler commented on #2057
OK, I reproduced the problem with miditools, verified that my proposed change fixes it, and filed an issue and a PR with tinyusb: https://github.com/hathach/tinyusb/pull/99

Subsequent to that, we can PR "pull in updated tinyusb" which will enable us to close this issue up.

[2019-08-15 12:50] dhalbert commented on #1887
I left this comment in the ARM community thread linked above:
https://community.arm.com/developer/tools-software/oss-platforms/f/gnu-toolchain-forum/13503/gcc-g-version-8-very-slow-to-compile/159410#159410

[2019-08-15 18:04] dhalbert commented on #1887
@jepler and I confirmed that the downloadable toolchains are not built optimized: https://community.arm.com/developer/tools-software/oss-platforms/f/gnu-toolchain-forum/13503/gcc-g-version-8-very-slow-to-compile/159420#159420:

[2019-08-15 19:28] siddacious opened #2064 "incorrect CircuitPython status colors on PyRuler"
Last night I was testing the keyboard code on the PyRuler and everything was working fine after I updated the code a few times.

This morning I went to try the new code @ladyada wrote and my ruler will not show up as a CIRCUITPY drive, nor does a USB serial port show up.

About 6.5 seconds after plugging in the ruler would result in this mesage in dmesg:
2068082.010921 AppleUSBCDCCompositeDevice@:

[2019-08-15 19:37] siddacious commented on #2064
When plugged in, the dotstar is magenta/fuchsia as soon as it is plugged in and stays that way.

Double tapping reset to try to get into the bootloader just now didn't work, the dotstar is solid light blue and there is no TRINKETBOOT. Single reset also resolves to a blue dotstar after the BOOT attempt until the ruler's cable is remove and re-inserted which makes the dotstar pink again.

Just tried

[2019-08-15 20:53] jerryneedell commented on #2064
I just plugged mine in -- and it went to Magenta. need fairly slow doubletap but got TRINKETBOOT and green Dotstar. Reset went back to magenta - stays magenta even when stopping main.py and going to REPL

[2019-08-16 00:44] jepler commented on #2045
@tannewt is it possible that this was fixed by the merge of #2063?  I reproduced the issue at 583392a5c694c082f6 but not at 485dd8a67.

[2019-08-16 10:29] jerryneedell commented on #2045
fixed by #2063

[2019-08-16 10:29] #2045 closed

[2019-08-16 14:28] #2057 closed

[2019-08-16 16:01] jedgarpark commented on #2057
Great work! Thanks so much for diving into this @jepler

[2019-08-16 16:55] tannewt commented on #2064
@siddacious or @jerryneedell can you get a backtrace? Maybe load the pyruler board def on a metro m0 to do it easily.

[2019-08-16 17:13] jerryneedell commented on #2064
@tannewt what point are you looking for a backtrace from?  What version of code was this?

[2019-08-16 17:51] jepler commented on #2057
Happy I could help, and learn something in the process!

[2019-08-16 18:50] tannewt commented on #2064
I'm curious to know when the status LED is purple where the code is stuck.

[2019-08-16 18:55] jerryneedell commented on #2064
ah OK -- I'll try to dig into this over the weekend.

[2019-08-16 18:59] tannewt commented on #2064
Thank you!

[2019-08-16 19:04] tannewt commented on #2056
I assume it's REPL because it's the only case where an exception doesn't cause a VM reset. However, I haven't looked in detail yet so I may be wrong.

[2019-08-16 19:05] tannewt commented on #2059
Sure, throwing an exception works too.

[2019-08-16 19:08] makermelissa commented on #2059
We would still need to expose the property so the driver can check what it’s set to. Also it would need to fail gracefully if used with an older version of CircuitPython.

[2019-08-17 13:16] jerryneedell commented on #2064
I have my J-Link connected to the PyRuler:

I looked at the attempts to change the color of the LED  during the boot process and it looks like it is trying to set it as expected but the LED is not responding -- it just stays magenta.

[code]

[2019-08-17 14:52] jerryneedell commented on #2064
Note: I am running with current master ```
Press any key to enter the REPL. Use CTRL-D to reload.
Adafruit CircuitPython 5.0.0-alpha.0-189-g85d739847 on 2019-08-17; Adafruit PyRuler with samd21e18

[code]

[2019-08-17 20:14] jerryneedell commented on #2064
hmmm - FWIW -- I tried building CP a trinket_m0 and it works normally -- green Dotstar pulsing on boot.
I loaded taht same Trinket_mo image to the PyRuler and it give the steady magenta Dotstar as before...

I then put the PyRuler build on the Trinket M0 and the DotStar LED is pulsing green as normal.
Not sure if this is telling us anything but thopught it might be useful information

[2019-08-18 01:09] reply2jh opened #2069 "Crash into the HardFault_Handler"
This will cause the hardfault_handler to be called

import time
x = time.time()
x = x*1.0
y = time.localtime(x)

[2019-08-18 01:22] jepler commented on #2069
I can confirm this on the following software/hardware combination: `Adafruit CircuitPython 5.0.0-alpha.0-189-g85d739847-dirty on 2019-08-17; Adafruit PyPortal with samd51j20`

[2019-08-18 01:24] jepler commented on #2069
`time.localtime(1.0)` seems to be enough to cause the fault.

[2019-08-18 14:28] jerryneedell commented on #2064
I'v traced through the execution of the with the J-Link and I just don't see what is going wrong. It appears to be attempting to set the color, but the writes are having no apparent effect. The face that it works on the Trinket_M0 but not on the PyRuler makes me wonder if the problem is related to the extra pin definitions on the PyRuler. Is something causing a conflict with the initialization or

[2019-08-18 15:43] #2069 closed

[2019-08-18 16:35] #1396 closed

[2019-08-18 18:15] ssube opened #2073 "socket timeout or workaround"
Hi, I'm looking to use the Feather M4 Express and Ethernet FeatherWing as a way to collect I2C sensor data with [Prometheus](https://prometheus.io/) and threw together [a very small HTTP server](https://github.com/ssube/prometheus_express/blob/master/prometheus_express/server.py#L7) for that purpose. It works pretty well with light traffic, but if the `socket.accept` waits too long for an incoming

[2019-08-18 19:33] jerryneedell commented on #2037
I have gemma_m0 that I can now connect to my J-Link, but as in #2064 I am not seeing any obvious reason for the strange behavior. The values sent to the LED appear to be as expected, but the LED is not responding as expected.
Let me know if you have some particular section of code you'd like to see details from.

[2019-08-18 19:53] ladyada commented on #2073
im impressed it works cause we haven't done any ethernet projects yet :D @nickzoic added it so will know the most. we're mostly supporting networking with esp32spi  https://github.com/ladyada/Adafruit_CircuitPython_ESP32SPI

[2019-08-18 20:44] dhalbert commented on #2037
I can't reproduce this with a couple of Gemma M0's with latest master. Looks the same on MacOS or Linux. I tried an older Gemma M0 and a PyCon 2018 one, which has a dimmer DotStar (the mfr changed them), but they are still just pulsing green

[2019-08-18 20:45] dhalbert commented on #2064
Is this strangeness on only MacOS or do you see it on Linux or Windows?
Is there an interposed hub or similar thing interposed between the board and the Mac? Have you tried a straight connection?

[2019-08-18 23:03] ssube commented on #2073
I don't have one of the esp32 wifi wings on hand right now, but will look into picking one up, at least for testing. Are they strictly wifi, or is it possible to solder on an rj45 port? Not sure all the final locations for these sensors will have strong wifi signal, and I was hoping to use PoE splitters to power the boards from a single switch.

Not sure if this is related, but on some further tes

[2019-08-18 23:07] ladyada commented on #2073
the esp's are def just wifi

[2019-08-18 23:51] jpecor opened #2076 "Transparency setting for shape fill color cannot be dynamically changed after initialization"
I ran into some issues trying to switch between transparent and colored fills for some buttons I was using in a recent project.

Once a shape is created with either fill=<SOME_COLOR> or fill=None, the shape will act as either a filled **OR** transparent shape and cannot be changed.

The issue appears to be related to the Palette core module in displayio, and the symptoms show up in Adafruit_Displa

[2019-08-19 00:12] reply2jh opened #2077 "Unexpected time module behavior?"
The following seems to suggest that the time.time() function passes time faster than time.monotonic

    import time
    sleeptime = 300
    monotime = time.monotonic()
    clocktime = time.time()
    print('starting %ds wait' % sleeptime)
    time.sleep(sleeptime)
    monotime2 = time.monotonic()
    clocktime2 = time.time()
    monoElasped = monotime2 - monotime
    clockElasped = clocktime2 - c

[2019-08-19 00:21] jpecor commented on #2076
Wait, actually, the initial attempts to change the fill color when the shape is transparent should work, as well.  Not sure what I was thinking there.  It's the same function call.  Sigh...

[2019-08-19 00:21] dhalbert commented on #2077
`time.monotonic()` counts 1ms clock ticks but due to interrupt handling it can miss some. `time.time()` uses the on-chip real-time clock (RTC). We are going to make everything use the RTC, so we can do real processor sleep, at lower power, but we haven't done that yet.

Same issue as #876.

[2019-08-19 01:14] reply2jh commented on #2077
Thanks that makes sense.  So then it is probably a coincidence that for my PyPortal the time.monotonic() seems to keep almost perfect time with respect to the atomic clock and time.time() runs quite fast.

[2019-08-19 01:15] jepler opened #2078 "nrf: pwmaudioout: RawSample always loops"
It's some kind of problem with the way I'm using the nrf's PWM module.  It may also affect short WaveFiles; I haven't fully characterized it yet.  If I don't get it solved soon, I'll add a reproducer script here in case somebody else wants to take a crack at it.

[2019-08-19 01:59] dhalbert commented on #2077
The SAMD51 chip has a bug: the main clock that we're using (DFLL48M) cannot be locked to the crystal oscillator on the board. So the accuracy you're seeing is probably accidental.

[2019-08-19 02:14] jerryneedell commented on #2037
My apologies -- apparently this sia HW issue with a single Gemma_M0 -- I just tried a another one an it works normally. Closing...

[2019-08-19 02:14] #2037 closed

[2019-08-19 02:15] dhalbert commented on #2037
@jerryneedell Did you have another Gemma to test, or are you just going by my tests? It's possible there's something weird with the host USB timing or some such.

[2019-08-19 02:16] jerryneedell commented on #2064
@dhalbert I assume you are referring to the initial enumeration issue and not the magenta LED. I see taht on a Linux system. Do you see the same behavior? Should that be a separate issue?

[2019-08-19 02:16] jerryneedell commented on #2037
I tried it on another Gemma_m0 and behaves normally.

[2019-08-19 02:19] dhalbert commented on #2064
@jerryneedell I don't have a PyRuler (yet), and my indirect testing with the Trinket M0 hasn't been able to reproduce this. Do you see enumeration issues or just the color issue? If you and @siddacious both see the magenta issue, that's odd, but I'll have to wait and see how to reproduce it.

[2019-08-19 02:19] jerryneedell commented on #2037
This behavior is very different from the issue on the PyRuler as well. The faulty gemma m0 flashes wildly for some time then pulses for awhile then flashes again....  If I can reproduce it, I'll re-open this.

[2019-08-19 02:20] jerryneedell commented on #2064
OK -- I have not been able to reproduce it on a Trinket either -- even with the same build.
also trinket build does the same magenta on the PyRuler.

[2019-08-19 02:22] dhalbert commented on #2064
Maybe @siddacious can put a Saleae on the DotStar data and clock.

[2019-08-19 02:23] dhalbert commented on #2037
It's certainly weird. I'd expect more trouble with NeoPixels than DotStars.

[2019-08-19 02:34] jerryneedell commented on #2064
I have a sales but how can I get at those signals?

[2019-08-19 02:59] dhalbert commented on #2064
very careful tack soldering, I think, or looking at the board and scraping away solder mask from vias.

[2019-08-19 12:35] jerryneedell commented on #2037
hmmm -- looking closely at th malfunctioning Gemma_m0 I can see that the green LED in the DotStar is actually pulsing as expected, but the blue is on steady and the red intermittently starts to flash on/f very quickly.  It does look like a HW issue with this board/dotstar. I tried pressing on it, but no change. If I get brave, I may try replacing it. For now, I'll move onto other problems ....

[2019-08-19 19:39] siddacious commented on #2064
@dhalbert I'll see what I can do once I'm done with this MSA301 driver

[2019-08-19 20:10] jerryneedell commented on #2064
I'm so confused -- I have second PyRuler (I order too much stuff) -- it behaves differently.
started magenta - then goes white then steady blue while code.py is running and when in REPL (this is with factory code CP 4.1.0rc-1)
The other pyruler is just magenta all the time....sigh

[2019-08-19 21:15] #2013 closed

[2019-08-19 22:00] KingerNorth commented on #2064
I've been playing around with the PyRuler as I received it as part of my order a week ago. Right from the beginning I have seen only the Dotstar as a magenta light. At no time have I seen this change when plugged in or when functioning. I did alter the code as recommended to enable the keyboard by setting it True. What also happens is that I don't get the correct characters for the ohm and pi touc

[2019-08-20 02:42] tannewt commented on #2076
Did the modified version work? I was about to suggest that.

Looks like make_opaque and make_transparent don't trigger a refresh on their own: https://github.com/adafruit/circuitpython/blob/master/shared-module/displayio/Palette.c#L36

[2019-08-20 04:37] KingerNorth commented on #2064
I made some changes to the code as suggested by a post from saddacious in the Adafruit forms and now the characters for ohm, mu and pi display properly on my Mac. The characters still do not display properly for Windows 10 PC. Also the dotstar on the PyRuler remains magenta when plugged in to either the Windows 10 PC or my Mac. I also removed a few of the unused files that were originally installe

[2019-08-20 10:59] jerryneedell commented on #2064
I am now seeing very similar behavior to #2037 on my second PyRuler.
with no code.py program, on boot, the dotstar flashes magenta very rapidly. think the blue led is steadily on and the red is flashing so it looks magenta -- once in REPL it remains steady blue.
On the first PyRuler discussed above, the LED is steady magenta all the time.
Would you prefer to move the DotStart issues to a separate

[2019-08-20 12:23] jpecor commented on #2076
No, the modified version does not work, either.

[2019-08-20 22:52] nickzoic commented on #2073
See also #1880 ... exceptions could be a lot better on 'socket', 'network' and 'wiznet' libraries, we just have to decide what to standardize on ...

[2019-08-21 04:27] tannewt opened #2082 "Remove stop kwarg from busio.I2C().writeto"
With the introduction of `writeto_then_readfrom` into busio.I2C in 5.x. The stop kwarg is no longer needed. In fact, using it is likely the wrong thing to do since it is unsupported with Blinka.

[2019-08-22 21:03] #268 closed

[2019-08-22 22:33] kattni commented on #2082
We're looking for any assistance in testing all of the outstanding library PRs associated with this issue!

If you have any of these sensors and would like to help out, please grab something like a Feather M4 Express and do the following:

1. Update to the latest Adafruit CircuitPython BusDevice release (4.0.0, released 22 August 2019)
2. Find the PR for the sensor you'd like to test.
3. Comment o

[2019-08-23 01:34] Eirikur opened #2084 "Pi 4B "RuntimeError: Not running on a RPi!" coming from RPi.GPIO"
Hmmm. The latest version of RPi.GPIO (0.7.0) claims to be updated for Pi4B.  What's really annoying is that the bug appears to be in the Cython binary. So it's probably not your fault at all, but I can't fix it. You're requiring this other library RPi.GPIO and it's failing. I'm a developer and happy to help.

eh@pi4 ~/eyelert $ python3 leds.py
Traceback (most recent call last):
  File "leds.py", l

[2019-08-23 03:35] tannewt commented on #2025
This is fixed by #2063

[2019-08-23 03:35] #2025 closed

[2019-08-23 03:37] tannewt commented on #1997
@wallarug Any update? Still need this open?

[2019-08-23 03:41] tannewt commented on #1038
Fixed by #2000 . Thanks @jepler

[2019-08-23 03:41] #1038 closed

[2019-08-23 03:44] tannewt commented on #899
With the display speedups I think we can close this. There is certainly more work to do for audio and potentially collisions but we should have specific issues for those as needed.

[2019-08-23 03:44] #899 closed

[2019-08-23 03:45] tannewt commented on #872
This is done. Displays now refresh automatically.

[2019-08-23 03:45] #872 closed

[2019-08-23 03:49] ladyada commented on #872
🥇

[2019-08-23 03:53] tannewt commented on #269
We've been doing this and can formalize with AdaBot if we like.

[2019-08-23 03:53] #269 closed

[2019-08-23 03:54] tannewt commented on #1615
This still happen?

[2019-08-23 03:55] tannewt commented on #1656
This was fixed by #1745

[2019-08-23 03:55] #1656 closed

[2019-08-23 04:05] tannewt commented on #1037
Fixed by #2075

[2019-08-23 04:05] #1037 closed

[2019-08-23 04:07] ladyada commented on #1016
hiya, we no longer support the esp8266 as of 4.x - please check out micropython for esp8266 support! :)

[2019-08-23 04:07] #1016 closed

[2019-08-23 04:07] ladyada commented on #1065
hiya, we no longer support the esp8266 as of 4.x - please check out micropython for esp8266 support! thank you :)

[2019-08-23 04:07] #1065 closed

[2019-08-23 04:11] ladyada commented on #1657
hiya, looks like you figured it out & we no longer support the esp8266 as of 4.x - please check out micropython for esp8266 support! thank you :)

[2019-08-23 04:11] #1657 closed

[2019-08-23 04:17] ladyada commented on #1117
@tannewt  i think you fixed this issue in
https://github.com/adafruit/circuitpython/pull/1989
@arofarn - please  try again if you can, will close this issue from lack of activity

[2019-08-23 04:17] #1117 closed

[2019-08-23 06:52] wallarug commented on #1997
Hey Scott,

Happy to have this one closed off.  I'm going to PR some changes this weekend for the other issue.

[2019-08-23 06:52] #1997 closed

[2019-08-23 10:19] jerryneedell commented on #1615
Yes it does. Not surprising since it appears to be a design issue on the Xenon.

[2019-08-23 19:03] tannewt commented on #1615
Is there anything we can do about it? If not, can we close this?

[2019-08-23 19:15] jerryneedell commented on #1615
Its something to be aware of if anyone runs into it, but it's not clear there is anything to be done in CP to "fix it".  I'm happy with closing it.

[2019-08-23 19:15] #1615 closed

[2019-08-23 20:36] huynh213 opened #2086 "PWMOut failed when changing frequency in an infinite loop"
I try to understand why it failed to generate PWM signals after 30+ seconds or so on my ATSAMD21G18. Other functions (such as print) seem to work just fine but just the PWM function stop generate PWM signals.

I did test it when changing duty_cycle in an infinite loop, and it works just fine. Not sure why it causes a problem with switching frequency. Any thought?

The code is pretty simple as:
[co

[2019-08-23 21:30] jepler commented on #2086
Thank you for your report.

I believe I have reproduced the problem.  I happen to be testing with ```Adafruit CircuitPython 3.0.3 on 2018-10-10; Adafruit Feather M0 Express with samd21g18``` and I used a modified version of your test program:
[code]
My initial findings are that when the duty_cycle pin is NOT assigned a value, the actual duty cycle tends to decrease over time (a fact that can be ve

[2019-08-23 21:34] jepler commented on #2086
I also verified that this bug exists in a recent development version of circuitpython, `Adafruit CircuitPython 5.0.0-alpha.0-176-g912fd7759 on 2019-08-23; Adafruit Feather M0 Express with samd21g18`

[2019-08-23 21:38] huynh213 commented on #2086
jepler,

You're absolutely correct. The duty-cycle decreases over time to the point it becomes 0.
Your way of assigning a new value of duty cycle every loop seems to resolve the issue.

[2019-08-25 22:31] ladyada commented on #1517
@dhalbert this is done right?

[2019-08-25 22:51] dhalbert commented on #1517
@ladyada Yes, it's been merged, available in the latest S3 builds for both nRF and SAMD51.

[2019-08-25 22:52] #1517 closed

[2019-08-26 20:12] dhalbert opened #2087 "microprocessor.cpu.uid is reversed from canonical order"
See https://github.com/adafruit/ArduinoCore-samd/pull/167

[2019-08-28 20:27] xervox opened #2089 "import network - core module missing for atmel-samd ArduinoMKRZero"
Hi,
I am running latest adafruit-circuitpython-arduino_mkrzero-en_US-4.1.0.uf2
on the arduino MKR Zero and i can't seem to use the network core module.
I want to configure the MKR Zero Ethernet Shield.
Any ideas? Compiling circuit python on my own didn't solve it.

[code]

regards
xervox

[2019-08-28 21:54] brentru opened #2090 "Missing socket.getaddrinfo property"
The latest documentation for the `socket` module lists the `getaddrinfo` (https://circuitpython.readthedocs.io/en/latest/shared-bindings/socket/__init__.html#socket.getaddrinfo) method, but it doesn't seem to appear as a property of a socket object:
[code]

Seems it's defined in code as well - https://github.com/adafruit/circuitpython/blob/master/shared-bindings/socket/__init__.c#L515

[2019-08-28 22:02] brentru commented on #2090
It DOES appear if you call the socket module itself, instead of the `sock` object.

[code]

Should it be placed within the `socket_locals_dict_table` (https://github.com/adafruit/circuitpython/blob/master/shared-bindings/socket/__init__.c#L471) instead of the `socket_globals_table` (https://github.com/adafruit/circuitpython/blob/master/shared-bindings/socket/__init__.c#L573)?

[2019-08-28 22:12] #2090 closed

[2019-08-28 23:28] nickzoic commented on #2008
No worries.

[2019-08-29 17:40] kattni opened #2095 "Remove reference to "libraries", consider replacing with "classes""
Documentation refers to classes as libraries here: https://circuitpython.readthedocs.io/en/latest/shared-bindings/audiobusio/__init__.html

Likely worth verifying this is not also the case elsewhere.

[2019-08-29 18:26] tampe125 commented on #2082
Hello, this change send to have broken some stuff. More info here https://github.com/adafruit/Adafruit_CircuitPython_VL6180X/issues/7

[2019-08-29 20:49] dhalbert commented on #2058
Do you think this is related to #2005 as well?

[2019-08-29 21:01] jepler commented on #2058
@dhalbert hmm if so I'm not casting my net far enough. I am only looking at audio dma but in that issue display dma may be implicated too...

[2019-08-30 04:54] tannewt commented on #2086
Internally, duty_cycle is less than 16 bits because of the top value varies with frequency. As a result, the duty cycle gets recomputed when the frequency is set. Maybe we want to maintain the original duty cycle internally to guard against this.

[2019-08-30 13:39] dhalbert commented on #2064
I tried three PyRulers on Linux. They all enumerate and have normal colors for TRINKETBOOT but not for CircuitPython. The default PyRuler bootloader is 2.0.0-adafruit.7. I tried that bootloader on a regular Trinket: the DotStar is fine with CircuitPython, and I also tried the 3.7.0 bootloader on the PyRuler, with no improvement. So it's not the bootloader.

[2019-08-30 15:22] brentru opened #2097 "socket.settimeout() raising OSError"
Setting `socket.timeout()` to any integer value causes an `OSError: [Errno 22]`. The timeout `value` parameter specified in the [documentation](https://circuitpython.readthedocs.io/en/latest/shared-bindings/socket/__init__.html#socket.settimeout) for the socket module states that it accepts an integer argument, even with setting a timeout of 0 for non-blocking sockets.

@nickzoic  Any idea why thi

[2019-08-30 15:23] brentru commented on #2097
This seems similar to https://github.com/adafruit/circuitpython/issues/2073

[2019-08-30 18:13] kattni commented on #909
Done!

[2019-08-30 18:13] #909 closed

[2019-08-30 19:17] jerryneedell opened #2098 "SSD1306 hangs with 5.0alpha"
This code causes the board to hang -- run with feather_nrf52840_express and OLED feathering. It was working prior to alpha release

[code]

edited to add -- just loaded an older version and it also hangs -- not sure when it broke
[code]

[2019-08-31 04:50] anecdata commented on #2098
Only clue I can add is that I reported on Discord on 8/26 that the latest 5.x build was working fine with OLED FeatherWing... I believe that would have been the 8/22 build 1d973a0. But 5.0 alpha stops user code from starting up if OLED is attached: no serial/REPL/^C. Solid green LED on M4.

[2019-08-31 05:22] anecdata commented on #2098
8/22 build 1d973a0 re-confirmed works with OLED.
Subsequent builds all have 5.0 alpha behavior.

Between each of the following, I reloaded the working 8/22 build 1d973a0:

8/27 build 42956a6 : user code runs to a point, OLED gets blanked, then hung
8/28 build 7cbae3d : user code runs to a point, OLED gets blanked, then hung
8/29 build 193df55 : user code runs to a point, OLED gets blanked, then hu

[2019-08-31 10:55] jerryneedell commented on #2098
I connected a J-Link to the feather_nrf52840 and OLED -- and rebuilt 5.0alpha with DEBUG=1
The code appers to be executing, that is, it does not hard Fault but the display is blank and
it won't respond to any keyboard input (COntrol-C) does not work
Here is a screenshol of the call stack after loading the oled.py test progrram
![Screenshot_2019-08-31_06-49-50](https://user-images.githubusercontent

[2019-08-31 15:07] jepler commented on #1992
Reproduced on Metro M4 express.  On my scope, the one trace slowly moves with respect to the other one at a constant rate.  Just to add to the findings, if I decrease the sample rate enough (24 * 1000) the problem goes away, at least for this sample data.  As the original reporter states, somehow this is dependent on specific sample values, too, which really is a problem for any explanations I mig

[2019-08-31 16:02] kevinjwalters commented on #1992
Nice to know it's not just me!

[2019-08-31 16:07] jepler commented on #1992
Not only is it data-dependent, but for some data combinations the order of relative movement is reversed!

[2019-08-31 16:14] kevinjwalters commented on #1992
I'm not saying this is related but there's more unexplained, weird stuff going on with these DACs: [Adafruit Forums: SAMD51 M4 DAC has problems getting it up](https://forums.adafruit.com/viewtopic.php?f=24&t=153707)

[2019-08-31 16:58] jepler commented on #1992
CircuitPython does not intentionally enable the oversampling or dithering modes.

[2019-08-31 16:59] jepler commented on #1992
fwiw your stair step on 0-to-65535 I can also reproduce, and the "data dependent" nature of the problem seems to be that when the "stair step" is going on at the moment the buffer flips over, the problem doesn't manifest.  weirder and weirder.

[2019-08-31 17:03] jepler commented on #1992
![MSO1104Z_2019-08-31_12 03 07](https://user-images.githubusercontent.com/1517291/64067054-57a7a800-cbe7-11e9-8d3f-5188ae04a639.png)

[2019-08-31 17:16] jepler commented on #1992
Smaller reproducer:
[code]
Change the single Y back to X and the waveforms stay in sync.  Change another X to Y and the waveforms stay in sync.

[2019-08-31 17:27] jepler commented on #1992
With 3 samples per channel and a sample rate of 200kHz, the observed frequency should be (200/3) = 66.7kHz.  Instead, I measure ~55.5kHz with [0,0,X,X,X,X], and 12.8kHz with [0,0,Y,Y,Y,Y].

[2019-08-31 19:27] jepler opened #2099 "Right channel stops playing audio after a few seconds (samd51)"
While trying to reproduce #1992, I ran into this behvaior instead.

 Testing setup: A0, A1 into o'scope.  Put some.wav and code.py on CIRCUITPY.

Initially, A0 and A1 both display a signal, but often A1 stops showing signal before A0 even though both halves of the sample should play for the same duration.  The length of time A1 plays varies.  Oddly, it also varies whether the DAC value is high or

[2019-08-31 20:23] dhalbert commented on #2064
More testing: I am not having trouble with enumeration with PyRulers on MacOS Mojave 10.14.6.

I added
[code]
to `boards/pyruler/mpconfigboard.mk` and rebuilt, and now I appear to get correct colors for CircuitPython (given my limited color vision). The pulsing DotStar when the REPL is running is rather rough-looking: I don't see the same issue on a regular Trinket when setting `CIRCUITPY_BITBANG_

[2019-08-31 20:35] dhalbert commented on #2099
This sounds related to the "refresh" needed on the SAMD51 DAC's. Their output needs to be refreshed explicitly by forcing a reconversion, or else the charge will decay away. If you put various pulldowns on A1 I have a hunch you'll see it decay faster depending on the value of the pulldown.

Turning on refresh is done in `ports/atmel_samd/asf4_conf/hpl_dac_config.h`: `CONF_DAC0_REFRESH` and `CONF_D

[2019-08-31 20:39] jepler commented on #2099
I will check into that, but doesn't this apply only to static signals?  The value is being changed a nominal 100,000 times per second between 0 to 4000 continuously.

[2019-08-31 21:00] dhalbert commented on #2099
Good point. Is the loss of signal abrupt or does it fade down? Abrupt would sound like a DMA problem (if DMA is being used here).

[2019-08-31 21:02] jepler commented on #2099
abrupt, like DMA stops

[2019-08-31 21:19] kevinjwalters commented on #2099
There's also another setting about current (`CONF_DAC0_CCTRL` and `CONF_DAC1_CCTRL`). I've not experimented with this, just came across it in the MicroChip docs. Mentioned on: [Adafruit Forums: What's fastest practical sample_rate for M4 DACs?
](https://forums.adafruit.com/viewtopic.php?f=60&t=153797).

[2019-08-31 23:11] jepler commented on #2099
I updated the initial comment with new code and an oscope grab.  And just when you got things weird enough, I got  this one too:
![MSO1104Z_2019-08-31_18 10 19](https://user-images.githubusercontent.com/1517291/64069938-cd793700-cc1a-11e9-874b-0bf394b3f829.png)

[2019-08-31 23:20] jepler commented on #2099
![MSO1104Z_2019-08-31_18 19 51](https://user-images.githubusercontent.com/1517291/64069981-f77f2900-cc1b-11e9-90bf-90a94090778b.png)

[2019-09-01 01:16] sabas1080 commented on #1362
maybe this can help
https://blog.littlevgl.com/2019-08-05/micropython-pure-display-driver#micropython-api-to-any-c-library

[2019-09-01 04:00] dhalbert commented on #2064
Further testing:

I changed the pins used for `MICROPY_HW_APA_MOSI` and `_SCK` to be the pins assigned for `board.MOSI`, and `board.SCK`, and took those pins out of general use. I attached an external DotStar strip so its first DotStar would take the place of the onboard one. It appeared to work fine, and pulsed green smoothly.

I went back to the onboard DotStar and tried changing the SPI clock r

[2019-09-01 04:37] dhalbert commented on #2064
I forced the MOSI and SCK lines to high drive mode, and I get the stuttering green pulsing. This makes sense, because bitbangio uses DigitalInOut, which forces high drive.

Most interestingly, if I probe the clock line with a jumper or other lead, but unconnected, then the pulsing also settles down to a somewhat weak pulsing. I think the added capacitance is reducing some noise or ringing. Doing t

[2019-09-01 11:05] kevinjwalters commented on #2099
I think the SAMD51 has a pseudo-differential mode for the DAC pair? When I saw that in docs I realised bugs around that area could be a cause of _som_e of these coupling-related oddities but there seem to be so many strange quirks that defy an obvious explanation. I did a quick check of the SAMD21 on a CPX a few months back and it's so clean and predictable! It's as if there's a poltergeist in the

[2019-09-01 11:14] kevinjwalters commented on #2099
I wonder if we should take [Malvin's advice](https://www.youtube.com/watch?v=GfJJk7i0NTk&t=2m42sl) and start at the beginning? Even at first use the SAMD51 DACs used from CircuitPython behave strangely with #1991 .

[2019-09-02 01:16] jepler commented on #2099
Based on this looking "right" in an Arduino environment, I am hoping there's just some spot of setup that we've missed.  Unfortunately, I think I've ruled out everything in the DAC's registers.  Moving on to clock setup now, h/t @sommersoft

[2019-09-02 01:50] ladyada commented on #2064
can you try it in arduino?

[2019-09-02 04:00] dhalbert commented on #2064
Turns out not a board hardware problem, but new DotStars were not tolerant of off-spec writes.

@siddacious If you still have enumeration issues on MacOS, could you open another issue? Thanks. Dropping that from this issue.

[2019-09-02 09:12] kevinjwalters commented on #2099
You are likely to have already observed it or read it, but when I last looked it wasn't clocked fast enough to get the higher rates, 3rd post in https://forums.adafruit.com/viewtopic.php?f=60&t=153797#p759051

[2019-09-02 10:23] jerryneedell commented on #2037
fixed by #2102

[2019-09-02 14:20] dhalbert commented on #2064
Fixed by #2102.

[2019-09-02 14:20] #2064 closed

[2019-09-03 15:03] siddacious opened #2107 "PyRuler still not enumerating on MacOS Mojave"
Same issue as reported in #2064. Didn't fix itself.

[2019-09-03 15:26] dhalbert commented on #2107
What version are you running now? I was unable to reproduce on a Macbook with USB-C-to-USB-A adapter, running 10.14.6. And is this latest master or 5.0.0-alpha.1, or 4.1.0?

Does it work fine on other machines? Do you have another Mac to try it on?

[2019-09-03 20:30] jedgarpark opened #2110 "NeoTrellis example code crashing on trellis.sync() call"
Hooked up a NeoTrellis board to a Feather M4, tried basic NeoTrellis example code found here: https://learn.adafruit.com/adafruit-neotrellis/circuitpython-code
Code runs through the light test, then hangs, or allows a couple button presses before hanging.
Error:
[code]

This is running 4.1.0 release CircuitPython and associated bundle libraries for seesaw, neotrellis, and bus_device. Same problem

[2019-09-03 22:24] #2098 closed

[2019-09-03 23:23] tannewt commented on #2107
Also, are there any hubs between the Mac and the device?

[2019-09-03 23:30] tannewt commented on #2023
Note the SAMD51 has a Public Key Cryptography Controller (PUKCC) that is meant to help with these algorithms.

[2019-09-03 23:32] tannewt commented on #2022
We may be able to do M4 but I doubt it'll fit in M0.

[2019-09-04 01:10] jackdanielsmurphy opened #2114 "Feather nRF52840 Express Builtin NeoPixel Not Shared Correctly"
I'm trying to use the builtin NeoPixel on the Feather nRF52840 Express. Here's my code:

[code]

The NeoPixel flashes between red and green. I assume this is because the semaphore system is interfering.
Looks like the builtin NeoPixel is not being shared correctly.

[2019-09-04 01:37] ladyada commented on #2022
m4 only is fine

[2019-09-04 01:37] ladyada commented on #2023
yes! and other chips don't, having generic C is fine and for large chips only

[2019-09-04 16:42] makermelissa opened #2118 "Missing assets from 5.0.0 Alpha 1"
It appears some assets are missing from the release such as the Metro M4 Express.

[2019-09-04 16:48] tannewt commented on #2118
Yup, we ran out of API quota. Will release today hopefully to validate that the new token fixes it.

In the meantime, they are available on S3: https://adafruit-circuit-python.s3.amazonaws.com/index.html?prefix=bin/metro_m4_express/en_US/

[2019-09-04 17:02] makermelissa commented on #2118
Perfect, thanks.

[2019-09-04 18:05] tannewt commented on #2114
The supervisor may be setting the green color even though the neopixel should be used by the user's code.

[2019-09-04 19:46] #1306 closed

[2019-09-04 19:48] #1688 closed

[2019-09-05 00:01] tannewt commented on #2118
Alpha 2 has all 904 assets so the token fix worked!

[2019-09-05 00:01] #2118 closed

[2019-09-05 00:53] ladyada commented on #2118
nice work!

[2019-09-05 18:28] #2058 closed

[2019-09-05 22:58] siddacious commented on #2114
I _may_ have seen this on one of my custom boards that has no on-board status led but the board defs are set to use a normally attached dotstar string. If I recall correctly when I `fill`'d the strip the first dotstar would remain a status indicator.

[2019-09-06 10:38] jerryneedell opened #2122 "build warning for stm32f412zg_discovery"
Building the current master yields this warning for stm32f412zg_discovery.
Is something missing in the bsp?
[code]

[2019-09-06 18:56] #2122 closed

[2019-09-06 23:26] hierophect opened #2125 "STM32F412 Discovery board lacks USB support"
Should be updated once https://github.com/hathach/tinyusb/issues/103 is completed.

[2019-09-09 01:37] jepler opened #2128 "audioio_wavfile_get_buffer: returns GET_BUFFER_MORE_DATA without any data"
When given a bad (truncated) wave file, audioio_wavefile_get_buffer can return GET_BUFFER_MORE_DATA but set buffer_length to 0.

[code]

This has become a very bad misbehavior on my I2SOut implementation for nRF, because I keep calling it until a desired number of bytes are supplied or GET_BUFFER_DONE is returned.

Suggested fix:  If 0 bytes are returned by `f_read`, contrary to the information in

[2019-09-09 04:38] tannewt commented on #2125
@hierophect This is done in TinyUSB. Please pull it in and get it going.

[2019-09-09 14:27] hierophect commented on #2125
@tannewt yep got the notification this morning. I notice it isn't represented in Circuitpython master yet, despite it being on the develop branch and .gitmodules not tying it to a particular commit. Is that just a git thing, that it continues to be locked to a commit until a PR goes through? How does that update process work, exactly?

[2019-09-09 15:27] gingle opened #2131 "SAMD51 SPI Slave Mode"
I would like to use the Metro M4 as a remote controller run by a master microcontroller. I need to read A/D results and send D/A levels as well as set logic pins. I am worried that the I2C and RX/TX lines are not fast enough and perhaps not as free from errors.

[2019-09-09 15:56] tannewt commented on #2125
Git submodules are always tied to a particular commit. To update them, sync CircuitPython and then change into the submodule directory. Once there, fetch origin and checkout the remote branch (origin/develop). Now move back to a CircuitPython folder to do a test build. `git status` should show "new commits" for the submodule. You may need to `git add` it for it to be in the next commit but I'm not

[2019-09-09 15:58] tannewt commented on #2131
@gingle It's not a high priority for us but we'd love a PR if you implement it yourself. We're also happy answering questions to get you started on it. I'd suggest looking at I2CSlave as a model for it.

[2019-09-09 16:31] gingle commented on #2131
Can you point me to the I2CSlave code?

[2019-09-09 17:29] tannewt commented on #2131
https://github.com/adafruit/circuitpython/tree/master/ports/atmel-samd/common-hal/i2cslave
https://github.com/adafruit/circuitpython/tree/master/shared-bindings/i2cslave

Want me to reopen? It's still ok to leave open for the long term.

[2019-09-09 18:05] gingle commented on #2131
I would leave it open for the long term. I have a lot on my plate so my work on this will be intermittent. Thanks for the links.

[2019-09-09 18:09] tannewt commented on #2131
Ok, reopened! No worries if it takes time. Please reach out if you have questions! Thanks!

[2019-09-09 21:02] jerryneedell commented on #2114
FYI -- at the REPL the NeoPixel is white

[code]
turns it RED, but then it goes back to white within a second.

[2019-09-09 21:20] rdagger commented on #2114
I confirmed the NeoPixel is basically unusable because the semaphore system is competing with the code for control of the NeoPixel.

[2019-09-09 21:41] #2125 closed

[2019-09-09 22:47] ladyada opened #2134 "stm32 digitalio not reset"
save this as code.py
[code]
on reset it runs, if you go into the repl and hit control-D to restart we get...
![image](https://user-images.githubusercontent.com/1214161/64571545-3acf4b00-d332-11e9-8685-538606669eef.png)

[2019-09-10 02:09] jerryneedell commented on #2114
Hmm, since these point to the same pin, it seems like supervisor “should” be well behaved..
https://github.com/adafruit/circuitpython/blob/master/ports/nrf/boards/feather_nrf52840_express/mpconfigboard.h#L37
https://github.com/adafruit/circuitpython/blob/master/ports/nrf/boards/feather_nrf52840_express/pins.c#L30

[2019-09-10 02:32] dhalbert commented on #2114
`clear_temp_status() in `supervisor/shared/rgb_led_status.c` does not check for `neopixel_in_use`, unlike the other status neopixel writing routines in that file. I think maybe it should. I guess the question is whether the atmel-samd boards have the same behavior here. I looked at the uses of these routines and I don't see that the nrf port does something very different.

[2019-09-10 03:03] dhalbert commented on #2114
OK, this is actually a manifestation of a bug in `atmel-samd/tick.c`, plus the bug in `clear_temp_status()`. It's supposed to do a filesystem flush once a second, but it's failing to do that. So the nrf port is actually doing the right thing, but in the process of checking whether to flush the filesystem, it's changing the status neopixel color without checking whether someone else is using neopix

[2019-09-10 04:15] anecdata opened #2137 "5.0.0-alpha.2 displayio Label text doesn't update on 2-Color EPD FeatherWing"
Environment:
Adafruit Feather M4 Express with samd51j19
5.0.0-alpha.2 on 2019-09-04
CP Lib Bundle 20190907

The code below attempts to update the text of a displayio Label on a 2-color EPD FeatherWing, but only the first iteration is displayed. Text does not update after the first iteration on the 2-color EPD. It goes through its flashing motions, but the same text appears again in every loop. pri

[2019-09-10 05:43] anecdata opened #2138 "5.0.0-alpha.2 displayio Group loses x-coordinate on 2-Color EPD FeatherWing"
Environment:
Adafruit Feather M4 Express with samd51j19
5.0.0-alpha.2 on 2019-09-04
CP Lib Bundle 20190907

The code below attempts to implement the Sprite Sheet example from:
[https://learn.adafruit.com/circuitpython-display-support-using-displayio/sprite-sheet](https://learn.adafruit.com/circuitpython-display-support-using-displayio/sprite-sheet)
...by adapting it to the timing requirements of E

[2019-09-10 11:09] jerryneedell opened #2139 "stm32 build oddity on MacOS"
When I build the current master on my Mac , I see these "find: illegal option -- t" errors.
The errors do not appear to impact the build, but I don't see where they are coming from.
I don't see them for any other board.

[code]

they do not occur on my Ubuntu Linux System.

[2019-09-10 12:31] jepler commented on #2139
I suspect it's due to this line in Makefile
[code]
plus the fact that FROZEN_MPY_DIR is probably empty or unset.

Linux "find" treats `find -type f` as `find . -type f` (i.e., it searches starting at the current directory) while bsd-derived find seems to require at least one path to be specified.

I suggest to protect the use if FROZEN_MPY_DIR with `ifneq ($(FROZEN_MPY_DIR),)` as in stm32/Makefile

[2019-09-10 16:41] NightSkySK opened #2140 "DisplayIO: SH1106 & SSH1106 OLED display drivers"
Could you please consider to add support for OLED displays I2C with [SSH1106](https://www.amazon.com/Ponis-Limos-Display-Interface-Communicate-SSH1106/dp/B07WG6FPBP)
and [SH1106](https://www.amazon.com/Serial-128X64-Display-Module-Arduino/dp/B07QY5DRVB)

[2019-09-10 17:29] tannewt commented on #2140
Related forum thread: https://forums.adafruit.com/viewtopic.php?f=60&t=141184

[2019-09-10 17:37] #2114 closed

[2019-09-10 18:00] #2128 closed

[2019-09-10 18:01] jepler opened #2141 "Add board support for SAMD51 Thing Plus"
The SAMD51 Thing Plus from sparkfun looks like a good candidate for CircuitPython. Add support for this board, or determine why it's not feasible.

https://learn.sparkfun.com/tutorials/samd51-thing-plus-hookup-guide/all

Note that while this isn't called out clearly in feature lists, it features a 4Mb (256KB) SPI flash, verified by jasonp on discord

[2019-09-10 18:04] jepler commented on #2141
I have one of these on order, and hope to knock it out some even next week.  If it's been longer than that, someone else should feel free to pick this up.

[2019-09-10 18:49] ladyada commented on #2141
hiya @santaimpersonator please try this out and submit a PR so we can generate builds automagically

[2019-09-10 19:29] dhalbert opened #2142 "Reduce overhead of background tasks"
Opening new issue to narrow focus of #1933. See that issue for original details.

`run_background_tasks()` calls a number of routines that need to run in the background. Some of these do extensive checking to see if there's anything to do. The overhead of these routines could be reduced to save a substantial amount of time (like another factor of 2).

`run_background_tasks()` is called in after th

[2019-09-10 19:29] dhalbert commented on #1933
Closing in favor of #2142.

[2019-09-10 19:29] #1933 closed

[2019-09-10 19:34] jepler commented on #2142
Could we start by saying that if there hasn't been a 1ms tick, we won't even check whether any background task needs to be done?

Any advice on how to benchmark this and measure concrete speed-up?  pystone benchmark is one I've used in the past when estimating how much nRF lto increased speed.

[2019-09-10 19:36] dhalbert commented on #2142
@tannewt thought that 1ms ticks might produce frame rates that were somewhat off for higher-frame rate display refreshes, so it'd be good to discuss that with him.

In #1933, I just measured a very simple loop to get what the maximum raw speedup was. I think that might be sufficient here: we're not targeting a particular speed, but just looking to minimize the background overhead.

[2019-09-11 16:01] rdagger commented on #1654
I’m having similar issues with the PCA10059 connected to a Raspberry Pi 3.  I copied adafruit_ble and adafruit_bluefruit_connect libs to the PCA10059.  They use 75.1K of storage.  I then loaded a simple BlueTooth test:

[code]

It worked once, but on the 2nd try I lost connection and the PCA10059 file system was wiped.  I tried several times and the file system kept getting wiped.
I swapped out a

[2019-09-11 16:38] anecdata opened #2144 "5.0.0-alpha.2 displayio won't refresh (certain circumstances) on 3-Color EPD FeatherWing"
Environment:
Adafruit Feather M4 Express with samd51j19
5.0.0-alpha.2 on 2019-09-04
CP Lib Bundle 20190907

The code below attempts to implement the Sprite Sheet example from:
https://learn.adafruit.com/circuitpython-display-support-using-displayio/sprite-sheet
...by adapting it to the timing requirements of EPD displays (e.g., time.sleep(display.time_to_refresh))

This code works on the 2-color E

[2019-09-11 17:38] tannewt commented on #2142
The frame rates are currently off already so I wouldn't worry about it. I was getting ahead of myself when I pointed that out.

[2019-09-11 20:05] Mr-Coxall opened #2145 "Meowbit support?"
Can the Meowbit be added to have CircuitPython support?
https://www.kittenbot.cc/collections/frontpage/products/meowbit-codable-console-for-microsoft-makecode-arcade

[2019-09-11 20:20] tannewt commented on #2145
Looks like it is an STM32F401. We're currently targeting the F411, F412 and F405 but may be able to support the F401 in the longer term.

[2019-09-11 20:28] hierophect commented on #2145
The F401 is very similar to the F411. It may be trivially simple to add. However, since I don't have a viable dev board for it on hand, I think this is probably best scheduled after we have modules like displayio up and running.

[2019-09-12 00:34] jepler opened #2146 "nRF: PWM: incorrect "<pin> in use" errors"
With help from @kattni, I chased a simpleio problem to this reproducer:
[code]

[2019-09-12 19:02] tannewt opened #2149 "Create "code.py" when creating the filesystem"
That way folks who install it have a file to edit. Bonus points if there is a very small bit of useful code. (Maybe just `print("Hello world!")`? It could be the translation too.)

[2019-09-12 20:04] kattni opened #2150 "nRF52840 analog voltage returning low"
The max voltage returned on any of the pins on the Circuit Playground Bluefruit is 3.01 when connected to the 3.3V and ground pads using a potentiometer. It should be returning 3.29 when maxed out as the 3.3V pin does.

Apparently there is an analog reference that must be set, that is currently hitting a max of 3.0V vs the 3.6V it should be.

[2019-09-13 14:10] AdinAck opened #2152 "SD Card incompatibility from #245 not resolved?"
My SD Card had the same error from issue #245 so I downloaded the fixed version that was made, that they said was merged in but it looks like it wasn't because downloading the script from that thread fixed the problem.

[2019-09-13 16:29] tannewt commented on #2152
@AdinAck please post a picture of your SD card. Many of them are just a little different and need to be fixed separately.

[2019-09-13 16:32] #2146 closed

[2019-09-13 16:36] AdinAck commented on #2152
It’s exactly the same as the ones in the fix (Samsung EVO 32Gb). I solved
the error by downloading the “adafruit_sdcard.py” from
https://github.com/adafruit/Adafruit_CircuitPython_SD
and placing adafruit_sdcard.py next to code.py and importing it, instead of
adafruit_sdcard.mpy from the lib folder. Wouldn’t this mean the fixed code
is not in the latest library release? If that doesn’t make sense l

[2019-09-13 17:36] tannewt commented on #2152
Ah, ok. Yup, that may mean we've not released it. I'll do that now. Thanks!

[2019-09-13 17:38] tannewt commented on #2152
Ok, released as 3.2.4. Will be in tomorrow's bundle. Thanks!

[2019-09-13 17:38] #2152 closed

[2019-09-13 19:26] santaimpersonator commented on #2141
@jepler @ladyada I'll try to get to this on Monday/Tuesday. If not, I'll be on vacation for the next few weeks and will start on it when I get back. I have added this to my "to do" list (*\*just an FYI so it doesn't seem like I am neglecting this*). Thanks!

[2019-09-13 20:09] jepler commented on #2141
@santaimpersonator I will let you take the lead on this, thank you!

[2019-09-13 20:26] jpecor commented on #2076
I took a crack at adding "self->needs_refresh = true;" to both common_hal_displayio_palette_make_opaque() and common_hal_displayio_palette_make_transparent() in Palette.c.  Did not change the behavior I am seeing.

Any suggestions?  Interested in continuing to chase this, but open to some guidance.

[2019-09-14 02:04] tannewt commented on #2076
@jpecor thanks for taking a crack at it! Is the edited version available in a branch somewhere? I'd be curious to see what you did. The next place to look is here: https://github.com/adafruit/circuitpython/blob/master/shared-module/displayio/TileGrid.c#L550 That is how palette state gets propagated up into TileGrid and then Group.

[2019-09-14 02:41] jpecor commented on #2076
@tannewt   - I don't have it committed anywhere yet.  I confess that I'm in a bit over my head with remote repos and how to create a branch remotely.  So, I'm a bit hesitant there.

I just set needs_refresh = true in both make_opaque() and make_transparent():

[code]

[2019-09-15 00:11] timvgso commented on #1322
Thanks @siddacious! The tutorial is very good so far for the Git side of it, and for coping with Travis as well. I'm feeling more overwhelmed by docs and examples for the new code to be honest, Sphinx, Readthedocs, .rst, .yml, etc. I'm sure the process is itself all documented somewhere but it feels like a big lift for a first-timer. One step at a time I suppose...

[2019-09-15 01:41] AdinAck opened #2157 "How to import large complicated python scripts from sd card?"
I have a grand central, and have successfully set up importing singular .py scripts from the sd card and am trying to get numpy working, but it is not working. The current error is:
AttributeError: 'module' object has no attribute 'array'
Which basically means it has not imported numpy properly XD.
Numpy is a series of folders instead of a single .py which I suspect is the issue. I was wondering i

[2019-09-15 02:47] ladyada commented on #2157
hiya - numpy is not going to be supported, its extremely CPython dependant!

[2019-09-15 02:47] #2157 closed

[2019-09-15 06:13] makermelissa commented on #2110
I experienced the same thing. The latest version of CP that I could get working with this was 4.0.2. It seems to break after the speedups.

[2019-09-15 18:28] ladyada commented on #2110
@makermelissa @jedgarpark please update the code to add a delay so that it works with 5

[2019-09-15 19:20] makermelissa commented on #2110
Makes sense. 👍🏻

[2019-09-15 21:21] alexwhittemore commented on #1160
@dhalbert just so I'm clear and not needlessly bashing my head against the wall, I'm getting the sense that the following is true:

- Circuitpython only supports atmel-samd, esp8266, and nrf, ergo there should be no expectation that any other board or port in this repo builds successfully
- By virtue of being a fork of MicroPython, a bunch of other, unsupported ports and boards exist in this repo

[2019-09-15 21:24] makermelissa commented on #2110
Fixed with latest Seesaw Release.

[2019-09-15 21:24] #2110 closed

[2019-09-15 21:32] dhalbert commented on #1160
You have it right. The supported ports now are `atmel-samd`, `nrf`, and `stm32f4` (in progress, and not the same as MicroPython's `stm32`). We also use the `unix` port for testing, but it does not try to emulate CircuitPython for regular use.

We don't purge other ports because i makes merging from upstream more difficult.

[2019-09-15 21:41] dhalbert commented on #1160
BTW, support for `esp8266` was dropped as of 4.x.

[2019-09-15 22:41] alexwhittemore commented on #1160
That answers many many questions. Thanks!

[2019-09-15 23:23] ladyada commented on #2145
@hierophect feel free to pick up a https://www.adafruit.com/product/4324 on your travels :)

[2019-09-16 03:50] tannewt commented on #2157
@AdinAck Did you modify sys.path to include the folder on the sd card?

As @ladyada says it's highly likely that numpy will take too much memory and/or require native modules we don't support.

[2019-09-16 03:52] AdinAck commented on #2157
Yes the sys.path included the SD card. I have given up on using numpy. Thanks for the help though~

Adin Ackerman

From: Scott Shawcroft
Sent: Sunday, September 15, 2019 8:51 PM
To: adafruit/circuitpython
Cc: AdinAck; Mention
Subject: Re: [adafruit/circuitpython] How to import large complicated pythonscripts from sd card? (#2157)

@AdinAck Did you modify sys.path to include the folder on the sd ca

[2019-09-16 19:38] arturo182 opened #2159 "Request VID/PID for Serpente"
We merged the Serpente support into CP with the Trinket PID, which I didn't realize was a problem. Let's fix it here and in the uf2 bootloader :)

Thank you!

[2019-09-16 19:39] ladyada commented on #2159
Arturo Serpente   VID 0x239A    PID 0x0057  # bootloader
                                PID 0x8057  # arduino
                                PID 0x8058  # circuitpython

[2019-09-16 19:39] #2159 closed

[2019-09-16 19:48] arturo182 commented on #2159
Wow that was fast :D

[2019-09-16 19:50] ladyada commented on #2159
z00000000000000000m
please update both circuitpy and uf2 :)

[2019-09-16 20:26] tannewt commented on #2076
@jpecor Let's chat for an hour or so sometime this week. We can talk displayio and git. What times work for you this week? (Feel free to DM on Discord your reply.)

[2019-09-18 00:28] ladyada commented on #2134
fixed by https://github.com/adafruit/circuitpython/pull/2143

[2019-09-19 02:52] jepler commented on #2150
#2161 resolved this.

[2019-09-19 02:53] #2150 closed

[2019-09-19 20:52] #2134 closed

[2019-09-19 23:02] ladyada opened #2168 "STM32: randomize os.urandom"
reminder so we don't forget!

[2019-09-19 23:03] ladyada opened #2169 "STM32: enable struct"
like `os` this one is easy to enable and will let us use libraries for testing i2c, spi, etc :)

[2019-09-20 00:20] hierophect opened #2170 "STM32: second soft reboot after writing"
STM32 boards will sometimes soft reboot 1-5 seconds after being written to flash. I'd like input on whether anyone else experiences this error to rule out mac-related USB issues and the like.

[2019-09-20 00:21] ladyada commented on #2170
this happens on mac's cause they write cruft to the disk - it doesnt happen on windows or linux

[2019-09-20 00:22] ladyada commented on #2170
closin cause thats how macos is :)

[2019-09-20 00:22] #2170 closed

[2019-09-20 00:22] hierophect commented on #2170
Oh. Should I close issue then?

[2019-09-20 00:22] hierophect commented on #2170
whoop ninjad

[2019-09-20 16:08] hierophect commented on #2168
Note that TRNG is supported on the F412 and the F405, but doesn't exist on the F411. Is that significant for this case? Should I just pass in a pseudorandom number for the F411?

[2019-09-20 16:10] tannewt commented on #2168
On the 411 just return false like the SAMD21 does. The actual `random` module already does pseudorandom and uses this as the seed if it can.

[2019-09-20 16:10] hierophect commented on #2168
Glad I asked. Sounds good.

[2019-09-20 17:19] #2139 closed

[2019-09-20 17:39] hierophect opened #2172 "STM32: Improve I2C reset workaround"
I2C currently has problems resetting after a soft reboot, such as after a write to disk. The error is actually not listed in the F4 errata, but follows the exact pattern of the "I2C analog filter may provide wrong value" error listed in the F10xx erratas [here](https://www.st.com/content/ccc/resource/technical/document/errata_sheet/f5/50/c9/46/56/db/4a/f6/CD00197763.pdf/files/CD00197763.pdf/jcr:co

[2019-09-20 17:44] tannewt commented on #2172
![Screen Shot 2019-09-20 at 10 44 09 AM](https://user-images.githubusercontent.com/52649/65347334-a2d42b80-db93-11e9-8f04-73e4ef4137a2.png)

[2019-09-20 20:03] #2169 closed

[2019-09-21 11:01] ankonaskiff17 opened #2174 "SD Card Breakout + for Raspberry Pi"
Could the SD Breakout + tutorial be updated to reflect wiring to Raspi to include schematic and appropriate code for CircuitPython for SPI and I2C

[2019-09-21 13:26] sommersoft commented on #1305
@ladyada can you reevaluate this to see if #2080 fixes it? The mixing is now halved per sample to avoid "ring modulation", in addition to the previous hard clipping.

[2019-09-21 16:44] ladyada commented on #2174
hiya you shouldnt be using an SD card breakout for raspberry pi, use a USB to SD card adapter instead. where is this guide? we'll add a note

[2019-09-21 16:58] ankonaskiff17 commented on #2174
It's in the LEARN link for the breakout if one is to purchase it if I recall. Not near my computer. I opted for this to log weather sensor data on loss of internet connectivity and/or utility power. Im already using PowerBoost1000c and INA219 as UPS setup. Will take a look at what you are suggesting.

Wayne Wells

On Sat, Sep 21, 2019 at 12:44 PM -0400, "ladyada" <notifications@github.com> wrote:

[2019-09-21 17:01] ladyada commented on #2174
when you are at your computer please give us the exact link you're referring to
thanx!

[2019-09-21 19:24] ankonaskiff17 commented on #2174
Here it is. Not so much that it says you can use with a Pi, as much as it doesn’t say you cant. As a newbie I saw the CircuitPython comments and assumed it would work,

http://learn.adafruit.com/adafruit-micro-sd-breakout-board-card-tutorial

From: ladyada <notifications@github.com>
Sent: Saturday, September 21, 2019 1:02 PM
To: adafruit/circuitpython <circuitpython@noreply.github.com>
Cc: ankonas

[2019-09-21 20:03] ankonaskiff17 commented on #2174
Also, do you have a part number for item you say  should use? Can’t find and needs to be wired in to a proto board.

From: ladyada <notifications@github.com>
Sent: Saturday, September 21, 2019 12:44 PM
To: adafruit/circuitpython <circuitpython@noreply.github.com>
Cc: ankonaskiff17 <ankonaskiff17@twc.com>; Author <author@noreply.github.com>
Subject: Re: [adafruit/circuitpython] SD Card Breakout + f

[2019-09-21 20:42] ankonaskiff17 commented on #2174
Think I overthought that deal. Just put a usb flash drive in open usb port should cover it??

From: ladyada <notifications@github.com>
Sent: Saturday, September 21, 2019 1:02 PM
To: adafruit/circuitpython <circuitpython@noreply.github.com>
Cc: ankonaskiff17 <ankonaskiff17@twc.com>; Author <author@noreply.github.com>
Subject: Re: [adafruit/circuitpython] SD Card Breakout + for Raspberry Pi (#2174)

[2019-09-21 20:51] ladyada commented on #2174
yep. closing because this is not an issue with circuitpython

[2019-09-21 20:51] #2174 closed

[2019-09-22 00:39] ladyada commented on #2174
we added a page https://learn.adafruit.com/adafruit-micro-sd-breakout-board-card-tutorial/python-linux

[2019-09-22 00:42] ladyada commented on #1305
ill defer to @jepler to try this out since he'll have the setup for it - a clipped sine wave should not cause static, just sound clipped :)

[2019-09-22 07:35] ankonaskiff17 commented on #2174
Thank you. With the proliferation of microprocessors and single board computers it can be quite a challenge to sort out what does and doesn’t work with each other.

From: ladyada <notifications@github.com>
Sent: Saturday, September 21, 2019 8:40 PM
To: adafruit/circuitpython <circuitpython@noreply.github.com>
Cc: ankonaskiff17 <ankonaskiff17@twc.com>; Author <author@noreply.github.com>
Subject: Re

[2019-09-25 13:14] wallarug opened #2176 "I2C - TypeError: extra keyword arguments given"
There seems that there is an issue in either i2c_bits.py or i2c_device.py.  When I run the INA219 CircuitPython example, it errors out.  The correct address has been entered as I tried with an incorrect address and I get a different error.

I downloaded the latest version of adafruit_register and put it in the lib/ folder on my CIRCUITPY drive.

**REPL Output**
[code]

**Build Details**
`Adafruit

[2019-09-25 15:47] #2176 closed

[2019-09-25 18:50] 3ach commented on #1760
I would like this feature as well. I have not-very-much experience in this type of development, but am happy to open a pull request if I can get a little guidance on where to start.

[2019-09-25 18:54] 3ach commented on #1760
I am currently doing the following to drive three displays, but would like to add a fourth. I get a 'too many busses' error if I just allocate four more pins.
[code]

[2019-09-25 19:07] siddacious commented on #1760
@tannewt should displays on different busses work? I had an issue a few weeks ago with one SPI and one I2C display. I don't recall the exact error but I can create an issue for it

[2019-09-26 17:31] tannewt commented on #1760
@3ach What version are you using? I'm actually very surprised three worked. I think I've knocked it down to 1 in 5.x. All display objects and their busses are statically allocated so they can live outside the vm. The limit is controlled by [CIRCUITPY_DISPLAY_LIMIT](https://github.com/adafruit/circuitpython/blob/master/py/circuitpy_mpconfig.h#L317).

I'm unsure if that's how I want it to keep worki

[2019-09-27 21:37] tannewt opened #2179 "Fix dir for properties so they are not called."
When doing `dir()` on a built-in, the getter is called. This is usually ok but causes issues when the property throws an exception. This was found when diring a `_bleio.Characteristic`.

Stack trace:
[code]

[2019-09-30 15:11] anecdata commented on #2137
This seems to have been fixed somewhere along the way. Working now in alpha.4 with latest libraries. I hadn't tested again until the past couple of days since I hadn't seen anything in release notes that looked relevant. Closing this issue.

[2019-09-30 16:30] anecdata commented on #2137
Sorry, the example still doesn't work. But my more complex app now does. I'll look into the usage differences to see what the magic is.

[2019-09-30 17:02] anecdata commented on #2137
Well, the usage difference is that I'd completely forgotten that I employ the usual trick of re-creating the object each time when some update functionality isn't working (duh).

But, played with changing x and y in the loop and some perhaps helpful behaviors become apparent. With the last part of the code changed to:
[code]
(again, you can change the seconds_per_frame KW arg when you create the d

[2019-10-01 14:35] 3ach commented on #1760
I think it’s version 4. It’s whatever came by default on the Adafruit Metro
M4 Airlift.

Zach

Le jeu. 26 sept. 2019 à 11:31, Scott Shawcroft <notifications@github.com> a
écrit :

[2019-10-01 22:29] santaimpersonator commented on #2141
So, we have a [fork of the CircuitPython repository](https://github.com/sparkfun/circuitpython). I think I made the correct changes... @jepler @ladyada could you doublecheck that I got everything correct before I submit a pull request.

[Flash Memory Configuration:](https://github.com/sparkfun/circuitpython/blob/master/supervisor/shared/external_flash/devices.h#L88)
I think I configured the flash

[2019-10-01 22:36] santaimpersonator commented on #2141
I was able to build the `firmware.uf2` file (linked below) and it appears to work. However, I am having issues testing if the flash chip is working properly.

I was following the [Adafruit guide for the Feather M0](https://learn.adafruit.com/adafruit-feather-m0-express-designed-for-circuit-python-circuitpython/circuitpython-storage). After my attempt to use the Arduino Example to read the flash fa

[2019-10-02 02:49] ladyada commented on #2141
hiya sounds like the flash chip setup may not be right. you can start a PR if you'd like. is @edspark able to help out? they did the other boards. let us know either way!

[2019-10-02 02:53] ladyada commented on #2141
we also have a guide here you can follow https://learn.adafruit.com/how-to-add-a-new-board-to-circuitpython

[2019-10-02 17:31] tannewt commented on #2141
Here is a diff for folks who want to see the changes: https://github.com/adafruit/circuitpython/compare/master...sparkfun:master

Flash start up time should be ok. For the bitmask you'll want 0x02 since quad enable is bit 1 in the status register. You could try lowering the maximum speed to ensure it's not related to that.

Linker script looks right.

For board config, you'll want to add the QSPI

[2019-10-02 20:13] Anton-2 opened #2187 "PDMIn : The SPI pins combination used on the Monster M4SK is not supported in 5.0.0-alpha.4"
[code]

This is in  [common-hal/audiobusio/PDMIn.c](https://github.com/adafruit/circuitpython/blob/22b7050c4cd8f2cad31657f91dd4a217b0444a76/ports/atmel-samd/common-hal/audiobusio/PDMIn.c#L77), the hardcoded pin combinations are not ready for the Monster M4SK.

[2019-10-02 20:40] ladyada commented on #2187
yeah :( we could not use the I2S pins because there's no I2S ont he G19 - so instead we connected them to an SPI port - PDM is SPI-like!
now...in theory, we could adapt PDMIn.c to allow using SPI instead! or maybe do a user-space library....
for now we're only supporting PDM mic within arduino :)

[2019-10-03 01:18] santaimpersonator commented on #2141
As a follow-up, I realized that the [tutorial I was following](https://learn.adafruit.com/adafruit-feather-m0-express-designed-for-circuit-python-circuitpython/circuitpython-storage) was for storing information to the SAMD51 memory and not the the flash chip.

Digression:
However, I tried to erase and re-flash the original firmware for the SAMD51 (itself) and the same issue still persisted. I can

[2019-10-03 01:25] dhalbert opened #2188 "Customize exactly what is frozen for frozen module"
We need to be able to choose which files to freeze and which to skip for a given frozen module. First use case: A `bluefruit.py` will be added to the CPX library, but there's no reason to freeze it on the CPX, since that board doesn't have BLE capability.

Originally I thought we might notate in a particular file whether it should be frozen or not for a particular board. However, it's probably eas

[2019-10-03 02:04] santaimpersonator commented on #2141
@tannewt
* Good catch... I guess my brain is still on vacation. I probably should update the quad SPI setting for the flash chip to `.supports_qspi = true, \` as well.
* I'll try lowering the speed; however, I thought these settings were specific for the chip and that was going to be limited by the baud rate setting in the [mpconfigboard header file](https://github.com/adafruit/circuitpython/compa

[2019-10-03 03:04] santaimpersonator commented on #2141
@ladyada
* Thanks... I'll double check it with @tannewt's suggestions.
* @edspark helped walk me through your process, but didn't really have an answer for those specific questions.
* Is [this Arduino example](https://learn.adafruit.com/adafruit-feather-m0-express-designed-for-circuit-python-circuitpython/using-spi-flash) the only way to test the flash chip through CircuitPython?
  * I finally got

[2019-10-03 04:50] ladyada commented on #2141
you're really close!
it looks like the flash memory wired as plain-SPI not QSPI, that's OK, you can use the SPI Flash setup like from the feather m0 express
https://github.com/adafruit/circuitpython/tree/master/ports/atmel-samd/boards/feather_m0_express

SPIFlash arduino library should work, if you have to have the SPI peripheral set up for use, which depends on your board definition. but if you p

[2019-10-03 11:56] dhalbert commented on #2188
Strawman example:
[code]

[2019-10-03 13:24] hierophect opened #2190 "STM32: I2C/SPI caps out for large data transfers"
For certain very large files or data transfers, SPI and I2C on the STM32 have been found to return an input/output error.

This may be related to the timeout value provided by the HAL. _Might_ be fixed by #2186, which increases timeout values for both modules. If it persists past that, it's likely related to invisible HAL values and will require more investigation.

[2019-10-03 13:29] hierophect opened #2191 "STM32: MINIMAL_BUILD flag contains modules that aren't HAL dependent"
The `MINIMAL_BUILD` flag currently removes a number of modules by default that are not HAL dependent. These include OS, Struct, Storage, and potentially others. Modules that aren't dependent on a common-hal component should be sorted out and not excluded via `MINIMAL_BUILD`, which will be less confusing for new port builds and remove unnecessary restrictions on ongoing ports like the STM32.

[2019-10-03 13:32] hierophect opened #2192 "STM32: Create board defaults"
STM32 dev boards don't currently work with commands like board.I2C(), which rely on default pin definitions. This should be added, particularly for feathers and boards with Arduino-style headers such as the F412.

[2019-10-03 13:38] hierophect opened #2193 "STM32: Internal flash filesystem needs improvements"
For boards like the F411, which do not have SPI or QSPI flash available, the internal filesystem is currently very slow, since the flash library as written does not contain a cache and writes inefficiently. Additionally, boards with dedicated CCRAM like the F405 should use it to enable use of larger 64KB flash sectors for the filesystem, and even boards without it can make use of at least a 16KB c

[2019-10-03 13:43] hierophect opened #2194 "STM32: Incomplete implementation for microcontroller µs delay, get temperature"
The Microcontroller module currently has several empty functions, which for one reason or other are unusually complicated to implement via the STM32 HAL. These functions should either be completed properly or filled with more appropriate placeholders.

[2019-10-03 13:49] hierophect opened #2195 "STM32: Package and board features are too closely coupled"
Current implementation of the STM32 has too much overlap of features that are related to a specific MCU package (such as pin definitions, available peripherals, etc) vs a specific development boards (Status LEDs, clock settings, debugging availability).

All features that are directly related to the board should be sorted to the board module, leaving only MCU-specific features in the peripherals d

[2019-10-03 14:06] hierophect opened #2196 "STM32: Support new dev boards"
To be added:

- PYB LR Nano V2 [F411]
- F411 "Blackpill", generic [F411]
- Meowbit [F401]

[2019-10-03 18:04] tannewt commented on #2188
Why don't we make a separate library instead? I don't like the possibility of having to explain that only part of a library is available.

[2019-10-03 18:06] ladyada commented on #2188
i'll vote for separate library!

[2019-10-03 18:15] kattni commented on #2188
I don't understand why we'd ever be explaining that only part of the library is available - the things added to the `bluefruit` module will not work on the CPX anyway. None of the current example code will change. I wanted to keep it together because we designed this library to be expandable and I want to use it that way. The naming convention makes sense. I feel a separate library could prove to

[2019-10-03 18:35] #1696 closed

[2019-10-03 18:37] tannewt commented on #2188
I worry that having a general mechanism to do it will lead to us using it for other libraries.

Do we have the bluefruit library sketched out yet? Do we know it won't fit in the CPX?

[2019-10-03 18:48] dhalbert commented on #2188
I was thinking about a library kind of like the Crickit library, not necessarily Circuit-Playground dependent, so yes, it could be separate. But a CPB-dependent library could know about the accelerometer, etc. (but maybe it shouldn't).

This is probably not the place to discuss the library. I opened this issue on a mistaken assumption about a decision, so I think I'll close it for now.

[2019-10-03 18:48] #2188 closed

[2019-10-03 18:49] ladyada commented on #2188
all good - lets chat on monday!

[2019-10-03 19:17] tannewt commented on #2141
Note that if you format the filesystem with Arduino, it may not set the fslabel to CIRCUITPY like the formatter in CircuitPython will. It should still show up though I think.

One thing to try is from the REPL do:
[code]
That will tell you if CircuitPython sees the flash but the USB isn't happy.

You can also try formatting the flash from CircuitPython with these instructions: https://learn.adafru

[2019-10-03 19:17] kattni commented on #2188
I want it to be a Bluefruit library like the CPX lib but for CPB where it makes getting started with CPB super simple in the exact same way CPX lib does for CPX. I want that experience for the CPB. It's only sketched out in my head so far.

[2019-10-03 19:23] ladyada commented on #2188
ok! i think we're all in agreement - we'll work together to figure out what the library will be!

[2019-10-04 13:13] dhalbert opened #2199 "`.Trashes` file on iOS is confusing iOS"
~~`.Trashes`, created when a filesystem is initialized, should be a directory, not a file.~~ See https://github.com/hathach/tinyusb/issues/182#issuecomment-538320398.

[2019-10-04 13:25] dhalbert commented on #2199
OK, further research. We deliberately made `.Trashes` a file, not a directory, because for MacOS, that prevents a "trash can" from being created on the filesystem with deleted files. It works to do that on MacOS, but apparently iOS is not acting properly. So we could report this to Apple.

[2019-10-04 14:29] hierophect commented on #2190
Keyword didn't work; resolved by #2186

[2019-10-04 14:29] #2190 closed

[2019-10-05 12:55] MakabongweNkabinde commented on #717
Hi there

I'm having a similar issue. I have connected the RFM96W according to the tutorial here: https://learn.adafruit.com/lora-and-lorawan-radio-for-raspberry-pi/raspberry-pi-wiring. I have two of these modules, one of them is detected but one of them keeps spitting out this error. Is it possible that the module is broken? How can I test if the module is actually broken? Could it be another iss

[2019-10-05 15:37] jerryneedell commented on #717
are you using the rfm96w breakout? https://www.adafruit.com/product/3073
Since one works, it is likely not a driver or CP issue.
First, have you checked the solder connections?
Also what pins are you using for Chip Select --when you swap modules are you using the same connections for both or is it on two different Raspberry Pi's

[2019-10-05 15:44] jerryneedell commented on #717
Alos - since this is probably not a CP issue and may be a hardware problem I suggest that you post this on the Forum at https://forums.adafruit.com/viewforum.php?f=57  -- we can continue there and include the Adafruit Support folks.

[2019-10-05 16:38] tannewt opened #2201 "Replace release type hack for GitHub Actions"
GitHub actions now allows for proper triggering off of release types: https://help.github.com/en/articles/events-that-trigger-workflows#release-event-release

[2019-10-05 16:40] MakabongweNkabinde commented on #717
Hi jerryneedell

Thanks for the response. No I'm not using the rfm96w breakout, I'm using the chip as it is.  I have checked the connections. I am using CE1 for chip select; it's two different raspberry pi's and I use the sane connections I used on the other pi.

[2019-10-05 16:44] jerryneedell commented on #717
Can you swap the module with the working one on the other Pi?

[2019-10-05 16:53] jerryneedell commented on #717
You may want to post this to the discord channel for radio discussion, https://adafru.it/discord  then go to the #help-with-radio channel

[2019-10-07 09:53] wallarug commented on #2131
@gingle  have you made any progress on this?  I'm very interested in getting this going.

[2019-10-07 13:09] #2191 closed

[2019-10-07 16:01] dhalbert commented on #2187
I added a note explaining that I2S is not available to the Pinouts section in the Learn Guide for the board.

[2019-10-07 16:01] #2187 closed

[2019-10-07 17:52] gingle commented on #2131
Not for now. I have been sidetracked for awhile.

[2019-10-07 18:22] brentru opened #2202 "Add Native SSL Library"
We're currently using the mbedTLS implementation of the TLS and SSL protocols on the ESP32 Co-Processor/AirLifts by communicating with an ESP32 running [nina-fw](https://github.com/adafruit/nina-fw) from CircuitPython. While this solution is stable, a native CircuitPython SSL/TLS library would be faster, remove the hardware dependency for an ESP32 and allow for different transports (not just wifi)

[2019-10-07 19:36] gallaugher opened #2203 "wav files on CPXb crash on fifth button touch"
I've tried modifying the code for playing wav files, but notice on the fifth button press things seem to crash, with a buzzing sound from the speaker & the sound playing continuously. Sprinkling in print statements shows it hits audio.play(wave) before choking, so maybe this a bug in the current libs? Ctrl-C stops in the while audio.playing: loop. Here's a GitHub repo that has the short file (dete

[2019-10-07 19:53] ladyada commented on #2203
@jepler this is a good one for ya when you return!

[2019-10-07 22:43] jepler commented on #2203
I should be able to look at this someone next week

[2019-10-08 02:15] jepler opened #2204 "static analysis finds problem in gc_never_free"
The full report from scan-build-7 is here:  http://media.unpythonic.net/emergent-files/sandbox/report-3d3d49.html#LN954

Basically, in the case where the first block of 3 "never free" objects is filled, the code needs to allocate a new block and hook it into the linked list that goes via the `[0]` index of each block.  The logic to chain the blocks together erroneously tries to use `current_refere

[2019-10-08 16:46] CollinCunningham commented on #2199
@dhalbert Do you know if creating `.Trashes` as a file instead of a directory is an official solution from Apple or a hack/workaround?

[2019-10-08 16:53] dhalbert commented on #2199
@CollinCunningham The technique appears multiple places, but nothing official that I can find. It does not appear to be documented, but then, Apple doesn't document a lot of stuff. I did some websearches on site:apple.com and could only find mentions in discussions.apple.com

[2019-10-08 19:36] dunkmann00 opened #2206 "External SPI Flash accessible over MSC"
I was wondering if it is possible to connect an external SPI Flash module (I was looking at one that uses the Winbond W25Q64) and communicate with it in CircuitPython and over USB? In particular I was looking to do this with the ItsyBitsy M0 Express.

I am new to CircuitPython but have been trying to pour over the docs and repo to see what I can find. I found this issue #1764 which is similar, but

[2019-10-08 20:02] deshipu commented on #2206
That is not currently possible. You can mount an external file system (easiest to do currently with an SD card) to be visible to your code, but it won't be accessible over USB to your computer.
I suppose the easiest way that would work out of the box is to use an SD card, and use an external SD card adapter to put the files on it.
You could also probably replace the flash chip on your ItsyBitsy wi

[2019-10-08 20:14] dhalbert commented on #2206
I would echo what @deshipu said, and also note that the NeoTrellis M4 and the PyPortal boards already come with an 8MB flash chip. But the SD card would be the easiest solution in the long run, and you'd be able to have many more sound files than would fit on 8MB.

[2019-10-08 21:33] theacodes commented on #1214
I tried reproducing this with the Unix port, but it seems to be working as expected. Is this still an issue?

[2019-10-08 21:40] dunkmann00 commented on #2206
Thank you both for your quick responses!

I understand what you are saying, the SD card option did seem the most straight forward approach. I was trying to keep the price of the project down as much as possible and wanted to put it in an enclosure. For those reasons I was leaning away from an SD card. I also don't think I personally would be able to replace the flash chip on the ItsyBitsy since it

[2019-10-08 22:12] dhalbert commented on #2206
The CIRCUITPY filesystem that is exposed via USB is a single FAT filesystem. The USB mass-storage mechanism ("MSC") exposes a block-oriented low-level view of a single disk (and therefore a single filesystem, or at best multiple filesystems on a single block-oriented device). USB MSC cannot present a unified view of all the mounted filesystems, unless it somehow pretended it was one disk, which wo

[2019-10-08 22:55] dunkmann00 commented on #2206
Okay, so it can't appear as one unified filesystem, but would it be possible to expose them as two separate disks? So it would appear as something like CIRCUITPY and CIRCUITPY2?

[2019-10-09 02:21] dhalbert commented on #2206
Yes, but then it needs to be another MSC device, using another USBendpoint (two endpoints are needed on SAMD21, due to some kind of bug).

[2019-10-09 03:16] dunkmann00 commented on #2206
Gotcha, I didn't realize all of those endpoints are set even when not in use.

I have another idea for how I can at least "expand" my flash storage. If I connect the SPI Module (Winbond W25Q64 or W25Q128 if I want 16MB) to the board and then modify the Itsy Bitsy's `mpconfigboard.h` to use the external flash module rather than the onboard flash, I should be able to use the external module just lik

[2019-10-10 03:47] tannewt commented on #1214
@theacodes Not if you couldn't repro. Will close it.

[2019-10-10 03:47] #1214 closed

[2019-10-10 17:16] theacodes commented on #1214
I'll try it out on a CPX later tonight and report back.

On Thu, Oct 10, 2019 at 8:08 AM ddiminnie <notifications@github.com> wrote:

[2019-10-10 21:10] hierophect opened #2209 "STM32: de-init DAC when both channels are off"
At the moment, DAC only disables when reset. It should also turn itself off when both channels are turned off individually, which will require a minor static object in the module independent of the DAC instances.

[2019-10-11 02:30] theacodes commented on #1214
From CircuitPython 4.0.1 on a Feather M4 Express:

[code]

[code]

Seems like it's no longer an issue. 👍

[2019-10-11 15:01] ddiminnie commented on #1214
@theacodes :

Great!

Thanks for checking.

[2019-10-11 15:46] dmopalmer opened #2210 "RFC: PulseTime"
This is a Request For Comment for a suggested extension to pulseio for doing high precision timing on multiple inputs on the SAM port of circuitpython.

I would like to do time capture on pin inputs so that I can do things like:

1. Get the exact time of an event (on one pin), compared to GPS time (referenced to the Pulse Per Second on another pin).
2. Get the time between a start pulse and a stop

[2019-10-11 16:47] jerryneedell commented on #1663
I was looking into this and want to make sure I understand what is needed.
As far as I can tell, the time module only knows about "local time" it has no concept of Time Zone.

However -- when we have an internet connection and us the adafruit_ntp library to set the time, it sets it to GMT.

Do we need to add Time zone awareness and then return localtime or gmtime as requested?

I am thinking that

[2019-10-11 17:47] tannewt commented on #2210
Sounds like an interesting project! I don't know of anything that currently allows for it (though I'm not much of an Arduino user).

I'd suggest adding it as a separate module so that it can be supported separately from PulseIO.

Other than that, let us know if you have CircuitPython questions. Thanks!

[2019-10-11 19:11] sommersoft commented on #2210
[`frequencyio.FrequencyIn()`](https://github.com/adafruit/circuitpython/tree/master/ports/atmel-samd/common-hal/frequencyio) can get you the frequency. It uses 2+ TCs [reference and source(s)] with 16-bit counters. The capture period can be set in a range between 1ms-500ms. However, it is currently hard-coded to use rising edge. Duty cycle could possibly coerced out somehow; I've never looked into

[2019-10-11 19:16] sommersoft commented on #2210
I meant to mention that `frequencyio` is only enabled on SAMD51 based boards. Its too large to include on SAMD21 based boards.

[2019-10-11 23:59] jepler commented on #2210
My personal use case is a running count of pulses from a source of around 10 MHz, which I can check "from time to time" but maybe as infrequently as once a second. If it can reset to 0 at a specific value (e.g. 600e6 ~1 minute) even better.

[2019-10-12 04:47] jepler commented on #2203
Reproduced on my own CPB.  My reproducer script is:
[code]
`cymbaly-1.wav` is a random wave file with these characteristics: `RIFF (little-endian) data, WAVE audio, Microsoft PCM, 16 bit, mono 16000 Hz`

[2019-10-12 17:01] dmopalmer commented on #2210
10 MHz is a bit too fast for a '_A pulse caused an interrupt: take down all the details then return from interrupt_'.

What would work is '_The `PulseTime` clock is driven from this external pin instead of the CPU clock_'.  Then you just call `.now()` each time you want to know the count.

Resetting the hardware at a specific count is too specific, but I could expose the _number of ticks in a seco

[2019-10-12 18:28] #2203 closed

[2019-10-12 18:29] ladyada commented on #2203
[circuitplayground_bluefruit.zip](https://github.com/adafruit/circuitpython/files/3721025/circuitplayground_bluefruit.zip)

here's the artifacts if ya dont want to wait for a release!

[2019-10-12 19:57] CedarGroveStudios commented on #1663
I think you've got it. The primary objective is to be able to determine local time accurately based on gmtime when it's available. The nice-to-have would be to calculate gmtime from local time when an actively-updated gmtime isn't available.

Since the flag is available, calculating and including the DST offset would be frosting on the cake.
`>>> time.localtime()
Out[2]: time.struct_time(tm_year=2

[2019-10-14 00:35] dhalbert commented on #2206
Sounds good. I will close this for now, but feel free to ask further questions, in, say, discord or the forums.

[2019-10-14 00:35] #2206 closed

[2019-10-14 03:06] CedarGroveStudios opened #2215 "Request USB VID/PID for StringCar M0 Express board"
A pull request will be coming soon for support of the Cedar Grove StringCar M0 Express board. It's a SAMD21E18A. Would it be possible to issue a unique USB VID/PID for this board before submitting the PR?  Thanks!

[2019-10-14 03:23] ladyada commented on #2215
CGrover StringCar M0   VID 0x239A    PID 0x005F  # bootloader
                                PID 0x805F  # arduino
                                PID 0x8060  # circuitpython

[2019-10-14 03:23] #2215 closed

[2019-10-14 03:25] CedarGroveStudios commented on #2215
Thank you!

[2019-10-14 03:34] ladyada commented on #2215
:D

[2019-10-14 07:53] Anton-2 commented on #1947
Any information about replacing the python-based SD library by a C version ?

In the meantime, you can accelerate things by fixing https://github.com/adafruit/Adafruit_CircuitPython_SD/issues/22 .

[2019-10-14 18:19] theacodes opened #2217 "Requesting a USB PID for Winterbloom Sol"
Winterbloom Sol will be an open source (hardware and software) Eurorack MIDI to CV module.

I'll be publishing the board files and sending a PR to CircuitPython to add support for Winterbloom Sol very soon.

Could I have a USB PID for this? 💜

[2019-10-14 18:20] ladyada commented on #2217
comin right up!!!

[2019-10-14 18:21] ladyada commented on #2217
[code]

[2019-10-14 18:21] #2217 closed

[2019-10-14 18:23] theacodes commented on #2217
Thank you so much! ✨

[2019-10-14 18:29] ladyada commented on #2217
🦄🦄🎹🎹

[2019-10-15 12:53] tcpipchip opened #2221 "bleio"
![image](https://user-images.githubusercontent.com/11488460/66833082-8d9fb200-ef31-11e9-9980-f04c42b8c43e.png)
and i am doing something wrong ?

[2019-10-15 12:56] dhalbert commented on #2221
If you are using the latest alpha on an nRF52840 board, then you need the latest prerelease of the `adafruit_ble` library: https://github.com/adafruit/Adafruit_CircuitPython_BLE/releases/tag/2.0.1-alpha.2

[2019-10-15 13:00] #1763 closed

[2019-10-15 13:17] tcpipchip commented on #2221
yes, i was! I wil test

[2019-10-15 13:30] tcpipchip commented on #2221
how can i see the advertsing data ?
![image](https://user-images.githubusercontent.com/11488460/66835909-bfffde00-ef36-11e9-8c96-64127941a743.png)

[2019-10-15 14:40] tcpipchip commented on #2221
found...
print(e.manufacturer_specific_data)
But it´s returning always
**None**

[2019-10-15 14:58] tcpipchip commented on #2221
i tested doing a ARDUINO BLE SCANNER

[2019-10-15 15:54] dhalbert commented on #2221
Moving this as an issue on the library. Will investigate.

[2019-10-17 03:13] dhalbert commented on #1222
@hathach has gotten SPIM3 to work with BLE in use on Arduino, so this should be retested, trying to duplicate those conditions.

[2019-10-18 04:33] jstanle1 opened #2225 "SPI slave and I2C slave for SAMD51 boards"
Please implement SPI slave and I2C slave for the SAMD51 and SAMD21 boards.  The SPI slave would benefit from being implemented using DMA, as well.

Thanks.

[2019-10-18 14:47] dhalbert commented on #2225
It's already implemented, but not turned on on the sAMD21 boards due to lack of space. You could turn it on and turn something else off. It's controlled by the `CIRCUITPY_I2CSLAVE` value, which you can set in  `mpconfigboard.mk`. E.g., look at `ports/atmel-samd/boards/feather_m0_express/mpconfigboard.mk`

[2019-10-18 14:47] dhalbert commented on #2225
https://circuitpython.readthedocs.io/en/4.x/shared-bindings/i2cslave/I2CSlave.html

[2019-10-18 16:52] jstanle1 commented on #2225
Dan -- thanks very much for you replies.  Any word on whether this might work for the SAMD51 boards?

[2019-10-18 16:57] dhalbert commented on #2225
This was indeed tested on SAMD51 boards when the PR was done: https://github.com/adafruit/circuitpython/pull/1064#issuecomment-410435059. It is included in the SAMD51 builds.

[2019-10-18 17:28] WilliamGFish opened #2231 "particle:argon uf2 installation"
With my Argon the CircuitPython installation has never worked.

I have reinstalled the boot-loader several times but the uf2 file after writing fails to have any effect.

Help please..

Billy..

[2019-10-18 17:40] WilliamGFish commented on #2231
I have followed the instructions and my boron lte board is the same

[2019-10-18 17:57] tannewt commented on #2231
Are you able to see the *BOOT drive after installing the bootloader?

[2019-10-18 18:00] WilliamGFish commented on #2231
Yeah the bootloader shows as ARGONBOOT and BORONBOOT as expected. When I drop the uf2 file onto drive it writes then nothing. No drive appears but the COM port is active.

[2019-10-18 18:03] tannewt commented on #2231
Try listing the drive from the REPL. `os.listdir()` Did you just get the Particle boards? It's possible they switched SPI flash chip and CircuitPython isn't configured to talk with it.

[2019-10-18 18:20] WilliamGFish commented on #2231
OK now i'm not sure what to do... REPL- I've got Mu which just tells me there is not Adafruit boards available.
The Particle boards are built around an NRF52840 whicih I have been using with Zephyr for months but am currently trying to re-program (re-flash to stock) the ESP32 for standard AT commands.

Circuit Python was a good choose to do this but I'm failing at the first hurdle.

[2019-10-18 18:23] tannewt commented on #2231
You can access the REPL without Mu by following these instructions: https://learn.adafruit.com/welcome-to-circuitpython/kattni-connecting-to-the-serial-console#using-something-else-8-11

You'll have to look into the Particle docs to find out if there is a different SPI Flash.

[2019-10-18 18:25] WilliamGFish commented on #2231
They both use the MX25L1606. I have attached block diagrams

![image](https://user-images.githubusercontent.com/43581311/67118467-d8912200-f1dc-11e9-9a46-1a2776eaa184.png)
![image](https://user-images.githubusercontent.com/43581311/67118489-e3e44d80-f1dc-11e9-9a1e-95eff9450725.png)

[2019-10-18 18:40] WilliamGFish commented on #2231
I use Putty and Termite but just get a blank screen. This is okay, according to the guide?

How do I get my program to the board? Do I go back to BOOT mode them copy?

[2019-10-18 18:51] WilliamGFish commented on #2231
PROGRESS:
Just flashed with the Adafruit Feather nRF52840 Express with nRF52840 version of CircuitP and we have REPL prompt

[2019-10-18 19:08] WilliamGFish commented on #2231
PROGRESS:
Used _**adafruit-circuitpython-pca10059-en_US-4.1.0.uf2**_ and it has appeared as drive and COM port

[2019-10-18 19:30] jstanle1 commented on #2225
Great, thanks again for the word on ths.

[2019-10-18 19:37] #2225 closed

[2019-10-19 00:36] WilliamGFish commented on #2231
I have been following these instructions and not having success

[2019-10-19 10:03] jerryneedell commented on #2231
Just to clarify - did you try the adafruit_circuitpython_particle_argon_en_US-4.1.0.uf2?

[2019-10-19 18:51] ladyada opened #2232 "itsy nrf52840 definitil"
see https://github.com/adafruit/Adafruit_nRF52_Arduino/pull/363 for pin definitions

[2019-10-19 20:02] gallaugher commented on #2203
Thanks @ladyada , I'd love to use a working version w/students on Monday, but when I download the .zip above, then grab the .uf2 in en_US (adafruit-circuitpython-circuitplayground_bluefruit-en_US-20191012-a146ce5.uf2), then delete the old .uf2 from the CPXb and copy this new file over, unplug & plug back in, then run @jepler's sample code (using my own .wav), I still get the same behavior - a buzz

[2019-10-19 20:13] ladyada commented on #2203
please try the latest build on S3 in case it makes a difference

[2019-10-19 20:26] WilliamGFish commented on #2231
when I use ARGON version doesn't appear as a USB drive.

If I use Xenon then USB Drive (CURCUITPY) appears

[2019-10-19 20:34] WilliamGFish commented on #2231
With ARGON or BORON still nothing with XENON:

[code]

The only thing that separates them is the UART connection to Modems

Any thoughts?

[2019-10-19 20:50] jerryneedell commented on #2231
Makes no sense to me.  I use the argon build on argon and xenon build on xenon.
Not sir3 if it matters, do you have the argon boot loader on the Argon? How did you install the boot loader?  Did you use this guide?   https://learn.adafruit.com/circuitpython-on-the-nrf52/build-flash-particle

[2019-10-19 20:55] Anton-2 commented on #1947
There is a problem with fast/recent cards when reading multiple blocks.
Basic fat operations will work (as they access just one block at once), and so for any reads less than 1024 bytes long.

But reading two or more blocks will (sometimes) get a return value of 127 or 63, and data will be mangled.

See https://github.com/adafruit/Adafruit_CircuitPython_SD/issues/25.

[2019-10-19 21:27] gallaugher commented on #2203
So sorry - @jepler set me straight. I was copying over the .uf2 you'd kindly linked above, but to CIRCUITPY, I didn't double-click to copy it to CPLAYBOOT. Once I did that all worked great. Didn't mean to trouble you. This'll be great to introduce on Monday. I very much appreciate your kind help. Cheers!

[2019-10-19 21:57] ladyada commented on #2203
awesome!

[2019-10-19 23:45] WilliamGFish commented on #2231
That is the guide is used and have used the "correct" version on both the Argon and Boron boards with the same result.

I have been using these boards with Zephyr for months now and was looking at circuitpython as a alternative but its not been successful so far.

[2019-10-20 18:52] iayanpahwa opened #2233 "Add TC74 i2c temperature sensor library"
TC74 from microchip is a cheap and good i2c based temperature sensor, will be good to have a supported library in CircuitPython

[2019-10-21 13:28] dhalbert opened #2235 "nrf: Update nrfx to 1.8.1 or later"
nrfx ~~1.8.0~~ 1.8.1 is now available. We should update https://github.com/adafruit/nrfx and the checkout we use for CPy.

Notably (from 1.8.0 release notes)

[2019-10-22 01:56] tannewt commented on #1257
I looked at the MicroPython micro:bit radio stuff and don't think compatibility is possible because it uses the lowest level radio API. We'd have to sacrifice BLE support which isn't a good idea. Instead, we can implement the same radio API as the micro:bit over BLE advertisements.

[2019-10-22 01:56] #1257 closed

[2019-10-22 14:06] robomike opened #2238 "second UART on M0 doesn't receive data"
When using a second UART (other than RX and TX) the Circuit Python firmware does not treat the second UART as the first UART.

When using a GPS sensor to send UART data to an Adalogger M0;  The data to board.RX worked perfectly, while the data sent to board.SCL was not read.  Futhermore, when trying to init and deint the second uart (i.e. board.SCL) , the uart object becomes throws value error; as

[2019-10-22 19:12] WilliamGFish commented on #2231
I'm back on this and still not able to either my Argon or Boron board to bring up Circuit Python?

I have tried various boot-loaders and uf2 but still nothing.

If a flash the uf2 for the Xenon on either a Argon or Boron it comes up straight away.

Lost....need some ideas.

Billy..

[2019-10-22 19:19] WilliamGFish commented on #2231
Some direct reponces to questions:

**> Do you have the argon boot loader on the Argon?**
I'm using the Argon on the Argon and Boron on the Boron.

adafruit-circuitpython-particle_argon-en_US-4.1.0.uf2
adafruit-circuitpython-particle_argon-en_US-4.0.1.uf2
adafruit-circuitpython-particle_argon-en_US-4.0.0.uf2
adafruit-circuitpython-particle_argon-en_US-5.0.0-alpha.4.uf2

adafruit-circuitpython-part

[2019-10-22 19:30] jerryneedell commented on #2231
How did you flash the bootloader -- with the Arduino IDE?
get your board into the Bootloader and post the contents of the INFO_UF2.TXT file.

[2019-10-22 19:36] jerryneedell commented on #2231
I just flashed the afadfruit_bluefruit_nrf52840 bootlaoade via a J-Link as described in the guide and then put the particle_argon_4.1.0.uf2 on it and all worked fine.

[2019-10-22 19:37] WilliamGFish commented on #2231
I used nrfjprog, I even out of habit do an eraseall.

`nrfjprog --program particle_argon_bootloader-0.2.13_s140_6.1.1.hex --sectoranduicrerase -f nrf52 --reset`

The bootloader works as expected which is the frustrating thing.

I am starting to think its a windows thing, Win10 can be a pain "resolving" problems for you.

Thanks for your continued support.

Billy..

[2019-10-22 19:38] jerryneedell commented on #2231
If you have arduino installed -- update to the lated adafruit nrf5284 BSP and try that.

[2019-10-22 19:42] WilliamGFish commented on #2231
Not an Arduino guy, normally i would be hacking code onto the NRF52 via C and nrfjprog. I generally don't use them USB drives, USB is just as a serial console.

Thats why I'm startting to suspect this could be a windows problem

[2019-10-22 19:44] jerryneedell commented on #2231
ddi you do all three steps
![Screen Shot 2019-10-22 at 3 43 40 PM](https://user-images.githubusercontent.com/15856834/67325230-d67fd980-f4e2-11e9-990c-21699ee04ce1.png)

[2019-10-22 19:46] jerryneedell commented on #2231
I may be wrong -- where did you get the bootloader file -- I will try to replicate it.

[2019-10-22 20:00] jerryneedell commented on #2231
OK -- I just downloaded the same bootloader .hex file from the nrf52 bootloader repository and used the same command to flash it (after erasing) and then loaded the 4.10. .UF2 and it all worked as expected. perhaps it it is windows -- I'm out of ideas ....

[2019-10-22 20:07] WilliamGFish commented on #2231
Jerry, found it.... ruddy Windows.
In device manager it was only showed as Argon serial port. Not normally a problem as I only use serial comms.
So un-installed device and started again...bingo it's working.

Now how do we get this into the trouble shooting guide.

[2019-10-22 20:10] jerryneedell commented on #2231
Congratulations! Glad it is working -- I think @dhalbert maintains that guide.

[2019-10-22 20:13] dhalbert commented on #2231
Is this Windows 10 or 7? Did you install any drivers initially that might have taken control of this? I don't remember if Particle supplies any drivers.

[2019-10-22 20:15] jerryneedell commented on #2231
Still odd that you had partial success with the xenon build ....

[2019-10-22 20:57] WilliamGFish commented on #2231
The Xenon build presented a difference device which appeared as a USB Drive, which is the clue I needed to trace the issue. 100% Windows trying to be clever but failing.

I don't use a Particle Xenon as I use the NRF52_DevKit seems silly to buy another version of the same thing.

So if someone does not see a CIRCUITPY drive they need to look in Device Manager -> Disk Drives; if they do not see an

[2019-10-22 21:06] robomike commented on #2238
This is apparently a hardware issue.  Please check connections before submitting bugs.

[2019-10-22 21:06] #2238 closed

[2019-10-22 23:40] dhalbert commented on #1222
Just found this in the nRF SDK release notes for v15.3.0:

[2019-10-23 04:30] hathach commented on #1222
a RAM block according to interconnect diagram is probably a 8KB of RAMx.
![image](https://user-images.githubusercontent.com/249515/67357749-7ba0bd80-f588-11e9-9252-c401812bfc7c.png)

[2019-10-24 14:18] jepler commented on #1644
I assume this is what is happening:
![image](https://user-images.githubusercontent.com/1517291/67494587-0e039880-f63f-11e9-8e4a-81c27a12c490.png)

[2019-10-24 16:46] ladyada commented on #1644
yah sometimes the chip can have a double-buffer so top/count are only updated on wraparound. the other option is to write to CC0 when you update top/count, they you may end up with a short blip. i dont think busy-waiting till you wrap-around is a great idea, but its an idea.

[2019-10-24 17:46] theacodes commented on #2024
Here's CPython's implementation: https://github.com/python/cpython/blob/master/Python/pystrhex.c

[2019-10-25 09:25] iayanpahwa commented on #2149
I think it would be really great to have a code.py file considering the fact that recommended mu editor looks for that file and automatically loads in on detecting a CP board. A small demo code to print hello world or LED blink will also be great to have. @tannewt can I work on this one ?

[2019-10-25 12:01] jepler commented on #2149
@iayanpahwa Please feel free to work on this and file a pull request.

In case you didn't learn this yet for yourself, the area of the code to work in is probably `supervisor/shared/filesystem.c` between
[code]
and
[code]

[2019-10-25 22:40] theacodes opened #2245 "usb_midi read buffer can overflow without any signal to user code, leading to data corruption."
In certain cases, the `usb_midi` receive buffer can overflow which can cause all sorts of unexpected behavior. Presently, there's no way that user can definitively detect and react to this state.

# Source of behavior

Currently most boards are configured to have a `usb_midi` read buf of 128 bytes ([source](https://github.com/adafruit/circuitpython/blob/3683ee3ffa5b6da2574e1618b539b68cbc7e8db5/por

[2019-10-25 23:30] kevinjwalters commented on #2245
I may have asked about this when I was testing adafruit_midi library. I agree being able to detect data loss is a useful step. A cumulative counter is another approach here and that wouldn't require a clear method.

[2019-10-26 11:06] iayanpahwa commented on #2149
@jepler Thank you for code reference. I'll star working on it :)

[2019-10-27 21:46] #2232 closed

[2019-10-28 18:46] #1563 closed

[2019-10-28 18:49] theacodes commented on #2245
Can you expand on this a little? I'd like to get a better idea of what this would look like from the library's perspective.

We could have a way to clear the overflow flag without resetting the buffer, but from experience that means that the overflow state is likely to re-occur quickly.

[2019-10-28 18:50] #2086 closed

[2019-10-28 19:31] CedarGroveStudios commented on #2245
And if there's a function to clear the buffer, it would be helpful to have an option clear all up to the latest full message packet to keep things synchronized.

[2019-10-28 19:38] theacodes commented on #2245
That's an interesting idea. Currently, `usb_midi` is functionality just a serial port, it doesn't know anything about the actual data coming in. We could make it clear up until the next status byte without needing it to know too much about the MIDI protocol.

[2019-10-28 19:40] CedarGroveStudios commented on #2245
Exactly. Normally, I'd be nervous dropping messages, but given the alternative... Could also issue a MIDI reset message just before resuming, I suppose.

[2019-10-28 19:45] theacodes commented on #2245
That's why it's critical to have the application know about this state and determine what to do about it. In my examples above, I used `stop_all_notes` as an example of one way of the application dealing with this.

[2019-10-28 19:53] CedarGroveStudios commented on #2245
I've noticed that resetting notes or issuing any other new overriding message when the buffer fills during a multi-byte message can be problematic, as well.

[2019-10-28 20:08] hierophect opened #2250 "Add reset_pin_ok to standard microcontroller.c API"
Many modules have a `never_reset` function, but some such as PWMOut also include a `reset_ok` counterpart, which releases a peripheral from their static never_reset array and makes it available for normal use again. However, there is currently no counterpart for taking pins out of the `never_reset` array in any port. This means that in virtually every case, a `reset_ok` peripheral will still remai

[2019-10-28 22:33] dhalbert opened #2251 "busio.SPI: specify max frequency and desired frequency in constructor ?"
Some chips have SPI peripherals that can vary in max frequency. For instance, the nRF52840 has 8MHz max normally, but has one that can do 32Mhz. Currently we have no way to specify which we would prefer at construction.

It would also be nice to specify the starting frequency in the constructor, rather than having to call `configure()`. The other `configure()` args could also be passed in, but tha

[2019-10-29 03:26] dhalbert opened #2253 "nrf I2C hang"
If an nRF I2C (TWIM) peripheral is connected to pullups that are not pulled up, and then connected to an unpowered device, the peripheral can be initialized, but then operations on the bus may hang.

First noted on Arduino Nano 33 BLE. It has an on-board accelerometer. The I2C pullups and the device are both powered from other pins, so they can be shut off when not in use. If the pullups and the d

[2019-10-29 03:34] dhalbert commented on #2253
The primary problem for @ladyada was that if `code.py` got into this state quickly, it seemed impossible to get into safe mode. Perhaps we just need an easier way to get into safe mode. Or perhaps pressing reset during certain operations might initiate automatic safe mode (e.g., set a flag before I2C operations and unset it when done; the flags indicates one should reset into safe mode and not res

[2019-10-29 04:39] ladyada commented on #2253
yes improved safemode would be great...
but also lets have a timeout of 1 second, that's forever in i2c bus time :)

[2019-10-29 14:14] hierophect opened #2254 "Make value errors the responsibility of PWMOut module"
In most modules, value errors related to the hardware are managed by the common-hal module, so they can be made the most useful to the user. However, for the PWMOut module in particular, a set list of errors are passed back as a return enum, and then generic value errors are generated in shared-bindings. This has no difference in terms of functionality, but makes it difficult to generate useful er

[2019-10-30 17:23] hierophect commented on #2250
I did notice that. I'm not sure if it's appropriate for reset_ok to actually call reset (it's not implied functionality), so the way it is now is the user or shared bindings or something needs to get in there and manually reset those pins to free them.

[2019-10-30 18:35] jepler opened #2255 "Reported bugs in nrf i2s audio implementation"
In https://github.com/adafruit/circuitpython/pull/2127#issuecomment-547239894 Github user @rdagger reports the following problems:

Look into these reported issues and fix them as necessary.

Note: I am self-assigning this so it stays on my radar, but other obligations will likely prevent me from doing more than the smallest amount of investigative work until at least the week of November 11.

[2019-10-30 23:18] DavePutz commented on #2076
This issue looks to be in the library. See https://github.com/adafruit/Adafruit_CircuitPython_Display_Shapes/issues/7
for details.

[2019-10-30 23:57] kevinjwalters commented on #111
@tannewt I didn't expect anything to actually happen here but it turns out it might be fixed: https://twitter.com/zooba/status/1188954487924260864

[2019-10-31 13:35] #2231 closed

[2019-10-31 19:28] dhalbert commented on #2254
I spoke to @tannewt about this issue this morning. It turns out that `PWMOut` common-hal is used by `displayio` from C, so we don't really want it to throw Python exceptions. Hence the error code returns instead.

Scott would actually like to see most or all of the common-hal code be callable from C as necessary, so we should actually consider moving in the other direction.

However, it may be tru

[2019-10-31 19:38] dhalbert commented on #1086
Closing as won't fix for now; this hasn't been a really big support issue.

[2019-10-31 19:38] #1086 closed

[2019-10-31 19:47] dhalbert commented on #1654
I'm working on specifying the flash layout on nRF boards in one central place instead of spread around, and I'm seeing that the size of the internal filesystem _may_ not be specified exactly correctly. WIll follow up again when I know for sure one way or the other.

[2019-10-31 19:52] dhalbert commented on #1764
See https://github.com/adafruit/circuitpython/issues/2206#issuecomment-539725561 for a more thorough explanation of why this is very hard. Closing for now.

[2019-10-31 19:52] #1764 closed

[2019-10-31 19:53] dhalbert commented on #1782
No recent reports of the origianl problem. Closing for now.

[2019-10-31 19:53] #1782 closed

[2019-10-31 19:55] dhalbert commented on #1789
`uzlib` is not turned on for any CircuitPython ports. It might be nice to have if it's not too big. It should be moved to shared-bindings and shared-module.

[2019-10-31 19:58] dhalbert commented on #1929
Closing for now due to no further information. Please re-open if you can reproduce with 4.1.0. Note that `framebuf` has been replaced by `displayio` in 5.0.0

[2019-10-31 19:58] #1929 closed

[2019-10-31 19:59] dhalbert commented on #1947
@shazz could you re-test with the latest version of https://github.com/adafruit/Adafruit_CircuitPython_SD ? Thanks.

[2019-10-31 20:08] dhalbert commented on #2137
Hi @anecdata, could you retest on 5.0.0-alpha.4? Thanks!

[2019-10-31 20:09] dhalbert commented on #2138
Hi @anecdata, could you retest on 5.0.0-alpha.4? Thanks!

[2019-10-31 20:10] dhalbert commented on #2142
Ideally, we would do this by 5.0.0 GA.

[2019-10-31 20:12] dhalbert commented on #2199
Did someone report this to Apple? I thought that was in the works.

[2019-10-31 20:14] dhalbert commented on #2107
@siddacious still true with latest CircuiPython Build?

[2019-10-31 20:19] dhalbert commented on #2144
Hi @anecdata, could you retest on 5.0.0-alpha.4? Thanks!

[2019-10-31 20:29] dhalbert commented on #1789
See PR #1274

[2019-10-31 20:31] hierophect commented on #2254
That makes sense. My only concern with this approach is the errors that are port or architecture specific. The benefit of port specific error codes is that you can tell the user that their system is failing because they didn't match the frequency to the existing channel they've set up, or because all channels have been reserved, etc, giving them a pathway to quickly resolve the bug. Making those e

[2019-10-31 20:50] siddacious commented on #2107
@dhalbert I opened up the other pyruler I bought at the same time as the other and it works fine; probably a hardware issue? I'm fine with closing, sorry for dragging my feet on this

[2019-10-31 20:50] #2107 closed

[2019-10-31 21:28] anecdata commented on #2137
5.0.0-alpha.4 on 2019-09-15 with CP Lib Bundle 20191029
doesn't appear to improve or change the behavior of either example.

[2019-10-31 21:58] anecdata commented on #2138
5.0.0-alpha.4 on 2019-09-15 with CP Lib Bundle 20191029
doesn't appear to improve or change the behavior of either example.

(Note that the code as shown above has the 3-color EPD enabled, just swap the True / False in lines 17 & 18.)

[2019-10-31 22:19] anecdata commented on #2144
Appears to have the same quirky behavior on 5.0.0-alpha.4 on 2019-09-15 with CP Lib Bundle 20191029.

[2019-11-01 00:09] makermelissa commented on #2076
Fixed in adafruit/Adafruit_CircuitPython_Display_Shapes#8

[2019-11-01 00:09] #2076 closed

[2019-11-01 01:29] tannewt opened #2258 "Disable CircuitPlayground Bluefruit speaker by default"
We need to disable the speaker on the CircuitPlayground Bluefruit just like we do on the Express because it currently makes noise when the AUDIO pin is touched.

[2019-11-01 02:11] jepler commented on #2258
A little quick analysis: It looks like the related code in the samd port for the express version is:
[code]
(reset_all_pins)
and a few other bits all gated by SPEAKER_ENABLE_PIN.  Similar code will need to be adapted into the nRF port, and SPEAKER_ENABLE_PIN provided/defined.

[2019-11-01 03:17] CollinCunningham commented on #2199
@dhalbert i believe pt filed a bug report

[2019-11-01 03:55] dhalbert opened #2259 "Adjust status DotStar brightness for old and new DotStars"
The DotStars on various different boards come in a couple of different varieties. The two vary significantly in brightness at equal color levels. Adjust the status colors so they work for both and are not too bright, not too dim, across both kinds, but just right. Goldilocks will review.

I have both kinds: dimmer on Trinket and M4 Itsy, brighter on Itsy '840.

[2019-11-01 16:57] kevinjwalters commented on #2258
How are you observing the noise, on VBUS and VCC or is this also making RFI? Specifically, I'm assuming this is actually the joy of class D amps and is coming from the PAM8301?

[2019-11-01 17:55] tannewt commented on #2258
Yup, just hear it out of the speaker when I touch the audio pad. It's not the end of the world but it is unexpected.

[2019-11-01 18:12] kevinjwalters commented on #2258
I was interested in anything PAM8301 related because I somehow let the magic smoke out of mine with some rather innocent use, I added some notes to an existing thread: [Adafruit Forums: Circuit Playground Express gets VERY hot](https://forums.adafruit.com/viewtopic.php?f=58&t=157190).

[2019-11-01 20:43] #2259 closed

[2019-11-01 21:22] hierophect opened #2261 "STM32: Add non-blocking writes"
Currently, STM32 writes both block and disable IRQs to protect against HAL-related failures. The entire system should be replaced with a non-blocking IT or DMA alternative, so faster full duplex data transfer can occur with fewer errors.

[2019-11-01 23:34] tannewt commented on #2254
@hierophect All of those examples seem port agnostic. Do you know any port specific ones?

[2019-11-01 23:42] tannewt commented on #2253
@ladyada Did you try the slow double tap to get into safe mode? CircuitPython should wait 700ms on start up to see if a reset occurs and then enter safe mode if it does. Its the same trick as the bootloader, just a wait after the bootloader's wait.

[2019-11-01 23:46] ladyada commented on #2253
i tried but was not successful - i probably didnt have the timing right

[2019-11-03 09:22] ThomasAtBBTF opened #2263 "busio.UART write sometimes returns None"
Currently it happens (I observed this in SAMD boards) that, if lots of data is written to the uart the write call returns none.
The reason in seems to be in pystream.c (https://github.com/adafruit/circuitpython/blob/master/py/stream.c#L237)
I can handle this problem by waiting "a little" and retry, which seems to work.
Only I can not say how short "a little" can shall be.,,,,,
I think UART.out_wai

[2019-11-03 16:48] tannewt opened #2264 "Support neopixel_write on STM"
nis reported on Discord that `neopixel_write` isn't available on the STM32F405 feather. This either means it's not implemented at all or the module isn't turned on.

[2019-11-03 17:32] ladyada commented on #2264
here's a working implementation from Arduino library
https://github.com/adafruit/Adafruit_NeoPixel/blob/master/Adafruit_NeoPixel.cpp#L1902

[2019-11-03 17:36] ladyada commented on #2263
`out_waiting` is a good idea for fast chips and slower baud rates it is part of pyserial so we can mimic it

[2019-11-03 23:34] #2258 closed

[2019-11-04 02:55] dhalbert commented on #2157
@AdinAck We recently heard about this interesting library: https://micropython-ulab.readthedocs.io/en/latest/, which might be able to fit on certain CircuitPython builds.

[2019-11-04 03:03] AdinAck commented on #2157
That’s awesome I’ll check it out!

On Sun, Nov 3, 2019 at 6:55 PM Dan Halbert <notifications@github.com> wrote:

[2019-11-04 20:21] caternuson opened #2267 "os.stat() causing int overflow on boards without long int support"
Ran into this here:
https://github.com/adafruit/Adafruit_CircuitPython_framebuf/issues/25

Can recreate by trying this on any file:
[code]

[2019-11-04 21:21] ThomasAtBBTF commented on #2263
Thank you for considering this!

[2019-11-05 04:03] dhalbert commented on #2267
This overflow is due to #1143, which restored using the 1970 epoch to `os.stat()`, so that the timestamps returned would match standard Unix timestamps. Previously it was using a year 2000 epoch.

We could use year 2000 epoch timestamps for non-longint builds, or we could just return 0, say. @notro do you have an opinion or suggestion?

Note that on non-longint builds, `time.time()` and other epoc

[2019-11-06 19:29] #2192 closed

[2019-11-06 20:06] dhalbert opened #2273 "wiznet.WIZNET5K constructor needs better arg validation"
A user did
[code]
but actually meant to do:
[code]

The `board.SPI` as an arg caused a fatal crash, which makes me think WIZNET5K is not validating its args completely.

[2019-11-07 14:38] #2209 closed

[2019-11-07 16:48] phrogger opened #2274 "Wiznet Ethernet Featherwing Addresses Unstable in CPy"
Although the Wiznet Ethernet Featherwing, is shipped with a unique
Adafruit MAC address, there is no way to use it or enter it with
Circuit Python.  As a result, the Wiznet chip makes up a random MAC
address every time it is initialized, and gets a different DHCP
assigned IP address, hopping up and down the user's network address
space.

The initialization of the wiznet.WIZNET5K() class should pro

[2019-11-07 22:50] Meschmid23 commented on #2131
I also would like to use the SAMD51 (Adafruit feather M4) as a SPI slave. Please let us know once progress has been made.

[2019-11-08 19:01] theacodes commented on #1248
This is done in #2271. Boards can now enable the decorator by adding `CIRCUITPY_ENABLE_MPY_NATIVE` to `mkboardconfig.mk`.

@dhalbert could we close this?

[2019-11-08 19:13] dhalbert commented on #1248
@theacodes I'll revise the title, since the other decorators are still not turned on.

[2019-11-08 19:13] theacodes commented on #1248
`viper` is turned on as well.

[2019-11-08 19:14] theacodes commented on #1248
I *think* `asm_thumb` should work, too, but I didn't test it.

[2019-11-08 19:15] dhalbert commented on #1248
ah, ok - could you do a quick test that it's on?

[2019-11-08 19:16] theacodes commented on #1248
perhaps tonight. I'll report back.

[2019-11-08 19:20] theacodes commented on #1248
For my own reference (and others, if you're curious):

`CIRCUITPY_ENABLE_MPY_NATIVE` turns on `MICROPY_EMIT_THUMB` and `MICROPY_EMIT_INLINE_THUMB`.

`micropython.native` needs `MICROPY_EMIT_NATIVE`.
`micropython.viper` needs `MICROPY_EMIT_NATIVE`.
`micropython.asm_thumb` needs `MICROPY_EMIT_INLINE_ASM`.

[2019-11-08 19:29] dhalbert commented on #1248
[code]
OK, so it's on, so this can be closed! I thought these were more separated than they are.

[2019-11-08 19:29] #1248 closed

[2019-11-08 20:02] makermelissa opened #2275 "Displayio I2CDisplay unable to find display requiring reset"
On the SSD1305 displays, it is unable to find the display.

After looking at the code for common_hal_displayio_i2cdisplay_construct() inside of shared-module/displayio/I2CDisplay.c, I see that it does a probe prior to doing a reset and so it never finds the display. Manually resetting before initializing fixes the issue.

[2019-11-08 20:18] gpshead commented on #1248
Confirmed, asm_thumb works fine.

[2019-11-08 20:57] #2275 closed

[2019-11-09 01:50] jerryneedell opened #2278 "spresence build fails on RPi"
I've been testing building CP on various platforms -- the current master builds fine for all BSPs on Ubuntu Linux and on MacOS. On my Raspberry Pi 4  all of the boards build OK except for the spresense - it fails with:

[code]
I've just started looking into to it , but wanted to post this to see if anyone else has seen this or has any suggestions ...

[2019-11-09 01:59] jerryneedell commented on #2278
ah -- this may be the problem:
[code]

[2019-11-09 13:24] jepler commented on #2278
Based on the information available, this is an issue to pursue upstream with https://github.com/sonydevworld/spresense-exported-sdk -- a binary executable program included in spresense-exported-sdk is only for "x86_64" linux systems, so it won't work on ARM based system such as rpi:

[code]

[2019-11-10 23:37] Casey10110 opened #2279 "IS25LP128F Flash Problem"
Hi Guys,

I've got a board based on the Feather M4 Express that uses a 16 MBit IS25LP128F flash chip. Although it seems to be recognized in the JEDEC ID check, it hangs right in the spot shown in the following code and I am not quite sure why. It would be good to figure this out so that others don't assume that this chip will work in their design (I actually also couldn't get the W25Q128JV_SQ to w

[2019-11-11 00:04] deshipu commented on #2279
Do you have a schematic of how the flash chip is connected?
Do you happen to have a logic analyzer and can look at the signals?

[2019-11-11 02:45] Casey10110 commented on #2279
I can't post the entire schematic, but it is connected exaclty the same as on the Feather M4 in both cases (W25Q128JV_SQ and IS25LP128F).

![grafik](https://user-images.githubusercontent.com/39539364/68557231-12270880-03ea-11ea-941d-808aff43fed5.png)

I don't have a logic analzer, but the fact that the flash_info.ino recognizes a chip shows that they are extremely likley connected correctly. In fa

[2019-11-11 05:49] tannewt commented on #2278
@kamtom480 Any suggestion?