[2018-01-04 22:41] jerryneedell commented on #511
I do have some logic analyzer captures - GitHub won't accept the file types. I can get them to you in discord.

[2018-01-04 22:52] jerryneedell commented on #511
I'll have to regenerate them, but it won't be today -  the ones I have are too large because I captures some analog data as well. I'll try to repeat the tests tomorrow and post the files.  Sorry for the confusion.

[2018-01-04 23:03] jerryneedell commented on #511
here is a screenshot of the Logic analyzer capture - perhaps it will tell you enough
![screenshot](https://user-images.githubusercontent.com/15856834/34588172-991a7a96-f179-11e7-9cfc-06a20d3f2f0e.png)

[2018-01-04 23:05] jerryneedell commented on #511
this is the start of the capture
![screenshot2](https://user-images.githubusercontent.com/15856834/34588220-d1784026-f179-11e7-9661-ea283366471c.png)

[2018-01-05 11:12] jerryneedell commented on #511
I lowered the I2C frequency to 10000 and it works better, but still occasionally fails withe either an OSError 5 as above or sometimes a RunTime error 2. I don’t have a logic analyzer capture of it at 10000. Would you like to see one?

[2018-01-05 11:31] deshipu commented on #511
What value of pull-up resistors are you using? Do you have analog pins on your logic analyzer, or an oscilloscope, so that you can actually see the shape of the signal? How long are the wires?

[2018-01-05 11:45] jerryneedell commented on #511
The breakout board has 10k pulllups. I’ll try to get some scopeshots to post this morning. I was having some trouble getting good shots yesterday. I also have another sensor, mcp9808 also with 10k pull-ups connected. Wires are about 15 cm. to ccs811.

[2018-01-05 13:14] jerryneedell commented on #511
ccs811 - 10Khz clock
![ds1z_quickprint32](https://user-images.githubusercontent.com/15856834/34610709-4337e98e-f1f0-11e7-8487-9f5d5cb063ff.png)

ccs811 - default clock
![ds1z_quickprint33](https://user-images.githubusercontent.com/15856834/34610710-435871ea-f1f0-11e7-9145-472926541b9e.png)
ccs811 - default clock
![ds1z_quickprint35](https://user-images.githubusercontent.com/15856834/34610711-4377d

[2018-01-05 13:42] deshipu commented on #511
Those signals look reasonable, I don't think this is the problem.

[2018-01-05 17:49] tannewt commented on #290
This is done.

[2018-01-05 17:49] #290 closed

[2018-01-05 18:42] jerryneedell commented on #511
I have tried several approaches- here is a summary:
slow clock rate to 10Hkz -- works "better" runs for 10s of seconds or minutes then fails

increase Clock stretching limit to 512 - works a bit better -sometimes works at default clock rate - still fails eventually even at 10Khz

noted that 3V line was sagging (sometimes below 3V) when ccs811 running. powered with 5Vin and level shifters on SCL/SD

[2018-01-05 19:07] jerryneedell commented on #511
After much discussion with @deshipu and many tests on esp8266 and feather m0 (bit banging) there does not appear to be any problem with i2c clock stretching. At least the issues with the ccs811 do not appear to be related to clock stretching so it is time to close this issue.

[2018-01-05 19:07] #511 closed

[2018-01-06 00:31] sommersoft commented on #462
SAMD `uid` function is now reporting **longer (proper)** unique numbers. Thanks to @tannewt for helping me get the shortness straightened out. And thanks to @Andon-A for doing uniqueness testing.

To keep things standard, I'm now working on adding this to ESP8266 by calling the existing `machine.unique_id`. Gotta get the esp vagrant toolchain up and running...

After that will come the nRF. I've g

[2018-01-06 02:48] Sigafoos commented on #493
I believe SimpleIO can be closed after adafruit/Adafruit_CircuitPython_SimpleIO@6667bb6

[2018-01-06 14:23] mrmcwethy commented on #493
Ok, I moved SimpleIO to the Completed PR list.

[2018-01-08 20:29] jerryneedell opened #514 "Dostar not working uder 3.0"
I am unable to get a simple dotstar test working on a Trinket_m0 under 3.0.
This works under 2.x

I have placed the 3.x adafruit_dotstar.mpy in /lib.

[code]

[2018-01-09 01:15] Apotessar opened #516 "Feather Express M0 - pulseio.PulseIN - freezes at high frequency"
Test Case:
Messure Light trough a light-to-frequency-coverter.

Test Setup:
Feather Express M0 - Circuit Python 2.2.0
TSL235R-LF
https://www.sparkfun.com/datasheets/Sensors/Imaging/TSL235R-LF.pdf
connected 3V to VDD, GND to GND and Output to D12

[code]

Error:
Board do not response, crash or disconnect while the input frequency is above 25 kHz.
The specific freqency could not be determinated.
Whi

[2018-01-09 01:44] tannewt commented on #475
I'm doing IS31FL3731. I believe its the last one.

[2018-01-09 15:22] mrmcwethy commented on #493
https://github.com/adafruit/Adafruit_CircuitPython_MAX7219
https://github.com/adafruit/Adafruit_CircuitPython_BusDevice
https://github.com/adafruit/Adafruit_CircuitPython_HID

Ready for review.

[2018-01-09 20:00] dhalbert commented on #501
Posted an issue here https://github.com/micropython/micropython/issues/3517, and also see this PR: https://github.com/micropython/micropython/pull/3494

[2018-01-09 20:14] dhalbert commented on #480
Uses 168 bytes. Implemented via the override-builtins dict, hence the dependence on that flag.

[2018-01-09 20:21] dhalbert commented on #480
This is turned on in nrf and esp8266 ports. Let's turn it on in atmel-samd for consistency.

[2018-01-09 20:23] dhalbert commented on #313
First warning is fixed. Second warning awaits a gcc LTO fix beyond our control, so closing this.

[2018-01-09 20:23] #313 closed

[2018-01-09 20:25] dhalbert commented on #401
Appears to be fixed. Closing. Reopen if still a problem. Thanks!

[2018-01-09 20:25] #401 closed

[2018-01-09 20:29] dhalbert commented on #386
Close this for now, as the current fix seems to work pretty well. Reopen if it can be duplicated reliably in real-life situations.

[2018-01-09 20:29] #386 closed

[2018-01-09 20:41] dhalbert commented on #384
I think we should disable this for consistency across atmel-samd, esp8266, and nrf builds, as suggested by @deshipu [above](https://github.com/adafruit/circuitpython/issues/384#issuecomment-340915814). The features added by `MICROPY_CPYTHON_COMPAT` encompass a bunch of different things, and should be broken down into separate flags: there's even a comment to that effect in `py/mpconfig.h`. We can

[2018-01-10 13:32] dhalbert opened #519 "More accurate time reporting"
Several users have asked for time reporting that's more precise than the millisecond ticks provided by `time.monotonic()`. Use cases and proposals welcome here.

[2018-01-10 17:43] dhalbert commented on #111
I'm going to close this issue for now, since we've documented the problem thoroughly in the Learn Guides and described and implemented mitigations such as editor plugins that force immediate writes. If/when there's some movement on the Windows side or we figure out an alternate filesystem that works on all the platforms, I'll reopen or create a new issue.

[2018-01-10 17:43] #111 closed

[2018-01-10 18:13] CameronDevine commented on #519
I was attempting to work with a 433Mhz radio transmitter which required writing to a pin at 200 microsecond intervals. Even if a function similar to the Arduino `micros()` had less than 1 microsecond resolution this would allow time calculations that are not possible with the `time.monotonic()` function.

[2018-01-10 18:39] tannewt commented on #519
@CameronDevine Interesting! How much data do you know you need to write ahead of time? Something like [PulseOut](https://circuitpython.readthedocs.io/en/2.x/shared-bindings/pulseio/PulseOut.html) might be adequate. It looks like it requires a carrier PWM signal though it could just be constant.

[2018-01-10 18:43] dhalbert commented on #519
came from here: asking there as well: https://forums.adafruit.com/viewtopic.php?f=60&t=129222

[2018-01-10 20:43] tannewt commented on #411
This is done here: https://github.com/adafruit/Adafruit_CircuitPython_APDS9960

[2018-01-10 20:43] #411 closed

[2018-01-10 20:48] deshipu commented on #386
As a side note, personally I would love to have some way of triggering this "bug" on purpose — the solution with Arduino programs for erasing the flash doesn't work with custom boards, as I would need to make Arduino board definitions for them first, etc.

[2018-01-10 20:51] dhalbert commented on #386
@deshipu I have been thinking of adding something like `storage.format(...)`, with maybe some required `True` parameter to make clear it was dangerous.

[2018-01-10 20:55] deshipu commented on #386
Reminds me of the `--clobber-my-computer` option we have in some OpenStack tools. We could make it a required keyword argument, something like `storage.format(delete_all_files=True)` or such, but I wonder how much of a warning we actually need here?

[2018-01-10 20:58] tannewt commented on #338
@caternuson this done?

[2018-01-11 21:57] jerryneedell opened #521 "on metro_m4_express - CP3.0 FS error for specific import syntax"
WIth CP.3.0 master and 20180110 Bundle release I am running into a problem on my Metro M4 Express.
Every time I try to import adafruit_ssd1306  the system hangs then eventaully dismounts the FS and dmesg reports a read error.  I have recreated and relaoded the FS several times and this is very repeatable. I am using the "py" version of the bundle, but I did verify that is also occurs with the .mpy

[2018-01-11 22:44] jerryneedell commented on #521
narrowing it down - this line causes it to hang:
from adafruit_bus_device import i2c_device, spi_device
or just
from adafruit bus_device import i2c_device
also causes hang

but
import adafruit_bus_device is OK ??

[2018-01-11 22:57] jerryneedell commented on #521
The hang can be caused by:
from adafruit_bus_device import i2c_device
or
from adafruit_bus_device import spi_device

Adafruit CircuitPython 3.0.0-alpha.1-53-gd201ac2-dirty on 2018-01-11; Metro M4 Express with samd51j19

<function>

['__name__', 'adafruit_bus_device']

['__path__', '__name__', '__file__']

[2018-01-11 23:57] ladyada opened #522 "playing audio and then doing neopixels hardcrashes"
if you start to play a file, then do some neopixel stuff before the file is done playing, you get a hardcrash!
verified with 2.1 and 2.2

[2018-01-12 02:03] jerryneedell commented on #521
Tried loading 3.0 onto Metro M0 Express. No problems executing any of the problematic imports above.

[2018-01-12 02:22] jerryneedell commented on #521
very interesting - making the following changes fixes the problems on the metro M4 express.
I can now import adafruit_ssd1306 !!

[adafruit_ssd1306.py.dif.txt](https://github.com/adafruit/circuitpython/files/1624776/adafruit_ssd1306.py.dif.txt)

[2018-01-12 02:35] jerryneedell commented on #521
a bit more investigation:
the syntax:
import adafruit_bus_device.i2c_device as i2c_device
works as well
most of the modules use this syntax or
from adafruit_bus_device.i2c_device import I2CDevice

it looks like only pca9685, sdcard, ht16k33  and ssd1306 use
from adafruit_bus_device import i2c_device  (or spi_device)
which causes the problem for CP3.0

[2018-01-12 12:24] jerryneedell commented on #521
Tried recompiling under gcc 6.3.1 since this seems familiar but the problem still occurs:
from adafruit_bus_device import i2c_device
causes it to hang and dismount.

[2018-01-12 23:13] Apotessar opened #523 "Add Driver for the Adafruit TSL2591 High Dynamic Range Digital Light Sensor"
Hi

It would be cool if circuitpython would support the Adafruit TSL2591 High Dynamic Range Digital Light Sensor right out of the box (or within the bundle). Seems legit to me since this is the most capable light sensor in the Adafruit portfolio, and the only one with is able to handle the range needed for modern photography (as support).
Actually I will work on my own driver, witch i'am willing t

[2018-01-13 06:05] sommersoft commented on #462
ESP8266 `uid` is now functioning the same as SAMD. `machine.unique_id` is still available. 2/3rds of the way there. nRF showed up a couple days ago, so that's the next backend to learn! 🔢

[code]
_Sidenote: didn't notice I was building on CP 3.0 until I copied the REPL. So good news that 3.0 builds fine on ESP?_

[2018-01-13 12:12] jerryneedell commented on #521
I have narrowed town the build that introduced this problem to:
adafruit-circuitpython-metro_m4_express-20180105-5cb361c.uf2
from adafruit_bus_device import i2c_device works on builds prior to this on and fails on builds since.

[2018-01-13 18:55] jerryneedell opened #524 "NRF52 build fails if MICROPY_PY_BLE_NUS enabled"
enabling MICROPY_PY_BLE_NUS in bluetooth_conf.h results in the following error.
It builds fine if this is left disabled.

$ make BOARD=feather52 SD=s132
Use make V=1, make V=2 or set BUILD_VERBOSE similarly in your environment to increase build verbosity.
Generating build-feather52-s132/genhdr/mpversion.h
GEN build-feather52-s132/genhdr/qstr.i.last
QSTR updated
GEN build-feather52-s132/genhdr/qstr

[2018-01-13 20:06] jerryneedell commented on #524
I tried adding mp_hal_stdin_any  to nrf/drivers/bluetooth/ble_uart.c.
The build compiled with this added, but the BLE REPL did not work.

I added this function to ble_uart.c:

  bool mp_hal_stdin_any(void) {
    return (!isBufferEmpty(mp_rx_ring_buffer));
   }

I attempted to base this on what was in nrf/mphalport.c but is not compiled when MICROPY_PY_BLE_NUS is enabled.

[2018-01-13 22:15] microbuilder commented on #524
The REPL/UART code changed with the migration to CircuitPython, which handles the UART abstraction differently. Migrating BLE UART support is at the top of my ToDo list now that the base nRF52 stuff is working ... we've been ignoring the SD until now. The reason the flag fails is because it relies on the MicroPython REPL abstraction layer which we don't use anymore.

[2018-01-13 22:23] jerryneedell commented on #524
Thanks for the update and clarification.  I'll look forward to trying it out.  Thank you for all the work you have put into this.  No rush on my part. I'll  (try to) be patient ;-)
I have been playing with some of the ubluepy examples and they seem to work so far. I had tried the NUS in the past and could connect to it, but the apps I was using could not properly send the EOL so I could not get ve

[2018-01-13 22:40] microbuilder commented on #524
I'll get this fixed this week and a PR sent out. I had the same EOL problem, and the OS X and iOS Bluefruit LE Connect apps now have an option to change the EOL character(s) because of that, which should help. The Android version is updated internally, but I need to schedule in some time with the app dev to do some final tests before pushing it out, but I'll try to get that wrapped up soon as well

[2018-01-13 22:41] microbuilder commented on #524
You can see the release notes here:
- https://itunes.apple.com/us/app/adafruit-bluefruit-le-connect/id1082414600?mt=12
- https://itunes.apple.com/us/app/adafruit-bluefruit-le-connect/id830125974?mt=8

[2018-01-14 15:07] Camerutttt opened #525 "Circuit Python with Sublime Text"
Anyone knows how to use Sublime Text with Circuit Python? I have already installed Deviot but do not know how to continue from there.

[2018-01-14 18:42] tannewt commented on #525
Please ask on the support forum: https://forums.adafruit.com/viewforum.php?f=60

GitHub issues should be used for bugs and feature requests.

[2018-01-14 18:42] #525 closed

[2018-01-14 21:41] tandpfun commented on #525
Camerutttt, It is possible, just write your python code, and when you save it, call it 'main.py' or whatever filename you like.

[2018-01-14 21:44] tandpfun commented on #525
sorry, scott. :)
<i class="fa fa-check-square" aria-hidden="true"></i>

[2018-01-15 02:15] sommersoft opened #526 "nRF Port: Get Remaining Shared Modules Working"
The shared modules below are not currently included in the nRF port build (taken from Makefile). Obviously, some will be easier than others so I put them in as a task list.

- - `audiobusio/PDMIn.c` now listed in #1037
- [x] `bitbangio/__init__.c`
- [x] `bitbangio/I2C.c`
- [x] `bitbangio/OneWire.c`
- [x] `bitbangio/SPI.c`
- [x] `busio/OneWire.c`
- [x] `gamepad/__init__.c`
- [x] `gamepad/GamePad.c`

[2018-01-15 02:20] sommersoft commented on #462
nRF done! PR imminent...

[2018-01-15 18:24] microbuilder commented on #526
Thanks for putting a list together!

[2018-01-15 22:08] ladyada commented on #338
done and in bundle!!

[2018-01-15 22:08] #338 closed

[2018-01-16 04:29] ladyada commented on #523
ok we'll take a look and close this issue when its added :)

[2018-01-16 05:27] tannewt commented on #521
Thanks @jerryneedell looks like its related to Dan's 2.2 merge in 5cb361c. I'll try and take a look later this week. I don't think its related to the FS thing I mentioned earlier today on discord.

[2018-01-16 19:58] tdicola opened #530 "Deal with multiple boards showing same drive name on Mac OSX (and maybe other OS's)"
I noticed while doing some radio library development that I needed to have two CircuitPython boards (M0-based) connected to my Mac at once (one for transmitting, the other for receiving).  This presented an interesting problem as both boards show up in Finder with the exact same drive name (CIRCUITPY):
<img width="228" alt="screen shot 2018-01-16 at 11 53 23 am" src="https://user-images.githubuser

[2018-01-16 21:22] mrmcwethy commented on #493
@tannewt to get examples done for the current library, i had to lint it as well. These are examples that will need to be rewritten for you experimental version of IS31FL3731.  Let me know if you want me to finish that work.

[2018-01-16 22:21] tannewt commented on #493
@mrmcwethy I'll merge it now.

I'm actually tempted to punt on the experimental version for a bit longer until we know how we want all of the displays to work.

[2018-01-16 22:48] tannewt commented on #448
This is done. Thanks @sommersoft !

[2018-01-16 22:48] #448 closed

[2018-01-16 22:50] tannewt commented on #439
Basic RFM69 support is here: https://github.com/adafruit/Adafruit_CircuitPython_RFM69

Since we don't have ISR support it only supports one packet at a time.

[2018-01-16 22:53] tannewt commented on #436
This fixed?

[2018-01-16 23:00] jerryneedell commented on #436
Yes

[2018-01-16 23:01] #436 closed

[2018-01-16 23:05] tannewt commented on #361
This is superseded by https://github.com/adafruit/circuitpython/issues/475 which is almost done.

[2018-01-16 23:05] #361 closed

[2018-01-16 23:06] tannewt commented on #360
This is done in https://github.com/adafruit/adabot/commit/716b85d4d6ca1a8087eece88189e72a6c877ce21

[2018-01-16 23:06] #360 closed

[2018-01-16 23:08] tannewt commented on #345
At minimum we should delete unsupported docs and examples by 3.0.

[2018-01-16 23:12] tannewt commented on #291
This is done. Its in master and has other issues for its additional polish.

[2018-01-16 23:12] #291 closed

[2018-01-16 23:19] tannewt commented on #190
To do this we may need to allow for configurable USB descriptors.

[2018-01-16 23:21] tannewt commented on #185
Whats the goal with this? We make no timing promises when running python code. It should be expected to be variable.

[2018-01-16 23:25] tannewt commented on #173
This is done in #474. You can:

[code]

[2018-01-16 23:25] #173 closed

[2018-01-16 23:27] tannewt commented on #93
SAMD21 is working fine without this and the SAMD51 comes factory calibrated to 48 mhz.

[2018-01-16 23:27] #93 closed

[2018-01-16 23:28] tannewt commented on #76
Users haven't had an issue with terse prints for native objects. Enum-like object support seems to have been enough.

[2018-01-16 23:28] #76 closed

[2018-01-16 23:34] tannewt opened #531 "Compress QSTRs and raw strings"
The contents of QSTRs can be quite repetitive. Perhaps a dictionary compression scheme would use less memory to store the strings.

<img width="1404" alt="qstr_chunks" src="https://user-images.githubusercontent.com/52649/35017644-93fc2688-fad2-11e7-9b40-f75aadc252a2.png">

[2018-01-16 23:38] microbuilder commented on #524
Fixed in #528

[2018-01-16 23:38] #524 closed

[2018-01-16 23:52] tannewt opened #532 "Lazy load strings and code info"
Many strings and code info (line numbers) used for error messages are loaded into memory but used rarely. Instead, we could leave them on the filesystem until we need them when we print an error.

[2018-01-17 00:07] tannewt opened #533 "Improve the parsers resilience to low memory conditions"
The parser tries to [allocate 512 bytes contiguous](https://github.com/adafruit/circuitpython/blob/master/py/parse.c#L743) and gives up immediately if it fails. Instead, it should be ok with a smaller chunk but be more likely to fail later if the thing to parse was complicated.

[2018-01-17 00:13] tannewt opened #534 "Compact the heap"
The heap gets pretty fragmented by complex libraries. We should add a step at the end of import that compacts the allocations related to the import. That way we'll have a consolidated chunk of free memory.

[2018-01-17 02:10] caternuson opened #535 "Add driver for DS2413 GPIO controller"
Add driver to support the DS2413 1-Wire Two GPIO Controller Breakout.

- [PID 1551](https://www.adafruit.com/product/1551)

[2018-01-17 02:11] fmorton commented on #345
I will get to this in the next couple weeks if no one else does.

Frank

[2018-01-17 02:11] #384 closed

[2018-01-17 02:22] tannewt commented on #345
Great! Thanks Frank!

On Tue, Jan 16, 2018 at 6:11 PM Frank Morton <notifications@github.com>
wrote:

[2018-01-17 02:28] dhalbert commented on #442
Fixed by #518.

[2018-01-17 02:28] #442 closed

[2018-01-17 02:29] dhalbert commented on #480
Fixed by #518.

[2018-01-17 02:29] #480 closed

[2018-01-17 20:33] dhalbert opened #536 "CPX: board.MOSI, .MISO, and .SCK should refer to external pins, not SPI flash"
The `board.MOSI`, `board.MISO`, and `board.SCK` pins on Circuit Playground Express refer to the SPI flash pins. That isn't too useful; it would probably be better to designate some externally available pins for SPI use. By experimentation, these work (and maybe more would):
[code]
A1, A2, and A3 are the only set of three externally available pins on the same SERCOM.

[2018-01-18 16:19] caternuson commented on #535
Working prototype here:
https://github.com/caternuson/Adafruit_CircuitPython_DS2413

[2018-01-18 17:07] tdicola opened #537 "Need Feather M0 RFM69 build with digital pins D3, D4, D8 exposed."
We need a new build of both 2.2 and later 3.0 which is for the feather M0 RFM69 board (https://learn.adafruit.com/adafruit-feather-m0-radio-with-rfm69-packet-radio?view=all#downloads).  Unfortunately our basic M0 build only exposes the pins on the outside of the feather and is unable to access the CS, RST, and interrupt lines of the RFM radio built-in to this feather (which use pins routed interna

[2018-01-18 18:21] tannewt commented on #537
I'm trying to keep 2.x very limited going forwards so we can focus on 3.x.

All SAMD21 pins are exposed in `microcontroller.pin`:

[code]

For 3.x I think its fine to have specific builds so that its clear to users what they need.

[2018-01-18 18:59] tdicola commented on #537
I'd recommend taking this for the simplicity of users who want to use the Feather M0 RFM69.  The alternative is loading the M0 feather basic build (not obvious or mentioned in docs) and using the alternative pins from microcontroller.  We built the tooling to automatically generate builds so adding new ones has minimal overhead right?

If it is the case that adding new builds is too much work for

[2018-01-18 19:06] tannewt commented on #537
My goal is to focus us on 3.0 beta. I'm hoping that we can release our first beta in a few weeks. Adding more boards in 2.x is extra work because board definitions have changed with 3.x and ASF4.

I only want to modify 2.x if we need it for a hardware release like the ItsyBitsy.

[2018-01-18 19:16] tdicola commented on #537
So would you accept a pull for adding the board in 2.x then if it's too much work for others to do now?  Sorry I'm not following the need for extra work.  From the user perspective this is new circuitpython support for hardware that's been requested a lot.  I'd rather support it well out of the gate vs. hold on it longer to an unknown time with 3.x.

[2018-01-18 19:23] tannewt commented on #537
If you want to do it, then please do it in both 2.x and master.

[2018-01-18 19:39] #462 closed

[2018-01-18 22:12] tdicola commented on #537
Sounds good, merge these requests to add the missed boards:
2.x: https://github.com/adafruit/circuitpython/pull/538
master: https://github.com/adafruit/circuitpython/pull/539
I added the RFM69, RFM9x, nRF51, and WINC1500 to cover all of the Feather M0 boards.  They're based on the Feather M0 basic but add pin definitions for the internally routed peripheral control lines. This will make it much ea

[2018-01-20 22:10] jerryneedell opened #542 "Recursion error on ESP8266"
When I run this code on an ESP8266 it fails as shown below.  It runs successfully on an M0 (feather_m0_adalogger)

[code]
runs on M0 - fails on ESP8266

[code]

Note:If I change the last lines to the following - it works on the ESP8266
[code]

[2018-01-22 12:55] jerryneedell opened #543 "ESP8266 build fails for 3.0"
I am unable to build the esp8266 image under 3.0 master  - the following error occurs
at the end of the build:

[code]

It builds successfully for 2.x

[2018-01-22 13:06] jerryneedell commented on #543
It would appear that esp8266/hal-common/Processor.c is missing somthing:
[code]

[2018-01-22 13:14] jerryneedell commented on #543
Sorry _ I now see that the update to add the UID was only applied to master, not to 2_x so it just appears that there is some error in the esp8266 configuration.

[2018-01-22 15:36] dhalbert commented on #280
jafine on discord reports a CIRCUITPY erase with 2.2.0, perhaps due to a low battery.

[2018-01-22 16:02] sommersoft commented on #543
I can try and duplicate later. But, yeah, the `UID` is only in master..def not in 2.x or any of the 3.0 tags.

@tannewt & @DanHalbert, I can pull the master over to 2.x & 3.0 on my fork and submit a PR...just let me know.

[2018-01-22 16:09] jerryneedell commented on #543
It looks like Travis did not build an esp8266 image when this was merged . Is that intentional?

[2018-01-22 16:23] jerryneedell commented on #543
looking for the function system_get_chip_id - grep does not find it anywhere in the source tree.
[code]

[2018-01-22 16:31] sommersoft commented on #543
`system_get_chip_id` is actually a native Espressif SDK instruction. it is also (and originally) used in `modmachine.c` for the `machine.unique_id` function. `modmachine.c` is in ports/esp8266 folder.

[2018-01-22 17:30] jerryneedell commented on #543
That what I thought. Since it looks likes some issue with the previous merge, I think it best for you to look it over and make the correction. I'm in no hurry. Let me know if you want me to do anything.

[2018-01-22 19:14] ladyada opened #544 "isREPLconnected & isUSBconnected"
could be handy to be able to query, from the python side, if USB is enumerated and/or the REPL is opened!

put down for 3.0 but can be long-term

[2018-01-22 19:27] jerryneedell opened #545 "add Driver for SHT31D Temperature/Humidity Sensor"
https://www.adafruit.com/product/2857

[2018-01-22 20:33] jerryneedell commented on #521
Using J-link - so far I have determined that it is ending up in the Hard_Fault_Handler:
line 279 of port.c
[code]

[2018-01-22 21:09] jerryneedell commented on #521
here is a gdb backtrace:
[code]

[2018-01-22 22:41] jerryneedell commented on #543
FYI - I made the change to add the include and build an image for some other testing. Just for fun, I thought I'd check the UID and this is what I get:
[code]
Does that make any sense? what is 0x0cL?

[2018-01-22 22:45] sommersoft commented on #543
yeah, that's a correct result. for a human-readable format, import `struct` and print it using this: `struct.unpack('<i', microcontroller.cpu.uid)`

we kept the return type as a bytearray so that options were left open to how people wanted to use it.

[2018-01-22 22:45] jerryneedell commented on #543
hmm - whatever it is, it it the same as machine.unique_id()
[code]

[2018-01-22 22:47] jerryneedell commented on #543
got it - thanks ```>>> import struct

(4984040,)

[code]

[2018-01-22 22:48] sommersoft commented on #543
yeah, it uses the exact same function. we added it to microcontroller to keep it standard with the other ports. on the esp8266, the "unique id" is the last 24bits of the MAC address. not quite as unique as other boards..but, its what we got. 😄

[2018-01-22 22:49] sommersoft commented on #543
i'm working on the fix right now...just have to make sure an rebase to avoid further damage. lol

[2018-01-23 02:21] tannewt commented on #521
Thanks for the backtrace! I'd suspect the culprit is frame #3. The
HardFault_Handler is where it always ends up.

~Scott

On Mon, Jan 22, 2018 at 1:09 PM jerryneedell <notifications@github.com>
wrote:

[2018-01-23 03:06] sommersoft commented on #543
PR finally submitted. I have ruined my fork's history...to the ProGit book!

Thanks again @jerryneedell for catching this.

[2018-01-23 04:15] dhalbert commented on #521
Reduced this to: `from abd import i` where
`abd/i.py` contains:
[code]
However, if I make the `abd` folder name a single letter, it sometimes crashes as before, and sometimes works. If I rename it back to `abd`, it crashes consistently. So seems like it's junk in RAM somewhere. Ugh. Will debug further.

[2018-01-23 07:06] jafine commented on #280
I observed this occurring multiple times while we were doing demoing the TR808 drum (with fruit attached). In order to recalibrate, we were un-plugging and re-plugging in a 3.7V lipo battery.One of our kid helpers was leaving the lipo plug loosely in the socket, so that she could quickly disconnect and reconnect. I suspect that it was the quick disconnection and reconnection of power that may have

[2018-01-23 22:06] mrmcwethy commented on #475
There was a lot of work involved with incorporating pylint into the library build process and it is complete. Thanks everyone!

[2018-01-23 22:06] #475 closed

[2018-01-24 02:19] jerryneedell commented on #543
Fixed by #546

[2018-01-24 02:19] #543 closed

[2018-01-24 17:04] #521 closed

[2018-01-24 17:16] caternuson commented on #535
Done.
https://github.com/adafruit/Adafruit_CircuitPython_DS2413

[2018-01-24 17:16] #535 closed

[2018-01-24 17:18] caternuson commented on #523
OK to close?
https://github.com/adafruit/Adafruit_CircuitPython_TSL2591

[2018-01-24 17:20] ladyada commented on #523
yah lets close - we have a driver :)

[2018-01-24 17:20] #523 closed

[2018-01-24 17:22] ladyada commented on #537
done in 2.2.1 release - closing!

[2018-01-24 17:22] #537 closed

[2018-01-24 17:25] ladyada commented on #439
We've also got a binary release for the Feather M0 RFM69's w/CircuitPy 2.2.1 so you can use them as-is for radio projects. We may attack RFM9X next. There's no chance we will fit LoRaWAN in the M0 Py build but we may be able to send/receive LoRa packets (stay tuned! :)

[2018-01-24 21:36] dhalbert opened #549 "atmel-samd: Align stack on 8-byte boundary"
The stack should be aligned on an 8-byte boundary, according to the ARM procedure calling standard (AAPCS). A 4-byte boundary might work, but the interrupt controller expects an 8-byte-boundary, and compilers will also expect this.

Good discussion of several related points: https://community.arm.com/processors/f/discussions/6344/what-is-the-meaning-of-a-64-bit-aligned-stack-pointer-address

Right

[2018-01-24 21:38] dhalbert opened #550 "use correct linker maps for SPI flash boards"
In 3.0, boards with external flash are still using linker maps for internal flash. Correct the value  of `LD_FILE` in the `mpconfigboard.mk` files.

[2018-01-24 21:47] jerryneedell commented on #549
Nice! This makes a lot of sense. I suppose this is better than finding a compiler bug!! At least you can fix this.

[2018-01-24 22:06] dhalbert commented on #550
This was actually already fixed. I was looking at an old commit when I thought I saw this problem.

[2018-01-24 22:06] #550 closed

[2018-01-25 02:27] #549 closed

[2018-01-25 02:50] #533 closed

[2018-01-25 17:21] ladyada commented on #545
just adding a note, the arduino library is here https://github.com/adafruit/Adafruit_SHT31

[2018-01-25 17:36] deshipu commented on #545
And the MicroPython one is here: https://github.com/kfricke/micropython-sht31

[2018-01-25 17:50] jerryneedell commented on #545
Unless someone else want this one - you can assign it to me and I'll give it a shot.

[2018-01-25 18:00] ladyada commented on #545
goooo foooor iiiiiit :)

[2018-01-27 19:01] tballas opened #553 "Document that sys.stdout.write() and print() replaces a New line character with Carriage Return and New line characters."
This issue might serve as partial documentation.

This took a lot of digging to find. A carriage return sent over usb serial is replaced with a new line character when sent `e.g. sys.stdout.write('String\n')`, `print('String\n', end='')` or `print('String')` becomes `'String\r\n'` on the pc side.

The source of the change seems to be the `mp_hal_stdout_tx_strn_cooked()` function in `\lib\utils\std

[2018-01-27 19:05] tballas opened #554 "Document that sys.stdin.read() replaces Carriage Return characters with New line characters."
This issue might serve as partial documentation.

This took a lot of digging to find. A carriage return `\r` received over usb serial is replaced with a new line character `\n` when read with `e.g. sys.stdin.read(1).`

The source of the change seems to be the `stdio_read()` function in `\lib\utils\sys_stdio_mphal.c`

The reason for this behavior is unclear.

[2018-01-28 02:44] jerryneedell commented on #545
I have the basics working - can now read temperature and humidity and pass the checksums! The si7021 circuitpython library was a a great guide along with the Arduino  llibrary for the sht31. I hope to have something to share in the next few days.

[2018-01-29 03:36] kattni commented on #536
As noted in the PR, learn guide will need to be updated to reflect this change when 3.0 is released. Issue fixed with https://github.com/adafruit/circuitpython/pull/540.

[2018-01-29 03:36] #536 closed

[2018-01-29 18:10] deshipu opened #555 "ModuleNotFoundError: No module named 'adafruit_usb_descriptor'"
Running make on a fresh checkout gives me this error:
[code]

[2018-01-29 18:13] deshipu commented on #555
Nevermind, forgot to checkout the subrepos.

[2018-01-29 18:13] #555 closed

[2018-01-30 01:59] tannewt opened #558 "Blog up HackChat!"
We're hosting a HackChat on Hackaday.io at February 2, 2018 12:00 pm PST / 3pm EST. Lets blog it up that its happening.

[2018-01-30 02:10] tannewt commented on #558
Done https://blog.adafruit.com/2018/01/29/circuitpython-hack-chat-this-friday-february-2-2018-at-1200-pm-pst-3pm-est-hackadayio-hackaday-adafruit-circuitpython/

[2018-01-30 02:13] tannewt commented on #558
Reiterate on Wednesday on the blog and show and tell. Also a couple hours before on Friday.

[2018-01-30 02:31] tannewt opened #559 "HackChat on Hackaday.io at February 2, 2018 12:00 pm PST / 3pm EST"
Here is the event page: https://hackaday.io/event/34310-circuit-python-hack-chat You may need to join it.

Video of last year's is here: https://youtu.be/jTNVra3IENs

@ptorrone Maybe we should start the stream early to cover basics before people ask questions?

We should do voice chat in Discord so we can coordinate who is answering what questions.

[2018-01-30 12:34] arturo182 opened #561 "nRF52840 port"
What's the status of the nRF52840 port, is anyone working on it?

I followed the structure of the feather52 code and added the s140 6.0.0 softdevice to the download script and makefiles so it's used when building the nrf52840, but there is the case of adding support for it in the bluetooth driver.

If no one is currently working on adding s140 support in the bluetooth driver, I'd like to look into

[2018-01-30 13:15] microbuilder commented on #561
It's on our radar, but no exact ETA since no modules are commercially available and the chips aren't in final production yet. Any PRs are always welcome for review, of course. We're currently looking at USB support on the nRF52840, but that's somewhat independent of the CP port itself.

[2018-01-30 13:41] arturo182 commented on #561
Cool, then I guess I can have a stab at it, I have the nRF52840 DK and even a few nRF52840 chips, that I made into my own module (https://twitter.com/arturo182/status/951567482921332736) where I have USB working (and working on BLE). This is all in a private, hobby context.

[2018-01-30 20:09] #464 closed

[2018-01-30 20:28] dhalbert opened #562 "3.0: CPX: CIRCUITPY not working since 2.2 merge"
On CPX, the CIRCUITPY drive does not show up as of commit 065e82015f0d2bd6732c62b7375fcc7af87fa0cf. Thanks @deanm1278 for noticing this.

[2018-01-30 20:54] deanm1278 commented on #472
hey @Sigafoos I'm gonna look at this right now :)

[2018-01-30 22:42] #562 closed

[2018-01-30 23:16] ladyada opened #565 "Update py descriptor gen to have HID"
currently has CDC + MSC only
once key/mouse HID support is added we can extend to do multimedia (and maybe joystick!)

[2018-01-30 23:17] ladyada commented on #190
prereq: https://github.com/adafruit/circuitpython/issues/565

[2018-01-31 01:13] tannewt opened #566 "Improve our reference docs"
ReadTheDocs is awesome for hosting reference docs based on GitHub code. However, we've been bad about ensuring its set up and formatted consistently. Ideally, they would all be like [this](https://tannewt-pcf8523.readthedocs.io/en/auto_build_sphinx/).

We should do a pass over all of the drivers to ensure that they do these things:

* Have a `docs` folder with the conf.py moved there. (change sys.

[2018-01-31 01:24] tannewt commented on #565
What priority do you have for this @ladyada? I don't feel like its required for 3.0 Beta so I'd prefer to wait a bit. Ideally, I'd only assign it to myself once I'm working on it in case someone else beats me to it.

[2018-01-31 01:27] tannewt commented on #554
What does CPython do?

[2018-01-31 01:33] tannewt commented on #561
@arturo182 what piece are you going to look at? I believe @hathach is looking into USB.

[2018-01-31 04:26] ladyada commented on #565
Having the busio & CDC+MSC being done and stable is more important than USB HID, so how about after that feels solid - up to y'all whether it's in the beta or not!

[2018-01-31 06:03] arturo182 commented on #561
From what I've seen there is no support to even start building for the pca10056 so I started adding that and then also I added support for the v6.0.0 of the softdevice and now the build fails because Nordic modified the SDK between s132 and s140 so I wanted to get that working.

[2018-01-31 06:35] tannewt commented on #561
@arturo192 Ok perfect! Keep us posted if you have any questions! You can find me on [Discord](https://adafru.it/discord) most days.

[2018-01-31 23:57] arturo182 commented on #561
Ok I got both peripheral (advertising, connecting, reading and writing), and scanner working on nrf52840 with SD 6.0.0, just need to clean up the code and can make a PR most likely Friday.

[2018-02-01 00:04] jerryneedell commented on #561
Wow! Sounds great! Looking forward to you PR. I’ll be happy to give it a try. Thank you.

[2018-02-01 00:43] ctgreybeard opened #568 "gamepad.GamePad crashes board"
I have a CircuitPlayground Express. The lib is 20180128. When I enter the following code the board crashes into safe mode:

Adafruit CircuitPython 2.2.1 on 2018-01-23; Adafruit CircuitPlayground Express with samd21g18

As I am new to CircuitPython please be gentle ;}

[2018-02-01 00:45] ctgreybeard commented on #568
Ah, nevermind I think. I just realized that I need to be passing in a DigitalIO object ... sorry ...

[2018-02-01 00:51] dhalbert commented on #568
But, it should not crash, so we'll leave this open.

[2018-02-01 01:15] microbuilder commented on #561
Sounds good, thanks. I'll double check the linker scripts, etc., to make sure they align with requirements for the internal filesystem, etc. I'm wrapping up another project today and tomorrow, but Friday is perfect for me to come back to this and have a look at what you've put together for a PR! We're poking at some higher level wrappers for BLE as well since the current API is pretty low level an

[2018-02-01 01:31] ctgreybeard commented on #568
Hmmm, does't seem to be working ...

import board
import time
import digitalio
import gamepad
pad = gamepad.GamePad(digitalio.DigitalInOut(board.D5))
while True:
    print("pad=", pad.get_pressed())
    time.sleep(0.5)

Doesn't show anything other than 0. And the example code under the gamepad module shows similar results. Should this be a separate issue?

[2018-02-01 02:18] tannewt commented on #559
Posted today: https://blog.adafruit.com/2018/01/31/circuitpython-hack-chat-this-friday/

[2018-02-01 02:31] tannewt commented on #568
@ctgreybeard This issue is good for now. In the meantime, you likely don't need to use GamePad for what you are doing. I'd suggest using DigitalInOut to start with and only use `gamepad` if you find you are missing button presses.

[2018-02-01 03:15] dhalbert opened #569 "Truncated MemoryError exception message when importing too-large .py"
This is very odd:

1. Get the .py version of the CPX library: https://github.com/adafruit/Adafruit_CircuitPython_CircuitPlayground/releases/download/1.2.0/adafruit-circuitpython-circuitplayground-py-1.2.0.zip
2. Unzip it and put the `adafruit_circuitplayground` directory at the top level of `CIRCUITPY`
3. In the repl, try to import it. It's too big to compile, as expected. But note that the `Memor

[2018-02-01 08:30] deshipu commented on #568
How is the button connected to D5?

[2018-02-01 08:56] arturo182 commented on #561
Yes, I added the flash fatfs in the linker scripts, for example i just used the peripheral and scanner in nrf/examples. I noticed the Central is commented out so I guess it's not available yet? I also have a question regarding the umachine module, I see it's missing in the module listbut some of the parts work, maybe we could re-add it? Is there any TODO/schedule/issue list for the nrf port so I c

[2018-02-01 14:20] dhalbert commented on #569
The truncated `Memory Error:` message occurs as far back as 2.0.0, but it's OK in 1.0.0.

[2018-02-01 14:37] ctgreybeard commented on #568
D5 is a button on the Circuit Playground Express. D4 and D5 are buttons on the board, also called BUTTON_A and BUTTON_B.

And I was missing presses which is why I thought to use gamepad. But I think I will use Touch  instead because I can remote that from the board.

[2018-02-01 14:46] dhalbert commented on #569
The placement in `sys.path` is not always the issue, and may be a red herring. Here are more oddities, testing with various versions.
In this case the library is in `lib/`. If I make a typo on the first import, then the correct import does not do the printf expansion:
[code]
[code]

[2018-02-01 18:11] tannewt commented on #569
I don't think we need to fix this in 2.x. I'd only fix crashes in 2.x at this point. Lets shoot to have this done as polish on 3.0. Please change the milestone if you agree.

[2018-02-01 18:14] tannewt commented on #568
@ctgreybeard How were you initializing the built-in buttons with DigitalInOut? They require internal pull downs to function properly.

Touch is awesome as well. let us know how it goes on the [Forum](https://forums.adafruit.com/viewforum.php?f=60) or [Discord](https://adafru.it/discord).

[2018-02-01 18:17] deshipu commented on #568
@tannewt Ah, that would explain it — the gamepad library assumes the buttons are connected to GND and sets pull-ups. Perhaps I should add an option for this somehow.

I need to add the code checking if it's DigitalInOut anyways.

[2018-02-01 18:18] tannewt commented on #561
@arturo182 The `machine` module is a MicroPython API so its not urgent for us to get working. If you'd like to then we'll merge it in. Our focus is the CircuitPython APIs defined in the `shared-bindings` and implemented in `common-hal` within each port. #526 has a list of some that are missing currently.

We have a short list of issues for nrf52 here: https://github.com/adafruit/circuitpython/issu

[2018-02-01 18:28] dhalbert commented on #569
I'll debug it in 3.0. If it's a serious memory problem I'll backport.

[2018-02-01 18:38] microbuilder commented on #561
@arturo182 I'm currently looking at higher level BLE helper classes on top of the current lower level API where an above average understanding of BLE at a packet level is required. A colleague of mine is working on USB for the x40. Other than that, there isn't currently a specific ToDo list for the 52832 and 52840 familiies, but as @tannewt mentioned feel free to add module-level requests to #526,

[2018-02-01 18:55] tannewt opened #570 "Add time.gmtime"
Our time module is missing gmtime which converts a number of seconds after January 1, 1970 to a `time.struct_time`: https://docs.python.org/3/library/time.html#time.gmtime

The Python-> conversion would be added here: https://github.com/adafruit/circuitpython/blob/master/shared-bindings/time/__init__.c

and the implementation in a new `time/__init__.c` here: https://github.com/adafruit/circuitpyth

[2018-02-01 18:58] tannewt commented on #569
Sounds good!

On Thu, Feb 1, 2018 at 10:28 AM Dan Halbert <notifications@github.com>
wrote:

[2018-02-01 22:59] arturo182 commented on #561
I guess my problem is that I'm not that familiar with micropython/circuitpython way of working and miss details about the inner-workings as well (and I don't know what I don't know). I'm working on my own PCB with the nRF52840 module I mentioned above and I guess as I'm implementing that I will notice what information I'm missing and then can get more info from you. Is there any resources you woul

[2018-02-01 23:19] tannewt commented on #561
@arturo182 A couple resources are https://circuitpython.readthedocs.io/en/latest/docs/design_guide.html and https://circuitpython.readthedocs.io/en/latest/docs/common_hal.html . Other than those, I'd encourage you to join our [Discord chat](https://adafru.it/discord). I'm usually on there and would be happy to video chat with you to get you going.

[2018-02-02 15:09] brentru commented on #570
I'll give this a shot.

[2018-02-02 17:25] tannewt commented on #558
I blogged it on Wednesday and have a post scheduled for 10am PST which is two hours before.

[2018-02-02 17:25] #558 closed

[2018-02-02 19:19] tdicola opened #572 "math.floor has an upper limit unexpectedly"
This isn't really a problem from circuitpython and rather almost certainly a problem with upstream, but it appears math.floor (converting a float into the next lowest integer representation) fails with large numbers.

In circuitpython/micropython:
[code]

Vs in python3:
[code]

This is kind of unfortunate because some things need very large float values and integer values for associated calculatio

[2018-02-02 23:32] kattni opened #574 "Update Intro guide to include PyCharm MicroPython REPL"
Add a page to the Intro guide explaining how to get the REPL working in PyCharm with the MicroPython plugin.

[2018-02-02 23:34] kattni commented on #574
Guide page is published. However, screenshots are still being updated. Leaving issue open until guide is entirely complete.

[2018-02-03 02:59] willingc commented on #566
Once a month, maybe by scheduled cron job, run `make linkcheck` on all the docs.

[2018-02-03 04:19] kattni commented on #574
Screenshots have been updated, guide page here: https://learn.adafruit.com/welcome-to-circuitpython/pycharm-and-circuitpython. Blog post about update has been published here: https://blog.adafruit.com/2018/02/02/guide-update-get-connected-to-the-repl-using-pycharm/

All set to go!

[2018-02-03 04:19] #574 closed

[2018-02-03 05:02] ladyada commented on #572
this is probably cause it uses 30-bit floats and that number
https://www.h-schmidt.net/FloatConverter/IEEE754.html
is
0x4e8799bf
which uses the second-to-top bit?

[2018-02-03 16:16] arturo182 commented on #526
I added gamepad with a example in https://github.com/arturo182/circuitpython/commit/823940ef2001a46eaff3a9bdb4c29cc3cae91bec but it is on top of my pca10056 changes and seems github doesn't allow me to push it into a new PR that depends on #573 and I don't want to mix those. So I can wait for this one to be merged before pushing a  new PR unless there is some way to do it in a clean way in Github

[2018-02-03 18:19] ladyada opened #576 "remove RTD 'stable' version"
there's some old rev documentation in RTD ? not sure whats up but

https://circuitpython.readthedocs.io/en/stable/shared-bindings/touchio/TouchIn.html

is not the same as

http://circuitpython.readthedocs.io/en/2.x/shared-bindings/touchio/TouchIn.html

e.g. **raw_value** and **threshold** are missing from 'stable'

here's what it indexes

https://readthedocs.org/projects/circuitpython/

also, if p

[2018-02-03 19:23] arturo182 commented on #526
Added `struct` in https://github.com/arturo182/circuitpython/commit/71227c5b34f5658a3daadbf3e15ffa3329e417bb, same story as above :)

[2018-02-03 19:36] sommersoft commented on #544
I've been researching this between Travis battles. I think I've got USB mostly figured out, but still working on a plan for REPL. Initially I was hoping it could go into the `micropython` module. But, with USB being handled at the port level, somewhere in `shared-bindings` & `common-hal` is probably better. I imagine REPL will end up the same way, given the REPL flavors on different ports.

Here a

[2018-02-03 19:52] dhalbert commented on #572
Yes, this is a documentation issue, but it's kind of a more general warning about the limited size of integers, which are 31 bits, not 32 bits. So, @tdicola, I think you're saying that there are peripherals that can take full 32-bit integers but those integers can't be dealt with properly. It would even be true if you were using all-integer arithmetic: there'd be no way for you to do that arithmet

[2018-02-03 22:16] dhalbert opened #577 "Consider adding a `storage.format()` to erase and create a fresh filesystem"
It would be nice to be able to erase and re-create a damaged filesystem from the REPL or a program. Currently on non-Express boards we need to erase all of flash and then reload CircuitPython. On Express boards we have a special Arduino program that erases SPI flash, and then we need to reload CPy.

Something like `storage.format(<filesystem>)` would be helpful. One minor issue is how to specify t

[2018-02-04 05:20] tannewt commented on #526
@arturo182 you can do separate PRs if you start new branches locally. Star them based on adafruit's master and they can be reviewed in parallel.

[2018-02-04 05:39] tannewt commented on #576
Stable is now deactivated but the link still works. The version bar is red. Want that for 1.x as well?

[2018-02-04 05:40] #559 closed

[2018-02-04 05:40] tannewt commented on #559
Recap here: https://blog.adafruit.com/2018/02/02/great-circuitpython-hack-chat-hackadayio-hackaday-adafruit-circuitpython/

[2018-02-04 05:43] tannewt commented on #544
@sommersoft seems like you are headed the right direction! I think a new `supervisor` module and singleton would be best.

[2018-02-04 05:46] tannewt commented on #565
Ok, I'll unassign for now in case someone wants to beat me to it.

[2018-02-04 06:47] sommersoft opened #578 "Library Request: Matrix Keypad"
A member on Discord was asking about using a Matrix Keypad with CircuitPython, similar to the [Adafruit Membrane 3x4 Matrix Keypad](https://www.adafruit.com/product/419) (PID: 419).

* The Adafruit product page references this Arduino library to use with it: [Keypad Library for Arduino](http://playground.arduino.cc/Code/Keypad)
* The GitHub repo for the Arduino library is here: [Keypad](https://gi

[2018-02-04 07:51] arturo182 commented on #526
Yes I am aware of that but it seems Github doesn't support PRs that are on top of other PRs, so I could commit a series of commits and put them into separate commits because the PR will always include all commits not in the main branch. For example the LED fix depends on the nRF52840 PR so I wish i could make a LED PR which is marked to depend on the nRF one and can't be merged until that one is.

[2018-02-04 09:27] deshipu commented on #578
I wonder if we could extend the `gamepad` library to support matrices.

[2018-02-04 16:39] ladyada commented on #576
yes please make 1.x red

[2018-02-04 22:32] fogmansac commented on #570
I am curious how you envision this working.  As I understand it - and I may not:
1. gmtime takes as its parameter the number of seconds since the epoch and returns a time.struct_time eith the current date and time.
2. The epoch is commonly midnight Jan 01, 1970.
3. As near as I can tell CircuitPython has no epoch.
4. Circuit Python also has no time.time().  Though on the Metro, time.monotonic() re

[2018-02-04 22:44] willingc commented on #576
@tannewt You should be able to remove stable from displaying at all through the RTD UI. You should be able to activate/deactivate each build as needed. If you send me screenshots of the UI settings, I can see the config.

You can add warnings on the top of files by using [`rst_prolog`](http://www.sphinx-doc.org/en/stable/config.html#confval-rst_prolog). You may need to write a bit of code in conf.

[2018-02-04 22:54] willingc commented on #566
Just an FYI for future docs, you may want to check out sphinx-gallery for examples: https://sphinx-gallery.github.io/index.html

[2018-02-04 23:15] tannewt commented on #570
@fogmansac Its meant as a simple conversion from standard Jan 01, 1970 epoch designation.

It came up in Discord chat because someone was fetching the time from a website that returned it as seconds from epoch.

[2018-02-04 23:19] kattni opened #579 "CircuitPython and Circuit Playground Express Ikea lamp project"
This idea was pulled from a Twitter post about someone using an old Ikea lamp and a CPX to create a colorful lamp. That lamp was no longer available, so we've chosen 3 more to work with to see what we can do with them.

I have obtained the lamps, and am working on seeing how the CPX fits into them and what different ways I can interact with them. One is meant to try to use sound, light, motion and

[2018-02-04 23:34] kattni commented on #579
The smaller lamp consists of a silicone mold (shaped like a little creature!), and a hollow hard plastic bit that fits inside containing the electronics. When the plastic bit is (easily) removed, the Circuit Playground Express fits exactly into a groove along the bottom of the silicone mold, and the USB cable fits through the charging port. Thanks, Ikea!

After experimentation, the first lamp is l

[2018-02-05 06:02] tannewt commented on #526
Are the shared commits required for your dev setup?  You could use rebase to remove the shared commits if not. Waiting is ok too. I'll do the review Tuesday when I have time if @microbuilder doesn't get to it.

[2018-02-05 06:07] tannewt commented on #577
Could we specify it by mount point? That's consistent with remount I
believe.

On Sat, Feb 3, 2018 at 2:16 PM Dan Halbert <notifications@github.com> wrote:

[2018-02-05 06:39] arturo182 commented on #526
I do some changes in these commits to the pca10056 files that i added in the other PR so I think I'll wait, no hurry TBH ;)

[2018-02-05 13:03] dhalbert commented on #577
The question I had was whether we can identify the mount point name if it's not mountable due to corruption. But I haven't looked at the code yet.

[2018-02-05 17:00] ladyada commented on #579
hiya @kattni put the updates in the basecamp thread. thanks!

[2018-02-05 17:35] tannewt commented on #577
Ah good point! We could hard code it but that'd be a bit weird.

Have any other ideas? We could fake /dev/disk/* but thats probably overkill.

On Mon, Feb 5, 2018 at 5:03 AM Dan Halbert <notifications@github.com> wrote:

[2018-02-05 19:49] jerryneedell opened #581 "add driver for STMPE610"
Add a driver for the resistive touch screen stmpe610.  You can assign this to me.

[2018-02-05 19:50] jerryneedell commented on #545
Driver released

[2018-02-05 19:50] #545 closed

[2018-02-05 19:54] ladyada commented on #581
hi! yep this is a good idea :) i did 'FT62xx' called "FocalTouch"
there's *two* interfaces i2c and spi but we tend to use SPI
and SPI is *wierd* on the STMPE is the 'polarity' depends on startup conditions. so you might end up in MODE1
https://github.com/adafruit/Adafruit_STMPE610/blob/master/Adafruit_STMPE610.cpp#L104

[2018-02-05 20:22] kattni opened #583 "Expand "CircuitPython Expectations""
Expand the **CircuitPython Expectations** page to include more FAQs. If there are other things you are finding people constantly asking, please comment on this issue! Thanks!

Potentially combine with **CircuitPython Built-Ins** page.

**Needed additions:**

- [x]  Lack of interrupts (IRQs)

- [x] WINC1500 and Feather M0 support

- [x] Heap memory usage

- [x] MemoryError and how to avoid it

- [x

[2018-02-05 20:26] ladyada commented on #583
people ask about WINC1500 + Feather M0 support - it wont fit into M0 flash :/

[2018-02-05 20:49] tdicola opened #584 "Validate high priority drivers for 3.0 release"
This is an issue to track what drivers have been validated for the 3.0 release.  In discussion on 1/5/18 we decided this is an important release criteria to gate a 3.0 release--validating popular drivers that exercise many code paths.  In particular with 3.0 we have some big changes to memory management and numeric representation/range so validation of drivers that deal with those issues is a prio

[2018-02-05 21:17] ladyada commented on #584
- Multiple SPI devices: TFT FeatherWing (my go-to demo is drawing a bitmap from disk to TFT but a 'touch paint' demo does STMPE + TFT)
- Clock-stretch I2C: BNO055
- framebuf: OLED
- Bi-directional UART: GPS with changing settings via NMEA sentences

[2018-02-05 21:45] ladyada commented on #583
- can AVRs such as ATmega328 or ATmega2560 run CP?
  - differences between "Express" and "Not Express" boards

check discord and hackchat logs for other common Qs :)

[2018-02-05 21:52] ladyada commented on #583
for M0, at least, we store numbers in 30 bits. that means there's a limit/range on both ints (0 to 0x7FFFFFF ) and floats https://github.com/adafruit/circuitpython/issues/572
(check me @dhalbert )

[2018-02-05 22:13] dhalbert commented on #583
Integers are 31 bits signed. Floats are 30 bits (the bottom two mantissa bits are dropped). It's a variable encoding: the lowest bit == 1 means integer; when == 0, the second lowest bit helps specifying the encoding. When two encoding bits are used, the 32-bit value is a 30-bit float or a 4-byte-aligned object pointer or a "qstr" (a static string pointer). See comment below from  `py/obj.h`. There

[2018-02-06 00:06] ladyada commented on #545
awesome work @jerryneedell - you did great!!! :)

[2018-02-06 00:10] ladyada commented on #581
for the return values, i think a dict with 'x' 'y' and 'pressure' might best
https://github.com/adafruit/Adafruit_CircuitPython_FocalTouch/blob/master/adafruit_focaltouch.py#L96
that way its somewhat compatible with focaltouch?

[2018-02-06 00:42] jerryneedell commented on #581
Thanks for the pointers. I’m looking forward to getting this going.

[2018-02-06 00:54] tannewt commented on #576
Found it! We "cleaned" the stable copy and deactivated 1.x. Thanks for the tips @willingc!

[2018-02-06 00:55] ladyada commented on #576
thanks everyone :)

[2018-02-06 00:56] #576 closed

[2018-02-06 06:06] tuupola commented on #437
I am currently evaluating moving to CircuitPython from vanilla MicroPython. Slave I2c would be perfect for my needs too.

[2018-02-06 06:39] arturo182 commented on #578
I wonder if it won't be a little confusing to have to use a library named `gamepad` for key matrices, maybe it would be better to keep the `Gamepad` class but rename the library and add the `Keypad` class in that library. Both classes are pretty close in functionality so they would reuse a lot of the code, like the key scanning and the timer tick stuff.

[2018-02-06 14:33] microbuilder opened #585 "nrf52840: Add serial bootloader"
The nRF52840/PCA10056 support merged in via #573 currently only works with `nrfjprog` and a J-Link. A new serial bootloader needs to be implemented similar to the s132-based feather52 platform, but based on S140.

As an interim solution, this should ideally work with the USB CDC interface on the PCA10056 development board until an internal board is available (pending commercial module availability

[2018-02-06 14:38] microbuilder opened #586 "nRF52: BLE Helper Classes"
Easier to use helper classes on top of the current low level BLE library are required for the following:

## Peripheral Mode

### Core Classes

- [ ] GAP: Advertising
- [ ] GATT: Characteristic Wrapper
- [ ] GATT: Service Wrapper
- [ ] GATT: Description Wrappers (CCCD, etc.)

### Service Wrappers

- [ ] Device Information Service
- [ ] BLE UART (NUS)
- [ ] Physical Web (formerly Eddystone)

## Cen

[2018-02-06 14:42] microbuilder opened #587 "nRF52840: USB Support"
USB support should be added for the following classes as a minimum:

- [ ] USB CDC
- [ ] USB Mass Storage
- [ ] USB HID

A review is currently pending on the best solution for the USB stack, whether to use the Nordic provided stack or another open source alternative that can be used across platforms.

[2018-02-06 14:42] arturo182 commented on #585
The DK can also be flashed with OpenOCD via ST-Link or CMSIS-DAP ;)

[2018-02-06 14:43] arturo182 commented on #586
Are we talking about Python classes here? Are we following the bluepy (http://ianharvey.github.io/bluepy-doc/) API? I would like to help but need to decide on the API first.

[2018-02-06 14:44] microbuilder commented on #561
Closing this issue with the merge of #573, but for follow up see #585, #586, and #587. Issues with the port itself can be handled in a new thread, such as improving `ampy` support for stability, fixing support over the USB CDC interface if possible, etc.

[2018-02-06 14:44] #561 closed

[2018-02-06 14:45] arturo182 commented on #586
In the future we could also look into adding HID and ANCS support, they are quite useful.

[2018-02-06 14:46] jerryneedell commented on #585
IS it still the case that AMPY will only work on the DK via the UART pins, and not via the USB port? This has been working OK for me, but on a few occasions it has resulted in a corrupted FS on the DK.  Has anyone else seen this?
I posted this to the previous PR but here are the details:
[code]

[2018-02-06 14:51] microbuilder commented on #585
Traditionally the UART peripheral on the nRF5x chips has generally **required** HW flow control for reliable communications, which might be what's happening here. I have to do some further testing myself, and I don't know if the peripheral on the nRF52840 is more robust than previous UART blocks at the silicon level, but I've generally always had problems with them without CTS and RTS being used.

[2018-02-06 14:53] arturo182 commented on #585
I have been using UART on the nRF family without HW flow control for a long time and never had any problems. I believe the issue here is that the UART is passed through the JLink chip which seems to corrupt the data coming into the nRF.

[2018-02-06 14:53] jerryneedell commented on #585
@microbuilder Thanks - I do have an "FTDI Friend" that support HW Flow control. I will try connecting that instead of the cable I am using now that only has TX/RX and see if that makes any difference.

[2018-02-06 14:54] arturo182 commented on #585
I have been using a external USB to UART board with only RX/TX and had no problems with ampy.

[2018-02-06 14:54] microbuilder commented on #586
Yeah, the goal is ideally something sitting on top of bluepy (for portability reasons), and I'm talking about Python helper classes, I'll clarify that in the subject line.

The current bluepy API assumes a reasonable amount of knowledge at the packet level and about BLE, and helper classes can make working with things like indicate/notify and advertising properly much less error prone for end user

[2018-02-06 14:58] microbuilder commented on #586
@arturo182 We already have helpers for a lot of useful services like ANCS for Arduino ... the goal is of course migrating similar helpers over to Python, though the API will obviously be different on a different platform and language: https://github.com/adafruit/Adafruit_nRF52_Arduino/tree/master/libraries/Bluefruit52Lib/src

[2018-02-06 14:59] arturo182 commented on #586
If we want to only support s132 and s140, does that mean we drop support for s110, s120 and s130? I see there are many defines for those SDs in the ble driver and I'm not sure how well those have been tested, does CP even run on those 16K/32K RAM nRF51 devices? Maybe we should remove the board and linker files for the nRF51 family and only support nRF52.

And another question, is the pca10040 supp

[2018-02-06 15:04] arturo182 commented on #586
I think we should also have an issue for more advanced BLE features like security, bonding (and we need somewhere to keep the IRK), advertising whitelists, and connection interval management (important for power efficiency).

[2018-02-06 15:04] jerryneedell commented on #585
@arturo182 good to know. I'll keep track of the issues I have with ampy  and see if I can find a reproducible issue.

[2018-02-06 15:05] microbuilder commented on #586
Personally, S132 and S140 are the only targets that I think have a lot of value moving forward. The older devices are too small to be useful. As part of the next PR, I was actually planning on removing a lot of boards, and focus on the micro:bit, feather52 and PCA10056 boards exclusively, or anything similar enough to those to easily maintain without stretching ourselves too thin. The combination

[2018-02-06 15:08] arturo182 commented on #586
That sounds good, If we remove the older SDs from the ble driver i think it will become way cleaner and since s132 and s140 SDK is fairly similar, there won't be that many ifdefs.

I think it's worth leaving the pca10040 in, but remove all the nRF51 boards.

Let me know how I can help, don't want to step on your toes.

[2018-02-06 15:11] arturo182 opened #588 "nRF52: Rename pins to match nRF conventions and DK silk"
I think we should rename the pins to PX_YY instead of PAYY and PBYY, so we can match the naming used by Nordic and the silkscreen on the DKs, this issue was also discussed in https://github.com/adafruit/circuitpython/pull/575#issuecomment-362990100

If it's no problem, I can be assigned to this issue.

[2018-02-06 15:12] microbuilder commented on #585
@arturo182 They redid the entire UART block migrating from the nRF51 (which didn't work reliably without flow control and had a tiny internal FIFO) to the nRF52, which improved things, but we had to fix issues in this fork to get paste mode working 100% reliably, for example. It's a combination of firmware and proper use of the HW, but I've been bitten enough by the UART blocks I don't trust them.

[2018-02-06 15:17] microbuilder commented on #588
I'm OK with this personally.

[2018-02-06 18:05] tannewt commented on #588
Sounds good to me!

[2018-02-06 18:21] tannewt commented on #586
It sounds like the bluepy API will work to build the higher level helpers on top of. The current `ubluepy` is slightly different from the proper `bluepy` API and it'd be great to redo ours to be an exact subset (or identical). The biggest difference I know of is that `ubluepy` doesn't use properties. That's a MicroPython design decision that we don't follow. (We pick consistency over memory optimi

[2018-02-06 18:23] tannewt commented on #587
I'd love to be involved in the USB stack discussion. We're not very wedded to ASF4 at all for SAMD21 and SAMD51.

[2018-02-06 18:26] sommersoft commented on #544
So, after a few more days crawling around the core, I think checking for a live REPL connection isn't _currently_ possible. One exception to that is WebREPL; that would be doable by checking for the file stats. Of course I caveat all of this with "I am very possibly wrong", but here is how I've come to that conclusion.

1. Starting at `circuitpython/main.c:L#119`, the boot code checks `serial_conn

[2018-02-06 18:39] microbuilder commented on #587
I'd love to be able to get @hathach to spend a bit of time updating https://github.com/hathach/tinyusb since we'd have full control over the design decisions there, and it was designed from the start to be vendor neutral (which clearly isn't the case with most other stacks out there). Other options may make more sense after some digging, of course, but I think tinyusb is a strong option with a per

[2018-02-06 18:39] tannewt commented on #544
Use `serial_connected` to determine whether serial is connected. Rename isREPLconnected to isSerialConnected in your brain. Many folks confuse REPL with serial.

I think USB enumeration status would be a bit more difficult actually. I don't believe we track it at this point.

[2018-02-06 18:41] tannewt commented on #587
@microbuilder I'm on board with that. Do we expect much difference in timeline to get USB on nrf52840 going between the two options?

[2018-02-06 18:50] arturo182 opened #590 "nRF52: Clean up examples"
It seems some of the examples in the nrf port are not valid anymore, for example the seeed tft one uses framebuf and machine, neither of those modules is available in the port.

Shouldn't the examples be better structured, the ones in the root directory should work on "all" supported ports, the ones inside the port directory should work on all boards that port supports and examples inside a board

[2018-02-06 19:04] tannewt commented on #590
Yes! Examples in the repo aren't critical because we have detailed tutorials and how-tos on https://learn.adafruit.com.

[2018-02-06 19:20] arturo182 opened #591 "nRF52: Remove non-nRF52 board"
As mentioned in #586, let discuss what to do about the nRF51 boards, at the moment they don't build because they lack `board.c` files (a requirement added in 60a23f0fb65bebe91ab8b6da4a32ed0b012e9313), we could either fix them and keep them, although I'm not sure how well they work and if the `ubluepy` module even works on them, or we could remove them.

That would mean removing pca10000, pca10001,

[2018-02-06 19:24] arturo182 commented on #591
Oh no, I just noticed the microbit uses a nRF51 chip, and it was mentioned that we want to keep support for that one, so this whole issue might not be so useful. I guess we can still discuss removing the other DKs, but the driver ifdefs might have to stay. Either that or we separate the driver into two files, one for nRF51 SDs and one for nRF52 SDs.

[2018-02-06 19:56] microbuilder commented on #591
micro:bit is the problem at the moment, yes. It's a popular platform and worth continuing to test against. I think that situation will likely change at some point in the future, but perhaps the suggestion of two interim radio files is the right one to at least keep the more similar nRF52 code clean and easy to update?

[2018-02-06 19:58] microbuilder commented on #587
I'll have to ping Thach for an estimate here since he's the one who will be doing the brunt of the USB work, since he knows it best.

[2018-02-06 20:20] arturo182 opened #593 "Allow ifdefing out classes in the analogio module"
Some MCUs, like the nRF do not support analog output so it would be best to not have the AnalogOut class available on that port, right now it is no possible and the constructor just throws an exception, which will at least inform the user that they are trying to perform a unsupported operation.

[2018-02-06 20:21] microbuilder commented on #591
The key boards in my mind that we should be testing against and considered 'supported' are:

## nRF52

- [ ] feather52
- [ ] pca10056

## nRF51

- [ ] microbit

With the goal of dropping nRF51 support entirely once micro:bit comes out with an nRF52 option (?), and people can always go back to previous releases for legacy support?

Those are just my personal opinions, though, since I think the nRF5

[2018-02-06 21:05] arturo182 commented on #526
If I understand correctly the `audiobusio` module offers a interface for I2S which the nRF52 family has so that module could also be implemented in the nRF port! :)

[2018-02-06 21:53] tannewt commented on #593
I prefer throwing an exception instead of removing it. I only want to remove things at the module level, not the class level. We have a chart for module support here: https://circuitpython.readthedocs.io/en/latest/shared-bindings/index.html#support-matrix

I understand this costs a bit of code size but would prefer a specific error message over a name not found exception. The ESP port raises an OS

[2018-02-06 21:54] arturo182 commented on #593
Ok, I see, I will update my PR to make it consistent with the ESP port.

[2018-02-07 00:42] ladyada commented on #591
im ok with dropping nrf51 completely and not doing any work to support, its ridiculously small + slow, and customized and nordic is clearly trying to kill it off :) microbit people can stick to micropython which is the official standard for them anyhow

i do want to support both nrf52832 and '840, even tho 840 is way superior, if its feasable

[2018-02-07 01:37] PTLindstrom opened #595 "L3GD20H"
tannewt asked me to put a "lib request" in on the two chips used in the Adafruit 9dof breakout

[2018-02-07 01:38] PTLindstrom opened #596 "L3GD20 - a 3-axis gyroscope"
tannewt asked me to put a "lib request" in on the two chips used in the Adafruit 9dof breakout
here is the 2nd chip

[2018-02-07 01:42] tannewt commented on #596
Chip is on: https://www.adafruit.com/product/1032

[2018-02-07 01:44] tannewt commented on #595
Chip is on: https://www.adafruit.com/product/1247 and https://www.adafruit.com/product/1120

[2018-02-07 01:45] tannewt commented on #595
And discontinued: https://www.adafruit.com/product/1714 and https://www.adafruit.com/product/1604

[2018-02-07 02:03] ladyada commented on #595
dastels wrote one for us, please try it?
https://github.com/adafruit/Adafruit_CircuitPython_LSM303

[2018-02-07 02:11] PTLindstrom commented on #595
wow, that was quick.... I'll see if I can make it work

[2018-02-07 02:15] ladyada commented on #595
thanks! if it doesn't please open an issue on that repo and we'll see what it could be!

[2018-02-07 04:58] siddacious opened #597 "Support for 48-pin ATSAMD51G devices"
There are a very small handful of places that assume that if you're using a SAMD51 that you're using a SAMD51J. We should support the SAMD51G to allow us to pack the SAMD51/CP wombo-combo into an even smaller package.

From looking at the datasheet, the differences between the 51J and 51G are
- Number of TCs
- Number of 16bit TCCs
- I2S support
- Number of GPIO
- Number of ADC channels on ADC1
- N

[2018-02-07 07:05] arturo182 commented on #591
That would be great! I'd say in some regards nRF51 is keeping us back with the ble driver, so dropping it would be beneficial. I don't see any problems with maintaining both nRF52832 and nRF52840, they are quite similar. We could even look into supporting nRF52810, but AFAIK the chips are not available yet and there is no DK for it, Nordic's SDK says to use the nRF52830 DK with some peripherals tu

[2018-02-07 07:19] ladyada commented on #591
my pleasure! go for it :)

[2018-02-07 17:00] microbuilder commented on #585
Purely for convenience sake, the UART pinout on the PCA10056 is as follows:

<img width="665" alt="screen shot 2018-02-07 at 17 56 26" src="https://user-images.githubusercontent.com/181073/35929827-b117651a-0c30-11e8-89a9-71fe1b396a4c.png">

Source: http://infocenter.nordicsemi.com/pdf/nRF52840_PDK_User_Guide_v1.0.pdf

[2018-02-07 17:47] tannewt commented on #595
We can close this. There is a separate issue for the L3GD20 (#596).

[2018-02-07 17:47] #595 closed

[2018-02-07 17:49] tannewt commented on #597
I'm on board with supporting the samd51G.

For the clock debug pins we can either change them or simply remove them. Its there for debugging only and can be added back as needed.

PRs welcome! Thank you!

[2018-02-07 17:52] ladyada commented on #591
nRF52810 is maybe not possible - 192KB _and_ you have to include the SD? seems challenging - we can barely fit the SAMD core into 256K and thats without BLE. Either way i think nordic's bitten off quite a bit of work for themselves, i do not expect it before 2019!  :) we'll revisit when they're available

[2018-02-07 18:05] arturo182 commented on #591
Nordic just recently tweeted that the nRF52810 went into production (https://twitter.com/NordicTweets/status/961197875995824128) but you might be right, that flash amount is not really enough.

And yeah, between 3 BLE chips and the new LTE-M SoC, SiP and DK, they have a lot on their plate :D

I noticed that in the readme for the port the Nordic Thingy52 is mentioned as supported even though there

[2018-02-07 18:07] ladyada commented on #591
im into the Thingy! its pretty cool. i tried to get them to let us stock it, ill try again too :) either way, a Thingy target would be neat, hopefully can be doe as a variant the way SAMD boards are done

[2018-02-07 19:02] arturo182 commented on #591
Hey @microbuilder I'm working on removing nRF51 stuff from the ble driver and I test by building feather52 and pca10056, pca10056 works with SD 6, feather works with SD 2 and SD 5 but there is a linker script missing for SD 3, otherwise I think it would work too. So my question is, do we need/want to support all these SDs for the feather? Couldn't we just have support for SD 5 in the feather and 6

[2018-02-07 19:35] microbuilder commented on #591
We only use s132v2.x, s132v5.x and s140 ... I'm OK with dropping the others.

[2018-02-07 19:37] microbuilder commented on #591
I'd like to continue to support s132v2.0.1 for now for historical reasons since the Arduino nRF52 boards ship with S132v2.0.1 and a bootloader based on that, so that means things will work out of the box there, and people can switch back to Arduino with the same HW and bootloader.

[2018-02-07 19:44] arturo182 commented on #591
Oh, does that mean i should leave the arduino_primo board files and support? I thought we discussed only the feather and nRF52 DKs, but it shouldn't be a problem to bring it back and make sure it builds. Just let me know

[2018-02-07 19:45] microbuilder commented on #591
No, sorry ... I mean that the same HW people order (feather52) can be used for programming inside the Arduino IDE as well, which currently supports both S132v2.0.1 (default) and v5.0.0. Not the same as the Primo board!

[2018-02-07 19:46] arturo182 commented on #591
Ok then we're good :D

[2018-02-07 20:22] brentru commented on #570
I've been working on this today, but @dhalbert  noticed that using the standard epoch designation (1970) won't work if we pass it anything larger than 2^30 (since the top bit is a sign bit).

We think it _has to either use a later epoch than 1970_, or maybe shifting the epoch (https://howardhinnant.github.io/date_algorithms.html#civil_from_days) is a way to avoid this as well.

[2018-02-07 20:30] tannewt commented on #570
I don't think we should use a different epoch. Lets comment it with a warning about int size and make sure we handle the larger ints available on m4 boards.

[2018-02-07 21:03] dhalbert commented on #570
But we can't use the 1/1/1970 epoch to convert the current date/time, because the number of seconds to now since 1/1/1970 is > 2**30. We can only do dates up to sometime in 2014. If we think we're going to get values from some other source that are >2**30, we have to think about what to do.

[2018-02-07 21:13] #593 closed

[2018-02-08 13:36] ladyada commented on #597
fyi feather will be 51g 😀

[2018-02-08 17:04] ladyada opened #605 "WebUSB REPL"
https://developers.google.com/web/updates/2016/03/access-usb-devices-on-the-web
https://github.com/webusb/arduino
Expose REPL w/WebUSB HID -> no native serial monitor required whatsoever
**But** is Chrome only right now. Still, Chrome is a popular browser.
Lets ponder for 4.0 or beyond!

[2018-02-08 17:53] tannewt commented on #605
I think this is a good idea too! We could share a lot of development work between a WebUSB webpage and a standalone, cross-platform Electron app (which is chromium under the hood).

[2018-02-08 18:02] tannewt opened #606 "Rework core doc build"
I've moved conf.py files for new libraries into a docs folder and we should do the same in the core. We should also only have one c2rst.py that it uses.

[2018-02-08 18:13] siddacious commented on #597
@ladyada 👍
Let me know if you need alpha/beta testers!

[2018-02-08 18:54] tannewt commented on #570
On the M4 boards we can store ints > 2**30. We could provide a separate method that could handle the conversion from a series of ints or bytes if we want to handle the M0. time.gmtime should match what CPython does regardless of whether the input ints can be current time or not.

[2018-02-08 20:46] tannewt opened #607 "Switch libraries to Google Style doc strings?"
[Google style docstrings](http://www.sphinx-doc.org/en/stable/ext/example_google.html#example-google) are easier to read as plain text. However, the inline docs we have for the core APIs can only be rST because they aren't extracted from Python files.

Do we still want to switch to Google Style for libraries?

[2018-02-08 20:48] tannewt commented on #607
We should merge https://github.com/adafruit/cookiecutter-adafruit-circuitpython/pull/17 if we decide to.

[2018-02-09 05:31] sommersoft commented on #544
So, I'll press forward with just extending `serial_connected` to the python layer. I want to dig a little on the nRF port being hardcoded to `return true;`, though.

I started to look at checking/tracking USB enumeration...a bit out of my depth. That ASF4 stuff is seriously fragmented. Don't know how you and Dan deal with that on the regular...

[2018-02-09 06:37] tannewt commented on #263
Off by one error!

[2018-02-09 06:38] tannewt commented on #262
Fixed by 82bc11585e68490e5caba7745ff89f108a489eb5

[2018-02-09 06:38] #262 closed

[2018-02-09 06:40] tannewt commented on #472
@deanm1278 this is done right?

[2018-02-09 06:49] tannewt commented on #565
Here is where I left on this. Not sure where it was at: https://github.com/tannewt/usb_descriptor/tree/hid

[2018-02-09 17:08] mrmcwethy commented on #493
We finally have examples folders for all the Adafruit Bundle Libraries.  Thanks everyone!

[2018-02-09 17:08] #493 closed

[2018-02-09 17:26] ladyada commented on #493
AMAZING!!!! thanks x 1000 for your help @mrmcwethy

[2018-02-09 17:32] tannewt commented on #493
🎉

[2018-02-09 17:34] dhalbert commented on #493
@mrmcwethy thank you and thank everyone who else who contributed examples! The libraries are in great shape!

[2018-02-09 18:15] tannewt commented on #544
The nRF may not be able to tell because it uses a separate USB to UART chip. The newer ones will do USB but this probably hasn't been updated for it.

Do a PR for the serial connection first and then do usb enumeration separately.

[2018-02-10 12:54] cefn opened #611 "Circuit Python launches with cruft at console leading to SyntaxError - ModemManager to blame"
On (L)ubuntu 17.10 if I plug in a stock Feather M0 Express running CircuitPython provided by adafruit-circuitpython-feather_m0_express-2.2.3.uf2 and then wait a respectful amount of time for it to launch, connecting using `screen /dev/ttyACM0 115200` then I get

SyntaxError: invalid syntax

Whatever I type as my first command, including empty line.

If I am more swift to connect to the board, I ca

[2018-02-10 12:54] #611 closed

[2018-02-11 16:25] tuupola commented on #570
32bit unsiged integer could store timestamps until year 2106. With unsigned you lose the possibility to represent days before epoch though.

[2018-02-12 07:00] tannewt opened #613 "Add/fix ReadTheDocs badge"
We had a bad cookiecutter for a while that added extra lines into the `README.rst` in the ReadTheDocs badge like this:

[code]

It should be:

[code]

These are super simple changes that are great practice for using GitHub. Feel free to ask questions here as needed.

These repos need a look:

- [x] https://github.com/adafruit/Adafruit_CircuitPython_VCNL4010
- [x] https://github.com/adafruit/Adafru

[2018-02-12 15:46] #591 closed

[2018-02-12 15:48] arturo182 opened #615 "nRF52: Add safe mode support"
Boards needing safe mode support:

- [ ] Feather nRF52
- [ ] pca10040
- [ ] pca10056

[2018-02-12 18:22] jerryneedell opened #616 "I2C issue on NRF52 (PCA10056 board)"
I have been seeing an issue with I2C on the PCA10056 board with the CircuitPython master as of this morning:
[code]

I am opening this as a "heads up" and I'll continue to experiment with it.
The error reported below is using the vl53l0x driver from the current "bundle" and the test code from the examples subdirectory of the repo
https://github.com/adafruit/Adafruit_CircuitPython_VL53L0X

for this

[2018-02-12 18:29] arturo182 commented on #616
Thanks for the heads up, I have not tested the DKs with I2C at all so it's quite possible it's broken there. Tomorrow I'll grab some I2C boards from my hackerspace to test, if I can reproduce and get a backtrace in C then it will be easier to fix.

[2018-02-12 18:55] jerryneedell commented on #616
@arturo182 FYI - I have not seen any I2C errors with an mcp9808 temperature humidity sensor. I'll try a few more sensors and report.

[2018-02-12 21:53] arturo182 commented on #588
Fixed in #617

[2018-02-12 21:58] microbuilder commented on #588
Thanks. Just waiting for the automated tests to run and I'll have a look at this.

[2018-02-12 23:02] wolf opened #619 "asyncio, async, and await would be super helpful"
`asyncio` provides event loop code and asynchronous coroutines that fit perfectly with the I/O needs of these all-I/O boards.

Strongly related to <https://github.com/adafruit/circuitpython/issues/197>, though things have changed since then.  I'd love to see `async` and `await` available and used with `asyncio`.  I have time to work on this but would need guidance on how to do the right thing.

[2018-02-13 01:13] tannewt commented on #597
This done @siddacious ?

[2018-02-13 01:14] tannewt commented on #570
@tuupola CircuitPython's ints are 31 bit signed so we only get 2**30 without long int support enabled.

[2018-02-13 01:23] tannewt commented on #619
@wolf adding this would be awesome! I don't know much about asyncio myself so it'd be great to chat about what is needed for it. I know micropython has uasyncio but haven't looked at it myself. I'd want us to match the way CPython works even if MicroPython doesn't.

When are you available to chat or what guidance can I help with? I'm on Discord during the days Pacific time and can hop on other tim

[2018-02-13 01:40] ladyada opened #620 "Absolute mouse (touchscreen) HID support"
Good one to do when we do multimedia key support (i believe we just need to craft the report API)

[2018-02-13 01:53] tannewt commented on #433
Bumping this to Alpha milestone since it could be hardware related.

[2018-02-13 01:56] kattni commented on #619
It'd be great if we could coordinate with @dhalbert as well.

[2018-02-13 02:02] wolf commented on #619
Telling me that we want to match CPython over MicroPython is exactly the kind of guidance I'm looking for.  I'll have to figure out the details; I'm starting from scratch here.  Anything you can tell me about goals, constraints and dreams will be a help.  I am Eastern time, so my 4pm (about when I arrive home from work everyday) might be convenient for both of us.  Once we pick a time, just about

[2018-02-13 02:04] tannewt commented on #619
4pm eastern works great for me! Wednesday - Friday are best for me.

There is more design guidance here: https://circuitpython.readthedocs.io/en/latest/docs/design_guide.html Its a random assortment of stuff.

[2018-02-13 02:05] dhalbert commented on #619
Yes, most days are fine for me. Just Monday afternoons are taken for all three of us. You saw that there is a `MICROPY_PY_ASYNC_AWAIT` compile option? We just don't have it turned on.

[2018-02-13 02:11] wolf commented on #619
Then I propose this coming Thursday, 15 February at 4pm Eastern on Discord.  That will give me a little time to do research first so I have the right grounding to absorb your advice.

[2018-02-13 02:12] kattni commented on #619
Thursday 4pm works for me.

[2018-02-13 02:12] tannewt commented on #619
Works for me!

[2018-02-13 02:13] dhalbert commented on #619
OK by me too.

[2018-02-13 03:36] siddacious commented on #597
It's compiling, loading and giving me a REPL and a working status neopixel however in testing I ran into some SPI issues but I don't know how to differentiate problems with my board and board config from CP issues.

 I think it's good enough for now to allow others to build for a 51G and get others using it. I'll open another issue if I find something that needs to be fixed.

[2018-02-13 03:36] #597 closed

[2018-02-13 05:42] tuupola commented on #570
Oh, did not know. Just out of interest where did the one bit go?

[2018-02-13 05:54] tannewt commented on #570
We lose bits due to pointer boxing where data is stored in pointers themselves. There is a bit of explanation here: https://github.com/adafruit/circuitpython/blob/master/py/mpconfig.h#L66

[2018-02-13 05:59] tuupola opened #622 "Consistency in unified sensor driver property naming"
To avoid hijacking an [unrelated thread](https://github.com/adafruit/circuitpython/pull/600) I move this here. Currently there is [mixed capitalization](https://github.com/tannewt/circuitpython/blob/09bf06bc6bf4eba0ad03916425ad45ebab9f0025/docs/design_guide.rst#L470-L472) in the design guide concerning unified sensor driver property naming.

Consistency is usually good thing. If everything is lowe

[2018-02-13 17:22] microbuilder commented on #588
Closed via #617

[2018-02-13 17:22] #588 closed

[2018-02-14 20:08] brentru commented on #613
@tannewt Note - the [SSD1306 repo](https://github.com/adafruit/Adafruit_CircuitPython_SSD1306) 404's [on its ReadTheDocs page](https://circuitpython.readthedocs.io/projects/ssd1306/en/latest/)

[2018-02-14 20:39] tannewt commented on #613
Thats the right link for ssd1306 but the build itself isn't set up right. The build output is here: https://readthedocs.org/projects/adafruit-circuitpython-ssd1306/builds/6661205/

I'd expect register to be at https://circuitpython.readthedocs.io/projects/register/en/latest/

[2018-02-15 15:15] microbuilder commented on #585
See #623

[2018-02-15 15:16] microbuilder commented on #585
@jerryneedell @arturo182 If either of you have time to test the new bootloader and BSP, any feedback would be valuable. I've tried to put everything I thought was useful in the README.md file, referenced in the PR!

[2018-02-15 15:19] jerryneedell commented on #585
@microbuilder - thanks - I hope to be able to try it out this evening.

[2018-02-15 15:28] microbuilder commented on #585
Thanks! I'm happy to give you write access to the microbuilder/circuitpython PR fork if you need it for anything, just ping me and let me know!

[2018-02-15 19:48] tannewt commented on #622
I've been silent on this because I haven't felt super strong about it. I thought about expanding them out (`total_volatile_organic_compound` for example) but then they get really long. Ultimately, I agree with you @tuupola. Switching to lowercase makes sense to me.

[2018-02-15 21:33] microbuilder commented on #585
Closed via #623

USB bootloader support will be added in a separate PR after CNY/Tet when @hathach is back, since he'll be doing most of the USB work.

[2018-02-15 21:33] #585 closed

[2018-02-15 22:17] tannewt opened #624 "Fix autodoc in library doc builds"
These repos have docs that may technically pass but the autodoc portion fails. This is usually due to a library not being mocked out. To fix it, a line must be added to conf.py to tell sphinx to mock out specific modules. Here is the line from the latest cookicutter's conf.py:

[code]

Copy these four lines, uncomment the fourth and adjust the list until the sphinx build includes the autodocs.

-

[2018-02-16 05:39] sommersoft commented on #624
Just for clarification/get-out-in-front of questions: will these need PRs to the bundle repo, or will adabot pull them automagically?

[2018-02-16 05:54] sommersoft commented on #583
Totally flaked on adding this after the meeting this week...

ESP32: When is it coming to CircuitPython?

The summarized standard answer I've seen, and given, is that we're not currently developing for it and will pull from MicroPython once their dev is complete. Also, we have no ETA.

[2018-02-16 05:58] tannewt commented on #624
Just PRs to individual repos. ReadTheDocs is based on each repo so it'll pick them up once merged. They don't even need a release.

[2018-02-16 19:08] #265 closed

[2018-02-16 19:13] siddacious commented on #265
👍

[2018-02-18 00:58] sommersoft commented on #283
Just wanted to make some notes here. I was skimming through Noridc documentation, and noticed that nRF52x also has rotary encoder as a peripheral. Not surprising, since it's M4 based.

They refer to it as "Quadrature decoder" or "QDEC". Here are links to the documentation:
- nRF52832: [QDEC](https://infocenter.nordicsemi.com/topic/com.nordic.infocenter.nrf52832.ps.v1.1/qdec.html?cp=2_1_0_35#concep

[2018-02-19 15:30] microbuilder commented on #283
The Arduino nRF52 Repo contains a [RotaryEncoder](https://github.com/adafruit/Adafruit_nRF52_Arduino/tree/master/libraries/RotaryEncoder) library with both HW and SW implementations for this, just as a reference. If a common API is added at the HAL layer, it shouldn't be too complicated to add nRF52 support used the QDEC peripheral or GPIO.

[2018-02-19 17:29] ladyada commented on #283
making a note here that SAMD has very fixed pins for QDEC - so for that platform, at least, we should just DIY with a timer interrupt - an existing one would probably be fine as the checking code is very small

[2018-02-20 00:55] mrmcwethy commented on #613
@ tannewt @brentru I believe this issue can now be closed.

[2018-02-20 02:47] tannewt commented on #613
Great job @mrmcwethy and @brentru !

[2018-02-20 02:47] #613 closed

[2018-02-20 17:52] ladyada opened #629 "struct'ify SPI flash chip definitions"
we have a little breathing room in external-flash builds. Rather than using #define's, lets create small packed structs, JEDEC-ID-indexed, with details on all the SPI flash chips we come across. Then circuitpy can automatically initialized no matter what chip it finds. This will future-proof us as SPI flash chips come-and-go & also make it easier for non-adafruit-made hardware

[2018-02-20 20:03] brentru opened #630 "Nokia 5110/3110 Monochrome LCD"
Add support for the Nokia 5110/3110 Monochrome LCD

Product Page: https://www.adafruit.com/product/338

Python Library: https://github.com/adafruit/Adafruit_Nokia_LCD

[2018-02-21 05:12] sommersoft commented on #566
Assigned myself, but **anyone** feel free to jump in. @ me if you start one so I can mark it, or if you get one completed and need it marked as complete.

So, I took step one and made a list of the _current_ drivers in the bundle. Then, went through each one to see if any were already completed (knew it would be a short list).

At any rate, here's the task list:
## DRIVERS ##
- [ ] ads1x15
- [ ] a

[2018-02-21 19:04] tdicola commented on #231
IMHO the canonical python way to handle non-blocking io is with select: https://docs.python.org/3/library/select.html  Like Radomir mentions though it quickly gets into platform specific optimizations for desktop though (poll, epoll, kpoll, etc.), but at the end of the day they're all the same idea of polling for availability of data from an arbitrary file descriptor with a select-like API.  Addin

[2018-02-21 22:38] jallwine commented on #569
I'm seeing similar weirdness developing my own python library. Subtle, seemingly innocuous changes trigger a MemoryError exception. I don't have a solid test case, but in an attempt to track things down I've put a print(gc.mem_free() / 1024) my main code.py file and started commenting out swaths of code in the library that it's importing. It'll print >10K of memory left in one run, but uncommentin

[2018-02-21 22:41] deshipu commented on #569
That's effects of memory fragmentation, most likely — you don't only need to have that much memory free, you have to have it all in one chunk to allocate it.

[2018-02-21 22:46] jallwine commented on #569
That makes sense, is there a recommended process for limiting fragmentation? Reseting the board more often?

[2018-02-21 22:49] deshipu commented on #569
Reset works, of course. There also has been some awesome work in #547 to improve the situation.

[2018-02-21 22:56] jallwine commented on #569
Awesome! Seems that this is worth a mention in a troubleshooting page somewhere. This isn't something that's regularly encountered in your every day python development.

[2018-02-21 22:56] dhalbert commented on #569
There's no memory state saved between resets, so it starts from scratch after each reset. #547 will help a lot. For now, two things to do are perhaps to load larger modules first, and compile (mpy-cross) as many modules as you can, so you don't have to compile to bytecodes on chip.

[2018-02-21 23:00] ladyada commented on #583
Memory Error, and how to avoid it:
https://github.com/adafruit/circuitpython/issues/569#issuecomment-367506037

[2018-02-21 23:19] jallwine commented on #569
Thanks @dhalbert. Could you clarify what a reset is? Pressing the reset button? Power cycling the board? The soft reboot that happens after saving your code.py or library file?

[2018-02-22 00:00] jallwine commented on #583
Not sure if this qualifies as something that is asked constantly, but this page has a couple issues that I ran into when trying to read serial data with the CircuitPython on the Circuit Playground Express (CPX): https://github.com/AllwineDesigns/CircuitPythonSerialGlitchiness

Things that I think are worth noting on an FAQ or troubleshooting page are:

* The USB serial connection is only accessibl

[2018-02-22 04:07] #198 closed

[2018-02-22 04:07] #228 closed

[2018-02-22 04:11] kattni commented on #579
Finished up! https://learn.adafruit.com/hacking-ikea-lamps-with-circuit-playground-express/

[2018-02-22 04:11] #579 closed

[2018-02-22 12:35] deshipu commented on #231
It seems to me that being able to `select` or `await` on a DigitaIO object (or something that wraps it) would handle most of the cases for us. SPI and I2C are clocked by master, so nothing interesting happens with them without the master initiating it. AnalogIO could be selectable/awaitable also, but would require specifying a threshold. Selecting on a timer would pretty much be equivalent to doin

[2018-02-22 16:50] microbuilder commented on #587
Now that @hathach is back from holidays (new year), I'm going to do some project planning to figure out the minimum requirements for a viable USB solution that covers both SAMDxx and nRF52840 and should be maintainable across future platforms. It will be a separate repo and project so that I can do the project management on Github and track things there, but I'll post a link here once a first pass

[2018-02-22 17:18] tannewt commented on #587
@microbuilder sounds excellent. @dpgeorge may want to use it in MicroPython for nRF52 USB as well.

[2018-02-22 20:37] siddacious commented on #514
I've been looking into getting the Dotstar to work for my m4 board so I can take a look at this now that I have a trinket and bitsy.

[2018-02-22 21:33] kattni opened #635 "CircuitPython Quick Start Unification"
Unify the CircuitPython quick starts for mirroring across all the board guides!

For CircuitPython Expectations, see issue #583

**QUICK START PAGES:**

- [x] CircuitPython Built-Ins

- [ ] CircuitPython Digital In & Out

- [ ] CircuitPython Analog In

- [ ] CircuitPython Analog Out

- [ ] CircuitPython Internal Dotstar (NeoPixel)

- [ ] CircuitPython Cap Touch

- [ ] CircuitPython I2C Scan

- [ ]

[2018-02-22 21:55] ladyada commented on #635
ok lets look at https://learn.adafruit.com/adafruit-trinket-m0-circuitpython-arduino/circuitpython-built-ins first
do we want to move the bottom section "Things to watch out for!" to 'Expectations'? maybe just point people to the Expectations page. otherwise this is kinda generic already?

[2018-02-22 22:00] kattni commented on #635
I was thinking on this one. It is generic already, yes. I put it on the page because there's a couple of changes I think we need to make. I agree the "Things to watch out for" needs to be moved to The Expectations Expansion (I'll add to that issue when I'm done with this comment). I also think the "Handy Tips" page needs to be split between Built-Ins and Expectations (already updated that issue to

[2018-02-22 22:01] ladyada commented on #635
ok go for it!

[2018-02-22 22:01] kattni commented on #583
Include the following from CircuitPython Built-Ins (some of this is already included):
Things to watch out for!

-   The wide body of python libraries have not been ported over, so while we wish you could import numpy, numpy isn't available. So you may have to port some code over yourself!
-     For the ATSAMD21 based boards (Feather M0, Metro M0, Trinket M0, Gemma M0, Circuit PlayGround Express)

[2018-02-22 22:15] kattni commented on #635
Ok I split Handy Tips up, unmirrored and deleted that page. I quick updated Built-Ins. I think if we decide to add much more to it, we'll want to do some clearer delineation, but it looks great for now! The Expectations page and issue have been updated with the info removed from Built-Ins. I think Built-Ins is done for now!

[2018-02-22 22:19] ladyada commented on #635
okidoke lets move to digital IO
https://learn.adafruit.com/adafruit-trinket-m0-circuitpython-arduino/circuitpython-digital-in-out
i think i picked the pin #'s because they exist on all devices (other than cpx) so what we need to do is add a side2 element with a photo or fritzing showing where the digital #13 LED and pin #2 are)

[2018-02-22 22:21] kattni commented on #635
So a side2 list including every board?

[2018-02-22 22:24] ladyada commented on #635
i think better to have one side2 per board

[2018-02-22 22:35] kattni commented on #635
Yah that's what I meant :)

On it!

[2018-02-22 22:50] kattni commented on #635
Is D2 on the ItsyBitsy the 2 in the corner or is it the alternate of A2?

[2018-02-22 23:08] deshipu opened #636 "Can't upload files on HUZZAH when main.py is present"
I just tried using CircuitPython on a HUZZAH — I got the released binaries for 2.2.3 and used ampy to upload files to it. Everything works fine until you upload `main.py`, after that ampy is no longer able to upload anything. It waits a long time, and finally crashes with:

[code]
The only way to make it work again is to delete `main.py` from the REPL.

[2018-02-22 23:50] tannewt commented on #569
@jallwine @dhalbert means the soft reload that happens on save.

As @deshipu points out, we have improvements in master (future 3.0.0) that could help a bunch.

[2018-02-22 23:55] sommersoft commented on #566
README Badges: some have `Gitter` some don't. Do we want all, some, or none to have it?

[2018-02-22 23:56] tannewt commented on #566
@sommersoft I remove them in favor of the Discord badge when I come across them.

[2018-02-23 00:36] ladyada commented on #635
D2 on itsybitsy is labeled '2' yeah

[2018-02-23 02:10] caternuson commented on #583
How about an acronym decoder ring, with links.
CP = CircuitPython (link to welcome to guide)
CPC = Circuit Playground Classic (link to PID 3000)
CPX = Circuit Playground Express (link to PID 3333)

[2018-02-23 11:31] deshipu commented on #636
Of course I forgot to add, that `main.py` contains an infinite loop.

[2018-02-23 12:16] deshipu opened #637 "Fix down the ESP Open SDK version used to build CircuitPython for consistency"
I'm trying to build my own version on the 2.2.3 CircuitPython for HUZZAH, but I'm getting the following error:
[code]
It seems like the esp-open-sdk that is mentioned in the README is no longer compatible? What version of esp-open-sdk should I be using?

[2018-02-23 12:23] deshipu commented on #637
The following changes made it compile:

[code]

[2018-02-23 12:23] deshipu commented on #637
Should I make a pull request?

[2018-02-23 12:25] jerryneedell opened #638 "ESP8266 BSP build fails for CP 3.0"
I get the following error when building CP3.0 for the ESP8266

[code]

[2018-02-23 12:30] deshipu commented on #637
Even after that, I still get:
[code]
I guess the firmware grew too much?

[2018-02-23 12:35] jerryneedell commented on #637
hmmm  - I just did a fresh pull and checkout of 2.x and I get the following  error:
[code]

[2018-02-23 13:12] jerryneedell commented on #637
It looks like the drivers/dht folder was removed  with #632 - this breaks esp8266 build for 2.x as noted above.

[2018-02-23 13:16] jerryneedell commented on #637
@deshipu my version of the SDK is pretty old - I have not updated it recent;y - perhaps I'll hold off...

[2018-02-23 13:17] deshipu commented on #637
@jerryneedell you can always checkout an earlier version, the thing is, we need to know which one...

[2018-02-23 13:21] jerryneedell commented on #637
@deshipu how can I verify the version? I also see
ESP8266_NONOS_SDK_V2.0.0_16_08_10
in my build folder.

[2018-02-23 13:24] jerryneedell commented on #637
looks like it is:
sdk -> ESP8266_NONOS_SDK_V2.0.0_16_08_10

[2018-02-23 13:27] deshipu commented on #637
Oh, os it's the pre-krak one.

[2018-02-23 13:31] jerryneedell commented on #637
It is the same version on my linux box (May 2017) and on a "vagrant" install I did on my Mac  in January. I have not updated it since then. It looks like the vagrant install used the latest available at the time.

[2018-02-23 13:33] jerryneedell commented on #637
does your 2.x clone have the "drivers/dht "folder ?

[2018-02-23 13:39] deshipu commented on #637
No `drivers` in 2.x

[2018-02-23 13:40] jerryneedell commented on #637
OK so do you also get the same error I am getting from the Makefile? Or don't you get that far.

[2018-02-23 13:43] jerryneedell commented on #637
[https://github.com/adafruit/circuitpython/blob/2.x/esp8266/Makefile#L193](url)

[2018-02-23 13:46] deshipu commented on #637
For now I'm trying to build 2.2.3, I didn't try with 2.x, since I have some modifications I wanted to test that I don't want to commit.

[2018-02-23 13:46] deshipu commented on #637
I think that your issue is separate from what I'm getting.

[2018-02-23 13:47] jerryneedell commented on #637
@deshipu yes - sorry if I hijacked your issue - should I create a new one?

[2018-02-23 13:52] deshipu commented on #637
I think it would be best for keeping track of both of them in a non-confusing way :)

[2018-02-23 13:52] jerryneedell opened #639 "CP 2.x build fails for ESP8266"
It looks like PR #632 has caused some problems for the ESP8266 BSP:
[code]
The drivers/dht folder was removed by the PR.

[2018-02-23 14:25] dhalbert commented on #637
@deshipu that is a big increase in size (60k) - we didn't add _that_ much. PR's to fix would be great.
@jerryneedell I see the dht issue. We should remove that driver completely, since we have a CircuitPython substitute. You can open a quick issue to remind us.

[2018-02-23 14:30] deshipu commented on #637
It seems like the increase in size is also due to the new SDK. Checking out commit 4ea62358c98799c1d4d1e711e5cff08045fc4dec and building with that makes it work.

[2018-02-23 14:36] deshipu commented on #637
The change looks innocent... https://github.com/pfalcon/esp-open-sdk/commit/5518fb6116c35a02ccb9a87260bb194a57cb429e

[2018-02-23 15:11] deshipu commented on #637
The change for esthal.h is here: https://github.com/pfalcon/micropython/commit/e766a4af4a336816d42d65c01ee6c3e4cc207b7e

[2018-02-23 15:12] deshipu commented on #637
I think we should just come up with some way of making sure that a given version of CircuitPython gets built with a matching version of the esp-open-sdk. There are going to be more breaking changes like this one, and it's not feasible for us to keep updating all the branches to fix them.

[2018-02-23 21:28] jerryneedell commented on #514
FYI - Just tried with current master - issue is still present:
[code]

[2018-02-23 21:36] siddacious commented on #514
Thanks for the update. The reason you're getting that specific error is that the PA00 and PA01 pins aren't being reserved for dotstar use because the status led code for dotstars is broken at the moment and I don't think it compiles with them enabled.

I got it to compile but it was crashing somewhere in the SPI setup code so I'll have to take a closer look tonight or this weekend. I'll update wit

[2018-02-23 21:56] jerryneedell commented on #433
FYI - verified that this issue is still present with current master.
Normally GPS RX goes to D1 (M4 TX) and GPS TX goes to D0 (M4 RX)
It now works great when I do this.
If I swap the wires, I am unable to use the connection to /dev/ttyACM0 - it may connect for a few seconds (but REPL does not work), then eventually won't even connect.

[2018-02-23 23:51] kattni commented on #635
Ok, done! Let me know if you want anything changed, and if not, what's next!

[2018-02-24 01:55] deshipu opened #642 "busio.SPI locks GPIO12 even when it's not used on ESP8266"
Trying to initialize DigitalInOut on pin GPIO12 results in:

[code]
Tested with CircuitPython 2.2.3.

[2018-02-24 02:00] deshipu commented on #642
Seems like the pins are not reset on reset.

[2018-02-24 02:14] deshipu commented on #642
I did some more digging, and the issue is actually more complex. It looks like you can't use GPIO12 whenever the SPI perihpheral is created, even if you only defined MOSI and no MISO for it.

[2018-02-24 02:41] ladyada commented on #635
ok looked! A2 != D2 (gemma m0 is a weird one) - so for Feather & CPX we'll need to do something else - maybe add another example or commented out line for D7 on CPX and D5 on Feather?

[2018-02-24 02:43] kattni commented on #635
Hmm I looked through pinouts to verify those. Oops. I like the commented out line option. Or do D7 on both? Is there an issue with D7 on the Feather?

[2018-02-24 02:45] ladyada commented on #635
hmm not sure what pinout that is, you can see equivalent pins here
https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/boards/feather_m0_express/pins.c
e.g. no "D2" appears

D7 is great on the CPX because its the switch, so very easy to test. D7 isnt exposed on feather m0

[2018-02-24 02:47] kattni commented on #635
Ok keen. I'll do up images for those and submit a PR for the code.

[2018-02-24 03:49] dhalbert commented on #433
I was not able to reproduce this on my rev B M4 with the latest master. It works fine connected properly. If I switch the leads I just get "Waiting for fix...". I can go out of the REPL and re-enter, and I can hard-reset and then enter the REPL.

I am using the GPS Featherwing, powered by 3.3V and GND from the Metro M4. Are you using the GPS breakout with VIN and GND?

Using your supplied test pro

[2018-02-24 12:08] jerryneedell commented on #433
I am using a breakout with VIN to Metro 3V , GND to GND.

With no code executing, but GPS VIN and GND Connected. I can reproduce the following:
Power off Metro M4 (all off)
Connect Metro D1 to GPS TX
Power ON  (power to Metro M4 - also powers GPS)
Enter REPL via ttyACM0  - sometimes works for awhile (seconds to 10s of seconds)
REPL stops responding - eventually connection to ttyACM0 is dropped

I

[2018-02-24 13:35] jerryneedell commented on #433
I wonder if this may be an issue with the GPS, not with the M4. Is it possible that abusing the GPS TX pin causes the GPS unit to draw excess current and is just dragging the 3.0 V line down causing the M4 to hang.  I'll hook up a scope to it this afternoon and see if there is something happening on 3V.

[2018-02-24 15:43] dhalbert commented on #433
The breakout (https://learn.adafruit.com/adafruit-ultimate-gps, right?) can take up to 5V on its VIN, so you could try powering it from the 5V pin. Is your USB power possibly wimpy? (Seems unlikely.)

The regulator on the breakout is low-dropout (310mv typical, 450mv max).

There is a level shifter on the GPS RX but not TX. Schematic: https://cdn-learn.adafruit.com/assets/assets/000/022/494/origin

[2018-02-24 16:56] siddacious commented on #514
I was able to recompile after removing the PA00 and PA01 from the reserved pins and the above example works just fine. My trinket m0 mpconfigboard.h currently looks like
[code]
Since the `MICROPY_HW_APA102_MOSI` defines are still commented out, the status dotstar still doesn't work. I'll try putting them back in but unless something has changed since I last tested it won't compile.

(1 minute late

[2018-02-24 17:34] dhalbert commented on #514
The baudrate issue is on my list to fix.

[2018-02-24 17:40] dhalbert commented on #514
Oh, wait that's a different baudrate issue, but still, can look at it.

[2018-02-24 19:38] jerryneedell commented on #433
Interesting -  I tried powering the GPS via 5V and I was unable to reproduce the problem.
However, I have now gone back to 3V input and I also cannot reproduce the problem. Perhaps it was somehow due to the wiring on my breadboard. I have a lot of stuff connected.

Sorry if this has all been a red herring.

Since I can't reproduce it and since no one else has ever produced it and since it is only

[2018-02-24 19:49] dhalbert commented on #433
:-)

[2018-02-24 19:49] #433 closed

[2018-02-24 19:58] dhalbert commented on #639
Fixed by #641.

[2018-02-24 19:58] #639 closed

[2018-02-25 06:37] sommersoft commented on #566
Realized a small(?) problem. By getting image files in the repos to pass Sphinx builds (`.. image:: ../blah/blah.jpg`), they no longer show up in GitHub.

Here is what I have so far
- CircuitPlayground: images were in `top/_static`. I moved them to `top/docs/_static` and updated `README` with the appropriate path. Images show in RTD build, but do not show in GitHub. My PR was merged, so RTD should

[2018-02-25 14:38] deshipu commented on #569
I just hit the "MemoryError: memory allocation failed, allocating %u bytes" error on MicroPython, so I think this is actually an upstream bug.

[2018-02-25 16:37] deshipu commented on #569
So I looked at the code that actually creates the exceptions, and it seems that this is not a bug, this is a feature: https://github.com/adafruit/circuitpython/blob/master/py/objexcept.c#L417-L435

Basically, if there is not enough memory to format the string, it will stay un-formated, and if there is no room to even allocate the string, the exception will have no string at all.

[2018-02-25 17:48] mikepschneider opened #644 "Add module for non-blocking timer class"
Hello,
I've created a simple non-blocking timer class for circuitpython using the time.monotonic() function.  It was suggested on discord that the class might be a useful addition to the circuitpython library for others to use.   If there's interest I'm happy to break out the class into a proper package.

Class is here:
https://github.com/mikepschneider/circuitpy_ms/blob/master/CIRCUITPY/nonblocki

[2018-02-25 18:57] dhalbert commented on #569
@deshipu Thanks for doing the research on this. I thought it might be lack of memory but didn't think it would be intentional. I wonder if we should have a fixed string to return that indicates lack of memory. @tannewt

[2018-02-27 00:03] sommersoft commented on #566
For clarity, is this what we need to check for on learn pages?

![dont_break_the_learn_system](https://user-images.githubusercontent.com/21211479/36703013-4fe03e90-1b1f-11e8-840d-f3117ad2b294.JPG)

And again, I'm sorry for flooding email boxes! I had a fleeting thought that they might be connected, and even browsed a guide or two but didn't scroll all the way to the end (or the ones I looked at di

[2018-02-27 00:11] willingc commented on #566
Folks, I don't think that there is a need for two versions (rst and markdown). I'm trying to understand what is happening now and what you wish the desired behavior to be. Links to specific files would be helpful too. Thanks :-)

[2018-02-27 00:31] kattni commented on #566
**If you change example files, please check the Learn guide to see if the code is linked**

1. Find the guide for the product associated with the library you're updating.
2. Find the page that explains the code, and scroll down to where the example code is linked. **NOTE**: This may involved scrolling past a significant number of code snippets before finding the final code, which is what may be li

[2018-02-27 00:31] tannewt commented on #569
The behavior now is fine with me. It is useful knowing the size of the allocation that fails when its possible to. They can all be caught through `MemoryError` so they should be essentially equivalent.

Anyone have a different suggestion?

[2018-02-27 00:48] sommersoft commented on #566
@willingc , the issue is has to do with the file paths. I'll use the DS3231 repo as a reference.

- ***Pre-update:***
    - README showed image in GitHub [here](https://github.com/adafruit/Adafruit_CircuitPython_DS3231/blob/302215f0bb8c14ab63e4f607777df86eae4f59f6/README.rst)
    - The image path is `.. image:: 3013-01.jpg`

- ***Post-update*** (not merged upstream yet):
   - README no longer show

[2018-02-27 01:01] tannewt commented on #566
The different file path is needed because we moved conf.py from the top directory to `docs/conf.py`. The top-level `README.rst` is now included by `index.rst` which also has the table of contents because the conf.py can't reference it directly anymore. Its also nice because the table of contents doesn't render nicely on GitHub anyway.

[2018-02-27 01:06] willingc commented on #566
Thanks for the detailed explanation @sommersoft, @kattni, and @tannewt. I'll take a closer look. My initial reaction is that the `conf.py` needs a bit of tweaking re: paths. Overall, folks, the docs are looking fantastic 👍

[2018-02-27 01:39] tannewt commented on #642
@deshipu Could you provide the full test code for the after-SPI init problem you are seeing? Thanks!

[2018-02-27 01:40] #638 closed

[2018-02-27 08:35] siddacious opened #646 "timer code reorganization breaks SAMD51G support"
Some of the code in `ports/atmel-samd/timers.c` assumes the number of timers is that of a SAMD51J which of course is not true for a SAMD51G.

I'll submit a PR once I get the fixes onto my fork.

[2018-02-27 16:33] mikepschneider commented on #644
OK I'm happy to help in any way but I'm new to this community so I don't know how things work.  If there's a next step I can/should do please let me know.

[2018-02-27 17:02] BitKnitting commented on #439
I am gleefully using the RFM69.  Thank you.  I have a greater need for the RFM95 LoRa - so excited to read the above comment.  With that said, again - THANK YOU for the RFM69 driver.  There is a lot to learn from going through Tony's code.

[2018-02-27 17:20] ladyada commented on #439
yep! we're working on it, if you can help test that would b awesome :) note we wont have lorawan support - there's just no way to fit it (yet)

[2018-02-27 18:00] wolf commented on #644
I'm new to this community, too :-)  I don't know yet what the next step is for your code but it sounds like there may well be a place for it here.  I'll check it out.  Do you get on the Discord chat?  You and I should find a way to chat to figure out the next steps (probably with some direction from @tannewt and others).

[2018-02-27 18:08] mikepschneider commented on #644
Yes I'm on discord now and then.

[2018-02-27 18:11] siddacious commented on #514
A quick update: I was able to get the dotstar working on my trinket m0 though testing on my m4 board I get an OSError 5 (IO Error I think) and on my itsy bitsy I don't get MSC or CDC anymore; I'll dig more tonight.

[2018-02-27 18:21] tannewt commented on #644
Hi @mikepschneider Please see https://learn.adafruit.com/creating-and-sharing-a-circuitpython-library?view=all for instructions on structuring a CircuitPython library. Once you have it in a repo following that structure we can add it to the community bundle. Feel free to ping me on [Discord](https://adafru.it/discord) if you have questions.

[2018-02-27 18:44] #646 closed

[2018-02-27 18:49] tannewt commented on #231
Another way to achieve this is to provide a second "raw" serial connection to the computer in addition to the input. This would allow for binary data transmission in addition to text. It could work just like a UART connection.

We'd want dynamic USB descriptors for this (mentioned in #190) so that its only on as needed.

[2018-02-27 18:59] ladyada commented on #231
good idea! that's probably the 'right' way to do it, but yeah would have to wait until you can select the USB interfaces cauz there'd be juggling between webusb, cdc, HID.

[2018-02-27 19:04] dhalbert opened #648 "Use on-board crystal oscillators for those boards that have them"
Currently all 3.0 boards are using the 48MHz DFLL in crystalless mode. It's locked to the USB clock when available, but it would be good to use the on-board crystal for boards that have it. 2.x does do this.

[2018-02-27 22:30] kattni commented on #635
Ok, I've posted the 5 boards that are in Fritizing, and I left the image with the boxes around the correct pins for ItsyBitsy for now, until we have Fritizing for it. Let me know if they look alright to you!

I reworded the info at the top to be more general, however I still need to finish updating the code. I think we should create a new folder in the Learn repo called "CircuitPython_Quick_Starts

[2018-02-28 03:03] #215 closed

[2018-02-28 03:03] #345 closed

[2018-02-28 04:05] dhalbert opened #651 "Add back writing CircuitPython version info to boot_out.txt"
Is in 2.x, but not reimplemented in 3.0 yet.

[2018-02-28 04:12] kattni commented on #635
Ok, repo folder is created, all relevant code has been copied over and renamed to `CircuitPython_**` where `**` is the concept we're covering - this can obviously be something different if you want. I have updated code for DigitalIO. I'm waiting until we've discussed things and finalised the images, etc, before I try to update the explanation content in the guide.

I had an idea, regarding the cod

[2018-02-28 19:46] tannewt commented on #259
I'm going to close this and make a new issue for DMA. DMA is not needed for the alpha.

Great work @dhalbert!

[2018-02-28 19:46] #259 closed

[2018-02-28 19:48] tannewt opened #652 "Get DMA working."
Use it for SPI communication and the audio related modules.

[2018-02-28 19:51] siddacious commented on #652
Does this mean normal SPI and QSPI?

[2018-02-28 19:52] tannewt commented on #652
Yeah, thats my plan.

[2018-02-28 20:10] tannewt commented on #622
@tuupola Would you like to switch them to the lower case version?

[2018-03-01 00:55] jerryneedell opened #653 "Cannot upload arduino sketch to meto_m4_rexpress_revb if CP3.0 executing"
I am unable to upload an arduino sketch to my metro_m4_express_revb if I have previously loaded CP 3.0 to it and CP 3.0 is executing
I can upload successfully if I "double-tap" to put the M4 into the boot loader.
After loading an arduino sketch, I can load additional arduino sketches without first entering the boot loader.
I only have to manually enter the boot loader if CP 3.0 is loaded and execu

[2018-03-01 04:49] kattni commented on #635
Phil B did up the ItsyBitsy fritzing for me so that's done and added to the guide. Thanks Phil!

[2018-03-01 21:00] l8gravely commented on #519
I too would like to see something better than monotonic, since it's not stable and loses precision as time goes on.  Or maybe I just need to learn the CircuitPython way to do longer term ramping up/down of a NeoPixel, while not doing a busy wait, so I can handle other inputs that come in.

Right now I just try to do:

timetofire = timer.Monotonic() + delay
while True:
  now= timer.Monotonic()
  if

[2018-03-02 00:59] jerryneedell opened #655 "FS does not mount with CP3.0 on itsybitsy_m0_express"
I am finding that when I flash CP 3.0 to my itsybitsy_m0 _express, my Ubuntu linux system is not recognizing the FS.

It  works fine if I flash CP 2.x

dmesg output when FS fails with 3.0
[code]

On failed boot the Dotstar turns BLue which should indicate "Circuit python is starting up".....

[2018-03-02 01:28] jerryneedell commented on #655
This is reproducible - 2.x loads and boots consistently. 3.0 does not . Dotstar turns blue and nothing happens.  I tried connecting it to a Mac with same result.

[2018-03-02 01:42] #629 closed

[2018-03-02 01:52] siddacious commented on #655
I may have seen some strangeness with 3.0 on the bitsy but I was under the impression that @tannewt recently fixed something with the flash for it that had been causing issues. I'll test again and report back.

[2018-03-02 03:54] ladyada commented on #635
ok please do that!

i think know what you mean but i'd prefer commented/uncommented lines rather than having 'cleverness' with the naming/logic. lets call the pin object 'switch' since a pushbutton is a kind of switch, and have a different line for D2, D5 and D7 :) id rather not use the push button on the CPX since its opposite polarity

please let me know when to take another look!

[2018-03-02 22:59] kattni commented on #635
I noticed that with the button.

Ok I updated the code, updated the text to explain the code. Let me know if it's all accurate. It tests successfully, but there's the two extra lines for CPX because, as far as I could tell, the switch is a `Pull.UP` so I added the extra line for that. The text below the code explains how to use the commented out lines, but they're commented solidly in the code as

[2018-03-02 23:31] ladyada commented on #635
hi here's feedback!

1) there should be pull UPs on all the switches, they all connect to ground when pressed. please update the code and check

2) don't refer to line numbers in the text, refer to the actual text, because line numbers may vary if we change a pylint note

3) where did you add 'all the new products'? please provide the link you're referring to :)

[2018-03-03 00:06] kattni commented on #635
1. Ok. Code is updated. Tested successfully on ItsyBitsy!
2. Updated to refer to text, and cover the potential for someone to start with CPX and work backwards to Feather, etc.
3. I added them to the right side but it only shows the first 5 - I hadn't backed out of the "Manage Featured Products" page when I posted earlier - maybe it doesn't update until you back out of that page? Aaaaand I'm reali

[2018-03-03 16:44] ladyada commented on #635
ok 1 & 2 are now good
3) yeah you can only add products per *guide* not per page. so each guide should just have that board it references

time to mirror into the rest of the guides (itsy doesnt exist rn) - so please do that so each board mentioned has this page :)

[2018-03-03 22:14] kattni commented on #635
I removed the products from the Gemma guide, it's back to where it started.

What's the plan for CPX? Nearly that entire section was written specific to CPX which makes sense, it's a special case. Am I removing what's there and replacing it with mirrors? Or does CPX remain as-is?

[2018-03-03 22:18] ladyada commented on #635
lets keep CPX with the custom one for now, do you want to add these to the intro-to-circuitpy guide or make another guide where these pages can have a home?

[2018-03-03 22:59] kattni commented on #635
I opened this one up to discussion because I could see the merit of both options. The conclusion is separate guide, and we can link to it from the Welcome guide. The Welcome guide is already pretty big and should focus on getting started and troubleshooting. This would be the next-step guide. :)

So I'll create a new one and get the initial stuff moved over, and get it mirrored to all the boards f

[2018-03-04 00:03] ladyada commented on #635
ok make a backup before moving the page. i lost a page when i tried moving it once :/

[2018-03-04 00:04] kattni commented on #635
I didn't know you could literally move a page. I copy and paste all the elements individually. It works out because it gives me a chance to proof everything anyway.

[2018-03-04 00:13] kattni commented on #635
Ok first page published and guide is in moderation. I don't have an intro page for it yet. I'll add the other pages as we go. I figured get it up so I can mirror the pages into the other guides as we go. Unless you want to have this guide completely finished before publishing it?

[2018-03-04 02:14] kattni commented on #635
Added intro page.

[2018-03-04 12:14] ronysh commented on #197
I totally agree that event driven input can bring working with these boards to the next level.

[2018-03-04 16:52] jerryneedell opened #656 "enable FRAMEBUF module for nrf52 builds"
Is there any reason not to enable the  framebuf module for the nrf52 builds?
[https://github.com/adafruit/circuitpython/blob/master/ports/nrf/mpconfigport.h#L128](url)

It is enable for the  ATMEL SAMD "express" boards, but I think the NRF52s have sufficient flash for it as a default.
I enabled it an built the feather52840 BSP and was able to write to an SSD1306 SPI OLED display so it works OK.
I'

[2018-03-04 17:02] ladyada commented on #635
diggin' it! can you mirror from an unpublished guide? if so, lets keep this hidden until we get at least the first 5 elements done

[2018-03-04 19:35] jerryneedell commented on #423
I suggest we close this as OBE (Overcome By Events) - It was initiated before the Flash FS was enabled and never reproduced.   I just tried overfilling the Flash FS several times and it was handled gracefully on my Metro M4 Express Revb with current master build.

[2018-03-04 21:50] kattni commented on #635
I can! Are you happy with the intro "The Next Step" page? If so I can use that as the main page for the section inside the guides, and nest the rest of the pages under that instead of "CircuitPython Playground".

[2018-03-04 21:56] kattni commented on #635
Also for Trinket, it's obvious to delete the mirrored page, but for Gemma, do you want me to delete the original once we have it in place? I reverted it to draft for now so there's not a duplicate publicly for now.

[2018-03-04 23:12] ladyada commented on #635
yep first page of the guide is good! mirror awayyyyy
gemma, delete original, have only this guide's pages mirrored.
for the next pages, you can just work in the playground guide, then mirror out - easier that way :)

[2018-03-04 23:37] kattni commented on #635
Ok, I mirrored The Next Step in, and for Gemma and Trinket, I put all the current pages under that one, so as we go, all we need to do is delete the current ones and mirror in the new ones.

I'm having someone check to verify that the mirrors worked. (It's weird how it worked, so even though it did the first time, I'm still having someone check.)

Excellent, that was the plan! And since we're work

[2018-03-04 23:39] ladyada commented on #635
OK pick one and go for it!

[2018-03-05 03:45] kattni commented on #635
Do you want a single "Internal RGB LED" page with code commented out for both or do you want two separate pages for the internal LEDs, DotStar and NeoPixel, and then mirror into only the applicable guides? (Still planning on separate DotStar and NeoPixel pages as it is right now for external.)

Which capacitive touch breakout should I use for the Cap Touch page? https://www.adafruit.com/product/13

[2018-03-05 03:45] kattni commented on #635
I'll get started on Analog In.

[2018-03-05 04:02] brentru commented on #622
These two libs to be changed to reflect the move to lowercase (am I forgetting any others which use the TVOC/eCO2 property naming?):
https://github.com/adafruit/Adafruit_CircuitPython_SGP30
https://github.com/adafruit/Adafruit_CircuitPython_CCS811

[2018-03-05 04:45] kattni commented on #635
Ok AnalogIn is done!

[2018-03-05 05:06] sommersoft opened #657 "Library Request: Nextion Display Support"
A discord user requested a driver/library for the Nextion display(s).

Upon quick glance, seems to use UART for communication.

Main site: https://nextion.itead.cc/

Arduino GitHub: https://github.com/itead/ITEADLIB_Arduino_Nextion

I can continue to research when I have time, but most likely won't tackle this.

[2018-03-05 05:34] kattni commented on #635
Re: AnalogIn. Still having some issues with the code. I'll get back to it tomorrow.

[2018-03-05 05:55] tuupola commented on #622
Had missed this. @tannewt sure, I will check them out.

[2018-03-05 18:15] tannewt commented on #622
Thanks @tuupola! Let me know if you need any guidance on how to get it done.

On Sun, Mar 4, 2018 at 9:55 PM Mika Tuupola <notifications@github.com>
wrote:

[2018-03-05 18:19] tannewt commented on #423
Perfect! Thanks for filing it in the first place and circling back.

[2018-03-05 18:21] tannewt commented on #197
@ronysh please follow #619 for more info.

[2018-03-05 18:25] tannewt commented on #653
I have a feeling this is because 3.x doesn't reset into the bootloader after receiving 1200 baud serial.

[2018-03-05 18:31] tannewt commented on #519
@l8gravely On the SAMD21 it is millisecond.

I'm still unsure we want to provide precise timing because we pause the VM from time to time to do other things. I'm worried about making timing promises we don't always keep. If we did, I think we could introduce a `precisetime` module for it.

@l8gravely also follow #619 for a different way to do things concurrently.

[2018-03-05 18:32] tannewt commented on #655
I am changing it with the DMA work so I'll take a look at it after.

[2018-03-05 22:42] kattni commented on #635
AnalogIn should be ready to go.

I'm doing AnalogOut next. I did up code for an LED at different brightness levels with a `dac_value(volts)` helper. Does this work for you? And if so, do fritizing diagrams for all the boards?

[2018-03-06 00:12] tdicola commented on #439
Yep check out the new guide page here for info on the new library: https://learn.adafruit.com/adafruit-rfm69hcw-and-rfm96-rfm95-rfm98-lora-packet-padio-breakouts/circuitpython-for-rfm9x-lora  It's very similar to the RFM69 library but made to work with the RFM9x radios in LoRa mode and with RadioHead compatible headers/config.  Basic send/receive between two modules running the CircuitPython code

[2018-03-06 00:12] #439 closed

[2018-03-06 01:54] CameronDevine commented on #519
Would it be possible to have a variable which states the approximate interval at which `time.monotonic()` is increased? This would save people form having to write code to guess what the interval is, since it appears to change based on which board is being used.

[2018-03-06 19:05] microbuilder commented on #656
@jerryneedell I'll enable this next PR I push out

[2018-03-07 04:43] kattni commented on #635
AnalogIn is set! I'll get it into the other guides.

We sorted all the questions above: yes to "Internal RGB LED", everything has cap touch built in, and analogout will use the REPL and a scope or Saleae if someone has those options.

We also sorted basic details for: PWM, servo, UART, I2C, NeoPixel/Dotstar, CPU temp, DHT, HIDKeyboard, Audio Out.

AnalogOut is next!

[2018-03-07 06:07] inventhouse opened #660 "Safe-mode crash when I make a GamePad with cpx buttons"
I tried to use the gamepad module to read the buttons on my CircuitPlayground Express

I added .txt to the filename so it would attach; in case it matters, rather than renaming it, I have a main.py that just imports the script I want to run.

[cpxTempButton.py.txt](https://github.com/adafruit/circuitpython/files/1787969/cpxTempButton.py.txt)

[2018-03-07 06:11] tannewt commented on #660
This is the same as #568. You need to give it something from `board` rather than from `cpx` because the CPX pin is a DigitalInOut.

[2018-03-07 11:45] deshipu commented on #660
Actually GamePad expects DigitalInOut objects, so that part of the code is correct.

[2018-03-07 11:45] deshipu commented on #660
@inventhouse what versionf of CircuitPython is this?

[2018-03-08 20:17] siddacious commented on #514
Ok, I think I finally got it working; I was able to get the status dotstar status-ing and then was able to re-purpose the same sercom for a SPI connection. I tested on my m4 board so I'll test on the trinket, bitsy, m4 metro and perhaps others before submitting a PR tonight.

[2018-03-08 22:27] kattni commented on #635
AnalogOut is all set and mirrored across the rest of the guides!

As discussed, I'll be doing PWM next with a simple example using D13, and include the two piezo examples. I have code working for the D13 LED. I'll write up that section first. Then I'll look at the piezo code and add to it to get it working across all the boards.

[2018-03-09 04:08] kattni commented on #635
Content is written and code is uploaded and embedded. Verified that you want hw diagrams of the piezo example. Diagrams created - need to make images big enough for 4x3 cropping and then do up the side2 elements.

Started on cap touch. A0 works on five out of six boards, but it's disabled on CPX. I plan to do up the code to use A0 since it works on the rest of the boards, and include a warning tha

[2018-03-09 20:23] tannewt commented on #514
Fixed by #662

[2018-03-09 20:23] #514 closed

[2018-03-10 00:18] kattni commented on #635
PWM and Cap Touch are both ready to be looked at!

Continuing on Internal RGB LED now.

[2018-03-10 00:29] deshipu opened #664 "gamepad module crashes cp3.0"
I didn't report this properly so far, because I wasn't able to pin point exactly what makes it crash. This is what I know:

* When imported and created from the REPL, everything works perfectly fine and there are no problems or crashes.
* When imported and created from a frozen mpy module, it crashes as soon as it tries to read the pin states inside the tick. The crash completely disables USB comm

[2018-03-10 00:37] tannewt commented on #664
Did you remember to uncomment gamepad_reset in port.c?

[2018-03-10 00:40] deshipu commented on #664
Yes. I also found and fixed a potential race condition in initialization, but that didn't help.

[2018-03-10 07:09] sommersoft commented on #544
After a slightly exhaustive dig into the ESP8266 UART realm, I have concluded that `serial_connected` will not be possible on ESP8266. My previous comment on "poll UART0" didn't pan out. Here is what I think I know:
- UART is handled on chip, with serial going through the USB-to-UART.
- UARTs are setup the same regardless of power supply situation.
- The chip handles UART with interrupts, filling

[2018-03-10 15:52] inventhouse commented on #660
Adafruit CircuitPython 2.2.3 on 2018-02-05; Adafruit CircuitPlayground Express with samd21g18

[2018-03-10 18:18] sommersoft opened #665 "Add FRAM Library"
Library for FRAM breakouts:

- [x] I2C: [Adafruit I2C Non-Volatile FRAM Breakout - 256Kbit / 32KByte](https://www.adafruit.com/product/1895)
- [ ] SPI: [Adafruit SPI Non-Volatile FRAM Breakout - 64Kbit / 8KByte](https://www.adafruit.com/product/1897)

[2018-03-10 21:44] deshipu commented on #660
By the way, gamepad will not with CPX buttons, because they are pulled down and when you press them, the connect to VCC, and the gamepad library expects the pins to be pulled up, and when pressed, connected to GND, as is the usual way for handling buttons. I didn't know about CPX buttons when I wrote it.

Nevertheless, it should not crash.

[2018-03-11 01:46] notro opened #666 "float-int conversion problem"
Strange things happen above (1 << 22):
[code]

More strangeness:
[code]

[2018-03-11 01:58] jerryneedell commented on #666
I’m not sure I understand the “strangeness”.  floats can only represent about 7 significant digits. [https://en.m.wikipedia.org/wiki/Single-precision_floating-point_format](url)

[2018-03-11 02:00] dhalbert commented on #666
CircuitPython uses a modified single-precision floating point representation. It's a conventional 32-bit IEEE float with the bottom two bits set to zero (parts of encoding pointers, ints, and floats in a single-word format). There are 8 bits of exponent and 22 bits of mantissa. Further explication in https://github.com/adafruit/circuitpython/issues/230.

[2018-03-11 02:04] sommersoft commented on #417
So in a "lull", I found myself diving down this rabbit hole. I'm thinking that it's ATMEL/ASF USB related. I narrowed into `mphalport` and the stdin/stdout functions. ATMEL uses the ASF USB construct for interaction.

So, to test my budding theory, I did two things:
1. Tested pasting a long string in both regular REPL mode, as well as paste mode (Ctrl+E). Pasted string cut off at the same point (1

[2018-03-11 02:54] sommersoft commented on #417
Ok, so I don't think I'll have to get to the ASF level. But, here are more intermediate notes...

- `mphalport.c`: `mp_hal_stdin_rx_chr` & `mp_hal_stdout_tx_chr` use `usb_read()` and `usb_write()` respectively.
- `usb.c`: read and write functions rely heavily on constant `USB_RX_BUF_SIZE`
- `usb.h`: sets `USB_RX_BUF_SIZE = 128`

Might be _too_ coincidental, but I'll keep pulling. Really wish I had

[2018-03-11 04:45] siddacious commented on #655
Doesn't seem to work for me with the changes you mentioned

[2018-03-11 12:24] deshipu commented on #664
I just tested this today on the build-metro_m4_express_revb and it seems to work. The cases I tested:

* imported and initialized from REPL
* imported and initialized in main.py
* imported and initialized in a .py module imported from main.py
* imported and initialized in a .mpy module imported from main.py
* imported and initialized in a frozen mpy module imported from main.py

I will test on the

[2018-03-11 12:38] deshipu commented on #664
I tested it on feather_m0_express and the bug seems to be gone.

[2018-03-11 12:38] #664 closed

[2018-03-11 14:07] hukuzatuna opened #670 "touchio not yet supported (CP 3.0 alpha 2)"
It would be great to get touchio ported to the latest CircuitPython release.

Board: Trinket M0
Version: Adafruit CircuitPython 3.0.0-alpha.2-13-gdde5ade-dirty on 2018-03-10; Adafruit Trinket M0 with samd21e18

Replicate by: "import touchio" generates "ImportError: no module named 'touchio'"

[2018-03-11 15:26] inventhouse commented on #660
It would be great if gamepad were "ambidextrous", button polling is, as I'm sure you know, a surprisingly tricky business and I don't expect they can/will change the pull-ups on the CPX buttons at this point.

[2018-03-11 15:30] deshipu commented on #660
Sure, but I'm still thinking about how to do that.

[2018-03-11 15:30] inventhouse commented on #660
(Though it might be simplest if it's all-or-nothing, "mixed mode" would not only be hairy to implement, it would make for a complex/confusing interface; better to make two GamePad objects, one for "negative-press"/standard buttons and one for positive-press.)

[2018-03-11 15:33] inventhouse commented on #660
Note: I'm thinking the GamePad init would take a "pressed = True"/"pressed = False" (defaulting to the latter) argument; clients would make two instances if they wanted some buttons pulled-up and some pulled-down.

[2018-03-11 16:58] siddacious commented on #670
This ticket *kinda* duplicates #268, but that ticket is specific to the M4 and this one talks about the m0

[2018-03-11 17:53] deshipu commented on #660
I would rather prefer checking if the DigitalInOut instance has already a pull, and then react accordingly, otherwise default to pull-up.

[2018-03-11 18:50] notro opened #671 "Implement time.localtime()"
I want to emulate a DS1307 on a Feather M0 so I need access to clock time. Has anyone given this some thought?
What the internal representation should be: seconds or struct tm, and how should the clock be set, board.setclock()?
I see that the samd21 clock can run in several modes.

Code so far:
[code]
(full [diff](https://gist.github.com/notro/6fa81d3e948aefd3053cd2b1df8ead41))

[2018-03-11 22:40] kattni commented on #635
Internal RGB LED is ready to be looked at!

Next up in some order is Servo, NeoPixel, DotStar, CPU Temp. And the rest :)

[2018-03-12 06:24] sommersoft commented on #417
Late night notes/sanity check, after beating `usb.c` into my brain and breaking it by using `printf`s.

Using the `USB_RX_BUF_SIZE = 128` thread I latched onto yesterday, I _think_ we're hitting the buffer limit on line 125 of `usb.c->read_complete()`:
[code]
I got to this point with my crude `printf` debugging (no output; only breaking). When pasting under 128 chars, the `printf` wouldn't trip. O

[2018-03-12 10:22] #666 closed

[2018-03-12 19:12] tannewt opened #672 "USB Midi!"
Requested by JohnPark and Noe. Then we can create simple button instruments using midi.

[2018-03-12 19:13] tannewt opened #673 "DMX (lighting protocol)"
This is used by DJs to control lighting.

[2018-03-12 19:50] djecken commented on #672
This is a great "example" project for USB MIDI. Simple button presses for triggering midi notes. https://learn.adafruit.com/arcade-button-control-box

[2018-03-12 20:28] tannewt commented on #655
@siddacious and @jerryneedell can you send me the text from the top of the flash chip? We may have different ones. Feel free to send a picture of the board.

[2018-03-12 20:33] jerryneedell commented on #655
Sure, but It’ll be late tonight or more likely tomorrow before I can. I have not tried the latest version yet an will do that as well.

[2018-03-12 20:33] tannewt commented on #671
I'd probably add an `rtc` module which has a `native` singleton copy of an `RTC` class. Then the RTC class could be used just like the DS1307. The `rtc` module itself could allow you to set a default RTC to be used by the `time` module. That way you could use a Python-implemented RTC potentially.

[2018-03-12 20:41] tannewt commented on #655
No rush! Thanks for the help!

On Mon, Mar 12, 2018 at 1:33 PM jerryneedell <notifications@github.com>
wrote:

[2018-03-12 22:01] siddacious commented on #673
If this ever gets done a great project would be an Artemis "red alert" siren:

http://artemiswiki.pbworks.com/w/page/68387358/DMX%20Interface

[2018-03-12 22:19] tannewt commented on #544
@sommersoft I think I have it set up to wait for a character input before thinking its connected. Its not exact but good enough in my mind.

[2018-03-12 22:34] tannewt commented on #417
I think you are on the right track! I wrote the `ports/atmel-samd/usb.c` code so its not perfect. :-)

What does ASF4 do when true is returned?

The Feather nrf52 is a bad example because it uses a USB -> UART chip like the ESP8266. (We don't yet support the USB on the ones that have native USB.)

[2018-03-13 00:28] sommersoft commented on #417
When I initially glazed at the issue, I failed to recognize the "atmel-samd" label. I really just wanted to figure out if it was a core versus a port issue (with the knowledge that USB/UART implementations differ).

What I'm surmising is that it is releasing the lock on the received buffer [`usb_rx_buf`] and letting `usb_read()` return the data to `stdout`/REPL.

Which of course is maxed out to th

[2018-03-13 01:34] waldo323 opened #674 "OSError: 19 when attempting storage.mount(vfs, "/sd") for Adalogger Featherwing"
using an feather M0 express with adalogger featherwing in trippler I get an OSError: 19 when trying to run storage.mount(vfs, "/sd")

REPL:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
OSError: 19

I also got this error when running one of the examples (modified with D10 for CS)

additional information:
looking at the guide: the https://learn.adafruit.com/adafruit-adal

[2018-03-13 01:52] dhalbert commented on #417
2.x (ASF3) does not have this problem (I think), so that would an example of looking at how this is dealt with sucessfully.

[2018-03-13 02:14] sommersoft commented on #417
Just verified, 2.x does not have the problem.

Quick glance at 2.x's equivalent higher level functions (all in `mphalport.c`; not broken out to a `usb.c`), and it seems to function in the same manner. From my previous googling, it seems there was a switch with how the ASF USB drivers operated between 3 & 4.

Having said that, EXCELLENT suggestion @dhalbert! Back into the abyss... :smile:

[2018-03-13 03:26] tannewt commented on #655
I think some FS weirdness was introduced with the latest ASF with 9b4477e1dc088d18127838310b828514cb33edea. I'm looking into it now.

[2018-03-13 03:30] jerryneedell commented on #655
My ItsyBitsy_m0_espress works fine with the latest build:

[code]
Even the dotstar works!
trying to read the flash chip markings....

[2018-03-13 03:40] jerryneedell commented on #655
is this the right chip? ￼
![img_00016](https://user-images.githubusercontent.com/15856834/37321448-cad42f0a-264e-11e8-80c6-b158a439d64a.jpg)

[2018-03-13 04:24] tannewt commented on #655
Yup! I think so. I'll need to compare with the datasheets tomorrow.

I think it may actually be a code bug too. If you have time, try with commit 9c5a9e34118532bd54d92c9f968534ad9f9409ae (before the latest asf4 update).

[2018-03-13 12:06] jerryneedell commented on #655
Built BOARD=itsybitsy_m0  (old name) from commit 9c5a9e34118532bd54d92c9f968534ad9f9409ae

This version fails  - no FS mounted - dotstar turns green for a few seconds then turns off - repeats.

[2018-03-13 12:18] jerryneedell commented on #655
Restored current master - working fine.

[2018-03-13 17:11] tannewt commented on #655
@jerryneedell thats weird! I expected 9c5a9e3 to work and current master to not work. Going heads down on usb shortly to see what I find.

[2018-03-13 17:39] vesperk38 opened #675 "flash storage size wrong typo"
i was browsing the cir-py repo and I think I found an inconsistency in a comment. it is located in circuitpython/ports/atmel-samd/external_flash/devices.h   the comment of line 172 says that the W25Q32BV is a 2MB flash chip but the datasheet says it is 4MB

[2018-03-13 18:33] tannewt commented on #675
Fixed by #676

[2018-03-13 18:33] #675 closed

[2018-03-13 21:03] jerryneedell commented on #655
This version does not work for me -  itsybitys just goes to a solid blues dotstar - no FS mount
as before:
[code]

[2018-03-13 21:05] jerryneedell commented on #655
do you want to reopen this one or should I create a new issue.

[2018-03-14 03:43] waldo323 commented on #674
update from yesterday issue I was having using feather m0 express with adalogger featherwing: I switched from a 16 GB, to 8GB didn't change code or version of circuit python yet but it 'just worked' got a hello world to print to a file on the 8gb board
the guide at: https://learn.adafruit.com/adafruit-adalogger-featherwing/using-the-sd-card
states:
"The FeatherWing kit doesn't come with an SD card

[2018-03-14 03:54] waldo323 commented on #674
the main issue is the guide says one thing and board operates differently

possible solutions:
- update library or core code to work with larger cards
- update the guide / documentation to reflect the size should be within certain working values.

[2018-03-14 04:34] siddacious commented on #674
Is it possible that one card was formatted differently from the other?

[2018-03-14 05:04] waldo323 commented on #674
both are SanDisk
both are formatted fat32 with gparted on an ubuntu 16.04 laptop

in attached picture:

- 16 gb on the left did not work,
- 8 gb on the left did work.

![sdcards](https://user-images.githubusercontent.com/1671616/37384113-56f1bc3a-2723-11e8-9ad4-53bc8b569f92.jpg)

[2018-03-14 05:10] waldo323 commented on #674
I did notice there was a 1 meg spot non allocated space before the partition for the 8 gb card and no non allocated space on the 16 gb card

[2018-03-14 15:51] dhalbert commented on #674
Could you completely erase the 8GB card and reformat it so that it doesn't have an odd partition layout and then try again?

[2018-03-14 15:59] ladyada commented on #674
use SD formatter if you can - https://www.sdcard.org/downloads/formatter_4/
its the 'official' method of formatting an SD card to FAT filesys

[2018-03-14 17:54] #655 closed

[2018-03-14 20:39] sommersoft commented on #566
Should we close this, now?

[2018-03-14 20:50] waldo323 commented on #674
Oops, my image caption included two lefts. (That's just not right)
I'm glad the cards are labeled.

Is there an official way to format the SD cards for Linux?

In the meantime, I will format both cards with my windows laptop and the official method when I get home from work, then try both sd cards with the Featherwing Adalogger.

Thanks :)

[2018-03-14 21:45] dhalbert commented on #674
For Linux, you could use `gparted`, `fdisk`, `gnome-disk-utility` (aka "Disks" in a Gnome-ish UI). You can delete any existing partitions and then reformat.

[2018-03-14 23:14] kattni commented on #566
We still have some updates to make. Here's the Adabot report:

Missing license. -
- [ ] Adafruit_CircuitPython_LSM303
- [ ] Adafruit_CircuitPython_TSL2561
- [ ] Adafruit_CircuitPython_APDS9960
- [ ] Adafruit_CircuitPython_DHT

Not in bundle. -
- [ ] Adafruit_CircuitPython_FocalTouch

Missing CODE_OF_CONDUCT.md -
- [ ] Adafruit_CircuitPython_MCP9808
- [ ] Adafruit_CircuitPython_CCS811
- [ ] Adafrui

[2018-03-14 23:59] willingc commented on #566
Great work folks. Moving things forward well.

[2018-03-15 00:12] jerryneedell opened #680 "dotstar not accessible on Gemma_m0 - with CP3.0"
Hmmm - tried dotstar test on gemma_m0  - failing like the trinket_m0 used to....
using CP3.0 - alpha-3

[code]

[2018-03-15 01:15] jerryneedell commented on #680
looks a lot like #514

[2018-03-15 01:23] waldo323 commented on #674
Using Windows version of the SD Card Formatter with the 16 GB card met with success!
the 8 GB formatted with the SD Card Formatter continued to meet with success. (maybe they are friends?)

after formatting in windows, testing on the adalogger, I checked with gparted to see what the partitions look like (they both look different from before) they both have 4 MB not allocated at the beginning of th

[2018-03-15 01:23] jerryneedell commented on #680
same issue as #514 - uncommenting https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/boards/gemma_m0/mpconfigboard.h#L4  fixes it. PR comming

[2018-03-15 03:25] sommersoft commented on #566
As you can see by its inclusion in almost all categories, LSM303 needs the Full Monty. It was added after I compiled the task list, and I didn't go back and see what was added during the 2 week docstravaganzo.

Preliminary "check the checker" results for the autodoc failures: all of those RTD builds are over a month old, and aren't for the new doc structure. Also, CharLCD is still giving a 404...

[2018-03-15 03:29] kattni commented on #566
Brilliant, thank you!

[2018-03-15 16:50] mlmcnees opened #682 "Documentation link does not work"
I've not been using CircuitPython for long but the last several release pages that I have looked through I click the documentation link and the link from GitHub release page that appears as:

Documentation is available in readthedocs.io.

has a link:

http://circuitpython.readthedocs.io/en/latest/index.html

that does not work it should probably be http://circuitpython.readthedocs.io/en/latest/

[2018-03-15 17:06] tannewt commented on #680
Fixed by 04b4026666d8a8ef79a1f2ba14330863424936fc

[2018-03-15 17:06] #680 closed

[2018-03-16 00:21] tannewt commented on #566
Are there doc builds that I need to poke? Its possible the webhooks are setup correct and so they are out of date and therefore look like they are failing.

[2018-03-16 00:25] sommersoft commented on #566
@tannewt CharLCD has been out of commission for some time... It appears that most, if not all, of the ones in the 'autodoc failed' section are older builds (1+ month). I will get a full list together shortly.

[2018-03-16 01:34] tannewt commented on #566
I checked and fixed all the build issues except APDS9960 which is failing due to a data descriptor getting passed a mock object I think.

[2018-03-16 23:14] kattni commented on #635
PWM, Servo, Cap Touch and RGB LED are all finalised and mirrored into the board guides!

Currently working on NeoPixel and DotStar, and starting UART and I2C. Left are HID Keyboard, CPU Temp and Storage.
- NeoPixel/Dotstar will each have one diagram per, different board each.
- UART will use Flora v. of GPS for CPX/Gemma, breakout for the other boards, with wiring diagrams for every board.
- I2C S

[2018-03-17 00:13] sommersoft commented on #566
FeatherWing `example.py` files are nested in subdirectories. Should we figure out a way to have adabot check nested folders, or maybe just put a dummy/general .py in the `examples/` folder?

For the APDS9960, do you want me to remove the `const` on the `APDS9960_ENABLE` assignment? I just hope it doesn't waterfall for all of the others and we just keep chasing it down the line.

I think these two

[2018-03-17 16:05] willingc commented on #682
Hi @mlmcnees, Thanks for the report, and I'm sorry some of the links sent you to the ReadtheDocs maze page. The team has been actively improving and refactoring docs.

You may already be aware, but I'll post here for others who may view this issue at a later date:
- Docs can be found at https://circuitpython.readthedocs.io and that will direct you to the version specified as the default.
- Other v

[2018-03-17 20:40] kattni commented on #566
I noticed the FeatherWing issue. If we can update Adabot to check subfolders, that's great, but I think in the case of FeatherWing, it might still be a good idea to have a readme.py in that folder anyway since it's an unusual library. Something explaining that each folder contains examples to go along with the associated FeatherWing.

We'll need to test it if we remove `const` but I think we shoul

[2018-03-17 20:56] kattni commented on #682
This was an excellent way to let us know! If possible, can you post a link to a couple of the pages where you encountered the incorrect link? As @willingc stated, we're currently updating our documentation, and I want to make sure we're catching everything.

[2018-03-17 21:33] sommersoft commented on #682
Just for clarification, this issue was with the CircuitPython Release Notes, for each release. That being said, @willingc excellent recommendations (as always)! And, thank you from me as well @mlmcnees for letting us know.

Here is a screenshot showing the discrepancy:
![2018-03-17](https://user-images.githubusercontent.com/21211479/37560123-d95b5890-2a00-11e8-83da-8dab6e935375.png)

[2018-03-17 21:35] kattni commented on #682
Thanks to @sommersoft for clarifying where the issue was. I have updated the release notes for 3.0.0a3 and 2.2.4 to reflect the correct Read the Docs links. Thank you again to @mlmcnees for catching this issue! It should be resolved going forward.

[2018-03-17 21:35] #682 closed

[2018-03-18 16:27] willingc opened #684 "Disable dot release docs in RTD that indirect incorrectly"
This is a minor housekeeping follow up to #682. @sommersoft @kattni @tannewt

### RTD Versions page
<img width="995" alt="screen shot 2018-03-18 at 9 17 35 am" src="https://user-images.githubusercontent.com/2680980/37568065-5e05b676-2a8d-11e8-9fd2-c392100acd14.png">

### Landing page for 2.2.1, 2.2.0, and 2.1.0
<img width="779" alt="screen shot 2018-03-18 at 9 17 49 am" src="https://user-images.gi

[2018-03-18 18:51] notro commented on #671
This is as far as I got this weekend following your suggestion ([diff](https://gist.github.com/notro/8cf8d57fd99e88e7f7ee5bd4f5ecff51)):
[code]

I could use some help in creating a struct_time from C, currently I'm cheating by using a tuple:
[code]
The next step is to hook it up to the hw rtc.

[2018-03-18 21:39] kattni commented on #684
This is an excellent suggestion. @willingc, thank you for outlining the process! I've disabled 2.2.1, 2.2.0, and 2.1.0 in Read the Docs, leaving latest and 2.x as the active options. So, we should be set for now. Thanks again!

[2018-03-18 21:39] #684 closed

[2018-03-19 06:32] tannewt commented on #671
Good job so far @notro! I think this will help you create a struct_time: https://github.com/adafruit/circuitpython/blob/master/shared-bindings/time/__init__.c#L82

Its actually just a named tuple. I believe the type you'll want to pass is `&struct_time_type_obj`.

[2018-03-19 06:45] tannewt commented on #566
We can updated Adabot to be ok with subfolders. I think a `README.md` would be fine but I don't think a `.py` makes sense.

I'll take a quick look now at APDS9960 and see if I can get a better mock function in there. I think another library may have done it already.

[2018-03-19 07:04] tannewt commented on #624
https://github.com/adafruit/Adafruit_CircuitPython_APDS9960/pull/8 is the last fix for this I believe.

[2018-03-19 07:05] tannewt commented on #566
Here is a fix for APDS9960: https://github.com/adafruit/Adafruit_CircuitPython_APDS9960/pull/8

We can use the same technique to remove any MockObjects we see references in the auto-gened docs.

Great work everyone!

[2018-03-19 12:43] willingc commented on #684
Thanks @kattni. Happy to share the process. It took me a long time to find out some of the RTD workflow stuff like this.

[2018-03-19 15:46] sommersoft commented on #566
I agree on both accounts. A `README` would be useful in the FeatherWing examples folder, but a `.py` might get confusing. Would RTD render a `.md` (lazy/at work; haven't looked it up myself)? If not, we could setup a toctree for the examples with an `examples.rst`, or sub-tree it in the `index.rst`.

[2018-03-19 16:43] tannewt commented on #566
I believe RTD would render the .md unless we explicitly ignore it.

On Mon, Mar 19, 2018 at 8:46 AM sommersoft <notifications@github.com> wrote:

[2018-03-19 17:42] willingc commented on #566
I believe @tannewt is correct. If you do not for some reason see it, double check that it is included in any toctree (local or master) and that recommonmark is installed.

[2018-03-19 23:27] sommersoft commented on #417
Meant to put this up last night before the meeting today, but ran out of time.

- After looking at 2.x a little deeper, the only BIG difference I can see is that `usb_rx_notify` blocks out while it pulls the data from both endpoint buffers (128 bytes) and puts it in the local buffer. I may be wrong, but reconciling the difference between ASF3 and ASF4 conventions isn't easy for the untrained such

[2018-03-20 06:19] sommersoft commented on #417
New debug log: [REPL Debug Gist 2](https://gist.github.com/sommersoft/4b2623a69b6e606390d803492699c64b)

Here is an excerpt of the informational bits (better formatting here):

------------------------------------------------------------------------------------------------------------------
started this capture already at '>>>' (see first usb_rx_buf_tail == 70, with usb_rx_count == 64...difference

[2018-03-20 17:17] tannewt commented on #417
@sommersoft I think you are on the right trail! We're trying to rate limit incoming data by erroring on the callback with the new data but `_usb_d_cb_trans_done` ignores the result.

Perhaps changing [this line](https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/usb.c#L155) to the below would fix it:

[code]

That way we'd only queue up a read when we have room for another pack

[2018-03-20 19:21] sommersoft commented on #417
@tannewt that might actually work. Initial thought is that it may force `usb_read` to clear the local buffer before triggering any further ep reads. Will likely have to change the `if (!pending_read && usb_rx_count == (USB_RX_BUFF - 1))`, unless we just wait on `usb_cdc_background` to call `start_read`. (On phone, by memory; otherwise I'd link to lines)

[2018-03-21 04:27] kattni commented on #635
NeoPixel/Dotstar are finished and mirrored. UART and CPU temp are waiting final approval.

[2018-03-21 18:08] tannewt opened #689 "Auto add .metadata_never_index to new filesystems"
This file prevents Mac OSx from cluttering the filesystem with index files.

https://apple.stackexchange.com/questions/92784/preventing-spotlight-from-indexing-files-folders?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

[2018-03-22 01:40] sommersoft commented on #417
Unfortunately, changing that line didn't work. 😞 Also disabled all of the 'in function' calls to `start_read` to see if letting `usb_bytes_available` would just pick up the additional transfers...nope. I finally put in some variables to extract the function args (`read_complete(return code)`, etc). Nothing is showing any issues just yet. So it may be deeper in the endpoint setup after all. Just go

[2018-03-22 02:53] jepler commented on #689
I wonder how this will interact with the process done at adafruit that loads the initial content onto the flash filesystem; is putting this circuitpython the right thing?

I have a compile-tested patch, but haven't run it on a device.
[code]

[2018-03-22 10:42] jerryneedell commented on #689
Since putting the initial content on the board requires that the FS be present, this section of the code should not get run after the demo scripts are loaded. It will only get run if the FS is being recreated. If the demo code were there, it would get wiped anyway.

Just a few thoughts as to adding this to all builds. I am not convinced it is the right thing to do. MacCOS users are a subset of the

[2018-03-22 10:44] jerryneedell commented on #689
If this is implemented, would it also be necessary to implement it in the /lib folder as well?

[2018-03-22 12:41] jepler commented on #689
I think my patch above is probably missing a call to flash_flush(), and/o the old call should be moved below the file creation.

I don't actually have a MacOS machine to test, I just picked up this issue because it "looked easy" and was tagged accordingly :wink:

According to 'df' running on my Linux machine, creating a zero-byte file in the root of the filesystem doesn't consume any blocks of sto

[2018-03-22 12:43] jepler commented on #689
.. I noticed this in the README of the trinket m0's default contents from adafruit:
[code]
so at adafruit they do think this is a useful step to take, for whatever that's worth.

[2018-03-22 12:49] jerryneedell commented on #689
Yes, they did this for the Trinket M0 when the files are loaded. It is not "built into" CP for the trinket M0.  My point was that if something is going to be built in, does all of the above need to be added in order to be effective.  ( .fseventsd/no_log, .metadata_never_index
or .Trashes files )

[2018-03-22 13:01] jerryneedell commented on #689
How bad is the impact if these are not added? I don't often use MacOS for accessing these boards.

I do have a MacOS system and a Linux system so I can test the impacts on those, but I don't have a Windows system. Does any of this cause any issues for Windows users and are there any similar Windows file system quirks to me covered as well.

[2018-03-22 17:18] tannewt commented on #689
I think this is worth it because non-Mac users can always delete the file to recover the entries. Its way more difficult for a Mac user to delete all the extra files made the very first time its plugged in.

@jepler I don't think you need to actually test with Mac. I use it, added that file and it prevented the indexing.

When I'm testing this code I usually force the if statement to be true. (Bac

[2018-03-22 17:28] #689 closed

[2018-03-22 17:30] tannewt commented on #417
What did it do? Do you have a copy of the changes? I expected it to work. :-)

[2018-03-22 21:16] sommersoft commented on #417
@tannewt, by changing the line to your suggested...it didn't do anything different. still 3 calls to `read_complete` but only printed out 128 characters.

When I was disabling 'in function' calls to `start_read`, I was trying to see if any of them were stepping on each other, in addition to seeing if `usb_bytes_available` would keep the wheel rolling. Oddly, it reduced the instances of `read_compl

[2018-03-22 23:07] tannewt commented on #674
Is this still an issue?

[2018-03-22 23:16] sommersoft commented on #417
I'm moving on to the `usb_write/mp_hal_stdout` side. I'm getting more and more convinced we're chasing a red herring on the read side.

Just spent the last 30 minutes stepping in/over `read_complete`s while pasting and watching the callstack. This seems to be a little more accurate in Atmel Studio than printing out vars and automatically continuing execution.

[2018-03-23 07:04] tannewt opened #695 "Purple status pixel during main running"
Its configured to be green while main runs. See main.c and supervisor/shared/ for related code.

[2018-03-23 11:37] bobricius opened #696 "Sleep and wake up"
Hi, I am sorry for opening similar issue, now without RTC feature.

I missing only one feature, It can very help for battery operated devices.
Sleep and wait for button for wakeup, I thing that it can be great advantage to expand cpython to wearables. This guys make something for sleeping but wake not working https://github.com/edgecollective/circuitpython. Can anybody make this feature?

[2018-03-23 13:22] jerryneedell commented on #581
Just a quick update - Making progress on this. I have the basics working for SPI and I2C.  Patterned after FocalTouch as suggested and I have the basic "paint" demo working with a 2.4inch TFT. Lots of clean-up/tweaking to do.
Still have to deal with the occasional SPI "mode" issue. Seem like just retrying usually gets it "right".

[2018-03-23 15:07] ladyada commented on #581
sounds great!

[2018-03-23 15:09] ladyada commented on #696
hiya - this would be same as https://github.com/adafruit/circuitpython/issues/119 - we'd need https://github.com/adafruit/circuitpython/issues/544 first, because you cannot sleep with USB connected :)

[2018-03-23 16:22] dhalbert opened #699 "Trinket M0: assigning I2C pins first blocks out UART pins"
I2C before UART doesn't work:
[code]
UART before I2C works:
[code]

So it would be good to use a different preferred SERCOM allocation order.

@ladyada @kattni : note this as a support issue, came up in https://forums.adafruit.com/viewtopic.php?f=52&t=131725&start=15#p659876

[2018-03-23 16:48] jepler commented on #572
In IEEE 754, C and python 2.x, the return type of ceil/floor functions is a floating-point type.  python3 changed this, so that the return type is an integral type (a fine choice for a language which has an unbounded integral type like long).  On circuitpython builds without support for arbitrary precision longs, why not follow python2 and return a float so that there are no unexpected range probl

[2018-03-23 16:50] dhalbert commented on #572
We may turn on longints on the M0 boards if we can get things to fit in 3.0.

[2018-03-23 21:27] jepler commented on #572
My proposed patch will leave the behavior unchanged on builds that have MPZ enabled.

[2018-03-23 21:32] tannewt commented on #572
I'd rather throw ValueError on MPZ-less builds. We can consider turning it on for non-Express boards if we have space once everything else is done for 3.0.

[2018-03-23 21:35] tannewt commented on #699
A board-specific hack could help here. Is hard-coding the approach we want to take for things like this?

[2018-03-23 21:40] tannewt commented on #530
@jepler I agree with you that the user could do it as needed. A lot of our guides reference CIRCUITPY and it'd be good to be exact by default.

How about we add something to `storage` that can change it during `boot.py`? That way the process is OS agnostic but still done by the user.

[2018-03-23 21:46] tannewt commented on #236
Fixed by #693. Thanks @jepler!

[2018-03-23 21:46] #236 closed

[2018-03-23 21:47] jepler commented on #530
@tannewt interesting idea, I will try to take a look at doing that this weekend.  I am not familiar with the storage module yet, but maybe the API should look something like: `storage.setlabel(filesystem, "newlabel")` ?  I'm not actually seeing in the docs what sort of values you might pass for `filesystem` though, hm.

[2018-03-23 21:48] #501 closed

[2018-03-23 21:53] tannewt commented on #696
This is definitely on my radar. I think one of our major releases should focus on battery-operated datalogging. Saving battery life isn't simple because of peripheral and clock management too. I'd also like to tackle flash wear leveling to coincide with that.

I'm happy to advise anyone trying to do this earlier but its not a focus for us yet.

[2018-03-23 21:55] tannewt commented on #530
IIRC `remount` uses the mountpoint. So `"/"` or `"/sd"`.

[2018-03-23 21:57] tannewt opened #701 "Make mpy_cross module."
Add a `mpy_cross` module that exposes the same functionality as the `mpy-cross` binary. That way people can use the REPL to convert py files to mpy. They are usually needed when loading multiple libraries at once. So, loading one at a time to mpy it up should be doable.

[2018-03-24 17:22] sommersoft opened #703 "Ethernet FeatherWing Library"
A user in Discord was looking for an Ethernet FeatherWing library. After discovering there isn't one yet, they mentioned that they were going to port over the Arduino library. I've given them the guide to build a standard library, and mentioned that you all will probably want it in the Adafruit Bundle.

Can someone create the repo for the library for them?

[2018-03-24 17:27] sommersoft commented on #703
They didn't mention their targeted platform, but I passed along the issue and question. Will let them respond if they desire...

[2018-03-24 17:27] ladyada commented on #703
all good, i *was* thinking last night about how we could go about adding support, but i would def do so on an M4 :D

[2018-03-24 17:57] ladyada commented on #699
oi yeah trinket is a very odd case because i fit all the pins on a dual sercom, so you could have either 2 sercoms for i2c/usart or one for a full SPI. i think for now we should document this as an unexpected consequence of the way trinket m0 is set up. long term, we can do hardcoding/hinting.
sound good?

[2018-03-24 19:38] jepler opened #704 "hash(float) is not a very good hash function, causes specific performance problem"
The following program constructs three sets.  The first contains integers (3,4,5,...).  The second contains floating point numbers (3.0, 4.0, 5.0, ...).  The third, floating point numbers (3.0, 3.0001, 3.0002, ...).

[code]

Typical performance in circuitpython on trinket m0:
[code]

Because `hash(float)` is essentially `floor(float)`, all the items in the third set go to the same hash bucket, giv

[2018-03-24 19:48] jepler commented on #704
Enabling `MICROPY_FLOAT_HIGH_QUALITY_HASH` in `mpconfigport.h` appears to cost just 64 bytes of flash (tested on trinket m0 with gcc 5.4), and changes the typical performance to
[code]

[2018-03-24 20:06] jakebird451 commented on #703
Hello, this is UnknownError from discord. My initial target would be the Adafruit WIZ5500 wiznet ethernet featherwing purely out of necessity. I also have the Adafruit Feather M0 WiFi w/ATWINC1500, but I will have to work on that one later.

[2018-03-24 20:55] ladyada commented on #703
ooh a pure python implementation definitely wont fit on an m0, especially without external flash. you *might* be able to fit into C - it looks like micropython (which we derive from) has a wiznet5k module!
https://forum.micropython.org/viewtopic.php?t=378
we haven't tried it at all, but your best bet is to use a feather M0 express so you get that extra flash space, then try to compile circuitpytho

[2018-03-24 21:04] ladyada commented on #703
chatted with @tannewt - we may try compiling this into a future circuitpython build from upstream!

[2018-03-25 03:17] sommersoft commented on #695
Quick debug log, in case anyone can readily explain why the below is happening. As this shows, we're ending up at `reset_mp`, [which sets the pixel to](https://github.com/adafruit/circuitpython/blob/master/main.c#L78) `0x8f008f` (purple).

[code]

Back to the salt mines...

[2018-03-25 16:21] jepler opened #705 "Reproducible crash related to @property, super() in ports/unix/micropython"
I noticed that `tests/cpydiff/core_class_superproperty.py` crashes when running the UNIX port.  I minimized the crasher source to
[code]
Valgrind produces the following information:
[code]
Notably, the address is actually the string fragment `lib/micro'.

[2018-03-25 16:41] jepler opened #706 "Reproducible assertion failure in usocket.socket() with bad argument list"
Minimized from a testcase found by afl-fuzz:
[code]

Stack at time of assertion error:
[code]

Upstream micropython gives a Python traceback, not a crash.

[2018-03-25 16:50] jepler commented on #705
Running the same block of code on my Trinket M0 hangs it, requring use of the reset button.

[2018-03-25 17:04] jepler opened #707 "Reproducible crash concatenating with an O-type array"
Trinket M0, master branch (similar test cases crash interestingly on ports/unix), found with afl-fuzz

[code]
Trinket M0 serial interface hangs after printing `[`.

[2018-03-25 19:01] jepler commented on #705
While debugging, I found that `make_fun_bc_long_lived` is being called with an object of type `closure_type`.  `make_property_long_lived` should not assume the proxy objects are all of type `mp_type_fun_bc`.

[code]

Fixing this, by calling make_obj_long_lived instead, fixes the crash but doesn't fix the original problem, that `super().p` returns the property, not the value of the property.

[2018-03-25 20:19] bobricius commented on #696
my God, and I thought that it would be only one instruction. It is really complicated thing.

[2018-03-25 21:54] jepler commented on #707
Python2/3 don't accept array type 'O'.

A related problem can be triggered with slice assignment
[code]

and it's not clear if this result from concatenating different-type arrays is desirable (python2/3 reject it with a typeerror, even when the types have the same size)
[code]

[2018-03-25 22:00] notro commented on #671
Yay, I have a running clock!
[code]

[rtc module diff](https://gist.github.com/notro/72ad0fd4bd2934cad43e87729e65fe1a)
[asf4 diff](https://gist.github.com/notro/e087c42e5cc2c79f81ba85faccfd9b8d)
[samd21 diff](https://gist.github.com/notro/2e9eca8cbb9e7f12ec416043eb0fd524)

I'll see if I can make a PR next weekend so we can discuss the details.

[2018-03-25 23:12] sommersoft commented on #695
Intermediate update. After expanding my breakpoints, seems at this point, that `tick_rgb_status_animation` either never calls `new_status_color` to update the color, or something during those calls is failing/causing purple. Atmel Studio continues to be an obstruction on retrieving some values (unless this is just the nature of hardware debug that I don't know; could also be since I'm running off

[2018-03-26 00:19] jepler commented on #707
Shall we fix slice assignment and concatenation so that different types are rejected, as in Python 2/3? If so I can work on generating a PR.

[2018-03-26 00:27] jepler commented on #707
Another one to fix: constructing object arrays from bytearrays.
[code]

[2018-03-26 00:34] dhalbert commented on #707
A bad typecode should be caught. In CPython 3:
[code]
and I agree slice assignment and concatenation should check that the types match.

Thank you for checking all this! I'm sure upstream (micropython) would be interested as well.

[2018-03-26 01:50] jepler commented on #707
'O' and 'P' arrays are deliberate MicroPython extensions inherited by CircuitPython—see `tests/basics/array_micropython.py`.

array.array also accepts an 'S' typecode in MicroPython/CircuitPython, but it looks like that one *may* be an accident.  It seems to be in support of the ustruct typecode extension in MicroPython but not in CircuitPython:
[code]
.. that one we probably should nix from use i

[2018-03-26 02:06] jepler commented on #707
One more:
[code]

[2018-03-26 03:05] dhalbert commented on #707
Ha! I didn't realize that. I looked in the MPy [readthedocs](http://docs.micropython.org/en/latest/pyboard/library/array.html) and that wasn't listed. I thought `'O'` was just the result of some fuzzing testing.

[2018-03-26 04:54] sommersoft commented on #695
One last update for tonight. Still expanding the breakpoints, but not exactly closer. Trying to rectify why `tick_rgb_status_animation` never calls `new_status_color`, [like its supposed to](https://github.com/adafruit/circuitpython/blob/master/supervisor/shared/rgb_led_status.c#L266). Two things I'm focusing on are values for `neopixel/apa102_in_use` (can't get trace info on it), and the `reset_p

[2018-03-26 06:08] tannewt commented on #704
@jepler please enable the high quality hash in our builds.

[2018-03-26 06:11] tannewt commented on #703
Yup! I'd be great to have this.

@jakebird451 what do you want to do with it? HTTP API? MQTT? We may want to abstract away the lowest level of the network in favor of providing CPython staples like `requests`.

[2018-03-26 06:26] tannewt commented on #707
@jepler Overall, we choose to align with CPython instead of MicroPython. So, my vote would be to remove 'O' and 'P' support.

[2018-03-26 06:39] tannewt commented on #671
Awesome work! A early PR would be very welcome!

If you are only able to be online weekends we can coordinate times so we can chat. I usually try to avoid work on the weekend but can trade weekday time to weekend time to coordinate with folks. Let me know. ([Discord](https://adafru.it/discord) is an easy way to contact me too.)

[2018-03-26 06:41] tannewt commented on #706
What version of upstream? We're on 1.9.3 still. (We only update to released MicroPython generally.)

[2018-03-26 06:54] tannewt commented on #695
That purple color could be my fault... I may have added it during debugging. I did reshuffle the order of reset_mp calls which may have made this more obvious.

I vote you remove the purple line.

[2018-03-26 06:58] tannewt opened #714 "Prevent unused input characters from spewing into REPL"
To reproduce:

1. Write a file with an infinite loop but no `input` calls.
2. Type a bunch of characters besides ctrl-c.
3. Type ctrl-c to break out of the loop.
4. The first of a bunch of characters satisfies the any keypress to enter repl and then the repl gets the rest.

Instead, we should clear the input buffer after main finishes and before we wait for another character.

[2018-03-26 12:43] jepler commented on #706
I only tested with the tip of the mater branch at micropython.

I think the fix is simple, these assertions should just be changed to generate Python exceptions.  I can roll a patch to do that.

This *may* just affect the ports/unix environment used for testing (the filename is ports/unix/modusocket.c so it's not shared with real hardware).  I don't have any CP board with networking so I can't tes

[2018-03-26 14:31] notro commented on #671
Thanks for the offer, but I'm not much of a chatter :-)

I mostly do Linux kernel development so I'm used to discussions on mail which suits me fine.

And since I love reading code more than writing it, I prefer to dig around the code base to answer my own questions when I'm stuck. I've set up [elixir](https://github.com/free-electrons/elixir) so I can browse the CP source like I can do with Linux

[2018-03-26 14:33] jerryneedell opened #716 "PulseIn not implemented for ESP8266"
When trying to use a DHT22 on an ESP8266 - this error is returned:
[code]

https://github.com/adafruit/Adafruit_CircuitPython_DHT/blob/master/adafruit_dht.py#L106

I did not see an issue for this so I am just creating this to track it.
edited to add link to pulsio code: https://github.com/adafruit/circuitpython/blob/master/ports/esp8266/common-hal/pulseio/PulseIn.c#L37

[2018-03-26 16:28] jerryneedell commented on #716
It is also not implemented for the nrf52. Changed title.

[2018-03-26 18:26] kattni commented on #635
UART, I2C, CPU temp are all mirrored in.

Storage is finished, waiting on final approval.

HID Mouse and Keyboard are finished and waiting on first revision.

That's it!

[2018-03-26 18:39] jerryneedell opened #717 "LORA Radio driver fails under CP3.0"
Running the basic test fails under CP3..0 alpha (current master)
It works under CP 2.2.4

Same boards, only change is reloading CP and libraries.

[code]
lora_test.py is just the repo simpletest with the correct pins set.
[code]

[2018-03-26 19:24] caternuson commented on #184
It'd also be useful if a file to run on reset could be specified. This would let people use this in main.py to specify a different file to run and eliminate the need to rename. Or it could be used in a more complex way like a menu system to allow selecting one of the other .py files to be run programmatically.

[2018-03-26 19:38] jerryneedell opened #718 "DHT22 driver not working under CP3.0-alpha"
dht_simpletest yields:
[code]

under CP3.0 alpha
It works ok on 2.2.4.

[2018-03-26 19:59] tannewt commented on #671
@notro All good! Feel free to email me at scott@adafruit.com if you have questions. I'm happy to talk about cultural stuff.

[2018-03-26 20:02] tannewt commented on #706
Yeah, first take a look to see if its been fixed up stream.

[2018-03-27 04:59] #705 closed

[2018-03-27 07:48] deshipu opened #721 "Ability to redirect the REPL output"
When we build projects using the CircuitPython boards, we will often connect to them output devices, such as character displays, LCDs, OLEDs, LED matrices, thermal printers and so on. That potentially gives us the ability to display debugging output and exception traceback in a more convenient way, without having to connect to the computer to see the serial communications. We just need some way to

[2018-03-28 01:16] tannewt commented on #721
Is redirecting the REPL output such as `print` really the right way? Wouldn't something like basic `logging` support be more like CPython? Exceptions could be caught and logged then.

[2018-03-28 05:38] sommersoft commented on #695
It was actually in 2.x as well...so I don't think it was related. (It didn't "fix" the issue).

While looking back through the commit history, I came across [942b7ff](https://github.com/siddacious/circuitpython/commit/942b7ffbe0f0ec04a11e65c1586adf959b9eea7a) from @siddacious, fixing #514. In his comments he mentioned that he got "statusing". After talking to him on discord tonight, I decided to s

[2018-03-28 06:00] siddacious commented on #695
No dice for me; just pulled an built on my trinket and I still get a purple dotstar while it's running

[2018-03-28 06:01] sommersoft commented on #695
Odd. I even checked to make sure I didn't have leftovers from previous work... Guess I'll have to check again.

[2018-03-28 14:21] sommersoft commented on #695
@siddacious, I would have tested this before commenting, but didn't think about it until this morning on the way to work.

When you built the firmware, did you use `DEBUG=1`? It's the only differentiation I can readily think of (I built with debug on). Seems like a longshot, but figured I'd ask...

[2018-03-28 17:36] siddacious commented on #695
I didn't build with debug on.

[2018-03-28 17:36] ladyada commented on #695
fyi purple is the default pixel color out of bootloader so it may mean your pixel isnt working at all

[2018-03-28 17:52] sommersoft commented on #695
@siddacious thanks. I'll test later without debug. I'm not too hopeful, but the flags _might_ be optimizing something out. ???

@ladyada I was working my way through this with that in mind. I was beginning to think that the checks to see if the pins are in use, we're actually blocking the updates after the initial purple. We'll see...

[2018-03-28 21:16] #704 closed

[2018-03-28 23:02] sommersoft commented on #695
Built current master without debug. Tested on 2 different Trinkets, and a Feather M0 Express; all working.

[2018-03-29 03:30] sommersoft commented on #718
Looking into this real quick. Not to state the obvious, but the `pulsein` is failing to return any data. I turned off the `raise RuntimeError` in the driver, and enabled the print statement that was commented out. Here is the return message:
[code]

Will dig a little deeper.

[2018-03-29 16:45] tannewt commented on #695
Ok, I'll close this and re-open if I see it again. Thanks!

[2018-03-29 16:45] #695 closed

[2018-03-29 16:52] tannewt commented on #714
@sommersoft This might be a good thing for you since you've poked around the usb stuff.

[2018-03-29 16:54] sommersoft commented on #714
Yeah. I was already running it in my head.. :smile:

[2018-03-29 22:03] srfoster opened #725 "README Missing git submodule update Build Step"
I think I'm following the README correctly, but maybe not.  In the atmel-samd directory, I ran

[code]

Get a few hundred errors that all look basically like this:

[code]

Am I missing a dependency?  What is sam.h?

[2018-03-29 22:04] sommersoft commented on #725
did you run `git submodule update --init --recursive` after cloning the repository? also need to run `make mpy-cross`.

[2018-03-29 22:05] sommersoft commented on #725
And yes, it is missing from the README...

[2018-03-29 22:11] srfoster commented on #725
Wow.  That's the fastest anyone has responded to a github issue ever.  Thanks!

I did build mpy-cross. I hadn't run `git submodule update --init --recursive`.  After running that the compilation seems to be working.

Thanks!
👍

[2018-03-29 22:13] sommersoft commented on #725
The wonders of automation. The GitHub bot posts things into the Discord channel, and I happened to see it. 🤖

Glad you're rolling now! And thank you for the issue!

[2018-03-30 16:46] tannewt commented on #725
Someone want to fix the README and fix this issue?

[2018-03-30 19:43] srfoster opened #726 "Compiling and including libraries"
I'm compiling for Circuit Playground (atmel-samd).  That works.  I can deploy the uf2 file to the device.  However, I'm in a bind:

1) When I compile the 3.x version, I don't have some of the audio libraries.  I get an error on `import audioio`.  I think that this might be expected.  I read that 3.x (alpha) doesn't necessarily have the full API yet.

2) When I compile the 2.x version, I don't have

[2018-03-30 20:06] dhalbert commented on #726
Which neopixel library do you want? The one named `neopixel` is a Python-based library from https://github.com/adafruit/Adafruit_CircuitPython_NeoPixel. It's not built in; you'd get it from the bundle or otherwise have it on `CIRCUITPY`. The one named `neopixel_write` is a low-level library that is implemented in C and is built in.

[2018-03-30 20:20] srfoster commented on #726
Thanks for responding!  I hadn't realized there were two libraries.

I was hoping to get the `neopixel` library into the build.

Is `neopixel` really not built in?  I just fully wiped my CPX and re-flashed it with the 2.2.4 version of circuit python that I downloaded from the releases page.  And `import neopixel` does work.  Maybe I'm confused about something here though.

Also, the Adafruit_Circu

[2018-03-30 20:27] dhalbert commented on #726
Ah, ok. It's not "built in" in the sense of frozen code, but it's included in the frozen modules for that particular board. The list of frozen modules to include is in `atmel-samd/boards/circuitplayground_express/mpconfigboard.mk`. If you haven't changed that, `neopixel` should be importable in your build.

How did you add your own extra frozen modules to your build? If it makes sense, point me to

[2018-03-30 21:25] srfoster commented on #726
So, I cloned this repo fresh and things seemed to work better this time.  So I probably was just doing something silly (like maybe I hadn't pulled the submodules before trying to compile).

Anyway, here were the (correct) steps I just went through, for future reference:

[code]

Putting py files in the `modules` directory worked.  And it included the `neopixel` library too.

Thanks for the nudges

[2018-03-30 21:38] dhalbert commented on #726
Great! Glad to help!

[2018-03-30 21:38] #726 closed

[2018-03-30 21:57] sommersoft commented on #725
I'll grab it. I was waiting to see if you or Dan were going to put any additional labels or milestones on it.

[2018-03-31 01:59] dhalbert commented on #725
FIxed by #727. Thanks @sommersoft!

[2018-03-31 01:59] #725 closed

[2018-03-31 05:28] sommersoft commented on #718
Update on things I've poked at so far:

- Changing the `trigger_duration` that is called from the driver. Its set to `1000` for DHT22, and `18200` for DHT11 (don't have an 11; how could this not cause a lockup with `delay_us`?). Setting the DHT22 above `1000` causes a lockup. Anything below `1000` yields the current result of no readings.

- Re-ordered some of the `EIC/GCLK` calls in `pulsein_resu

[2018-03-31 05:38] sommersoft commented on #417
Fixed by #698.

[2018-03-31 05:38] #417 closed

[2018-03-31 17:07] jepler commented on #707
This was fixed by 355bf8b5538b but apparently I failed to note that it "Closes: ..." in the commit message.

[2018-03-31 17:07] #707 closed

[2018-03-31 17:08] jepler commented on #706
@tannewt let's ether close this one or take it off the 3.0 milestone.  It's in ports/unix code, so it can't affect real HW.

[2018-03-31 17:15] deshipu opened #731 "Bring back the interactive mode for REPL"
In cpython, when it's run in interactive mode (with `-i`), when the main script being executed finishes (or errors, or is otherwise interrupted), we are dropped into the REPL with all the variables from the script available, so we can easily inspect them and work with all the functions and classes that were defined in the script. It's a standard Python behavior, very useful for debugging and ad-ho

[2018-03-31 17:30] deshipu commented on #721
There are many ways to do it, but since we already have the mechanism for this in place (only in one port, but it's there), and this gives us the most possibilities (like the WebREPL, or ability to use the REPL directly on a device that has a keyboard connected), it made the most sense to me. It also lets you do simple debugging with prints without having to teach users to use a logging framework.

[2018-03-31 17:55] jepler commented on #530
@tannewt with #712 merged, can we close this up?  or is there more to do (tutorial documentation to be written?)

[2018-04-01 04:12] sommersoft commented on #718
Slight progress. I think.

I've stepped through several function breakpoints, several times. While chasing variables and doing my best to verify them, I noticed that `EIC_Handler -> pulsein_interrupt_handler` is only called on the `first_edge` response. It never triggers beyond that.

I tried changing the `idle_state` to `false` in the driver, since the first data response _should_ be a rising edg

[2018-04-01 16:33] tannewt commented on #530
Closing sounds good! I'll try and remember to highlight its addition in the next set of release notes. Thanks!

[2018-04-01 16:33] #530 closed

[2018-04-02 05:49] tannewt commented on #718
I think you are on the right track. The interrupt should fire on the specific first edge and then fire on both. This can be very tricky to debug since the DHT will return the data even if you are stopped at a breakpoint.

I'd suggest having a Saleae to validate that the sensor is responding OK. (Ping me if you don't have one.) That can also be useful to validate the measurements against a "neutral

[2018-04-02 05:59] tannewt commented on #660
Fixed by #732 and #733. Thanks @deshipu

[2018-04-02 05:59] #660 closed

[2018-04-02 06:00] tannewt commented on #568
Fixed by #732

[2018-04-02 06:00] #568 closed

[2018-04-02 06:01] tannewt commented on #438
@dhalbert Is this on your radar for your USB work?

[2018-04-02 06:02] tannewt commented on #706
Happy to close it. Thanks!

[2018-04-02 06:02] #706 closed

[2018-04-02 06:09] tannewt commented on #731
Try commenting out this reset_mp(). https://github.com/adafruit/circuitpython/blob/master/main.c#L303

`reset_mp` is what resets the heap and the top level VM state (via mp_init()) I believe.

[2018-04-02 06:11] tannewt commented on #721
I'm open to this but don't want to add the work to 3.0. Lets consider it for 4.0 after 3.0 is ready.

[2018-04-02 09:51] deshipu commented on #731
Thanks, I will give it a go.

[2018-04-02 09:54] deshipu commented on #731
I wonder if this could also be an option for #184 — have a flag that controls whether to reset it or not after running the file.

[2018-04-02 21:48] kattni commented on #635
Everything is set and the guide is live! https://learn.adafruit.com/circuitpython-essentials

[2018-04-02 21:48] #635 closed

[2018-04-02 21:49] tannewt commented on #184
@deshipu thats a great idea! Mind filing a separate issue for it?

[2018-04-02 21:56] deshipu opened #737 "Make the startup behavior more explicit"
Right now the behavior of CircuitPython at startup has a lot of details that are hidden, and have to be learned by reading tutorials, rather than by exploration: what files are run on startup, where to put USB-initializing code, etc. We could make it more visible by putting most of the initialization functions in a `boot.py` file created from a template on board startup whenever it is missing. The

[2018-04-02 22:05] tannewt commented on #731
@deshipu Sounds good to me!

[2018-04-02 22:07] deshipu commented on #731
I will try and see if I can get that as a compile-time flag first.

[2018-04-03 01:08] ladyada commented on #273
fixed with https://github.com/adafruit/circuitpython/commit/cebcec5e63d594dda93917ffbecfde6d6fe5c5ca

works great, lets you know if you don't have pullups detected, available in 3.0 :)

[2018-04-03 01:08] #273 closed

[2018-04-03 19:45] osterwood opened #739 "Reset into boot loader from REPL [CP3.0-alpha-3]"
I am attempting to reset into the boot loader via the REPL via:

[code]

- When running 2.2.1 : the board properly resets into BOOTLOADER mode (with the uf2 file visible in the mounted disk).
- When running 2.2.4 : correct behavior (same as 2.2.1).
- When running 3.0.0-alpha.3 :  the board resets into normal running mode.  Bootloader mode seems to be skipped or ignored.

I am able to get to the bo

[2018-04-03 20:10] tannewt commented on #739
Hi @osterwood! I'm excited to hear you are designing a custom board! I'd love to have it supported in this repo when you are ready.

@jepler was just asking me about this bug too. I glanced at the related code but didn't see anything super obvious. Its a matter of writing a special value to a particular memory location before resetting. So, its likely a change in the linker scripts (which defines

[2018-04-04 00:17] osterwood commented on #739
Thanks for the quick reply!  I'm not the right person to do a deep dive into linker scripts, so I'll watch and learn from the sidelines on this one.

I will be submitting patches once the next board rev is in and pin definitions are finalized.  Thanks so much.

[2018-04-04 02:18] jepler commented on #739
Yes, something has moved `_estack` by 4 bytes!  Pursuing further...

In CircuitPython 2.x branch, `build-trinket_m0/firmware.elf.map`:
[code]

In master branch, `build-trinket_m0/firmware.elf.map`:
[code]

The culprit commit is efbf08266b6d17a383c498140c1498e0161139ce to ensure the stack is 8-byte aligned.  However, without updating the bootloader, `_bootloader_dbl_tap` must remain at the same mem

[2018-04-04 02:54] jepler commented on #653
False alarm, I don't think #740 is actually related to this.