[2017-09-15 21:08] ladyada commented on #253
ooh ok will do!

[2017-09-15 21:25] dhalbert commented on #253
Trying this in the REPL and I get ~4095 all the time as you do. The ASF calls we make are supposed to reset all the ADC logic completely, but apparently not. I'll look further. The double read is just because the ADC supposedly doesn't stabilize after you change the voltage reference: http://www.atmel.com/images/Atmel-42645-ADC-Configurations-with-Examples_ApplicationNote_AT11481.pdf, page 28:

re

[2017-09-15 22:41] mmabey opened #254 "Check number of bytes buffered on UART bus before attempting to read all"
Regarding #209, I had an idea that may help speed things up. Instead of simply waiting for `read()` (and more specifically `common_hal_busio_uart_read()`) to timeout when the buffer is empty, why not just check the length of the input buffer first and request that amount? The use case scenario this fits best is when `read()` is called with no value for `nbytes` specified, meaning they want to read

[2017-09-16 07:28] dglaude commented on #252
This plus the fact that the name changed make the demo code distributed in
Gemma M0 and Trinket M0 not work when upgrading from 1.0.0 to 2.0.0.
And since the CircuitPython filesystem survive the upgrade, the hardware
appear to be not working (the led not blinking the right way).
Please provide to early adopter (those with hardware loaded with 1.0.0 and
demo code) a zip file that will match the con

[2017-09-16 16:04] tannewt commented on #252
The contents of the default file system are available in the learn guide: https://learn.adafruit.com/adafruit-gemma-m0/installing-libraries?view=all#downloads https://learn.adafruit.com/adafruit-trinket-m0-circuitpython-arduino/downloads?view=all#downloads

Its still the 1.0 contents for now because the manufacturing hasn't been switched fully to 2.0 yet.

To upgrade your existing installation you

[2017-09-16 16:16] jerryneedell opened #256 "trinket_m0 pins.c file does not define A1,A2,A3,A4"
The guide https://learn.adafruit.com/adafruit-trinket-m0-circuitpython-arduino/downloads?view=all
describes the us of mnemonic A1,A2,A3,A4 but they are not defined in the pins.c file.
Using the correct D# works, but I wondered if this was an intentional omission.
The mapping is bit confusing since Ax does not go to Dx in all cases.

[2017-09-16 16:22] ladyada commented on #252
yah we just did this yesterday at 7pm :) will update the bundle shortly!

[2017-09-16 17:06] #253 closed

[2017-09-16 17:10] #230 closed

[2017-09-16 19:11] deshipu opened #257 "Overwriting an imported .mpy file causes crash"
When your program imports and uses a precompiled `.mpy` file, and you upload a new version of it, CircuitPython will often crash and stop responding.

[2017-09-16 19:14] deshipu commented on #257
The crash is pretty bad — I have to reflash CircuitPython afterwards to make the board appear as USB drive again.

[2017-09-16 19:45] dhalbert commented on #257
I tried a simple test case and could not reproduce this. Could you give a test case?

 It may not be specific to .mpy files. What might be true is that there's a delayed write to the filesystem going on. If the board gets hard-reset (or unplugged/plugged back in) before the write is finished, then the filesystem can be corrupted.

Windows definitely has delayed writes, and on my Ubuntu 16.04 syste

[2017-09-16 19:55] deshipu commented on #257
I think it just executes some random code then from the updated file, and depending on what code you hit, unpredictable things happen.

[2017-09-16 19:59] dhalbert commented on #257
Is this the scenario?

1. You have a `main.py` that does `import some_mpy_module`.
2. main.py is running (you're not in the REPL).
3. You copy a new version of `some_mpy_module.mpy` to `CIRCUITPY`
4. Bad things happen.

So if the write is incomplete but auto-reload has been triggered, `some_mpy_module.mpy` will be messed up, and that could cause a problem.

[2017-09-16 21:07] deshipu commented on #257
Ah, no, I wasn't explicit enough, my scenario is:

1. I have a `main.py` that does `import some_mpy_module`
2. `main.py` is running and is constantly calling functions it imported from `some_mpy_module`
3. New version of `some_mpy_module.mpy` file is copied from the computer
4. Bad things happen.

My theory is that `main.py` manages to call a function pointer, which no longer points to a correct p

[2017-09-16 21:22] dhalbert commented on #257
I would not expect that scenario to be an issue, because the initial `import` will load the `.mpy` into RAM. After that point the running program is not going to reference the filesystem. A second `import` will be ignored because it's already loaded.

However, any file write through the USB drive will provoke a a auto-reload. CPy waits 500 msec for the write to complete and then simulates a ctrl-C

[2017-09-16 21:32] deshipu commented on #257
The whole advantage of using `.mpy` files is that they are not loaded into RAM — the bytecode is ran directly from flash.

[2017-09-16 21:36] dhalbert commented on #257
That is true of internal frozen modules. It is not true of regular .mpy files: they are not executed from the filesystem flash. All that you save is compiling. I was confused by this at first too; see https://forum.micropython.org/viewtopic.php?t=1962. Only frozen modules that are incorporated into the firmware at build time are executed from flash. Sad but true. I have a project that runs out of

[2017-09-16 22:01] deshipu commented on #257
I think it depends on the platform a little. In any case, a crash does happen when I do the things I described. My theory about why it happens may be wrong, of course, but it still does happen.

[2017-09-16 22:19] dhalbert commented on #257
Could you try the command line with `sync` above? That would help narrow it down to a delayed-write problem or not.

[2017-09-16 22:50] deshipu commented on #257
Now I can't reproduce the problem, whether I use `sync` or not. I think I must just hit some unfortunate glitch, and attributed it to this problem, but in reality it's probably a delayed write as you suggest.

[2017-09-17 01:09] ladyada commented on #252
hiya the files have been updated!

[2017-09-18 16:06] mmabey commented on #184
@deshipu I don't know if these are the kind of solutions you're looking for, but MicroPython has a [`reset()`](http://docs.micropython.org/en/latest/esp8266/library/machine.html#machine.reset) function as well as something called a [watchdog timer](http://docs.micropython.org/en/latest/esp8266/library/machine.WDT.html). Perhaps @tannewt can comment on the likelihood that one or both of these could

[2017-09-18 19:32] tannewt commented on #256
Nope, I don't think its intentional. Mind taking a stab at adding them? Thanks!

[2017-09-18 19:51] jerryneedell commented on #256
I'll be glad to. Once cancer, and I can check this when I add them, is does this add to the code size? Since the trinket only has ~40bytes to spare, it may be better to deal with this via documentation rather than adding Aliases. Just a thought - I'll give it a try in the next few days.

[2017-09-18 19:56] tannewt commented on #257
Ok, sounds like this is too hard to repro to fix now. Please reopen if it happens again and we have a new lead.

[2017-09-18 19:57] #257 closed

[2017-09-18 20:02] tannewt commented on #256
Yeah, it will add a bit of size. Its worth a shot. The binary size will
change a bunch with 3.0 and ASF4 anyway. Thanks!

On Mon, Sep 18, 2017 at 12:51 PM jerryneedell <notifications@github.com>
wrote:

[2017-09-18 20:07] dhalbert commented on #256
You can gain space in the non-Express builds by adjusting `-finline-limit=<nn>` in `atmel-samd/Makefile`. Lower it by 1 or few at a time. It controls how big inlined routines can be. The value was recently to make room to add some code to dim the status pixel, and now there are 256 bytes free.

[2017-09-18 20:13] jerryneedell commented on #256
Great! I'll give that a try as well. The 40 bytes reference was to the 2 .0.0 I did not note the size on the latest. I'll be more attentive!

[2017-09-19 17:43] meichr commented on #245
Adafruit CircuitPython 2.0.0 on 2017-09-12; Adafruit Feather M0 Express with samd21g18

['boot_out.txt', '.fseventsd', 'lib', '._lib', 'code.py', '._code.py', '.Trashes']

After the last line the terminal freezes, no reaction for at least 10 minutes.
Test of SD card in "Adalogger FeatherWing - RTC + SD Add-on".
Tested SD cards with this reaction:
Transcend 4GB class 10, Transcend 4GB class 2.

[2017-09-19 17:50] meichr commented on #245
Adafruit CircuitPython 2.0.0 on 2017-09-12; Adafruit Feather M0 Express with samd21g18

['boot_out.txt', '.fseventsd', 'lib', '._lib', 'code.py', '._code.py', '.Trashes']

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
OSError: 19

...     f.write("Hello world\n")
...
...
...
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
OSError: 30

Test of SD

[2017-09-19 18:28] tannewt commented on #245
Ok, I've ordered Transcend, Verbatim and Lexar cards to test with. @meichr could you post a picture of the cards? I think I've tested a similar Samsung card and it worked ok.

My test cards so far:

![img_2292](https://user-images.githubusercontent.com/52649/30608532-94032dbe-9d2d-11e7-93af-0164f88400c9.JPG)

[2017-09-19 20:54] tannewt commented on #178
I'm going to close this in favor of separate issues to make it easier to assign different tasks.

[2017-09-19 20:55] #178 closed

[2017-09-19 20:56] tannewt opened #259 "Add `busio` support to atmel-samd."
This breaks down to:

- [x] I2C
- [x] SPI (non-DMA)
- [x] SPI (DMA)
- [x] OneWire (handled by bitbangio/OneWire)
- [x] UART

[2017-09-19 20:56] tannewt opened #260 "Add file system support including USB MSC for atmel-samd."
Depends on #259.

[2017-09-19 20:58] tannewt opened #261 "Add `time` support to atmel-samd."

[2017-09-19 20:58] tannewt opened #262 "Add `analogio` support to atmel-samd."

[2017-09-19 20:58] tannewt opened #263 "Add `audioio` support to atmel-samd."

[2017-09-19 21:01] tannewt opened #264 "Add `neopixel_write` support to atmel-samd."

[2017-09-19 21:01] tannewt opened #265 "Update `pulseio` for ASF4."

[2017-09-19 21:02] tannewt opened #266 "Update `os` for ASF4."
Including true random number generator on M4.

[2017-09-19 21:02] tannewt opened #267 "Update `usb_hid` to ASF4."

[2017-09-19 21:03] tannewt opened #268 "Add `touchio` support to the M4."

[2017-09-19 21:19] tannewt opened #269 "Have drivers and docs for all FeatherWings and breakouts."
First, lets track all FeatherWings and breakouts in this [doc](https://docs.google.com/spreadsheets/d/1vrxxjPMWX8WxU8E0C34_fWaERUAXAC9RC157LBjHv8M/edit?usp=sharing). Here are what the columns are:

## FeatherWings

* FeatherWing Name - Name from the Adafruit store
* Store Link - Link to the product page
* Learn Guide - Link to the product's learn guide
* CircuitPython Driver 1 - Link to one relate

[2017-09-19 21:23] meichr commented on #245
@tannewt I've done the above tests with the library-2.0.0 bundle from Sep. 15th and thought that it already contained the above update from Sep 9th. My error!
The pictured SanDisk sd card works with the Sep. 15th version and the above Sep. 9th version. The Transcend sd cards and the Samsung sd card work with the above Sep. 9th version, but not with the bundled Sep. 15th version.
![20170919_sdcards

[2017-09-19 21:37] tannewt commented on #205
Two examples of commits that do a similar thing are: https://github.com/adafruit/circuitpython/commit/a0058e67124b93eb1c8c9c610f823396a7ff7e68
https://github.com/adafruit/circuitpython/commit/778e975936b9e892c4f1b85ce73462a0ce6d36d2

Most of the work is restructuring the code and verifying the API is a strict subset of [CPython's struct](https://docs.python.org/3/library/struct.html).

If you have

[2017-09-19 21:38] tannewt commented on #204
Two examples of commits that do a similar thing are: https://github.com/adafruit/circuitpython/commit/a0058e67124b93eb1c8c9c610f823396a7ff7e68
https://github.com/adafruit/circuitpython/commit/778e975936b9e892c4f1b85ce73462a0ce6d36d2

Most of the work is restructuring the code and verifying the API is a strict subset of [CPython's struct](https://docs.python.org/3/library/math.html). Do NOT copy do

[2017-09-19 22:14] tannewt opened #270 "Help test cutting edge builds!"
Testing new software builds is one of the easiest ways to get started helping CircuitPython development.

First, find an existing project of yours that works with [the latest stable release of CircuitPython](https://github.com/adafruit/circuitpython/releases/latest). Verify that it all still works as you've set it up.

Next, load a cutting edge build from [here](https://adafruit-circuit-python.s3.

[2017-09-19 22:20] tannewt opened #271 "Help answer questions!"
Although you consider yourself a CircuitPython beginner, its likely you already know something that other folks do not! Please share that knowledge!

There are a few places where people post questions and could use a helpful answer.

* [Adafruit CircuitPython Forums](https://forums.adafruit.com/viewforum.php?f=60)
* [Adafruit Discord](https://adafru.it/discord)
* [GitHub issues](https://github.com

[2017-09-19 22:29] tannewt commented on #245
Wups, looks like I forgot to request a review from @dhalbert on it! The fix is here: https://github.com/adafruit/Adafruit_CircuitPython_SD/pull/1

[2017-09-19 22:58] meichr commented on #245
But I forgot to thank you for the fixes :-) .

[2017-09-20 00:04] jerryneedell commented on #256
Submitted pull request. I hope I did it correctly. Let me know if I needed to do something else.

[2017-09-20 00:06] jerryneedell commented on #256
I did not mess with makefile. Still 187 bytes free!

[2017-09-20 01:36] dhalbert commented on #193
Turning on `MICROPY_PY_ARRAY_SLICE_ASSIGN` takes something like 384 to 576 bytes to include. I got different measurements based on trying to remove it from the Express build or add it to the non-Express build.

[2017-09-20 14:54] deshipu commented on #231
Shouldn't `read()` be non-blocking, returning an empty string if there is nothing in the buffer? I think it works that way for the sockets and the serial — returning *at most* `n` characters.

[2017-09-20 15:26] dhalbert commented on #231
Just tried this: `sys.stdin.read()` in CPython 3.5 will read until EOF (ctrl-D); it's blocking. Reading a single character, `sys.stdin.read(1)` hangs until one character is typed (and it buffers by line, so it waits for a newline as well) or EOF is encountered.

[2017-09-20 16:01] deshipu commented on #231
Yes, but that's not consistent with other stream-like interfaces.

[2017-09-20 16:05] tdicola opened #273 "atmel-samd: Erratic I2C scanning behavior with nothing connected"
I noticed an interesting thing on a feather M0 express with nothing attached, if you scan for I2C devices you actually get random results.  It's not necessarily a bug in CircuitPython but something worth noting that might trip folks up.  Here's an example of scanning with nothing connected:
[code]
Likely this is from the SCL and SDA pins not having internal pull-ups applied and floating to random

[2017-09-20 16:09] dhalbert commented on #231
I think we want to make the behavior consistent with CPython. Do you mean other stream-like interfaces in Python or in general? It's a file-like interface, where the reads might be really slow, because the device (the human) is slow to supply characters. I tried to find some `asyncio` examples for `stdin`, but I didn't see anything right away.

[2017-09-20 16:51] deshipu commented on #231
Looking at the documentation at https://docs.python.org/3/library/io.html I can see there is a whole zoo of different behaviors, depending on what the object on which you call `read()` is and how it was created, and also what options were used. Sometimes it will block, sometimes it will return 0 bytes, and sometimes it will raise an exception.

It seems that there is a way to switch the `stdio` in

[2017-09-20 17:22] ladyada commented on #231
there's nothing in 'standard' python that works on all OS's - windows uses a DLL and mscvt or whatnot - we have to do something custom :)

[2017-09-20 20:23] tannewt commented on #273
Good point @tdicola. We could also fix it by scanning "found" addresses a second or third time before adding them to the list.

[2017-09-21 19:46] tdicola opened #275 "atmel-samd: PDMIn record called twice fails with pin already in use error"
On CircuitPython 2.0 with Circuit Playground Express unfortunately I'm running into a lot of trouble getting mic samples.  If I use the record function twice (in separate context managers) I get a pin already in use error.  Here's a simple repo:

[code]

The context manager surrounding the PDMIn creation should presumably be deinitializing the pins.  Perhaps something is up with the deinit logic?

[2017-09-21 19:51] tdicola opened #276 "atmel-samd: PDMIn class locks up entire board when reused"
Here's another interesting audio in bug, if I create a PDMIn and save it and try to use it twice to record (all within the context of a context manager for init and deinit) it locks up the entire board and it becomes unresponsive to Ctrl-C, Ctrl-D, etc.  Even worse if you put code like this in main.py you're in a bad state that isn't recoverable without erasing the SPI flash in Arduino.

Here's a

[2017-09-22 20:41] dhalbert commented on #275
`deinit()` was just missing calls to `reset_pin()`.

[2017-09-22 21:11] dhalbert commented on #276
@tdicola @tannewt I did reproduce this, and it's not fixed by my fix to #275. However, think there might be a larger issue here. I have a question here about the intention of the context managers and what can be done with `deinit()`'d objects.

There is no `__enter()__` implemented for these kinds of `io` objects. The pins are claimed in `__init()__`. `__exit__()` calls `deinit()` and releases the

[2017-09-22 21:23] dhalbert opened #277 "Attempting to use an AnalogIn after deinit() crashes"
[code]
hangs and then crashes (tested on master branch)

[2017-09-22 23:38] dhalbert opened #278 "Mark any object that implements `deinit()` as unusable after `deinit()` is called."
Generalization of #276 and #277.

After `deinit()`, an `AnalogIn`, `AnalogOut`, `PDMIn`, etc. object should no longer be usable. Attempts to use it should raise an exception. This can probably be marked in most cases by setting the internal struct pointer to `NULL`. Then check for that `NULL` before any operation.

[2017-09-23 07:45] deshipu commented on #273
The problem with turning the pull-ups on is that then it makes it impossible for the I²C bus to talk to devices that use different voltages than 3.3V. Normally the pins are open-drain to make that possible. There can also be some bad interactions with pull-up resistors already included on many modules and shields — they would all add up, at some point making it impossible to pull the pin down. Gra

[2017-09-23 07:53] deshipu opened #279 "Add a C module for handling buttons."
Handling buttons is a very common task for microcontroller boards, but doing it properly is a surprisingly complex and advanced topic. We need interrupts, we need timers, we need software de-bouncing, etc. Instead of exposing all this complexity to the users, and letting them write the button-handling code themselves, I think it could make sense to have a `buttons` module built into CircuitPython,

[2017-09-23 08:13] deshipu commented on #269
I updated this to mark "4-Digit 7-Segment LED Matrix Display FeatherWing" as supported, since the HT16K33 dirver handles it.

[2017-09-23 08:16] deshipu commented on #269
Seems like we only have radio, ethernet, GPS and music featherwings missing. I have the radio and music featherwings, but they are a bit complex, so I haven't written drivers for them yet. I also have the GPS module, but since ESP8266 only has one UART that is already used by the REPL, I didn't wite a driver for it.

There is a driver for the motor shield for micropython: https://github.com/mwm/Mi

[2017-09-24 06:08] tdicola opened #280 "atmel-samd: Brownout / low battery causes SPI flash erase on Circuit Playground Express"
I've noticed an odd but somewhat nasty issue that appears to be reproducible.  With Circuit Playground Express (but perhaps other M0 express and maybe M0 basic boards) if my project uses a lipo battery that runs low enough to brownout and turn off, after I swap in a new battery the entire SPI flash is erased and my old program is gone.  It's happened twice in a row with my arc reactor project, and

[2017-09-24 11:16] deshipu opened #281 "audioio crashes on Trinket M0"
This is a bit of a self-inflicted wound, as the `audioio` module is not normally enabled on the Trinket M0, so this is obviously very low priority. But I really wanted to try it, so I compiled the `2.x` branch of the firmare with `touchio`, `analogio`, `storage` and `neopixel_write` disabled, and with `audioio` enabled. Here's the change I made to `mpconfigport.h`:

[code]
And then I ran the examp

[2017-09-24 11:26] jerryneedell commented on #281
Did you try explicitly using deinit() at the end of your code or possibly use the context manager as noted in:  http://circuitpython.readthedocs.io/en/2.x/docs/design_guide.html#lifetime-and-contextmanagers. This was recommended in: http://circuitpython.readthedocs.io/en/2.x/shared-bindings/audioio/__init__.html

[2017-09-24 11:30] deshipu commented on #281
I just tried wrapping the code in a context manager, and that seems to be preventing the crash. I will try with the deinit now.

[2017-09-25 21:13] tannewt commented on #256
Fixed in 3ad01ddb04b160b74b4baee9fce043da17dbcef5

[2017-09-25 21:13] #256 closed

[2017-09-25 21:44] tannewt opened #283 "Rotary encoder support"
SAMD51 has a peripheral for it.

[2017-09-27 17:46] hukuzatuna opened #284 "Ultimate GPS driver needed"
There is no current support for the Ultimate GPS boards (breakouts or Featherwings) in CircuitPython. We need to develop a buffered I/O library and command interface for sending and receiving NMEA data.

[2017-09-27 17:51] hukuzatuna opened #285 "BMP280 driver needed"
We don't currently have a BMP280 driver for CircuitPython. Fortunately, we can use the register and busio libraries to simplify writing this one.

[2017-09-27 18:28] tannewt opened #286 "Make `storage.remount` accept `readonly` as a kwarg."
Right now you can only do `storage.remount("/", False)` when `storage.remount("/", readonly=False)` should be preferred.

To do this, we need to make the bindings for [`remount`](https://github.com/adafruit/circuitpython/blob/master/shared-bindings/storage/__init__.c#L104) more like [`mount`](https://github.com/adafruit/circuitpython/blob/master/shared-bindings/storage/__init__.c#L51).

However, t

[2017-09-27 18:54] #245 closed

[2017-09-27 22:18] kattni opened #287 "Frozen modules for CPX"
Need to include adafruit_thermistor, adafruit_lisd3h and adafruit_bus_device in the Circuit Playground Express frozen modules. The LIS3DH library starts to cause memory allocation issues when imported, and @dhalbert suggested integrating it to resolve this issue.

[2017-09-28 17:20] tannewt opened #289 "Crash when playing wav file from SD card."
As reported on the forums: https://forums.adafruit.com/viewtopic.php?f=60&t=123999

[2017-09-28 19:30] dglaude opened #290 "Support for APDS9960"
I have an "APDS9960 Proximity, Light, RGB, and Gesture Sensor" and plan to do a minimal support library for Circuit Python (maybe just gesture detection).

This is a place holder to avoid duplicate work if somebody is working on this.
I will update if I make any progress... and if you start working on this, please say it here.

https://www.adafruit.com/product/3595

[2017-09-28 19:32] tannewt opened #291 "Merge in nrf52 support."
From pull https://github.com/micropython/micropython/pull/3137 if its not pulled upstream.

[2017-09-28 20:13] dglaude commented on #290
For reference, *Python ressources that can be usefull

Some very old attempt in Micro Python I made a year ago: https://gist.github.com/dglaude/1ab912dd060f22e54aa9dc083b058957

Some GPL code for plain Python found on Github for a simple version of the chip (9930 vs 9960):
https://github.com/Depaulicious/python-apds9930
+
https://gist.github.com/Depaulicious/08689d6d1e58f7700e4a

Some Python proje

[2017-09-28 21:03] dglaude commented on #290
I created a repository for this library: https://github.com/dglaude/adps9960-circuit-python

[2017-09-28 21:47] mrmcwethy commented on #205
I was just comparing Circuitpython ustruct with Python 3.5.2 struct and ran the follow tests.  In Python 3.5.2, the @lLlL pack format and the lLlL format produce 8-byte integers while <iLIL and >iLiL format produces 4-byte integers.  Circuitpython produces 4-byte integer in all cases.  I think that the native size of long on my Ubuntu machine must be 8-byte integers therefore this  difference shou

[2017-09-28 21:54] tannewt commented on #205
How do the docs define what the result should be? Is it platform dependent?

[2017-09-28 22:19] mrmcwethy commented on #205
The Python 3.6 docu (section [7.1.2.2.](https://docs.python.org/3/library/struct.html?highlight=struc#module-struct)) says "When a format string that starts with @ character or no special char, the native size is the used.  When using native size, the size of the packed value is **platform-dependent.**".  If the format string starts with '<', '>', '=','!' the number of bytes is specified in a tabl

[2017-09-29 11:14] deshipu commented on #279
I have started on a proof-of-concept module here: https://github.com/pewpew-game/circuitpython/tree/buttons

Turns out we don't need the interrupts, since we need a timer for de-bouncing anyways, we can poll in that timer. For now I put the functions in the `samd` module, because right now the code is specific to that platform. Of course ultimately it would go to its own module.

There are two fun

[2017-09-29 16:30] tannewt commented on #279
Why are you doing them all together rather than as individual objects?

I agree a new module would be better. Its OK to have ones that are only implemented on one platform to start with.

[2017-09-29 16:50] deshipu commented on #279
Memory and speed. And the fact that in practice you always want to check them all at once anyways, and have some big switch statement for the different combinations in your main loop.

[2017-09-29 20:30] deshipu commented on #279
I moved everything to its own module, and added some docstrings.
I think there should also be a compiler flag for disabling this, but not sure how to best do it.

[2017-09-29 20:56] mrmcwethy commented on #205
I have another difference in behavior Python 3.5.2 struct and CircuitPython 2.0 ustruct.  See below the same code is on both systems.  I was being a little tricky and and set the offset to 1 instead of 0.  The Python 3.5.2 case placed the short int right at the offset=1, while CircuitPython placed it at offset=2!  I am not sure why, but I am guessing the CircuitPython is forcing packing alignment

[2017-09-29 20:58] #261 closed

[2017-09-29 21:02] dhalbert commented on #205
Is this relevant? https://github.com/micropython/micropython/issues/3314 (_"ustruct unpack_from with nonzero offset doesn't match CPython (esp8266)"_). Our code is the same as MicroPython.

[2017-09-29 21:45] mrmcwethy commented on #205
Good question.  Is this why Micropython called the class ustruct or was it something else.  The good news is that Micropython ustruct.packinto() and CPython struct.pack_into() do have the same signature. And they function very much the same.   Also since the native formats are  platform dependent, maybe this edge case can be different.

[2017-09-29 21:50] tannewt commented on #279
Have you tried it separately? I think the API would make much more sense with individual button objects.

[code]

How much speed is actually gained by this? Have you tried doing it in Python? I'm not convinced this is necessary.

[2017-09-29 21:57] tannewt commented on #205
@mrmcwethy Sounds like we'd just need to rename it.

I'm ok with us varying where CPython platforms also vary.

Thanks for looking into this!

[2017-09-29 22:03] deshipu commented on #279
That's not how you would use it in a usual program, though. Whether it's a menu, a game or a remote control device, you would have a main loop where you check all of the buttons at once on every frame, and decide what to do based on which buttons are pressed. Just think of a simple "press any key" check, to pick an extreme case. With your API, that would lead to a lot of boilerplate — either copy-

[2017-09-29 22:04] deshipu commented on #279
You can take a look at two games in which I'm using a very similar API:
https://github.com/deshipu/pewpew/blob/master/games/snake.py
https://github.com/deshipu/pewpew/blob/master/games/tetris.py
It seems to be working rather well.

[2017-09-29 22:24] tannewt commented on #279
Thanks for the example links!

I was getting a bit distracted by the API. I want to focus on the need for a C module to do this instead. In my mind there are two main reasons to require a C module:

1. Functionality is only available through a C API.
2. Multiple steps must occur in a strictly timed sequence.

I don't believe 1 applies here because pins can be read through `digitalio.DigitalInOut`

[2017-09-29 22:31] deshipu commented on #279
I have tried a naive implementation of `pew.keys()` in Python, of course. The games were completely unplayable because button presses would be missed or registered several times.

The problem is that we can't poll the keys fast enough and still let the user code to run at the same time.

The basic feature required here is the ability to poll the keys at regular intervals (so that de-bouncing is co

[2017-09-29 22:45] tannewt commented on #279
Ok, that makes total sense to me! That explanation should go in the module docs please. I'm going to move feedback to the PR from now.

[2017-09-30 10:27] deshipu commented on #279
I will try again, but I really wonder if it's worth it to fight for those 8 bytes, especially sice the global pointer to the object alone will take 4 bytes already, not even counting all the extra code that is needed.

[2017-09-30 17:31] mrmcwethy commented on #205
I believe fixing this issue consists of the following tasks:

1. #define MICROPY_PY_STRUCT (0) for atmel-samd and esp8266 ports
2. implement struct module in shared-bindings and/or shared-module
3. repair the bundle library .py code that uses import ustruct
4. change docu where needed

[2017-09-30 17:36] EinsteinUnicorn opened #296 "Support for TCS34725"
This is a placeholder to avoid duplicate work.

[2017-09-30 17:40] EinsteinUnicorn commented on #296
I have ordered this and plan to make a driver for it.

[2017-09-30 18:39] ladyada commented on #284
hiya do you mean parsing out the data? because we do have buffered UART I/O that works quite well:
https://learn.adafruit.com/adafruit-gemma-m0/circuitpython-uart-serial

[2017-09-30 18:42] ladyada opened #297 "touchio (capacitive touch) not always firing"
i can't seem to consistantly get some pin's touch.value to ever be True on a trinket or gemma (running 2.0.0) this has happened to me before too....

could it be a threshhold thing? is there any way to expose the raw_value? maybe could help debug

[2017-09-30 18:47] hukuzatuna commented on #284
Yes, @ladyada, it's about creating the classes and methods to abstract the parsing from the user (e.g., breaking out the int into hours, minutes, seconds). This will allow users to make a call like "gps.getLat()" and receive a float decimal degree latitude in response. I currently have this built on top of the busio.UART interface.

[2017-09-30 18:51] ladyada commented on #284
ok whew - just makign sure!

[2017-09-30 19:04] dhalbert commented on #297
I just tested on a Gemma and Trinket with the same pins, and it's working for me on a wooden desk with my finger directly on the pad or with an alligator lead. Code is just something like:
[code]
I put it in a loop, etc., and it was OK. Anything else going on?

We have an old pull request from a user for the raw value that was never finished (#136). We could revive that easily or do something simi

[2017-09-30 19:11] ladyada commented on #297
i grabbed another trinket and on that one, D1 works but not D3/4 - but those pins definitely work for other stuff. so, i kinda suspect a threshhold thing?
i'd dig having the raw_value if we can fit it in

[2017-09-30 20:10] dhalbert commented on #297
I sent @ladyada some test builds with .raw_value available.

[2017-09-30 20:41] ladyada commented on #297
yeah the 'default raw' value is 2000 for D1 and ~1500 for the others. you can see how D1 doubles when i touch it, but maybe because it is higher than D3/D4 it doesnt trigger?

[code]

[2017-09-30 20:46] dhalbert commented on #297
The threshold for `.value == True` is twice the initial reading when the object is constructed.

[2017-09-30 21:00] ladyada commented on #297
that is waay lower than the threshhold ASF uses - they use maybe like 64 points

[2017-09-30 22:12] ladyada opened #298 "ridiculous idea: 'breakpoints'"
this doesnt exist in python i think but its an interesting idea - can we pop out from the main.py code to REPL but still have access to that context?

[2017-09-30 22:17] tannewt commented on #298
We could. Micropython actually worked that way originally where the heap
was shared. There was no way to continue main though. Would the goal be for
debugging?
On Sat, Sep 30, 2017 at 3:12 PM ladyada <notifications@github.com> wrote:

[2017-09-30 22:24] mrmcwethy commented on #205
what branch should i make my changes for this issue .  I still plan on making my own branch, but I wondered what should be the source branch.
Note that i have made the changes to to shared-bindings and shared-module.  The atmel side of things build with error, but the esp8266 has many unknown compile errors.  I am assuming that i do not have the appropriate sources for esp8266 to build.

[2017-09-30 23:06] dhalbert commented on #205
@mrmcwethy Fork this repo into your own copy. Then checkout `2.x` and then make a branch off that. When you're done commit your changes and push to GitHub. When you look on GitHub you'll see you can create a pull request. You may need to choose the `adafruit/circuitpython` `2.x` branch from the dropdown. It might default to `master`.

[2017-09-30 23:28] ladyada commented on #298
yeah like "stop here i want to see my variable state" - im ok with not being able to re-continue

[2017-10-01 13:29] mrmcwethy commented on #205
Thanks, Dan.  I got the esp8366 to build as well.  The resultant uf2 runs correctly on Metro and CPX.
I have a question of project design.  I noticed that there is a separation of code between shared-bindings and shared-module.  Can you define what code should go in either and what should not be in either?  My first attempt was to move internal STATIC function into share-module, but i think i need

[2017-10-01 14:39] dhalbert commented on #205
@tannewt designed the `shared-bindings` / `shared-module` split. This [doc page](http://circuitpython.readthedocs.io/en/latest/docs/common_hal.html) describes it in more detail. Basically, the wrapper code that implements the Python API and calls down to the lower level HAL (hardware abstraction layer/level) is in `shared-bindings/`. Lower-level code that is architecture-independent and can be sha

[2017-10-01 15:16] dhalbert commented on #297
Not sure I know what you mean here. Do you mean the raw value range is only 0-63?

 The current algorithm is to read the raw value on construction, and then double it for the True/False threshold. E.g., if the initial raw value at construction is 2042, the threshold is 4084. Your worst case was 3774/2038 = 1.85. We could lower the threshold to 1.75*the initial raw value.

On my samples, the ratio

[2017-10-01 15:18] ladyada commented on #297
oops i mean, like 64 points *above* baseline

[2017-10-01 15:45] dhalbert commented on #297
I tried a Makey-Makey style use:

Banana, clip lead on stem, no-touch / touch:
D1: 3573 / 4064
D3: 2763 / 4064
D4: 2879 / 4064

Apple, clip lead on stem
D1: 3000 / 3891
D3: 2183 / 3694
D4: 2257 / 3727

Clementine well past its prime:
D1: 2896 / 4064
D3: 2231 / 4064
D4: 2187 /4064

I think this suggests we should use an absolute increase above baseline rather than a ratio. Also maybe we really shou

[2017-10-01 16:06] ladyada commented on #297
D1 is shared with the DAC circuitry so i think it has a different built in capacitance

[2017-10-01 18:26] dhalbert opened #299 "CPX A0 is not reliable for touchio.TouchIn"
CPX A0 is connected to the speaker, so it will not work for touch input if the speaker is in use. This should be documented if it's not already

In addition, `Touchio.TouchIn(board.A0)` often ends up with a very high initial `threshold` value when the object is created. If you `deinit()` the object and re-create, the `threshold` is more reasonable and is closer to the `raw_value` read later. I tri

[2017-10-01 19:09] mrmcwethy commented on #205
I have make changes to several bundle library projects: lis3dh, max31855, pca9685, rgb-display, si7020, and register.  which branch of these projects should I be updating.  I assume master, but I want to make sure first.  The changes are simple: import ustruct -> try: import struct except: import ustruct as struct.  change module references from ustruct. -> struct.

[2017-10-02 05:21] tannewt commented on #205
Master please @mrmcwethy. For small projects, master is the place to go.

On Sun, Oct 1, 2017 at 12:09 PM Michael McWethy <notifications@github.com>
wrote:

[2017-10-02 05:23] tannewt commented on #297
Absolute increase works for me! Thanks for the investigation @ladyada and
@dhalbert.

On Sun, Oct 1, 2017 at 9:06 AM ladyada <notifications@github.com> wrote:

[2017-10-02 17:05] ladyada opened #301 "SD card hangs"
if you remove the SD card between read/write's (say in repl) theres no timeout or error

[2017-10-02 22:00] tannewt commented on #290
Cool! Ping me when you want me to look at it. Once its ready I'll fork it into adafruit's repos.

[2017-10-02 22:10] tannewt commented on #269
I just added a column to both sheets to hold tracking issues that are used to note who is working on what.

[2017-10-03 19:35] #297 closed

[2017-10-03 19:36] dhalbert commented on #281
Fixed by #304.

[2017-10-03 19:36] #281 closed

[2017-10-03 19:36] dhalbert commented on #278
Fixed by #304.

[2017-10-03 19:36] #278 closed

[2017-10-03 19:37] dhalbert commented on #276
Fixed by #304.

[2017-10-03 19:37] #276 closed

[2017-10-03 19:37] dhalbert commented on #275
Fixed by #304.

[2017-10-03 19:37] #275 closed

[2017-10-03 19:37] dhalbert commented on #277
Fixed by #304.

[2017-10-03 19:37] #277 closed

[2017-10-04 16:11] deshipu opened #306 "The graphics in the logo directory are for MicroPython, not CircuitPython"
And more importantly, I couldn't find a vector version of the CircuitPython logo or mascot, to make a PCB out of it.

[2017-10-04 19:39] jerryneedell opened #307 "unable to terminate sys.stdin.readlines() from terminal session"
entering the following:
[code]
then typing some input and a Control-D  does not terminate the input. It just hangs .
Control-C terminates it, but the input is lost.

also tried as main.py with same result.

The same sequence works as expected in a pythpn3 session on my desktop.

[2017-10-04 19:46] dhalbert commented on #307
`mp_hal_stdin_rx_chr()` just passes ctrl-D through. `input()` handles it specially and throws `EOFError` if it encounters a ctrl-D at the beginning of a line. `readlines()` does not do anything with it, which makes sense, since there might be a ctrl-D in the middle of a line of a file.

[2017-10-04 21:11] kattni opened #308 "ValueError causing Circuit Playground Express to crash to safe mode"
Making specific changes to the express class (attached [express.txt](https://github.com/adafruit/circuitpython/files/1357363/express.txt)) in the Circuit Playground Express library causes the CPX to reboot into safe mode.

As is, the `code.py` (attached [code.txt](https://github.com/adafruit/circuitpython/files/1357360/code.txt)) picks up the current reading of x, y, z orientation and lights up th

[2017-10-05 18:18] dhalbert commented on #308
I was able to reproduce this. But I think it's due to delayed writes, and not some particular issue with this code. I was in a  "safe mode" state which recurs again and again if I type ctrl-D. But once I did a hard reset, everything was fine.

[2017-10-07 17:24] #308 closed

[2017-10-08 18:39] #287 closed

[2017-10-08 20:47] dhalbert commented on #307
The way this works is inherited from MicroPython. I opened an [issue](https://github.com/micropython/micropython/issues/3356) in their repo to see if they are aware of this and what their position would be.

[2017-10-08 23:42] process1183 commented on #286
Hello,

I would like to work on this. I'll need some time to get up to speed on CircuitPython though. I should also have a [Feather M0 Express](https://www.adafruit.com/product/3403) to test on soon.

[2017-10-09 00:03] tannewt commented on #286
Great! That would be awesome @process1183. We chat regularly on our discord at http://adafru.it/discord where you can get help. We also have a weekly dev meeting you can join on discord Mondays at 11am PT/ 2pm ET.

[2017-10-09 03:18] tannewt commented on #279
This was done with the introduction of `gamepad` in f4981677b0b73d286f3af098a4111f8ba6d286bc.

[2017-10-09 03:18] #279 closed

[2017-10-09 16:05] dhalbert commented on #280
@tdicola Patch is in branch `2.x_issue_280_brownout` in my repo https://github.com/dhalbert/circuitpython/. I have been fiddling with the voltage on a CPX but have only gotten it to wipe the flash once, and I can't replicate reliably.

[2017-10-09 19:33] deanm1278 opened #310 "transfer support for SPI devices"
We need a way to do a full duplex SPI transfer. It would read and write at the same time

would likely go something like:

[code]

c would be a bytearray of the data read during the transfer

[2017-10-09 20:14] tannewt commented on #310
How many bytes at a time do you want to do? Are you going to turn around
and send the previously received byte? Doing that through python will be
very slow.
~Scott

On Mon, Oct 9, 2017 at 7:33 PM deanm1278 <notifications@github.com> wrote:

[2017-10-09 20:23] deanm1278 commented on #310
for this specific application yea I'm doing one byte at a time and sending the previously received byte so it would be something like:

[code]
it will be slow, but this e-paper display takes around 10 sec to update anyway so it's acceptable. In general though we probably want to be able to transfer as many bytes as is allowed by available RAM.

[2017-10-09 23:20] tannewt commented on #110
Looks like enabling a LONGINT impl will break our mpys. Maybe we can change this so they are compatible?

[2017-10-09 23:42] caternuson opened #312 "Add driver for ADS1x15 ADCs"
Add driver to support the ADS1x15 ADCs.
- ADS1015 12-Bit ADC ([PID 1083](https://www.adafruit.com/product/1083))
- ADS1115 16-Bit ADC ([PID 1085](https://www.adafruit.com/product/1085))

[2017-10-10 01:42] dhalbert commented on #110
After looking at this, I think this is not going to be an issue. `mpy-cross` is already set to use `MICROPY_LONGINT_IMPL_MPZ` for all the .mpy's it produces, so that will not change by turning on longints in our port. `tools/mpy-tool.py` cares about whether the implementation supports longints or not, but it's used to build internal frozen modules, not `.mpy` files.

[2017-10-10 17:53] tannewt commented on #310
If you aren't worried about speed is it required to simultaneously transfer
in both directions? Can you just do a read and then a write?

On Mon, Oct 9, 2017 at 1:23 PM deanm1278 <notifications@github.com> wrote:

[2017-10-10 17:53] tannewt commented on #110
OK perfect! That should make it easy.

On Mon, Oct 9, 2017 at 6:42 PM Dan Halbert <notifications@github.com> wrote:

[2017-10-10 18:06] deanm1278 commented on #310
yea unfortunately it needs to transfer simultaneously in both directions in this application.
although full-duplex communication isn't used all that often it is kinda just part of SPI spec and will need to be implemented eventually :/

[2017-10-10 18:10] tannewt commented on #310
Ok good to know!

[2017-10-10 18:10] deanm1278 commented on #310
for this application though, the reason it needs to be done full-duplex is because the EPD driver expects all data to be written in one transaction. Since we don't have enough on-chip RAM available to store the entire buffer, we need to store it on an external SRAM chip and "read to" the EPD from there.
Both the EPD driver and the SRAM slave devices are active on the bus at one time

[2017-10-10 18:32] tannewt commented on #310
We don't need transfer to use DMA for now. We can add that in 3.x.

[2017-10-10 18:34] dhalbert commented on #310
@deanm1278 I can probably take this on, but I want to order something that needs this, is  https://www.adafruit.com/product/3502 (Sharp e-ink breakout) suitable? I'll ask you for your driver code when I'm ready to test.

[2017-10-10 18:36] #266 closed

[2017-10-10 18:41] tannewt commented on #312
I'd love it if ADC drivers exposed a number of sub-objects for each input that can be used in place of an [`AnalogIn`](https://circuitpython.readthedocs.io/en/latest/shared-bindings/analogio/AnalogIn.html). To do that, it'd need the same properties.

[2017-10-10 18:42] tannewt commented on #310
You shouldn't actually need any hardware. It should be enough to tie MISO high or low and then use the saleae to verify MOSI output.

[2017-10-10 19:01] deanm1278 commented on #310
thanks @dhalbert!

you can do what @tannewt says or you can use this code on an Atmega 328 based board (metro, UNO)

[code]

wire up the cirpy -> metro as:
SCK -> 13
MISO -> 12
MOSI -> 11
CS -> 10

the metro will act as an SPI slave and echo back the last byte that was sent, so you can verify both receive and transmit.

here is the SPI master code I used to test:

[code]

EDIT: updated with a slig

[2017-10-10 21:47] tdicola opened #313 "atmel-samd: Non-fatal warnings when building master/3.0"
I noticed some non-fatal warnings when building the current master/3.0 branch for circuit playground express:
[code]

Opening to keep track and push for zero warnings with 3.0.

[2017-10-11 00:42] caternuson opened #314 "Add driver for TSL2561 Light Sensor"
Add driver to support the Adafruit TSL2561 Digital Luminosity/Lux/Light Sensor Breakout.
- [PID 439](https://www.adafruit.com/product/439)

[2017-10-11 01:06] tannewt commented on #312
my goal would be able to do something like:

[code]

That way all code written for one analog input is agnostic to whether its on the MCU or on a helper chip.

[2017-10-11 01:06] caternuson commented on #312
In-work version is here:
https://github.com/caternuson/CircuitPython_ADS1x15

[2017-10-11 13:18] dhalbert opened #315 "ASF4 update and patching dataflow proposal"
Here's a straw proposal for how to manage keeping ASF4 up to date, patching its bugs, and adding enhancements.

1. Create a new `adafruit/asf4` repo. In branch `master`, commit the latest downloaded/scraped snapshot of all the code we might want. Top-level dir is `asf4`, with device/family-specific directories as necessary: `asf4/samd21`, `asf4/same21`, `asf4/samd51j`, or whatever. (I don't know h

[2017-10-11 15:00] dhalbert commented on #313
I made the `_usb_ep1_cache` cache warning go away by declaring it in `usb.c` as:
`extern uint32_t _usb_ep1_cache[];`
instead of
`extern uint32_t *_usb_ep1_cache;`

The current declaration is a part of a hack due to some bug or other issue with the ASF4 USB stack. @tannewt is reaching into an internal data structure to get the input characters.

The other warning is explained in #248: it's a gcc LT

[2017-10-11 17:05] caternuson commented on #312
Something like this (but with a generator instead of static list of channels in the ADC class):

[code]

[2017-10-11 17:15] tannewt commented on #312
Yup! Thats what I was thinking.

[2017-10-11 17:23] tannewt commented on #315
Sounds good to me!

On Wed, Oct 11, 2017 at 6:18 AM Dan Halbert <notifications@github.com>
wrote:

[2017-10-11 17:27] tannewt commented on #314
There is an older MicroPython version you can start from here: https://github.com/adafruit/micropython-adafruit-tsl2561

I believe @KurticusMaximus was also looking to cookiecutterify a similar repo.

[2017-10-11 17:30] caternuson commented on #312
Could get a little messy trying to support all the modes the ADC can run in: single ended, differential, comparator. AnalogIn is essentially single ended only, so could make it to where that is the only mode supported for the above access method.

The ADC class will still have full functionality.
[code]

[2017-10-11 17:31] dhalbert commented on #315
I could go ahead and set this up. I'll set up the initial `master`  with your `asf_update.py`, then create a `master-bugfixes` branch, and then a `circuitpython` branch. I'll apply the patches to generate changes in `circuitpython`. Are there patches that are bug fixes now, or are they all enhancements?

Is the stuff in `asf4_conf` specific to CircuitPython or should it go in the new repo?

Then I

[2017-10-11 17:37] tannewt commented on #315
asf4_conf is specific to our set up. I'd leave it out.

Your plan sounds good!

On Wed, Oct 11, 2017 at 10:31 AM Dan Halbert <notifications@github.com>
wrote:

[2017-10-11 17:38] tannewt commented on #312
Sure. The other way to do it would be three separate drivers for the three
different modes. Each could be in a different file so you only need to load
the code related to your use.

On Wed, Oct 11, 2017 at 10:30 AM Carter Nelson <notifications@github.com>
wrote:

[2017-10-11 17:40] caternuson commented on #312
Separate ADC classes?

[2017-10-11 17:43] tannewt commented on #312
Yup, thats what I mean. So maybe:

[code]

What do you think? The model of more, smaller classes makes sense in terms of reducing memory footprint.

[2017-10-11 17:55] caternuson commented on #312
Hmmm. Or if we add a ```mode``` property to the ADC class. Could then do something like:
[code]

[2017-10-11 17:55] tdicola commented on #273
Some reference info, to compare with Arduino's I2C behavior it looks like there's no scanning built-in but if you use a scan sketch (like this one: https://playground.arduino.cc/Main/I2cScanner) it will require initializing the I2C library (Wire.begin() call) which turns on the AVR's pull-ups for SCL and SDA: https://github.com/arduino/Arduino/blob/master/hardware/arduino/avr/libraries/Wire/src/ut

[2017-10-11 18:24] tdicola commented on #273
And for the Pi it looks like they build in physical pull-ups (1.8K on the GPIO2 and GPIO3 lines for SCL, SDA): https://www.raspberrypi.org/documentation/hardware/raspberrypi/schematics/Raspberry-Pi-3B-V1.2-Schematics.pdf  Seems reasonable to match the behavior and turn on pull-ups when doing an I2C action like scanning.

[2017-10-11 18:25] caternuson commented on #312
I like keeping ADC to just one class - or more importantly, making the CircuitPython version match the Python version as much as possible. Otherwise there would be an Arduino way of using it, a Python way of using it, and a CircuitPython way of using it.

I'm thinking this feature should be, as much as possible, a bolt on to the ADC class.

[2017-10-11 18:26] deshipu commented on #273
The fact that Arduino turns on pull-ups automatically is a well-known problem in the Arduino community, and the reason why the advanced users use other libraries (or just ad-hoc code) for I²C when the need to interact with mixed-voltage devices.

[2017-10-11 18:28] deshipu commented on #273
You also need to consider how the pull-ups will interact with the external resistors already included on the I²C lines. If high-speed communication is needed, strong pull-ups will be used, and that can be too strong fro the pins to drive when combined with the internal pull-ups.

[2017-10-11 18:28] dhalbert commented on #273
@deshipu Is it a problem electrically if we just turn on the pullups during `scan()` and then turn them off again?

[2017-10-11 18:29] deshipu commented on #273
I agree pull-ups are a reasonable default, but I would also strongly advise to have an option to suppress them.

[2017-10-11 18:29] caternuson commented on #312
How about this? (mode is in channel, not adc)
[code]

[2017-10-11 18:31] deshipu commented on #273
Yes, it's still a problem. If you have a, say, 5V device on your I²C bus, and consequently, external pull-ups to 5V, then enabling the internal pull-ups to 3.3V will result in a short — through two pairs of large resistors, so maybe not that catastrophic, but a short none the less.

[2017-10-11 18:31] tannewt commented on #312
I think keeping the circuitpython version like the python version is misleading. Our hope is to go back and implement the lower level APIs so circuitpython libraries work on raspberry pi as well.

Arduino and Python are different enough that its worth redesigning the API to fit python better.

[2017-10-11 18:32] dhalbert commented on #273
If I understand correctly, Adafruit's philosophy is to have pullups on the I2C peripheral boards, not on the master board. So our core I2C implementations do not turn on internal pullups.

[2017-10-11 18:33] tannewt commented on #312
I don't like mode as a channel property because modes affect the number of channels. Right?

It also changes the meaning of `value` which adds a ton of complexity to the API because you can't understand value without reading mode as well.

[2017-10-11 18:33] deshipu commented on #273
Well, Arduino does.

[2017-10-11 18:36] tannewt commented on #273
Why can't we fix this by double or triple probing addresses that are available? If its really just line noise from no pull-ups then it shouldn't be consistent over repeated probes. There is no need to turn on internal pull ups.

[2017-10-11 18:37] deshipu commented on #273
Alternatively, we could read a value on those pins before doing anything else, and throw an error about missing pull-ups if it's not consistently high.

[2017-10-11 18:38] tdicola commented on #273
Let's not lose the forest between the trees.  The original issue here is that I2C scanning is erratic and weird--if you're at the REPL and learning about I2C it's strange to have nothing connected but see random addresses returned.  It's good to get the positive feedback that with nothing connected no devices appear in a scan, then connect a device and see it's now available.  This is the same beh

[2017-10-11 18:40] Andon-A commented on #273
My opinion, as a generic basic user, is default enable but with option to override. As has been mentioned previously, the biggest conflicts are when talking with other-voltage devices, something that newer users generally shouldn't be worried about, and advanced users should know. It'd be fairly simple, I think, to put in a guide "If you're using this with a 3.3v board, make sure to turn off the d

[2017-10-11 18:41] deshipu commented on #273
But you can damage your devices by doing a scan then if your bus is pulled up to anything else than the board's voltage. We don't want to damage devices by doing something as innocent as a scan.

[2017-10-11 18:42] tannewt commented on #273
Turning on pull ups risks changing the properties of the bus and causing other read failures.

I wouldn't multiple probe all addresses, I'd only do it on "found" addresses to confirm they are really there. The example at the top only has one phantom address so it only result in a few extra probes to confirm its there.

[2017-10-11 18:42] tdicola commented on #273
@deshipu That's a similar problem with the Pi and Arduino and they haven't had any issues.  IMHO it's an edge case to alert folks in docs and not worry about.  If you're mixing I2C voltages you're doing pretty advanced stuff and are knee deep into the inner workings.

[2017-10-11 18:43] deshipu commented on #273
On a different, but related, topic, I wonder how does it work when you have multiple Adafruit modules connected on the same I²C bus, and all the pull-up resistors on those modules stack up, potentially creating a pull-up that is too strong to drive low. Have there been any experiment about how many Adafruit modules you can connect at once before that happens?

[2017-10-11 18:43] tannewt commented on #273
@deshipu Lets not discuss that here.

[2017-10-11 18:43] tdicola commented on #273
@tannewt Not sure I follow the issue with properties of the bus?  This wouldn't be in in the I2C init but only in the scan.  Perhaps in the probe call it would check if pullups were previously enabled and turn them on and then off if not.

[2017-10-11 18:44] deshipu commented on #273
Sorry

[2017-10-11 18:45] deshipu commented on #273
@tdicola I think that if we are going to enable the pull-ups by default, we should do it in the init, not in the scan. Otherwise people will be surprised that their devices don't work even though they appear in the scan. I would propose to simply add a keyword parameter to the I2C constructor that suppresses the internal pullups when set to true.

[2017-10-11 18:53] tdicola commented on #273
Yeah I was thinking about that but I think it's better raised as a separate issue.  To me it seems like another odd edge case, you plugged in a device and are making I2C read & write calls but forgot to call init.  In that case no matter what your code won't work since the sercom, etc. initialization was never called.  The only other case is if you're using a device with no built-in pull-ups, but

[2017-10-11 18:57] deshipu commented on #273
I think that if you just want to fix the scanning, then checking if the pins are really consistently high before the scan is the best option, because:

1. it's completely passive, you are not sending any voltages down the wire,
2. it lets you throw a very specific error with a message explaining the issue,
3. it doesn't slow down the scan itself, just adds a constant small delay in front,
4. an ex

[2017-10-11 19:06] tannewt commented on #312
Ah ok. I still don't like the meaning of `value` depending on `mode`.

[2017-10-11 19:09] tdicola commented on #273
I think back to the original issue though, person at REPL learning about I2C and calling scan with nothing connected.  If they get an error vs. an empty list (which is how the Pi, Arduino, etc. all behave today) it seems weird to me.  Did they do something wrong?  Not really.  If the proposed behavior of turning on pull-ups has been used by Arduino & Pi users (millions and millions of people) it s

[2017-10-11 19:13] deshipu commented on #273
I think that an error like "Pin XXX is not high. Is your device connected?" would be informative enough both for professionals and beginners. It's really not obvious to me that a wrong connection would result in an empty list of devices. The fact that both Arduino and RPi do that doesn't mean we can't do better.

And if you really think that an empty list is better, we can have an empty list retur

[2017-10-11 19:16] deshipu commented on #273
And error would be better also because in the case when the device is connected (so the pull-ups are present) but broken or the SDA and SCL are swapped, you get a different result — an empty list. Then we can cover it in troubleshooting instructions.

[2017-10-11 19:35] Andon-A commented on #273
@tdicola I disagree with the sentiment about errors. If everything is hidden, then it can be really annoying and frustrating to figure out what's wrong with my device.

Errors can be phrased nicely - IE, "No pullup resistors detected. Is everything connected correctly?" lets people know precisely what is wrong without the 'scary' aspect of "Error 254150: Pin is floating" or different.

[2017-10-11 19:38] deshipu commented on #273
How about returning `None` in one case and empty list in the other then? We still give users the information, but no error?

I think that "errors are scary" approach is what made PHP as horrible language as it is — it tries very hard to not raise an error, which in turns leads to errors that go unnoticed.

[2017-10-11 19:44] Andon-A commented on #273
Errors shouldn't be scary. They should be informative and useful. By including informative and useful errors, the scariness of errors can be eroded

[2017-10-11 20:29] Andon-A opened #316 "Add board.ID method for pulling which board is running your code."
At the moment, different boards use different pin methodology for IDing their pins. These match the silkscreen on the device itself, which is great. However, this can be annoying for porting code from one device to another, especially if the only thing that changes is pin designations. A special case is for examples: The "Blink" example for one board doesn't necessarily work on another board, and

[2017-10-11 20:56] tannewt commented on #316
The board is available through the `os.uname()` tuple result as `machine`.

[code]

[2017-10-11 20:56] #316 closed

[2017-10-11 21:03] Andon-A opened #317 "Add support for M0 Adalogger SD Card"
On the main page, it mentions that the [M0 Feather Adalogger](https://www.adafruit.com/product/2796)'s SD card is currently not supported.

Via the Pins chart on [this page](https://github.com/adafruit/circuitpython/tree/master/atmel-samd) it appears that the SD_CS pin is linked to a pin not used by the rest of the Feather M0 versions - PA08, which is used as D4 on the Metro M0 Express.

[2017-10-11 22:10] Andon-A commented on #317
In the [pins.c file of the Feather M0 Adalogger](https://github.com/adafruit/circuitpython/blob/master/atmel-samd/boards/feather_m0_adalogger/pins.c), it looks like SD_CS is listed as PA08.

I don't have an M0 Adalogger Feather to test with, though.

[2017-10-12 14:47] caternuson commented on #312
Does AnalogIn have a differential capability? Like, what is the differential form of this:
[code]

[2017-10-12 15:01] dhalbert commented on #312
Nope, no differential support, though there could be. If you have a proposed API that would be great (open a new issue). I briefly looked in the Arduino world and I didn't really see anything.

[2017-10-12 17:02] caternuson commented on #314
In-work version lives here:
https://github.com/caternuson/CircuitPython_TSL2561

[2017-10-12 17:12] tannewt commented on #312
I'd probably do it as a separate class because these APIs are functionally split rather than split by peripheral.

[2017-10-12 17:34] tannewt commented on #317
So, the task is to correct the [README.md](https://github.com/adafruit/circuitpython/blob/master/README.md) file so it says the SD card is supported using the [library](https://github.com/adafruit/Adafruit_CircuitPython_SD).

[2017-10-12 18:30] dhalbert commented on #280
@tdicola Pull request #319 would fix this, I think. I was able to break the filesystem a few times with the bench supply, and then after #319, I couldn't, but it wasn't really a good test. If you see this problem again after building the latest 2.x or using the upcoming 2.0.1 release, please reopen.

[2017-10-12 19:07] dhalbert commented on #315
Done in #318

[2017-10-12 19:07] #315 closed

[2017-10-13 01:46] tannewt opened #321 "Audit and fix native API for methods that accept and ignore extra args."
Python methods can take two type of arguments:

- Positional args that depend on their position in the list and must be given.
- Keyword args are optional and either depend on position or can be identified by their name.

For example, [`audioio.AudioOut`](https://circuitpython.readthedocs.io/en/latest/shared-bindings/audioio/AudioOut.html#audioio.AudioOut) takes two positional arguments, `pin` and

[2017-10-13 03:20] dhalbert opened #322 "Adjust `-finline-limit` so it does not cause problems"
To make the image fit on non-Express boards, I set `-finline-limit=19`. This is too low. It apparently causes some routines to disappear completely with `-flto`.

One way to check is to see if deinit checking is working. Here is an example of it not working:
[code]

The second `d.value` should throw an exception saying the value can no longer be used.

If we push `-finline-limit` up, the non-expre

[2017-10-13 13:34] jerryneedell commented on #322
Dan,
This is very troubling - the use of -finline-limit should only impact code size, not result in lost code.  I am not familiar with -lto so I guess I should read up, but how can you be confident that code is not being lost in other cases? Just curious. Am I missing something?
Jerry

[2017-10-13 14:00] dhalbert commented on #322
@jerryneedell Exactly. No, I expect code may be broken elsewhere.Scott has seen different issues (exceptions were causing hard faults), so we can't tell where code is getting lost: I just have a reproducible example. I will try to figure out exactly what is going on.  I am also going to look at removing a few more things from the non-Express builds so we can make them fit without -finline-limit. A

[2017-10-13 18:23] tannewt commented on #322
I have a feeling the compiler doesn't understand the mechanic that is used
to raise exceptions. Its pretty tricky so we may want to "poison" the core
function with inline assembly so it doesn't disappear.

On Fri, Oct 13, 2017 at 7:00 AM Dan Halbert <notifications@github.com>
wrote:

[2017-10-13 18:36] dhalbert commented on #322
That's a good point, because the deinit checking function raises an exception. I'll look at that.

I have been looking at trimming the non-Express builds. I can turn off complex floats, which I think nobody will miss, and get back 1576 bytes. With no `-finline-limit` at all, it's still over by a few hundred bytes. So I could bump `-finline-limit` back up a lot.

I don't see a lot else to remove im

[2017-10-13 18:40] dhalbert commented on #322
`readelf`, `nm --print-size` and `firmware.elf.map` have been helpful.

[2017-10-13 23:19] ladyada opened #323 "Feather M0 Adalogger does not have D8 or D7"
D8 is the internal green LED
D7 is the interral Card Detect pin  (can be called SD_CD if ya like)
but those pins aren't exposed :)

[2017-10-14 02:22] dhalbert opened #324 "Update USB PIDs for each board according to master list"
PIDs are specified in atmel-samd/boards/*/mpconfigboard.mk. Get latest PID assignments from AF production PID list.

Update on both 2.x before 2.0.1 and on master.

[2017-10-14 02:53] dhalbert opened #325 "Consider using the circuitpython/lib/libm math library instead of -libm to save space"
The `atmel-samd` boards currently use `-libm`. This is supplied as part of `glibc` in the `arm-none-eabi` toolchain. Various functions there such as `powf` and `sqrtf` end up using the double-precision float arithmetic routines (`__aeabi_dadd`, `dsub`, etc.), which occupy a few thousand bytes.

There is an alternate simpler `libm` which is in our source tree which does not use doubles and is simpl

[2017-10-14 03:07] ladyada commented on #325
!!!! lets try libm for gemma/trinket/non-exp for now since its the most useful!

[2017-10-14 20:50] ladyada opened #326 "2 analog reads in a row get mixed up"
on a cpx run:

[code]

but this works!
[code]

Adafruit CircuitPython 2.0.0-10-g922006dd5 on 2017-10-14; Adafruit CircuitPlayground Express with samd21g18

[2017-10-15 01:08] dhalbert commented on #326
I have a fix: swapping two lines. Pull request coming.

[2017-10-15 04:11] caternuson commented on #298
try `python -i foo.py`

[2017-10-15 04:22] caternuson commented on #284
Consider using `@property` instead of function call to be more pythonic. Returning both lat and lon in a tuple might be a nice way. Ex:
[code]

[2017-10-15 15:53] dhalbert commented on #326
Test prog:
[code]

[2017-10-15 17:50] dhalbert opened #328 "Document more differences between various builds"
The [Core Modules Support Matrix](https://github.com/adafruit/circuitpython/blob/master/shared-bindings/index.rst) lists some of modules are implemented in one port but not another. However, there are other differences that should be documented somewhere:
1. Other modules that are not in `shared-bindings` that differ, e.g. `framebuf` is not in non-Express samd builds.
2. Language features that dif

[2017-10-15 18:01] dhalbert commented on #325
Gemma build using internal `libm`, complex arithmetic turned off, and `-finline-limit` disabled has 8312 bytes free.
Adding back complex uses 1576 bytes.
Re-enabling -finline-limit=50` (as an example) gains back about 1900 bytes, so there is headroom to use that again if necessary.

We could enable other stuff that might be useful even in small builds: #193 (`MICROPY_PY_ARRAY_SLICE_ASSIGN`, turned

[2017-10-15 18:50] ladyada commented on #325
#1 most useful thing in small builds would be pwm/timer support.

[2017-10-15 19:08] dhalbert commented on #325
Turning on pulseio takes uses 7168 bytes, bringing free bytes down to 1092. Substantial, but it fits! I'll turn that on and add it to the pull request or make a separate one.

[2017-10-15 19:11] caternuson commented on #299
The new guide does a good job of documenting this:
https://learn.adafruit.com/adafruit-circuit-playground-express/pinouts

[2017-10-15 19:21] dhalbert commented on #299
Should we just remove A0 from the allowed pins for TouchIn?

[2017-10-15 19:27] kattni commented on #299
That would be my suggestion. I specifically didn't include it in the touch API because of the inconsistency.

[2017-10-15 19:34] dhalbert commented on #299
Turns out the current implementation does not actually check the chosen pin against a list of allowed pins.

[2017-10-15 19:41] kattni commented on #299
That would be my suggestion. I specifically didn't include it in the CPX touch API because of the inconsistency.

[2017-10-15 20:05] ladyada commented on #325
its worth it for sure, we can work around SLICE or reversed(), but if we dont have pwm support, we can't do servos, LED dimming, and a bunch of other things!

[2017-10-15 20:08] ladyada commented on #325
(if ya toss me a uf2 i will do a bunch of testing!)

[2017-10-15 20:39] dhalbert commented on #325
gemma and trinket uf2's attached in a zip
[pulseio-uf2-gemma-trinket.zip](https://github.com/adafruit/circuitpython/files/1385807/pulseio-uf2-gemma-trinket.zip)

[2017-10-15 22:58] ladyada opened #331 "pulseio timers not properly cleared w/o hard reset on gemma/trinket"
[code]

save this code to a gemma/trinket then try to change D0 to D2 and back, you will get a

on the switch-back. when you hard reset, tho, pwm works great :)

doesnt seem to happen with CPX (so maybe some #ifdef w/ATSAMD21E18?)

[2017-10-16 01:34] dhalbert commented on #325
Limor [suggested](https://github.com/adafruit/circuitpython/issues/325#issuecomment-336605552) just the smaller builds, but happy to be consistent. Might be easier to support and test. I'll try to fix #331 before the merge anyway.

[2017-10-16 01:41] dhalbert commented on #299
Fixed by #330. A0 is now not allowed for TouchIn, only on CPX.

[2017-10-16 01:41] #299 closed

[2017-10-16 01:43] dhalbert commented on #326
Fixed by #327.

[2017-10-16 01:43] #326 closed

[2017-10-16 01:49] dhalbert commented on #310
I'm in progress on this. Do we want bidirectional support for `bitbangio` as well at the same time, or can that be deferred a bit? I don't think it's that hard, but the `shared-module` implementation could probably use some refactoring to help supporot it.

[2017-10-16 03:20] tannewt commented on #325
Thanks @dhalbert and @ladyada.

On Sun, Oct 15, 2017 at 6:34 PM Dan Halbert <notifications@github.com>
wrote:

[2017-10-16 18:47] ladyada opened #332 "PIN STRONG!"
are we using strong mode? lets do it!
![image](https://user-images.githubusercontent.com/1214161/31629215-f56baa00-b280-11e7-9f1b-f026ab29cf35.png)

[2017-10-16 18:47] ladyada commented on #331
fixed by dan in latest build thx!

[2017-10-16 18:47] #331 closed

[2017-10-16 19:28] tannewt commented on #323
Did you get D7 and D8 from `board`? It looks like you shouldn't https://github.com/adafruit/circuitpython/blob/master/atmel-samd/boards/feather_m0_adalogger/pins.c

[2017-10-16 19:39] jerryneedell opened #334 "Update ESP8266 neopixel_write to work with CP neopixel.py"
Update the neopixel_write code for the ESP8266 so it works with the neopixel.py driver in the Adafruit_CircuitPython_Neopixel

This was originally reported as an issue with the driver:
[https://github.com/adafruit/Adafruit_CircuitPython_NeoPixel/issues/15](url)

[2017-10-16 19:42] tannewt commented on #314
Hey, here is some feedback. I can't comment easily inline. So here it is:

* How about renaming `lux` to `light` to match the doc here, which has its roots in teh unified arduino driver spec. https://circuitpython.readthedocs.io/en/1.x/docs/design_guide.html#sensor-properties-and-units
* Nitpick:
[code]
is
[code]
* Another nitpick is the `(self, )` should be `(self)`.

Overall the API looks good t

[2017-10-16 19:50] tannewt commented on #310
I think its ok to wait as long as native SPI on ESP8266 works. Make sure
the API is there though, just have it return NotImplementedError. Thanks!

On Sun, Oct 15, 2017 at 6:49 PM Dan Halbert <notifications@github.com>
wrote:

[2017-10-16 19:54] dhalbert opened #335 "Add better logic to turn individual shared-bindings features on and off."
Need to coordinate across `main.c`, `Makefile`, and `mpconfigport.h`. Could add more stuff to `mpconfigboard.h` and/or `mpconfigboard.mk`. A single change should control the feature properly everywhere.

Motivated by https://github.com/adafruit/circuitpython/pull/333#discussion_r144948054.

[2017-10-16 19:57] ladyada commented on #323
yah it should have them, but doesnt yet :)
they're 'internal' to the adalogger - not exposed on the breakout.
D7 is PA21
D8 is PA06

[2017-10-16 20:00] tannewt commented on #323
Ah ok! Is it urgent or can we have this a beginner task? It'd be to the file linked above:

- [ ] Add PA21 as `D7` and `SD_CD`
- [ ] Add PA06 as `D8` and `GREEN_LED`

[2017-10-16 20:02] ladyada commented on #323
its a good beginner task

[2017-10-16 20:32] dhalbert commented on #325
Accomplished by #329.

[2017-10-16 20:32] #325 closed

[2017-10-16 20:33] dhalbert commented on #322
Rendered moot by #329. `-finline-limit` is not need at the moment, and we can probably keep it much higher than 19 now if we need to reinstate it.

[2017-10-16 20:33] #322 closed

[2017-10-16 21:22] caternuson commented on #314
- fine by me. will do.
- indeed. you're better at this than i am. :)
- yah, i like doing no arg functions that way for some reason. easy to not do it though.

[2017-10-16 22:17] dhalbert commented on #332
btw, I looked in the arduino_samd core both upstream and our version, and DRVSTR is apparently not set to strong in either one. (It's not even mentioned in `cores/`. There's even a bug about it: https://github.com/arduino/ArduinoCore-samd/issues/158. We can still set it to strong in CircuitPython.

[2017-10-16 22:59] caternuson commented on #314
`return self._read_register(TSL2561_REGISTER_CONTROL) & 0x03`
That'd be functional, but I want to return the bool. Otherwise, you get this:
[code]
I'd rather that say True

[2017-10-16 23:17] tannewt opened #338 "OneWire BusDevice"
Factor out [this code](https://github.com/adafruit/Adafruit_CircuitPython_OneWire) into a OneWire BusDevice in [here](https://github.com/adafruit/Adafruit_CircuitPython_BusDevice). The original library can then be specific to the temp sensor.

[2017-10-17 01:20] caternuson opened #340 "Standardize I2C initialization for libraries that use it."
For libraries that are for I2C devices, come up with a standard `__init__` to use for all of them.

[2017-10-17 01:21] tannewt commented on #340
@caternuson would you mind providing numbered options for people to weigh in on? Thanks!

[2017-10-17 01:30] tannewt commented on #334
Done in c6a15f7. Thanks @jerryneedell!

[2017-10-17 01:30] #334 closed

[2017-10-17 02:10] ladyada commented on #332
tested, does make a difference with LEDs so i'd like to stick DRVSTR = 1

[2017-10-17 03:46] dhalbert opened #342 "Avoid double precision floats in time.monotonic() computation to further increase flash space"
`time.monotonic()` was dividing a 64-bit uint by 1000.0f. This caused the compiled code to `_aeabi_u2lf()`, which converts `long long` to `float`. In the process `ul2f` calls double-precision routines. I thought I had gotten rid of these by #325, but not completely.

I changed the arithmetic to break the 64-bit int into two pieces: multiply the top part by 2.0^32f and add it to the bottom part, th

[2017-10-17 04:48] ladyada commented on #342
nice!

[2017-10-17 04:52] ladyada commented on #317
woops this is a dupe of
https://github.com/adafruit/circuitpython/issues/323#issuecomment-337007819
andon-A we've marked this as a beginner project if you'd like to try! :)

[2017-10-17 05:11] Andon-A commented on #317
@ladyada Looks quite simple. I'll probably poke at this and #323 after re-learning how to work GitHub correctly. I've got a M0 Adalogger on the way because I don't believe in leaving things untested.

[2017-10-17 11:45] jerryneedell commented on #342
Dan, I'm probably misunderstanding what this is doing, but 2^32 = 4294967296  which requires more precision than can be expressed in a float, correct? So when it is multiplied by the upper portion of the time, isn't information lost?  Does this essentially make the time.monotonic value only valid for the lower 32bits of the counter?

[2017-10-17 11:57] jerryneedell commented on #342
Perhaps I am overthinking this, but the case I am concerned about if when two captures of time.monotonic differ in the lower portion of the upper 32bit word. Will differences of these time tags be valid?

[2017-10-17 13:18] dhalbert commented on #342
(I was going to mention this last night, but was too tired.) There is a precision problem with `time.monotonic()` but it was already there. It returns a float. A regular IEEE float is one bits of sign, 8 bits of exponent (power of 2), and 24 virtual bits of precision mantissa ( the top bit is always `1`, so only 23 bits are needed to store 24 bits of precision).

In CPy/MPy, the lower two bits are

[2017-10-17 13:27] jerryneedell commented on #342
Dan,
Just to clarify my comment -
4294967296.000000 is exactly represented 0x4f800000
but it is not unique
4294967295.000000 also = 0x4f800000
and even
4294967200.000000 = 0x4f800000

I was concerned that it would add some discontinuity to time.monotonic.

[2017-10-17 13:49] jerryneedell commented on #342
Okay - You have convinced me that since your really want the value to exactly 4294967296.000000 - you are OK and there will be no issues until the multiplicand gets very large and you get truncation but that is unavoidable.  Thanks for the clarifications and all the work to save memory. Clever stuff!

[2017-10-17 15:16] caternuson commented on #340
## OPTION 1
**CODE**
[code]
**USAGE**
[code]
**EXAMPLE**
https://github.com/adafruit/Adafruit_CircuitPython_AMG88xx/

## OPTION 2
**CODE**
[code]
**USAGE**
[code]
**EXAMPLE**
None. But would work now if `board.SCL` and `board.SDA` exist.

## OPTION 3
**CODE**
[code]
**USAGE**
[code]
**EXAMPLE**
None. I2CDevice doesn't currently have a default behavior for a None input.

## OPTION 4
**CODE**
[code]

[2017-10-17 15:17] caternuson commented on #340
I like an option what would allow the simple usage syntax of Options 2-4.

[2017-10-17 16:38] ladyada commented on #340
i think the issue with #2 is if the sensor has no args and thus creates an i2c device, then if they use that syntax to make another sensor, it will error out because the pins are in use. so id prefer requiring passing in an i2c device

[2017-10-17 16:46] tannewt commented on #342
This sounds perfectly fine to me! If we start changing the millisecond
fraction every other tick after an hour that seems plenty accurate to me.

On Tue, Oct 17, 2017 at 6:49 AM jerryneedell <notifications@github.com>
wrote:

[2017-10-17 17:05] caternuson commented on #340
That is an issue :(
[code]
Looks nice, but second sensor would error out.

[2017-10-17 17:11] dhalbert commented on #332
Fixed by #341.

[2017-10-17 17:11] #332 closed

[2017-10-17 17:11] dhalbert commented on #342
Implemented in PR #343.

[2017-10-17 17:11] #342 closed

[2017-10-17 17:11] ladyada commented on #317
cool!

[2017-10-17 17:30] jerryneedell commented on #340
For options 2-4 you are forcing it to use SDA,SCL - this is fine for boards that have hardware I2C and SCL/SDA are fixed, but what about boards like the ESP8266 where it is not fixed to these pins. Would be possible to allow for optional arguments to set the pins in all options?

[2017-10-17 17:41] ladyada commented on #340
some boards have fixed i2c, some you can change, so i like the idea of a kwargs for the address.

also some, rare devices require another initializer when creating (since we do not use begin()) so kwargs seems best?

[2017-10-17 17:41] tdicola commented on #340
I'm curious is there an issue with the current state of the world (option 1, passing in an explicit I2C bus)?  If the issues is reducing boilerplate IMHO I'd push that complexity to another layer and not into the drivers (where they might have to make tradeoffs like picking to use busio vs. bitbangio for ESP8266, etc.).  IMHO something nice would be in the board module add functions that give you

[2017-10-17 17:52] caternuson commented on #340
That's it really.

[2017-10-17 23:10] Andon-A opened #345 "Examples are outdated"
The examples in the aptly-named /examples directory are out of date, some extremely so. It appears that they're all microPython based

These should be updated, replaced, or removed, and organized depending on what boards they run on.

My preferences:

- If it relies on specific hardware that there is no CircuitPython board comparable to, remove it.
- If its purpose is outside the scope of CircuitP

[2017-10-18 01:12] caternuson commented on #338
New names also maybe?
`onewire_device.py` containing `OneWireDevice` class?
(matches the i2c and spi devices)

[2017-10-18 02:49] tannewt commented on #338
Yes please!

[2017-10-18 02:50] tannewt commented on #345
@Andon-A this would be awesome! Are you up for it?

[2017-10-18 03:01] Andon-A commented on #345
Absolutely. I'm guessing most of them will end up being completely re-done or removed, but first up is the guidelines.

[2017-10-18 03:07] tannewt commented on #345
Guidelines look good to me!

[2017-10-18 18:52] #260 closed

[2017-10-19 20:13] caternuson commented on #340
@tdicola I think what you are suggesting is similar to what @tannewt mentioned, but bury it in I2CDevice, i.e. Option 3. I think this would also cover the case of software I2C like ESP8266 as @jerryneedell has pointed out.

Summarizing thoughts to date:
OPTION 1 = current approach, works fine, but requires boiler plate
OPTION 2 = no good, relies on .SCL and .SDA, wouldnt' allow multiple sensor, et

[2017-10-19 20:32] deshipu commented on #340
There is also option 6, make `busio.I2C()` without parameters default to `board.SDA` and `board.SCL`, but still require explicit creation of the I²C bus. And option 7, pass `I2CDevice` to the sensors, instead of `i2c` and `address`, and make the `I2CDevice` default to `board.SDA` and `board.SCL`. Not sure how it would know the default address for the sensor, though, maybe the driver code could ini

[2017-10-20 00:12] tannewt commented on #286
@process1183 fixed this! Thank you!

[2017-10-20 00:12] #286 closed

[2017-10-20 00:14] process1183 opened #350 "No easy way to reboot into safe mode on the Feather M0 Express"
While working on issue #286, I discovered that there is not an easy way (say shorting a pin to GND or 3V while pushing reset) to reboot the Feather M0 Express into safe mode. I messed up some test scripts and ended up getting the `CIRCUITPY` drive stuck in read only mode (read only from the PC) and had to temporarily flash firmware with safe mode forced on to fix it (this was easier than switching

[2017-10-20 00:15] process1183 commented on #221
This is something I would like to work on.

[2017-10-20 00:18] tannewt commented on #350
Yes! That would be awesome. I think there may be a related bug about resetting from Python code too.

Are you on our [Discord](https://adafru.it/discord)? Its where we discuss things and have a weekly voice meeting.

[2017-10-20 00:19] process1183 commented on #350
@tannewt Yep, I signed up for Discord. I may not be able to attend the weekly meetings though, because I'm at work all day.

[2017-10-20 02:52] ladyada opened #352 "SAMD51 - Soft reset doesnt clear out pin usage state"
run this code

[code]

then soft reset or save the file, you get a

[2017-10-20 11:49] #352 closed

[2017-10-20 15:31] mrmcwethy commented on #204
The following functions are supported by Micropython, but currently are NOT supported in CircuitPython.  Is this a surprise?  To save memory I suspect.  These function are not commonly used.
Functions
---------

.. function:: acosh(x)
   Return the inverse hyperbolic cosine of ``x``.
.. function:: asinh(x)
   Return the inverse hyperbolic sine of ``x``.
.. function:: atanh(x)
   Return the inverse

[2017-10-20 16:12] tannewt commented on #204
Are they turned off by a #define? If so, its probably just an oversight. @dhalbert would have an opinion about whether to include them because they may increase code size.

I'm ok leaving them out until we hear from folks that they need something.

[2017-10-20 17:00] mrmcwethy commented on #204
the functions that are not in CircuitPython are surrounded by #if MICROPY_PY_MATH_SPECIAL_FUNCTIONS/#endif.

[2017-10-20 17:00] dhalbert commented on #204
[comments crossed]

These are turned on by `#define MICROPY_PY_MATH_SPECIAL_FUNCTIONS (1)`. If I turn them on, they use up an extra 15k flash. So they're not so desirable, even for the M0 Express boards.

We could turn them on in the M4 build, maybe, though we'll need to see what our flash budget is.

Note that complex number support is turned off on the non-Express M0 builds right now. That also

[2017-10-20 17:35] mrmcwethy commented on #204
The embedded documentation should reflect which math functions/features are available on which boards.  For example we could put a disclaimer in like "The following functions are supported on all boards: <math function list>.  The following functions may not be available depending on your board: <match function list>.  The determine what functions are available enter the REPL type import math foll

[2017-10-22 04:54] ladyada opened #358 "i2c read_into hardfaults if given bytearray of size zero"
yay safemode, here's a code snippet. no i should not be trying to read 0 bytes. but it also should not hardfault :D

Adafruit CircuitPython 2.1.0 on 2017-10-17; Adafruit Metro M0 Express with samd21g18

[code]

[2017-10-23 02:26] ladyada commented on #285
hiya i'll be doing this and bme280/680 :)

[2017-10-23 04:29] tannewt commented on #204
Fixed by @mrmcwethy in https://github.com/adafruit/circuitpython/commit/bb008cdbc963ed3c3bdb949c7f7b6825d000ab40. Thanks!

[2017-10-23 04:29] #204 closed

[2017-10-23 06:26] tannewt opened #360 "Aggregate pulse states between all CircuitPython repos."
GitHub pulse is awesome in pulling stats for an individual in the last week. It would be awesome to have a python script that can run in the [Adafruit bundle](https://github.com/adafruit/Adafruit_CircuitPython_Bundle) and [Community bundle](https://github.com/adafruit/CircuitPython_Community_Bundle) and aggregate the stats for all of the repos.

Start with the stats on the [Pulse page](https://git

[2017-10-23 06:30] tannewt opened #361 "Add pycodestyle checking to Travis"
Add [pycodestyle](https://github.com/PyCQA/pycodestyle) checking to Travis builds for all CircuitPython drivers and examples.

[autopep8](https://github.com/hhatto/autopep8) can be used to clean up failing code and get travis back green.

[2017-10-23 11:19] willingc commented on #361
Hi @tannewt,

Just to clarify the use of `autopep8`, since it's not entirely clear from above. I think it's fine to have a tool to check the style of PRs. I would be cautious about using the tool to automatically change code as that can introduce errors and unexpected results.

Just an fyi, well maintained tools can be found in the PyCQA org:
https://github.com/PyCQA

[2017-10-23 17:12] tannewt commented on #361
@willingc I don't intend on automatically running autopep8. I was thinking it'd be used by someone to fix the backlog of existing files we have. That way when Travis style checking is green when enabled.

Thanks for the links to those tools! Add love to be able to add checks for when certain Python funcitonality is used as well. For example, I'd love to keep bit manipulation (`|` and `&`) out of e

[2017-10-23 21:03] willingc commented on #361
@tannewt Cool. We're in agreement. It wasn't clear from the earlier message :-)

One thing that we have done on other projects is temporarily activate the pep8 style checking and then let it pass even with errors until the backlog has been worked through.

[2017-10-23 21:05] ladyada commented on #291
1) serial repl!
2) digitalio module
3) time module
4) local flash storage - 128KB of internal flash

[2017-10-23 22:01] tannewt commented on #361
Agreement is good! Thanks for the sanity check @willingc

[2017-10-23 22:24] tannewt commented on #340
My preference would be @tdicola's suggestion because its just explicit enough in my mind. @deshipu's options 6 and 7 feel like they hide too much by hiding board.

So, how about @caternuson's **Option 1** for drivers and an issue to support default i2c busses through `board` so we can do something like @tdicola's example?

[2017-10-23 22:38] tannewt commented on #314
Ok, I've forked this into [Adafruit](https://github.com/adafruit/Adafruit_CircuitPython_TSL2561) and set up ReadTheDocs. Mind creating a PR to get this in the bundle and fixing the docs?

It looks like the [API docs](https://circuitpython.readthedocs.io/projects/tsl2561/en/latest/) aren't building quite right because of const. https://readthedocs.org/projects/adafruit-circuitpython-tsl2561/builds/

[2017-10-23 22:51] tannewt commented on #312
Where are we at on this @caternuson ? It doesn't look like [this code](https://github.com/caternuson/CircuitPython_ADS1x15/blob/master/adafruit_ads1x15.py) has any notion of channels.

[2017-10-24 03:26] ladyada opened #364 "I2C & SPI BusDevice readinto/read_into"
hiya it appears i2c's busdevice uses read_into but spi uses readinto
maybe lets standardize on one? :)

[2017-10-24 16:44] tannewt commented on #312
FYI, newer code is here: https://github.com/caternuson/CircuitPython_ADS1x15/tree/multi

[2017-10-24 20:46] kattni opened #367 "Capacitive touch iterable attribute"
This code was designed in response to [this issue](https://github.com/adafruit/Adafruit_CircuitPython_CircuitPlayground/issues/12). It wasn't a good fit for that library.

It is a start for another library that could be for the Circuit Playground Express, or usable across multiple boards. I'm posting the code here so anyone who wants to pick this up has a place to start. The idea is to allow for i

[2017-10-25 02:44] rrace001 opened #368 "atmel-samd: lto-type-mismatch and ERROR 1 on build"
Output below.  I am using Ubuntu 16.04. I have compiled the UF2-SAMD21 without errors and flashed the bootloader.bin so my toolchain worked for that. (The bootdrive shows up on a double click but nothing else)  I just cloned circuitpython today and tried a few boards but all the same.  Typical output below.  I do not understand the error at all.

Output:
	/circuitpython/atmel-samd$ make V=1
GEN bu

[2017-10-25 02:50] jerryneedell commented on #368
After cloning repository do you do the following?
git submodule update --init --recursive

then when building it is good to d:
make BOARD=metro_m0_express clean
then
make BOARD=metro_m0_express

[2017-10-25 02:50] dhalbert commented on #368
Sounds like your toolchain is too old. You can get a newer one by doing this:
[code]

Take the old toolchain out of your path.

[2017-10-25 02:51] jerryneedell commented on #368
oops - that too!

[2017-10-25 08:05] hukuzatuna commented on #368
I had the same issue on Ubuntu under Windows 10. I can assert that updating the toolchain as dhalbert suggests, followed by the build process that jerryneedell documents, should solve the problem. If the OP (rrace001) can confirm the build process is working I think we can close this.

[2017-10-25 08:47] hukuzatuna commented on #360
To be clear, @tannewt , this is a request for a standalone Python program that you would run, for example, on your laptop, which would interact with the GitHub API to extract and aggregate the desired stats? I am stating it this way because I don't see a way to do this using Pulse within GitHub itself. Perhaps I'm just not familiar enough with it, though.

[2017-10-25 13:03] dhalbert commented on #298
A PEP (Python Enhancement Proposal) for a builtin function called `breakpoint()`: https://www.python.org/dev/peps/pep-0553/. Will probably be in Python 3.7.

[2017-10-25 16:09] dhalbert commented on #298
yeah - it provides us a syntax that will be the standard

[2017-10-25 16:11] tannewt commented on #298
We could also reach out upstream to see if its development we could fund.

On Wed, Oct 25, 2017 at 9:09 AM Dan Halbert <notifications@github.com>
wrote:

[2017-10-25 16:12] tannewt commented on #360
Yup, python script or js webpage (so everyone can see) would be perfect.

[2017-10-25 16:15] tannewt commented on #340
I'll take the silence to mean we're ok with my proposal. Would someone mind:

- [ ] Adding a section to the [Design Guide](https://github.com/adafruit/circuitpython/blob/master/docs/design_guide.rst) doc about this.
- [ ] Creating an issue to add default buses to `board` or simply making a PR for it.

[2017-10-25 19:05] tannewt commented on #364
Yes!

[2017-10-25 19:06] tannewt commented on #368
@rrace001 Please reopen if this is still an issue after updating your toolchain.

[2017-10-25 19:06] #368 closed

[2017-10-25 21:26] rrace001 commented on #368
Thanks all.  Worked perfect!

[2017-10-25 22:12] caternuson opened #372 "Add default buses to board"
From the discussion raised in this issue, w.r.t I2C bus:
https://github.com/adafruit/circuitpython/issues/340

[2017-10-25 22:13] caternuson commented on #340
Done and done.

[2017-10-25 22:35] caternuson commented on #314
PR done: https://github.com/adafruit/Adafruit_CircuitPython_Bundle/pull/32

Where do I add that import?

[2017-10-25 22:37] caternuson commented on #312
Yeah, made a new branch to work on the approach of breaking into multiple files. Sorry if that was confusing. "Master" is now like "The original idea" or something.

[2017-10-26 02:16] tannewt commented on #358
This is fixed in 2.x.

[2017-10-26 03:36] dhalbert opened #374 "MSC 3.0 issues on Linux"
Commit: d613776f0d4215e064964c6838de27e81d4fbcca
Ubuntu 16.04
Metro M0

With this build, CIRCUITPY appears and the REPL works. However, the second disk that does not exist stills seems to be causing problems. After a time, CPU consumption of `/lib/systemd/systemd-udevd` and `/usr/lib/udisks2/udisksd` rises dramatically, and the errors below are repeated in `syslog` many times. E

Interestingly, if

[2017-10-26 03:53] dhalbert commented on #374
I don't think this is exactly the issue but it indicates how `systemd-udevd` can go crazy:
 https://sourceforge.net/p/cdemu/bugs/93/#fc7c
There are other examples of high cpu for that process with devices in Hyper-V, etc.

[2017-10-26 04:17] tannewt commented on #374
I'm seeing it repeatedly test that the unit is ready and then follow up with a request sense for more details on why its not ready. I'm playing around with the request sense response to see if I can get it to back off.

[2017-10-26 04:42] tannewt commented on #374
Yup, I trusted the whole ERR_ABORTED thing too much. Changing it back to ERR_NOT_FOUND makes linux happy again.

The inquiry stuff was definitely wrong though. The read capacity response looks as it should.

[2017-10-26 13:36] dhalbert commented on #374
Tested new PR's and the problem looks like it's fixed!

@tannewt Why not count how many filesystems there are and call `mscdf_init()` with that count? Or are you thinking they may be turned on and off dynamically after the USB descriptor has been sent? Or maybe there's an initialization order problem I'm not realizing.

[2017-10-26 14:17] dastels commented on #374
What I'm seeing on Ubuntu 17.04 with Adafruit CircuitPython 3.0.0-alpha.0-1031-gee18b5cba on 2017-10-26; Metro M4 Express with samd51j19

If the board is reset with code in main.py, etc CIRCUITPY shows up, the code runs (in my case it blinks the LED and poutputs some text), the led blinks, and when I connect with screen I see the text.  I cannot get into the repl, though.

If I then (from a termin

[2017-10-26 16:11] caternuson commented on #314
Hmmmm. Maybe back to lux instead of light?
https://github.com/adafruit/circuitpython/commit/c966976591f6397eaa7821e00a51ad20fe8ae544

[2017-10-26 17:02] tannewt commented on #374
@dhalbert SD cards are never mounted when usb is inited because they currently require the Python VM. So, by supporting removable media we should be able to dynamically make it available.

@dastels that will still have the misleading inquiry response. try it with this latest commit. On my Arch linux box I see a warning about unable to get the write protect bit and the cache but it works otherwise.

[2017-10-26 17:09] tannewt commented on #314
Yes please. :-) Limor just tweaked it.

On Thu, Oct 26, 2017 at 9:11 AM Carter Nelson <notifications@github.com>
wrote:

[2017-10-26 17:10] tannewt commented on #340
Thanks @caternuson !

[2017-10-26 17:10] #340 closed

[2017-10-26 17:21] dhalbert commented on #374
This may be due to improper ctrl-C interrupt handling, or the setup for that is in the wrong place.

[2017-10-26 17:39] siddacious opened #377 "Serial REPL/ USB CDC issue on OS X 10.10.5"
I’ve been testing 3.0/master on a M4 with my early 2015 MacBook Pro 13 Retina running Yosemite. My M4 bootloader was flashed with BOSSAC with a .bin provided by @tannewt.

Here’s what I’m seeing with the current master and a build @tannewt sent last night around 9pm:
- No /dev/tty.usbmodem* when the M4 is plugged in
- CIRCUITPY mounts and is accessible
- a code.py blinky in CIRCUITPY will run when

[2017-10-26 22:29] caternuson commented on #314
this goes in conf.py?

[2017-10-26 22:51] tannewt commented on #314
That goes in the driver and the autodoc_mock statement goes in conf.py.

[2017-10-27 13:11] jerryneedell commented on #358
In 2.x this breaks i2c_device.py in bus_device
in line 56 it sends a zero length write"
[code]

breaks a lot of I2C drivers tah call i2c_device!

[2017-10-27 13:16] dhalbert commented on #358
see also https://github.com/adafruit/Adafruit_CircuitPython_BusDevice/issues/9

[2017-10-27 14:53] caternuson commented on #314
Looks like the docs are at least building now. But this looks a bit odd (`address=<sphinx.ext.autodoc._MockModule object>`):
https://circuitpython.readthedocs.io/projects/tsl2561/en/latest/api.html#adafruit_tsl2561.TSL2561
Here's the mod I did for readthedocs:
https://github.com/adafruit/Adafruit_CircuitPython_TSL2561/pull/3/files
Totally new to sphinx / readthedocs, so let me know if this is wron

[2017-10-27 19:38] mrmcwethy opened #379 "struct.calcsize() is missing from readthedocs"
The documentation is in the .c file, but is indented.

[2017-10-27 19:59] jerryneedell commented on #358
If there is another acceptable way to test the aliveness of the device, I'll be happy to implement it in i2c_device.py.

[2017-10-27 20:02] dhalbert commented on #358
Scott and I discussed whether to fix the original bug in a different way besides excluding buffers of size zero. I will look at it.

[2017-10-27 20:10] jerryneedell commented on #358
ok I tried just doing a read from it and that seems to work.
[code]

works  with a device at 0x5a
throws OSError 19 with an invalid address

[2017-10-27 20:42] jerryneedell commented on #358
I tried the following change in i2c_device.py and it works OK  with a simple test with a mpr121 installed and an si7021 not inttalled. If this is "i2c safe" it's a simple change.
[code]

[2017-10-28 14:59] jerryneedell commented on #358
This also break rgb.py in adafruit_rgb_display:
[code]
This is an SPI device and the problem comes from this line 82:
[code]
which passes an empty byte array.
I have not found a simple fix to this yet.

[2017-10-28 17:50] ladyada opened #383 "double file extensions"
![image](https://user-images.githubusercontent.com/1214161/32137053-d4379cd0-bbe6-11e7-8e59-345ad4b34f95.png)

might be worth detecting this kinda thing at the 'end' of the list of files we run - windows tries to be 'smart' and not show extensions!

[2017-10-30 17:16] dhalbert commented on #358
Testing this to see if I can fix it another way. I'm using an SHT31 humidity sensor at I2C 0x44 (no library, but it doesn't matter).
[code]
hard-crashes only the first time the device is referenced. If I press reset without power-cycling, I get an `OSError` the second time. I have to power-cycle the SHT31 to cause a hard crash.

[2017-10-30 17:49] mrmcwethy commented on #364
i would happy to do this one.  "read_into" is mo' python-like, no?

[2017-10-30 19:43] gpshead commented on #193
I just noticed that this feature was missing on the non-express builds as I tried migrating some code to a smaller board.  I'd love to see it there.  If ultimately not, would it be possible to update the error message?

Currently it was something along the lines of `Error: bytearray index assignment not supported.` (paraphrased, my uc isn't connected at the moment). This was confusing as this isn'

[2017-10-30 19:50] gpshead opened #384 "bytes objects lack a decode method in smaller non-Express builds"
The `decode` method for converting from bytes to str is missing in non-Express builds. This makes it awkward to take data from I/O and print it.  It seems like this should exist, obviously the codec is ignored on a microcontroller but being able to switch immutable data types from one that iterates as ints to one that is printable and iterates as one character strings is desirable. Depending on th

[2017-10-30 22:54] dhalbert commented on #358
Just documenting base error: ASF3 does not handle an i2c read request of length zero. CPy/Mpy passes in a zero length bytearray as a buffer starting at 0x0, with length 0. The read request eventually gets passed into `asf/sam0/drivers/serceom/i2c/i2c_sam0/i2c_master.c`, routine `_i2c_master_read_packet`. There is some handling of a zero length request, but critically at the end of the `while` read

[2017-10-30 23:27] tdicola opened #386 "atmel-samd: File system erased on jittery power startup"
So this goes back to the previous issues of losing the entire SPI flash filesystem on express boards in low power conditions.  With the latest 2.1 firmware I've noticed it unfortunately still occurs, just now I plugged in a JST battery to a cplay express with 2.1 and it erased the entire filesystem (was left with a blank root and boot_out.txt file).  Talking in chat one possible explanation is tha

[2017-10-30 23:32] tdicola commented on #386
This has been confirmed with another independent repro, from Kattni:

"@tdicola Repro'd.
I had to lightly touch the connector to the jack repeatedly before plugging it in to get it to repro. The status LED and D13 flashed each time I did that, and then when I plugged it in completely, it had erased."

Priority-wise I think this is worth looking at for the next 2.1 release.  It's super easy to misp

[2017-10-31 01:33] tannewt commented on #358
This should actually be fixed now by f738996164fc270015fdb53ee38b24f7823cbbd8. Thanks @dhalbert !

[2017-10-31 01:36] #377 closed

[2017-10-31 01:40] tannewt commented on #384
This should be as easy as enabling a define in mpconfigport.h

[2017-10-31 01:43] AidenRay opened #388 "PDM mic buffer size causes hard reset and boot into safemode"
Running the following code from [readthedocs](https://circuitpython.readthedocs.io/en/latest/shared-bindings/audiobusio/PDMIn.html) causes a hard reset, and the CPX to run in safemode (not always).

[code]

[2017-10-31 01:43] tannewt commented on #374
This ASF4 change fixed this: https://github.com/adafruit/asf4/commit/8e3e471f481effddd5c23da2342e1e4aab618e1f

Before, ASF4 would respond as if the second drive existed even when we returned null as the inquiry result. Now, it responds with NOT_FOUND.

[2017-10-31 01:43] #374 closed

[2017-10-31 01:49] tannewt commented on #205
Done in b41cbe9256d3f7105a70ad3d2e4fb64180f81e09

[2017-10-31 01:49] #205 closed

[2017-10-31 01:51] AidenRay commented on #388
I tested a bunch of buffer sizes.

A length of 1504 is fine, whereas a length of 2963 hard resets.
So simply increasing the buffer length doesn't seem to solve it.

[2017-10-31 01:52] tannewt commented on #285
This done?

[2017-10-31 01:54] tannewt commented on #156
I think the audio filtering is ok for now. We can create a new issue if/when it needs more love.

[2017-10-31 01:54] #156 closed

[2017-10-31 02:01] tannewt commented on #379
Fixed. https://circuitpython.readthedocs.io/en/latest/shared-bindings/struct/__init__.html

[2017-10-31 02:01] #379 closed

[2017-10-31 02:03] ladyada commented on #285
yah!

[2017-10-31 02:03] #285 closed

[2017-10-31 16:33] deshipu commented on #364
That is going to break a lot of drivers.

[2017-10-31 16:35] ladyada commented on #364
@deshipu we would leave in a wrapper

[2017-10-31 16:47] deshipu commented on #384
The flag for this is `MICROPY_CPYTHON_COMPAT`, but the comment next to it says:

[code]

[2017-10-31 17:05] tannewt commented on #364
@mrmcwethy looks like `readinto` is already used in CPython: https://docs.python.org/3/search.html?q=readinto Thanks for taking this on!

I think i2c is `read_into` because it was originally `readfrom_into` and then I changed how the address was managed.

As @deshipu and @ladyada point out, please start out by leaving `read_into` with a warning that its deprecated. Then, if you like, go through an

[2017-10-31 17:07] tannewt commented on #384
@dhalbert I think this is a good candidate for using some of the space you freed. What do you think?

Anyone know what the code size cost of enabling this is?

[2017-10-31 17:14] deshipu commented on #384
But from that comment, wouldn't just `str(my_bytes)` and `bytes(my_string)` work in place of `my_bytes.decode()` and `my_string.encode()`?

[2017-10-31 18:08] tannewt commented on #314
This looks good to me! Anything left to do?

[2017-10-31 19:19] dhalbert commented on #384
Turning on `MICROPY_CPYTHON_COMPAT` costs 792 bytes. Right now we have 3912 bytes free in the Gemma build (for example). But we are looking to add `framebuf`, and we don't know the storage budget needed for 3.0 yet.

@gpshead: is `str(some_bytes, 'ascii')` ok for you as a workaround?

(Note that `str(b'abc')` returns `"b'abc'"`: you need the second argument to get `'abc'`. However, the value of th

[2017-10-31 19:25] dhalbert commented on #193
Current measurements say this costs 400 bytes. I guess I'd choose those over #384 (add `.decode`) if I had to choose just one because it's more awkward without it. As with #384, we need to consider our storage budget in future releases.

[2017-10-31 21:40] deshipu commented on #384
I wonder if it would make sense to actually *disable* `MICROPY_CPYTHON_COMPAT` in the large build, so as to avoid code that only works on some platforms for no reason.

[2017-11-01 01:59] #193 closed

[2017-11-01 12:17] #264 closed

[2017-11-01 14:36] microbuilder commented on #291
Local flash storage will have to be reduced to ~92KB assuming the following:

- 12KB Master Boot Record
- 48KB Serial Bootloader
- 140KB SoftDevice S132v5
- 28KB NFFS-based internal config memory (bonding data, etc.)
- 192KB CircuitPython Code

Remaining Space: 512KB - 420KB = **92KB local flash storage**

[2017-11-01 16:07] caternuson commented on #314
Not from me. Once your PR (thanks) gets merged I take it the code is good. Then it's just a matter of this PR to get it in the bundle?
https://github.com/adafruit/Adafruit_CircuitPython_Bundle/pull/32

[2017-11-01 16:43] ladyada commented on #291
sounds fine to me - thats enough to get people going. our final design will have external SPI flash :)

[2017-11-01 17:44] tannewt commented on #291
A couple naive questions from me:

* Why is the MBR 12k? [Here](https://infocenter.nordicsemi.com/index.jsp?topic=%2Fcom.nordic.infocenter.sdk52.v0.9.1%2Fbledfu_memory.html) its only 4k.
* Why is the bootloader 48k? Bossac and UF2 are only ~8k.
* Can we combine the NFFS filesystem with the file system for CircuitPython? Without USB we can use NFFS but we'll want FATFS for the USB version.

[2017-11-01 18:19] #110 closed

[2017-11-01 20:07] dobra-dobra opened #395 "ESP8266 - turn on framebuf in mpconfigport.h"
Framebuf is not included in ESP8266 port, which casuses incompatibility with SAMD port. Moreover, when framebuf is not included OLED screens can't be used to print strings.

[2017-11-01 20:10] deshipu commented on #395
You can install the Python implementation of framebuf, which should make all the drivers work (albeit slow): https://github.com/adafruit/micropython-adafruit-framebuf

[2017-11-01 20:26] jerryneedell commented on #395
The problem is that the python framebuf.py does not support text.

[2017-11-01 20:29] deshipu commented on #395
You can use other libraries to render text, such as my https://bitbucket.org/thesheep/font454 or Peter's https://github.com/peterhinch/micropython-font-to-py.git — there is an example for the latter at https://github.com/peterhinch/micropython-samples/blob/master/SSD1306/README.md

[2017-11-01 20:50] tdicola commented on #395
This is also a good option for rendering text without framebuf: https://learn.adafruit.com/micropython-displays-drawing-text  It's a library that you plug in a pixel drawing function so it can work with any kind of display (oled, neopixel matrix, etc.).

[2017-11-01 20:56] dhalbert commented on #395
I think there is room for framebuf in esp8266. If you want to turn it on now you could trying building it yourself (maybe you did that already). We would like to have it available everywhere if possible. We'll have to see what fits in 3.0 when we get closer to being done.

[2017-11-01 21:56] mrmcwethy commented on #364
I will place recreate a new method in i2c from readinto, which will be functionally equivalent to i2c.read_into.  I will also change the docs to say the i2c.read_into is obsolete and will be deprecated.

Question: what version of circuitpython will i2c.read_into() be removed?

[2017-11-01 22:07] tannewt opened #399 "New mpy version with 1.9.3. Should we adopt it?"
Upstream bumped the version of mpy again with 1.9.3. The version bump was required due to [a reordering of unary bytecodes](https://github.com/micropython/micropython/commit/9d836fedbdb1d28bdfc4ba475bbdfc1adb3f007a).

Do we want to inherit this version and require new libs for everyone? Or should we revert this format change and potentially have to bump later if the opcodes are used in a different

[2017-11-01 22:28] mrmcwethy commented on #364
Also I assume that this issue only effects the library BusDevice and not core module busio, where there is a readfrom_into() method for i2c and readinto for spi.

[2017-11-01 22:31] tannewt commented on #364
@mrmcwethy Lets say 4.0 for removal.

What do you think about `readfrom_into`? It could be replaced as well. It'd just be a bit weird because it'd still take the address as a parameter.

[2017-11-01 22:33] tannewt opened #400 "Merge in MicroPython 1.9.3"
We have most of it is merged already. We just need to decide about the mpy version bump (#399).

https://github.com/micropython/micropython/releases/tag/v1.9.3

[2017-11-02 04:04] dastels commented on #298
I've started looking into this. Initially I'm playing in the unix port, but the code should all live in py/

https://github.com/dastels/circuitpython

[2017-11-02 07:47] dobra-dobra commented on #395
Thank you for the suggestions. I'm aware that there are other options available, but in my opinion such small differences between ports are very annoying, especially when they are not clearly shown in docs. I use both SAMD and ESP8266-based boards and my point is that if there is no real need to keep such differences between ports they should be removed.

[2017-11-02 07:53] microbuilder commented on #291
- For the MBR in that link 0x0..0x3000 = 12KB (???)
<img width="546" alt="screen shot 2017-11-02 at 08 49 37" src="https://user-images.githubusercontent.com/181073/32315042-ce61b7e2-bfaa-11e7-8968-bcc05f58ec67.png">
- The bootloader also supports OTA updates via BLE, which is why it's so large
- I will probably combine the two file systems internally yes (nRF52832 variants without USB), and simply

[2017-11-02 09:17] microbuilder commented on #291
There is conflicting information about the sizes in the documentation. :(

I've listed below what seems to be the right/final settings for:

- S132 v2.0.1 (current feather52 boards)
- S132 v5.0.0 (future work and nRF52840)

## S132 v2.0.1 with OTA DFU Bootloader

- CircuitPython Core: **228KB**
- User Filesystem: **96KB**
- Private Config Data: **28KB** (which may get combined for 96+28=**124KB**

[2017-11-02 13:09] hukuzatuna opened #401 "2017-11-02 3.0beta build REPL won't exit (M4)"
I did a git pull and submodule update this morning (2017-11-02) and flashed the firmware to the Metro M4 Express. Afterwards, I got a solid white NeoPixel.  When I connected to the REPL I got a prompt with no banner. The REPL works, though. When I hit control-D to exit the REPL it did a soft reboot and immediately re-entered the REPL. This happens repeatedly with control-D, regardless of whether o

[2017-11-02 15:45] siddacious commented on #383
Do you mean we should run double extension files at a lower priority or just give a warning about them?

[2017-11-02 15:47] ladyada commented on #383
probably just run them at a lower priority - but a warning on REPL-open might be good

[2017-11-02 15:48] ladyada commented on #383
@siddacious if you're interested in taking this on, you can start by adding the list of files and we can do the warning later :)

[2017-11-02 15:52] ladyada commented on #298
rad. to extend my terrible idea...would it ever make sense to have a debugging backchannel thru HID...so REPL stays clean

[2017-11-02 16:03] siddacious commented on #383
Do we care about all the possible combinations or just doubling of the same extension?

[2017-11-02 16:16] dhalbert commented on #383
It would probably be good to make up a table of possibilities or iterate through the combinations, instead of having multiple calls to `maybe_run()`.

[2017-11-02 18:13] siddacious commented on #383
I've got the simple version but I'll take a whack at the warnings and combo iteration when I get home.

[2017-11-02 19:35] tannewt commented on #399
After sleeping on this I think its best to merge in the bump. Its ok to teach people to look for bundle that match their major version.

I'll do this in #400

[2017-11-02 19:35] #399 closed

[2017-11-02 20:20] #400 closed

[2017-11-02 22:11] dastels commented on #298
I think then you start thinking about watchpoints, tracing, single stepping, and the like. And that will need far more invasive changes. Certainly doable, but might not be in line with a simple, educational environment.

My goal is to be able to drop in a debugger() or breakpoint() (Smalltalk used halt() ) function call and let you poke around the local environment, possibly peek into different fr

[2017-11-02 22:51] ladyada commented on #298
yah agree- i was just thinking to the far future :) for now breakpoints are enough!

[2017-11-02 23:16] dastels commented on #298
I'll probably explicitly NOT support using `def` in the debug repl. Expressions, yes. Assignment to in-scope variables, yes with a warning that it might mess things up. I'd like to support looking at variables in prior stack frames. I'm not sure how that would look yet... but that's not for a while.  The next step is just to get local variable (and parameter) references working.

[2017-11-02 23:43] tdicola commented on #298
Would re-enabling stopping of main and keeping the context be a simple interim fix in 3.0 or earler?  It's handy to debug your main.py by Ctrl-C and looking at variable values.

[2017-11-03 00:00] dastels commented on #298
My first thought it that where you stop it would be random. Even in a simple loop where you stop would impact what you expect values to be.

[2017-11-03 06:58] gpshead commented on #384
Workaround `str(binary_data, 'ascii')` works. Thanks!

As for disabling in the larger build... I'm in favor of that when reasonable workarounds exist (as in this case). The fewer behavior differences between different circuitpython builds the better; though I could just as easily argue the other way with regards to being compatible with Micropython on larger microcontrollers.

[2017-11-03 13:16] dhalbert commented on #358
As discovered by @jerryneedell and @deshipu, https://github.com/adafruit/Adafruit_CircuitPython_RGB_Display expects to be able to pass zero-length SPI buffers (and have nothing happen). Perhaps we should just handle this edge case and do nothing. The Arduino SPI library will take a zero-length buffer and do absolutely nothing.

Forbidding zero-length SPI reads may still make sense. As noted above,

[2017-11-03 13:49] hukuzatuna commented on #401
This morning's build (Adafruit CircuitPython 3.0.0-alpha.0-1143-ge7d6df7-dirty on 2017-11-03; Metro M4 Express with samd51j19) exhibits the same behavior, but I have some additional details.

- Flashing the new firmware results in a solid white Neopixel and a REPL that won't exit.
- There is no D:\CIRCUITPY (I'm on Windows) when the board is in that state.
- Pressing reset once gives me a pulsatin

[2017-11-03 13:59] mrmcwethy commented on #364
I am not changing busio interface at this time.  There already is a readinto method hidden in there as a primitive I2C operation.

[2017-11-03 22:45] caternuson commented on #314
Done:
https://github.com/adafruit/Adafruit_CircuitPython_TSL2561/pull/4

[2017-11-03 22:45] #314 closed

[2017-11-04 03:07] zencuke opened #406 "release should include bin files for the uf2 based releases"
Documentation says use bossac for recovery but that requires a .bin file. The .bin should be part of the release even if .uf2 is the primary. I assume the intent is to still support bossac.

[2017-11-05 01:48] ladyada opened #407 "reading value from output pin not always reflective"
was testing a feather m0 basic on adafruit-circuitpython-feather_m0_basic-20171104-5ff6417 and bumped into this odd issue while testing pin toggling.

on some pins, reading the value does not return the right value?

e.g this code does not toggle:

[code]

but this works:

[code]

[2017-11-05 16:15] jerryneedell commented on #395
I'll be happy to submit a PR to enable frambuf  - Should I submit PRs both the 2.x and 3.0 branches?

[2017-11-05 16:35] dhalbert commented on #395
@jerryneedell Since it's already turned on in the atmel-samd express builds, sounds fine, assuming it fits. Do you have a way to test it for esp8266?

[2017-11-05 17:07] jerryneedell commented on #395
yes - I will test it with an ssd1306 on an esp8266 before submitting the PR. Likely tonight or tomorrow.

[2017-11-05 17:09] jerryneedell commented on #395
I have built it under both master and 2.x branches - no problem with she or import framebuf. Just need to hook up the oled display to verify operation.

[2017-11-05 22:24] jerryneedell commented on #395
submitted PR for 2.x  - Do you want one for master - I need to rebuild the .mpy files for master since the format is different. IS it useful to do that at this time. I was surprised that 3.0 even builds for esp8266, but it looks OK - I assume it is really the 2.x code. Let me know if you want me to test the .mpy builds and if you want a PR to master.

[2017-11-05 22:53] mrmcwethy commented on #364
I am ready to release all the library changes.  Should I wait or start 12 pull requests?  Since these changes are incompatible with 2.x of circuitpython .  I assume we have a way to build/maintain library bundle 2.x and library bundle 3.0 separately.

[2017-11-05 22:55] tannewt commented on #364
Can we `try: except` it for now? That way it could be used on any version.

[2017-11-06 00:40] mrmcwethy commented on #364
here is a possible way to detect a missing method:

    def _read_register(self, register, length):
        self._buffer[0] = register & 0xFF
        with self._i2c as i2c:
            i2c.write(self._buffer, start=0, end=1)
            try:
                i2c.readinto(self._buffer, start=0, end=length)
            except AttributeError:
                i2c.read_into(self._buffer, start=0, end=le

[2017-11-06 02:05] siddacious commented on #383
So I'm *so close* to being done with this except for the part where it's totally broken. When I take one of the generated double extension file names and run it (blinky in this case) with `pyexec_file(double_extension_filename, exec_result);` I see my led blink but I loose the CDC serial in /dev/tty* and CIRCUITPY doesn't show up. I assume it's running the blinky that I had previously uploaded and

[2017-11-06 02:09] jerryneedell commented on #395
submitted  PR for master as well - I was able to generate the necessary .mpy's to test this in the master branch build using an ssd1306 OLED display.

[2017-11-06 02:58] jerryneedell commented on #407
I've been staring at https://github.com/adafruit/circuitpython/blob/2.x/atmel-samd/common-hal/digitalio/DigitalInOut.c and I am wondering if switch_to_output() is not called then how is self->open_drain initialized? If it is not initialized, then will it behave differently for some pins?

If you just set the direction as in the example, I don't think switch_to_output() is ever called.

[2017-11-06 04:16] dhalbert commented on #407
`common_hal_digitalio_digitalinout_switch_to_output()` is called here: https://github.com/adafruit/circuitpython/blob/2.x/shared-bindings/digitalio/DigitalInOut.c#L202, in the layer above. When you set the `.direction` property it calls either `common_hal_digitalio_digitalinout_switch_to_input()` or `common_hal_digitalio_digitalinout_switch_to_output()`.

[2017-11-06 06:20] tannewt commented on #383
Is your branch based on 5ff6 as well? I'd be happy to take a look tomorrow.

[2017-11-06 06:42] siddacious commented on #383
I found the bug; I had not noticed that the two calls to `maybe_run` had different arguments and treated them as the same. I simplified how it works and addressed that oversight in doing so. Now I'm just trying to remember how to pointer.

[2017-11-06 07:24] deshipu commented on #364
I would rather put something like:
[code]
somewhere at the beginning (in the ``__init__``), so that we don't have to check every time.

[2017-11-06 13:10] mrmcwethy commented on #364
I like that idea @deshipu .  Thanks.

class LIS3DH_I2C(LIS3DH):

    def __init__(self, i2c, address=0x18):
        import adafruit_bus_device.i2c_device as i2c_device
        self._i2c = i2c_device.I2CDevice(i2c, address)
        # handle name change of method readinto; backward compatible
        self._i2c_readinto = getattr(self._i2c, "readinto", getattr(self._i2c, "read_into", None))
        s

[2017-11-06 13:39] deshipu commented on #364
I would drop that `None` from there — it should never get to that part, but when it does, and `AttributeError` is the right exception to throw.

[2017-11-06 15:08] mrmcwethy commented on #364
@deshipu  Python 3.5 evaluates both getattr() functions, so when we finally remove the redundant read_into method, the None ensures that the getattr(i2c,"read_into") does not throw an Attribute exception.  Maybe we need to add

self.i2c_readinto = getattr(i2c,"readinto",getattr(ic2,"read_into",None))
# if both readinto and read_into are not present, then throw exception
 if self.i2c_readinto == No

[2017-11-06 15:18] deshipu commented on #364
Argh, you are right, I'm sorry, I didn't thought it through. In that case maybe:
[code]
would be clearer.

[2017-11-06 18:55] caternuson opened #410 "round function not working"
[code]

[2017-11-06 21:49] jerryneedell commented on #395
Since the update is in 2.x and pending for master, I thing this can be closed. It won't let me close it.

[2017-11-06 22:01] jerryneedell commented on #410
odd - FYI - you do have access to several functions in the math module. ```import math
math.floor()
math.ceil()
math.trunc()

[2017-11-06 22:04] jerryneedell commented on #410
round also fails the same in the master 3.0 build.

[2017-11-06 22:17] dhalbert commented on #410
There is apparently a bug in https://github.com/adafruit/circuitpython/blob/master/lib/libm/nearbyintf.c in the builtin libm.

[2017-11-06 22:57] tannewt opened #411 "APDS9960 Driver"
Driver for the gesture sensor.

https://www.adafruit.com/product/3595

[2017-11-06 22:59] tannewt commented on #395
I pulled the master version as well. Thanks @jerryneedell !

[2017-11-06 22:59] #395 closed

[2017-11-06 23:11] tannewt commented on #364
The last option looks good! Also keep in mind that switching a driver to `adafruit_bus_device.I2CDevice` might be the easiest way going forwards.

[2017-11-06 23:16] tannewt commented on #406
Hi zencuke! Which documentation are you looking at? It should be updated.

I'd rather not include bins in the release list because its already long as is. However, they are always built and available here: https://adafruit-circuit-python.s3.amazonaws.com/index.html?prefix=bin/

[2017-11-07 01:50] dhalbert commented on #407
This works fine on 2.x, but is a problem on 3.0.

Tested partially on Feather M0 basic and Metro M0:
MOSI, A1, A2, A5, value is False even after set to True.
MISO, A0:  works fine.

Then, while trying to use A3, I got a "Pin PB09" in use, even though I hadn't used A3 before. So this might be a pin mapping problem.

[2017-11-07 12:38] mrmcwethy commented on #364
@tannewt I am not understanding your point about "switching a driver to".  Every one of the libraries I will be changing already are using adafruit_bus_device.I2CDevice.  What am i missing?

[2017-11-07 14:08] dhalbert commented on #410
Fixed by #413.

[2017-11-07 14:08] #410 closed

[2017-11-07 17:54] tannewt commented on #364
@mrmcwethy yeah, I was confused thinking we were changing CircuitPython's methods.

I think that we should just switch the libraries over to readinto. Lets leave read_into in the I2CDevice class for a little while for any other libraries to catch up.

I want people to grab libraries out of the bundle instead of separately because we can then verify bundled libraries always work with each other.

[2017-11-07 18:08] #407 closed

[2017-11-07 18:15] tannewt commented on #401
Can you test against latest master again? 4140b3b9443c47b8eda05de60b312b7df65ff5e0 fixed a usb issue and may have fixed this.

[2017-11-07 18:54] caternuson commented on #312
PR made:
https://github.com/adafruit/Adafruit_CircuitPython_ADS1x15/pull/1

[2017-11-07 19:47] dhalbert commented on #358
Fixed by #404. Thanks @deshipu

[2017-11-07 19:47] #358 closed

[2017-11-07 19:56] zencuke commented on #406
I was looking at the Circuit Playground Express tutorial. It is obviously not done. It is huge with lots of useful info but it looks like a lot of cut and paste was done. It needs some editing for things that need to be changed for inclusion in this specific tutorial. I try to give feedback when I notice things. It would work if the tutorial pointed to the bin files. It said "this is how to recove

[2017-11-07 19:56] mrmcwethy commented on #364
I like that decision.  I will act on it.

[2017-11-07 20:27] zencuke commented on #406
This is off point for the issue but there was a bigger problem in the tutorial. I probably didn't need bossa. I tried to load circuitPython and the behavior didn't match the tutorial. Bright lights flashed, two popups appeared indicating that both CIRCUITPY and CPLAYBOOT had been improperly removed and CIRCUITPY was not on the desktop as promised.

It turns out that in spite of the weird behavior

[2017-11-07 20:32] dhalbert opened #417 "3.0: can only paste 128 chars into REPL"
Pasting from the clipboard or middle-click (Linux) into the REPL in 3.0 only allows 128 characters. In 2.x, much larger blocks can be pasted (I couldn't get it to break).

[2017-11-07 20:36] zencuke commented on #406
I just tried the uf2 boot process again and much of the weirdness is gone. I only got a single unmount warning popup for CPLAYBOOT. None for CIRCUITPY this time. Even better CIRCUITPY was on the desktop. And the finder sidebar CIRCUITPY worked. I was able to drag the uf2 file to it.  If it had been doing this Saturday I wouldn't have been fiddling with bossa. I think I rebooted the Mac in there so

[2017-11-07 20:55] jerryneedell commented on #417
I'm glad you posted this - I had a cut/paste truncated recently on 3.0 and I was meaning to go back and explore it!

[2017-11-07 22:26] tannewt commented on #406
Cool cool! I've added a bin link to the guide here: https://learn.adafruit.com/adafruit-circuit-playground-express/circuitpython-detailed-install#flashing-with-bossac

What version of OSX are you on?

[2017-11-07 23:18] zencuke commented on #406
That works. You might mention that in the release notes as well going forward.

High Sierra 10.13. I have my Mac on auto update so I am usually pretty current. Except when I refuse to let it reboot of course. ;-)

[2017-11-07 23:22] tannewt commented on #406
Ok perfect! I've update the last release with a sentence and a link.

I'm also on the beta builds of High Sierra so I'll keep an eye out for it. For now, I'll close this issue. If you see the flakiness again please open another issue for it.

[2017-11-07 23:22] #406 closed

[2017-11-08 01:56] tannewt commented on #324
This is done.

[2017-11-08 01:56] #324 closed

[2017-11-08 01:57] tannewt commented on #259
I2C support was added with 7292984204e7ac28a5b69c23930ff7b8be003faf

[2017-11-08 07:00] #383 closed

[2017-11-08 07:57] hukuzatuna commented on #401
I can't get to the REPL at all now. With Putty I can't open a serial connection to the COM port. I'm going to open a new issue with that problem. I will leave this one open since I don't know if the abovementioned USB issue has fixed this one.

[2017-11-08 08:05] hukuzatuna opened #422 "2017-11-08 3.0beta build - no REPL or mass storage mount"
I rebuilt the firmware tonight and flashed my Metro M4 Express. Now I cannot get Putty to open a serial connection to the COM port (I get an "Unable to open connection to COM50 Cannot open serial port" error). Also, CIRCUITPY does not appear when the M4 is connected. This behavior is the same regardless of which USB port I use or whether I connect to a USB hub. Rebooting the laptop doesn't change

[2017-11-08 14:32] jerryneedell opened #423 "corrupted file system when exceeding capacity on 3.0 - M4"
I ran into an issue last night when I mistakenly tried to load the whole bundle lib/ onto my Metro-M4 with the current master 3.0 build.  There was not enough room, but I did not receive any "out of space" errors. instead, the FS became corrupted and would only mount as read-only. Several files were clearly corrupte (truncated). I eventually erased the whole flash and restored it with only the nec

[2017-11-08 14:58] mrmcwethy commented on #364
all bundle libraries now use readinto instead of read_into

[2017-11-08 16:26] dhalbert commented on #422
I also see this problem on Windows 10, and a similar problem on Windows 7.
Some testing data with a Metro M4 on various commits. Note that I have a slow Windows 10 box running Windows Insider build 17025. I had to press F5 in the Explorer window to get Windows to update the list of disk drives promptly.

* 1893669: just before Python-generated USB descriptors.
CIRCUITPY drive D:, REPL OK.
* 4aeef1

[2017-11-08 22:37] zaforic opened #428 "Add smartconfig capability for esp8266"
Add smartconfig capability to micropython for esp8266

Create smartconfig python wrapper. An old example is at https://github.com/mianos/micropython/blob/master/esp8266/mod_esp_smartconfig.c

Add the following:
{ MP_ROM_QSTR(MP_QSTR_smartconfig), MP_ROM_PTR(&mp_module_esp_smartconfig) },

[2017-11-09 02:11] #312 closed

[2017-11-09 04:38] #422 closed

[2017-11-09 21:08] caternuson opened #429 "time.sleep() truncates to 0"
This shows the behavior which occurs near max resolution:
[code]
And some key bits of code are here:
https://github.com/adafruit/circuitpython/blob/master/shared-bindings/time/__init__.c#L76
which calls here:
https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/common-hal/time/__init__.c#L37
with an implicit cast from `float` to `uint32_t` occurring in the process which results i

[2017-11-10 18:12] ladyada opened #432 "merged conflict from WIP -< master branch?"
https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/spi_flash.c#L31

im surprised it builds :D

[2017-11-10 18:32] dhalbert commented on #432
That's from a couple of months ago! But we aren't building spi_flash.c yet on master, so no one ever tried to compile it!

[2017-11-11 15:04] jerryneedell opened #433 "conflict between D0/D1 and USB for M4 with CP 3.0"
This is more of a curiosity... I hope it makes sense.

Basic synopsis is that swapping the pins on a serial connection to an M4 running CP 3.0 causes the USB port to freeze and disconnect. Note that there is no UART support in CP3.0 at this time.

The full story:

I was trying out the new GPS library. It works fine in my Metro-M0 with CP 2.x.  I mistakenly tried it on the Metro-M4 with CP 3.0 and

[2017-11-12 03:21] fmorton commented on #345
I submitted a pull request for one converted example and added a new one in the process. Glad to do more if you would like.

[2017-11-12 14:11] mrmcwethy commented on #323
@Andon-A are you still working on this issue?

[2017-11-12 14:56] Andon-A commented on #323
@mrmcwethy Yes, I just haven't had a lot of spare time to actually build it and put it on the adalogger to make sure I didn't screw up.

[2017-11-13 02:31] ladyada opened #436 "Feather 52 2.0.1 bootload zip corrupted"
https://github.com/adafruit/circuitpython/blob/master/ports/nrf/boards/feather52/bootloader/feather52_bootloader_2.0.1_s132_single.zip

doesnt open?

[2017-11-13 05:11] microbuilder commented on #436
I had issues with this as well, not sure what's up but I'll get a new one generated and uploaded.

[2017-11-13 05:13] microbuilder commented on #436
Here's a file that you can replace with as a temp workaround.

[feather52_bootloader_2.0.1_s132_single.zip](https://github.com/adafruit/circuitpython/files/1465664/feather52_bootloader_2.0.1_s132_single.zip)

[2017-11-13 17:48] mik00 opened #437 "i2c SLAVE"
One of the useful features of the Feather (and it's ilk) is that it can be used as one of many I2C slaves.   It would be cool if the i2c drivers covered that case.

Thankyou for all the excellent, and hard work you have put into supporting CP.

[2017-11-14 06:35] eighthree opened #438 "HID Gamepad Core Support for 3.x"
Hi folks! I'm currently using a feather m0 and a joy featherwing as a HID Keyboard device for a RetroPie build and would love to have HID Gamepad support for 3.0 :)

Would love to help test this as well.

[2017-11-14 15:50] tannewt commented on #432
Yup, I realized I missed this but figured it'd get fixed when we start including it again in the build.

[2017-11-14 15:51] tannewt commented on #437
I'm going to mark this long term. We'll have to figure out a sane API for it. We're trying to avoid requiring knowledge of concurrency which could make acting as an I2C slave a bit challenging.

[2017-11-14 15:57] tannewt commented on #429
I don't think this is an issue. We cannot guarantee timings from Python, especially short ones like this, because the VM is slow and work (like USB) happens between VM steps. This truncation is a combination of both sleep being short and `monotonic`'s millisecond resolution. There is no way its actually taking no time.

Please reopen if there is a reason you need this fine timing.

[2017-11-14 15:57] #429 closed

[2017-11-14 16:02] tannewt commented on #364
Thanks @mrmcwethy!

[2017-11-14 16:02] #364 closed

[2017-11-14 16:16] dhalbert commented on #429
(@caternuson and I had a chat in #circuitpython about this last week).

We could, though, at least round to the nearest millisecond. The problem is the truncation: `0.001` as a CPy float is slightly less than 0.001 in decimal, and gets truncated to 0 milliseconds. `time.sleep(0.001)` will not sleep at all; `time.sleep(0.001000001)` will sleep for 1 millisecond. And `time.sleep(0.1)` will sleep for

[2017-11-14 16:41] tannewt commented on #429
I'm not convinced we can provide millisecond accurate sleeps anyway because
of interrupts and other background work like mass storage. Rounding isn't
important when we can't measure it accurately enough anyways.

We could introduce a `precisetime` module for more accurate sleeps but I'm
not sure we need it.

On Tue, Nov 14, 2017 at 8:16 AM Dan Halbert <notifications@github.com>
wrote:

[2017-11-14 16:59] caternuson commented on #429
From my point of view this isn't an issue due to a need for precise / accurate timing, like for bit banging some protocol. It's more of getting an unexpected behavior due to the truncation. For example, consider this very simple averaging of some sensor reading:
[code]
I'd expect that to average over ~20ms, but instead it will be much less since the `time.sleep()` is effectively 0.

I also don't (

[2017-11-14 17:27] tannewt commented on #429
I don't think time.sleep(0.001) will be effectively 0. Have you tried
measuring it with a saleae and setting a pin? That may be more reliable
than monotonic.

On Tue, Nov 14, 2017 at 8:59 AM Carter Nelson <notifications@github.com>
wrote:

[2017-11-14 17:52] caternuson commented on #429
Tester func:
[code]
Result from REPL:
[code]

[2017-11-14 17:54] Anton-2 commented on #437
A few days ago, I was sure that I needed I2C Slave on a trinket M0.
Then I discovered the current state of ASF4, and the on going migration of CP to it, and decided that I could do without...

I was thinking of a very simple API : expose a bytearray as a small memory device thu I2C.
The master could read/write bytes on it, and CP would provide (soft) callbacks to know when something was read or wr

[2017-11-14 18:07] tannewt commented on #437
@Anton-2 I like that API!

[2017-11-14 18:22] mik00 commented on #437
Hi Antonin,

I'm sure that would have been just fine for my needs.

I was trying to overcome three problems:

   1. limited pins on the main controller board;
   2. finding off-the-shelf device-specific i2c driver boards that can be
   configured to a very large bus address range;
   3. lower cost.

For an app that needs to drive dozens, if not hundreds of simple
asynchronous devices, your solutio

[2017-11-14 18:25] dhalbert commented on #429
@caternuson Try it with `toggler(0.00101, 20)` and I think that will show the difference.

[2017-11-14 18:29] dhalbert commented on #429
The line mentioned above (https://github.com/adafruit/circuitpython/blob/master/shared-bindings/time/__init__.c#L76) is:
[code]
`seconds` is a float. If it's slightly less than 0.001 decimal, then the result of the multiplication will be <1. `common_hal_time_delay_ms()` takes a uint32_t. The implied cast will truncate 0.999... to 0.

[2017-11-14 18:34] caternuson commented on #429
[code]
![saleae_t00101](https://user-images.githubusercontent.com/8755041/32797661-555de358-c927-11e7-9a80-d2c7a4e136a5.png)

[2017-11-15 21:34] caternuson commented on #338
Work in progress lives here:
https://github.com/caternuson/Adafruit_CircuitPython_BusDevice/blob/master/adafruit_bus_device/onewire_device.py

[2017-11-15 21:44] caternuson commented on #338
Some questions:
- Since this just bit bangs a digital port, not sure what the set up and tear down should be for the context manager. Currently, there is nothing.
- This is a simple modification from the [previous code](https://github.com/adafruit/Adafruit_CircuitPython_OneWire) which wasn't really designed with the concept of representing a 'device'. Should the constructor also take in the device

[2017-11-16 00:53] BitKnitting opened #439 "Add support for Feather/FeatherWings w/ RFM95 LoRa"
Feature request:
Awesome: send / receive RFM69 and RFM95 LoRa.
OK: send/receive RFM95 LoRa
Minimum: Support for ISRs so a person can build a library.
CircuitPython is awesome.  Sadly, the Huzzah is the only Feather who can fly.  This is ironic, since the simplicity of the RFM96 and RFM69 make it ideal for the beginner who wants to add wireless to their project.  For example, the good 'ol "You've G

[2017-11-16 01:50] siddacious commented on #439
RMF97/69 support would be cool but ISRs in general would be great to have.

If they're not currently supported, this page is slightly misleading: [ISR page on readthedocs](http://circuitpython.readthedocs.io/en/2.x/docs/reference/isr_rules.html)

I'm guessing that it's automatically rendered from micropython code that isn't used but that certainly isn't clear if thats the case.

[2017-11-16 18:07] tannewt commented on #439
Why do we need ISRs as opposed to polling? Concurrency such as ISRs is complex.

@siddacious I agree we should remove that ISR doc page.

[2017-11-16 18:14] tannewt commented on #338
I think the context manager should manage one transaction. I believe in one wire that involves a scan to find the device first and nothing at the end.

It would be awesome if it represented one device. Anything not device specific can be top level functions.

I'd probably condense the read and write methods a bit to always operate on byte arrays.

[2017-11-16 20:01] Mantic opened #442 "Missing uPy "sys.maxsize""
CircuitPython is missing "sys.maxsize" from the micropython libraries, as mentioned here: https://forums.adafruit.com/viewtopic.php?f=60&t=126615

[2017-11-17 05:27] siddacious commented on #439
My thought was that ISRs would free up some resources from polling, though honestly I don't know what resources those would be. Clock cycles? Maybe that's not an issue.

I suppose my thought was that CP should be able to do the normal MCU things that Arduino and others can and that people willing to pay the complexity cost would do so. Then again I don't know how much people would want use it or w

[2017-11-17 05:31] tannewt commented on #439
Yeah, I don't want to assume our primary audience is people with existing Arduino and microcontroller experience. Instead, I want to approach it from a blank slate perspective and there isn't an easy to understand way of doing concurrency.

One thing mark shannon and I were kicking around was a way of doing an event loop where you can polling for a number of separate events simultaneously.

[2017-11-17 17:24] caternuson commented on #338
The scan would be top level. Once that's done, you'd have the known addresses for what's on the bus and could then create specific devices using those addresses.

All that would be needed for a transaction is access to the digital pin.

[2017-11-17 17:25] tannewt commented on #338
Sounds good!

On Fri, Nov 17, 2017 at 9:24 AM Carter Nelson <notifications@github.com>
wrote:

[2017-11-17 19:29] caternuson commented on #338
Where do you think these top level functions, like scan, should live?

Documenting some usages:
### Case 1
[code]
This would require the DS18X20 class to scan the bus and pick one (the first?) to use.
### Case 2:
[code]
A scan would not be required since the address is supplied. However, since the addresses are unique to every device, even of the same type, some form of a scan would be needed to d

[2017-11-17 21:44] kattni commented on #156
For anyone who is using the test code in this issue, be aware that we identified a necessary change. The `frequency` must be at least 16000 to work with the mic. Overall frequency must be at least 1MHz, and it is determined by multiplying `oversample` and `frequency`. The default for `oversample` is 64. It is possible this issue will be resolved in the future, but as it is, this change may fix iss

[2017-11-17 22:01] kattni opened #446 "Update audiobusio.PDMIn to run clock constantly"
A number of the Circuit Playground Express boards have an onboard mic that, based on software reesearch, takes longer to initialise than others. (I specify software research to clarify that I did not determine this with a logic analyser or other hardware-specific testing.) This results in failure when trying to run code that uses a small buffer to record as there is no data being returned. This ca

[2017-11-17 23:13] kattni opened #447 "M4 status LED flashing with no main.py present"
The status NeoPixel flashes an error code when no `main.py` is present on the board. It flashes blue for ~0.5s, yellow for ~0.5s, and then it quickly flashes some more yellow potentially followed by cyan. It is similar to the type of sequence that usually indicates the line on which an error is located in `main.py`.

This happens regardless of how `main.py` is removed. I performed an erase and cle

[2017-11-18 01:36] dhalbert opened #448 "Add audiobusio to the Support Matrix in the doc"
http://circuitpython.readthedocs.io/en/2.x/shared-bindings/index.html

[2017-11-18 06:56] tannewt commented on #338
Case 2 and 3. The coder will have to know the address somehow. Its pretty
easy for them to do a scan and select the first address if thats what they
want.

On Fri, Nov 17, 2017 at 11:29 AM Carter Nelson <notifications@github.com>
wrote:

[2017-11-20 06:53] ladyada opened #449 "output circuitpython version string to boot_out"
e.g.
Adafruit CircuitPython 2.1.0 on 2017-10-17; Adafruit CircuitPlayground Express with samd21g18

[2017-11-20 16:59] jerryneedell commented on #447
Interesting - o few observations:
after a power cycle
I am seeing a flashing green pattern when no main.py is present.
Solid green when main.py is present.

however if I have a main.py then remove main.py it goes into  a very colorful  fast flashing sequence when it reboots or after pressing RESET.

It goes back to flashing green if do do a power cycle.

On at lease one occasion it go int a state

[2017-11-20 18:10] tannewt commented on #447
If anyone wants to take a look at this I'd suggest starting here:

https://github.com/adafruit/circuitpython/blob/master/main.c#L161
https://github.com/adafruit/circuitpython/blob/master/supervisor/shared/rgb_led_status.c#L202

[2017-11-20 23:51] mrmcwethy opened #450 "Metro M4 blinkie is way to fast."
I built a 3.x version of circuitpython and found that on my metro M4 the time.sleep() funciton returns way to fast.  About 9 times too fast!  The following code turns the LED on for 1 second and turn it off for 1 second.  I tried the same thing on a metro M0 and the LED stays on for 9 seconds, then off for 9 seconds.  So Metro M4 is returning way too fast and Metro M0 is working as expected.

[cod

[2017-11-21 05:11] #450 closed

[2017-11-21 14:06] mrmcwethy commented on #447
Now that the clock freq is fixed, i compared the behavior of Metro M0 2.x against Metro M4 3.x.  They seem to have the same behavior with respect to the neopixel.  Now the question is what should the neopixel behavior be?

- solid green when running
- solid white when in REPL
- Green-Yellow-Blue-Blue-etc when Press any key to enter the REPL. Use CTRL-D to reload.

[2017-11-21 18:19] tannewt commented on #447
@mrmcwethy when it gets to the "Press any key.." line it should fade green in and out if no error occurred while running main.

Yup, I'm aware the status neopixels are turned off and just haven't gotten to it. Mind taking a look? It should be as simple as uncommenting things in mpconfigport.h IIRC.

[2017-11-21 18:38] mrmcwethy commented on #447
What I am seeing is with *no* main.py file then after a hard reset, the neopixel shows solid White (which means board is in the REPL) and indeed the board is placed in the REPL.  This is what the Metro M0 2.x and the Metro M4 3.x boards do.

The only odd thing is when you rename the main.py to mainX.py (you have to wait quite awhile)  This is where the multiple flashing occurs.  If you open the se

[2017-11-21 18:58] mrmcwethy commented on #447
I updated the Metro M0 Express and Feather M0 Express board to enable Neopixel status light.

[2017-11-21 19:29] siddacious commented on #338
Wouldn't it also hold the 1-wire address class?

[2017-11-21 20:40] caternuson commented on #338
Probably, but I'm now questioning how necessary that is also. Could just keep it as simple as passing the 64bit bytearray around. Even though the bytearray is composed of [CRC][SERIAL NUMBER][FAMILY CODE], you end up using the entire 64bits as an address when communicating on the bus.

[2017-11-21 22:35] jerryneedell opened #454 "No SPI flash on feather_m0_express for 2.x"
I just did a pull for the latest 2.x repository. My build for a feather_m0_express executes REPL, but does not recognize the SPI flash.

[2017-11-21 22:39] jerryneedell commented on #454
never mind - my bad - I forgot that I was using a supersized m0_express - sorry for the false alarm

[2017-11-21 22:39] #454 closed

[2017-11-21 22:44] tannewt commented on #447
@mrmcwethy we should go pulsing green. If we go straight to REPL then we'll turn off the autoreload.

[2017-11-22 00:29] mrmcwethy commented on #447
@tannewt Just to clarify: change circuitpython do that it does not do an auto-reload when there is no main.py?  We should be seeing a blinking Green neopixel.

[2017-11-22 00:30] tannewt commented on #447
No, auto-reload should be enabled and the led fading green in and out.

[2017-11-22 15:07] mrmcwethy commented on #447
I am able to improve the soft reboot case (renaming a file) by "zeroing" out a stack variable right after a declaration.  I don't know if there is a compiler option to zero stack allocations, but after writing code to zero, the Blinking Green is now working.

main.c start_mp()
[code]
Have you had this problem in other circumstances?

[2017-11-22 18:51] mrmcwethy commented on #447
With my changes above, I am seeing a difference in behavior from Ubuntu 16.04 and Windows 10.  On Windows 10 if no main.py exists, you get the blinking Green neopixel.  On Unbuntu, you get the solid White (which means in REPL).  There is some code that checks the serial port for any available.  On Ubuntu, this code I believe is return true, while on Windows 10 I believe its false.  I think we have

[2017-11-22 20:53] dhalbert commented on #447
https://learn.adafruit.com/debugging-the-samd21-with-gdb (by @tannewt )

[2017-11-22 23:53] microbuilder commented on #447
There are some further tips on debugging via GDB here, even though this particular page is aimed at a different platform (Apache Mynewt running on the nRF52): https://learn.adafruit.com/adafruit-nrf52-pro-feather/gdb-debugging ... but the commands are identical across devices. Just as a FYI!

[2017-11-23 00:48] tannewt commented on #447
@mrmcwethy I believe the white pixel on Ubuntu is because of ModemManager trying to talk with it. I disabled ModemManager on my Rosie box.

[2017-11-23 01:44] mrmcwethy commented on #447
@tannewt  Yes, I remove ModemManager and now the board is consistant with Window 10.  If there is no main.py, the board show a slow blinking Green neopixel.  I am going to release my changes and hope to close this issue.

[2017-11-23 11:40] jerryneedell opened #457 "permission error for lib/nrfutil"
after git pull for latest master
git submodule update --init --recursive fails for lib/nrfutil due to a permissions error:

[code]

[2017-11-23 11:50] mrmcwethy commented on #447
Fixed in circuitpython/master

[2017-11-23 11:50] #447 closed

[2017-11-23 12:08] jerryneedell opened #458 "nrf/feather52 build fails"
attempting to build:
 make BOARD=feather52 V=1 SD=s132
 results in:
[code]

[2017-11-23 12:11] mrmcwethy commented on #401
M4 status LED flashing with no main.py present #447 fixed a problem like the original issue.  When you don't have a code.py file, the board should display a slow blinking Green light.    Note the on Linux, I had to remove the ModemManger because that service was sending data to the board.  So on Linux, you may be getting sent to the REPL instead.  With my fix, the REPL should handle ctrl-D as expe

[2017-11-23 12:14] jerryneedell commented on #458
I tried just disabling the warning above but things deteriorate...
results in:
[code]

[2017-11-23 12:21] dhalbert commented on #457
This should be permanent. All submodules should always be https://github.com/...

[2017-11-23 12:23] dhalbert commented on #458
Some file should be doing `#include <stdint.h>` but isn't.

[2017-11-23 12:24] jerryneedell commented on #458
if I clone the repository from https://github.com/microbuilder/circuitpython then the build succeeds.
Perhaps somehting got missed in the commit to adafruit/circuitpython

[2017-11-23 12:35] dhalbert commented on #458
@microbuilder pushed to adafruit/circuitpython instead of his own repo by mistake. He'll revert this and then resubmit as a PR including the fix.

[2017-11-23 12:41] microbuilder commented on #458
The last commit was just reverted, sorry for the trouble.

[2017-11-23 12:41] #458 closed

[2017-11-23 12:42] microbuilder commented on #457
I'll switch to https instead of git@ for the PR. Didn't realize this would cause a permissions error, thanks for the heads up.

[2017-11-23 12:42] #457 closed

[2017-11-23 13:16] jerryneedell commented on #458
Thanks - No problem - I have cloned your repo and it is working - looking forward to having it here as well.

[2017-11-23 17:45] tannewt commented on #457
FYI I changed master's settings to only allow @dhalbert and I to push directly to it. Please ping us if cleanup is needed in the future.

[2017-11-27 04:58] tannewt commented on #338
I'm reluctant to add scan to OneWire because then we'd need to know a bunch more about the protocol. Instead, I think a `OneWireBus` library could provide `scan` but also higher level transfer methods to read and write byte arrays.

I also like the idea of the OneWireAddress with two or three properties, serial number and family code.

[2017-11-27 05:30] Andon-A commented on #317
This is addressed in PR #461 - Marking as closed.

[2017-11-27 05:30] #317 closed

[2017-11-27 05:30] Andon-A commented on #323
This is addressed in PR #461 - Marking as closed.

[2017-11-27 05:30] #323 closed

[2017-11-27 05:40] Andon-A commented on #184
This would be super-useful in a few of the examples that I am planning for #345

[2017-11-27 05:50] Andon-A opened #462 "Add manner for grabbing unique Board ID/Serial Number"
Pulling a unique ID would be useful for an example I have in mind for #345 and @tannewt mentioned in Discord that a Serial Number was pulled for the USB code and that it may be able to be added somewhere.

Personal preference is `board.id()` but putting it in `os` along with `os.uname()` would make sense as well. Perhaps even more sense from a programming standpoint since that's where you get othe

[2017-11-27 15:48] jadudm opened #463 "Circuit Playground Express reports NO NAME after flash"
Hi team,

I have a Playground Express purchased... in August, I think (in case that makes a difference). This is on a Mac running 10.12.6. The USB cable works with Micro:Bits, and appears to work with the CPE.

My process:

1. Double-click to get into bootloader mode. The CPE appears as CPLAYBOOT, as expected.
2. I have pulled the current UF2 file from the tutorial, and drag it onto the CPE. This

[2017-11-27 15:54] deshipu commented on #463
Hi, have you tried this fix? https://circuitpython.readthedocs.io/en/latest/docs/troubleshooting.html#file-system-issues

[2017-11-27 16:12] jadudm commented on #463
I had not been able to find that documentation. It fixed the CPE; thank you.

I will mark this closed, and find somewhere in the documentation where I think this should be mentioned. Then, I'll fork, branch, edit, merge trunk, and make a pull request against that documentation edit from my branch. I'm assuming it will be in one or two places in the CPE tutorials that this would be good to mention.

[2017-11-27 16:12] #463 closed

[2017-11-27 16:20] deshipu commented on #463
Don't worry, I had problems finding it myself. I think part of the problem is that it's only in the latest documentation, and not in the "stable" one.

[2017-11-27 17:02] caternuson commented on #338
My issue with the OneWireAddress class is that since CircuitPython doesn't support long integers, the 48 bit serial number will just be another byte array. And since the CRC and family code are only 1 byte, they can just be accessed easily and directly from the full byte array, ex: address[7] or address[0]. I think all a OneWireAddress class would do is provide a pretty syntax, ex: address.CRC vs.

[2017-11-27 17:49] tannewt commented on #338
"Pretty syntax" is exactly why I think address is OK. Its way easier to discover `address.family` than `address[0]`.

Neither of the last two actually need to import `adafruit_onewirebus` because they can access the objects passed in even if they don't know about the type itself. I think you are thinking this because C expects to know the type of everything.

In Python, you can just pretend its a

[2017-11-27 17:50] tannewt commented on #463
@jadudm If you find a spot it should go in an Adafruit learn guide feel free to ping me. They are not on github.

[2017-11-27 22:02] deshipu opened #464 "Metro M4: SPI baudrate setting results in wrong clock frequency"
I just tested the ``busio.SPI`` on the M4, and it works with my display, however, there is a minor issue:

I noticed that the clock frequency doesn't match the ``baudrate`` setting. At 48MHz, 32MHz and 24MHz I get a 12MHz clock (as measured with a logic analyzer), and at 12MHz I get 8MHz. At 8MHz baudrate I get 6MHz clock, and so on.

[2017-11-27 22:31] deshipu commented on #437
@tannewt I think we can avoid concurrency with the slave if we make a blocking method that simply waits for the start condition and the address on the bus. Then you can execute the rest of your loop, read/write all the data you need, and go back to waiting for a command. The clock is stretched while your code runs, of course. I have done something like this on an attiny (where I needed to avoid in

[2017-11-27 22:47] deshipu commented on #437
An example program could look like this:

[code]
Explanation:

First we define which bus we want to use as the slave, and some helper variables. Then in an infinite loop, we wait for a start condition and one of two addresses (we could have any number of them), with an optional timeout. Once there comes a request, we can process it. A request would have a flag telling if it's a write or read reque

[2017-11-27 23:04] dhalbert commented on #464
Thanks - there could easily be a clocking error. Is this at or after commit 6f662e9bbccff2, which changed some clock calcuations? Do you have an M0 board you could test 3.0 SPI on as well, for clock speed?

[2017-11-27 23:05] deshipu commented on #464
After, I can see that commit in my git log.

[2017-11-27 23:05] deshipu commented on #464
I will test on an M0.

[2017-11-27 23:15] deshipu commented on #464
Exactly the same results on a Feather M0 Express: I can set the baudrate up to 48MHz, but the resulting clock is only 12MHz.

[2017-11-27 23:18] dhalbert commented on #464
And it's wrong on M0 too? 12 MHz is 8 MHz, 8 is 6, etc.?

[2017-11-27 23:18] deshipu commented on #464
Yes, exactly the same numbers.

[2017-11-27 23:55] dhalbert commented on #464
Interestingly, with CircuitPython 2.1 I am seeing clock rates that are too high: setting to 6 MHz yields about 8 MHz. 8MHz yields about 12Mhz.

[2017-11-28 04:44] stewmystre opened #466 "SD Card unmount or remount fails on Adalogger M0"
When the SD card has been mounted and is then removed with power still applied, it remains listed when calling `os.listdir('/')` (as byte string refer #249)

-  a subsequent call to `storage.umount()` parsing either the file system object [vfs where vfs = storage.VfsFat(sd_card)] or the path [str where str = '/sd'] fails with OSError: 22

- waiting until the card has been reinserted and a subseque

[2017-11-28 18:16] tannewt commented on #437
@deshipu I like that! Now we need someone to implement it. ;-)

[2017-11-28 18:36] mik00 commented on #437
Radomir,

I was in a hurry, and so I reverted to C to solve my immediate problem.
However, for the record, an implementation per your spec. would have been
entirely good enough for my needs.  If someone implements it "Yay!".  But
insert your design rationale prominently so followers can make an early
trade-off, and be grateful to you for your expertise.  The value of the
honest phrase, "We can't d

[2017-11-28 20:54] ladyada commented on #290
oof we have to issues for this, other one is here!
https://github.com/adafruit/circuitpython/issues/411

[2017-11-28 20:55] ladyada commented on #284
hiya this was done by @tdicola
https://learn.adafruit.com/adafruit-ultimate-gps/circuitpython-parsing
huzzah!

[2017-11-28 20:55] #284 closed

[2017-11-28 21:56] dhalbert commented on #464
I figured out what is going on here. The SPI clock rate is determined by a clock going into the SERCOM and by the value of an 8-bit countdown register (the BAUD register). The formula for calculating the value of the register is:

`baudreg_value = int(f_clock / (2 * spi_clock_freq)) + 0.5)`

The choice of clock frequency determines min and max values of `spi_clock_freq`, and the steps between the

[2017-11-28 23:11] dglaude commented on #290
I have not started working on the APDS9960 driver for circuit python...
So if anybody feel like doing it, please do.
I'll report here if I find more time and energy for that project.
Regards

[2017-11-28 23:12] deshipu commented on #464
I wonder if it would make sense to have a constant in the busio module specifying the maximum clock speed on the specific board?

[2017-11-29 00:18] dhalbert commented on #259
SPI non-DMA added by #443.

[2017-11-29 17:11] stewmystre commented on #466
If you delete the `adafruit_sdcard.SDCARD()` object associated with the filesystem prior to calling `storage.umount('\sd') the unmount is successful, allowing for a 'new' `adafruit_sdcard.SDCARD()` call and subsequent `storage.mount()` call to occur ...

[2017-11-29 17:26] dhalbert commented on #466
Do you mean that you do `del the_sdcard_object`?

[2017-11-29 18:27] stewmystre commented on #466
Code snippets for failure 1:
[code]
Code snippets for failure 2:
[code]

Other combinations also resulted in failure
Calling the unmount function after deleting of the sdcard works
[code]

[2017-12-01 02:49] caternuson commented on #338
Take a look at latest when you get a chance. I created a new repo for the working code:
https://github.com/caternuson/OneWire-Stuff
This will all probably live in different libraries when done but helps to have in one place for now. Copy all three files over and should be able to run the basic demo:
[code]

[2017-12-01 15:38] stewmystre commented on #432
This issue is resolved as of pull request #465, it can be closed.

[2017-12-01 16:01] #432 closed

[2017-12-01 16:05] dhalbert commented on #432
@stewmystre thanks for pointing this out!

[2017-12-01 17:32] caternuson commented on #296
Looks like @tdicola took care of it:
https://github.com/adafruit/Adafruit_CircuitPython_TCS34725

[2017-12-01 17:32] #296 closed

[2017-12-01 17:37] caternuson commented on #285
just adding ref:
https://github.com/adafruit/Adafruit_CircuitPython_BMP280

[2017-12-01 19:27] tannewt commented on #338
As we talked about on [Discord](https://adafru.it/discord), it'd be good to:

- [ ] Remove _crc, _family_code and _serial_number from the address class in favor of reading it directly from rom in each property.
- [ ] Only expose write and readinto outside of onewirebus.

[2017-12-02 13:08] violentlyhappi commented on #308
I'm a newbie with this board. How do you hard reset it? I keep getting a file storage issue and I only have the main.py, lib folder (which is empty), and boot_out.txt. Thanks!

[2017-12-02 13:37] dhalbert commented on #308
@violentlyhappi If you have drive issues, see this link for how to reset the CIRCUITPY filesystem: https://learn.adafruit.com/adafruit-circuit-playground-express/troubleshooting#circuitpy-drive-issues

These GitHub issues are more for bugs and feature requests. For support, post in the support forums: https://forums.adafruit.com, or see the #circuitpython channel on our chat server: https://adafru

[2017-12-03 22:44] stewmystre opened #469 "CircuitPython core crashes after a try except catches an OSError: no SD card"
After a try except catches an 'OSError: no SD card' the next attempt to create an Adafruit_sdcard.SDCARD
with an actual SD card present results in a CircuitPython core crash and subsequent boot into safe mode.

[2017-12-04 12:20] deshipu opened #470 "Clicks and buzzing with audioio.AudioOut"
I just tried to make the first game with sound for µGame, and I'm struggling with it a little. I worked around a number of problems, but I'm still left with two issues when playing `.wav` files with `AudioOut`:
- There are loud clicks at the beginning and at the end of the samples. As I understand, those come from the sound file not starting/ending with a neutral value (middle of the range), and I

[2017-12-04 12:37] BillyDonahue commented on #280
Using cpx 2.1.0, I have the same problem very reproducible with multiple units. In my case the fs is wiped reliably by loosening and wiggling the Lipo battery connector to produce an intermittent contact.

[2017-12-04 12:37] deshipu commented on #470
I got rid of the clicks, but I still can't figure out the problem with the buzzing. It seems like the last few samples are stuck playing at the end.

[2017-12-04 12:40] deshipu commented on #470
I fugured out the buzzing. Seems like the files that sfxr generates are truncated.

[2017-12-04 16:45] deshipu commented on #280
I had the same problem with a feather m0 express once, when I didn't remove the USB plug all the way.
I wonder if it could be a quicker and more convenient way of erasing flash than having to flash a special firmware for it.

[2017-12-04 20:11] sKr0d commented on #439
I would like to +1 support for RFM69.  I have a lot of projects using RFM69 on Arduino code, and would love to see some wings on my Feather M0 RFM69HCW!!   I'm not a driver coder, but I understand Python and could contribute to testing, since I have a bunch of RFM69 boards and some projects.

[2017-12-05 00:10] tannewt commented on #350
I'm going to pick this up for 2.x. We want the ability to reset to the bootloader so I'll cover this at the same time.

Adding the ability to reset to the bootloader next reset press means we can provide the same out-of-box experience to the CircuitPlayground Express even though it'll ship with CircuitPython going forwards. We'll ship with demo code that make subsequent resets go to the bootloader

[2017-12-05 19:18] tannewt commented on #470
@deshipu can this be closed? It seems like you fixed it by changing the audio files.

[2017-12-05 19:33] dhalbert opened #472 "Improve bitbangio.SPI to have same API as busio.SPI"
`bitbangio.SPI` is missing `write_readinto()` (bitdirectional SPI) and also doesn't have the optional buffer slicing `start` and `end` arguments. Implement these to make it have the same API as `busio.SPI`.

[2017-12-05 19:35] deshipu commented on #470
Yes, I fixed my issues, however, I still plan to look at the `audioio` code to see if it could be made more robust. I'm not sure if some sort of smoothing between the last sample and next sample is feasible, but I think I can definitely handle the truncated files better.

[2017-12-05 22:23] tannewt commented on #184
You mean to reload the program right? A reset would do a fully reinitialization of the microcontroller and stop USB when available.

[2017-12-05 22:42] deshipu commented on #184
I mean the same thing that ctrl+d does in REPL.

[2017-12-05 22:50] tannewt commented on #184
OK, I call that reload.

The tricky part here is that we want to exit the existing code and immediately re-run it. Normally, we'd go into our wait state with the status led fading in and out.

[2017-12-06 00:21] dhalbert commented on #310
Implemented by #471 (samd) and #473 (esp8266).

[2017-12-06 00:21] #310 closed

[2017-12-06 00:28] tannewt commented on #350
This is fixed in 2.x and will be merged into master soon.

[2017-12-06 00:28] #350 closed

[2017-12-06 03:11] caternuson commented on #338
Done and somewhat done, scan() and reset() are still exposed. Need scan() to find devices. Need reset() to select rom.

Take a look. Same repo as above.

[2017-12-06 18:03] tannewt commented on #338
Looks really good! Want to cookiecutter it and PR it to https://github.com/adafruit/Adafruit_CircuitPython_OneWire? I think both bus and device can go there.

Can you make a new repo for the ds18x20 or do I need to?

[2017-12-06 18:18] caternuson commented on #338
Cool. Yah, I'll cookiecutter / PR the onewire stuff.

Please create a seed repo for the ds18x20 stuff. I'll PR into that.

[2017-12-06 18:20] tannewt commented on #338
Awesome! Done here: https://github.com/adafruit/Adafruit_CircuitPython_DS18x20

Beware that pylint will be a bit picky with your code. Install instructions are here: https://www.pylint.org/#install After its installed, its `pylint <python file>` to run.

[2017-12-07 22:54] tannewt opened #475 "Lint all the libraries!"
I'm going through and updating the libraries to our new build process and to turn on lint. Here is the process:

1. Copy `.pylintrc` from the cookiecutter repo into the new repo.
2. Add this to `.gitignore`
[code]
3. Copy .travis.yml from cookiecutter into the repo overwriting the old version.
4. Update lines 1 and 3 of the `script` section of `.travis.yml` to reflect the driver name.
5. Add this

[2017-12-07 23:57] tannewt commented on #475
Background on the lint configs is available here: https://github.com/adafruit/cookiecutter-adafruit-circuitpython/pull/6

[2017-12-08 14:02] mrmcwethy commented on #475
I will start with MAX7219

[2017-12-09 18:21] sommersoft commented on #462
Looking to jump into contributing on this one. But, as this would be my first on this MASSIVE project, I have a couple questions.

1. Which branch would be the best to reference & fork? I know the updates since asf4 have changed a few things, so don't want to start on outdated footing. I'm assuming `master`, but we all know what happens when I assume.

2. Are we looking at SAMD21 only, or for all

[2017-12-09 18:28] mrmcwethy commented on #475
I added AdaFruit_CircuitPython_DHT to list and then converted it.

[2017-12-09 18:42] dhalbert commented on #462
Thanks for looking at this! `microcontroller` would be a good place to put a read-only attribute, returned as `bytes`, probably. Work on the master branch. We’d want SAMD21 and ‘51.  If ESP8266 and nRF have a similar uid, they should be supported too

[2017-12-09 22:52] mrmcwethy commented on #475
I may have lost changes by ladyada and katni.  changed your comment for this issue to added a PRs ready for review category.  Also tried to reinstate PRs Complete category.

[2017-12-10 03:11] Andon-A commented on #462
Personally, I'd prefer it returning the four words as a list.

I would also say that `microcontroller` would be a decent spot to put such a function return, but `os` does already return some board and microcontroller information, IE `os.uname()`

[2017-12-10 03:57] sommersoft commented on #462
I agree that the outside call would be best in `os.uname()`.

As I've gotten further into this, the first hurdle is getting NVM functions (`read` at least) working. I didn't realize it wasn't working yet...know before you go! haha. It seems that that the few people who were interested in the NVM to this point, wanted the EEPROM simulator...and have been mostly unsuccessful.

[2017-12-10 04:09] dhalbert commented on #462
`os.uname()` returns this:

Regular CPython returns something like:
`posix.uname_result(sysname='Linux', nodename='salmonx', release='4.10.0-42-generic', version='#46~16.04.1-Ubuntu SMP Mon Dec 4 15:57:59 UTC 2017', machine='x86_64')`
`machine` designates the type of machine, not something unique.

Our general philosophy is to match the regular Python's libraries as much as we can, without enhanci

[2017-12-10 04:10] dhalbert commented on #462
It's implemented only on the Express boards right now due to space considerations.

[2017-12-10 05:39] Andon-A commented on #462
@sommersoft I was thinking more of an `os.id()` than tacking it on to `os.uname()`

[2017-12-10 05:58] sommersoft commented on #462
Yeah, `uuid` (MAC and other unique id's) doesn't really fit this case either, and definitely wouldn't be recursive. `microcontroller.cpu.uid` sounds like the best option, all things considered.

Well, now I have a reason to buy a CPX. Now that they're out of stock, of course. Until then I'll see what kind of juice I can squeeze out of the Trinket M0. If any. Still a ways off before running anythin

[2017-12-10 06:03] Andon-A commented on #462
A Feather M0 Express would also work.

For the ESP8266, I think writing it as an `int` to all four positions on a list would work to allow anything that cares about such things to pull it. No, pulling the same thing four times isn't going to give the same results as an actual SN that's four different ints, but it would let the code work at least.

[2017-12-10 13:45] dhalbert commented on #462
@Andon-A

What do you think your use cases would be for the UID? The basic integer type is 31 bits (including sign bit). Only some CircuitPython impls are going to provide long ints due to code space issues. So just a lis of integers won't always work. Would an `array.array('L')` work for you?

[2017-12-10 17:52] tannewt commented on #462
I'd prefer the ID be `bytes` because its immutable. Its also very similar to a list of ints which are 0-255 each. Its a sequence so you can do indexing and such.

[2017-12-10 21:37] Andon-A commented on #462
@dhalbert To be extremely specific, what I intend on doing is making an example for how Python can be modified without the need to recompile. To accomplish this, I wanted to have a way to have the device create a program unique to it, using the device ID. I would prefer a device ID call that returned the same data type and size regardless of MC

[2017-12-10 22:58] sommersoft commented on #462
As far as I can tell through digging in each boards' structures so far, the ESP8266 is the only one that currently even handles a `uid` (in `modmachine.c`):
[code]
As you can see, they set it up as a QSTR, so is stored as `bytes` in that impl. I think that's right; I'm still figuring out the data structures and CPy intricacies. I'm still hunting to see if the `machine_unique_id_obj` is even popula

[2017-12-11 19:06] ladyada opened #476 "round() returns 0 always?"
@jedgarpark noticed this!

[code]

!?

[2017-12-11 19:07] kattni commented on #476
He's still using 2.1, and the fix is in the newer unreleased version of CircuitPython.

[2017-12-11 19:07] ladyada commented on #476
oops - ok thx! whee :)

[2017-12-11 19:07] #476 closed

[2017-12-11 19:08] jedgarpark commented on #476
I mean no harm. ;)

[2017-12-12 00:33] tannewt commented on #476
For the record, I'd much rather have issues like this than have people not
file issues that haven't been fixed. So good work everyone!

On Mon, Dec 11, 2017 at 11:08 AM John Edgar Park <notifications@github.com>
wrote:

[2017-12-12 00:43] tannewt commented on #462
@sommersoft thank you for the hugely informative post! Could you explain how the `nvm` module fits into your plans? I was thinking the uid would be accessible from `microcontroller` instead.

The uid is scattered around memory on the SAMDs. The USB code uses it [here](https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/supervisor/serial.c#L34).

[2017-12-12 05:50] sommersoft commented on #462
Ok..so that was part of my fear with that giant post. Info got a little fragmented. I'll see if I can give a clean explanation of where I THINK I am. (Found one mistake from yesterday. I was looking at the SAM_**G**_51 datasheet. So that info is garbage; I will correct it. SAMD51 `uid` is identical to SAMD21...just @ different addresses.)
___________________________________________________________

[2017-12-12 13:46] dhalbert commented on #462
@sommersoft Thanks for doing all that research! The USB code does read the values, 4 bits at a time, on this line: https://github.com/adafruit/circuitpython/blob/b31c2ea7480a816bd909f841972f228d09242821/ports/atmel-samd/supervisor/serial.c#L49.

You don't need the `nvm` module for this. That module is written specifically to provide a small EEPROM-like space to store persistent data. It isn't mean

[2017-12-12 14:52] mrmcwethy commented on #475
I as working on Char_LCD and RGB_Display

[2017-12-12 15:20] sommersoft commented on #462
So, this would be some of my inexperience showing with "foundational" C & MCU programming. After looking back without my biases, I see what you're saying.

`uint32_t* addresses[4] = {(uint32_t *) 0x0080A00C, (uint32_t *) 0x0080A040...` is assigning pointers the ACTUAL memory, not simply assigning the locations. That's what was tripping me up, since you would never do that in more computer-os based

[2017-12-12 16:24] siddacious commented on #439
@tannewt I was pointed to the ISR doc page and can remove it; should I create a new issue for cleaning up it and similar docs?

[2017-12-12 18:19] IeiuniumLux opened #478 "Support of the Feather M0 WiFi ATSAMD21 + ATWINC1500"
Circuitpython lists Arduino Zero as a supported board, can it also be installed on the Feather M0 WiFi ATSAMD21 + ATWINC1500 (product ID: [3010](https://www.adafruit.com/product/3010))?

[2017-12-12 18:23] jerryneedell commented on #478
Yes, but it will be treated as a Feather M0 Basic. There is no support for the Wifi at this time.

[2017-12-12 18:30] IeiuniumLux commented on #478
OpenMV also uses the [WINC](https://openmv.io/collections/shields/products/wifi-shield) chip, will it possible to contribute that [code](https://github.com/openmv/openmv/blob/9cc209d128fd9c7a6650c53e34816c8940af0f5b/src/omv/py/py_winc.c) to Circuitpython?

[2017-12-12 20:04] #478 closed

[2017-12-12 22:32] tannewt commented on #478
@IeiuniumLux it'd be possible to port but its not a focus of ours. Let me know if you are interested in trying to port it and I can give pointers on how our structure is different. Thanks!

[2017-12-12 22:47] IeiuniumLux commented on #478
Sure, I can give it a try since I have one of the Feather M0 with the ATWINC1500 WiFi module.  I'll send send a push request when I have something for you to review.

[2017-12-12 22:50] tannewt commented on #478
@IeiuniumLux Awesome! Feel free to send it early to make sure you are on the right track. I'm regularly on our Discord chat too if you have questions. Link to join is: https://adafru.it/discord

[2017-12-12 22:51] tannewt commented on #439
New issue would be great!

On Tue, Dec 12, 2017 at 8:24 AM bsiepert <notifications@github.com> wrote:

[2017-12-13 16:34] mrmcwethy commented on #475
I am starting on pylint of SD

[2017-12-13 22:03] mrmcwethy commented on #475
I am picking up SimpleIO.

[2017-12-14 00:45] caternuson opened #480 "Underscore for last expression is not working"
Enabled in MicroPython via MICROPY_CAN_OVERRIDE_BUILTINS flag.

But in CP:
[code]

[2017-12-14 14:18] mrmcwethy commented on #475
i also did wavefrom

[2017-12-14 15:50] dhalbert commented on #388
Fixed by #479.

[2017-12-14 15:50] #388 closed

[2017-12-14 16:06] dhalbert commented on #442
It's turned on in the Express boards builds, but not for Gemma M0, Trinket M0, and Feather M0 basic builds. It uses 24 bytes. We should turn it on for all builds in 3.0 definitely.

[2017-12-14 16:12] dhalbert commented on #386
I don't have a reliable fix for this yet. I tried adding a delay before reformatting the filesystem (so an immediate powerdown during the delay would avoid reformatting), and also delaying and re-checking when the filesystem seems bad. I can still bobble the JST connector and erase the filesystem.

[2017-12-14 18:02] #243 closed

[2017-12-15 14:02] dhalbert opened #484 "Speed up AnalogIn.value significantly."
@tdicola has measured that `AnalogIn.value` takes about 10msecs per sample, which is very long. Currently it takes 16-bit samples with the 12-bit ADC using the builtin decimation and oversampling. This means it takes 256x the normal time: decimation and oversampling is 4^n.

In addition, there's a clock divisor which is set to 128 and could be set to 32 now, gaining another factor of 4. And finall

[2017-12-15 16:10] dhalbert commented on #484
I changed to prescaler division 32. Using the test program below (a slightly sped up variant of @tdicola's), I get these measurements. The "none" measurement is not using the ADC at all, just returning a fake value immediately from the low-level routine.

bits of resolution | sample time  | samples per sec | num times ADC is read per call
--- | --- | --- | ---
none | 0.17ms | 5800 | 0 (measuring o

[2017-12-15 16:10] ladyada commented on #484
yah the intention w/16-bit **value** is that 16-bits is greater than the resolution of microcontroller's ADC resolution (which is 10-bit or 12-bit...maybe *rarely* 16-bits but as you can see that is terribly slow). and its an int so cleaner, clearer and easier to compare/do math with.

default, the ADC should read whatever is the native rez (12-bit for M0/M4) then pads 0's for the bottom 4 bits

f

[2017-12-15 18:23] tdicola commented on #484
Just to make sure we don't lose it, this was one thing discussed in the email thread.

From Dan: "So, in the short run, I can speed it up by x4 immediately without losing accuracy. Do you have some feeling for what to do for 2.2? For 3.0 we can do whatever. In chat Scott mentioned returning a float voltage value. We can add ".voltage" later, say in 3.0. I can also add some optional args that set t

[2017-12-15 18:30] tdicola commented on #484
Also to clarify, Dan mentioned "Tony proposes reducing to 12-bit to allow at least audio sampling."  Actually I proposed speeding it up for all uses, not just audio.  Right now for example we can't reliably catch a fast knock or signal when sampling a piezo.  10-20ms period or 50hz sample rate is just too slow unfortunately and frequently misses any quick impulse, like a sudden spike from a knock.

[2017-12-15 18:53] ladyada commented on #484
yep we will do both things!

1) reducing M0 and M4 to 12-bit (no oversampling!) and pad LSBs with 0's - that is the intended interface and it's in 2.2 now, you can pull and try it!

2) add a blocking DMA interface for ADC reading at high freq rates, in 4.x (i'll create an issue)

for getting float/voltages for ADC, we can add helpers in SimpleIO! :)

[2017-12-15 18:53] #484 closed

[2017-12-15 18:54] dhalbert commented on #484
12-bit and prescaler divisor fixed by #485 for 2.2.0.

[2017-12-15 18:55] ladyada opened #487 "DMA'd ADC for high-speed sampling -> buffer"
for some applications, we want to grab a chunk of samples from ADC at 'fast' (16KHz!) fixed periods. lets think of a way we can request an array of 16-bit **value**s that will be popped off the ADC pin at **samplerate**

[2017-12-15 18:57] tannewt commented on #487
Perhaps this would be `AudioIn`? To correspond with [AudioOut](https://circuitpython.readthedocs.io/en/2.x/shared-bindings/audioio/AudioOut.html)

[2017-12-15 18:58] tdicola commented on #487
This would be used for lots of things beyond audio though--sampling any signal from the ADC, like a piezo, light sensor, load cell, etc.

[2017-12-15 18:58] ladyada commented on #487
Yah - i think its the mirror. _technically_ its not just for Audio, and i dont think we'd do WAV translation? but maybe we would?

[2017-12-15 19:07] ladyada opened #488 "Ability to change native resolution of DAC and ADC's"
it would still be padded to 16-bits but perhaps a **.resolution** setter? see similar  https://www.arduino.cc/reference/en/language/functions/zero-due-mkr-family/analogreadresolution/

Low priority!

[2017-12-15 19:08] tdicola commented on #488
I'd definitely add a getter to read resolution, maybe even in 2.2?  This would get people into a mode of using the resolution as read from the hardware in their code early.  It would allow changing the resolution easily in the future (as people wouldn't bake in the 65535, etc. limits like we do today).

[2017-12-15 19:10] ladyada commented on #488
we'd still pad to 16-bits so there's no change in API! resolution changes the precision of that 16 bits only

[2017-12-15 19:12] tdicola commented on #488
Ah gotcha, one thing it's pretty uncommon to have a write-only property in python.  Typically there's always a getter to allow you to see what state the property is in without keeping track of it yourself.
 Would the getter for this resolution prop always return 16-bit though?  I.e. I set to 12-bit, 8-bit, etc. but always read back 16-bit since it's internally scaling?

[2017-12-15 19:13] dhalbert commented on #488
I've targeted 2.2 as mostly fixes; 3.0 or later makes more sense for API changes/enhancements

[2017-12-15 19:13] ladyada commented on #488
edited to change it to 'property' rather than setter

[2017-12-17 22:26] dglaude commented on #411
Some work in progress from @mrmcwethy here: https://github.com/mrmcwethy/Adafruit_CircuitPython_APDS9960

[2017-12-17 22:27] dglaude commented on #290
Some work in progress from @mrmcwethy here: https://github.com/mrmcwethy/Adafruit_CircuitPython_APDS9960

[2017-12-19 18:34] dhalbert commented on #386
Going to put in the fix I have, because it's a lot better than nothing. PR #

[2017-12-19 21:39] dhalbert commented on #449
Closed by #482.

[2017-12-19 21:39] #449 closed

[2017-12-20 15:42] dhalbert opened #491 "Do not freeze examples into internal frozen modules"
@jerryn pointed out that the code in the examples directory was frozen into the CPX frozen libraries. In the case he mentioned, some of the LIS3DH examples are actually buggy with respect to the CPX because the I2C address needed is different.

I propose not to freeze the examples. Not sure that .mpy's of examples are that useful anyway.

[2017-12-20 17:46] mrmcwethy opened #493 "All bundle libraries should have an examples folder"
Here is the list of libraries that still need an examples folder:

Pending PRs needing Review

Completed PRs

- [Adafruit_CircuitPython_Thermistor](https://github.com/adafruit/Adafruit_CircuitPython_Thermistor)
- [Adafruit_CircuitPython_SimpleIO](https://github.com/adafruit/Adafruit_CircuitPython_SimpleIO)
- [Adafruit_CircuitPython_NeoPixel](https://github.com/adafruit/Adafruit_CircuitPython_NeoPi

[2017-12-20 23:04] tannewt opened #494 "2.x doesn't reset on 1200 baud rate reset"
This isn't absolutely critical for the release although it will make it hard to flash from arduino and breaks Rosie CI which uses it to reset.

[2017-12-20 23:33] tannewt commented on #494
Fixed by #495

[2017-12-20 23:33] #494 closed

[2017-12-23 22:43] deshipu commented on #464
I've read the AN2465 application note about SPI on the SAMD21, and I did some experimenting, and it seems there is an off-by-one error here. If I use this formula instead:
[code]
I get more consistent values:

spi_clock_freq | baudreg_value
--------------------|---------------------
100 000 | 239
1 000 000 | 23
... | ...
6 000 000 | 3
8 000 000 | 2
12 000 000 | 1
48 000 000 | 0

Which seems to be

[2017-12-23 22:52] deshipu commented on #464
On page 436 of the datasheet the formula for calculating `baudreg_value` (`BAUD`) is specified as:

![shot](https://user-images.githubusercontent.com/1181357/34323160-5758806c-e83c-11e7-9b86-b82e4e8b3b6b.png)

which seems to confirm my suspicion.

[2017-12-23 23:15] deshipu commented on #464
I just tested this by adding `baud = 0` in `asf/sam0/drivers/sercom/sercom.c` just after it is calculated, and I do get much faster screen updates with that, though I am currently unable to actually measure this with a logic analyzer.

[2017-12-24 16:21] jerryneedell opened #500 "Metro-M4 problems with gcc 7.2.1"
After updating my linux system to the latest arm-none-eabi-gcc toolset (7.2.1) I have been experiencing some odd behavior when executing  a build of CP 3.0 master on my Metro-m4-express.

The compile and upload run with no problems and I can enter the REPL on the M4.  When I execute some scripts, the system will run for awhile then apparently hang and after about 30 seconds, it disconnects the USB

[2017-12-26 00:29] Kabaju42 opened #501 "file.seek"
file.seek() does not work from the current position. It does work for seeking from the beginning or end. Example from the REPL:

Adafruit CircuitPython 2.1.0 on 2017-10-17; Adafruit CircuitPlayground Express with samd21g18

2

4

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
OSError: 95

2116

[2017-12-26 03:19] dhalbert commented on #501
The second arg ==1 is deliberately not implemented. Not sure why:
https://github.com/adafruit/circuitpython/blob/36ec29d4e85b19487c868287f09d2492eecc0274/extmod/vfs_fat_file.c#L129
It seems to me it could call `f_tell()` and then add that value to
`s_offset` and call `f_lseek()`. @tannewt, do you know it might not be implemented? I looked in the MicroPython forum and issues and couldn't find a men

[2017-12-26 18:22] tannewt commented on #501
I have no idea. Should we add this to the 3.0 milestone as polish?

[2017-12-26 18:31] dhalbert commented on #501
I'll see what the MPy folks, say, if anything, but yeah, it's minor.

[2017-12-27 22:33] dhalbert commented on #500
I kept pruning the program back. The problem appears to be much more fundamental, and appears to have to do with storage allocation or garbage collection. This program hangs around i=479:
[code]
Interestingly, it doesn't fail in the repl, but does fail if named as, say `gcc7crash.py` and then I do `import gcc7crash`. _Don't_ make it `main.py`: it will crash before you get to the REPL, and CIRCUITP

[2017-12-27 22:40] tannewt commented on #500
Have you tried this with a debugger hooked up to see where it is in C land?

[2017-12-27 22:44] dhalbert commented on #500
going to do that - just wanted to redirect where to look. It's doesn't seem like it's IO or USB or something like that. I have a feeling it's something that got optimized out or misplaced even though it's "asm"d or something like that.

[2017-12-27 22:45] tannewt commented on #500
Yup, thats my feeling too. I'll assign to you.

[2017-12-28 21:14] tannewt opened #502 "Update `magnetic` attribute in design guide"
Its listed as a single value but should actually be an `x, y, z` tuple like `acceleration`.

[2017-12-29 15:20] sommersoft commented on #462
After 4 different approaches, and this week's holiday break, I went back to zero and applied KISS. Previous iterations of trying to just return `autogen_usb_descriptor.h/serial_number` either wouldn't compile or locked the bootloader up.  How can pointers be so simple, yet so confusing?! At any rate, SAMD21 seems to be working:
[code]
result:
[code]

I'm assuming SAMD51 will work as well, just can

[2017-12-30 07:54] boneskull opened #504 "can't search for code as long as this repo is a fork"
GitHub's forking functionality is implemented with non-permanent forks in mind.  Because of this, GitHub has *limited* forked repositories in several ways; one of those limitations is that searching for code within them is *completely disabled.*

CircuitPython's codebase is different enough from MicroPython's that I cannot search for what I want to find within that repo, as is suggested by the UI:

[2017-12-30 11:33] deshipu commented on #504
Or you can work around this yourself: clone this repository, create a new repository on Github under your own user, push the clone into it, search there.

[2017-12-30 13:50] dhalbert commented on #504
CIrcuitPython is a fork, but is not a detached fork. We still pull and merge from MicroPython on a regular basis, so we don't want to detach from that repo.

A number of us do local searches in our clones using the nice tool The Silver Searcher: https://geoff.greer.fm/ag/ and https://github.com/ggreer/the_silver_searcher.

[2017-12-30 13:50] #504 closed

[2017-12-30 20:49] boneskull commented on #504
cloning the repo to simply search isn’t particularly user-friendly. I’m not sure I understand why this repo needs to be “attached” to MicroPython, as it’s trivial to pull code from any remote via `git`.

[2017-12-31 14:51] mrmcwethy commented on #290
I have completed a candidate library that is written CircuitPython that support gesture, proximity, and color detection.  I used the Adafruit_APDS9960 Arduino library as a template for the CP version.  This has had some serious testing by @jerryn and @kattni .  Thanks to them.  i would like the following project to be reviewed and forked into github.com/adafruit.   @tannewt  has already given me e

[2017-12-31 19:45] dhalbert commented on #500
(this diagnosis filed as issue in (also filed in https://github.com/micropython/micropython/issues/3526)

We recently starting using the **gcc-arm-none-eabi-7-2017-q4-major** toolchain, which uses gcc 7.2.1. We also use `-flto`. On M0+, it works OK, but on M4, I found an issue having to do with `mp_call_function_1_protected()`, `nlr_push()` and `nlr_push_tail()`. The assembly code emitted is below

[2017-12-31 19:51] dhalbert commented on #500
I believe I have fixed this by using the `asm(...)` "clobbers" setting to mark r1, r2, and r3 as clobbered, so that the compiler won't use r3 as a temp save register. Note: don't mark r0 as clobbered; that doesn't work and causes odd behavior.

Other things I tried included removing the `naked` attribute on `nlr_push()` and combinding `nlr_push()` and `nlr_push_tail()`. That didn't work. Also decl

[2017-12-31 19:55] dhalbert commented on #500
Code after fix:
[code]
[code]
[code]

[2017-12-31 22:11] jerryneedell commented on #500
Is any of this specific to the M4 ?  Rephrased, is there some reason why the M0 code does not generate these errors or were we just lucky.

[2017-12-31 22:18] dhalbert commented on #500
It should be just about the same (both are thumb), but it's a different cpu setting, so maybe there's some difference in the cpu description tables. I did check the asm for both, and the M0 didn't have the mistake that the M4 compilation did. I may look further at some point.

[2017-12-31 23:18] ladyada commented on #491
yeah please dont freeze examples, they're more useful as plain text!

[2018-01-01 03:33] dhalbert commented on #491
Fixed by #492.

[2018-01-01 03:33] #491 closed

[2018-01-01 07:23] sommersoft commented on #448
@dhalbert in reference to the comments on PR #503, is this along the lines of what you're looking at moving too? Kind of a middle ground of the current table, and listing only exceptions of unsupported ports.

This is going off the current list, and carbon copying SAMD51 to current SAMD21 support (which isn't an accurate future state given 51's higher mem capacity). Its right at 50/50 for supporte

[2018-01-01 17:35] dhalbert commented on #448
Yes, thanks, something like that. I'd say "Express" explicitly, instead of introducing a new abbreviation ("X").

[2018-01-02 04:14] dhalbert opened #507 "2.2.0: Add HID and Express as frozen modules for CPX"
as requested by @ladyada

[2018-01-02 04:30] dhalbert commented on #507
Postponed for now: see #508.

[2018-01-02 17:36] samaparicio commented on #439
+1 for RFM69 / RFM95 support - this is a very useful building block and today, if you want to use Lora then you are not going to use python.

[2018-01-02 19:04] ladyada commented on #290
@deanm1278 heya dean, here's the py library to test :)

[2018-01-02 19:36] tannewt commented on #290
I've forked it into the Adafruit repo. Please do a release and add it to
the bundle. Thanks!

On Tue, Jan 2, 2018 at 11:04 AM ladyada <notifications@github.com> wrote:

[2018-01-02 19:37] deanm1278 commented on #290
@ladyada @mrmcwethy @tannewt Tested all examples with circuitpython metro m0 2.1.0, latest bundle 2.1.0, myp-cross 2.1.0
gesture, color, prox interrupt all work very well! Interface is very good any circuitpythony

[2018-01-02 19:39] tannewt commented on #504
Hopefully GitHub will add fork search in the near future. I agree it'd be good to have.

I want to leave us as a fork because its one way we can be clear that we're based on MicroPython. We already get criticized for forking. I don't want to hide it.

[2018-01-02 19:40] dglaude commented on #290
Dear @mrmcwethy , I tested a little bit on
`Adafruit CircuitPython 2.2.0-rc.2 on 2017-12-30; Adafruit Feather M0 Express with samd21g18`

Testing involved:
1) Copy the 3 files `gesture.py` `proximity.py` and `color.py` from https://github.com/mrmcwethy/Adafruit_CircuitPython_APDS9960/tree/master/adafruit_apds9960 into a folder named `/Volumes/CIRCUITPY/lib/adafruit_apds9960`
2) Copy the 3 examples

[2018-01-02 19:41] tannewt commented on #462
I'm suspicious of it being that short. IIRC is only unique if its 64 or 128 bits. Could you adapt it to return a bytes string instead of an int?

[2018-01-02 20:10] dglaude commented on #290
My fault... I had to use mpy-cross-2.2.0-macos-high-sierra to transform __init__.py apds9960.py colorutility.py into *.mpy file.

Now I can confirm it is working with 2.2.0-rc.2.

The only issue I have is on the non uniform use of pin for interrupt.

`Readme.rst` suggest to use A1:
[code]

`Proximity.py` example use A2:
[code]

Some cleaning to make Readme and example match in style and pin select

[2018-01-02 20:44] mrmcwethy commented on #290
I agree.  i fixed  it and created a pull request.  Next is to create a release and add it to the bundle.

[2018-01-02 20:44] ladyada commented on #290
ill do that part!

[2018-01-02 20:46] Sigafoos commented on #472
I'd like to tackle this one if possible!

[2018-01-02 21:41] #500 closed

[2018-01-03 04:03] tannewt commented on #502
Fixed by 7d3bec4

[2018-01-03 04:03] #502 closed

[2018-01-04 00:50] Sigafoos commented on #493
I'm not seeing examples for some of the repos that you have checked off: Adafruit_CircuitPython_SD for example.

[2018-01-04 00:56] mrmcwethy commented on #493
@Sigafoos The checked ones are ones that I plan on adding examples to.  If you want to help with examples, pick one that is not check yet.

[2018-01-04 01:02] Sigafoos commented on #493
@mrmcwethy got it!

[2018-01-04 01:05] mrmcwethy commented on #493
@Sigafoos BTW: if you really like any of the ones I selected, please let me know, you can do em.

[2018-01-04 19:06] jerryneedell opened #511 "Implement I2C clock stretching in bitbangio"
Some I2C sensors require clock stretching and do not work properly when using bitbangio (necessary on the esp8266).  Examples are CCS811 https://github.com/adafruit/Adafruit_CircuitPython_CCS811/issues/9  and bno055.

[2018-01-04 22:26] deshipu commented on #511
This is strange, because I remember that I implemented clock stretching for MicroPython for the software I2C... Could it be that CircuitPython didn't use that?

Looking at the code, it's there: https://github.com/adafruit/circuitpython/blob/master/shared-module/bitbangio/I2C.c#L53

Do you have a logic analyzer to capture what is happening with that sensor?