[2021-01-18 23:48] skerr92 commented on #4026
Hey there! If you’re needing a VID/PID checkout pidcodes. I believe @tannewt has been pushing this direction. He has access to the review process and can get it sorted there.

[2021-01-19 02:06] rfefx commented on #4026
So i am following this guide on adafruit. https://learn.adafruit.com/how-to-add-a-new-board-to-circuitpython/overview
which let me to this pull request. Pidcodes requires the open source software and hardware. I can't get my board added to circuitpython without the VID/PID so it's a catch 22.

[2021-01-19 02:08] skerr92 commented on #4026
Submit your pull for pidcodes and let Scott know what you’re doing. As long as the PID is available, you should have no issues pushing to CP for a PR. (I’ve done this twice already)

I am happy to help if need be.

[2021-01-19 02:25] anecdata commented on #3735
@askpatrickw Would you mind taking a look at the PR, testing if you can. Artifacts are building now.

[2021-01-19 03:40] iot49 opened #4027 "Write to filesystem"
How can I boot the device such that the filesystem is available for writing from CircuitPython?
E.g. to log sensor readings.

Setup: device is connected by usb (and repl, for commands only). Macos.

`boot.py`:

[code]

From `repl`:

[code]

Error:

[code]

**Notes**:

- This used to work.
- Workaround: eject the device, then issue `storage.remount('/', readonly=False)` and write. Unfortunately e.g

[2021-01-19 03:57] dhalbert commented on #4027
Did you `import storage` in boot.py? `boot_out.txt` will show output from running `boot.py`, including errors.

Another possibility is that the filesystem is corrupted, which would make it read-only even from CircuitPython.

I just tried this on a Metro M0 Express running the latest build from `main`, and it works for me.

[2021-01-19 08:25] askpatrickw commented on #3735
@anecdata  I can look at this 20 Jan prolly later in the day. Thanks for the diligence you took in looking into the fix!

[2021-01-19 14:21] jepler commented on #4020
We don't yet support sdioio on the mimxrt10xx series.  We'd be happy to see someone contribute an implementation to the core.

[2021-01-19 17:29] nezra commented on #4020
@jepler The pins are already defined. You'll find that in the board link I posted above for the pin definitions, already in the port for it. You have the framework already done.

Sadly, the build instructions for python and adding a new board don't tell me how to include the sdioio library in the build process to have it compile with it, and since the library is in the shared-bindings list and onl

[2021-01-19 17:41] jepler commented on #4020
An implementation of the feature is needed down in ports/mimxrt10xx/common-hal/sdioio.  It would be similar in scope to this PR which added support for stm32f405: https://github.com/adafruit/circuitpython/pull/3191 with the bulk of the code being https://github.com/adafruit/circuitpython/blob/main/ports/stm/common-hal/sdioio/SDCard.c

The underlying APIs and/or hardware registers for mimxrt10xx ar

[2021-01-19 18:25] hathach commented on #3986
I am able to reproduce the issue with tip of main by copying all sample files here https://github.com/theacodes/Winterbloom-Big-Honking-Button/tree/master/samples . Bus analyzer show that firmware didn't response to the SCSI status phase, either the stack failed to manage the state and/or could be another buffer overflow, or maybe the tud_task() isn't called e.g cpy doesn't think it needs to call

[2021-01-19 18:29] dhalbert commented on #3986
Thanks!! I am going to instrument the calls to `tud_task()` and the ticks by toggling some pins to see what is going on.

[2021-01-19 18:49] hierophect commented on #4023
I had to add it to all the Busio functions a while back, probably worth reviewing everything that uses pins to make sure they're claiming properly.

[2021-01-19 20:29] askpatrickw commented on #3341
Another update, the DS Peripheral was supported as of the Dec 7, 2020 release tagged 4.2
https://github.com/espressif/esp-idf/releases/tag/v4.2

Today the port is using https://github.com/adafruit/esp-idf/tree/ebe7784258d8c10e9cc334ccc00c3fd270746c8b which is Dec 11th... so should be good, but I didn't look too closely.

Just mentioning it because the DSP support is relatively new...

[2021-01-20 00:09] dhalbert commented on #3986
@hathach In 5.3.1, we called `tud_task()` as one of the background tasks that runs on every timer tick, which was 1msec. The calling routine is `usb_background()`.

That was changed in #2879 during 6.0 developoment. Now `tud_task()` is only set up to be called once each time the `usb_irq_handler()` is called:
https://github.com/adafruit/circuitpython/blob/409b5ff009811571adef9c519bcbb1f103340127/s

[2021-01-20 00:43] tannewt commented on #4026
You can open source the code in your own fork to satisfy the pid.codes requirement and then PR to CircuitPython after.

[2021-01-20 01:35] jfabernathy commented on #4025
I did confirm that this happens with the official 6.1.0-rc.1 .uf2 and not just my debug build. The default .uf2 includes the boot state of PowerOn or DSLEEP in the Debug UART output which I capture to a file. From a practical matter my program has run for about 24 hrs posting data to NodeRed without any noticeable lost of reading. It's hard to see if only 1 minute reading is missing in a 24 hr per

[2021-01-20 01:48] jepler commented on #3986
Re #2868 I don't mind at all modifying how we control when `usb_background()` or `tud_task()` are and I'm happy to help figure out what needs to be changed.  It's not an understatement to say my changes were based on an insufficient understanding of tinyusb as well as just seeing "what worked"...

[2021-01-20 02:01] tannewt commented on #3986
Maybe we need to queue up tud_task after we queue a response back into tinyusb. For example, maybe we need to trigger tud_task after a write completes.

[2021-01-20 02:26] tannewt commented on #4025
@jfabernathy How are you powering the board? That is weird you are seeing a mix of poweron and dsleep reasons.

[2021-01-20 02:33] tannewt commented on #3414
Another option would be to ask Espressif to get a VID and give PIDs for products with their chip. This is commonly done by other vendors. (USB-IF may not allow this anymore though.)

[2021-01-20 02:35] jfabernathy commented on #4025
The board where I'm capturing the UART logs is powered by a Lipoly 2200mah battery. I recharge with a 12v barrel connector power supply. I wanted to eliminate the USB C being connected.  You of course see non of this if you are connected to a Laptop because it only simulates deep sleep.  Every time it starts up with DSLEEP indicated the counter is not reset.  When it shows PowerON, the counter is

[2021-01-20 02:39] jfabernathy commented on #4025
I don't know if all this is connected to the real problem I was chasing, but I found this issue with resetting my Alarm.memory counter when I was setting up diagnostic counters looking for why the system board would just stop running. No flashing LED or any indication of life except for the power LED.  But I found this problem first.

[2021-01-20 02:41] #4016 closed

[2021-01-20 02:42] tannewt commented on #4016
Thank you!

[2021-01-20 02:43] tannewt commented on #4014
Fixed by #4021

[2021-01-20 02:43] #4014 closed

[2021-01-20 02:48] tannewt commented on #4012
Is this a larger issue? We shouldn't communicate with the APA when LDO2 is off then right?

The APA should be blinking like it would on all CircuitPython boards. It was a bug before when it wasn't being consistent. Note, we do want to change it's behavior with CP 7 so that it's more power friendly. Until then though, it should be consistent with other boards.

[2021-01-20 02:51] tannewt commented on #4007
@maziarzamani The first thing to do is determine what the new API will be. The research phase of coming up with this is collecting links to other implementations and listing the uses we want to support. Once we have examples, I usually document the goal API and write non-working examples for it.

Bonus points for any existing Python zigbee APIs since we could choose to follow their API.

[2021-01-20 02:57] UnexpectedMaker commented on #4012
Well, yes, I guess if it's considered a bug for the APA not to be behaving the same as other boards, then the way to solve this is  for the code that does the LED thing to only do it if LDO2 )IO21) is high,  but that's FeatherS2 specific.

The question the is, should LDO2 being forced as output/high on boot? I don't like that as that means the LDO is turned on without the user doing it, rather tha

[2021-01-20 04:30] dhalbert commented on #4007
Zigbee is a licensed protocol, though it appears that it could be used for free without certification. I have not seen a really clear answer about this. We are currently using the nRF SoftDevice for BLE. There is SoftDevice support for Zigbee, but again, I don't know if there are licensing restrictions. I would assume Zephyr has its own Zigbee stack. Are there restrictions on its use?

[2021-01-20 05:15] hathach commented on #3986
@dhalbert thanks for detail explanation, most of the usb task job is queued by ISR, however, there is a few exceptions especially with MSC. E.g when scsi read/write callbback return 0 as busy indicator. The whole transfer is already complete, but since the application is not ready, tinyusb will need to re-schedule the event by itself without ISR (re-submit event to task queue).

https://github.com

[2021-01-20 07:06] askpatrickw commented on #3735
@anecdata  Here are some things I've tested tonight, letting then run for ~ 1 minute each.

Passed
1. wifi.connect and ping in the While Loop. No issues. sleep of 5 seconds.
2. wifi.connect outside the while loop. Ping inside the while loop. Sleep of 5 seconds
3. wifi.conect, pool, and requests setup outside the while. Aio setup, aio.receive_time and ping inside the loop.
4. wifi.conect, pool, and

[2021-01-20 09:27] maziarzamani commented on #4007
For me, it doesn't really matter whether its nrf52 or any of the Silicon Labs IC's which are currently utilized by IKEA for their Trådfri series. I am currently using both IC's for ZigBee applications, and at the end of the day I'd rather use SiLabs, but I am assuming no such porting really exists?

[2021-01-20 12:57] dglaude commented on #4007
Did someone say Trådfri? Wake me up if there is a way to integrate CircuitPython with Trådfri... my house is slowly transforming to that technology.

[2021-01-20 12:59] anecdata commented on #3735
Thanks very much for stress testing! The PR mainly addresses multiple sequential connects, whether wifi is started or stopped, and a little resilience with connecting and disconnecting repeatedly.

I do think the last case is separate, since socketpool init and requests init are inside the loop (I don't know about the AIO init, but it looks like that held up in yout 3rd test)), brentru or tannewt

[2021-01-20 13:01] maziarzamani commented on #4007
Maybe the easiest way to get around this is to use the XBee3 modules, which already supports MicroPython.

[2021-01-20 13:01] maziarzamani commented on #4007
Likewise, but I am not really looking to reverse engineer any "TRÅDFRI protocol" here, but merely adding a new one which works with a different system (Conbee etc.).

[2021-01-20 13:04] netroy commented on #3414
Looks like Espressif already has a VID `0x303A`, and they [recently](https://github.com/espressif/usb-pids) started giving out PIDs.
I can send them a pull request later today.

[2021-01-20 14:26] dhalbert commented on #4007
Certainly, a CircuitPython library could be written for an external module, and there would be no licensing issues. That is probably much less work than supporting Zigbee via the native SoftDevice implementation or a transplanted zephyr implementation.

[2021-01-20 14:54] tannewt commented on #3414
Awesome! That's great news! Thanks for the link.

[2021-01-20 15:55] ryang14 commented on #4007
The STM32WB55 series runs the radio firmware on a second core. This lets it act like a discrete module integrated into the chip.

[2021-01-20 17:11] askpatrickw commented on #3735
I'm also fine with being told "don't do that". I do think as we get into power saving sleep it might be needed and raise the same issues, but I've not tried it yet. That is next on my todo list though.
I'll open a new issue for it and offer my approval based on the testing on the PR.

[2021-01-20 19:00] tannewt commented on #3735
We should have CircuitPython tell you not to do that. We should track if the radio already has a pool and raise an exception on the second init. We'll need to add a `deinit` to SocketPool too just in case you want to deinit and recreate. This matches how most of our APIs hold exclusive access to things.

[2021-01-20 19:11] tannewt commented on #4007
I've looked at their line up of chips but haven't found ones that provide something unique to CP. We can support anything with 32k RAM and native USB but there is a non-trivial amount of work to support new peripherals.

[2021-01-20 19:15] maziarzamani commented on #4007
I am sort of considering pivoting to the [XBee3](https://www.digi.com/products/embedded-systems/digi-xbee/rf-modules/2-4-ghz-rf-modules/xbee3-zigbee-3) which already runs MicroPython out of the box and can be bought as dev boards or modules. All the (nasty) low-level ZigBee code abstraction is already dealt with. At this point I do not see the hassle in trying to reinvent the wheel on nrf52.

[2021-01-20 19:16] tannewt commented on #4012
I need to think more about this. I expect more boards in the future to do similar. I like that CircuitPython could manage when the board is on automatically but understand the 1mA of neopixel power (or whatever) may not be desired. The benefit of automatically turning on would be using the RGB status on "power on reset" to indicate the safe mode wait (and I suspect a BLE wait for boards with it).

[2021-01-20 19:18] tannewt commented on #3986
Will `tud_task_event_ready()` return `true` after `tud_task` returns in this case? We could schedule another call if that's the case.

[2021-01-20 19:20] tannewt commented on #4025
Do you still have the issue when the 12v connector is connected? This sounds like it might be an issue with the reset reason.

[2021-01-20 19:59] jfabernathy commented on #4025
I usually plug in the 12V connector while the board is in deep sleep. It has no effect on what I see. I've also used a USB power adapter and that also works correctly.  I've tried to trap all the exceptions.  Early on I'd find the board flashing a bunch of LEDs and not running.  I had to assume it had broken to REPL.  Once I finally found a good  way to trap everything it would run for as much as

[2021-01-20 20:08] dhalbert commented on #3986
I think I can test to see if that is true.

[2021-01-20 20:33] obiben opened #4029 "PWM on Trinket M0"
Hardware: Trinket M0
Bootloader: 3.10.0
CircuitPython: 6.0.1

I'm having trouble using PWM on Trinket M0.

Examples point me towards a library called `pulsio`, but I cannot find it anywhere, including the CircuitPython 6 library bundle.

[2021-01-20 20:38] dhalbert commented on #4029
`pulseio` is a built-in (C) module, but is not available on SAMD21 boards that don't have external flash chips ("Express" boards), for space reasons.

You could make a custom build, at the expense of removing some other things that you might not need. Or just switch to a more capable Express board.

[2021-01-20 20:39] dhalbert commented on #4029
What's on which board: https://circuitpython.readthedocs.io/en/latest/shared-bindings/support_matrix.html

[2021-01-20 21:20] dhalbert commented on #3986
Our `tud_msc_write10_cb()` is synchronous, and never returns 0, so unfortunately that is not an opportunity to reschedule.

[2021-01-21 00:24] jepler commented on #3835
I can reproduce a problem by running this in the REPL on a Kaluga:
[code]
***AND*** continuously writing to the CIRCUITPY drive from Linux:
[code]

Here's a "good" neopixel trace from saleae:
![image](https://user-images.githubusercontent.com/1517291/105256440-63cd3600-5b4b-11eb-8db9-edfc9a8935fa.png)

good trace, zoomed out:
![image](https://user-images.githubusercontent.com/1517291/105256473-705

[2021-01-21 01:28] jepler opened #4030 "esp32s2: microcontroller.nvm "NVS Error""
I noticed and @anecdata confirmed that if the first operation on nvm is a _read_, you'll get an "NVS error":
[code]

[2021-01-21 05:41] microDev1 commented on #4030
This is the expected behavior on _esp32s2_ port... the flash needs to be written before reading it.
The `NVM` implementation here doesn't directly interact with the flash instead it is built on top of [`NVS`](https://docs.espressif.com/projects/esp-idf/en/latest/esp32s2/api-reference/storage/nvs_flash.html) library.

[2021-01-21 05:48] microDev1 commented on #4030
The `ByteArray` functionality is emulated. `NVS` uses key-value pairs... in our case :-
[code]
If a key isn't found... we throw an error `RuntimeError: NVS Error`. This however can be avoided by instead returning `0`.

[2021-01-21 08:51] askpatrickw commented on #3735
I opened that issue separately over here in requests. It had nothing to do with AIO.
https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/62

When Dan chooses to merge this can close

[2021-01-21 09:29] microdev1 opened #4032 "Support for ESP-MESH"
[ESP-MESH](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/mesh.html) is a networking protocol built atop the `Wi-Fi` protocol.
It allows numerous devices (nodes) to be interconnected under a single `WLAN` (Wireless Local-Area Network).

ESP-MESH API docs are [here](https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-reference/network/esp_mesh.html).

Some traits

[2021-01-21 09:43] microDev1 opened #4033 "Support for MESH Network"
Discussions regarding a common or a similar api for different kinds of mesh networking infrastructures can be done here.
The goal here is achieve an api which can be inter-portable and can be used seamlessly irrespective of the underlying networking infrastructures.

The MESH networking infrastructures include :-
- BLEMesh
- WiFiMesh
- ZigBeeMesh

[2021-01-21 09:51] microDev1 commented on #3999
I got confused between `ESP-NOW` and `ESP-MESH` here.
`ESP-NOW` seems to be more of a point-to-point receiver-to-transmitter communication rather than a mesh network.

[2021-01-21 09:56] ehagerty commented on #3999
FWIW, i'm using their esp-mdf C stack right now doing some PoC for my healthech startup - utilising their meshkit-sense, meshkit-light and soon meshkit-button.  Their reference code for the button actually uses both esp-mesh and esp-now modes.  Don't know if that is useful to you guys at all.

[2021-01-21 10:23] microDev1 commented on #3999
Interesting... `ESP-NOW` is more lightweight than `ESP-MESH` so one can assume it would work better when it comes to sensor or button nodes which are not always active and require power consumption to be minimal.

[2021-01-21 10:55] waiweng83 opened #4034 "Missing GP15 in board module for Raspberry Pi Pico"
CircuitPython version: 6.1.0-rc.1-51-gfb1e0106b

dir(board) yield the output of:
['__class__', 'A0', 'A1', 'A2', 'GP0', 'GP1', 'GP10', 'GP11', 'GP12', 'GP13', 'GP14', 'GP16', 'GP17', 'GP18', 'GP19', 'GP2', 'GP20', 'GP21', 'GP22', 'GP25', 'GP26', 'GP26_A0', 'GP27', 'GP27_A1', 'GP28', 'GP28_A2', 'GP3', 'GP4', 'GP5', 'GP6', 'GP7', 'GP8', 'GP9', 'LED']

There are missing GP15 in the list.

[2021-01-21 13:21] jfabernathy commented on #4025
In an effort to product a test version of this program that still shows the bug but can be run without my server, I created a new code.py that is a combination of a simple http aio example and my code. I included the alarm.memory counter that gets reset randomly and my UART program output and Debug UART output.  On a Raspberry PI 4 I used 2 sessions of screen with the logging turned on.
[code (cop

[2021-01-21 13:47] dhalbert commented on #4025
The reset of the `alarm.sleep_memory` contents would indicate either a power glitch or maybe a hard reset, as discussed. This sounds like some kind of software bug. But does it make any difference if you power the board for long periods with an AC adapter instead of the battery?

[2021-01-21 14:05] jfabernathy commented on #4025
Before I recently received my Adafruit lipoly batteries, I used the USB-C power adapter I have from my Samsung S8 which is a Fast Charge higher current adapter.  I re-hooked that this morning to eliminate the batteries as a cause. My memory is that I've seen this issue with the USB-C powered but not connected for serial comm. But I'm old and I don't trust my memory from a week ago. So I'm retestin

[2021-01-21 14:21] jfabernathy commented on #4025
That didn't take long.  With the USB-C connected to a AC power adapter. It failed after 7 loops.  Here's the sequence most recently logged.

USB C powered plugged in while sleeping after loop counter incremented to 5
After incremented to 6, the next loop had PowerON status and counter was back to 1.
Made it to 3 before resetting on next loop.
only made it to 2 then reset,
only made it to 3 then re

[2021-01-21 15:17] jepler commented on #4030
I encountered a second problem which may be related to the same design choices, so I'm adding it to this issue.

I wanted to assign each element in microcontroller.nvm, there are apparently 20480 of them.  However, after assigning 503 of them I encountered an exception:
[code]
I am guessing that since each element I assign uses up a key and a value, that it quickly uses up the available space. The

[2021-01-21 15:18] jepler commented on #4030
At this point, nvm seems unwritable, even at indices that were written before:
[code]

[2021-01-21 17:09] microDev1 commented on #4030
I am able to replicate this... though for some reason the max key caps out at `403` for me.

[code]

This was a concern when implementing `NVM` as such but it was considered a good trade off between wear-leveling functionality and utilization of available storage. It might be possible to optimize this though... with the current implementation the keys are stored as strings. A compression algorithm

[2021-01-21 18:28] ladyada commented on #4034
This is on purpose, GP15 should not be used, it is used by the internal USB peripheral

[2021-01-21 18:54] jepler commented on #4034
This is due to our understanding of Erratum RP2040-E5 -- see [the datasheet ](https://datasheets.raspberrypi.org/rp2040/rp2040_datasheet.pdf) down at page 632 or so.

[2021-01-21 19:25] tannewt opened #4035 "Fix DigitalInOut.pull"
Currently always returns None.

[2021-01-21 19:25] tannewt opened #4036 "Implement busio.UART"

[2021-01-21 19:26] tannewt opened #4037 "Implement audiopwmio and enable audiocore"

[2021-01-21 19:27] tannewt opened #4038 "Implement displayio.ParallelBus"
Use PIO to do it.

[2021-01-21 19:29] tannewt opened #4039 "Get unique ID from flash"
The RP2040 chip itself doesn't have a unique id so implement it by getting the flash chip's ID.

[2021-01-21 19:31] tannewt opened #4040 "WFI during sleep"

[2021-01-21 19:36] tannewt opened #4041 "Better factor out flash config"
Right now the flash size is hard coded and the init code is as well. The flash init code is 256 bytes of arm code loaded by the bootloader, checksummed and run. The build process is a bit tricky due to the checksum so it's hardcoded for now.

[2021-01-21 19:47] tannewt opened #4042 "More RP2040 boards!"
Adding a board to CircuitPython is very easy! It's primarily mapping the names of pins on the silkscreen to the internal GPIO names. We have a thorough Learn guide on adding a board [here](https://learn.adafruit.com/how-to-add-a-new-board-to-circuitpython). This is the same process for all of our ports. If you are unfamiliar with git and github, then [this guide](https://learn.adafruit.com/contrib

[2021-01-21 19:49] tannewt commented on #4042
Can I help folks (@gadgetoid, @nseidle, @mbanzi) do board defines for your boards? We'll need a USB PID for each, the pin names on silkscreen and the flash chip used.

[2021-01-21 19:51] kevinjwalters commented on #4042
Cytron have a [Maker Pi Pico](https://www.cytron.io/p-maker-pi-pico) which looks like its the Raspberry Pi Pico soldered the larger peripheral board.

[2021-01-21 21:04] jfabernathy commented on #4025
new data,  I wanted to see if this was WiFi related.  I commented out anything to do with setting up a WiFi connection or using AIO.  It still resets to loop counter occasionally, I'm going to make a simple program that just does alarm counter increments and see if it still fails and if not look to see if this is the amount of time that the system is in deep sleep

[2021-01-21 22:25] #3724 closed

[2021-01-21 22:32] jfabernathy commented on #4025
Here's the latest.  Not WiFi related!  I ran the code.py below with a deep sleep timer of 10 seconds and I let it get into the 90s before I reset.  I had no Poweron status except the one immediately after reset.  When I changed to deep sleep timer to 60 seconds I started to see a large number of Poweron status exiting DeepSleep.   I'm going to start playing with the alarm timer interval to see whe

[2021-01-21 23:19] tannewt commented on #3731
@dhalbert did this get fixed?

[2021-01-21 23:19] anecdata commented on #3837
I'm inclined to close this issue. Current status:

**Logging**
- All wifi Events are now logged from the event_handler (PR 3903), I think we should leave this in place as it's very useful for troubleshooting
- All Disconnection reasons are logged from the event_handler, ditto my vote for keeping this in place
- There is no logging in `wifi` outside of the event_handler in `init.c`. However, I'd su

[2021-01-21 23:20] dhalbert commented on #3731
No, I haven't looked at it yet.

[2021-01-21 23:22] tannewt commented on #4025
Thanks for all of the investigation @jfabernathy! Sounds like you are closing in on the issue.

[2021-01-21 23:24] jfabernathy commented on #4025
is there a spec on how long you should be able to deep sleep?

[2021-01-21 23:32] dhalbert commented on #4025
My original sample program when I wrote https://learn.adafruit.com/deep-sleep-with-circuitpython/sleep-memory did not have this problem, and I was not sleeping that long. I let it run for dozens of cycles. See the example there. So something may have changed. 10-20 seconds should be fine, and not too low.

[2021-01-21 23:41] jfabernathy commented on #4025
I'm doing a 30 second deep sleep test now. once it gets to >255, I'll be happy.  I want a one minute sample rate on my temperature readings.  So since 60 seconds will not work reliably, I may have to sleep 30 seconds and only post data every other time thru the loop.  I'm surprised that 60 seconds is a problem.  That sounds like a issue, especially since the battery voltage is good.  Must be an in

[2021-01-21 23:43] dhalbert commented on #4025
We deep-sleep for anywhere from 10 seconds to 24 hours. All should work. It's a bug if you can't.

[2021-01-21 23:53] anecdata commented on #3562
Closing. I haven't seen this for a couple of months, probably addressed by other improvements.

[2021-01-21 23:53] #3562 closed

[2021-01-22 00:18] jfabernathy commented on #4025
My 30 second deep sleep did not work.  I saw 10-15 Poweron statuses in the last hour.  I'm going back to 10 seconds and let it run overnight and keep it on USB C power

[2021-01-22 01:31] djotaku commented on #3894
Using today's UF2 for the S2 and yesterday's Circuit Python libraries seem to have undone the SDA/SCL pull up regression. The board now recognizes the Adafruit AHT20. Still hasn't solved the original issue. The sparkfun board that works with the Feather S2 in Arduino code still does not register in Circuit Python. In the I2C scan code above, it still shows [] for that board. It also seems to want

[2021-01-22 01:40] jfabernathy commented on #4025
I'm reading the Espressif docs and see that the UART can be set to wake of the ESP32s2.  Could CP has something set or unset that could be allowing UART noise, etc. to be interfering here?
[https://docs.espressif.com/projects/esp-idf/en/latest/esp32s2/api-reference/system/sleep_modes.html](url)

[2021-01-22 03:33] obiben commented on #4029
Thanks @dhalbert, that matrix clearly shows I'm either dyslexic or an idiot. `pulseio` is included on the M0, `pulsio` just doesn't exist!

[2021-01-22 03:33] #4029 closed

[2021-01-22 04:38] dhalbert commented on #4025
We are only enabling the wakeups corresponding to the alarms being set. The API is straightforward.

I will try to duplicate this within a few days. We are somewhat swamped at the moment, sorry.

[2021-01-22 08:23] lwerner-lshigh opened #4045 "func .__ code__ ?"
I know this was asked for in micropython 5ish years ago, but it seems that it still hasnt been implemented. I was wondering if this would be possible to add? Im currently working on creating a calculator that can be plugged in and have programs modified. The menu system ended up using that functionality.
[code]
If this isnt possible thats also fine, just wondering if it is possible.

[2021-01-22 08:25] ThomasAtBBTF opened #4046 "ESP32S2: I2C bus object crashes or failes when used after soft reboot"
This code works fine when the MagTag boots cold.

[code]

![image](https://user-images.githubusercontent.com/55076608/105463965-1bb82b80-5c91-11eb-83d1-dec97b7a5c0b.png)

After connecting to Putty (here with COM29)
and pressing ctrl-c to get to the CP prompt
and pressing ctrl-d to reload...

There is a core code hard crash:
![image](https://user-images.githubusercontent.com/55076608/105465553-59b6

[2021-01-22 08:49] #3907 closed

[2021-01-22 10:48] #3735 closed

[2021-01-22 11:23] Gadgetoid commented on #4042
@tannewt are you looking for a VID/PID combination specific to CircuitPython? I think we can supply those.

I'll try and gather the other information when I can. Everything is still chaos :laughing:

[2021-01-22 11:37] jfabernathy commented on #4025
I have eliminated  the UART as the problem.  I went back to my original logging program and removed all UART usage. Only a few prints remain but since the USB-C is not connected they go nowhere. All UART cables are removed.
I am logging the loop counter as one of my NodeRed data items and that is getting reset on both Metros. In the last 6 hours, most the counters got to 6-10 before resetting.  Al

[2021-01-22 12:02] kevinjwalters commented on #3971
Is there a reason for `reference_voltage` to be optional?

[2021-01-22 16:05] jepler commented on #3835
I investigated the filesystem access "angle" because I believe I see similar disruptions to the neopixel during UF2 bootloading -- the LEDs are mostly blinking yellow/orange, but occasionally a flicker of another color can be seen.  This potentially points at a problem outside of CircuitPython, or in implementation code that is shared between CP and the UF2 bootloader.  However, Kattni and N+P's s

[2021-01-22 16:35] hierophect commented on #3785
Final update from Espressif:

[2021-01-22 17:05] kevinjwalters commented on #3835
@jepler Can you get an analogue view of the data? Perhaps the salae isn't showing some strange nastiness in the actual signal due to either thresholding or transient spikes?

[2021-01-22 18:00] ladyada commented on #3971
yes, you can also change the aref on some chips either internally or externally. many chips have default tat folks dont use

[2021-01-22 19:34] tannewt commented on #4042
Yes please! Are your boards currently available? If you point me to schematics I can add defs but not test them. Thanks!

[2021-01-22 19:35] tannewt commented on #4042
For your gaming system the display chipset would be useful too so we can auto-init it.

[2021-01-22 19:42] tannewt commented on #3837
Let's close for now. We can always open a new issue when we have additional specific improvements in mind.

[2021-01-22 19:42] #3837 closed

[2021-01-22 19:44] tannewt commented on #4045
Is this an existing CPython API? I've never heard of it.

Is there a corresponding MicroPython issue?

Please elaborate on how you are using it. There might be other ways to do it.

[2021-01-22 20:14] lwerner-lshigh commented on #4045
I believe this is a CPython API as it is in the python 3 standard types [here](https://docs.python.org/3/library/stdtypes.html?highlight=__code__#code-objects). This API allows for inspection/introspection of python functions. Here is a test program from [python/cpython](https://github.com/python/cpython/blob/master/Lib/test/test_code.py).
The corresponding MicroPython issue is [#2084](https://git

[2021-01-22 20:49] kmatch98 commented on #3600
Thanks to @tannewt, he verified that the "Simple GPIO output" method is the way to proceed.  [Here is a link to a video of @tannewt's deep dive with related commentary on ParallelBus](https://www.youtube.com/watch?v=M0s_LK0K1Sk&t=1189s).

Also, in writing this code, I discovered a possible limitation of the ESP32-S2.  It seems that the ESP32-S2 does not allow writes to the registers with data size

[2021-01-22 21:54] Cyphrz commented on #3851
I'm able to confirm this issue as well.

[2021-01-22 21:57] Cyphrz opened #4050 "Remote code upload/WebREPL"
We really need the ability to upload code remotely, a webserver or maybe port WebREPL over from micropython.

My current idea is to host my code.py on a server, and have boot.py fetch the latest version on boot.

Otherwise any code changes requires a hookup to PC, and my project is out of reach without a ladder so any code changes are a pain.

[2021-01-22 22:17] askpatrickw commented on #4050
@Cyphrz  Check out the discussion in this issue https://github.com/adafruit/circuitpython/issues/3777
1. It has a PR for OTA Support of the entire CP image
2. It mentions an MicroPython FTP update library you might port and\or that you could update your local code via a CP script over HTTP.

If you're interested in other more IoT Cloud Infrastructure type approaches, ping me up on Discord.

BUT al

[2021-01-23 06:55] lowfatcode commented on #4042
@tannewt the PicoSystem display is based on the ST7798V and we run it in the 12bit mode with RGB subpixel ordering - the LCD is 240x240.

Our full init sequence is:

[code]

But if I can provide that to you in a more helpful format just ask!

We rely on the fact that the ST7789 only requires you to issue `RAMWR` once and will automatically wrap back round to the start once you've written the entir

[2021-01-23 07:04] lowfatcode commented on #4042
We'll be building our final (hopefully :D) production samples of TinyUSB and PicoSystem next week. If physical samples are useful to you then please drop me a line (jon@pimoroni.com) and I'll make sure we post some out!

Full list of boards that we're launching with RP2040 in (i guess...?) early February:

- Tiny 2040
- PicoSystem
- Pimoroni Pico LiPo: exact format of the Pico but adds USB-C, bigg

[2021-01-23 10:48] dhalbert commented on #3211
Reopened and milestone moved to 7.0.0 to remind us to remove in that release.

[2021-01-23 11:51] dhalbert opened #4053 "Simplify and regularize build shrinks"
Our efforts to shrink individual builds due to translation overflow are somewhat ad hoc. We also sometimes set `RELEASE_NEEDS_CLEAN_BUILD = 1` which slows down CI.

Thoughts about making this simpler and more flexible.
- Set `SUPEROPT_VM = 0` more uniformly for small builds.
- Allow `-O2` for `CSUPEROPT` instead of `-O3`.
- Find a benchmark for checking performance.
- Split `CSUPEROPT` setting for

[2021-01-23 14:24] #4035 closed

[2021-01-23 18:40] anecdata commented on #3420
Somewhere along the way, this got fixed.

Adafruit CircuitPython 6.2.0-beta.0 on 2021-01-22; FeatherS2 with ESP32S2
adafruit-circuitpython-bundle-6.x-mpy-20210122
[code]
now gives:
[code]
(`r.content` is `b''`)

Closing.

[2021-01-23 18:40] #3420 closed

[2021-01-23 18:48] FoamyGuy commented on #3201
fixed by #3374

[2021-01-23 18:48] #3201 closed

[2021-01-23 22:02] jfabernathy commented on #4025
FYI, I updated the UF2 to 6.2.0 beta 0 and the libs to the latest, and the results are the same.  The good news is the system continues to collect and post data regardless of PowerOn or DSLEEP exit. This is not an issue for me but the NVM in alarm.memory would be useless.

[2021-01-24 01:07] ladyada commented on #4042
@lowfatcode for the pico lipo - please add a qwiic/stemma QT (JST SH) connector? they're only a few cents and available in vertical or horizontal. people will like the board even more and we'd sell lots :) for lipo monitor you can use the LC709203, we have library code for it, works well enough.

[2021-01-24 07:37] aivarannamaa commented on #4050
IMO WebREPL (together with its file transfer protocol) is much more useful than FTP, because it gives you the REPL. In Thonny, the user experience is the same no matter whether you connected over serial or over WebREPL (at least in principle. ESP32 has some quirks but I hope these get resolved soon).

@tannewt, have you considered WebREPL for CircuitPython?

[2021-01-24 13:29] Yobmod opened #4055 "Re-adding core modules for boards that don't have them"
Hi,
I'm working on a project that will have a circuitpython board communicating with a rpi/pc over serial, and I wanted to send the data as json. This works with my m4 express airlift board, which the json library built-in.

But I now want to miniturise my set up by using a QtPy, and the json lib isn't present. Is there a guide to re-adding core modules?
I've compiled circuitpython with added modu

[2021-01-24 16:00] jepler opened #4056 "docs: support matrix: doesn't show certain modules, e.g., json"
In #4055, @yobmod observed that the built in `json` module doesn't appear in the support matrix or on circuitpython.org's list of supported modules.

This is because it is enabled/disabled by `MICROPY_PY_UJSON` in a **.h** file, rather than by `CIRCUITPY_JSON` in a **.mk** file.

It would be nice if either this was converted to work in the usual way, or **docs/shared_bindings_matrix.py** could lea

[2021-01-24 16:10] jepler commented on #4055
Hi and thanks for your question.

I filed a separate bug for the documentation issue.

It looks like there's not enough available program (flash) capacity on the unmodified QT Py to allow the addition of the json built in module.  I am not aware of a pure-python version (In CircuitPython, .mpy files are byte-compiled versions of .py files), though that doesn't mean one doesn't exist.

If you wante

[2021-01-24 16:10] #4055 closed

[2021-01-24 16:37] dhalbert commented on #4056
Related: #1900 (move json to shared-bindings), #1901 (move re to shared-bindings), #1911 (fix docs)

[2021-01-24 18:05] anecdata opened #4057 "ESP32-S2 "Out of sockets" in 6.2.0-beta.0"
Context manager __exit__ seems to be in place for socket, but:
[code]
results in:
[code]
CPython version continues past where my patience wears out:
[code]
6.1.0-rc.1 seems to behave fine.

May be related to [https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/63](https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/63)

[2021-01-24 23:47] djotaku commented on #3894
# Section 1 - Trying to find the Sparkfun board in I2C scan

Threw on yesterday's bootloader onto the Feather S2. Still no luck.

BUT...

If I put the https://www.adafruit.com/product/3243 on top of the Feather S2 while the Sparkfun board is connected, then I got (this was via the Arduino serial monitor because if the Feather S2 would crash, it would unmount and that made it hard to debug with the

[2021-01-24 23:55] ladyada commented on #3894
whats the datecode on the MCP9600 chip

[2021-01-25 00:03] djotaku commented on #3894
I looked at the chip under my magnifying glass and on there is printed:

MCP9600
E/MX (something in a circle I can't make out)
203182E

If that's not what you need and there's a way to get it in code, I can try to do that with the QTPy.

[2021-01-25 00:14] ladyada commented on #3894
k yeah that date code is good, but the chip is generally super weird, it does not play well with i2c. i'd recommend going with another thermocouple amp.

[2021-01-25 00:48] heke-pp opened #4058 "Compiling mpy-cross fails"
I am attempting to compile the mpy-cross on Linux Mint 19 Cinnamon. Python version 3.6.9. No git installed.
With make getting error:
  File "../py/makeversionhdr.py", line 72, in make_version_header
    git_tag, git_hash, ver = info
TypeError: 'NoneType' object is not iterable

In ../py/makeversionhdr.py
Seems that on line 70:
        info = get_version_info_from_docs_conf()
can return None, which

[2021-01-25 01:46] wifijt opened #4059 ".local domains returns OSError: 0"
I was trying to use the home assistant API and I ran into an issue using the homeassistant.local domain in the fetch request. This caused an OSError 0

Retrieving data...Traceback (most recent call last):
  File "code.py", line 30, in <module>
  File "code.py", line 27, in <module>
  File "adafruit_magtag/magtag.py", line 174, in fetch
  File "adafruit_portalbase/__init__.py", line 365, in fetch

[2021-01-25 01:47] djotaku commented on #3894
Does that mean it's not likely to be some quirk of the ESP32-S2 that is yet to be sorted out? I guess it's not the end of the world if I have to do my project in Arduino code since it seems to work fine there. But it 's a bummer that it works in the PyQt in Circuit Python, but not here.

Is there a K-type with the plug end (not bare wires), not MCP9600, and STEMMA QT that Adafruit sells that I jus

[2021-01-25 01:51] UnexpectedMaker commented on #3894
No, it's is an ESP32-S2 thing... but not a quirk - just an "I2C needs more work on the CircuitPython side" of things. This is not the only outstanding issue with I2C on the ESP32-S2, but this specific issue is pretty niche, so @ladyada 's suggestion of using a different device is so your project is not stalled any longer.

[2021-01-25 01:57] djotaku commented on #3894
Thanks for that reply - this is the first time I'm using a cutting edge board with either Adafruit or Arduino and so I wasn't sure if the suggestion to use another chip was an indication of where development was going. Please don't take my previous comment as whiny or ungrateful. I just read something between the lines that wasn't there. Thanks again, both the CPY team and @UnexpectedMaker  for yo

[2021-01-25 02:00] ladyada commented on #3894
all good, the MCP9600 really just isnt that great. we're hoping the MCP9601 will fix that (but it isnt available to purchase yet)

[2021-01-25 02:31] anecdata commented on #4059
`.local` domains seem to resolve in general:
[code]
One possibility is a LAN DNS proxy or something else interfering with the name resolution.

[2021-01-25 03:40] wifijt commented on #4059
Hmm it's something about the homeassistant.local mdns query because other .local domains resolve

[(0, 0, 0, '', ('192.168.1.201', 443))]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
OSError: 0

[2021-01-25 04:39] waiweng83 commented on #4034
I have gone through the software fix as suggested by the Errata here:
https://github.com/raspberrypi/pico-sdk/blob/master/src/rp2_common/pico_fix/rp2040_usb_device_enumeration/rp2040_usb_device_enumeration.c

If I didn't get it wrongly, what it does is temporary turn the GP15 into an input and override its value as 1 (So that it will not be affected by the actual state of the pin) for 1ms during U

[2021-01-25 11:35] kiate commented on #4042
Thanks for having Maker Pi Pico in the list.
We're testing it with CircuitPython. So far the only issue is GP15, as [described here](https://github.com/adafruit/circuitpython/issues/4034#issuecomment-766534771).

[2021-01-25 11:39] jerryneedell opened #4061 "ESP32S2 time.sleep(60) fails but time.sleep(15) works"
May be related to https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/63

On a SAOLA WROVER
If I run the code below with time.sleep(15)  it executes normally
but with time.sleep(60)
it executes normally for the first pass
throws and error ENOTCONN on the second pass but recovers
then fails on the thirds and subsequent passes

Am I doing something wrong?
has time.sleep() changed?
[co

[2021-01-25 13:57] dhalbert commented on #4034
We are checking whether the errata fix interferes with later use or not, as you suggested. In the meantime, you can use an alternate name for the pin, for example
[code]

[2021-01-25 14:34] dhalbert opened #4062 "nrf52: REPL is slow to appear on serial connection"
After being plugged in, and a serial connection made, it takes several seconds for the REPL prompt to appear on an nRF52840. Delay is much longer than on `atmel-samd`. Noticed on Ubuntu Linux 20.04.

May have to do with `tud_task()` call frequency. May be related to #3885.

[2021-01-25 19:22] kirk-sfe commented on #4042
@tannewt - We're jumping in and are going to take you up on the offer to help the port to our rp2040 boards. I'll follow-up via email with contacts/logistics on our end.

[2021-01-25 19:31] ladyada commented on #4042
hi @kirk-sfe please do not email, stick to github, you an open a new issue!

[2021-01-25 19:47] kirk-sfe commented on #4042
Hi @ladyada - cool. Our sw team will coordinate with Scott/this repo on the logistics to get this moving.

[2021-01-25 20:27] cmumford commented on #3894
I ran into this a lot when using my [EZ Make Oven](https://learn.adafruit.com/ez-make-oven). It basically makes the oven unusable as the app hits this exception 100% of the time and kills the app. I hacked around it, but felt it was way too hacky to submit a PR for.

[2021-01-25 21:09] Cyphrz commented on #4050
I'm not a fan of using FTP for this, as it's more complicated especially if you want it to be secure. Since Circuit python is designed for beginners it seems like having a web interface is more friendly.

I agree WebREPL is the best first step as it's already part of Micro, so it in theory should be less effort?

[2021-01-25 22:00] hierophect commented on #4057
Probably unrelated to the other issue, other than the general problem of "Hierophect is bad at sockets", ha ha. There's supposed to be a subsystem that tracks what sockets have been initialized and makes sure they shut down on reset or close, but that doesn't seem to be working here. I'll give it another spin with your code and see if I can pin it down.

[2021-01-25 22:06] tannewt commented on #3894
Does anyone know what the actual issue is? Has anyone taken a trace of the I2C to find the issue?

[2021-01-25 22:18] tannewt commented on #4034
My concern with the current fix is that it overrides the mux setting but doesn't set it back after. So, you could be using a pin and it will stop working. Since this is a USB reset, CircuitPython will likely auto-reload the VM anyway though.

We're working on a CircuitPython Learn Guide for the Pico that mirrors the book's examples. (The examples will be added [here](https://learn.adafruit.com/get

[2021-01-25 22:24] tannewt commented on #4061
I don't think this is a sleep issue. I think it has to do with @hierophect's socket changes changing the exception when a socket times out and closes. By increasing the sleep, you are giving the socket time to close. I suspect the fix is to make requests catch the error, not to change CircuitPython, because I know @hierophect did a bunch of work comparing the failure modes with CPython.

[2021-01-25 22:25] tannewt commented on #4059
I'm not sure we have mDNS enabled.

[2021-01-25 22:27] tannewt commented on #4058
Why not just install `git`?

[2021-01-25 22:31] tannewt commented on #4057
@hierophect I don't think it's your problem. I probably never made exit call close. (It should automatically.)

[2021-01-25 22:33] tannewt commented on #4025
@igrr Have you seen any issues with 4.2 coming out of sleep as PowerOn when actually woken from deep sleep?

[2021-01-25 22:37] hierophect commented on #4057
@tannewt no, it's my bad, I forgot to make Close de-register handles from the tracking array, only `reset_sockets` was doing it. I can fold the change into the SSLSocket PR.

[2021-01-25 22:44] hierophect commented on #4061
@anecdata @tannewt I'm going to track the ENOTCONN problems in this thread since it's for Circuitpython as opposed to Requests which I'm not as familiar with. Currently ENOTCONN is thrown during failed send() calls, which is not the right application of that error. I'm not sure what to replace it with yet, Cpython isn't super clear on that front.

Is the failure of some send() calls a normal part

[2021-01-25 22:56] tannewt commented on #4045
Thanks for the link to the MP issue. I'd take Damien's word that it's not an API we should add.

It seems weird to me that you want to show info about a python function in a menu. I'd expect separate metadata for "plugins" or to simply call the new function for python code that imports it.

[2021-01-25 23:15] tannewt commented on #4050
Not recently. I looked at it years ago. My impressions/feelings are:

1. I've never had a good experience provisioning over WiFi and subsequently finding a device. S2 support does simplify the first connect issue though because you could use USB.
2. When I looked last, MicroPython didn't have strong lifecycle management of WebREPL and soft reboots broke things.
3. CircuitPython has moved to a "Net

[2021-01-25 23:46] tannewt commented on #4042
Ah! We probably won't use that mode in CircuitPython because `displayio` tracks dirty areas and only updates the relevant portions. Are you connected to the display over 8 bit parallel? We'd need to implement displayio.ParallelBus for that (should be easy with PIO.)

No need to send me stuff! I'm hoping you all will test CircuitPython on the boards. (I'm a bad tester anyway.) I'll update this issu

[2021-01-26 00:01] tannewt commented on #4042
@lowfatcode Here is an example of how we init a display internally: https://github.com/adafruit/circuitpython/blob/main/ports/atmel-samd/boards/pygamer_advance/board.c#L40 I believe it's for an ST7789.

The CircuitPython driver is here: https://github.com/adafruit/Adafruit_CircuitPython_ST7789/blob/master/adafruit_st7789.py

[2021-01-26 00:56] braingram opened #4066 "RP2040 Pico - storage.erase_filesystem() does not reformat and erase"
Board: RP2040 Pico
Firmware: 6.2.0 beta and 20210126-a2ac2da build
OS: Ubuntu 20.04.1 LTS

The drive appears almost full but the files do not add up to used space. Reloading the uf2 file doesn't change the filesystem contents (I'm not sure if this should). Running "storage.erase_filesystem()" in the REPL causes the board to unmount (presumable reset) but does not auto re-mount. When unplugged and

[2021-01-26 01:38] braingram commented on #4066
It appears that running the 'nuke' example from the pico-sdk fixed this issue: https://github.com/raspberrypi/pico-examples/tree/master/flash/nuke

[code]

The bad thing is this may have erased any evidence of a bug but I'm happy to try and reproduce it if it would be helpful.

[2021-01-26 01:42] tannewt commented on #4066
Thanks for the issue! It appears `erase_filesystem` may not be working.

[2021-01-26 01:44] tannewt opened #4067 "Hook up RTC for sleeping and timekeeping"

[2021-01-26 01:50] waiweng83 commented on #4034
If there is such concern, the pin settings can be saved prior to calling the fix function and restore it after. By the way, I'm not sure whether the fix is implemented because I can't seem to find where the function _rp2040_usb_device_enumeration_fix_ is called from, in both the micropython and circuit python.

That's great. I personally do prefer circuitpython over micropython due to its huge lib

[2021-01-26 01:52] iot49 commented on #4027
Yes, this works. Sorry for the false alarm.

[2021-01-26 01:52] #4027 closed

[2021-01-26 07:21] lowfatcode commented on #4042
No we're only talking to it via SPI so it should work fine with your current setup. :-)

Roger that!

[2021-01-26 09:27] kevinjwalters commented on #4034
I'll mention @ghalfacree and @benevpi the authors of the [Get started withMicroPython on Raspberry Pi Pico](https://hackspace.raspberrypi.org/books/micropython-pico) book which has the pin 15 example in case they're interested in this.

[2021-01-26 09:33] igrr commented on #4025
There has been one report of this: https://github.com/espressif/esp-idf/issues/6179. We haven't been able to reproduce this reliably. If you have a device where this happens, please try disabling the brownout detector in menuconfig and see if there is any difference in the behaivor.

[2021-01-26 09:53] benevpi commented on #4034
We used pin 15 in the book before it was being used by the USB fix. The USB fix doesn't interfere with the examples we use, but yes, best to avoid if possible.

Ben

[2021-01-26 09:54] aivarannamaa commented on #4050
I see that updating the code can be achieved with simpler means than WebREPL. It is exactly the wireless interactive REPL I'm missing.

#1010, right? Reading this I found #3707, which mentioned "repl over BLE", which is as interesting as WebREPL.

In general, I'm suprised that given the educational goals of CircuitPython, the interactivity (both in entering commands and observing debug output) is

[2021-01-26 13:03] ecasadod commented on #231
I'm using that method to interface with a desktop program on my DynOSSAT-EDU. That program opens the COM port and writes bytes to it, and the CircuitPython board should receive them and act in consequence in a non-blocking way. It mostly works, but I found a problem: the moment I get a Ctrl-C or Ctrl-D byte (0x03 or 0x04) in a frame and read it using sys.stdin.read(), the program closes throwing a

[2021-01-26 13:27] dhalbert commented on #231
@ecasadod To get around this problem, we have near-term plans to add an optional secondary CDC channel that does not connect to the REPL: #3853.

[2021-01-26 14:39] kevinjwalters commented on #3853
For reference, this may well be of interest for this user and anyone who finds this question: [How to do non blocking usb serial input in circuit python?](https://stackoverflow.com/questions/65647986/how-to-do-non-blocking-usb-serial-input-in-circuit-python/65736367).

[2021-01-26 17:54] #1911 closed

[2021-01-26 17:54] #4056 closed

[2021-01-26 18:38] #4034 closed

[2021-01-26 19:38] hierophect commented on #4061
@jerryneedell I get a `TypeError: This library requires a WiFiManager object.` when executing your code.

[2021-01-26 20:39] tannewt commented on #4034
It should be reset like all other pins before the VM runs and after.

[2021-01-26 20:42] tannewt commented on #4025
@jfabernathy do you want to try checking the brownout settings? I'm not sure if it's on or not.

[2021-01-26 21:07] tannewt commented on #4050
Yup! #1010 is the related issue.

It's optional for a number reasons:
1. Requiring an IDE increases the complexity and time to get started.
2. You can be interactive with an output on the board and a text editor without serial (such as blinky.) Being interactive with the board is more engaging than serial printing anyway.
3. You can copy example code to the device without an IDE. (Folks know how t

[2021-01-26 21:52] jfabernathy commented on #4025
@tannewt Not sure where in CircuitPython you would set brownout settings?

[2021-01-26 23:01] benetherington opened #4073 "Add shown_group property to DisplayIO.display"
Hey folks! This might be a heavy lifter, and I really wish I had enough C knowledge to even get started on a PR for this requested feature.

Currently, display.show() is the only available interaction with the group displayed on a DisplayIO device. If you want to interact with that group, you need to keep track of it somewhere. I'm working on a project that is split into multiple modules, and it's

[2021-01-27 00:56] ilium007 opened #4074 "Porting APDS-9930 library"
I would like to look at porting the APDS-9930 python library to circuit python. I am building some boards for an automation project that will use the APDS-9930, I don't need RGB sensing and the 9930 is more that 2 times cheaper than the 9960. I am hoping I can use the 9960 library as a framework. Do "non Adafruit" hardware libraries ever get pulled into this repo? I am looking at using circuit pyt

[2021-01-27 00:56] ilium007 commented on #4074
Python APDS-9930 here:
https://github.com/Depau/python-apds9930

[2021-01-27 01:04] jepler commented on #4074
Have a look at our guide [Creating and Sharing a CircuitPython Library](https://learn.adafruit.com/creating-and-sharing-a-circuitpython-library/overview).  We'd love to see your library contributed to the CircuitPython "Community Bundle", which includes drivers written by 3rd parties for hardware Adafruit doesn't sell or support.

Consider dropping by [our Discord](https://adafru.it/discord) or us

[2021-01-27 01:04] #4074 closed

[2021-01-27 03:21] Akash0612225505 opened #4076 "Oyt"

[2021-01-27 12:45] netroy commented on #3414
Another attempt https://github.com/adafruit/circuitpython/pull/4077

[2021-01-27 13:53] #4076 closed

[2021-01-27 19:41] tannewt commented on #4025
You can get to menuconfig by doing `make BOARD=<board name> menuconfig`. It should be in the menu there somewhere. (Make sure you build the board once before running menuconfig and then clean after you do. It's a bit finicky.)

[2021-01-27 19:45] tannewt commented on #4073
I don't think we need to change CircuitPython for this. Instead, I'd recommend wrapping the display object in another class that does the grab and release tracking for you. That way the clock class can focus on rendering itself.

[2021-01-27 19:45] #4073 closed

[2021-01-27 20:11] jfabernathy commented on #4025
oh no!, this sounds like I need to setup to build CP again, which is what hosed my Linux system last time.  I might not be able to help you then on this part. BTW, I got my ESP32 Feather in Monday and quickly installed my Arduino version of my app and it's working flawlessly. I put in the loopcount test for NVM and it worked perfectly for 12 hours before I stopped. i'll probably use the Meto ESP32

[2021-01-27 20:41] makermelissa opened #4079 "ESP32-S2: No I2C device at address error after reset when using board.I2C()"
It works from a cold boot, but after a Control-D reset, it doesn't find a device anymore until the next cold reboot. Tested with the ESP32-S2 Metro and SHTC3 using absolute Newest CircuitPython.

[2021-01-27 22:18] tannewt opened #4081 "Reset time.monotonic every VM reset"
To do this, we can store the internal tick time that the vm starts up and subtract it from the current time before returning monotonic. This way the resolution will reset with the VM and also be agnostic to depending on the RTC value.

[2021-01-27 22:24] makermelissa commented on #4079
I just tried this with the new 6.2 Beta 1 and the issue appears to be gone.

[2021-01-27 23:30] caternuson opened #4082 "Raspberry Pi Pico I2C issue with TCS34725"
Re this thread:
https://forums.adafruit.com/viewtopic.php?f=60&t=174668

Maybe some weird edge case for this hardware combo? Used an Itsy M4 as a sanity check and it works fine there. Tested via REPL doing essentially the same I2C transaction as the library.

![setup](https://user-images.githubusercontent.com/8755041/107554179-735bff80-6b8a-11eb-9245-31eebc949a04.jpg)

**RPi pico**
[code]

![image

[2021-01-27 23:35] fancellu commented on #3841
Ditto for me, neither 6.1.0 or 6.2.0-beta.1, they get to the end, no errors show, but no rainbow and fomu flashes red, no usb drive appears

[code]

dfu-util -l says

[code]

[2021-01-28 12:44] jfabernathy commented on #4025
@tannewt I got lucky.  The system where I originally built the debug build of CP was undisturbed so I just did a git pull on the CP git directory and it update to 6.2.0-beta 1.
So which program do you want me to test, the minimal one that only increments NVM and deep sleeps?

[2021-01-28 14:20] ThomasAtBBTF commented on #4046
Just for your information:
In CP 6.2.0-beta.1 there is no hard fault anymore...
But the code "hangs" for one minute or two in
  i2c.scan()
after that the board reboots.

[2021-01-28 14:53] jfabernathy commented on #4025
brownout was enabled at the first voltage setting, I think 2.44

[2021-01-28 14:57] dhalbert commented on #4025
Try with `CONFIG_ESP32S2_BROWNOUT_DET` disabled (you are probably already going to do that). The 2.44V is interesting: if it's that problem, it's not that we're triggering too easily.

[2021-01-28 15:00] jfabernathy commented on #4025
@dhalbert is CONFIG_EPS32S2_BROWNOUT_DET disable in the build with menuconfig?

[2021-01-28 15:12] jfabernathy commented on #4025
Here's what I changed in menuconfig:
→ Component config → ESP32S2-specific I disabled
 Hardware brownout detect & reset.  It was enabled previously and set to 2.44 in the submenu
Then after disabling I built the .uf2 to test

[2021-01-28 15:14] dhalbert commented on #4025
To test this, you can just set
[code]
in `ports/esp32s2/esp-idf-config/sdkconfig.defaults`. I checked this by putting an `#error` in `esp-idf/components/esp32s2/cpu_start.c`:
[code]

I didn't bother to use the menuconfig "GUI".

[2021-01-28 15:33] jfabernathy commented on #4025
I'm hoping what I did still achieves the goal.   I now have that firmware.uf2 installed in my ESP32S2 Metro

I'm running my simplified deep sleep and increment counter test, powered by a USB power brick and posting the loop count to UART on pins 5/6. I'll try the test with a 10 second deep sleep first and see how high I get, then use a 60 second.
code:
[code]

[2021-01-28 16:20] dhalbert commented on #3986
@tannewt @hathach I tested this on a variety of boards with 6.2.0-beta.1. On the problem boards, the writes are severely delayed or never complete. The different behaviors may help in debugging.

Metro M0 Express (SAMD21): problem: finishes, but `/var/log/syslog` shows USB issues
Metro M4 Express (SAMD51): problem: finishes, but `/var/log/syslog` shows USB issues
Feather STM32F405: problem: gets c

[2021-01-28 16:49] jfabernathy commented on #4025
The brownout enabled may have been causing the issue.  I ran the 10 minute loop of the program above until it reached 125.  I think changed it to 60 minutes and hooked the board up to power from the barrel connector and I have my Raspberry Pi 4 logging the Debug UART port and also the UART on pins 5/6.

I just checked and we are up to 25 minute/loops without a PowerON exit from deep sleep.  All ex

[2021-01-28 17:48] hathach commented on #3986
thanks @dhalbert , I will take a break from rp2040 and switch to troubleshoot this tomorrow. There are a few of RP2040 usb issues (usbnet, webusb etc..) though those will probably take time since I will need to go through datasheet reading. Will ping you if I could find out anything.

[2021-01-28 19:02] Larrxi opened #4085 "ESP32S2 TCP Server: Error EAGAIN on socket.accept()"
I try to start a TCP server on my Lilygo TTGO T8 ESP32-S2 with display.

[code]

I am using the code from here:
https://gist.github.com/hierophect/5bb6133a69f8395841531013d46d2703

[2021-01-28 19:37] tannewt commented on #3841
@xobs can you make a PR now? If you get the unicorn again please share the full url. I get this if I'm on the wrong base branch.

[2021-01-28 19:40] tannewt commented on #3986
@hathach Make sure and read the discussion on #4075 too.

[2021-01-28 19:43] tannewt commented on #4025
@jfabernathy Thanks! @igrr it does seem related to the brown out detector.

[2021-01-28 20:18] bspsbee opened #4086 "ulab: unexpected result of ulab.numerical.std(list)"
Running the benchmark code from [A Simple Benchmark](https://learn.adafruit.com/ulab-crunch-numbers-fast-with-circuitpython/a-simple-benchmark)

From `adafruit-circuitpython-itsybitsy_m4_express-en_US-6.1.0-rc.0.uf2` forward, the result of `ulab.numerical.std(nums_list)` is larger than expected. 35358 instead of 3535.

First observed on Raspberry Pi Pico.

Tested release versions on ItsyBitsy M4:

[2021-01-28 20:47] jepler commented on #4086
@v923z can you take a look?

[2021-01-28 21:05] jfabernathy commented on #4025
@tannewt One more post before happy hour. (us retirees can start happy hour anytime we want)
My increment and deep sleep test has worked without PowerON problems for over 261 minutes. That's higher by a lot from what I remember.
I also put the new firmware.uf2 onto my other Metro that is setup for remote temperature humidity logging.  That system post everything via mosquitto/ nodered to an influx

[2021-01-28 22:54] kmatch98 commented on #3391
Here's a [GUI related topic](https://github.com/adafruit/Adafruit_CircuitPython_DisplayIO_Layout/issues/3) in the libraries.

[2021-01-29 01:04] makermelissa commented on #4079
I was able to recreate this in 6.2.0.beta-1. It happens when you use board.I2C(), but appears to function fine if you use busio.I2C(board.SCL, board.SDA).

[2021-01-29 01:05] makermelissa commented on #4079
It also continues misbehaving even after switching to the busio method until you hard reset.

[2021-01-29 02:15] makermelissa commented on #4079
I can't get this to work at all anymore. Even after a deep sleep it fails.

[2021-01-29 05:58] ThomasAtBBTF commented on #4079
This seems to be a similar problem as described in https://github.com/adafruit/circuitpython/issues/4046

[2021-01-29 07:08] v923z commented on #4086
@bspsbee Thanks for bringing up the issue and the detailed report!

@jepler It seems to me that this crept in between 6.1.0-beta.1, and 6.1.0-rc.0. Can you point me to the `ulab` commit tags that you link to for these two versions? You found a small glitch with the `std` function a while ago, and I am pretty sure that I messed up something, when I tried to iron that out.

[2021-01-29 09:41] aallan commented on #4034
The fix is only used for less than 1ms during enumeration and power on, for CircuitPython it’s unlikely you’ll have another serial port running — and another serial port is the main trigger for the bug. Also for basic GPIO it’s probably not an issue at all, it would only really be a problem if it’s assigned to a peripheral.

The fix will not output anything to the pin, but it will stop the output

[2021-01-29 14:59] jepler commented on #4086
I think the refs are ...
[code]
there are a lot of ulab commits in that range, because CircuitPython had fallen behind.
[code]

[2021-01-29 15:24] v923z commented on #4086
@jepler Thanks! I have found the glitch, the fix is on the way. I'll ping you, once it is ready.

[2021-01-29 15:44] jepler commented on #4086
Excellent, thank you!  I'll pull-request the updated legacy branch into our main branch.

[2021-01-29 16:41] tannewt commented on #4034
@aallan I think you are assuming that USB is init on power up. That's not generally true though because we'll start to see battery powered boards where USB is connected later. (CircuitPython is likely to restart user code after USB starts though so the impact will be short lived.) I think the fix could be improved to reset the pin function back to the original value. As-is I don't think it changes

[2021-01-29 17:09] hierophect commented on #4085
I think this is probably because the Server Socket PR inadvertently changed the default timeout of sockets to 0 instead of None. You could try increasing the timeout with `settimeout(None)` or try #4049 which will revert to a no-timeout default.

[2021-01-29 17:45] #4086 closed

[2021-01-29 18:29] jfabernathy commented on #4025
FYI, over 24 hours continuous without any resets. Both boards under test running fine. I'll report in on Monday

[2021-01-29 19:34] jamesbowman opened #4091 "Missing sys.platform on raspberrypi ports"
``sys.platform`` is missing from the raspberrypi ports.

I started to make a PR, with ``#define MICROPY_PY_SYS_PLATFORM`` in ``mpconfigport.h``. However, it seems to require some thought. According to the docs for ``sys.platform``:

(This is exactly what I want it for... to distinguish between boards in the Gameduino driver and assign the appropriate default IO pins.)

So it should be different fo

[2021-01-29 19:48] dhalbert commented on #4091
`sys.platform` usually just indicates the chip that's used, not the individual board. That documentation could be phrased better. Take a look at `sys.uname()`, which provides board info:
[code]

[2021-01-29 20:17] dhalbert commented on #4091
`os.uname()` on a Pico:
[code]

[2021-01-29 20:22] jamesbowman commented on #4091
Excellent, thanks.

So should I send a PR with:

#define MICROPY_PY_SYS_PLATFORM "rp2040"

for the raspberrypi ports?

[2021-01-29 20:23] dhalbert commented on #4091
Yes, that would be good, in `mpconfigport.h`

[2021-01-29 20:24] dhalbert commented on #4091
Use `RP2040`, capitalized, because that's the chip designation.

[2021-01-29 20:45] hierophect commented on #4061
I've been working on this more in my #4049 PR build. Here are the results I get, with extra debug information added from the C level:
[code]

Successful sends are spaced out, but when failures occur, they happen in a constant stream with no delays. There are a couple things I find confusing about this.

- When creating sockets one at a time in a separate test, I observe that we have a max of 4 (ba

[2021-01-29 20:47] brentru opened #4093 "ConnectionError when attempting to connect to a known SSID (6.2.0b1)"
wifi.radio.connect() call seems to improperly raise a `ConnectionError: No network with that ssid` even when the SSID is found by a WiFi scan.

Platform: `Adafruit CircuitPython 6.2.0-beta.1 on 2021-01-27; Adafruit MagTag with ESP32S2`
Code
[code]

Output:
[code]

[2021-01-29 20:52] hierophect commented on #4061
I can also confirm none of this happens with time.sleep(15) either - it just uses socket 60 happily over and over with no failures or new sockets created.

[2021-01-29 20:58] brentru commented on #4093
I tried this on a Metro ESP32S2 running the 6.2.0b1 and it connected to my SSID. Might be  Magtag-specific

Platform: `Adafruit CircuitPython 6.2.0-beta.1 on 2021-01-27; Adafruit Metro ESP32S2 with ESP32S2`

[2021-01-29 21:06] CedarGroveStudios opened #4094 "Add optional pin pull.UP/DOWN to countio.Counter for open-collector sensors"
Would it be possible to add an optional pin _pull.UP_ attribute to _countio.Counter_? The capability would accommodate a variety of digital sensors with open-collector outputs, eliminating the need for an added pull-up resistor.

[2021-01-29 21:18] anecdata commented on #4093
Others have reported it on Discord. I've seen this on rare occasions on other esp32-s2 boards and prior releases, chalked it up to intermittent wifi issue since it usually recovers on subsequent retries. Does your exception persist?

[2021-01-29 21:19] brentru commented on #4093
It does persist between retries and router restarts. Tried connecting to a new WiFi network I spun up on my phone, same issue.

[2021-01-29 21:21] jerryneedell commented on #4093
@brentru Is this with NINA 1.7.1?
I do see occasional failed connects even if the SSID is in the scan, but it always recovers on retry.

[2021-01-29 21:23] jerryneedell commented on #4093
Sorry -- this is on an S2  --- I'm not sure if I have seen the failed connects or not on S2.

[2021-01-29 21:28] anecdata commented on #4093
`NO AP FOUND` is an "Espressif-specific Wi-Fi reason-code: when the station fails to scan the target AP, this reason code will be reported." there is the explicit scan you do in your code, but the esp32-s2 also scans implicitly when connecting, there could be a bug in the IDF. Just curious... does it also happen if you don't do an explicit scan before connecting (ruling out a bug in our stop_scann

[2021-01-29 21:32] jerryneedell commented on #4093
BTW -- I just compiled from the tip of main 6.2.0-beta.1+ for metros2  and was able to connect ok
not seeing any failed connect/retry -- yet

[2021-01-29 21:35] anecdata commented on #4093
I haven't seen this yet with >=`6.2.0-beta.1`, but then I'm <10' from the AP and RSSIs are in the -30s to -40s.

[2021-01-29 21:42] jerryneedell commented on #4093
Also just ran it on a MagTag with out any problems ...

[2021-01-29 23:08] Larrxi commented on #4085
With settimeout -1 it give other error EATIMEOUT or something and it did print out the client IP address.

I then try with #4049 (without settimeout) and now it proceeds further:

[code]

The client gets:
`Received b''`

[2021-01-29 23:16] hierophect commented on #4061
I think this might actually be a Requests library error after all? Does this line seem like it could be a potential socket leak? The debug output suggests that sockets are not being closed properly - I think what's happening here is that the first call creates a new socket, then the second one tries to re-use that socket and fails, but doesn't close it. I still don't know why the sockets are incre

[2021-01-29 23:41] moto-timo commented on #2202
Would be great to have a common TLS approach.

[2021-01-30 00:24] RyannDaGreat commented on #4020
Please - somebody implement sdioio lol - I really need it for my project

[2021-01-30 08:29] RyannDaGreat opened #4097 "Teensy 4.1: "True==False" crashes CircuitPython"
So does 1==True, True==1 etc. There's no stack trace; it simply reboots.
I'm using adafruit-circuitpython-teensy41-en_US-6.0.0-rc.2.hex

[2021-01-30 13:35] dhalbert commented on #4097
I loaded 6.00-rc.2, 6.1.0, and 6.2.0-beta.1 on a Teensy 4.1, using the [Teensy Loader GUI app](https://www.pjrc.com/teensy/loader_linux.html) on Ubuntu 20.04. These simple tests work for me:
[code]
Please try one of the latest .hex's.,
How are you loading the .hex? I'm thinking you are getting an incomplete load or something like that.

[2021-01-30 15:49] AnchorageBot opened #4098 "RPI Pico 'module' object has no attribute 'ADC"
using _board.ADC(4)_ throws an error in Mu. Am attempting to convert the ADC temperature example on page 13 of the Raspberry Pi Pico Python SDK to CircuitPython. Have also posted in the Adafruit Forum and Discord

`import machine
import utime

sensor_temp = machine.ADC(4)
conversion_factor = 3.3 / (65535)

while True:
    reading = sensor_temp.read_u16() * conversion_factor
    temperature = 27 -

[2021-01-30 16:11] dhalbert commented on #4098
Answered in forum: https://forums.adafruit.com/viewtopic.php?f=60&t=174784&p=851901#p851901

The forum or discord is appropriate for support questions like this. Please don't cross-post so many places at once.

[2021-01-30 16:11] #4098 closed

[2021-01-30 17:51] gc-elec opened #4099 "ld syntax error when trying to build for M4 with internal flash"
Hello,

I designed a custom board prototype based on ATSAMD51G19A and I try to build CircuitPython for it.
I can build without problem with external flash enabled, but I need a build with internal flash too.
When I try to build with INTERNAL_FLASH_FILESYSTEM = 1, I get an ld error :

[code]

Here is the common.ld file generated : [common.ld.zip](https://github.com/adafruit/circuitpython/files/5898

[2021-01-30 17:53] ladyada commented on #4099
can you submit a draft PR for the board - that was we see the config (and then we could also get it included anyways)

[2021-01-30 18:05] dhalbert commented on #4099
I have a vague memory of trouble in the past when I used the division operator `/` in an `ld` script. Try rewriting any constants you specified without using division. But please also let's see your configuration files, as @ladyada suggests.

[2021-01-30 18:28] gc-elec commented on #4099
Thanks for your quick reply, I just finished preparing the requested [PR draft](https://github.com/adafruit/circuitpython/pull/4100).

I'll try removing the divisions from the ld script, but I'm not sure where I should do this so that I don't break anything for the other boards?

[2021-01-30 18:28] dhalbert commented on #4099
What does `arm-none-eabi-ld --version` print? I think this may have a been a bug in `ld` that was fixed.

[2021-01-30 18:36] gc-elec commented on #4099
Here is the version text from ld :

`
GNU ld (2.27-9ubuntu1+9) 2.27
Copyright (C) 2016 Free Software Foundation, Inc.
This program is free software; you may redistribute it under the terms of
the GNU General Public License version 3 or (at your option) a later version.
This program has absolutely no warranty.
`

[2021-01-30 18:39] dhalbert commented on #4099
Yes :smile: . You should be using the ARM 2010 tool chain. Did you read and follow https://learn.adafruit.com/building-circuitpython ?

[2021-01-30 19:01] gc-elec commented on #4099
Yes, but it was long ago when I build 4.x for SAMD21
I just updated the building environment to
`GNU ld (2.34-4ubuntu1+13ubuntu1) 2.34
Copyright (C) 2020 Free Software Foundation, Inc.
This program is free software; you may redistribute it under the terms of
the GNU General Public License version 3 or (at your option) a later version.
This program has absolutely no warranty.
`
No more syntax error

[2021-01-30 19:08] dhalbert commented on #4099
`CIRCUITPY_SMALL_BUILD` no long is functional. So you'll need to turn off modules you don't need in `mpconfigboard.h`. You can leave `CIRCUITPY_FULL_BUILD` on or turn it off and then turn on the modules you want. It's probably easier to leave it on and disable modules. Or you could reduce the size of the internal filesystem.

[2021-01-30 19:10] dhalbert commented on #4099
This has turned into a support issue. We'll just close it when your build succeeds.

[2021-01-30 19:29] dhalbert opened #4101 "SocketPool.Socket.__hash__() is not immutable"
`__hash__()` was added to `Socket` so a `Socket` could be put in a dict, for use in the `adafruit_requests` library. However, the hash used is not immutable, and changes when the socket is closed.

The hash returned could be `id()`, to make it immutable.. However, it might be worth looking at whether the use of `Socket` in `adafruit_requests` really needs a dictionary. I see two uses: `._open_sock

[2021-01-30 19:43] hierophect commented on #4101
@dhalbert as a follow up to our conversation, just noting that returning `(mp_uint_t)self` for `common_hal_ssl_sslsocket_get_hash` does solve the keys issue in #4061, as predicted (I don't know if that's how I'm supposed to code it though, can I use `id` in the shared-bindings layer?). You mentioned you were concerned about other instances where the ID could change unexpectedly, making the hash mu

[2021-01-30 19:48] dhalbert commented on #4101
The only other issue is this: #2687, which I think is not applicable. You could try the fix above, and see how it works.

You can can return `mp_obj_id()` to get the id value for the hash. I would think it's OK to do that in shared-bindings, because calling that function is kind of like calling a common-hal function: it's executing the value.

[2021-01-30 19:53] gc-elec commented on #4099
I disabled a lot of modules (almost everything I found in circuitpy_mpconfig.h) but I still have an overflow and undefined references to neopixel :
`
/usr/lib/gcc/arm-none-eabi/9.2.1/../../../arm-none-eabi/bin/ld: build-0_m4/firmware.elf section `.text' will not fit in region `FLASH_FIRMWARE'
/usr/lib/gcc/arm-none-eabi/9.2.1/../../../arm-none-eabi/bin/ld: region `FLASH_FIRMWARE' overflowed by 6847

[2021-01-30 20:00] dhalbert commented on #4099
You are still using gcc9. Upgrade to the gcc10 toolchain, as suggested. That will gain you some (not a lot) of space. Disable `CIRCUITPY_ULAB`. Take a look at the other disabled modules for similar boards to yours, such as `kicksat-sprite`.

Note this important change:
[code]

SAMD51 is now normally compiled with -O2, which makes for considerably larger code.

You disabled `neopixel_write`, which

[2021-01-30 20:09] dhalbert opened #4102 "Refine neopixel timing"
Users have seen some glitches writing NeoPixel strings on SAMD51 with CircuitPython. I took some timings in July 2020 of the NeoPixel one and zero waveforms, both for the Arduino code and `neopixel_write`. It seems like some SAMD51 times could be adjusted

![image](https://user-images.githubusercontent.com/2847802/106366900-eb196700-630c-11eb-8b05-8d79b58797dd.png)

@PaintYourDragon You mentioned

[2021-01-30 20:18] hierophect commented on #4061
This turned out to be a 4(!) part issue:

- The very first problem was that `Failed SSL handshake` was being mis-reported as `[Errno 128] ENOTCONN` by `send()`. That was my bad, it just needed some extra code to check the MbedTLS errors properly.
- The first "real" problem, which, jerryn was encountering, was that only `_SendFailed` exceptions were being caught when Requests made a `send_request`.

[2021-01-30 20:48] PaintYourDragon commented on #4102
Revisiting NeoPixel timing is One Of Those Things I’ve Been Meaning To Get Around To But There’s Always More Pressing Issues. The “1/3 - 2/3 rule” isn’t so much a rule as just a hacky thing that seemed to work for Adafruit_NeoPixel_ZeroDMA and Adafruit_NeoPXL8 but isn’t grounded in science, datasheets, or anything else. It might fall apart on really long runs, I haven’t checked.

Because datasheet

[2021-01-30 21:09] anecdata commented on #4061
I may be recalling wrong, but I thought default `CONFIG_LWIP_MAX_SOCKETS` was 10, and we bumped it down to 4 (maybe to save memory)? Having only 2 usable TLS sockets doesn't leave much headroom.

[2021-01-30 21:11] hierophect commented on #4061
@anecdata I think you're right, but I wasn't the one who lowered the max so I don't know how much of a memory drag it is.

[2021-01-30 21:21] anecdata opened #4103 "ESP32-S2: Configurable resources based on board RAM"
Is it possible to have multiple configs for RAM, like we do for flash `circuitpython/ports/esp32s2/esp-idf-config/` so that boards with more RAM could be allocated more resources, like more sockets, more pystack, etc.?

[2021-01-30 21:25] dhalbert commented on #4103
The nRF ports do RAM allocation to set aside RAM for use by the nRF SoftDevice and to allocate RAM for a SPIM3 buffer (a hardware bug workaround):
https://github.com/adafruit/circuitpython/blob/70a5f464df709737fb90a9ab69baf08671c8f383/ports/nrf/boards/common.template.ld#L21-L31.

[2021-01-30 21:28] anecdata commented on #4103
We have `CONFIG_SPIRAM_SIZE`  in board-by-board `sdkconfig`, but it seems if other resource parameters are board-by-board, capabilities may fragment and be harder to troubleshoot when issues arise.

[2021-01-30 22:54] dhalbert commented on #4101
In CPython sockets, `socket.fileno()` will return -1 if the socket is closed. So we could implement that (just return `.num`).

[2021-01-30 23:03] theacodes opened #4104 "USB PID request: Winterbloom Binary Star"
Hi friends. I'll be sending a PR here and over at uf2-samdx1 to add Binary Star's configuration. Could I have a set of PIDs please? 😺

![please](https://user-images.githubusercontent.com/250995/106370166-730b6b00-6325-11eb-9a3b-f3fcc6805339.gif)

[2021-01-30 23:11] dhalbert commented on #4091
Fixed by #4092

[2021-01-30 23:11] #4091 closed

[2021-01-30 23:19] dhalbert commented on #4104
Winterbloom Binary Star,bootloader,0x239A,0x00F5
Winterbloom Binary Star,arduino,0x239A,0x80F5
Winterbloom Binary Star,circuitpython,0x239A,0x80F6

[2021-01-30 23:19] #4104 closed

[2021-01-30 23:21] theacodes commented on #4104
Many thanks!

On Sat, Jan 30, 2021 at 6:19 PM Dan Halbert <notifications@github.com>
wrote:

[2021-01-31 00:37] gc-elec commented on #4099
I followed the guide again to use the exact version of the toolchain, and added the optimization flags but I still exceed the allowed size by almost 13 kb
[code]
I disabled more modules than kicksat-sprite but still oversize :(

I also noticed a lot of multiple definitions notices from ld, is this expected?
[code]

[2021-01-31 14:19] gc-elec commented on #4099
I followed the guide again and then noticed I did a mistake when rebasing my local repo.
Now everything is clean and up to date, but I'm still oversized by 39 kb :(

[code]

[2021-01-31 14:22] dhalbert commented on #4099
Push to your own repo and I will take a quick look. You only have 512kB of flash, so only 256kB for firmware, so you want to choose modules that, say, an M0 Express would pick.

[2021-01-31 14:28] street-grease-coder commented on #3948
@ladyada they shipped out samples to some makers on youtube, ahead of world wide release time

[2021-01-31 14:49] gc-elec commented on #4099
Ok, I pushed to my repo with the latests changes.
I saw that the PR triggered a new build on your side which shows the failing and the 39 kb oversize.
I disabled the I saw disabled for the kicksat-sprite but I missed CIRCUITPY_AUDIOMP3 and CIRCUITPY_BLEIO_HCI.
I'll try desabling these two but I could need CIRCUITPY_AUDIOMP3 later.

[2021-01-31 15:00] gc-elec commented on #4099
Aaaaand it PASS :)
With CIRCUITPY_AUDIOMP3 and CIRCUITPY_BLEIO_HCI disabled, the build passed.
I pushed to my repo and I'll try it on the board.

Thank you very much for your time and help :)

[2021-01-31 15:15] dhalbert commented on #4099
Great! Before you make the final PR, could you add a "manufacturer", and change the board name to something more descriptive? Also maybe do some rebasing to clean up the commits (and/or start a new PR).

[2021-01-31 15:59] gc-elec commented on #4099
Yes, I will clean up everything.
I didn't planned to do the final PR yet because the board is still in an early stage (need to fix some mistakes on the PCB and pin assignments) and I will have to troubleshoot the flash chips I have (only one out of 3 boards have the flash chip detected, I don't know why yet).

[2021-01-31 16:04] ladyada commented on #3948
@street-grease-coder hi what are the specific links for folks who have em?

[2021-01-31 17:45] street-grease-coder commented on #3948
@ladyada  can I pm you somehow?

[2021-01-31 17:46] ladyada commented on #3948
nope

[2021-01-31 17:54] street-grease-coder commented on #3948
https://www.youtube.com/watch?v=tcrFiZuUi18
https://www.youtube.com/channel/UCu7_D0o48KbfhpEohoP7YSQ
I would include more details, but not here, hope that's useful to you anyways..

[2021-01-31 18:03] ladyada commented on #3948
hi - that video is esp32-c3 not s3?

[2021-01-31 20:49] mlewus opened #4106 "multicore access on Raspberry Pi Pico"
The Pi Pico has 2 physical cores, but only one core is usable in CircuitPython. Micropython has limited multicore functionality when used with the pico, allowing the user to start a separate task while passing variables in the task call, like this:

[code]
mytask runs independently of the main mcu core, and runs until it returns or mcu reset.

Is this planned for inclusion in Circuitpython?

[2021-02-01 03:50] #3414 closed

[2021-02-01 03:52] tannewt commented on #4094
What are some example sensors? How much does the resistor value matter? It's usually better to be explicit with an external value.

[2021-02-01 03:55] tannewt commented on #2202
We could have the ssl module actually do SSL over the wrapped socket.

[2021-02-01 03:59] tannewt commented on #4103
Note that right now we don't use external ram for sockets or pystack. We simply use all external RAM for the CP heap. To allow for more sockets, we'd need to change how RAM is shared between CP and the IDF. Basically now we don't tell the IDF about it. In the future we could tell the IDF and then allocate the heap through the IDF.

One wrinkle is that then the IDF memory may not be DMA-able so for

[2021-02-01 04:07] tannewt commented on #4106
It isn't a short-term goal. We have many other APIs to implement before we do multi-core.

I'm considering an API to facilitate running native code on the second core instead of additional Python. What are you using it to do?

[2021-02-01 04:16] CedarGroveStudios commented on #4094
Before trying _countio_, an internal pull-up was sufficient to work with both optical and hall-effect interrupter sensors. The pull-up value is not critical for most low to medium-speed applications like motor RPM. Don't know if the internal pull-up value provides enough current for the speed of a remote control IR sensor.

Sensors tested:
Hall-Effect:  [https://www.adafruit.com/product/158](url)

[2021-02-01 09:51] RyannDaGreat commented on #4097
Thank you - I tried reflashing CircuitPython and now it works for some reason lol. I guess it got corrupted somehow

[2021-02-01 10:00] codemicro commented on #4034
Should this be mentioned in docs somewhere (maybe [here](https://circuitpython.readthedocs.io/en/latest/ports/raspberrypi/README.html)), or is this a temporary thing? It's caused me some issues on `6.2.0-beta.1` and I feel like it'd be helpful for it to be documented if it's going to be a bug that sticks around for a while.

[2021-02-01 11:09] gc-elec commented on #4099
Hello again
Now that the internal flash build works and the board is usable, I'm trying to make the external SPI flash operational.

I'm not sure if I could ask here or open a new issue?

I use the GD25Q64CSIG chip connected with the same pins as on the Feather M0 Express :
![flash pins](https://user-images.githubusercontent.com/78273164/106450405-70c02280-6485-11eb-84d9-5a477d76cde0.jpg)

I succe

[2021-02-01 12:21] jfabernathy commented on #4025
Well it's been 3.6 days without issues and I need to re-purpose this board. Do you think this Brownout Reset disable will go into the normal release for both Metro ESP32S2 and Magtag?

[2021-02-01 13:50] #4097 closed

[2021-02-01 14:20] Larrxi commented on #4085
Okey it works when, before connecting socket, setting socket.settimeout(None).
Thanks!

[2021-02-01 14:22] kevinjwalters commented on #3876
I'm thinking this was most likely to be `read(65535)` against a source producing about 36 bytes a second. I'll close this for now.

[2021-02-01 14:22] #3876 closed

[2021-02-01 14:55] kmatch98 commented on #3600
Closed with #4047

[2021-02-01 14:55] #3600 closed

[2021-02-01 15:17] hierophect commented on #4085
@Larrxi no problem. Note that since #4095 has now been merged, you shouldn't even need to take that step anymore on the most recent builds, as the default behavior has been returned to a timeout of None.

[2021-02-01 15:17] #4085 closed

[2021-02-01 15:20] hierophect commented on #3836
I think I linked this by accident? $4095 is only tangentially related. I think I meant to link #4085?

[2021-02-01 15:28] hierophect commented on #4101
@dhalbert you mean, keep the hash as returning `id()` so it isn't mutable, but implement `socket.fileno()` so we can still access the socket number? I think `fileno` was on my list anyway, along some of the other "filler" functions in socket.

[2021-02-01 15:35] dhalbert commented on #4025
@igrr Seems like we should disable brownout. Do you think we only need to do so before deep-sleeping, or should we disable it all the time? Thanks.

[2021-02-01 15:39] dhalbert commented on #4101
Yes, keep using `id()`. But if we implement `.fileno()`, can we take advantage of the fact that it returns `-1` when the socket is closed, rather than keeping local state about that? It's really a question about what the requests library can do with it.

[2021-02-01 15:40] hierophect commented on #4101
I tried using `hash()` on Cpython's sockets, and it seems to work fine. It's not related to the result of `fileno` of course, as that's also mutable in Cpython. I can't find any takes online about whether it's advisable to use Sockets as keys, though.

[2021-02-01 15:47] hierophect commented on #4101
@dhalbert if you mean internal state within the Requests library, I think so, yes. We create a `sock->num` in C when the socket is created, and set it to -1 when closed, and that's all that `fileno` would be returning. The only potential issue is that TLS sockets don't strictly need to have the original socket open to keep working - in Scott's original implementation, they didn't call the `lwip_so

[2021-02-01 15:52] hierophect commented on #4103
This recently came up in #4061, since TLS sockets take up 2 sockets apiece now, so you can only have 2 of them total. @anecdata noted that might be a bit restrictive.

[2021-02-01 16:18] dhalbert opened #4107 "Using GP15 on RPi Pico can prevent code.py from running automatically"
A user reworked [this example](https://learn.adafruit.com/circuitpython-essentials/circuitpython-hid-keyboard-and-mouse#circuitpython-keyboard-emulator-2985260-2) to use GP14 and GP15, and their `code.py` would not start automatically. Changing GP15 to another pin fixed the problem.

https://discord.com/channels/327254708534116352/537365702651150357/805826302699110421 and following.

[2021-02-01 16:31] #3069 closed

[2021-02-01 16:32] hierophect commented on #3069
See: #3192 for closure reasons

[2021-02-01 17:08] ladyada commented on #4034
we added a faq/troubleshooting page here
https://learn.adafruit.com/getting-started-with-raspberry-pi-pico-circuitpython/faq-and-troubleshooting

[2021-02-01 17:14] eddieespinal opened #4108 "ESP32-S2: Getting this error while running the SD card demo 'SPIDevice' object has no attribute 'spi'"
Hi there,

I'm currently testing a new board that uses the ESP32-S2 and has an integrated SD card. When I try using one of the existing board from the website it works fine but when I flash it with my own board definition the SD card won't work and I get the following error message:

[code]

This is the code I'm trying to run:

[code]

The output of my terminal after running: `make V=1 BOARD=atmeg

[2021-02-01 17:35] igrr commented on #4025
My colleague has pointed to this forum post that suggests clearing the "Brownout reset enable" bit before entering deep sleep: https://www.esp32.com/viewtopic.php?f=13&t=19208#p71084.

I'm going to submit this change for IDF master and release/v4.2 branches, so that esp_deep_sleep_start disables BOD reset automatically. In the meantime, please try to add this workaround in your app before calling

[2021-02-01 18:18] jerryneedell opened #4109 "native BusDevice breaks I2C if LONGINT_IMP = NONE"
See https://github.com/adafruit/Adafruit_CircuitPython_LIS3DH/issues/67

[code]
The issue is resolved if native BusDevice is not used.
Can also resolve by building with LONGINT_IMPL = MPZ
But then it won’t fit in Flash unless something else is removed.

[2021-02-01 18:37] tannewt commented on #4108
I think this is a bug on our end. I believe beta.0 should work in the meantime.

[2021-02-01 18:52] eddieespinal commented on #4108
Thank you for the response @tannewt, that explains why this build worked `adafruit-circuitpython-unexpectedmaker_feathers2-en_US-6.2.0-beta.0.bin` but not if I compile it using make for the same board.

I will give it a try with beta.0 and see if that helps.

Thanks again!

[2021-02-01 21:00] eddieespinal commented on #4108
@tannewt you were right, that was the problem. After trying again using the branch `6.1.x` everything works fine now.

Thanks for solving my problem.

[2021-02-01 21:43] eternaltinkering opened #4111 "pulseio.PulseOut module missing"
Adafruit CircuitPython 6.2.0-beta.1 on 2021-01-27; Raspberry Pi Pico with rp2040

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "simpleio.py", line 34, in <module>
ImportError: no module named 'pulseio'

[2021-02-01 21:45] dhalbert commented on #4111
There is no `pulseio` yet for CircuitPython on the RP2040. `simpleio` imports `pulseio`, but usually you just need `simpleio` for the `map_range()` function it defines. You can copy that function and add it to your program for now.

Is this an Adafruit-supplied example? We can change the example.

[2021-02-01 21:53] eternaltinkering commented on #4111
Oddly enough the simpleio module is used as an example for import errors in the getting started tutorial, mostly wanted to make sure I understood why I was getting the error after adding simpleio.mpy to the lib folder on the device.
https://learn.adafruit.com/welcome-to-circuitpython/circuitpython-libraries#example-importerror-due-to-missing-library-2978247-20

[2021-02-01 23:15] jfabernathy commented on #4108
I get this same error on both ESP32-S2 and Raspberry PI pico, but works on Seeeduio Xiao with same version of CP

[2021-02-02 00:08] gamblor21 commented on #3856
Fixed in #3936

[2021-02-02 00:08] #3856 closed

[2021-02-02 03:25] tannewt commented on #4109
Fixed by #4112

[2021-02-02 03:25] #4109 closed

[2021-02-02 03:30] tannewt commented on #4107
I suspect that code.py was working but the GP15 button didn't work. The errata fix doesn't restore the mux setting last I checked. @kilograham, is this on your radar?

[2021-02-02 03:32] tannewt commented on #4101
@hierophect Can you open the second LWIP socket only when you do the server APIs?

[2021-02-02 03:34] tannewt commented on #4094
I don't think so. I think our guide has you hook one up.

[2021-02-02 03:34] tannewt commented on #4094
I'm ok if you want to add a kwarg for this.

[2021-02-02 03:35] tannewt commented on #4108
I think the Xiao works because it uses the python version of bus device. The other two have it built in.

[2021-02-02 03:39] CedarGroveStudios commented on #4094
I'm completely unsure about where to start when it comes to modifying one of the core elements. Time to look at how that's done. Thanks.

[2021-02-02 03:41] ladyada commented on #4094
@CedarGroveStudios you can do it! we can help support ya, try making a draft PR when you're ready for some eyes :)

[2021-02-02 03:46] CedarGroveStudios commented on #4094
Thanks! Another fun trip outside my comfort zone!

@tannewt:  Interestingly, the _rotaryio_ guides I've looked through that involve CircuitPython have no pull-up resistors for the two quadrature encoder pins.  [https://learn.adafruit.com/rotary-encoder/overview](url)

[2021-02-02 05:44] hathach commented on #3986
There seems to be race condition with the background code, I put segger rtt for debugging. Normally after usb irq, background is added and then run_all. When the issue occurs, the irq is trigger, background is added, along with tick is also added, but there is no run_all() afterwards.  `background_callback_add_core: 48:` repeatedly is tick timer trying to add its background while already existed i

[2021-02-02 10:32] m4tk opened #4115 "ESP32-S2: hangs during startup if backlight pin is used in display init code"
Hi there,

I'm currently trying to write the display init code for the newly merged ESP32-S2 LilyGo T8 board with ST7789 display.

In general it's working so far. But I'm struggeling somehow with the backlight pin. If I've understood the whole thing correctly it should be enough to pass the adress of the mcu_pin_object as parameter to the `common_hal_displayio_display_construct()` function.

But i

[2021-02-02 10:50] hathach commented on #3986
update: tracing down the background callback, it does solve the race condition pretty well, however, somehow the run_code.py decide to run **background_callback_reset()** while background list is still queued up with usb event.  https://github.com/adafruit/circuitpython/blob/main/main.c#L305

[code]

[2021-02-02 10:55] waiweng83 commented on #4107
I tried it out and confirmed that program using GP15 does not run when saved as code.py or main.py.
It also has some bad impact on the REPL.

However, saved program run from REPL seems to just work fine.

[2021-02-02 11:01] waiweng83 commented on #4107
@tannewt I tried building my own fork and playing around with the errata fix and seems like the call to this function is causing the problem.
[code]

Even I tried saving the original value prior to calling the function and restore it after, but it seems the problem is still there.

[2021-02-02 15:11] kilograham commented on #4107
i had heard some mention from someone, not sure the specifics... can you open an SDK issue

[2021-02-02 15:52] hriday111 opened #4116 "Raspberry Pi Pico: NotImplementedError: UART not yet supported"
this happens when I try to use:
busio.UART(board.GP0, board.GP1, baudrate=9600)

[2021-02-02 16:30] ladyada commented on #4116
yep not implemented yet
please subscribe to
https://github.com/adafruit/circuitpython/issues/4036
to get updates when we've added it :)

[2021-02-02 16:30] #4116 closed

[2021-02-02 16:33] tannewt opened #4117 "Update pico-sdk to 1.0.1"
Fixes a number of things and exposes a way to get a flash's unique id: https://github.com/raspberrypi/pico-sdk/releases/tag/1.0.1

[2021-02-02 16:57] ajs256 commented on #4117
I would like to work on this, could someone point me to what I would need to change? I see `/ports/raspberrypi/sdk_config/pico/`, is there anything else?

[2021-02-02 16:59] tannewt commented on #4117
Epic! you'll need to change the commit referenced by ports/raspberrypi/sdk and then rebuild. Things may have changed so you'll likely need to update Makefile too. I think the linker script also changed so compare the CP copy to the sdk's default one.

[2021-02-02 17:17] ajs256 commented on #4117
Sorry, I'm having git troubles. I can't work on this anymore, please disregard my previous comment.

[2021-02-02 17:53] #4108 closed

[2021-02-02 17:56] tannewt commented on #4094
Yup, I'm wrong. IncrementalEncoder on the SAMD turns them on automatically: https://github.com/adafruit/circuitpython/blob/main/ports/atmel-samd/common-hal/rotaryio/IncrementalEncoder.c#L59-L63

[2021-02-02 18:02] tannewt commented on #3986
@hathach That makes sense to me! I think we need probably need to remove VM initiated task only (not USB.) An alternative would be run all tasks while interrupts are off and then we reset before turning them back on.

[2021-02-02 18:09] tannewt commented on #4107
Filed https://github.com/raspberrypi/pico-sdk/issues/76 . Thanks!

[2021-02-02 18:13] tannewt commented on #4067
https://github.com/adafruit/circuitpython/pull/4110 Allows us to set the RTC. For sleeping, we need to modify https://github.com/adafruit/circuitpython/blob/main/ports/raspberrypi/supervisor/port.c#L164-L187 for sleep support.

[2021-02-02 18:17] tannewt commented on #4115
I suspect this is a bug in the ESP32-S2 PWM implementation used by display. I'd be ok merging it with the digitalinout code for now and leaving this issue open for someone to look into it.

[2021-02-02 18:35] #4057 closed

[2021-02-02 18:35] #4101 closed

[2021-02-02 20:39] m4tk commented on #4115
@tannewt Thanks Scott for your fast reply.

In the meanwhile I have looked a little deeper. It seems that `common_hal_pwmio_pwmout_construct()` function couldn't find a non-reserved channel because the `pwmout_reset()` function is called to late.

`pwmout_reset()` is called by `reset_port()`. But in main.c the `board_init()` which does the display initialization is called before `reset_port()`. So

[2021-02-02 21:44] tannewt commented on #4117
Thanks for trying @ajs256! I'll do it so I can get the correct timers for DMA.

[2021-02-02 22:47] anecdata commented on #4103
Looks like `PYSTACK` is set to 1536 globally in `py/circuitpy_mpconfig.h`, but could be easily overridden at the port level (no existing overrides I could find) or board level (I think only TG-Watch does this).

In cases where there is sufficient external RAM for heap, what's the downside to using more internal RAM for IDF/sockets and pystack?

[2021-02-03 03:42] hathach commented on #3986
This can be a bit tricky to do, since when  `background_callback_run_all()`  exit critical section to run task function, the tud_task() will then generate more usb isr to add to background queue. For this example, msc host will continuously bumping data fast enough, that will effectively causes MCU to actually have to complete the whole MSC copying before able to do the reload

This sounds like a

[2021-02-03 04:07] hathach commented on #3986
I make a quick hack to add usb background after the background_reset() for quick test, it does solve this issue and quickly complete the file copying without issue https://github.com/hathach/circuitpython/pull/1 . There is also a couple of minor code clean up as well.

[2021-02-03 12:37] jfabernathy opened #4119 "sdcard demo missing baudrate attribute on Raspberry Pi Pico"
After #4114 was closed, I tested a Pico with adafruit-circuitpython-raspberry_pi_pico-en_US-20210202-9140bfb.uf2 and the latest library bundle as 20210203. I modified the pin number in the demo and it still draws and error:
`Traceback (most recent call last):
  File "code.py", line 23, in <module>
  File "adafruit_sdcard.py", line 101, in __init__
  File "adafruit_sdcard.py", line 122, in _init_ca

[2021-02-03 13:48] jerryneedell opened #4120 "RP2040: charlcd demo fails - mcp230xx error"
As reported by a Discord User, accessing a Character LCD fails on a Raspberry Pi Pico

The same example runs normally on a metro-esp32s2

For this example I used SCL on GP1 SDA on GP0

[code]

it fails at the line
[code]
Note - the original issue was for a non-rgb test and it uses the mcp23008 and failed on a read attempt
https://discord.com/channels/327254708534116352/537365702651150357/806259603

[2021-02-03 13:58] jerryneedell commented on #4120
Also ran against current tip of main -- same result
[code]

[2021-02-03 15:08] dhalbert opened #4121 "Add board.I2C(), board.SPI(), board.UART() for Raspberry Pi Pico board"
It would be nice to have default `board` `busio` devices on the Raspberry Pi Pico, so that many of our examples don't break. The question is which pins to pick.

In the [Get Started with MicroPython on Raspberry Pi Pico book](https://hackspace.raspberrypi.org/books/micropython-pico), the I2C examples use GPIO0 and GPIO1:

---
![image](https://user-images.githubusercontent.com/2847802/106764394-c02

[2021-02-03 15:28] jerryneedell commented on #4121
Not a big deal either way. Users have to learn to read the chart eventually ;-)
I like the first option. I expect there will be many folks following the book at first then trying CP.
Would you put the default UART on GP7 and GP8?

[2021-02-03 16:33] ladyada commented on #4121
i think we try to matchy with the examples in the book, and add to the FAQ

[2021-02-03 16:37] kattni commented on #4121
How ubiquitous is the SDK within CircuitPython - which is to say, how likely is the typical user to be aware of the SDK info? Our goal is to make CircuitPython as simple as possible to use. As long as everything is documented, I think it's almost irrelevant what pins we use. That said, if we think the book is going to be/already is popular, we should follow those examples for simplicity. Otherwise

[2021-02-03 17:00] dhalbert commented on #4121
I think the average CircuitPython user is not going to be looking at the MicroPython SDK document. The book is much easier to read and I can imagine it being a taking-off point. So using the first set makes sense. The main thing is to document it clearly.

[2021-02-03 17:09] kattni commented on #4121
As we do not have a UART example yet, please put UART on GP8/GP9. It's a UART pair, and avoids I2C and SPI suggested above.

[2021-02-03 18:27] StuartIanNaylor commented on #3948
The esp32-s3 (S3) could be amazingly useful from KWS to image recognition but if Espressif try to shoehorn into Espressif only solutions of esp32-who & esp32-skainet its likely going to be a flop.
If we get anywhere near a complete port of tensorflow-lite then wow its got big potential.

[2021-02-03 20:02] m4tk commented on #4115
@tannewt Is it ok to call `pwmout_reset()` in the `board_init()`function to temporary solve the problem? if yes then I can try to create a PR (will be the very first 😯)

[2021-02-04 00:39] tannewt commented on #3986
I think your 2 idea is the best way to go about it for now. There isn't a single VM task.

We don't have a way to know which tasks to drop because we're stopping and those we can to keep doing. Perhaps we should add a critical flag or something.

[2021-02-04 00:44] tannewt commented on #4121
My vote would be to follow the book.

However, I'm not a huge fan of adding default busses when the board doesn't document them itself. At some point its on the board maker to do the designation.

[2021-02-04 01:00] tannewt commented on #4115
Yup! (Usually the in use checks default to free.) If you find it gets reset you may need a `never_reset` call.

Thanks for debugging this!

[2021-02-04 01:02] tannewt commented on #4103
I think you'll find that the tradeoff is between IDF/sockets (which gets the remainder) and pystack.

[2021-02-04 01:05] tannewt commented on #4120
Looks like we could be getting an error from pico-sdk: https://github.com/adafruit/circuitpython/blob/main/ports/raspberrypi/common-hal/busio/I2C.c#L148-L157

[2021-02-04 07:39] hathach commented on #3986
Ok, I will make an PR using this method

[2021-02-04 12:47] kevinjwalters commented on #4034
An interesting issue using `GP15`, [Adafruit Forums: Code.py Startup Script Not Starting on Raspberry Pi Pico](https://forums.adafruit.com/viewtopic.php?f=60&t=174992).

[2021-02-04 17:48] hierophect commented on #4061
@jerryneedell can you retest this and see if it works for you now? My personal test works.

[2021-02-04 17:53] hierophect commented on #3994
Resolved by #4049

[2021-02-04 17:53] #3994 closed

[2021-02-04 18:18] FiriaCTO commented on #3950
The functionality of the tinyusb "WebUSB serial" demo has been incorporated into a webusb branch. It turns out you **can** have your CDC console and a WebUSB console at the same time, but depending on how many USB endpoints your chip supports, you might have to give up SOMETHING. For some ESP32-S2 work we are doing at Firia Labs, we have been trading USB HID for WebUSB at compile time. A PR has be

[2021-02-04 18:20] anecdata commented on #4061
Two issues I'm encountering post-4049:
1. HTTP doesn't work for me [https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/63#issuecomment-771712906](https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/63#issuecomment-771712906)
2. Under certain circumstances, OSError: Failed SSL handshake occurs, particularly if there has been some delay since the previous Request [http

[2021-02-04 18:36] hierophect commented on #4061
@anecdata I'm looking into the HTTP thing now, sorry for the delay, I've been having power cutouts from the weather. As for the second point, are we sure that isn't defined behavior? I'm not an SSL expert but can an SSL session just persist indefinitely?

[2021-02-04 18:38] anecdata commented on #4061
The `OSError: Failed SSL handshake` _seems_ to be correlated to no `keep-alive`, so either no `Connection` header, or `Connection: close`.

[2021-02-04 18:59] tannewt commented on #4034
Here is a pending PR to restore the pad state: https://github.com/raspberrypi/pico-sdk/pull/80

[2021-02-04 19:04] jerryneedell commented on #4061
@hierophect I just tried with tip of main  and it still fails with time.sleep(60)-- do I need pull in a PR or update any libraries?

[2021-02-04 19:08] hierophect commented on #4061
@jerryneedell you'd need to go into Requests and search for `except _SendFailed` and replace it with `except (_SendFailed, OSError):`

[2021-02-04 19:11] StarWitch opened #4127 "Socketpool `socket.sendto()` cannot send UDP data to ports above 255"
# Setup

* Microcontroller: UnexpectedMaker FeatherS2 (ESP32-S2) (fw: 0.2.1)
* CircuitPython: 6.1.0 & custom build from `main`
* Host computer: macOS 11.2
* Tools used: Wireshark

# Description

It seems that `port` for `socket.sendto()` is bound to the length of an `uint8_t`, capping it out at `255`, and then overflowing back to `0` when port numbers above that are specified.

I confirmed this by

[2021-02-04 19:16] hierophect commented on #4127
Thanks for noticing this, definitely an oversight! Might have been an unintended carryover from another API.

[2021-02-04 19:17] jerryneedell commented on #4061
@hierophect That appears to have fixed it for my initial example -- made it through 3 cycles so far

[2021-02-04 19:34] jerryneedell commented on #4061
Is this change being incorporated into Requests?

[2021-02-04 20:09] anecdata commented on #4061
I'll submit a PR

[2021-02-04 20:27] dhalbert commented on #3950
Note that another alternative is the "Serial SPI", sometimes known as "WebSerial". This was first mentioned in closed issue #605.

Spec: https://web.dev/serial/
Status in Chrome: https://www.chromestatus.com/feature/6577673212002304

The [Chrome demo](https://googlechromelabs.github.io/serial-terminal/) does not quite work with CircuitPython (I see repeated `<DISCONNECTED> <CONNECTED>`). But I thi

[2021-02-04 21:05] hierophect commented on #4061
I'm closing this issue now as @jerryneedell's remaining issue is in the Requests library and is continued in this issue: https://github.com/adafruit/Adafruit_CircuitPython_Requests/issues/67

[2021-02-04 21:05] #4061 closed

[2021-02-04 21:40] chbarg commented on #4007
As far as I know, the XBees do not have the Zigbee cluster communication fully implemented in Micropython.

[2021-02-04 21:58] lwerner-lshigh commented on #4045
I think i have a solution... not as elegant but ill just provide the "metadata" by hand as a property.
[code]
and here is a sample implementation of this class
[code]
repl output...
[code]

[2021-02-04 21:58] #4045 closed

[2021-02-04 22:46] anecdata opened #4151 "non-TLS HTTP requests fail"
Opening a fresh issue, based on comments in adafruit/Adafruit_CircuitPython_Requests#63:

On CicruitPython (since PR#4049), non-TLS HTTP requests fail:
[code]
results in:
[code]
It's not entirely clear to me if this is an issue with Requests or `socketpool`.

[2021-02-04 23:34] FoamyGuy opened #4129 "Having bitmap_font lib installed breaks building"
I have installed the bitmap font library via pip
`pip install adafruit-circuitpython-bitmap_font`

I use it with Blinka_Displayio on this computer.

I've noticed that if I have that library installed in my python environment then I will get this error when attempting to build circuitpython:
[code]
I can uninstall the lib with pip and then build normally.

[2021-02-05 06:29] funjon opened #4132 "Requests fail if too many DNS servers presented via DHCP"
Not sure if this is a CircuitPython issue, or an issue with the ESP network code. My home network issues 4 DNS servers (two comcast-issued DNS servers, and 8.8.8.8/1.1.1.1 as backups) via DHCP. When my MagTag gets all 4, requests with FQDN's fail:

[code]

If I make the request via IP, it works:
[code]

[code]

And if I limit it to two DNS servers, everything appears to be working fine:

[code]

[2021-02-05 14:13] #3986 closed

[2021-02-05 14:27] FiriaCTO commented on #3950
PR has been merged into main - THANKS dhalbert!
For those interested in this feature, please take a look at WEBUSB_README.md

[2021-02-05 14:38] dhalbert commented on #1091
@kattni is this still relevant? (Just making a pass through some issues.)

[2021-02-05 14:47] dhalbert commented on #3859
Fixed by #4114.

[2021-02-05 14:47] #3859 closed

[2021-02-05 14:51] dhalbert opened #4133 "Revamp status LED signaling"
@tannewt discussed revisiting the multi-colored status LED blinking that CIrcuitPython does to indicate errors. I think the ideas were to:
- simplify the indications
- do not repeat them indefinitely

@tannewt Please revise this post or comment as necessary.

[2021-02-05 15:11] dhalbert commented on #4121
It might be a question to ask the RPi folks if they are thinking about adding default labels on the silk in the future.

[2021-02-05 15:15] dhalbert commented on #4107
pico-sdk PR https://github.com/raspberrypi/pico-sdk/pull/80 is in progress and addresses this

[2021-02-05 15:18] anecdata commented on #4132
What board are you using, and what versions of CircuitPython and Requests?

[2021-02-05 15:26] lurch commented on #4107
Now fixed in the `develop` branch of pico-sdk, if you fancy testing it :slightly_smiling_face:

[2021-02-05 15:26] dhalbert commented on #4039
xref to https://github.com/raspberrypi/pico-sdk/pull/12

[2021-02-05 16:55] jerryneedell opened #4135 "rp2040 -- neopixels not working properly"
I am having trouble controlling neopixels on  a Pico when using the neopixel.py libray
Here is an example

[code]

[2021-02-05 18:31] gc-elec commented on #4099
So, I hooked up a small test bench using a raspberry pi to test one of the flash chip and found out it is OK.
I tried to attach it to the SAMD51 board without success.

I searched a bit more about SPI on circuitPyhton and found out [this](https://learn.adafruit.com/using-atsamd21-sercom-to-add-more-spi-i2c-serial-ports/creating-a-new-spi).
According to the datasheet, the wiring I used works for SA

[2021-02-05 18:40] ladyada commented on #3950
great! thanks @firiacto!

[2021-02-05 18:40] #3950 closed

[2021-02-05 18:43] xorbit commented on #4067
I don't know enough to know if it's related to this issue, but where `time.time()` used to fail because no RTC was attached, it now seems to produce seemingly random numbers (but they're from a repeating set) on the RPi Pico.

[2021-02-05 19:42] tannewt commented on #4133
Yup! I think we only want to use the status LED on power up (not every reset) and on error. The main goal is to save power.

[2021-02-05 19:43] tannewt commented on #4121
We've brought it up with them previously but haven't heard of any concrete plans. I wouldn't expect them to designated default busses. Our main goal was to have labels similar to those on the bottom.

[2021-02-05 19:44] tannewt commented on #4107
@lurch Thanks! I'll update us to that commit and get it into a beta for testing.

[2021-02-05 19:47] #4023 closed

[2021-02-05 19:49] tannewt commented on #4129
Any idea where BitmapStub is coming from? We should replace it with something that works better.

[2021-02-05 20:00] jerryneedell commented on #4135
I ran some test when I set up the PIO writes manually, so not using neopixel,py ot neopixel_write and I can reproduce the same behavior when trying to set individual pixels.

It is odd -- some programs using .fill seem to be working and the "color wheel" seems t  work OK but when I try manually poking a pixel or manually setting fill, I get these odd responses.

[2021-02-05 20:06] tannewt commented on #4135
Can you capture the pulse train with a logic analyzer and verify the 1/3 and 2/3 duty cycle?

[2021-02-05 20:16] tannewt commented on #4067
@microdev1 any idea if your RTC work should have fixed time.time?

[2021-02-05 20:38] andywarburton commented on #4135
Just to add some support to this case, my Pico just arrived today and I immediately hooked it up to an "official" neopixel ring (16 pixels). With the example code supplied and minimal modification, I get a random selection of colours all over the ring and a number of points not illuminated.

My code:

`import time
import board
import neopixel

# Update this to match the number of NeoPixel LEDs con

[2021-02-05 20:43] jerryneedell commented on #4135
I'll try to do this tomorrow.

[2021-02-05 20:51] andywarburton commented on #4135
Quick update from me, on a whim, I tried unplugging the Pico from my Mac (2020 16" MBP) and plugging it directly into a power strip on my desk that has USB ports and it started working as intended. I don't know if this is helpful, but perhaps @jerryneedell you could try as well and see if it starts working for you?

[2021-02-05 21:24] FoamyGuy commented on #4129
I think it's from here:
https://github.com/adafruit/circuitpython/blob/c6a7b00030ffd8d7a9f566622fc12fcc3fd0e85b/tools/gen_display_resources.py#L27

It looks like this file does some path manipulation and import tricks to load up it's own version of bitmap_font. When I have the real one in the environment it's causing it to import the real one instead of this one internal to the circuitpython repo.

[2021-02-05 21:49] jepler commented on #4129
[code]
For the thing placed in the path to _override_, it should be placed earlier in the path, like `sys.path.insert(0, "...")`.

[2021-02-05 22:17] FoamyGuy commented on #4129
That does fix it! Thank you @jepler. I can make a PR with this fix tonight or tomorrow.

[2021-02-06 02:26] anecdata commented on #4046
With latest S3, `Adafruit CircuitPython 6.2.0-beta.1-115-ge7438c481 on 2021-02-05; Adafruit MagTag with ESP32S2`, I get the same behavior... slight delay, then Volume ejects and (I think) board resets. On a fresh hard reset, it will work once.

[2021-02-06 02:34] ladyada commented on #4135
could be the VBUS voltage is too high. try powering the pixels from 3.3V

[2021-02-06 03:05] anecdata opened #4142 "MagTag: board.SPI() returns "SCK in use""
Latest S3:
[code]
@Neradoc on Discord: "it's fine in 6.1.0 but I get the same error in beta 1"

[2021-02-06 04:37] #4039 closed

[2021-02-06 05:00] jposada202020 opened #4143 "RP2040 PWMIO module throws All timers for this pin are in use when defining two or more pins"
When using the following code, I am getting the error that all the timers are used for pinblue(GP19)

    import pwmio
    import board

    pinred = pwmio.PWMOut(board.GP17, frequency=5000, duty_cycle=0)
    pingreen = pwmio.PWMOut(board.GP18, frequency=5000, duty_cycle=0)
    pinblue = pwmio.PWMOut(board.GP19, frequency=5000, duty_cycle=0)

code.py output:
Traceback (most recent call last):
  Fi

[2021-02-06 08:19] Neradoc commented on #4142
Testing different builds on S3, I see the error existed on January 1, disappears after #3930 "UMFEATHERS2 - implement use of DotStar for status led", and consequently comes back after #4013 which reverts 3930.

The original PR included the following change in `ports/esp32s2/common-hal/microcontroller/Pin.c`

[code]

I quote @hierophect :

[2021-02-06 09:23] LennartPiro commented on #4120
I have the same issue when running the mcp230xx_simpletest.py with an MCP23017:

[code]

on line
https://github.com/adafruit/Adafruit_CircuitPython_MCP230xx/blob/a6916350905dc1d3ad1ea47e8bbd32abc66169a8/examples/mcp230xx_simpletest.py#L25

[2021-02-06 10:09] jerryneedell commented on #4135
I've tried 3V  -- same result.

[2021-02-06 11:45] jerryneedell commented on #4135
I did some tests with a logic analyzer. In general, the timing looks ok for the 1/3 2/3 duty cycle BUT there appear to be "gaps" on some of the writes. This may be causing the odd behavior
![fill_0xff](https://user-images.githubusercontent.com/15856834/107117226-dece6600-6846-11eb-8649-0c88a9e0f45c.png)

![gap](https://user-images.githubusercontent.com/15856834/107117227-df66fc80-6846-11eb-8dc3-6e

[2021-02-06 12:19] hriday111 opened #4144 "When will UART be implemented for RP2040?"
I've been wanting to do a project and as UART is not implemeted yet:
NotImplementedError: UART not yet supported

I cannot do he project, the project uses a circuit python library, hence I cannot use micropython.

UART works well on MICROPYTHON, why not CIRCUITPYTHON?

I've been desperately waiting for this implementation, I even flash the latest uf2 from the s3 server.

[2021-02-06 13:33] roipoussiere commented on #1995
-- @ladyada

[Full Yaml specification](https://yaml.org/spec/) is more complex to implement than it seems, as it includes many little-known features, such as anchors and refs, flow style, etc.

A light yaml spec subset is probably more relevant for onboard electronics, as it's faster to execute.

In particular, [strictyaml](https://hitchdev.com/strictyaml/) is a good candidate, and its implementat

[2021-02-06 14:09] dhalbert commented on #4144
You can watch issue #4036. Implementing UART is on our very short list. Right now we are working on audio I/O. We don't publish schedules for when something will be done, but rest assured we want to do it as soon as possible.

[2021-02-06 14:09] #4144 closed

[2021-02-06 16:02] jfabernathy commented on #4025
FYI, I've been running a Metro ESP32-S2 for 5 days with the BOD disabled. I have a WDT setup to catch any issues that hang the application or system software. It's been working flawlessly. Zero issues.

[2021-02-06 16:10] LuminousOwl opened #4145 "RP2040 PIO Instruction Limit"
The PIO StateMachine is limiting the number of PIO instructions to 16, but it should be 32. It is a simple comparison error limiting it to 32 bytes instead of 64 bytes needed for 32 16-bit instructions.  I have fixed it and can do a pull request.

[2021-02-06 17:10] jerryneedell opened #4147 "ESP32S2: unable to access I2C after soft reboot"
While testing #4146  I ran into this behavior on a MagTag.
It is also reproducible on a metro_esp32s2
but
it does not occur on a PyPortal (samd51)

the issue is that I can access the I2C device after a Power Cycle or Hard Reset but it fails to find the board for a second time after a soft reboot  on esp32s2 boards.

[code]

[2021-02-06 17:11] jerryneedell commented on #4147
May be related to #3894

[2021-02-06 17:16] anecdata commented on #4147
May also be related to #4046

[2021-02-07 01:00] gamblor21 commented on #4135
I don't have a full answer yet but looked into this a bit further. I used neopixel_write to write raw to the string (skipping the neopixel library). What I noticed is on the RP2040 the first byte of the array being sent to the string wasn't always sent correctly, resulting in the rest of the pixels being incorrect. E.g. If I sent 0xFF, 0x00, 0x00 (GRB order so a green pixel) there are times I woul

[2021-02-07 13:28] funjon commented on #4132
I am using a recent MagTag board, and the 6.1.0 release of CircuitPython (and whatever adafruit_requests.mpy comes with it)

[2021-02-07 15:12] dhalbert commented on #4107
@waiweng83 If you have time, could you check https://adafruit-circuit-python.s3.amazonaws.com/bin/raspberry_pi_pico/en_US/adafruit-circuitpython-raspberry_pi_pico-en_US-20210206-a10ce39.uf2 or later for this problem. It is from #4141 and incorporates a fix in the pico-sdk. Thanks.

[2021-02-07 16:37] gamblor21 commented on #4135
I think I have it solved. I noticed the problem only occurred when the transfer was smaller then the amount to use DMA for in StateMachine.c (32 bytes). In the non-DMA transfer part of the code after each byte is written "RUN_BACKGROUND_TASKS" is ran. It seems that most times after writing the first byte there were background tasks to be ran, delaying filling the TX buffer and throwing off the tim

[2021-02-07 16:46] jerryneedell commented on #4135
Ah -- that makes sense -- so when working with any string > 10 pixels and setting them all, the problem will not occur -- This explains why it was working so well with the 16 pixel ring but I started having issues with the 7 pixel jewel, and when testing writes to single pixels.

I would remain concerned if there is a known likelihood of failure during the 40 microsecond window. It will happen at

[2021-02-07 17:05] jerryneedell commented on #4135
I tried this on a Pico, unfortunately it is not resolving the problems -- still getting some odd behavior.

[2021-02-07 17:12] dhalbert commented on #4107
0x414b on discord reports the old program seems to be gone: https://discord.com/channels/327254708534116352/537365702651150357/808000045147750401

[2021-02-07 18:13] m4tk commented on #4147
Could reproduce it on a LilyGo T8 ESP32-S2 and a cheapy BME280. But it's occurring only sporadic (maybe in 1 of 10 soft reboots in a row).

[2021-02-07 18:24] gamblor21 commented on #4135
I am still seeing an issue so there is another timing issue as well. I tried the following to ensure DMA is being used:

`b = bytearray(36) #12 pixels
b[35] = 0xff
for i in range(1,36):
    neopixel_write(pin,b)
    time.sleep(0.15)`

While this runs I notice the last blue pixel will dim at times (missing the LSB I'd assume) and the first pixel lights up bright green (getting those missing bits on

[2021-02-08 02:33] tannewt commented on #4145
@LuminousOwl A PR would be awesome! Thank you so much for fixing my bugs. :-)

[2021-02-08 03:32] benetherington opened #4152 "Empty packets processed by socket/recv_into on ESP32 return OSError EBADF"
I've been banging my head against this for a while, so apologies if this isn't clear!

Background: I'm trying to connect my Magtag to a Mosquitto server.  I'm able to subscribe, publish, and receive published messages. However, I'm encountering errors when `loop()`ing when there are no messages to receive. Note that if you want to reproduce this, you'll have to use an IP for secrets['mosquitto_bro

[2021-02-08 04:26] waiweng83 commented on #4107
Yes, I tested with code.py and main.py and it's working perfectly now.

My old code seems like is still there. I don't have any problem with this.

[2021-02-08 11:16] EmergReanimator opened #4153 "MCB1700 board support"
There are tons of devices based on NXP LPC17xx MCU around.
It would be great to provide the python environment for these boards.
One real-life example is production testing.

[2021-02-08 11:20] EmergReanimator commented on #4153
Proposed labels:
good first issue
board
enhancement
nxp
mcb1700
lpc17xx

[2021-02-08 11:45] LuminousOwl commented on #4145
You're welcome. The Adafruit tutorial on building CircuitPython is great. I was surprised how easy it was to do a build for testing.

[2021-02-08 13:36] dhalbert commented on #4153
We welcome ports to additional chip families. It's a lot of work, primarily due to supporting the clock architecture and peripherals of a particular chip family. Sometimes they resemble other chip families from the same manufacturer, sometimes not.

It sounds like you want to support existing boards, rather than a new design. The LPC17xx family, as you know is Cortex M3, which is not used in new d

[2021-02-08 14:04] dhalbert commented on #4107
Destinys Agent on discord [also reports success](https://discord.com/channels/327254708534116352/537365702651150357/808264323372679199). We can close this as fixed by #4141.

[2021-02-08 14:04] #4107 closed

[2021-02-08 14:41] KTibow opened #4156 "MagTag randomly wiping itself"
I recently set up an Adafruit MagTag. The code I'm running can be found at https://github.com/KTibow/fridge. It seems like it randomly resets to what it would look like if I cleared the flash, and installed CircuitPython. I have the same problem on 6.10 and the latest beta.
![image](https://user-images.githubusercontent.com/10727862/107234525-9e065680-69d8-11eb-846b-fbda1be54820.png)

[2021-02-08 14:45] dhalbert commented on #4117
Superceded by #4141, which updates the `pico-sdk` to several commits past `1.0.1`.

[2021-02-08 14:45] #4117 closed

[2021-02-08 14:53] dhalbert commented on #4156
What is in `code.py` when this happens. Is it `print("Hello, world!\n")`?

The way you are starting `code.py` from `boot.py` isn't necessary. `code.py` will run after `boot.py`, so you should be able to just omit these lines:
[code]

A different thing you may want to do is to reset the board entirely if you've loaded a new `code.py`, by doing `microcontroller.reset()`. But try just omitting the li

[2021-02-08 14:58] KTibow commented on #4156
Yes.

I need to keep the context of the WiFi radio and the socket pool; in my experience, it gives me an issue if I didn't.

Huh. As long as I could tell the difference between that, and a user-initiated reset, then it would work.

It's probably not a problem with that. I put the MagTag on my fridge last night, and it was working fine. But when I woke up, without any interaction, it was reset with

[2021-02-08 15:02] dhalbert commented on #4156
If you check for the button push first, then you can do all the wifi setup conditionally. Then after writing code.py, you would reset, and you don't care when you restart about the previous state of the world.

[2021-02-08 15:03] KTibow commented on #4156
I think I understand. I'll try to get to coding now.

[2021-02-08 16:23] gc-elec opened #4158 ""Large" file transfer to CIRCUITPY"
Hello,

As you know, I built a few custom board prototypes using SPI Flash GD25Q64C.
CircuitPython now works great, but I noticed a problem with file transfer to the CIRCUITPY drive.

When I try to send a "large" file (87 kB wave file), the transfer stays stuck at 0% and never complete.
![image](https://user-images.githubusercontent.com/78273164/107246552-a4282180-6a30-11eb-8424-6be278e218e2.png)

[2021-02-08 16:29] dhalbert commented on #4158
This may be a duplicate of #3986, which was fixed by #4122. Could you try the "Absolute newest " build for your board or update from upstream for your custom build?

[2021-02-08 16:34] #4129 closed

[2021-02-08 16:50] kattni commented on #1091
@dhalbert I don't think so. I think we ended up adding Blinka for everything anyway. If not, we'll sort it on the library end.

[2021-02-08 16:50] #1091 closed

[2021-02-08 17:37] gc-elec commented on #4158
It worked :)

Thank you very much, problem solved 👍

[2021-02-08 17:37] #4158 closed

[2021-02-08 17:38] anecdata commented on #4151
Closing, fixed by #4148.

[2021-02-08 17:38] #4151 closed

[2021-02-08 17:54] EmergReanimator commented on #4153
Thanks for your quick response and hints!

Let me give you some background information of given issue.
There are number of projects based on this MCU in our company. It will be superseded by SAME51 in next projects however. The life cycle of our products is at least 10 years. During this time we have to manufacture and test those boards.
I am going to provide low level access to MCU and peripheral

[2021-02-08 17:57] EmergReanimator commented on #4153
I believe you referer to LPC552x Cortex-M33, right?

Is any code available publically already?

[2021-02-08 18:05] dhalbert commented on #4153
Right LPC552, typo, sorry. Our i.MX port is in `circuitpython/ports/mimxrt10xx`.

[2021-02-08 18:11] dhalbert commented on #4153
Thanks for the detailed explanation. What is the RAM and flash of the chip used on your existing board(s)? There are some lower limits below which it's very difficult to do any kind of build.

[2021-02-08 18:19] EmergReanimator commented on #4153
RAM: 64 - 96 KiB
Flash: ~400 KiB

[2021-02-08 18:26] dhalbert commented on #4153
That should be fine. I looked briefly at your repo and you have defined a port-specific `main.c` and done some other things that might be leftover MicroPython implementation. Take a look at a clean port like `atmel-samd`, `stm32`, or `nrf``.

[2021-02-08 19:17] dhalbert commented on #4120
@jedgarpark is also seeing a similar with with SSD1306.

[2021-02-08 20:58] skieast commented on #4147
I crash my Cucumber when doing this. I had to do some I2C changes as the Cucumber has no pullups on its internal I2C bus (not great).  Moving some of the constructor bits around seems to get rid of the crash but then nothing is found on doing a scan.  I will keep looking.  I am also wondering if espressif has put changes/fixes into the idf since the commit that we (CPY) use.   I did try building w

[2021-02-08 20:59] dhalbert commented on #4121
Closing this after discussion in the weekly CircuitPython meeting of 2021-02-08, timestamp 1:26:18. We decided that trying to ameliorate board designs that fail to label default pins is beyond our purview. We can document the problem in the FAQ section in the RPI Pico guide. If and when the board silkscreen is updated to designate default bus pins, we can reopen this.

[2021-02-08 20:59] #4121 closed

[2021-02-08 21:21] #4145 closed

[2021-02-08 21:23] #4127 closed

[2021-02-08 21:34] #4135 closed

[2021-02-08 23:30] tannewt opened #4161 "Merge in mpz fix"
Suggested by Damien: https://github.com/micropython/micropython/pull/6844#issuecomment-774811072

[2021-02-09 00:23] tannewt commented on #4153
My first rp2040 commit is also a good place to start: https://github.com/adafruit/circuitpython/commit/733094aead6e84b42da54655b2b0a5d0dbd1a503#diff-9a32e21d62fdae42eb9135c5c5247bb84aa3de605f4e64bb118d926cc591521e

TinyUSB support is a pre-requisite as well. If you have questions, feel free to ask them on the [Adafruit Discord](https://adafru.it/discord) in the #circuitpython channel.

[2021-02-09 00:34] tannewt commented on #4143
@DavePutz Do you want to take a look at this and find my bug?

[2021-02-09 01:47] jepler opened #4162 "pio: clean up FIFO-stuffing code"
@tannewt [observed](https://github.com/adafruit/circuitpython/pull/4155#pullrequestreview-586038240}:

Just in case I don't get to this during some upcoming PIO work, I wanted it filed in an issue instead of in the review comments of a closed PR!

[2021-02-09 04:29] jedgarpark commented on #4120
FWIW the problem went away for me when I included the I2C address in my code `display = adafruit_ssd1306.SSD1306_I2C(128, 32, i2c, addr=0x3d)`

[2021-02-09 11:44] jerryneedell commented on #4120
This has been Resolved for the LCD -- I had forgotten to copy the adafruit 74hc595 library to my Pico.
Once I copied this to, the charlie_i2c_rgb_simpletest runs ok.

[2021-02-09 12:48] #4115 closed

[2021-02-09 12:48] m4tk commented on #4115
solved for now by call of pwmout_reset() in the board_init() function.

[2021-02-09 14:03] #4025 closed

[2021-02-09 15:31] dhalbert commented on #4120
@jerryneedell What hw are you using? the I2C/SPI backpack uses an MCP23008 so I am not sure what combination of things you are using.

[2021-02-09 15:35] jerryneedell commented on #4120
@dhalbert I'm using one of these https://www.adafruit.com/product/1109 - i have it connected to 5V GND, SDA,SCL

[2021-02-09 18:49] timonsku commented on #4143
hitting the same issue when using just two pwm's (16, 17)

[2021-02-09 18:56] DavePutz commented on #4143
@tannewt - I'll take a look at it.

[2021-02-09 19:48] tannewt commented on #4143
Thanks @DavePutz!

[2021-02-09 20:47] timonsku opened #4164 "RP2040: USB Serial connection sometimes lost"
I have a hard time reproducing this but I get occasional drop outs for the REPL that are only recoverable after resetting the Pico.
Most of the times this would happen after a code change but also happened just while printing values to the console. It seems to have started to appear after I added the pwmout module but can't say for certain as I haven't extensively used the REPL either before addin

[2021-02-09 20:58] DavePutz commented on #4143
@tannewt - We are currently checking whether a PWM channel is in use and throwing an error if it is. That is why the reported error it hit when GPIOs 21 and 5 are both used - they share channel 2B. However, the datasheet says "The same PWM output can be selected on two GPIO pins; the same signal will appear on each GPIO.". So, should we just take out the check for channel re-use?

[2021-02-09 21:00] dhalbert commented on #4164
Are you using pin GP15? There is a fix needed when using that pin that can interfere with USB in various ways. Try the "Absolute Newest" build from the board page in circuitpython.org.

[2021-02-09 21:02] tannewt commented on #4143
@DavePutz No, lets not allow outputting the same channel to multiple pins because the api implies their duty cycle would be independent.

[2021-02-09 21:08] DavePutz commented on #4143
@tannewt - Ok, I'll submit a PR for another issue causing the error (we throw the same error for 4 different conditions :-(  and leave the channel check in.

[2021-02-09 21:10] timonsku commented on #4164
I avoided using that pin.
I was running the build from 3 commits ago, it doesn't seem the last two commits touched anything relevant.

[2021-02-09 21:15] dhalbert commented on #4164
Thanks for the feedback. We'll leave this open, and if you figure out a reproducible case, of course let us know. We recently improved the way we are servicing USB interrupts but there could still be an issue.

[2021-02-09 21:18] jerryneedell commented on #4164
I have been seeing this as well.
It seems to happen more frequently when I had a button attached to the RUN pin, but it has also occurred with it removed.

[2021-02-09 22:07] timonsku commented on #4164
What OS are you using @jerryneedell ?

[2021-02-09 22:09] jerryneedell commented on #4164
Linux  Ubuntu 20.04

[2021-02-09 22:11] timonsku commented on #4164
Ok that makes sense, I'm pretty sure the need for a reset is a Windows specific issue. Its very easy on Windows to get a COM port into a zombie state where no application can claim it any more unless its removed. I have never seen that on Linux.

[2021-02-09 22:37] jerryneedell commented on #4164
I've also a seen it on a Raspberry Pi.

[2021-02-09 23:39] Neradoc opened #4166 "RP2040: hangs when using gamepad"
From a problem signaled by Redat on discord, the following code hangs after a reload.
[code]
Save to code.py (or hard reset with the file in place) : it runs once.
Save again (add a comment or whatever) : it hangs (most of the time), the REPL and drive are non responding, reset is required.
Reloading with ctrl-D from the REPL does it too, but the hang happens without needing to be connected to the

[2021-02-09 23:58] anecdata commented on #2137
Tested the 2-color EPD FeatherWing again with 6.2.0-beta.1 on a FeatherS2 with adafruit-circuitpython-bundle-6.x-mpy-20210209. Issue still occurs, changes to label text aren't shown with a simple `display.refresh()`. This sequence gets it to work:
[code]
Neither the 3-color EPD FeatherWing nor the MagTag exhibit this issue.

[2021-02-10 00:21] jerryneedell commented on #4164
FWIW -- on the Raspberry Pi, I have MicroPython on the Pico and I also see occasional spontaneous resets of the board.

[2021-02-10 00:38] jedgarpark commented on #4143
Finding this issue here just saved me a lot of heartache :) I didn't pay attention two the "two pins per PWM channel" thing until seeing this.

[2021-02-10 00:48] dhalbert commented on #4120
@jerryneedell I tried this with the I2C/SPI backpack, which uses an MCP23008. I had to use 3.3v->5v level shifters to get it to work with a Metro M4, and then I moved it to an RPi Pico and it worked fine. I did not try it without the level shifters on the Pico in  the interest of not potentially frying the Pico.

If I use the Metro M4 connected straight to the backpack with the 5V pullups, it hang

[2021-02-10 00:52] jerryneedell commented on #4120
@dhalbert Thanks, I did add 10K pull-ups -- and I think the single levels are since it it designed for a Pi. It only takes 5V input.
I'm really puzzled by the behavior on the Pico.  Alos puzzled by the guide reference to the adafruit_74hc595 library ... It does not seem to be used.

[2021-02-10 01:01] dhalbert commented on #4120
The 74hc595 library is used only for SPI. The backpack has an MCP23008 for I2C and a 74HC595 for SPI use. I will clarify the Guide.

[2021-02-10 01:02] dhalbert commented on #4120
Were your pullups to 3.3V or to 5V?

[2021-02-10 01:07] jerryneedell commented on #4120
3.3v  -- and I just got it to work by removing the pull-ups and adding another I2C breakout to the setup to let it provide the pull-ups.  Checking my wiring, but it seems to be happy now...

[2021-02-10 01:13] jerryneedell commented on #4120
Should I close this?  It is not clear to me what was wrong before, but I don't think this is a CP issue.

[2021-02-10 01:16] dhalbert commented on #4120
Yes, let's. Redat is getting some level shifters and will try with those. Their LCD is arrangement is different.

[2021-02-10 01:16] #4120 closed

[2021-02-10 01:22] timonsku commented on #4143
oh so this is fixed? I thought the PWM channels could be freely mapped. Where did you find that table with the channel pairs?

[2021-02-10 02:18] jfurcean commented on #4143
Table 526 on page 536 of the [data sheet](https://datasheets.raspberrypi.org/rp2040/rp2040-datasheet.pdf). Also in Table 290 on page 252.

[2021-02-10 02:31] dastels commented on #2864
Agreed, shalikashvili, audio is a pretty common feature for many projects. It's lack on this platform is notable.

[2021-02-10 09:26] kahveciderin commented on #3700
@tannewt do I need to edit the ```run_code_py``` function in the main.c file?

[2021-02-10 18:47] tannewt commented on #4143
This was fixed by #4165

[2021-02-10 18:47] #4143 closed

[2021-02-10 18:53] tannewt commented on #3700
@kahveciderin It depends on how you are mounting the SD card. If you mount it to / then you shouldn't need to.

[2021-02-10 18:54] tannewt commented on #4166
I suspect this may have something to do with tick management internally. It's a bit of a hack now that I mean to take another look at.

[2021-02-10 19:00] tannewt commented on #2864
We'd love to have it but it isn't a priority for us. We're happy to help anyone get started developing with CircuitPython.

[2021-02-10 19:32] dhalbert commented on #4082
I tested the Pico with a BME280, LIS3DH, and BNO055 (uses clock stretching), and don't see issues. So the problem seems fairly specific to this I2C device. I'll order one to check.

[2021-02-10 19:55] hierophect commented on #4152
@brentru I'm less familiar with the mqtt parts of this. EBADF is most likely to occur when a read or write operation is attempted on a socket that has been closed. Are there extra steps that should be taken here to ensure that valid sockets are being used in the loop?

[2021-02-10 20:05] hierophect commented on #4132
This could be simply that you're running out of sockets, since any TLS sockets you use will actually reserve 2, and we only have 4 total right now for memory reasons. That said, if you were, it should raise a message specific to that and not the placeholder `OSError: 0`

[2021-02-10 20:07] hierophect commented on #3836
@brentru can you double check that this is fixed?

[2021-02-10 20:11] hierophect commented on #3686
Closing this as it's almost certainly overridden by major reworks to the Socket module and more minor changes to Requests. Other issues are now tackling remaining instances of `OSError: 0`

[2021-02-10 20:11] #3686 closed

[2021-02-10 20:15] anecdata commented on #4132
Can you try with the "Absolute Newest" CircuitPython https://circuitpython.org/board/adafruit_magtag_2.9_grayscale/ and latest release of Requests? This may be a distinct DNS issue, but there has been a lot of rework and issues closed since 6.1.

[2021-02-10 20:15] hierophect commented on #2097
@tannewt @brentru is this issue still relevant with the changes to Socket?

[2021-02-10 20:19] hierophect commented on #1522
@tannewt similar ping on this as #2097

[2021-02-10 20:23] dhalbert commented on #4066
I copied some larger audio files to CIRCUITPY, using up about 30% of the space. `storage.erase_filesystem()` reset the board but did not reformat the filesystem. The filesystem appears the same before and after. So perhaps the original issue was a corrupted filesystem that wasn't cleaned up by `erase_filesystem()`. I've changed the title to reflect the more general issue.

[2021-02-10 20:27] jepler commented on #4066
I have also reproduced this behavior.

[2021-02-10 21:11] caternuson opened #4171 "dir() calls properties when collecting their names"
Re this thread:
https://forums.adafruit.com/viewtopic.php?f=58&t=175096

Some weirdness trying to use `dir()` with the CPX. Can recreate it:
[code]

It's not a simple issue with frozen modules, as trying with something else works fine:
[code]

The imported `cp` otherwise works fine:
[code]
got expected lit NeoPixels and a tone. Even tab completion is working.

[2021-02-10 21:16] dhalbert opened #4172 "Revert "Add .spi accessor to SPIDevice #4114""
We can consider reverting #4114 once https://github.com/adafruit/Adafruit_CircuitPython_SD/pull/43 is merged. The need for native `.spi` will go away.

[2021-02-10 22:47] jfurcean commented on #4171
I was able to reproduce this error. Commenting out the `raise` exception in `_unsupported` in `adafruit_circuitplayground.express` allowed for it to operate as expected.

[code]
[code]

[2021-02-10 22:50] kattni commented on #4171
Thank you for reproducing this. I assumed it was something connected to how we were handling unsupported features. I would like to figure out why it's happening, and sort out a way to still provide an error for the unsupported features.

[2021-02-10 23:49] jfurcean commented on #4171
I am not sure what causes it but you can fix this issue by adding a `__dir__` function to this class and return the `dir(super())`. This is a little bit of a hack, but since this function doesn't have any other methods I think it should work.

[code]

[2021-02-10 23:51] caternuson commented on #4171
I'd be interested in knowing why `dir()` has this behavior also.

But, in terms of supporting this a different way, you could have stubbed versions of these functions added to `circuit_playground_base` that raise the exception. Boards that support the function would override and implement. Others would do nothing, in which case the base stub would get called and raise the exception.

[2021-02-10 23:57] jfurcean commented on #4171
I think it has something to do with it being a property, but I don't know why. I was able to reproduce this if I commented everything out related to the `_unsupported` property and created a new property that raised a different exception.

[2021-02-11 00:11] caternuson commented on #4171
Oh, good call. I've gotten so used to `@property` I don't even notice it much now. Hmmmm....why is it a property? For the items that get remapped:
[code]
the last two are functions.

Simply commenting out the `@property` line gets around it also:
[code]

[2021-02-11 00:27] dhalbert commented on #4171
It would appear that `dir()` is trying to call the unsupported properties. If you hit tab-complete, a property gets called. This may be a side-effect of that, but if so, bleh.

[2021-02-11 03:16] jfurcean commented on #4171
Interesting note in the [python docs](https://docs.python.org/3/library/functions.html) about `dir()`.

Maybe `__dir__` should be explicitly defined to avoid inconsistencies, especially for user libs?

[2021-02-11 04:32] Bhavithiran97 commented on #4143
I am still getting "ValueError: All timers for this pin are in use" when using GP18 and GP19 as PWMOut.

[2021-02-11 04:48] jamnopapa opened #4175 "internaltemp not read"
analog_in = AnalogIn(board.A4)

AttributeError: 'module' object has no attribute 'A4'

[2021-02-11 05:18] DavePutz commented on #4143
With the patch in, this script is working for me:
import pwmio
import board
pinred = pwmio.PWMOut(board.GP17, frequency=5000, duty_cycle=0)
pingreen = pwmio.PWMOut(board.GP18, frequency=5000, duty_cycle=0)
pinblue = pwmio.PWMOut(board.GP19, frequency=5000, duty_cycle=0)
print(pinred,pingreen,pinblue)

Note that if you choose GPIO pins that use the same channel (such as 5 and
21, or any pair
that d

[2021-02-11 05:48] Bhavithiran97 commented on #4143
What do you mean by patch in ?

[2021-02-11 06:16] tannewt commented on #4175
You don't need an AnalogIn to read the temp. It's available as `microcontroller.cpu.temperature` in 6.2.0-beta.2. Just `import microcontroller` before that.

[2021-02-11 06:16] #4175 closed

[2021-02-11 06:39] kahveciderin opened #4176 "samd51 200mhz support"
Any support for this? maybe making the ```microcontroller.cpu.frequency``` settable would help

[2021-02-11 11:54] jerryneedell opened #4178 "ESP32S2 -- Cannot access I2C after reboot"
on a metro-esp32s2 -- CP and libraries all updated this morning.
After a hard reset I can access I2C normally, but after soft reboot or deep sleep the access fails to find the I2C device
This example uses board.I2C, but it fails the same with busio.I2C

[code]

[2021-02-11 12:02] jerryneedell commented on #4178
closing -- duplicate of #4147 -- it's deja vu -- all over again....

[2021-02-11 12:02] #4178 closed

[2021-02-11 12:10] jerryneedell commented on #4147
This is pretty much a show stopper for using es32s2 with I2C -- Should this be assigned to a milestone? I think it is fairly urgent.

[2021-02-11 12:55] jerryneedell commented on #4147
hmm -- This issue doe snot occurs with an U expected Maker feathers2 and a bme680 I2C sensor.
It is able to run after reboot.

No idea if it is relevant, but I do not have the UF2 Bootloader on the umfeathers2.

[2021-02-11 13:40] jerryneedell commented on #4147
Ah HA! This issue doe not occur on the Metro-esp32s2 if I do not use the UF2 Bootloader.... the plot thickens....

[2021-02-11 14:30] KTibow commented on #4156
The same thing happened last night. Do you think it has something to do with low battery levels?

[2021-02-11 14:41] dhalbert commented on #4156
We saw something similar a long time ago with SAMD boards. They would reboot at too low a voltage level: the voltage was enough to run the CPU but the first attempt at trying to read the flash chip failed. So the code assumed the flash filesystem was defective and reformatted it. We ended up changing the bootloader to wait longer for the voltage to stabilize.

The latest 6.1.0-beta.2 has a fix so

[2021-02-11 15:04] d-c-d commented on #4143
I think they mean “with the  proposed  changes incorporated”

On Wed, Feb 10, 2021 at 9:48 PM bhavithiran97 <notifications@github.com>
wrote:

[2021-02-11 15:43] dhalbert commented on #4143
Did you test again with 6.1.0-beta.2? It incorporates the #4165 fix.

[2021-02-11 15:45] ajs256 commented on #4171
I also bumped into this in #3748. I agree that this is annoying and should be fixed.

[2021-02-11 15:54] dhalbert commented on #4171
The basic problem is that `dir()` is calling the properties:

test.py:
[code]

[code]

[2021-02-11 16:19] caternuson commented on #4171
Is this a duplicate of #3748 ?

[2021-02-11 16:19] brentru commented on #2097
@hierophect  Don't know - I've moved to using the pure-python implementation of this driver instead.... https://github.com/adafruit/Adafruit_CircuitPython_Wiznet5k/

[2021-02-11 16:20] brentru commented on #3836
@hierophect  Ok - I'll verify with MiniMQTT. Which CircuitPython version should I test on?

[2021-02-11 16:26] jfurcean commented on #4171
It looks like a duplicate to me. Also, should this particular issue be raised in the library?

[2021-02-11 16:26] zack-cpp opened #4180 "Raspberry Pi-Pico UART not Supported"
Trying to use UART on pi pico board. I started by finding pin names from _[board](https://circuitpython.readthedocs.io/en/latest/shared-bindings/board/index.html)_ modules.
![dir board](https://user-images.githubusercontent.com/56311615/107663364-e023e680-6cbd-11eb-91fe-3584018bc161.PNG)

Based on the _[example](https://learn.adafruit.com/circuitpython-essentials/circuitpython-uart-serial)_ from a

[2021-02-11 16:27] riffnshred opened #4181 "Strange sound Using audioio.AudioOut(board.A0) when in a loop on a Feather M4 Express"
Hi guys, I tried to get help on the discord channel but no dice so I'm opening and issue.

I'm playing with the feather M4 express and a stemma speaker. There is something weird happening where after playing the mp3 file, there is a weird noise playing. like a high note going to a low note. kind of line a laser blaster sound FX

Here's a clip of that sound. https://streamable.com/8axwjf

And Here

[2021-02-11 16:27] ladyada commented on #4180
correct, dupklicate of
https://github.com/adafruit/circuitpython/issues/4036
you can sub to that issue to be notified when resolved

[2021-02-11 16:27] #4180 closed

[2021-02-11 16:29] ladyada commented on #4181
its due to the capacitors on the audio board going to ground after you deinit audioio. dont use `with` for creating AudioOut - do that at the top of the project so that it doesnt deinit.

[2021-02-11 16:29] #4181 closed

[2021-02-11 16:29] brentru commented on #4152
@hierophect

I'm not sure if the socket is being closed by the broker (MQTT terminology for "server") or the client (device)...I can try this locally with a Mosquitto broker.

[2021-02-11 16:35] dhalbert commented on #4171
Yes, good catch, it's a dupe. I wouldn't say it's a library bug, because it's just the base bug being exercised. There may be other issues caused by calling `dir(cp)`, such as instantiating all the `TouchIn`'s, etc.

[2021-02-11 16:40] dhalbert commented on #3748
Closing in favor of dupe #4171, which has a bit more discussion.

[2021-02-11 16:40] #3748 closed

[2021-02-11 16:40] hierophect commented on #3836
@brentru latest. This should be all wrapped up with the new SSLSocket.

[2021-02-11 16:42] hierophect commented on #2097
Ok. Since this is based on an out of date version of socket, and the driver is no longer even using it, I think this is safe to close.

[2021-02-11 16:42] #2097 closed

[2021-02-11 16:42] dhalbert commented on #4171
Same bug reported in MicroPython, not fixed there yet either: https://github.com/micropython/micropython/issues/4546.

[2021-02-11 16:42] riffnshred commented on #4181
Thanks for the quick response.

Here is my original code and I just tested it again and it still doing the same thing. How do I prevent the deinit in this case? I fooled around a lot last night trying to figure what I'm doing wrong.

[code]

Thanks for the help.
Cheers

[2021-02-11 16:50] ladyada commented on #4181
you may have to either mute the speaker if it has a mute, or play a 'loop' of 0 values to the audio stream to keep the output going

[2021-02-11 16:52] riffnshred commented on #4181
gotcha, I'll try this out. Thanks !

[2021-02-11 17:01] riffnshred commented on #4181
Got it !!! adding deinit() after the clip is done prevent it. Thanks!

[2021-02-11 17:04] Neradoc commented on #4171
Note that `hasattr()` and tab completion have the same effect (they use the same underlying method).
Except tab catches the exception by passing `true` to `mp_load_method_protected`.

[2021-02-11 19:50] matemaciek commented on #4036
I want to connect to pico's REPL in another way than USB, as I want to use USB as host. Is it possible now, or should I wait for this issue to be done first?

[2021-02-11 20:00] tannewt commented on #4036
@matemaciek We don't currently support REPL over UART or USB Host. We really want folks to *always* be able to access their code over USB via mass storage.

[2021-02-11 20:04] tannewt commented on #4176
We've discussed this a bit but it's not easy to do well. Changing clocks tend to have cascading impacts on peripherals as well. Leaving open because I imagine we'll do it at some point.

An intermediate version would allow changing it in `boot.py` once. I think folks may want full support though for power saving too.

[2021-02-11 20:08] askpatrickw opened #4182 "ESP-IDF Update to unblock Mac M1 Builds"
When installing the esp-idf from github and runing `source ~/esp/esp-idf/export.sh` it works but in a new terminal when running the export from `ports/esp32s2/` I get `ERROR: Platform Darwin-arm64 appears to be unsupported`.

I can build successfully using the latest IDF (commit 73db14240).

The fix in the IDF appears to be this one
https://github.com/espressif/esp-idf/commit/5739127412b6756801a38

[2021-02-11 20:14] tannewt commented on #1522
Yup, ok to close.

[2021-02-11 20:14] #1522 closed

[2021-02-11 20:17] skieast commented on #4147
I was wondering when this stopped working.
Works with
    Adafruit CircuitPython 6.1.0-beta.2-7-g22ad76bb4-dirty on 2020-12-07; FeatherS2 with ESP32S2

Doesnt Work (built today from main)
    Adafruit CircuitPython 6.2.0-beta.2 on 2021-02-11; FeatherS2 with ESP32S2

[2021-02-11 20:17] #4172 closed

[2021-02-11 20:19] #4037 closed

[2021-02-11 20:53] jepler opened #4184 "audio: Refactor and improve the port-independent code"
Some items that have come up repeatedly but have been addressed separately each time:
 * Conversion of samples between signed & unsigned
 * Conversion of mono samples to stereo
 * Conversion between 8 and 16 bits (some ports even need other sizes, e.g., 10 bits (pico) or even non-power-of-two ranges (nrf))
 * "re-blocking" audio to fit an underlying buffer size required by the API
 * "ramping" to/

[2021-02-12 00:05] funjon commented on #4132
With the latest versions of code, it looks like it's working now. Thanks for looking!

[2021-02-12 05:17] microDev1 commented on #4067
It seems like [`common_hal_rtc_init()`](https://github.com/adafruit/circuitpython/blob/08f30fedf5401dd6aa9bf318e4d1eda59ae5652f/ports/raspberrypi/common-hal/rtc/RTC.c#L33-L35) is not getting called which leads to generation of random numbers.
I am not sure where to add a call for it, how do other ports handle RTC initialization?

[2021-02-12 06:16] kmatch98 commented on #4036
@matemaciek I have heard that the CircuitPython crew has UART on the roadmap for the Pico but there is none on the map for USB host support (on any board).

But once UART is available you can use a separate board as USB host to connect to the PICO via UART or other protocol. It’s not so elegant but you can “spoof” a REPL to go to UART. I know It’s not officially supported by the crew here but you

[2021-02-12 07:18] microDev1 commented on #4182
I suggest switching to [`v4.3`](https://github.com/espressif/esp-idf/tree/release/v4.3) branch. The v4.3 [release](https://github.com/espressif/esp-idf/releases/tag/v4.3-beta1) is currently beta.

[2021-02-12 12:23] dhalbert commented on #4036
We are working on adding a second USB CDC serial channel, which will not be connected to the REPL, and could be used to communicate with a host to send an arbitrary binary bytestream back and forth.

[2021-02-12 17:15] riffnshred commented on #4181
maybe this info would be also useful.

what Im working on requires a loop that waits for a request through I2C and depending on what it recieves it will play a specific sound FX.  But the issue was that the AudioOut was initialized but it would not stay up or active while waiting for something. So what I just do is I created a function that initialise AudioOut, play the sound FX and deinit() once

[2021-02-12 18:28] jedgarpark opened #4189 "PWMOut on RPi Pico not able to run at full duty cycle"
I've run into an issue w PWMOut on RP2040 Pico board while using adafruit_motor. Seems that setting the PWM pins to full duty cycle of `0xFFFF` fails to turn the motor, but `0xFFFE` turns it just fine. This means the adafruit_motor `throttle = 1.0` or `throttle = -1.0`  values don't work. I found that `throttle = 0.9999998` works, but `0.9999999` does not.

I'm using GP28 and GP27 on the Pico.

Ru

[2021-02-12 19:00] tannewt commented on #4182
I'm ok if we switch to the 4.3 branch. I'm not planning on doing it myself. I'd expect them to backport this to 4.2 as well.

[2021-02-12 19:03] tannewt commented on #4067
@microDev1 I suspect RTC init is done in `port_init` in `supervisor/port.c`.n

[2021-02-12 19:08] tannewt commented on #4184
Some of this shared code will probably need to be platform aware too or at least weak. For example, the RP2040 has an interpolator that may be able to accelerate some of the conversion. Cortex-M4s also have some basic SIMD instructions that can be used to do multiple instructions at once. (I'm not sure if the compiler will automatically use them.)

[2021-02-12 19:53] DynamoBen opened #4190 "RP2040: USB data stopping"
I created a test program that loops turning a MIDI note on and off. After running for a while (minutes not hours) I lose USB communications (both USB-MIDI and serial debug). I have the LED flashing to debug and it appears the loop is continuing it's just USB comms that stops inexplicably.

This is only reproducible on one of my Wins10 PCs (Dell XPS desktop) and the USB driver is still active when

[2021-02-12 20:49] 1st-BrainStormer opened #4191 "usb_midi Device Name"
Device name should be "CircuitPython Midi" not  "CircuitPython Audio" as this is a midi interface.
It would also be useful if this could be overridden with a custom device name.

[2021-02-12 21:24] kmatch98 opened #4193 "displayio.Group `.hidden` flag is not honored if set to `True` before content is appended to group."
I observed a strange behavior when using the `.hidden` flag of the `displayio.Group` where the group is actually visible, even when `group.hidden` is set to `True`.

If the `group.hidden` is set to `True` before content is appended into it, the `.hidden` flag is ignored.
The `group.hidden` flag's proper behavior can only be recovered if it set to `False` and then back to `True` again.

Here's the

[2021-02-12 21:28] lawrenceyun90 opened #4194 "HC-SR04 + audioio Problem"
I am testing a small script where two .wav files are played depending on the readings from an HC-SR04. I am running this script on a feather M4 Express with a Prop-Maker for audio.

In Example 1, I initialize the HC-SR04 before initializing the speaker, and audio will play correctly. In Example 2, I initialize the speaker before the HC-SR04, and the audio comes out as static noise. I should also m

[2021-02-13 04:52] hathach commented on #4190
There is tinyusb PR that fix this issue recently, please try to manually update tinyusb to see if that fix your issue

https://github.com/hathach/tinyusb/pull/618

[2021-02-13 05:05] dhalbert commented on #4190
@DynamoBen Here is a build for the Pico that updates tinyusb to the tip of its `master` branch as of now. The commit hash is in the filename:
[pico-with-tinyusb-at-09868434c.uf2.zip](https://github.com/adafruit/circuitpython/files/5975194/pico-with-tinyusb-at-09868434c.uf2.zip)

Could you test with this and see if it improves things? Thanks.

I only tested this enough to see that it presents the R

[2021-02-13 13:20] panchalnikunj commented on #4189
https://www.youtube.com/channel/UCA4j-J-TFW_9Dt4iTwIjtYQ

Once visit this channel for Raspberry Pi Pico Projects

[2021-02-13 13:21] panchalnikunj commented on #4180
https://www.youtube.com/channel/UCA4j-J-TFW_9Dt4iTwIjtYQ

Once visit this channel for Raspberry Pi Pico Projects

[2021-02-13 13:41] dhalbert commented on #4180
@panchalnikunj It is inappropriate to spam our repos with pointers to your YouTube channel, even if it is relevant material. I am deleting your comments. Please do no do this again.

[2021-02-13 15:50] KTibow commented on #4156
I tried installing it, however I left it on overnight, and the same thing happened. Is there a way for me to manually know what the battery level is so I can just exit the program?

[2021-02-13 16:03] DynamoBen commented on #4190
@dhalbert Some progress, now my test app is locking up instead of USB comms stopping.

[2021-02-13 17:01] DynamoBen commented on #4190
@dhalbert Some progress, now my test app is locking up instead of USB comms stopping.

[2021-02-13 17:37] kmatch98 commented on #4193
The root cause of this is related to the use of two separate properties to control hidden behaviour of `Group` and `TileGrid`.

The `Group` contains two properties that help hide graphical content:
- `hidden`
- `hidden_by_parent`

I'm not clear on the logic behind `hidden_by_parent` so I'm interested to better understand the importance of that.

Here is cause of the issue.  Whenever content is app

[2021-02-13 18:22] KTibow commented on #4156
I managed to find how to access the battery (`magtag.peripherals.battery`).

About at what voltage did that happen?

[2021-02-13 18:34] dhalbert commented on #4156
The flash chips we use typical have a minimum operating voltage of 2.6v. The exact chip used in the ESP32-S2 module is not specific, but it might be similar. The datasheet for the module says a recommended minimum operating voltage is 3.0v. So it would be interesting to know if your voltage is dipping below either of those.

We could add code to CircuitPython that refuses to run below a certain vo

[2021-02-13 18:56] KTibow commented on #4156
Got it. I've added a simple
[code]
I'll see what happens tonight.

[2021-02-13 19:09] askpatrickw commented on #4182
I started a PR and did the boring parts of updating the include paths. I don't know C so if someone is excited and could pick up from here, that would be great.

[2021-02-13 20:17] joelburton opened #4196 "os.urandom for Pico/RP2040 not supported"
Attempts to use `os.urandom(n)` on the Pico currently report:

[code]

The datasheet for the Pico indicate that the ring oscillator can be used for this (RP2040 datasheet, page 240). They do note that there are potential cryptographic attacks possible on this, but could this still be a considered "random hardware"? There are CircuitPython libraries that require `os.urandom()`.

[2021-02-13 20:22] ladyada commented on #4196
which library requires os.urandom?

[2021-02-13 20:44] hwiguna opened #4197 "OnDiskBitmap fails quietly when file has been closed"
This might be obvious to experienced Python programmers, but not to me.
The code runs with no errors, but the display does not show the bitmap because the with statement has closed the file.
To help beginners like me, it would be good if OnDiskBitmap would throw an exception if it cannot read the file instead of failing quietly as it does now.

[code]

code.py output:
bitmap ok <OnDiskBitmap>
tile

[2021-02-13 21:07] askpatrickw commented on #3321
Since RTC and Time are completed and the recommendation is not to use NTP I'm closing this. Thanks everyone !

[2021-02-13 21:07] #3321 closed

[2021-02-13 21:24] jepler commented on #4196
In the bundle, `adafruit_rsa` uses os.urandom.  In the community bundle, `circuitpython_nrf24l01` does.  In Learn, `CPB_Quick_Draw_Duo` (gracefully works around it if it's missing) and `CLUE_Rock_Paper_Scissors` (advanced version only) do.

[2021-02-13 22:18] ladyada commented on #4196
@joelburton you cant use random.randint() ?

[2021-02-13 22:39] krittick commented on #1677
I'm running into this issue in 6.2.0-beta.2 with several different encoders and can't reliably use them for my projects due to this. Is it still simply just awaiting a PR at this point or does more work need to be done first?

[2021-02-14 02:22] joelburton commented on #4196
I can and can fork those (it’s RSA lib I want). But thought it would be helpful to get this on someone’s non-urgent list for implementation for the pico.

Thanks!

[2021-02-14 02:41] ladyada commented on #4196
well tbf i dont know the crypto implications - i am not sure how we seed the pico's RNG. i will leave open but yah maybe can you submit a PR to change RSA lib to use random. instead of os.urandom if it throws an exception?

what are you doing with the pico and RSA anyways? makin a U2F? :)

[2021-02-14 03:32] joelburton commented on #4196
I teach Computer Science; I'm making graduation gifts for my students of a
pico with various CS challenges built in, and one of them is decrypting a
message using RSA. :-)

On Sat, Feb 13, 2021 at 6:41 PM ladyada <notifications@github.com> wrote:

--
Joel Burton - joel@joelburton.com

GTalk: joel@joelburton.com, Mobile/SMS: +1 415 513 2470

[2021-02-14 03:53] ladyada commented on #4196
ahh ok, random.* would be fine for your purposes then! if you submit a PR we will review it and merge

[2021-02-14 05:53] shanyechungu opened #4198 "Arduino Nano 33 BLE IMU I2C Error"
Hi all,

I am using CircuitPython with Arduino Nano 33 BLE board. Currently, I am trying to read the built-in IMU readings and get the following error:

Traceback (most recent call last):
File "code.py", line 18, in <module>
RuntimeError: SDA or SCL needs a pull up

I then set the board.R_PULLUP as digital output with a value of True. I added a delay after setting the True value and was able to me

[2021-02-14 14:31] KTibow commented on #4156
That simple thing didn't work. I'll try raising the cap. Something I also noticed is when I wake up, the display is always completely black.

[2021-02-14 16:19] deshipu opened #4199 "Consistent way of accessing buttons, display and audio on different gaming devices"
There is a number of gaming devices available that run CircuitPython, and so when a new game is made, it is desirable to make it run on all of them, or at least as many as possible. However, each device has different way of accessing the buttons and the audio, and some builds might even need to have the display initialized.

Asking the players to edit the code of the game to adjust it to the devic

[2021-02-14 16:22] deshipu commented on #4199
One way I attempted to solve this problem with the Stage library is by using a device-specific module — I named it `ugame` because the first device I supported was the µGame, but later I realized that it has to have the same name on all devices. That module contains all the code necessary to initialize and use the buttons, audio and display, and it's frozen on the device. This way each device can

[2021-02-14 16:26] deshipu commented on #4199
Another way of handling this was proposed by @tannewt — instead of having different versions of the library for different devices, there would be only one version, that would contain the code for all the supported devices, and it would guess what device it is running on by checking what names are defined in the `board` module, and initialize it all accordingly.

I tried to implement this here: htt

[2021-02-14 16:30] deshipu commented on #4199
Yet another way of doing this would be to generate the library for the individual devices from some kind of a template, letting the player select how the buttons, audio and display are connected in their particular device. This has the advantage of not wasting additional memory for classes that are not being used, and of supporting a wide variety of homebrew devices that we don't need to know up f

[2021-02-14 16:30] deshipu commented on #4199
Any further ideas are welcome.

[2021-02-14 17:44] #4198 closed

[2021-02-14 22:33] deshipu opened #4201 "Sorting displayio.Group"
I'm working on a game that uses an isometric view, and one thing I need for this is to sort the sprites representing mobs according to their depth on the screen. In ``displayio`` the drawing order is determined by the order of elements in the ``displayio.Group``, and I'm wondering what would be the best way of keeping it sorted:

1. Create a list out of the group, sort it, and then create a new gr

[2021-02-14 22:47] deshipu commented on #4201
Something like this should work, but of course not optimally:
[code]

[2021-02-14 23:26] timonsku commented on #2999
+1 on this from me, being able to write native modules without needing to integrate with the core would be huge.

[2021-02-14 23:36] gadjet opened #4202 "Problems with adafruit_hid not found"
Hi I've just tried the example code for the keyboard emulation on the Pico. I've loaded CircuitPython 6.2.0-beta.2 onto the Pico and tried a keyboard example "examples/hid_keyboard_shortcuts.py" from Circuitpython.org and I get an error
[code]
Is there a problem in the latest beta as I've seen a Youtube video using this module with 6.2.0=beta.1.

[2021-02-15 00:08] KTibow commented on #4057
I'm still getting this issue with `magtag.network.fetch` on 6.2.0-beta.2.

[2021-02-15 01:07] anecdata commented on #4057
@KTibow What version of `adafruit_requests` do you have? There were a couple of soket leaks plugged recently. Can you try the latest if you're not already using it?

[2021-02-15 01:22] timonsku commented on #2999
See https://github.com/pimoroni/pimoroni-pico/tree/main/micropython/modules for a use case for this. This probably ties also into https://github.com/adafruit/circuitpython/issues/2825

[2021-02-15 02:24] Bhavithiran97 commented on #4143
`import pwmio
import board
ping1 = pwmio.PWMOut(board.GP18, variable_frequency=True)
ping2 = pwmio.PWMOut(board.GP19, variable_frequency=True)`

Getting "ValueError: All timers for this pin are in use".

I want to change the frequency in a function, both GP18 and GP19 to same frequency. How can I do that ?

[2021-02-15 04:23] dhalbert commented on #4202
`adafruit_hid` is an external library you can get from the bundle: https://circuitpython.org/libraries. Did you add it to the board?

For general info about libraries: https://learn.adafruit.com/welcome-to-circuitpython/circuitpython-libraries

[2021-02-15 08:58] gadjet commented on #4202
Ah! I didn't realise that, I'm new to Python. I must have missed that in the video or it was mentioned in an earlier video I hadn't watched, thanks for the information I can fix it now.

[2021-02-15 08:58] #4202 closed

[2021-02-15 09:54] deshipu commented on #2999
@timonsku having been through the process of trying to use that, I have to say it's not as useful as it seems. The problem is that all the functions you are going to call have to be included in a special table at compile time — and only a handful is there by default — so while it's useful for speeding up some purely computational functions, it's very limited otherwise.

[2021-02-15 10:35] h3retek opened #4204 "RPi Pico i2c.scan() not returning address"
Similar to this issue:
https://github.com/adafruit/circuitpython/issues/3894

Running: `Adafruit CircuitPython 6.2.0-beta.2-14-g766e79ad3 on 2021-02-12`
Sensor: `mlx90614`

I have this code running:
[code]

just prints
[code]

Although, the sensor is working fine with this added
[code]

Had it running on `rp2-pico-20210209-unstable-v1.14-11-gc7aaee2b2.uf2`: this prints the address, but the library

[2021-02-15 13:10] timonsku commented on #4143
@Bhavithiran97 you can't, check out the table here: https://github.com/adafruit/circuitpython/issues/4143#issuecomment-776388367
Some pins are paired.  While you can adjust the duty cycle you can not adjust the frequency. If you need a different frequency on each pin you need to choose a different set of pins that don't share their PWM bank.
What this patch fixes is that you can still use them bot

[2021-02-15 13:36] dhalbert commented on #4202
Which video were you watching? Thanks.

[2021-02-15 13:56] gadjet commented on #4202
It was by Novaspirit tech on Youtube.

[2021-02-15 14:23] benetherington commented on #4152
The socket is being closed by the client according to my Mosquitto logs. `Client cpy3438 closed its connection.`

[2021-02-15 15:24] hierophect commented on #4142
So if I understand correctly, all that needs to be done here is to recreate that fix (deleting the bad never_reset check) and submit it as its own PR? This is the risk of folding in important fixes into semi-unrelated PRs I suppose.

[2021-02-15 16:51] anecdata commented on #4142
Looks good to me:
[code]

[2021-02-15 17:31] ajordan5 commented on #2489
Is there any way to get PWM working on any pins at this point? Currently working on a senior capstone project that decided to go with Circuitpython on our teensy, but only now realized that PWM isn't working. I don't get any errors, just no output. Thanks for your help!

[2021-02-15 17:45] hierophect commented on #2489
@ajordan5 it's on my todo list but not at the top. PWM is currently unsupported, the existing code is really just a placeholder. Would it be practical for your senior project to switch over to another chip that's out of beta and in our `stable` category? A SAMD51 or STM32F405 will have all common modules implemented and any Circuitpython code for the i.MX should be portable to them.

[2021-02-15 18:04] ajordan5 commented on #2489
@hierophect Yes switching to a chip that has full support is kind of where we were leaning anyway. Looks like that is the way to go.

[2021-02-15 18:10] hierophect commented on #2489
@ajordan5 sounds good, the Feather F405 or Feather M4 Express might fit your needs. i.MX support should be expanded out of the alpha state sometime this spring but it's taking a backseat to other priorities right now.

[2021-02-15 19:09] lawrenceyun90 commented on #4194
Just wanted to follow up. I found a temporary solution. Essentially, the HC-SR04 and speaker are constantly initialized and deinitialized within the loop. The two are never initialized at the same time.

`
import time
import math
import board
import digitalio
import audioio
from audiocore import WaveFile
import adafruit_hcsr04

# === speaker ===
propMakerPower = digitalio.DigitalInOut(board.D10)
p

[2021-02-15 20:19] anecdata commented on #4142
Fixed by #4205

[2021-02-15 20:39] ladyada commented on #4082
@dhalbert ok you were able to replicate this issue? ill take it off my todo list if so

[2021-02-15 20:56] hierophect commented on #4046
I've been testing this today, it appears to be the same problem as #4079, and probably #4147. Your test sketch catches the problem the most cleanly, I think. I can verify that at least for me,` busio.I2C(board.X, board.X)` does not cause this issue, only `board.I2C`.

This makes me think it has something to do with how the internal IDF object is dealt with internally during reset. The current vers

[2021-02-15 22:14] hierophect commented on #4046
@skieast noted on discord that #3803 is a related issue. Re-enabling the driver delete partially resolves this problem but will cause the wifi-i2c conflict to reappear

[2021-02-15 22:24] skieast commented on #4046
I have been doing some testing as well, including using IDF v4.3-beta1.  Mostly to see if the problem changes or goes away with a newer IDF.

[2021-02-15 22:27] hierophect commented on #4147
I'm consolidating this with a number of other issues that all appear to be the same thing. Please continue discussion of this issue in #4046.

[2021-02-15 22:27] #4147 closed

[2021-02-15 22:28] hierophect commented on #4079
I'm consolidating this with a number of other issues that all appear to be the same thing. Please continue discussion of this issue in #4046.

[2021-02-15 22:28] #4079 closed

[2021-02-15 22:29] hierophect commented on #3894
I'm consolidating this with a number of other issues that all appear to be the same thing. Please continue discussion of this issue in #4046.

[2021-02-15 22:29] #3894 closed

[2021-02-15 23:17] kevinjwalters commented on #4111
BTW, `PWMOut` is documented as being in pulseio until 7.x: https://circuitpython.readthedocs.io/en/6.1.x/shared-bindings/pulseio/#pulseio.PWMOut

[2021-02-15 23:27] alexbartlow commented on #4036
👍 for this feature.

Since the pico has two UART ports, I was hoping to use one of them to talk to another pico - daisy chaining them together would be great, with child picos using UART0 to talk to the parent, and UART1 to talk to the next child in the chain.

As it is now, the pico does not support running as an I2C peripheral under circuitpython, and can not use the UART1 function, so the optio

[2021-02-16 13:29] dhalbert commented on #4082
@ladyada I confirmed that there's an issue. TCS34725 does not respond, and also takes down the I2C bus so that other devices on the bus are prevented from responding: I added an LIS3DH, which could not be found until I removed the TCS34725.

Notes: @ladyada says this may very well be due to the unusual way we probe for the device on the RP2040. If We do a zero-length read; normally we would do a z

[2021-02-16 13:44] dhalbert opened #4207 "adafruit_ble_adafruit causes crash on connection"
Running `ble_adafruit_feather_bluefruit_sense.py` on a Feather Sense causes a crash on connection from the Bluefruit Playground app.

It works fine with 6.0.1, but crashes with 6.1.0.

Thanks to Southern Dragon in discord for finding this.

[2021-02-16 14:16] kevinjwalters opened #4208 "Raspberry Pi Pico PWMAudioOut playback has intermittent problems including hanging"
Playback is sometimes fine, sometimes accompanied by nasty noise, and occasionally silent with some minor noise. This sort of thing will demonstrate the problems with `PWMAudioOut` (implemented by #4037):

[code]

Also worth reloading CircuitPython to test again.

Can be seen+heard on [Raspberry Pi Pico PWMAudioOut issue I](https://www.youtube.com/watch?v=QJbMXhWyzvI) (YouTube).

[2021-02-16 14:20] kevinjwalters commented on #4208
Here's zip with wav file: [120998-32k.zip](https://github.com/adafruit/circuitpython/files/5989204/120998-32k.zip)

 It's converted to 32k and trimmed version of https://freesound.org/people/Thirsk/sounds/120998/

[2021-02-16 18:40] hierophect commented on #4046
Some notes from testing today:

- The current I2C problems (crashing or failure after soft reboot) do appear to have been caused by #3803, as reverting it (by re-adding the `i2c_driver_delete` to reset/deinit and having I2C initialize new drivers on reboot) solves those issues. However, as predicted by @skieast, it causes the Wifi/I2C conflict hang in #3743 to appear again.
- It is not clear what

[2021-02-16 19:17] microDev1 commented on #4067
`port_init` works... since this is a small change I might include it with my `UART` work or maybe you can fit it in somewhere. :)

[2021-02-16 21:35] iakovos-t opened #4209 "adafruit_minimqtt library issues on circuitpython 6.2.0-beta.2"
I am running circuitpython 6.2.0-beta.2 on a Feather S2 (ESP32S2). For the libraries adafruit-circuitpython-bundle-6.x-mpy-20210214

I have tried using the guide from adafruit under https://learn.adafruit.com/mqtt-in-circuitpython/circuitpython-wifi-usage as well as the examples included with the lib.

The code is returning an error:

[code]

The specific line causing the error is:

`mqtt_client.c

[2021-02-16 22:25] skieast commented on #4046
Ok, in some brief testing with idf v43-beta1 it seems like the i2c is better. also when i import wifi it doesnt crash.  I was having lots of issues probably related to intermittent usb cable connections, a hazard of working on a laptop on my couch.
Onward to actual code.

[2021-02-16 23:03] tannewt commented on #4082
It's the peripheral itself that can't do a zero length write. To do it ourselves we'd need to bitbang it.

[2021-02-16 23:07] tannewt commented on #4111
PWMOut was not made available in pulseio because the rest of pulseio hasn't been implemented on the RP2040. All new code should use it from `pwmio` anyway (`pulseio.PWMOut` is deprecated.)

[2021-02-16 23:10] tannewt commented on #4194
Unknown. This isn't a priority for Adafruit-funded folks at the moment. There are many other things we're working on now.

[2021-02-16 23:12] tannewt commented on #4143
The CircuitPython API doesn't allow for two PWM outputs to share a variable frequency. Instead, variable frequency requires separate underlying hardware. On the RP2040 that means separate PWM slices.

[2021-02-16 23:13] tannewt commented on #4204
What breakout are you using? Does it include pull ups?

[2021-02-16 23:15] tannewt commented on #2999
I'm also very concerned about the support burden of native modules that work for ARM but not xtensa or risc-v for example. I'd encourage folks to write native modules in the core instead. We're happy to have them.

[2021-02-16 23:17] tannewt commented on #4201
We discussed this in this week's meeting: https://youtu.be/I4uqbDT59Us?t=4446

My suggestion was to move Group to using a proper list for holding its items.

[2021-02-16 23:17] kevinjwalters opened #4210 "Raspberry Pi Pico PWM only works for 8 pins on 6.2.0-beta.2 absolute latest"
This only works on even pins, the rest are left low judging by LEDs on a Cytron Maker Pi Pico I've been using:

[code]

If the odd pins are initialised first then only those work.

[code]

Based on some discussions it sounds like the hardware is capable of 16 especially if the frequency values are all the same.

Tested on `6.2.0-beta.2` and `6.2.0-beta.2-18-g2a467f137 on 2021-02-15`.

Originally m

[2021-02-16 23:42] skieast opened #4211 "Why are the ESP32S2 JTAG pins not reset on the OR of these conditions? #if defined(DEBUG) || defined(ENABLE_JTAG)"
I would have thought ENABLE_JTAG would be sufficient. When i compile with DEBUG i lose the I2C pins on the board I am using.
I may be completely misunderstanding the reasoning.
Thanks

[2021-02-16 23:48] anecdata commented on #4211
I (also) hope there's no lurking reason not to remove DEBUG from that logic https://github.com/adafruit/circuitpython/pull/4131#issuecomment-778834022

[2021-02-17 00:45] tannewt opened #4212 "Provide a way to set os.environ outside of code.py"
Once we have a way, we can replace `secrets.py` use with it. `os.environ` is the common way for sharing secrets in CPython. For example, GitHub Actions secrets are provided as environment variables.

[2021-02-17 00:47] tannewt commented on #4196
`random` will use the time you first call it to seed the pseudo-random number generation if `urandom` isn't provided. It should *NOT* be used for cryptography. This true in CPython as well: https://docs.python.org/3/library/random.html Anything that doesn't do cryptography *should* use `random` instead of `os.urandom` because it provides a way to seed the random in cases where we'd want to have fi

[2021-02-17 00:51] h3retek commented on #4204
[Breakout Used](https://www.instructables.com/Infrared-Temperature-Sensor-MLX90614/)

[2021-02-17 00:51] tsukisan commented on #4036
+1

I'm looking to connect a serial LCD and GPS for telemetry and speed in a vehicle.

[2021-02-17 00:57] tannewt commented on #4197
I totally agree we could do this better. I think our best option is to take in the filename instead of a file object. That would imply that OnDiskBitmap manages when the file is open.

There aren't great places to throw an error when a used file is closed because display updates happen in the background. In this example, we could have TileGrid raise an exception but you could always put it in the

[2021-02-17 01:02] tannewt commented on #4193
I think the simple route is your only route. The complex route risks not actually updating a portion of the screen because dirty areas only come from TileGrids IIRC. TileGrids need to know when they are hidden so they can provide the area where they were rendered last (but not where they are now.) `hidden_by_parent` is separate from `hidden` because the public hidden attribute is for the TileGrid

[2021-02-17 01:21] tannewt commented on #4199
Thanks for making this issue!

I believe `board` is the right way to approach this problem. It's meant to hold board-specific initialization in a cross-board way. Generally, there should be a standard name for an object that has an expected API. Currently most attributes are pins but we also have I2C, SPI, UART and DISPLAY already.

Let's take these one-by-one:

## Buttons
This looks like we need

[2021-02-17 01:38] #4189 closed

[2021-02-17 02:26] anecdata commented on #4142
This fix seems to change refresh behavior:
[code]

[2021-02-17 04:25] hwiguna commented on #4197
Ah the plot thickens. It's probably best to leave it alone rather than changing parameters and breaking existing users' code. Thank you for the explanation.

[2021-02-17 15:20] ladyada commented on #4204
there are no pullups visible on it, pull up resistors (2K - 10K) are required

[2021-02-17 15:29] h3retek commented on #4204
Apologies:

![image](https://user-images.githubusercontent.com/69946004/108226488-89ac2180-716f-11eb-9809-1ac81a0681d0.png)

[2021-02-17 16:01] hierophect commented on #4046
@skieast If it reverts the I2C reset changes, and crashes when it's reloaded, that sounds very much the same as what I was experiencing when I reverted #3803. What do you find to be different, compared to before?

[2021-02-17 16:08] skieast commented on #4046
I'm currently testing with the 4.3 branch of the idf. I2c works with changes to i2c.c. Still crashes when wifi is used and the app reloaded. However before just doing an import wifi would crash. Now it gets farther. I'm out now so will look some more later.

[2021-02-17 16:16] hierophect commented on #4046
@skieast interesting. I never got a crash on the import of wifi, even on the existing branch of the IDF on Circuitpython main, and your experience is the same as my current Main branch testing. So it doesn't sound like the upgrade to 4.3 has changed much.

[2021-02-17 16:47] tannewt commented on #4204
It's possible that the device doesn't like how we probe the address. We usually do empty writes but the peripheral can't do that.

[2021-02-17 16:49] tannewt commented on #4197
We can definitely evolve it in this direction. It just takes time. In 6.x or 7.x we can add support for string inputs but leave the taking a file object in. Then in 7 or 8 we can remove the backwards compatible support.

[2021-02-17 16:51] tannewt commented on #4211
We usually assume that you want SWD or JTAG access. We usually will reset pins back to their debug state but allow you to use them if you want.

[2021-02-17 16:52] tannewt commented on #4210
No errors are thrown right? What does the non-working signal look like?

[2021-02-17 16:55] kevinjwalters commented on #4210
I've not looked at signal, the relevant LEDs on the pins appear to be off so it's likely to just be held low.

[2021-02-17 16:59] kevinjwalters commented on #4210
I slowed it down so I can see what's going on, `GP0` flashes as expected, `GP1` doesn't flash and appear low for this:

[code]

[2021-02-17 17:00] h3retek commented on #4204
Thanks.

I'll take a look at the MicroPython later and get back to you.

[2021-02-17 20:00] skieast commented on #4046
I'm trying to remember what wasnt working when I did my PR back in december.  At that point I think I was using the REPL,
[code]
Interrupt this code, then start entering it again. Would hang at the import wifi statement.
At least thats what I remember.  No real difference.

[2021-02-17 20:03] skieast commented on #4211
So if I compile with DEBUG=1 and ENABLE_JTAG not defined I should be able to use the pins in question for something other than SWD/JTAG? If so this doesnt happen as I cannot define an I2C bus on two of the pins.  Pin in use error I believe.

thanks

[2021-02-17 21:12] kevinjwalters commented on #4208
I don't know if it's a separate issue but copying a file onto `CIRCUITPY` while a looping sound sample is playing makes it crackle for a few second and then stop.

Restarting interpreter with control-D doesn't seem to allow recovery for this. The output just stays low.

[2021-02-18 00:38] jfabernathy commented on #4057
I posted a question in the forum and they directed me here:
I just updated my UF2 file to 6.2.0 Beta 2 and tried the Internet Test from the Learn Guide
https://learn.adafruit.com/adafruit-metro-esp32-s2/circuitpython-internet-test
I get the out of sockets error running the Internet test:
`Fetching and parsing json from https://api.github.com/repos/adafruit/circuitpython
Traceback (most recent call

[2021-02-18 01:17] jfabernathy commented on #4057
Never mind. I got pointed the the latest version that has not been release yet, but is in the pipeline. It worked._

[2021-02-18 01:41] Bhavithiran97 commented on #4143
`import machine
import utime

C4  = 262
D4  = 294
E4  = 330

tone = [C4,D4,E4]

audio_left = machine.PWM(machine.Pin(18))
audio_right = machine.PWM(machine.Pin(19))

for i in tone:
    audio_left.freq(i)
    audio_right.freq(i)
    audio_left.duty_u16(19660)
    audio_right.duty_u16(19600) #30%
    utime.sleep(0.15)
    audio_left.duty_u16(0)
    audio_right.duty_u16(0)
`

I can use change both GP

[2021-02-18 01:44] Bhavithiran97 commented on #4143
[code]
I can change both frequecy for GP18 and GP19 in MicroPython. I can't do it in CircuitPython ?

[2021-02-18 02:11] InvisibleRasta opened #4214 "how to install Debouncer module?"
Hello guys i am working on a macro keyboard project on my pico and I cant figur eout how to get the Decouncer module.
i did download adafruit-circuitpython-debouncer-6.x-mpy-1.3.9.zip and palced the mpy file in the lib/adafruit_deboucner folder but i cant load the module.
Here is my script:
[code]

[2021-02-18 02:15] tannewt commented on #4214
Try placing the mpy in `lib` directly. You only sometimes need the folder.

[2021-02-18 02:15] tannewt commented on #4214
(Specifically you need a folder when a library has multiple mpy files in it. The bundle will have the folder too if you need it.)

[2021-02-18 05:24] h3retek commented on #4204
This is how MP does it:

[machine_i2c](https://github.com/micropython/micropython/blob/master/ports/rp2/machine_i2c.c)

Let me know if there is anything I can do to help...

[2021-02-18 05:48] hathach commented on #4164
this could be related to https://github.com/hathach/tinyusb/pull/655 , may be worth doing tinyusb update. rp2040 port is still early.

[2021-02-18 13:59] arm358 opened #4216 "Serial Communication via USB only"
I'm trying to connect the raspberry pi PICO to the Raspberry Pi 4 and send data via Serial from the PICO to the Pi4.

Every example I see for Circuitpython uses either I2C or UART (i.e. using the pins on the board for Serial communication).

Is serial communication solely via USB possible? I want to only connect the Pico to the Pi4 with the USB cable and no other wires.

[2021-02-18 14:18] microDev1 commented on #4216
Yup! it is possible... take a look at #4215.

[2021-02-18 14:46] arm358 commented on #4216
Awesome, good to hear. Unfortunately looks like it's pretty new? I'm a pretty basic user so much easier for me to follow a guide and adapt it to what I want to do...

Maybe there will eventually be some guides I can utilize! Thanks for the info.

[2021-02-18 15:09] microDev1 commented on #4216
When the PR is merged the documentation will be available [here](https://circuitpython.readthedocs.io/en/latest/README.html).

If you want to get a head start at this... you can grab a `uf2` from the [artifacts](https://github.com/adafruit/circuitpython/actions/runs/577067290) page.
The functionality is similar to `busio.UART` so most of the existing examples will work with some modification like

[2021-02-18 15:11] dhalbert commented on #4216
Yes, it is pretty new (last night :slightly_smiling_face: ). I will be writing a guide soon.

[2021-02-18 16:20] dhalbert commented on #4204
Looks like MicroPython `[does a bitbang write transaction](https://github.com/micropython/micropython/blob/d4b45898f58aae66c706ca5f832f11727daef46b/ports/rp2/machine_i2c.c#L124-L42)` when the write is 2 bytes or less. (Interesting that it's 2 bytes, not 1 byte).

[2021-02-18 17:02] jepler opened #4218 "neopixel: calling show() after deinit() doesn't raise an exception"
I was surprised at this:
[code]

Expected behavior: `n.show()` raises an exception since the related object has been deinitialized
Actual behavior: `n.show()` does not raise an exception

I only tested on Pico, so this may be a port-specific problem.  However, I didn't label it as such initially.

[2021-02-18 17:40] jepler opened #4220 "`make html`: Sees unintended files from submodules"
Can we change the setup of sphinx so that it doesn't see "problems" like these when building in a clone which has been used to build an esp32s2 FW:
[code]
(and many others)

Possibly we could do this by having a whitelist of locations to use, instead of looking everywhere.

[2021-02-18 18:22] dhalbert opened #4221 "RP2040: bitbangio.I2C not working properly"
While trying to use `bitbangio.I2C` to fix #4204 and potentially #4082, I tried using `bitbangio.I2C` for short I2C writes. However, it wasn't working, and further trials showed `bitbangio.I2C` was just not working well.

Examples:
[code]

(this particular error occurred only once):
[code]

[2021-02-18 18:31] tannewt commented on #4211
I was saying how it usually works. It sounds like the ESP doesn't manage pin sharing for these like other ports do. So, it's something to fix.

[2021-02-18 18:32] tannewt commented on #4211
(If you are compiling yourself then I'd just hack it.) Most folks won't hit this.

[2021-02-18 18:34] tannewt commented on #4208
I think these are an artifact of the CPU or interrupts being blocked so the audio isn't filled in time.

Try providing a bytearray > 1k in size to WaveFile. It'll use the bytearray to buffer then. The larger it is, the more resilient to scheduling the playback will be. https://circuitpython.readthedocs.io/en/latest/shared-bindings/audiocore/index.html#audiocore.WaveFile

[2021-02-18 18:38] kevinjwalters opened #4222 "Raise an exception when PIO frequency given is below slowest possible value"
I've been experimenting with code derived from the demo code on https://github.com/adafruit/Adafruit_CircuitPython_PIOASM - what duty_cycle and frequency square wave is that supposed to create?

I've found that a frequency of `16` is faster than `1` but `64` is slower than `1`. If I print `sm.frequency` it does show correct number. Is 1 supposed to execute at 1Hz? The units aren't documented at th

[2021-02-18 18:41] tannewt commented on #4220
The exclude list is here: https://github.com/adafruit/circuitpython/blob/main/conf.py#L177

[2021-02-18 18:41] #4196 closed

[2021-02-18 18:46] tannewt commented on #4143
No. frequency is dictated by the TOP value and clock divider which are shared for the two channels output from a PWM slice. CircuitPython prevents you from changing these values from a single output because it could lead to unexpectedly changing the frequency of the other channel. MicroPython doesn't check this for you. Therefore, in CircuitPython you need to use pins with separate slices for each