[2019-04-03 00:22] deshipu commented on #1738
MicroPython (and by inheritance also CircuitPython) has many places where it throws exceptions without error messages, or re-uses more generic error messages than regular Python has. This is a trade-off, necessary to keep the binary small. It seems to me that in this particular case it's relatively easy to realize what the reason for the error is.

[2019-04-03 01:47] makermelissa commented on #1667
I was thinking about this. I have code.py loading the library that I was editing. Perhaps it had something to do with attempting to execute the file at the same time it was writing to it?

[2019-04-03 02:33] caternuson opened #1739 "displayio.Group.insert fills same entry to the right"
Create a group with numerous entries. Insert a new item at N. Everything N+1:end becomes a copy of the N+1 entry.

Just happened to be chatting with @tannewt when I hit this so was able to demonstrate to him. He found the cause in 0.3 secs:
https://github.com/adafruit/circuitpython/blob/19278e0284f0339576b7fe9e0bdd6ad312da208a/shared-module/displayio/Group.c#L75-L78

Anywho, here's an example:
[co

[2019-04-03 05:55] ladyada commented on #1667
pardon the delay - i was using a CPX, not using builtin display (initing via code.py) - here's my CPX UF2, code.py and the mpconfig for building

[code.txt](https://github.com/adafruit/circuitpython/files/3037040/code.txt)

[firm.zip](https://github.com/adafruit/circuitpython/files/3037044/firm.zip)

[mpconfigboard.txt](https://github.com/adafruit/circuitpython/files/3037045/mpconfigboard.txt)

[2019-04-03 17:20] tannewt commented on #1667
I think this may be related to exceptions because if I break the example and then fix it, it crashes on the second reload. I'm still chasing it down though.

[2019-04-03 18:51] pvanallen commented on #1380
From my experience with what I think is the CircuitPython audience (I teach technology to designers), I don't think message queues are easier to understand than other approaches, and are probably harder in many cases. As @siddacious says, concurrency takes a while for newcomers to wrap their heads around no matter what the method.

I also think it's important to distinguish between event driven ne

[2019-04-03 18:58] caternuson commented on #1739
Should be fixed by #1740 .

[2019-04-03 18:58] #1739 closed

[2019-04-03 20:04] deshipu commented on #1667
Could it be that the exception object survives the reload (to be displayed) but refers to line numbers in the original file, which might have been just overwritten?

[2019-04-03 20:07] hexthat opened #1742 "zh.po with /tools/Tecate-bitmap-fonts/bitmap/uw-ttyp0-1.2/t0-12.bdf"
builds without errors
Ubuntu terminal without errors
but on the displayio characters get swapped for other stuff, tried
`from adafruit_bitmap_font import bitmap_font

font = bitmap_font.load_font('t0-12.bdf')`
but same thing

[2019-04-04 02:12] #1667 closed

[2019-04-04 02:17] #1742 closed

[2019-04-04 05:48] caternuson opened #1744 "displayio.Bitmap wrapping after certain displayio.Palette size"
Tested on a PyPortal with:
[code]
Test code:
[code]
run the above get the expected little square:
![color16](https://user-images.githubusercontent.com/8755041/55532165-bcbf9780-5661-11e9-8a6f-821f054dbedf.jpg)
change this line to:
[code]
run again and some kind of repetition happens:
![color17](https://user-images.githubusercontent.com/8755041/55532198-dbbe2980-5661-11e9-932b-e2907b1240ac.jpg)

[2019-04-04 05:49] makermelissa commented on #1744
Oh, I thought it was just me.

[2019-04-04 09:34] nickzoic commented on #1042
G'day @dhalbert interested in your thoughts on the approach in the new branch above (nickzoic/micropython@625bd0 etc) ... I've split the actual page access off as per your suggestion and allocated some address space for the NVM explicitly in the `boards/*.ld` configuration ... only problem is, that doesn't really work with the `CIRCUITPY_INTERNAL_NVM_SIZE` approach.  I took the space out of the te

[2019-04-04 09:47] nickzoic commented on #1677
There's a potential fix in the patch above, but I haven't tested it yet ... mostly because I can't find the rotary encoder I was testing with last time!  I'll get to it in the next couple of days and put a PR in.

[2019-04-04 13:50] dhalbert commented on #1042
@nickzoic I don't think it's important to preserve the existing file system, as long as we warn people on upgrade. It would only matter to PCA10059 and other boards without external flash for CIRCUITPY. It's better to be consistent with the other boards.

[2019-04-04 13:53] dhalbert commented on #1042
I skimmed the refactoring you did to handle the SD-safe NVM writing. Looks good!

[2019-04-04 14:01] dhalbert commented on #1677
Is your code equivalent to the 16-byte `transitions` table I used in the atmel-samd code? https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/common-hal/rotaryio/IncrementalEncoder.c#L121.

Could we unify the two implementations? It seems like they do the equivalent thing. Common routines could be put in `shared-modules/rotaryio/` -- that's the style for lower-level code that's

[2019-04-04 18:20] tannewt commented on #1667
It turned out that it was a double free of supervisor managed memory for the TileGrid that is used for the terminal. The exception causes a run without the first allocation and the second free then frees the heap. This makes way for the flash cache to end up on top of the heap and thus corrupt it. Should be fixed now.

[2019-04-04 18:24] makermelissa commented on #1667
Cool. Hopefully this was the last of the memory issues.

[2019-04-04 19:56] tannewt commented on #1686
Anyone still worried about this or can I close it?

[2019-04-04 20:07] caternuson commented on #1744
FYI - The mentioning of `displayio.Palette` is a red herring. It's simply triggered by the `value_count` parameter when creating the Bitmap instance. Anything above `16` creates the behavior.

Also, direct indexing vs. using (x,y) tuple does not matter.

[2019-04-04 20:46] nickzoic commented on #1677
The previous one (in the previous PR) definitely was: this one works correctly on the whiteboard but I haven't tried it in hardware!  I'll find a rotary encoder and give it a go (all it's really doing is code-golfing your state transition table down to logical operations: note that in some of the 'bad transitions' the counter is both incremented and decremented) I need to write an explanatory comm

[2019-04-04 21:05] dhalbert commented on #1677
Remote physical debugging: I built the latest push on your fork branch, and it works with my rotary encoder (while you're looking for yours).

[2019-04-04 21:05] nickzoic commented on #1042
Oh, great!  I'm not totally confident with the workings of `common.ld` so it's a bit of a wild stab ... but I thought it was clearer than having the FATFS use logic something like:
[code]
... although that'd be okay if we want to support nvm size configurable by `CIRCUITPY_INTERNAL_NVM_SIZE`.

[2019-04-04 21:29] jerryneedell commented on #1686
No worries from me ... I know how to open an issue if it comes back ;-)

[2019-04-04 21:42] nickzoic commented on #1677
On Fri, 5 Apr 2019, at 08:05, Dan Halbert wrote:

Thanks! I'll pick one up from somewhere, and in the meantime do some code cleanup to get that ready for PR!

[2019-04-04 22:14] tannewt opened #1747 "Hard fault throwing TypeError"
Unfortunately, I've found another bug that leads to hard crashes and appears to be memory corruption. I'm seeing it on the pybadge which is an m4. I looked a few days ago and swapped to the M0 to debug. Unfortunately I fixed a different issue.

Will track this one down. Let me know if folks want details. I'm using the celeste.py code for it so the repro case isn't small.

[2019-04-04 22:17] #1744 closed

[2019-04-04 23:15] KacperLa commented on #1677
This is great thank you for your work. A friend of mine is also using the feather m4 express with several encoders, we are both looking forward to being able to get the full resolution of the quadrature encoders we are using.

I was trying to compile the .u2f file with your code for the feather m4 express, but I get an error when I try to import rotaryio. I am sure I am doing something wrong. I un

[2019-04-05 02:33] siddacious opened #1749 "Windows 10 descriptor request failed"
I have a feather m0 express with Beta 6 that when first plugged into my windows 10 machine will show a "USB device not recognized" popup. In the device manager under usb controllers it shows up as "Unknown USB Device (Device Descriptor Request Failed)".

If I single press the reset, it boots as normal with the mass storage drive and serial port.
Once working, if I unplug and replug right after it

[2019-04-05 02:59] hathach commented on #1749
@siddacious does it happend with metro m0 express as well, I have the metro, could help to troubleshoot this.

[2019-04-05 03:03] dhalbert commented on #1749
@siddacious Could you try other ports on that host and other machines, if possible?

[2019-04-05 06:12] makermelissa opened #1750 "Allow displayio to treat all SPI parameters as commands"
The SSD1331 likes everything sent as commands. I could format the INIT data as all commands, but that gets lengthy, so it would be nice to just pass a parameter to allow this to happen automatically. Additionally all of the boundary parameters need to be treated as commands too.

[2019-04-05 07:12] deshipu commented on #1750
I think all displays want parameters as commands. Data is strictly only for pixel data.

[2019-04-05 13:41] dmazzella opened #1752 "MicroPython external C modules"
why build MicroPython external C modules capability was removed?

interest in a PR for it?

[2019-04-05 15:29] dhalbert commented on #1752
Nothing was removed. Could you point to the MicroPython PR you have in mind? You're talking about an import of a native module, right? We haven't merged from upstream in several months.

[2019-04-05 16:00] caternuson commented on #1744
Nice! Thanks for the fix. And now my hacks to `adafruit_imageload` seem to be working better also :)
![flowers](https://user-images.githubusercontent.com/8755041/55640794-2da9a100-5781-11e9-9544-a93555fd9a73.jpg)

[2019-04-05 16:12] dmazzella commented on #1752
[#4195](https://github.com/micropython/micropython/pull/4195/files)

[2019-04-05 16:23] siddacious commented on #1749
@hathach I wasn't able to reproduce it on a metro m0 using the same port and cable.

[2019-04-05 16:40] siddacious commented on #1749
@dhalbert I tried on one of the front ports (previously it was a rear port on my optiplex 7020) and I can get it to happen there as well.

After many plug-unplug cycles it appears that the best way to get it to happen is to slowly insert the micro usb so that the board is powered before the plug is fully seated. I'm guessing this is because it boots before the D+/- has a solid connection.

[2019-04-05 16:54] siddacious commented on #1749
I just tested on my mac and a dramatically slow insertion was enough to get it to not enumerate correctly and show "AppleUSBHostPort::disconnect: persistent enumeration failures" in dmesg. Hitting reset makes it show up as expected.

By "dramatically slow" I mean going slow enough to stop as soon as the charge light comes on, waiting for 5 seconds or so and then continuing to plug in.

[2019-04-05 17:08] ladyada opened #1753 "hardfault on CPX build with displayio"
getting hardfaults on boot and whenever i KeyboardInterrupt while trying to init a display on CPX built with displayio support

[files.zip](https://github.com/adafruit/circuitpython/files/3048941/files.zip)

[2019-04-05 17:36] dhalbert commented on #1752
OK, thought you were talking about https://github.com/micropython/micropython/pull/1627 or similar. That PR is after our last merge from micropython. I see this is a build-convenience mechanism: you still need to know how to implement native modules.

Our build structure is slightly different these days, so there would need to be some changes on the original MicroPython PR. If you'd like to work o

[2019-04-05 17:48] dhalbert commented on #1681
Fixed by #1748.

[2019-04-05 17:48] #1681 closed

[2019-04-05 17:52] dhalbert commented on #1749
Is it worse than you'd expect on the Windows 10 box (i.e., does it happen all the time), or is it just you were plugging in slowly at first? We could add a small delay somewhere before we bring up USB. The M4 is too fast :smiley: .

[2019-04-05 18:17] tannewt commented on #1750
I checked the ST7735R datasheet and it says parameters are data. (See the D/C column below.)

![Screen Shot 2019-04-05 at 11 16 19 AM](https://user-images.githubusercontent.com/52649/55648156-6737d780-5794-11e9-8628-1ea81b74ec02.png)

[2019-04-05 18:33] dhalbert commented on #1644
@kevinjwalters I am experimenting with adjusting the TC count when the duty cycle is modified, to make smoother transitions. Would you like to try this UF2? I haven't tested it myself.
[cpx-smooth-pwmout.uf2.zip](https://github.com/adafruit/circuitpython/files/3049189/cpx-smooth-pwmout.uf2.zip)
It's a build of https://github.com/dhalbert/circuitpython/tree/smooth-tc-pwmout

[2019-04-05 18:43] siddacious commented on #1749
Just to clarify, this is with an **m0**

I only started paying attention because It happened several times during normal use. At first I thought it was always the first time I plugged it in after boot but then discovered more ways of making it happen.

[2019-04-05 19:02] deshipu commented on #1750
You are right, I tested it with DC=0 and it doesn't work on that display then. Sorry for the assumption.

[2019-04-05 19:46] dmazzella commented on #1752
PR is #1754, for test you can see [USER_C_MODULES](https://docs.micropython.org/en/latest/develop/cmodules.html)

[2019-04-05 19:55] dmazzella commented on #1752
[cmodules.zip](https://github.com/adafruit/circuitpython/files/3049406/cmodules.zip)

unzip into root folder of circuitpython:

[code]

usage:

[code]

[2019-04-05 20:03] kevinjwalters commented on #1084
My similar discussion: https://github.com/adafruit/circuitpython/issues/1084

[2019-04-05 20:04] kevinjwalters commented on #1644
Sure, might have time this weekend to have a look, thanks.

[2019-04-05 20:07] #1750 closed

[2019-04-05 21:51] #1747 closed

[2019-04-06 13:49] deshipu opened #1760 "displayio: Impossible to have more than one display on the same bus"
In theory, I could have several SPI displays connected to the same bus, and displayio has provisions for that — locking of the SPI bus, toggling of the CS pin, even re-setting of the SPI frequency, polarity and phase. However, it's not possible to create two (or more) ``FourWire`` objects sharing the same DC and/or reset pins, but with different CS pins — because we will get a "Pin in use" error w

[2019-04-06 17:51] rdagger commented on #1595
Looking forward to this feature.  Do you think scanning will be implemented soon?

[2019-04-06 17:56] dhalbert commented on #1595
It will be after 4.0 is out. There are other BLE things to do, like BLE HID (which needs pairing/bonding), and we'll prioritize those after the 4.0 release.

[2019-04-06 18:08] rdagger commented on #1595
Sounds great!  You guys are doing a fantastic job.

[2019-04-07 07:40] tannewt commented on #1760
So we need a separate FourWireDevice then. (To match I2CDevice for example.)

[2019-04-07 07:41] tannewt opened #1761 "Unable to get/set superclass properties"
Setting the display brightness works ok when working with the native display itself but not when a subclass (like the display drivers use) is used.

[2019-04-07 08:45] deshipu commented on #1760
I think it would be sufficient to be able to pass a DigitalInOut object as the pins during the initialization, at which point it wouldn't try to create new ones.

[2019-04-07 13:08] deshipu opened #1762 "displayio interferes with audioio"
I tried to make a game that would have both music and graphics. I decided to make a simple Tetris game for the Hallowing. The code is here: https://github.com/deshipu/hallowing-tetris

Unfortunately, when the display is being refreshed, that interferes with audioio playback and the result is distorted sound.

[2019-04-07 13:22] deshipu commented on #1762
Here is a recording: https://youtu.be/_ghOrXVjnwM

[2019-04-07 22:19] nickzoic commented on #1677
Found it!  Should be able to get this finished off and PRed tomorrow (GMT+10).

[2019-04-08 02:49] dhalbert commented on #1380
I have done some more thinking and studying on this topic. In particular, I've read (well, read the front part; skimmed a lot more) [_Using Asyncio in Python 3_](https://www.oreilly.com/library/view/using-asyncio-in/9781491999691/), and I've read about [curio](https://curio.readthedocs.io/en/latest/) and [trio](https://trio.readthedocs.io/en/latest/) ([github_](https://github.com/python-trio/trio)

[2019-04-08 03:51] dhalbert commented on #1380
I started a thread in the trio forum: https://trio.discourse.group/t/python-for-microcontrollers-and-structured-concurrency/154

[2019-04-08 08:59] kevinjwalters opened #1763 "Implement bytes(object)"
MicroPython doesn't implement `bytes(object)` at the moment, the method syntax is the only way to execute it, i.e.`object.__bytes__()`. This can be see in CircuitPython too including 4.0.0 beta 5 (also shown in https://forums.adafruit.com/viewtopic.php?f=60&t=150071), example below from a REPL on CPX:

[code]

https://github.com/micropython/micropython/issues/3158 notes the absence of this feature

[2019-04-08 09:39] deshipu commented on #1380
For comparison, here is how you would do it with some kind of async framework (let's call it "then"):

[code]

[2019-04-08 12:16] dhalbert commented on #1380
@deshipu Right, right, yes, we're talking about the same thing! I left out the `async`s and `await`s, or propose they might be hidden by the `when` mechanism.

trio and curio use `async with` as a style. I'll doodle with the same style:

[code]

[2019-04-08 12:17] bobricius opened #1764 "Make SD card accessible over MSC, as CIRCUITPY, or as a dir in CIRCUITPY"
Hi, I am just interesting if is possible create device without spiflash.
Just MCU+SD card and run code directly from card and also save files to card.

Thanks

[2019-04-08 12:19] dhalbert commented on #1764
Yes, you can import code or read data from an SD card, but, there is no mechanism for accessing the card via the USB port on the device. That is, there's no passthrough from USB to the card filesystem.

[2019-04-08 12:30] bobricius commented on #1764
And is possible modify cpython to access to SD card, without use internal flash and spiflash ?  ... simple device samd21e18+microsd card slot. I am just interesting about this possibility, SD card with fat system is more standardized and have unlimited storage.

[2019-04-08 12:38] dhalbert commented on #1764
The firmware has to live in internal flash, and there needs to be some code to set up using the SD card (though that could be built into the the firmware).

In general, having a large SD card doesn't necessarily help a lot, because the size of programs is limited by the size of RAM, especially on a SAMD21 (32kB). If you have large data files (e.g., data you are streaming out), then the SD card can

[2019-04-08 12:51] bobricius commented on #1764
Thanks for fast answer.
I know that firmware need live internal flash, I just asking if is possible replace spiflash with sd card.
If I understand, it is possible but spi flash is better ;)

[2019-04-08 12:56] bebeaux opened #1765 "audiobusio.I2SOut erroneous error message"
audiobusio.I2SOut has three mandatory parameters, the bit_clock pin, the word_select pin, and the data pin.
When there is an incorrect pin assignment for the second parameter, the error message reads "Invalid bit clock pin", but it should say "Invalid word_select pin"

[2019-04-08 13:13] deshipu commented on #1380
It's not possible to "hide" the async keyword in the library, because then you create a function that is being invoked when you "call" it. With async, "call" will simply produce an iterator object, which the library can then exhaust in its main loop, handling any Futures it gets from it along the way.

I think that syntax makes a very big difference for beginners, and that the "callback" style tha

[2019-04-08 13:43] dhalbert commented on #1380
@deshipu Thank you for the enlightenment. I'll rework the examples with `async`. I think we still might be able to avoid explicit `await`s in some cases. I like the `interval()` style, which pushes the timing into `when` instead of making it part of the function. But maybe that is too much of a toy example.

[2019-04-08 14:07] dhalbert commented on #1380
@deshipu But I am seeing trio use what you call the "callback" style:
https://trio.readthedocs.io/en/latest/tutorial.html#okay-let-s-see-something-cool-already
Notice `child1`, not `child1()`, below, etc.
There are other examples where the args are separated from the function, e.g. `start(fn, arg)`.

Do you have an example of an await/async library that uses your style?

[code]

[2019-04-08 14:11] deshipu commented on #1380
Here is a very simple implementatin of such an async framwork, that can only await on a sleep function:

[code]

[2019-04-08 14:12] deshipu commented on #1380
This presentation explains the trampoline trick that it uses:
https://www.youtube.com/watch?v=MCs5OvhV9S4

[2019-04-08 14:16] deshipu commented on #1380
As for examples, asyncio uses that style: https://docs.python.org/3/library/asyncio.html

[2019-04-08 14:19] deshipu commented on #1380
Of course in a proper implementation you would use a priority queue for tasks that are delayed, and a ``select()`` for tasks that are blocked on input/output, such as interrupts, reading, or writing.

[2019-04-08 19:02] ladyada opened #1766 "Support PWM on TCx_0 pins"
currently used for the counter TOP, maybe we don't care as much about freq (just within the prescale divider ranges)

[2019-04-08 19:03] tannewt commented on #1766
We currently don't support the first capture compare channel right now because we use it to store the 16bit top value to get precise frequency.

[2019-04-08 20:25] deshipu commented on #1380
I mocked up a simple framework that lets you sleep and wait for a pin change (uses polling internally): https://github.com/deshipu/meanwhile

[2019-04-08 21:39] tannewt commented on #1762
Thanks for testing this! We may need longer audio buffers but partial display updating should help as well.

[2019-04-08 21:42] tannewt commented on #1765
The errors are from here: https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/common-hal/audiobusio/I2SOut.c#L146

They should probably be made less pin specific since it's checking for the combination of the two.

[2019-04-08 21:48] Joe-Davidson1802 opened #1767 "NameError occurs and persists after any syntax error"
I am running a NeoTrellis with CircuitPython 4.0.0 Beta 6.
Whenever I create any kind of compilation error I get the following

Adafruit CircuitPython 4.0.0-beta.6 on 2019-03-30; Adafruit Trellis M4 Express with samd51g19
\>\>\> estingOpen
Traceback (most recent call last):
  File "\<stdin\>", line 1, in '<module'>
NameError: name 'estingOpen' is not defined:

Even if I fix the syntax issue, I sti

[2019-04-08 21:53] pvanallen commented on #1380
@dhalbert I think your "when" proposal has promise. I like the simplicity of it. And compared to other approaches, I think moving the interval outside the def is better because it makes the method more reusable and cleaner. From my perspective, the use of "callbacks" is not that hard for people to understand, whereas the use of await/yield requires explaining cooperative multitasking etc.

I'm int

[2019-04-08 22:15] deshipu commented on #1380
Since with async the interval is just a loop with a delay, you can easily control the number of repeats:

[code]

[2019-04-08 22:17] deshipu commented on #1380
I added a mock of a hypothetical implementation of an async framework if we had the ``select`` call available (just for file operations for now, but for sercoms or interrupts it would be similar): https://github.com/deshipu/meanwhile/blob/master/meanwhile_select.py

[2019-04-09 01:32] kdb424 opened #1769 "HID requires connection to REPL to type."
I have a keyboard that's built on circuitpython, and while on beta 4, I am able to plug the keyboard in, the code boots, and I can type. When testing on beta 5, 6, or even latest at the time of writing, I have to connect to the REPL for me to see output. Based on the lights on the keyboard, it appears to be running code, but it runs normal after connecting to REPL, so it's hard to check where the

[2019-04-09 02:29] C47D commented on #1765
Should this fix it?
[code]

[2019-04-09 06:44] nickzoic commented on #1561
G'day @makermelissa #1736 is merged & I think it works for my very small test case, can you confirm that this works okay for you now?

[2019-04-09 07:24] makermelissa commented on #1561
Tested and it works great! Thanks @nickzoic.

[2019-04-09 07:24] #1561 closed

[2019-04-09 17:29] tannewt commented on #1765
@C47D probably! We should test it to be sure. I'd change the messages to `"Invalid %q pin", MP_QSTR_bit_clock` style to so that there is only 1 message to translate. (save a little space too)

[2019-04-09 17:31] tannewt commented on #1767
Does the board crash after the traceback? what is the code.py you are using?

[2019-04-09 17:32] tannewt commented on #1767
And thanks for testing Beta 6 @Joe-Davidson1802 ! We'll get these bugs squished soon.

[2019-04-09 17:37] C47D commented on #1765
Ok, I will fix it and send a PR if you don't mind.

[2019-04-09 18:25] tannewt opened #1770 "UART doesn't block until transmit end."
UART.write will return before the last byte is actually transmitted. This is usually fine because it has time to finish while other Python code runs. However, if the write is at the end of the code.py, the SERCOM will be reset early and corrupt the last byte.

We should replace ASF4 here and manage the dma ourselves.

[2019-04-09 20:54] jerryneedell opened #1771 "feather_nrf52840 - slideshow not working on tft featherwing"
I  have been testing a "slideshow" using a feather_m4_express and an feather_nrf52840 wiht a TFT featherewing (ILI9341).

It runs fine on the feather_m4_express
but it does not work on the feather_nrf52840
It starts up OK, but only displays a small part of each image then eventually (after a few images) goes to a white screen.

This used to work on the nrf52840, but if I recall correctly, some cha

[2019-04-09 21:29] deshipu commented on #1771
I think it may be related to #1758 — the SPI speed is no longer hardcoded, and the nrf's defaults may be wrong for that display? Can you try adding ``display_bus.configure(baudrate=12000000)`` in there before you create the FourWire bus?

[2019-04-09 21:47] #1753 closed

[2019-04-09 21:48] jerryneedell commented on #1771
I don't understand -- display_bus is created by the line
[code]
when should I execute the display_bus.configure(baudrate=12000000) - after that?

[2019-04-09 23:45] trimmkm commented on #1679
I've seen similar behaviour under 4.0.0 Beta 6, running both the quotes code and weather station code.  After several hours of running, the code would hang, and the NeoPixel status light would be steady yellow.  A hard reset would fix the issue.  When running from USB power supply only, it may run for 24 hours between crashes.

[2019-04-10 03:52] C47D commented on #1382
Hi,

I'm trying to get familiar with CP codebase and i think this is a good issue for that, so bear with me.

As i understand, instead of sending the color data to the neopixel LED the colors should be separated in R, G, B and set the PWM to the proper value to drive RGB LEDs?

Is there a macro to know when to use RGB status LED instead of WS2812-like LEDs?

[2019-04-10 04:01] dhalbert commented on #1382
Check the `mpconfigboard.h` files for, say, Itsy Bitsy M4, and Metro M4, and you'll see different definitions for DotStar vs NeoPixel. A discrete RGB LED could be similar. But it might be better to regularize all this instead of depending on checking for those definitions. See for example how the CIRCUITPY_xxx stuff is done in mpconfigboard.mk and elsewhere.

[2019-04-10 04:32] C47D commented on #1382
Hi,

At the top of rgb_led_status.c are some #ifdef checking for defined symbols which i assume are defned on the mpconfigboard.mk, like so:
[code]

Maybe defining a new symbol CIRCUITPY_RGB_STATUS for the targets with RGB status LEDs, then in rgb_led_status.c :
[code]

Is this what you have in mind? I'm just thinking out loud, so let me know if i'm doing something silly.

Carlos

[2019-04-10 06:30] wallarug opened #1776 "Set timers for CircuitPython Manually"
How do you set the timers for PWM outputs when building custom CircuitPython boards?

I am getting an error at the moment about conflicting timers.  However, everything should work fine using alternative timers on the SAMD21G (if it knows which to use).

[code]

<img width="301" alt="WeChat Image_20190410162543" src="https://user-images.githubusercontent.com/11770912/55856487-c9864300-5bad-11e9-90

[2019-04-10 06:33] wallarug commented on #1776
SERVO1 and SERVO3 are conflicting.

As a follow up to this... the pins in use at the moment are the following:

| Descriptor | CircuitPython | Port | TCC/TC | Alt TCC/TCC |
|--------------|-------------------|-------|------------|------------------|
| SERVO_1 | SERVO1 | PA16 | **TCC2[0]** | TCC0[6] |
| SERVO_2 | SERVO2 | PA17 | **TCC2[1]** | TCC0[7] |
| SERVO_3 | SERVO3 | PA18 | TCC0[2] | **TC3[0]

[2019-04-10 07:41] deshipu commented on #1776
You might be able to get it working by creating the pwm objects in different order.

[2019-04-10 08:25] wallarug commented on #1776
Hey @deshipu ,

I have tried that and I still get the same two outputs conflicting.  SERVO1 and SERVO3.  None of the others conflict at this point.  It's very strange.

[2019-04-10 12:30] jerryneedell commented on #1771
@deshipu
how do I set the baudrate as you suggested?

[2019-04-10 12:35] jerryneedell commented on #1771
nevermind -- this is now working with the current master.
[code]

[2019-04-10 12:35] #1771 closed

[2019-04-10 12:54] dhalbert commented on #1771
I think that #1773 may have fixed this.

[2019-04-10 13:09] jerryneedell commented on #1686
closing since it appears to be working now.

[2019-04-10 13:09] #1686 closed

[2019-04-10 19:09] tannewt commented on #1776
@wallarug How are you creating the PWMOuts? What version of CircuitPython are you using? (I feel like we fixed a bug with PWM recently so try Beta 6 if you haven't.)

[2019-04-10 19:26] dhalbert commented on #1776
Ah yes: we fixed a TCC allocation bug: https://github.com/adafruit/circuitpython/pull/1184

[2019-04-10 23:11] tannewt commented on #1761
Fixed by #1774

[2019-04-10 23:11] #1761 closed

[2019-04-10 23:30] wallarug commented on #1776
I am pretty sure this was latest pull from 2019-04-08 direct from github.  So version 4.0.0 of CircuitPython.  Not sure of the exact version.  I can double check tomorrow.

[2019-04-10 23:43] wallarug commented on #1776
@tannewt  cycling through all the servos starting at 1 to 8.  Creating the PWMOuts based on SeeSaw's libraries (so hidden).  I didn't have this issue with the circuitpython built in Feb / March 2019.  The SeeSaw firmware that I built is ok - it uses the correct timers that were specified.

[code]

[2019-04-11 17:38] tannewt commented on #1776
Now I'm confused. How does Seesaw play into this? Can you link to the robohat library please?

[2019-04-11 17:45] dhalbert commented on #1769
Hi - I tried this with the simple test below as `main.py`, using a PyPortal (so I could see any errors), and I did not see this issue. If I plug the board in, it starts typing `a`'s in whatever area the mouse is in, even without connecting via the REPL. I am using the latest version of master.

Could you make a simple test case, based on your code in some way? Thanks.

[2019-04-11 18:42] TheKitty opened #1782 "WIndows 10 CIRCUITPY enumeration issues"
I've had some issues with my CP devices lately.

1) I have a desktop USB hub, using that at times I can't get a CircuitPython device to enumerate to Windows 10
2) I have had a good number of issues after upgrading from Mu 1.01 to beta to 1.0.2 getting the serial window to open properly. I cleaned out the unused COM ports in Windows Device Manager as a first try, still issues maybe related to #1.

[2019-04-11 19:50] #1673 closed

[2019-04-11 20:06] kdb424 commented on #1769
I'll see if I can sort it out. It may be a phantom issue that actually stems from not getting a value to set that detects if it is connected to USB or just power. If that detection fails, the code may hang there. I'll take a look.

[2019-04-11 22:35] kdb424 commented on #1769
@dhalbert I think that I sorted out what the issue was.
https://github.com/KMKfw/kmk_firmware/blob/8bb55c84cdb00bbe8ffc6e4ba00d133df5a100c1/kmk/firmware.py#L142

return supervisor.runtime.serial_connected
I think I was exploiting a bug and using it as a feature in beta 4. This was used to see if the board was powered directly by 5V power or had USB data lines available. In beta 4, this returns Tru

[2019-04-11 23:00] deshipu commented on #1771
@jerryneedell sorry, I didn't see your questions. You have it resolved, but just for reference, you would do:

[code]

[2019-04-11 23:37] DTV96Calibre commented on #1767
I'm also experiencing this issue ✋

[2019-04-12 00:22] tannewt commented on #1767
@DTV96Calibre What version are you using and what is your code.py? Can you try a build from S3? It'll include a number of fixes. (I plan on releasing it tomorrow.)

[2019-04-12 00:43] DTV96Calibre commented on #1767
@tannewt I was using 4.0.0-beta.6
Unfortunately after reflashing and fixing a bug in my code I haven't been able to reproduce the bug (I've been saving directly to the board without any version control so I can't look back at the old code). I'm dealing with a new bug though where the interpreter doesn't seem to see some attributes of objects.
That new bug isn't addressed in S3

[2019-04-12 02:43] dhalbert commented on #1769
@kdb424 We use a low-level call to the TinyUSB library, `tud_hid_generic_ready()` to see if there's an HID connection. That value is not exposed directly, but it's used by the HID report sending code, which will throw an exception if it's not available after waiting two seconds. See https://github.com/adafruit/circuitpython/blob/master/shared-module/usb_hid/Device.c#L48.

So you could test this in

[2019-04-12 05:03] wallarug commented on #1776
Hey @tannewt ,

Apologies for causing any confusion.

I was using SeeSaw to test that the custom board was not faulty (rule out hardware issue).  I think I have also sent the incorrect sample code, which compounded confusion.

Effectively, when using the PWMOut function it says: "All timers for this pin are in use." after calling SERVO1 then SERVO3.  It would look like the TCs are possibly being i

[2019-04-12 06:28] tannewt commented on #1767
Thanks @DTV96Calibre! Let me know if the original issue happens again. I save directly to the disk as well but usually have the file saved in my editor while I'm working on it.

[2019-04-12 14:20] Joe-Davidson1802 commented on #1767
@tannewt I will try and recreate in S3, I can reproduce it pretty reliably, so will let you know.

[2019-04-12 14:26] Joe-Davidson1802 commented on #1767
I don't believe so, it just does the flashing light thing where it shows you the line number where the issue is. Which is line 1 of "<stdin>" apparently. And it was a few different code.py files as it has happened about 5 times, just as soon as I encountered any kind of syntax exception, like mis-spelling a function name this happens and I have to reflash.

[2019-04-12 17:30] dhalbert commented on #1769
Closing this as a bug. If you'd like a new feature, feel free to open the request as a new issue.

[2019-04-12 17:30] #1769 closed

[2019-04-13 01:29] rdagger opened #1789 "Turn on zlib for larger builds"
The docs indicate zlib support:  https://circuitpython.readthedocs.io/en/latest/docs/library/uzlib.html

However, it doesn't look like it's implemented for the nRF52840.  I tried the Feather nRF52840 Express and the PCA10059.

I'm trying to write a CircuitPython Png decoder and this would be very helpful.

[2019-04-13 21:00] kdb424 opened #1792 "Request: HID Ready check"
It would be useful to have a hid ready check similar to how `.serial_avaliable` is exposed. I was exploiting a bug in that function using it as a ready check in a beta, using it as a feature, and was informed in #1769 that this was actually a bug not a feature. KMK (Keyboard software for circuitpython) is using this to detect a master slave architecture in split keyboards to see if it is the uart

[2019-04-14 15:00] arofarn commented on #1381
I'm back after few month away. I'm working on an updated translation and already added correction and suggestion from @odeevee (thank you!)

[2019-04-14 15:07] barbudor commented on #1381
Bonjour
Let me know if you need help

[2019-04-14 20:24] iraytrace commented on #1762
I can confirm the same problem.  Buffer length may not address the issue.  Consider where a display update starts just prior to playing audio.  For example, on a Hallowing:

    print('playing sound file')
    wave_file = open(filename, 'rb')
    wave = audioio.WaveFile(wave_file)
    audio.play(wave)

The print() statement will start a display update, and once the audio.play() routine starts it i

[2019-04-14 21:20] arofarn commented on #1381
@barbudor Your help is welcome.
You can review the PR here: https://github.com/adafruit/circuitpython/pull/1794 for spell checking or better translation :)

[2019-04-14 21:20] debrouxl commented on #1782
We've also just noticed something which looks like an USB enumeration issue on Windows 10, so I thought I'd post in this issue, rather than create a new one.

@TheKitty could you test whether a CircuitPython build based on commit 5b0c1c8df9b205221b50c588abf4106dced0ca1c works for you ?

Background: today, when testing my attempt to rebase the top two commits from https://github.com/debrouxl/circui

[2019-04-14 21:35] siddacious commented on #1782
@dhalbert, could this be the same issue as #1749 ?

[2019-04-14 21:37] debrouxl commented on #1782
The first bad commit post-dates 4.0.0-beta.6, FWIW :)

[2019-04-14 23:01] dhalbert commented on #1782
@siddacious - Possibly... This may be a timing issue.

@hathach Take a look at the report above and let us know if you have any thoughts.

[2019-04-15 03:29] dhalbert opened #1796 "Flickering when adjusting board.DISPLAY.brightness"
This test program should smoothly increase the brightness, but there's prounounced flickering as the brightness increases. Flickering is visible both on PyPortal and Hallowing:

[code]

[2019-04-15 05:16] tannewt commented on #1776
@wallarug Neat! I didn't realize you had compiled it yourself. I'd recommend forking CircuitPython to add the board def directly. We'd love to have it merged into the main repo.

I think your issue may be that the current code doesn't support wave out 0 from TCs. (SERVO_3 above uses TC[0].) We use it internally for the 16bit top value. Without out a fine grained top value we wouldn't be able to ge

[2019-04-15 05:18] tannewt commented on #1767
@Joe-Davidson1802 Did you manage to reproduce from the latest S3 build or Beta 7? Sounds like the filesystem is getting wiped or at least code.py is.

[2019-04-15 05:37] makermelissa commented on #1796
This is related to pulseio PWMOut on the backlight pin. From what I can tell, this pin is a TCC type and looking at pulseio in the common_hal, it appears to be disabling double buffering before setting the duty cycle and then reenabling it. I'm not sure if there's a problem in there, but it gets even more interesting if you change the time.sleep to 1. You can observe that right after the brightnes

[2019-04-15 07:11] Joe-Davidson1802 commented on #1767
@tannewt Sorry, no chance over the weekend should be able to give it a try tonight.

[2019-04-15 08:43] wallarug commented on #1776
@tannet Thank you!  I will fork soon and do a PR into the main repo when ready.

I think what is happening here is exactly what you outlined above.

TC3[0] is not usable.

In the example Python file we have we go through the servos in order.

| Servo | Auto-Configured TCC | Equivalent |
|-------|--------------------------|------------|
| SERVO1 | TCC0[6] | TCC0[2] |
| SERVO2 | TCC0[7] | TCC0[3] |

[2019-04-15 16:16] mikelynders commented on #1677
Hi! I am also trying to implement full quadrature resolution with rotaryio for a university project. I tried copying the rotaryio files from nickzoic's repo into the current release of circuit python and compiling but that didn't seem to work for me. Can I second the request for the built .u2f that you guys used for testing? That would help me out alot until the change can be added into the offici

[2019-04-15 16:54] Joe-Davidson1802 commented on #1767
@tannewt Awesome seems to be working now. I won't be having to be so careful about making syntax mistakes now!

[2019-04-15 16:54] #1767 closed

[2019-04-15 17:00] tannewt commented on #1767
Great! Glad it's fixed. Thank you for retesting.

[2019-04-15 17:01] dhalbert commented on #1769
@kdb424 did you try the "sending a do-nothing report" described above as a workaround for now?

[2019-04-15 17:12] kevinjwalters commented on #1644
I've put that uf2 on one CPX but not got the board connected to the relevant hardware at the moment. I'll get back to this in a few days.

[2019-04-15 17:36] pvanallen commented on #1380
@deshipu

Sure, but for beginning coders, I think keeping the common aspects of these intervals out of the function definitions makes them simpler to write and understand. E.g. this is boiled down to the essence of the task:

[code]
and leaves all the bookkeeping for delay, start time, and repeats to the library. For my students, this simplification would be very helpful in their gaining confidenc

[2019-04-15 17:41] deshipu commented on #1380
@pvanallen in my limited experience, it's really difficult to teach people this style of programming (where the inside of the loop is in a separate function from the rest of the code), and it results in code that is difficult to follow. You can of course do it with async if you really hate yourself:

[code]

[2019-04-15 17:46] deshipu commented on #1380
Come to think of it, it should be trivial to make a decorator function that would add what ``blink1`` does in the above example to any function.

[2019-04-15 21:16] tannewt commented on #1776
It is weird that order matters but most people don't have the issue. It'd be a lot of effort to switch them around as needed. So, I don't think it's worth the effort now.

[2019-04-15 21:46] tannewt opened #1799 "Add object for multibit digital io (parallelio maybe?)"
This should allow for reading and writing values to multiple pins at once.

A shift register can then implement this same API too.

Once this is added we can cleanup GamePad back into one class.

[2019-04-15 21:48] gvcp opened #1800 "no socket communication with W5500 ethernet wing and feather m4 express"
With  a TCP server listening, I get a valid connection from the  ethernet wing, but when I try to send or receive data I always get an input/output error when entering the commands via REPL.
When using the same sequence in code.py the feather M4 just hangs and doesn´t react to ctrl-C.
I connected both modules by piggybacking them via headers without additional wires.
it´s not a problem of USB supp

[2019-04-15 22:38] trimmkm commented on #1679
Just to follow up on my earlier post, I think my issue is related to my WiFi access point.  I tried to replicate my issues on a second pyportal, and was having difficulty accessing the password protected WiFi.  Both pyportals ran fine on a guest (unsecured) WiFi network.  My original pyportal, which would crash faithfully within 24 hours of starting, has been running for several days now without i

[2019-04-16 00:49] rdagger opened #1801 "Black horizontal line on top of TileGrid bitmaps"
I'm loading a 50x50 pixel color bitmap using displayio.OnDiskBitmap().
[test_bitmap.zip](https://github.com/adafruit/circuitpython/files/3082557/test_bitmap.zip)
A black horizontal line is appearing at the top of the image which should be all white.
![Black line2](https://user-images.githubusercontent.com/106355/56174102-be645600-5fa5-11e9-8edb-b0a779f9460c.jpg)
Here's my code:
[code]
I've reprodu

[2019-04-16 04:46] wallarug commented on #1776
Hey Scott,

I'll have a play around with it and let you know if I have any success.  Like you said - it is just easier to say to people: "initialize SERVO3 before SERVO1" for our board.

I'll PR all the board config stuff a bit later - once I know it is very stable (it's looking that way at the moment).

If your interested in checking out the board, the info is on Crowd Supply.  We hope to launch

[2019-04-16 08:04] nickzoic commented on #1800
OK, I'm having a look at this since you're not the only one having problems!
(See also: https://github.com/adafruit/circuitpython/issues/703#issuecomment-462819747 , #1500 )
I suspect something like a timing error or race condition.

[2019-04-16 16:45] rhthomas commented on #1234
I've dropped the main code on my [fork](https://github.com/rhthomas/Adafruit_CircuitPython_NRF24L01) (finally! Took me a while to get round to it). Need to populate the README, document the code and write some examples, but the code for the library is available.

[2019-04-16 17:27] tannewt commented on #1776
Thanks for the link! I'd suggest PRing early for testing. (Then we can add it to circuitpython.org too.) You can always tweak it later.

We usually provide a library that does the init so that in practice most folks don't need to worry about the init order.

[2019-04-16 20:57] tannewt commented on #1776
This issue is resolved. The init ordering is just a weird detail.

[2019-04-16 20:57] #1776 closed

[2019-04-16 21:10] tannewt commented on #1760
This would be super cool but I think it's pretty niche.

[2019-04-16 21:12] tannewt commented on #1738
I agree with @deshipu. No extra error message is needed here for now.

[2019-04-16 21:12] #1738 closed

[2019-04-17 02:15] siddacious opened #1806 "board.I2C() in REPL causes hard crash when code.py using board.I2C() is run"
Using beta 7 I was testing some i2c address code and needed to scan the bus on the REPL, then tried to re-start the code and was sent into safe mode.

code.py:
[code]

To reproduce, have the above `code.py` saved on the device, start a REPL and do the following:

[code]
then CTRL-D to re-start the `code.py`

I after some fussing I was able to get a backtrace:
[code]

[2019-04-17 02:17] siddacious commented on #1806
FWIW the particular driver using the `i2c` object doesn't matter, this was just the example I had handy.

[2019-04-17 02:25] siddacious commented on #1806
I updated the title to reflect further testing; if the `code.py` uses
[code]
instead of `i2c = board.I2C()`, there will be no issue. Additionally, the `try_lock` in the REPL isn't needed, just the `i2c = board.I2C()`

[2019-04-17 04:29] ladyada commented on #1234
nice @rhthomas when you're ready please submit a PR :)

[2019-04-17 11:29] kevinjwalters commented on #1639
Not exhaustive but I've tried and so far failed to reproduce this (on 4.0.0 beta 7):
- variable length text in a `ValueError` exception after a few random seconds
- same exception as in ticket by using a tuple for list index at line 199

One other thing that's struck me is the code I was running was USB MIDI related so could other traffic over USB to the CPX have some triggering effect here?

[2019-04-17 11:34] kevinjwalters commented on #1639
Acutally I just re-ran one of my examples from comments on 4.0.0 beta 7 and it did it on the _second_ `raise` on REPL:

[code]

and if i press a key, tried capital Z, it all pops out:

[code]

[2019-04-17 11:38] kevinjwalters commented on #1639
On another CPX I got 3 failures out of 20 when cutting and pasting that exception and manually hit enter on the AttributeError technique (PuTTY on Windows).

[2019-04-17 13:36] C47D commented on #1382
Maybe we can add this defines (or something similar) into the `mpconfigboard.h` file:

[code]

And then drive CIRCUITPY_RGB_STATUS_R, CIRCUITPY_RGB_STATUS_G, CIRCUITPY_RGB_STATUS_B with the PWMOut signals, but what frequency should we use?

[2019-04-17 16:43] tannewt commented on #1382
50,000? That is what we use for backlights. It's good to have it higher than audio range.

[2019-04-17 18:38] tannewt commented on #1654
I'm not going to block 4.0 on this because most boards use external flash. Moving it to 4.x

[2019-04-17 18:39] tannewt commented on #1679
Thanks for the follow up @trimmkm.

I'm going to close this because it is hard to reproduce. If someone comes up with a quicker way to reproduce please post a new issue.

[2019-04-17 18:39] #1679 closed

[2019-04-17 21:20] tannewt commented on #1806
What board is this on? Does it crash if you don't have a driver at all?

[2019-04-17 21:43] tannewt commented on #1806
Ok, I think this is because we weren't resetting the shared busses after the repl is run. This could also be why folks have more trouble if they test from the repl rather than code.py directly.

[2019-04-17 22:01] #1765 closed

[2019-04-17 22:11] tannewt commented on #1801
Thank you for the bug report! I've reproduced it and am hunting it now.

[2019-04-17 22:15] C47D commented on #1382
Ok, i will try to fill a PR before the weekend, i only have a Feather nRF52840 so i will need your help to test it. @tannewt, @dhalbert Do you agree with the symbol names proposed?
[code]

[2019-04-17 22:18] tannewt commented on #1801
Classic off by one error when subtracting y from height. PR incoming.

[2019-04-17 23:09] siddacious commented on #1806
I initially saw it on my itsybitsy m4 but then reproduced it on a metro m4 to get the backtrace

[2019-04-18 00:25] #1806 closed

[2019-04-18 00:27] #1801 closed

[2019-04-18 00:44] dhalbert commented on #1796
It turns out this is `Display.auto_brightness` fighting with manual `.brightness` setting. The PWM stuff is fine.  `.auto_brightness` was changing the brightness out from under the manual setting. There is some bug: the brightness should not be adjustable if `.auto_brightness` is True.

[2019-04-18 00:46] makermelissa commented on #1796
Or possibly set `.auto_brightness` to false if brightness is set manually.

[2019-04-18 00:47] dhalbert commented on #1796
@makermelissa That sounds like a good idea: we'll discuss.

[2019-04-18 01:01] tannewt commented on #1796
Ah! That makes sense. Good find @dhalbert

[2019-04-18 01:11] dhalbert commented on #1796
@tannewt the pyportal, pybadge, and the hallowing all start with auto_brightness True. The doc in `Display.c` says

The above isn't actually true: there's no check for `.auto_brightness` when setting `.brightness`. I like @makermelissa 's suggestion.

Should all these boards all be `.auto_brightness` `True` on `Display` creation? I thought only the pyportal had a sensor for this, but maybe that wa

[2019-04-18 01:34] tannewt commented on #1796
Oops. :-)

Ya, they should be `auto_brightness = True` by default so that you can see what is on the display. Maybe it's worth having it as (yet another) kwarg to Display so it doesn't flash on init. The light sensor isn't actually used yet. (All three do have one.)

`auto_brightness` is meant to hand off brightness between user code and the VM. We can't use just brightness because we may want to

[2019-04-18 01:38] dhalbert commented on #1796
:smile: OK, I'll make a PR in the morning to reconcile all this, and update the doc.

[2019-04-18 04:00] dhalbert opened #1813 "readthedocs build is failing"
The readthedocs builds have been failing for some time, and we didn't really notice.
https://readthedocs.org/projects/circuitpython/builds/

The latest failure is:
`ModuleNotFoundError: No module named 'sphinxcontrib.rsvgconverter'`
but if you go back a bit, there's an error about a png file that's not really PNG (?).
[code]

[2019-04-18 04:03] tannewt commented on #1813
I've been working on fixing this. By "back a bit" I believe you mean an older build. It was happening because the png was hosted on github and loading it from github returned an html page.

[2019-04-18 04:05] dhalbert commented on #1813
It worked! I just refreshed the rtd page!

![image](https://user-images.githubusercontent.com/2847802/56336276-b7883f80-616d-11e9-96c9-c99c4b49e684.png)

[2019-04-18 04:05] #1813 closed

[2019-04-18 04:07] dhalbert commented on #1813
Fixed by #1811 and #1805.

[2019-04-18 10:16] wawachief opened #1814 "CircuitPython 4beta7 hard crash (safemode) when using stage module"
I experience a hard crash when I use stage module with circuitPython 4 beta 7 recompiled with CIRCUITPY_STAGE = 1 option.
I tried the demo example (ball) and the jumper game. Each time, the game launches and crashes after few minutes.
The crash occurs on a itsybitsy M4 and a metro M4 as well. The display used is adafruit 1.8" Color TFT LCD display with MicroSD Card Breakout - ST7735R (product 358)

[2019-04-18 10:29] deshipu commented on #1814
Can you please attach the exact code you are running?

[2019-04-18 10:34] wawachief commented on #1814
The zip file contains all the flash memory and the firmware used for itsybitsy M4 as well

[bug.zip](https://github.com/adafruit/circuitpython/files/3093959/bug.zip)

[2019-04-18 10:47] deshipu commented on #1814
I could reproduce this with your uf2, but not with an uf2 I compiled myself from master with the stage.py and ugame.py frozen. I will try again with master but without the frozen files.

[2019-04-18 10:56] deshipu commented on #1814
Crashes with master too when the library files are not frozen.

[2019-04-18 11:13] wawachief commented on #1814
I experienced also a freeze with stage library frozen.

[2019-04-18 11:38] deshipu commented on #1814
Can you change your grid definition to:
[code]
And try again? It seems it only happens with a large grid.

[2019-04-18 11:46] wawachief commented on #1814
Same thing. I experienced a crash with grid(10,8) and ugame and stage frozen

[2019-04-18 11:48] deshipu commented on #1814
Mine still has yet to crash, but maybe I'm just lucky — it does seem to be random. I will try to figure out how to connect a debugger to the itsybitsy.

[2019-04-18 11:49] deshipu commented on #1814
Hmm, actually, it didn't crash into safe mode, but the serial comms are frozen...

[2019-04-18 11:51] wawachief commented on #1814
Same here. I am not in safe mode anymore since I froze the stage and ugame modules

[2019-04-18 12:57] deshipu commented on #1814
This is weird, all I get in GDB is:

[code]

[2019-04-18 13:01] dhalbert commented on #1814
Can you compile with DEBUG=1 so you get line numbers and symbols?

[2019-04-18 13:04] deshipu commented on #1814
Yeah, doing it now.

[2019-04-18 14:00] deshipu commented on #1814
After a few tries, I managed to get this traceback:
[code]

[2019-04-18 17:30] tannewt commented on #1749
@siddacious Would you mind testing the latest master with your Windows box?

[2019-04-18 17:59] tannewt commented on #1382
@C47D I would define CIRCUITPY_RGB_STATUS in the rgb_status file itself based on the other three. That way it is only dependent on the actual pins.

[2019-04-18 18:25] siddacious commented on #1749
will do

[2019-04-18 18:43] C47D commented on #1382
@tannewt Done in #1812, we should continue the convo over there?

[2019-04-18 18:57] siddacious commented on #1749
@tannewt still present with current master. Normal speed insertion shows a "USB Device not recognized" error and shows up in the device manager as "Unknown USB Device (Device Descriptor Request Failed)"

[2019-04-18 18:59] dhalbert commented on #1749
If you plug it in fast, it doesn't happen?

[2019-04-18 19:07] siddacious commented on #1749
Well of course now it works/doesn't happen at any speed! I tested a good 5-8 times before making the previous comment but now it's behaving itself.

[2019-04-18 19:08] dhalbert commented on #1749
Can you try it with a different cable, especially one that might be of different manufacture? I had a flaky cable once that disconnected when tilted.

[2019-04-18 19:11] siddacious commented on #1749
Scratch that, it got busted again. Now it's about 50/50 working or not plugging in as fast as I can which is still about "normal"

[2019-04-18 19:42] siddacious commented on #1749
@dhalbert I've tried with two different cables both in good condition from reputable sources and that worked with other boards just fine. They're both 2 meters, is it worth testing with a shorter cable?

[2019-04-18 19:47] dhalbert commented on #1749
No, that's fine. But are you plugging/unplugging on the board end or the host end? If the board end, try the host end, since it's conceivable it's a problem with the board connector in that case.

[2019-04-18 20:59] kevinjwalters commented on #1749
Perhaps too obvious, but have you checked the upgrade to beta 7 was applied ok? E.g. look at REPL output or boot_out?

[2019-04-18 22:36] tannewt commented on #1814
Ok, I think I figured it out. The SPI object was getting cleaned up because the `never_free` didn't correctly mark it's first block during a collect. PR coming soon.

[2019-04-18 22:48] #1796 closed

[2019-04-18 23:14] tannewt commented on #1782
@debrouxl @TheKitty What boards have you tried this with? Beta 7 on a CPX worked for me. 70dd6167c07c5d72ae9b803aa25ccb8f1905ec35 on a Metro M4 worked as well.

What models are the computers? (I'm Windows Version 10.0.17134 Build 17134 on a Ryzen 5.)

@debrouxl Where does the "This device cannot start (code 10)". message appear?

[2019-04-19 00:25] #1814 closed

[2019-04-19 02:30] hathach commented on #1782
@tannewt "This device cannot start (code 10)" is probably in the device manager of windows

[2019-04-19 02:50] dhalbert commented on #1782
@debrouxl @TheKitty @siddacious
I'm trying to track this down, so I thought I'd ask if you if you could give an inventory of the software installed on your machine. These utilities list installed software, drivers, and security software, respectively. They'll produce a simple HTML report (look under View), or save a list as a text file (select all the items and then choose File->Save.

If you're w

[2019-04-19 03:03] dhalbert commented on #1782
Another thing that would be helpful is a USB trace. This requires either some hardware (Beagle, usually), or else setting up Wireshark and USBPCap to capture the USB events. If you are familiar with this or have such a device, let us know.

@siddacious Are you seeing the same errors as above, or is #1749 different? For instance, if you try before and after the commit @debrouxl has noted, do you se

[2019-04-19 03:12] hathach commented on #1749
@siddacious do you have another  **feather m0 express** to test with, just in case the current board has some defect. I once bend a usb port when plugging cable to hard :D

[2019-04-19 03:29] siddacious commented on #1782
@dhalbert I have seen the "things disappear after flashing" behavior previously with a different board but that wasn't what I've been seeing with my feather m0. I believe it was with my metro m4 when I flashed it with beta 7 to get a backtrace for the i2c issue I reported.

I have the above reports but they're too large to inline here. I can give them to you on discord.

I will try before and afte

[2019-04-19 03:31] siddacious commented on #1782
@dhalbert  was looking through the reports and found this which you had previously mentioned
[code]

[2019-04-19 03:47] siddacious commented on #1782
[code]
It's very possible that I'm not seeing the same thing as @debrouxl

[2019-04-19 03:59] siddacious commented on #1749
@hathach I don't have another feather m0 currently but I'm going to grab one in my next order

[2019-04-19 04:05] dhalbert commented on #1782
@siddacious Thanks for all the info. Don't spend time on the Wireshark stuff for now. Let's see what the new Feather M0 shows.

[2019-04-19 04:09] dhalbert commented on #1782
You can zip up all the reports in the reports and then include the .zip file here.

[2019-04-19 04:19] siddacious commented on #1782
[win10_m0.zip](https://github.com/adafruit/circuitpython/files/3096990/win10_m0.zip)

[2019-04-19 04:22] siddacious commented on #1782
@dhalbert I had already done a capture by the time I saw your comment, so I included captures of a failure and success in the above zip.

[2019-04-19 06:38] debrouxl commented on #1782
@critor 's tests used a M0-class TI-Python Adapter platform, which was featured several times on the Adafruit blog, against Windows 10 1803 17134.706. AFAWCT, unsurprisingly, the TI-Python Adapter and various M0-based platforms have excellent compatibility: several Adafruit platforms and the Arduino Zero can run TI's firmware verbatim, and the TI-Python Adapter can run at least my improved build o

[2019-04-19 08:49] kevinjwalters commented on #1639
@tannewt In light of other, possibly sporadic USB with boards running CircuitPython (#1749 #1782) issues perhaps this is worth digging into more? Can you ask a few of the usual suspects to cut and paste that `raise` line into REPL 15 times carefully to see if they can reproduce this ideally on Windows? They need to check each time visually that output has popped out in full before pasting the next

[2019-04-19 13:27] dhalbert commented on #1782
@debrouxl I just want to understand clearly what's failing. Tell me if this is correct: You have seen this problem with regular (not just custom) CircuitPython builds at commit 9d43a25 and later. When a board (including several Adafruit boards) is running a CircuitPython build at or later than that commit, then it does not enumerate on your Windows 10 machine.

1. Is the above correct.
2. Does it

[2019-04-19 13:34] dhalbert commented on #1782
@TheKitty Does the problem happen if you do not use the hub? Does it happen with beta.7, with and without the hub?

[2019-04-19 18:51] dhalbert commented on #1782
@siddacious `HpSAMD.sys` is included in all Windows installs. The `SAMD` is Storage Array Media Driver, unrelated to SAMD chips (which you probably know already). Did I mention that??

[2019-04-19 19:16] siddacious commented on #1782
@dhalbert OK I just saw "Smart Array" and SAS and though it might be related to the SMART issues you noticed earlier this week.

[2019-04-19 21:15] critor commented on #1782
For me, only Trinket M0.

Confirmed the issue on two Asus laptops running Windows 10 family build 17134.

[2019-04-19 23:13] dmazzella commented on #1752
thanks for merge #1754

[2019-04-19 23:13] #1752 closed

[2019-04-20 03:28] dhalbert commented on #1782
@critor Could you post the .uf2 you are using, if it is not a CircuitPython build? Are you building off the latest master? You can zip it up and attach it here.

What CPU chip is used in the Asus laptops: is it an AMD, or Intel?

[2019-04-20 04:10] BriscoeTech commented on #1764
Hello dhalbert,

What would need to be done to enable this functionality? It seems like the plumbing is already there since it works with spi flash chips already.

I have some projects that need to be enclosed in project boxes, yet the sd card will be full of sounds and config files that need to be edited from time to time. It would be great to do this over usb without having to open the boxes bac

[2019-04-20 04:34] dhalbert commented on #1764
CIRCUITPY is a single filesystem volume. The SD card is another storage volume, and so isn't visible inside CIRCUITPY.

It is conceivable we could do this, but we'd have to think about it. One issue is whether the SD card volume would be readonly. To use it safely while the program is running, it would need to be mounted readonly to the CircuitPython code, in case you were editing it over USB at t

[2019-04-20 07:42] critor commented on #1782
I'm not building the firmware myself, I've just been testing binaries provided by @debrouxl on my Trinket M0. So I'll let him clarify.

[2019-04-20 07:59] debrouxl commented on #1782
Today's tests show that he can't reproduce the problem with pristine master (sorry, I should have checked earlier). However, he can reproduce at will with small changes in the USB ares on top of current adafruit/circuitpython master HEAD, which I've pushed at https://github.com/debrouxl/circuitpython/tree/trinketm0_usb_comm_broken_after_tinyusb_change .
It's just a matter of disabling and not buil

[2019-04-20 12:37] dhalbert commented on #1782
@debrouxl You have to remove the HID and MIDI devices from the USB descriptor as well. I did that: here's a diff from the branch you linked to above. My changes are the two `#######` to comment out those devices.
[code]

The USB stuff is relatively brittle right now. We are going to make it more configurable, but not in 4.0. Have you also disabled a bunch of other stuff to make room, like `CIRCUIT

[2019-04-20 23:55] makermelissa opened #1817 "Please add API Keys for Adafruit_CircuitPython_ST7735R and Adafruit_CircuitPython_SSD1331"
The build is failing with `invalid option "--api_key="`

Thanks

[2019-04-21 00:00] makermelissa commented on #1817
I'll probably need one set up for Adafruit_CircuitPython_ST7789 soon too.

[2019-04-21 01:09] #1817 closed

[2019-04-21 01:09] makermelissa commented on #1817
Created issues in the repos themselves.

[2019-04-21 09:59] kevinjwalters opened #1818 "os.listdir() can return non-existent files with filenames made of NUL chars (corrupt filesystem)"
I've been using multiple boards recently plugged into the same host and I've left a zero byte file on each to mark them so I can ensure from REPL I'm using the correct board when it's important. I noticed on this particular CPX (running 4.0.0 beta 7) that there are loads of _bogus_ 8.3 filenames composed purely of **NUL** characters. Is this minor file system corruption or a `os.listdir` bug? Wind

[2019-04-21 11:24] kevinjwalters commented on #1818
Note: **128** entries in total coming back from `os.listdir()`.

[2019-04-21 12:22] dhalbert commented on #1818
It certainly looks like the filesystem is corrupted. I'm not sure it has to do with your marker files, except that perhaps the file metadata was not written completely before the board was reset. If you could copy everything back and reformat the filesystem, that would probably help.
[code]

[2019-04-21 13:37] kevinjwalters commented on #1818
That was my first thought but I then wondered if this could be an obscure `listdir` bug? This probably gets limited used, I've only used it a hand full of times.

Is there an `fsck` equivalent library call to independently check the health of the file system? Actually
there's the crappy old DOS remant, **chkdsk** and that _does_ show problems:

[code]

[2019-04-21 13:39] #1818 closed

[2019-04-22 02:12] ThomasRKirkland opened #1819 "HardFault_Handler crash"
Crash into the HardFault_Handler.
I was trying to run the Thermometer.py example code on a PyPortal.
Below is the url address of a .png snapshot of the CircuityPython directory

![Screen Shot 2019-04-21 at 10 07 31 PM](https://user-images.githubusercontent.com/3299829/56479212-1c031180-6482-11e9-9659-b58005c088d9.png)

[2019-04-22 02:27] dhalbert commented on #1819
What version of CircuitPython were you running, and what version of the libraries and Thermometer.py? Thanks.

[2019-04-22 02:39] ThomasRKirkland commented on #1819
The PyPortal_Smart_Thermometer was downloaded yesterday at 10pm from your
web site.
The CircuitPython I was running
adafruit-circuitpython-pyportal-en_US-4.0.0-beta.6.uf2
The library bundle  I was running is
adafruit-circuitpython-bundle-4.x-mpy-20190420

I loaded the Viewmaster example and it is working after unplugging the
pyPortal and then plugging it back it.   I have had other problems with t

[2019-04-22 02:42] dhalbert commented on #1819
Could you try "Absolute Newest" from here: https://circuitpython.org/board/pyportal/ ?

We have fixed several crashes since beta.6. Beta.7 is better, and "Absolute Newest" is even better. We'll be doing another release soon.

[2019-04-22 03:03] ThomasRKirkland commented on #1819
The message that I get now is
Running in safe mode! Not running saved code.
Code done running. Waiting for reload.
soft reboot

The Viewmaster code is also not running correctly.  It displays the first
bmp file and then stops.

I think I will give up for the night.   Thank you for your help.

On Sun, Apr 21, 2019 at 10:42 PM Dan Halbert <notifications@github.com>
wrote:

[2019-04-22 03:09] ThomasRKirkland commented on #1819
I tried the Adafruit Quotes Example program and it works correctly.
I will try again tomorrow.
Thanks again.

On Sun, Apr 21, 2019 at 11:03 PM Thomas Kirkland <
thomas.r.kirkland.737@gmail.com> wrote:

[2019-04-22 03:15] ThomasRKirkland commented on #1819
The viewmaster example code is now working correctly.  I had changed the
code to switch pictures based on the light sensor and the room was too dark
when I retried the code the first time.  When I turned on the lights the
code worked correctly.

On Sun, Apr 21, 2019 at 11:09 PM Thomas Kirkland <
thomas.r.kirkland.737@gmail.com> wrote:

[2019-04-22 14:22] dhalbert commented on #1819
Closing since it appears newer versions work fine.

[2019-04-22 14:22] #1819 closed

[2019-04-22 20:42] anecdata opened #1820 "displayio: possible memory issue"
As mentioned earlier on Discord (#help-with-circuitpython):

@ danh suggested I test with "Absolute Newest" and open an issue...

Demo code and output are here:
[https://gist.github.com/anecdata/8460a4bcc7e87432bd409c78c5f3448a](https://gist.github.com/anecdata/8460a4bcc7e87432bd409c78c5f3448a)

[2019-04-22 20:45] anecdata commented on #1820
Actually, updating to `latest` from 4.0.0-beta7 seems to have slowed or stabilized the loss. I'll close this issue if this observation pans out over the next couple of hours.

[2019-04-22 21:03] anecdata commented on #1820
OK, I'm calling it fixed with the latest garbage collection changes. Sorry for the false alarm.

[2019-04-22 21:03] #1820 closed

[2019-04-22 21:07] debrouxl commented on #1782
Thanks for pointing tools/gen_usb_descriptor.py, I had missed it :)
I somehow had to patch it further for critor's computer to detect the Trinket M0 running a build from the current https://github.com/debrouxl/circuitpython/tree/master , but it's all fixed now, great.

I understand very well that the 4.0 release is nearing and that you don't want to delay it by spending time making USB more config

[2019-04-22 21:12] dhalbert commented on #1782
@debrouxl I am impressed you got doubles and associated code into a small build!

[2019-04-23 17:09] tannewt commented on #1730
@suraj022 Clean and rebuild. The QSTRs don't necessarily get rebuilt when changing flags.

This isn't an issue we can fix on our end.

[2019-04-23 17:09] #1730 closed

[2019-04-24 00:44] ATMakersBill opened #1824 "Makefile dependency problem in /supervisor/supervisor.mk"
This is minor, but I have other code in my fork and I can't quite make a fix right now... @dhalbert said make an issue :-)

When the USB descriptor generation moved to /supervisor (from ports/atmel-samd) there are two places that list "Makefile" as a dependency.  Those should now be changed to 'supervisor.mk'

Here are the two lines (line numbers have changed in my fork:

[code]

I believe both of

[2019-04-24 05:00] stephenvowell opened #1825 "import error : no module named displayio"
I get this error attempting to use the ili9341_simpletest.py I am using aMetro Mo Express and a 2.8 touch shield

ImportError: no module named 'displayio'

https://github.com/adafruit/Adafruit_CircuitPython_ILI9341/blob/master/examples/ili9341_simpletest.py

[2019-04-24 05:05] makermelissa commented on #1825
Hi, which version of CircuitPython are you running this with? `displayio` wasn't added to the metro M0 until CircuitPython 4.0 Beta 4. I would recommend trying the latest CircuitPython 4.0 RC 1

[2019-04-24 05:12] stephenvowell commented on #1825
OK, will give it a try!

[2019-04-24 05:23] stephenvowell commented on #1825
Latest version 4.0 RC 1 same error

[2019-04-24 05:28] stephenvowell commented on #1825
You are running in safe mode which means something unanticipated happened.
Looks like our core CircuitPython code crashed hard. Whoops!
Please file an issue at https://github.com/adafruit/circuitpython/issues
 with the contents of your CIRCUITPY drive and this message:
Crash into the HardFault_Handler.

[2019-04-24 05:31] stephenvowell opened #1826 "Crash into the HardFault_Handler."
Using CircuitPython 4.0.0-rc.1

You are running in safe mode which means something unanticipated happened.
Looks like our core CircuitPython code crashed hard. Whoops!
Please file an issue at https://github.com/adafruit/circuitpython/issues
 with the contents of your CIRCUITPY drive and this message:
Crash into the HardFault_Handler.

[2019-04-24 05:32] makermelissa commented on #1825
I'm trying it out on a Metro M0 with the latest version as well and attempting to reproduce your error. Did you get the library files from the bundle?

[2019-04-24 05:32] stephenvowell commented on #1825
above error CircuitPython 4.0.0-rc.1

[2019-04-24 05:33] stephenvowell commented on #1825
Yes

[2019-04-24 05:37] stephenvowell commented on #1825
<img width="677" alt="Screen Shot 2019-04-24 at 12 36 43 AM" src="https://user-imagetent.com/39936021/56634838-0c71fd00-6629-11e9-97a9-fcd5ce39a3eb.png">
s.githubusercon

[2019-04-24 05:38] makermelissa commented on #1825
I'm getting `Cannot proxy the given URL` when I click on that link.

[2019-04-24 05:42] stephenvowell commented on #1825
I rebooted no I get the following , we are getting closer

Traceback (most recent call last):
  File "main.py", line 8, in <module>
ImportError: no module named 'adafruit_ili9341'

[2019-04-24 05:43] makermelissa commented on #1825
Ok, the adafruit_ili9341.mpy file should be inside a lib folder inside your CIRCUITPY folder. That's the one from the bundle.

[2019-04-24 05:46] makermelissa commented on #1825
I would also try grabbing the ili9341_simpletest.py file from the examples folder, copy it right into your CIRCUITPY folder and rename it to code.py.

[2019-04-24 05:48] stephenvowell commented on #1825
Yea its not in the the bundle. and I tried I would also try grabbing the ili9341_simpletest.py file from the examples folder, copy it right into your CIRCUITPY folder and rename it to code.py. too

[2019-04-24 05:49] makermelissa commented on #1825
You'll need the latest bundle from https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases since it was just added earlier today.

[2019-04-24 05:51] makermelissa commented on #1825
You can also get it from https://github.com/adafruit/Adafruit_CircuitPython_ILI9341/releases

[2019-04-24 05:59] stephenvowell commented on #1825
new problems

Traceback (most recent call last):
  File "code.py", line 6, in <module>
ReloadException:
soft reboot

Line 6 is the import board

[2019-04-24 06:16] stephenvowell commented on #1825
All import errors with board and displaio are gone now .Code failed at line 38
Traceback (most recent call last):
  File "code.py", line 38, in <module>
ReloadException:
soft reboot
Below is the code from the example....
""
This test will initialize the display using displayio
and draw a solid red background
"""

import board
import displayio
import adafruit_ili9341

spi = board.SPI()
tft_cs = boa

[2019-04-24 06:25] tannewt commented on #1825
ReloadException is caused by writing to the file system and is expected. Once it reloads your code should run without error.

[2019-04-24 06:27] stephenvowell commented on #1825
Yup, The demo is not working on the screen have rebooted many times no luck testing the screen

[2019-04-24 06:30] stephenvowell commented on #1825
Could the display be bad, ?

[2019-04-24 09:17] deshipu commented on #1825
Can you post a photo of your setup? It could be something with the connections.

[2019-04-24 10:37] deshipu commented on #1826
Thank you for the crash report. Can you attach the contents of your CIRCUITPY drive too, please?

[2019-04-24 11:17] stephenvowell commented on #1825
Its connected to Ada product 1651 , 2.8 TFT shield... connected to a Metro mo express# 3505, no wires necessary !

boot_out.txt
code.py
CURRENT.uf2
examples
lib
README.txt
adafruit_bus_device
adafruit_hid
adafruit_ili9341.py
adafruit_dotstar.mpy
[Archive.zip](https://github.com/adafruit/circuitpython/files/3111987/Archive.zip)

Here you go

[2019-04-24 11:29] stephenvowell commented on #1825
The shield and TFT screen arrived today, The demo app that came with the Metro MO Express worked fine. attached the TFT shield and downloaded the adafruit_ili9341.py to test and that's when the code started not seeing the board and the other modules.

Installed CircuitPython 4.0.0-rc.1 code saw the seeing the modules and uploaded to board without errors, but no demo on the screen.

reloaded the wo

[2019-04-24 11:33] deshipu commented on #1825
Looks like you have the DC and CS pins swapped compared to how that shield is connected. DC should be ``board.D9`` and CS should be ``board.D10``.

[2019-04-24 11:39] stephenvowell commented on #1825
I didn't change the code, just copied from GitHub and dropped in the drive. I will chang the code and see if that works

[2019-04-24 11:42] deshipu commented on #1825
The code wasn't written for that particular shield, you have to adapt it.

[2019-04-24 11:42] stephenvowell commented on #1825
Back to the same error
    Traceback (most recent call last):
    File "code.py", line 7, in <module>
    ImportError: no module named 'displayio'

changed the code to
  spi = board.SPI()
 tft_cs = board.D10
 tft_dc = board.D9

I think my board hates me!

[2019-04-24 11:44] deshipu commented on #1825
Did you reflash the older version of the firmware in the mean time? What does the ``boot_out.txt`` file say?

[2019-04-24 11:45] stephenvowell commented on #1825
Adafruit CircuitPython 2.2.0 on 2018-01-02; Adafruit Metro M0 Express with samd21g18

[2019-04-24 11:47] deshipu commented on #1825
That is an old version. Please flash the 4.0.0RC1 from https://circuitpython.org/board/metro_m0_express/ — to do that, download the UF2 file from that website, press reset on your board twice quickly, wait for the METROBOOT disk to appear, and copy thet UF2 file to it.

[2019-04-24 11:51] stephenvowell commented on #1825
The same result here is the boot out txt

  Adafruit CircuitPython 4.0.0-rc.1 on 2019-04-23; Adafruit Metro M0 Express with samd21g18

[2019-04-24 11:53] stephenvowell commented on #1825
Traceback (most recent call last):
  File "code.py", line 7, in <module>
ImportError: no module named 'displayio'

[2019-04-24 12:01] deshipu commented on #1825
I don't have a metro m0 express to test it myself, but on all other boards the ``displayio`` module is present.
What does it say what you enter ``help("modules")`` into the REPL console?

[2019-04-24 12:07] stephenvowell commented on #1825
Can't enter the repl with mu. for some reason. the serial monitor section of mu isn't responding

[2019-04-24 12:08] stephenvowell commented on #1825
I will send you my metro m0 express !

[2019-04-24 12:13] stephenvowell commented on #1825
Got the RELP working

__main__          builtins          i2cslave          rtc
_os               busio             math              storage
_pixelbuf         collections       microcontroller   struct
_time             digitalio         micropython       supervisor
analogio          displayio         neopixel_write    sys
array             errno             os                terminalio
audiobusi

[2019-04-24 12:37] stephenvowell commented on #1826
[Archive.zip](https://github.com/adafruit/circuitpython/files/3112245/Archive.zip)
I recreated the error

[2019-04-24 12:40] stephenvowell commented on #1825
I recreated the error

   You are running in safe mode which means something unanticipated happened.
   Looks like our core CircuitPython code crashed hard. Whoops!
   Please file an issue at https://github.com/adafruit/circuitpython/issues
  with the contents of your CIRCUITPY drive and this message:
  Crash into the HardFault_Handler.

[drive contents.zip](https://github.com/adafruit/circuitpyth

[2019-04-24 12:42] stephenvowell commented on #1825
__main__          builtins          i2cslave          rtc
_os               busio             math              storage
_pixelbuf         collections       microcontroller   struct
_time             digitalio         micropython       supervisor
analogio          displayio         neopixel_write    sys
array             errno             os                terminalio
audiobusio        fontio

[2019-04-24 12:45] deshipu commented on #1825
Looks like the ``displayio`` module is there. If Mu couldn't connect, maybe you were seeing an old error still from the 2.0.0 version.

[2019-04-24 12:47] stephenvowell commented on #1825
just reinstalled every thing, no errors, but no demo on TFT as well

rebooted my mac and reinstalled Mu
boot out text is

Adafruit CircuitPython 4.0.0-rc.1 on 2019-04-23; Adafruit Metro M0 Express with samd21g18

[2019-04-24 13:42] stephenvowell commented on #1825
I tested the display on a uno and display works...the demo does not work on Metro Mo express

[2019-04-24 14:01] deshipu commented on #1825
I'm out of ideas, sorry, maybe someone else will be able to help.

[2019-04-24 14:04] stephenvowell commented on #1825
Thanks, I was concerned that there was something wrong with the display...but I tested the display on a  uno and the display works fine. Metro Mo express works as well looks like it is just the demo/hardware combo that's not

[2019-04-24 14:07] deshipu commented on #1825
I suspect something more may require adjusting in that particular example code.

[2019-04-24 14:13] stephenvowell commented on #1825
Should I close the issue or leave it

[2019-04-24 14:39] deshipu commented on #1825
We can always close it later. By the way, you may also get some help on the Adafruit forum.

[2019-04-24 14:39] stephenvowell commented on #1825
ok

[2019-04-24 16:05] hexthat commented on #1825
Is this a RAM issue? Metro M0 non express has less RAM right?

[2019-04-24 16:18] dhalbert commented on #1825
@stephenvowell That shield is meant for classic Arduino. In the product description it says:

See https://learn.adafruit.com/adafruit-2-8-tft-touch-shield-v2/connecting#tft-screen-pins-2-4
and
https://learn.adafruit.com/adafruit-2-8-tft-touch-shield-v2/connecting#using-with-a-mega-slash-leonardo-2-12

`board.SPI()` would use the 2x3 header pins. You could change the code to create an SPI device on

[2019-04-24 21:13] stephenvowell commented on #1825
Thanks, But I am using Metro Mo express and CircuitPython problem is not with the shield but with the sample code, Plus I am using the release can 4.x python its a little funny..... and Mu Ide doesn't like it..

[2019-04-24 21:16] deshipu commented on #1825
It's actually a problem with the code not fitting the shield (or vice versa), so you have two options here: either you change the jumpers on the shield, as the article says, or use an SPI object created on the pins that the shield uses by default, instead of using the board's default SPI pins. The first one requires a change in hardware, the second one in code — it's up to you which one you choose

[2019-04-24 21:17] stephenvowell commented on #1825
Lets try with code,

[2019-04-24 21:21] deshipu commented on #1825
You have to change this line:

[code]

to this:

[code]

[2019-04-24 21:22] dhalbert commented on #1825
Here's the change (not tested), using the pin numbers mentioned in https://learn.adafruit.com/adafruit-2-8-tft-touch-shield-v2/connecting#tft-screen-pins-2-4

[code]

[2019-04-24 21:26] stephenvowell commented on #1825
Thanks Guys, I will let you know how it goes, of to work

[2019-04-24 21:43] stephenvowell commented on #1825
Well I did get a little color change, with this change "import busio
spi = busio.SPI(board.D13, MOSI=board.D11, MISO=board.D12)  # SCK, MOSI, MISO"

Nothing with this
"import busio

spi = busio.SPI(clock=board.D13, MOSI=board.D11)
while not spi.try_lock():
    pass
spi.configure(baudrate=24000000)
spi.unlock()'

same result ...

My have to go with JUMPERS

[2019-04-24 21:45] stephenvowell commented on #1825
But before I do  here is the code Mu doesent see errors.

import board
import displayio
import adafruit_ili9341
import busio

spi = busio.SPI(board.D13, MOSI=board.D11, MISO=Board.D12) #SCK, MOSI, MISO

tft_cs = board.D9
tft_dc = board.D10

displayio.release_displays()
display_bus = displayio.FourWire(spi, command=tft_dc, chip_select=tft_cs)

display = adafruit_ili9341.ILI9341(display_bus, width=3

[2019-04-24 21:48] stephenvowell commented on #1825
Bye the way, Thank you so much for helping me figure this out

[2019-04-24 22:20] deshipu opened #1828 "displayio: support for monochrome displays"
Since I'm building a board with an OLED screen, and I already have a working prototype, I thought that I would start a discussions about the possible ways of implementing support for monochrome (1-bit) displays in ``displayio``.

I'm using an SH1106 OLED display, but it is organized very similar to SSD1306 OLED, the PCD8544 "Nokia" LCD, and the e-ink displays, so we should be able to cover a good

[2019-04-24 22:26] dhalbert commented on #1825
@stephenvowell put your code inside triple backquotes, and it will format nicely. I will edit your previous postings to do that.

[code]
    Python code here
[code]

[2019-04-25 11:24] wallarug commented on #1776
I have just created the PR now in issue #1829 .  Thanks Scott.

[2019-04-25 17:36] tannewt commented on #1828
How do eink's fit into this picture? They are slow to refresh and some allow partial updates.

`refresh_displays` will likely change a lot with partial screen update support. My current thinking is to structure the partial areas into rectangles rather than individual pictures. By passing rectangles areas can fill in multiple pixels in a single call. I think they'll also want a pixel orientation to

[2019-04-25 17:58] deshipu commented on #1828
I have limited experience with e-ink screens, having only used the smaller ones, but at least those are very similar to the other monochrome displays. Here is a driver I wrote for the gew0154t8 chip: https://gist.github.com/deshipu/f98123276336c6763d66c439761ccd48

Notable differences:
- You need to provide both old pixel data and new pixel data for them to be able to calculate the optimal update

[2019-04-25 20:25] makermelissa commented on #1828
I’m a little late to the party here, but could another option be to read the 8-bit block of pixels, update whatever bits and rewrite that modified byte? It’s a similar approach that I took to the RTC FeatherWing so that each element of the current time could be modified individually.

[2019-04-25 21:14] deshipu commented on #1828
Many of those displays don't have the MISO pin in the SPI mode, and even if the display has it, the breakouts they are mounted on don't make it available. Also, it would be painfully slow.

For a 128x64 SSD1306 OLED, you need 1kB of RAM to keep a full copy of the whole screen, or 128B to keep a buffer for a single line. Compared to a 160x128 ST7735's 40kB of RAM, that is more reasonable.
Besides,

[2019-04-25 21:32] deshipu commented on #1828
Right now the most expensive part of refreshing the screen is actually computing the colors of all the pixels, and not actual sending of the computed data (which could be, if it became a problem, done asynchronously with DMA anyways). If we keep that 1kB buffer of the whole screen for the monochrome displays, we can only update the pixels that changed, and keep the old pixels from previous frames.

[2019-04-25 21:35] deshipu commented on #1828
Note that this math works differently for the 4-bit displays, which require only 4 times less memory per pixel than the 16-bit ones, instead of 16 times less like the 1-bit displays do, so we might need to rethink that for them.

[2019-04-25 21:59] kevinjwalters commented on #1818
This was still usable so I would not have noticed this problem had it not been for `listdir()`. I'm just cleaning it up now as I'm trying out 4.0.0 rc1 and don't everything pristine.

[2019-04-25 22:12] dhalbert commented on #1818
Are you still seeing this after reformatting the filesystem?

There is no health check built in, but the typical fsck or chkdsk could probably work. The first block of the filesystem is actually simulated because it contains unchanging info.

[2019-04-25 22:21] kevinjwalters commented on #1818
No, I'd left it in its slightly broken state because I was interested in when/how the problem would manifest itself in ways a typical user would see. The corruption must have been minor and not had much impact.

I've run `storage_erase()` now and copied over new `lib` directory. **chkdsk** runs clean on both of my CPXs.

[2019-04-25 22:40] kevinjwalters opened #1830 "4.0.0 rc1 goes into safe mode after a normal installation"
I took a CPX running 4.0.0 beta7 connected to Windows host:

1. double clicked reset to get **CPLAYBOOT** And copied 4.0.0 rc 1 uf2 onto it
2. connected to serial console
3. deleted lib
4. copied lib from adafruit-circuitpython-bundle-4.x-mpy-20190425 onto board
5. ran chkdsk f:  (it said no problems)
6. renamed code.py on the board to something.py
7. copied myfile.py onto board and renamed it to

[2019-04-25 22:51] kevinjwalters commented on #1830
Actually it's telling me (I think) to press the reset button to exit safe mode? I'm still puzzled as to why boot_out would not say 4.0.0 rc1?

I'm going to unmount F: and press reset button

[2019-04-25 23:01] kevinjwalters commented on #1830
boot_out now says:

[code]

and all appears fine but it's not the smoothest of upgrades. Is what happened to me expected?

[2019-04-25 23:20] dhalbert commented on #1830
Did you do `storage.erase_filesystem()` previously? I'd recommend that over just `chkdsk`. When you copy lots of files (like the `lib/` dir), you need to do an Eject on Windows and wait for the "it's safe to remove" message. Do that whenever you copy a file, as opposed to editing a file with a safe editor.

[2019-04-25 23:41] kevinjwalters commented on #1830
This is a different CPX board.

[2019-04-26 11:25] kevinjwalters commented on #1830
As an experiment I've gone back to 4.0.0 beta 7 and then re-upgraded to rc1 and that all went smoothly.

For some reason windows mounts this as CIRCUITPY **F:** but CPLAYBOOT _**E:**_ - that's a little confusing.

Another small curiosity. I have also noticed that the first time I _read_ boot_out.txt it triggers an Auto-reoad. Both **notepad** and DOS command **type** do this.

[2019-04-26 17:42] stephenvowell commented on #1825
Thanks DHALBERT...
I cut the jumpers and added the others  all works now

[2019-04-26 18:00] hexthat opened #1831 "Failer to boot into Safe Mode"
[code]
works as expected but
[code]

Does not enter safe mode. I was going to use it like "else statement" boots to safe_mode stopping code.

[2019-04-26 18:13] tannewt commented on #1830
Cool, thanks for retesting. Will close this issue.

The read triggering a reload is likely an OS thing. It may be updating the last access time of the file for example.

[2019-04-26 18:13] #1830 closed

[2019-04-26 18:29] kevinjwalters commented on #1830
Does a FAT file system have an _access_ time?

[2019-04-26 19:34] dhalbert commented on #1825
Great! I'll close. I'll also see if the guide should have some more info about this.

[2019-04-26 19:34] #1825 closed

[2019-04-26 20:01] dhalbert commented on #1830
It shouldn't be enabled by default. See footnote 2 here: https://en.wikipedia.org/wiki/File_Allocation_Table.

However, I see the reload on `type d:boot_out.txt` as well, so something is going on. We should see if we can distinguish these touches from a regular write. It may be touching the dirty bit on the filesystem, though I'm not sure why.

[2019-04-26 20:12] kevinjwalters commented on #1830
It didn't seem to do it on a _second_ or _third_ repeat of the command.  That suggests _day resolution_ access dates could be a factor but inspecting file system would show this one way or t'other. I didn't even know these were present, they probably added those after I stopped playing with FAT12/FAT16 rubbish.

[2019-04-27 08:55] Sorunome opened #1833 "Invite link of the discord guild in the readme expired"

[2019-04-29 15:36] tannewt commented on #1831
What board are you using?

[2019-04-29 15:42] caternuson opened #1834 "Driver for MAX31850K"
This:
https://www.adafruit.com/product/1727

Or does standard Dallas 1-wire work?

Semi-related:
https://forums.adafruit.com/viewtopic.php?f=19&t=150205

[2019-04-29 16:40] ladyada commented on #1834
i think you need to make some mods to the DS18b20 library code so yeah it'd be a whole new lib

[2019-04-29 16:42] ladyada commented on #1834
also note that the 1 wire circuitpython libs dont work on linux at all because linux does 1wire at the kernel level

[2019-04-29 20:11] hexthat commented on #1831
Tested on  Feather_m4_express and hallowing_m0_express, neither goes into safe mode

[2019-04-29 21:04] urish opened #1835 "CircuitPython Workshops in Israel"
I'm running a popular meetup group in Israel called [IoT Makers](https://www.meetup.com/IoT-Makers-Israel/). We organize hands-on workshops for the Maker community, and would love to introduce CircuitPython to our workshops. In order to make this possible, we'd need your help:

1. By adding support for the Thingy:52 and its peripherals. We have 24 Thingy:52 devices that were generously contributed

[2019-04-29 21:05] kevinjwalters commented on #111
I noticed some MSFT folk talking about PyCon/Adafruit stuff and started this discussion (@qubitron and @zooba) to try and get a bit of momentum to get this bug fixed: https://twitter.com/kevinjwalters/status/1122527653960007680

[2019-04-30 12:30] nickzoic commented on #1800
I've added in a patch to the development branch above to fix a length bug where reads have a bunch of zeros on the end.

Also I noticed while messing with this code that unless you explicitly close them, sockets don't close until they are GCed.  There's only 8 available so they run out pretty quick. This results in a not very helpful `OSError: 24` message which really should get a translation, etc

[2019-04-30 22:15] zencuke commented on #1380
Sorry to come to this late. As context I am a long time embedded control developer who has written a couple of low level preemptive tasker/schedulers (easier than you might guess) and I've least read several versions of UNIX/Linux schedulers. I used to be up on current theory, including studying how an OS scheduler problem (priority inversion) killed the Pathfinder Mars lander, but that was a whil

[2019-05-01 17:37] hexthat commented on #1835
I don't think nRF52832 is supported currently, but if you look at 3.x it was once.

[2019-05-01 17:42] ptorrone commented on #1835
@urish please email pt@adafruit.com and we'll send ya out some boards.

[2019-05-01 20:21] Tasm-Devil commented on #1828
Hi,
I'd also like to use displayio with an ssd1306.

[2019-05-01 20:24] makermelissa commented on #1828
Yep, that’ll probably be one of the first displays since it’s so ubiquitous.

[2019-05-01 20:25] urish commented on #1835
@ptorrone Done! Thx 👍

[2019-05-02 02:07] tannewt commented on #1835
Looks like this has been resolved. :-)

[2019-05-02 02:07] #1835 closed

[2019-05-02 04:46] nickzoic commented on #1800
You're not going to believe how dumb this is :-/ DHCP kept pinching socket 0 away and changing it to a UDP socket, which was causing the `SOCKERR_SOCKMODE` error (5) to get thrown.

Basic proof-of-concept patch in the branch above, slightly more finessed version on its way.

[2019-05-02 08:36] gvcp commented on #1800
I didn´t assume that DHCP with it´s UDP ports  is used by default as I had a static IP addresses on the WIZNET. I didn´t call wiznet.ifconfig with parameters and now I am unclear about how to switch between static address and DHCP: circuitpython.readthedocs mentions a wiznet.dhcp call. Do I just have to set this to false or true immedately after creating WIZNET5K or true to achieve this ?
Without

[2019-05-02 08:56] nickzoic commented on #1800
On Thu, 2 May 2019, at 18:36, gvcp wrote:

Yeah, unless you explicity disable DHCP (by setting wiznet.dhcp=False) it'll still interfere with socket #0.
How much it interferes depends on your local network, etc, which is why we were seeing varying issues.

Very good point: I only just implemented that and still need to add it to the docs in the PR :-)
It just sets an initial value for the 'dhcp' pr

[2019-05-02 12:07] kevinjwalters commented on #1382
Would this code be usable/applicable for controlling additional external RGB LEDs? A question came up about this in the forums recently: https://forums.adafruit.com/viewtopic.php?f=60&t=151168

[2019-05-02 12:26] kevinjwalters opened #1838 "Enable use of pin(s) for PWM which have limited timer resolution"
The discussion on [How many pwm outputs can I use on CPX?](https://forums.adafruit.com/viewtopic.php?f=60&t=148017) explained why the Circuit Playground Express's A7 pin could produce a PWM output but this functionality is not currently enabled because one of the counters associated with it is limited to 8bit rather than the 16bit resolution on other PWMs.

It would be useful to offer CPX's A7 for

[2019-05-02 21:14] nickzoic commented on #1500
@notro please see #1800 for what I hope is a fix!

[2019-05-02 21:20] nickzoic commented on #703
@genevanmeter / @turbinenreiter / @brentru / @siddacious please check out #1800 and let me know if that addresses your problem ...

[2019-05-02 21:25] ladyada commented on #703
@nickzoic please provide UF2's for feather m4 and metro m4 :)

[2019-05-02 21:56] caternuson opened #1839 "displayio.Group scale drawing x=y=0 edge pixels twice"
Test code below. Draws a bitmap with a 1 pixel border then scales it up. Scaled result border is not symmetric. The top (y=0) and left (x=0) edges appear doubled?

[code]

Result:
![scale_test](https://user-images.githubusercontent.com/8755041/57109067-5de55080-6ce9-11e9-9efe-04a84ce927c3.jpg)

[2019-05-02 22:47] nickzoic commented on #1800
OK I've made some builds for revision d97c81b and temporarily made them available at:

https://www.dropbox.com/sh/fiy9jqi7dozdlfv/AAAnxWPCM5yGOHLZUwUURtwQa?dl=0

If all goes well, I expect this PR will get merged back into CircuitPython proper shortly after PyCon, but these should at least let you all test the new code now and see if it solves your problem!

@gvcp / @notro / @genevanmeter / @turbi

[2019-05-03 12:33] kevinjwalters commented on #1639
I just tested an GEMMA M0 on 3.1.2 and that was perfect for 20 executions of `raise AttributeError("abcdefghij" * 12)` at REPL. The first execution of that after upgrade to 4.0.0 rc1 did the stuck buffer thing:

[code]

I did 20 of those, 12 of them got stuck, an unusually high number. I do also have 4 other CPX boards plugged in at the moment which is atypical. I am not using any USB hubs, btw.

[2019-05-04 10:14] gvcp commented on #1800
Partial success with feather M4 Express, but there seem to be 2 different issues, 1 with wiznet, 1 with circuitpython 4.0 RC1 in general:

1. I was able to send and receive data (connected to a server) via REPL executing the code line by line without problems, but when I do the same in code.py everything hangs, nothing is sent and I also
don´t receive anything on the feather. Here is the test code

[2019-05-04 21:36] gvcp commented on #1800
I added a print statement after each line in the above code, the last output I got was that the socket was created (ss=socket.socket...) After about a minute I got a traceback for ss.connect with an OSError 4 (interrupted system call) then everything hanged again in the same way than above.
The server side didn´t show a connection from the feather M4 client.

Another try: adding a 3 second sleep b

[2019-05-05 01:44] jdemilledt opened #1841 "RuntimeError about SDA/SCL pullup"
Upon initializing the I2C bus with my Trinket M0, I get an error complaining that SDA or SCL is not pulled up.

This seems odd, however, since I have resistors on both lines and I've tested them with a multimeter to be sure. How could I troubleshoot this?

[2019-05-05 02:22] nickzoic commented on #1800
On Sun, 5 May 2019, at 07:36, gvcp wrote:

Hmmm, very weird. I didn't try loading via code.py, I'll give that a go. What it might mean is that we're sending stuff to the wiznet module before it is fully ready. Thanks for the feedback.

[2019-05-05 02:50] hulkco commented on #1841
You can see the guide on how to do it here: [https://learn.adafruit.com/circuitpython-essentials/circuitpython-i2c](https://learn.adafruit.com/circuitpython-essentials/circuitpython-i2c)
![Selección_201](https://user-images.githubusercontent.com/16407513/57187563-a867f800-6eb6-11e9-9c46-ae8821e24dd3.png)

[2019-05-05 03:14] ladyada commented on #1841
hiya it could be a wiring issue, you can post to the forums, but the detection works pretty well so its unlikely to be a core bug. please post to the adafruit forums and/or check your wiring!
closing for now

[2019-05-05 03:14] #1841 closed

[2019-05-05 08:46] gvcp commented on #1800
Just to be sure:
I assume like the arduino version the wiznet circuitpython implementation doesn´t need the hardware interrupt available on the seperate IRQ pin of the ethernet feather ?
Or does it have to be connected to some pin of the processor ?

[2019-05-05 10:59] nickzoic commented on #1800
On Sun, 5 May 2019, at 18:46, gvcp wrote:

This implementation only uses SPI plus CS (chip select) and RST (reset).
RST isn't really required either, I think, so I should make that optional.

I'll try and reproduce the code.py problem on Tuesday ...

[2019-05-05 11:14] jerryneedell opened #1842 "some nrf52840 boards boot to safe mode with rc.1"
My PCA10059 Dongle boots to "safe mode" with CP 4.0-rc.1 or the current master but it works OK with Beta.7

Note- I did update the bootloader to v2.11 -- rc.1 does work with it on a feather_nrf52840_express

RC.1
[code]

Current Master
[code]

Beta.7

[code]

[2019-05-05 12:27] jerryneedell commented on #1842
Followup -- CP 4.0 rc1 with the 2.11 bootloader works OK on a PCA10056 and a particle_xenon as well. So far only the pca10059 is not working.

[2019-05-05 14:33] jdemilledt commented on #1841
I do have the pullups (4.7K), and I made sure to test them with a multimeter, including continuity, so I know the wiring is working.

[2019-05-05 14:59] caternuson commented on #1841
Please post photos of your setup in the forums:
https://forums.adafruit.com
We can not recreate this issue.

![trinket_m0_i2c_test](https://user-images.githubusercontent.com/8755041/57195801-7f258700-6f0b-11e9-8eca-dfae686a7e00.jpg)
[code]

remove resistors:
[code]

[2019-05-05 15:28] jdemilledt commented on #1841
I'm running on 4.0rc1 FYI.

[2019-05-05 17:25] Tasm-Devil opened #1843 "An Idea on Bluetooth to MQTT"
Hi there.
I have a question regarding mqtt and usocket.
The old Micropython mqtt-library uses the class usocket.

Now there is no MQTT library in the nrf52840 and no usocket library, because the chip has no Ethernet.

What if you use Nordic UART to build an MQTT connection with a broker? Would not that be great.

It is not theoretically possible to write a usocket class that can connect to a serve

[2019-05-05 17:33] ladyada commented on #1843
sure, you could try porting umqtt to the airlift board, it provides some `socket` ability

[2019-05-05 17:45] jerryneedell commented on #1842
a bit more information: I tried using a makerdiary_nrf52840_USB_dongle and get simialr results as with the pca10059.
4.0 - beta.7 works OK
rc1 does not boot
dmesg reports:
[code]

on change between beta7 and rc1  dealt with nvm -- I wonder if there is an issue with these boards that do not have external flash...

[2019-05-05 17:55] jerryneedell commented on #1842
hmm -- the plot thickens -- tried RC1  on a sparkfun_nrf52840_mini (also no external flash) and it also boots to safe mode like the pca10059
Beta 7 works normally.
Note -- on this board, I have the bootloader delivered with the board - not 2.11 as on the other boards.
[code]
So far 3 for 3 nrf52840 boards without external flash do not boot properly with 4.0 rc1
All boards with extrenal flash so fa

[2019-05-05 18:46] Tasm-Devil commented on #1843
I think, it was probably a bad idea to use the socket module.

I tried creating an fake-socket-module to test [simple.py](https://github.com/micropython/micropython-lib/blob/master/umqtt.simple/umqtt/simple.py) but now i think, its better to do the mqtt-protocol stuff in the javascript file and not on the board. This makes it possible to use the [wss](https://en.wikipedia.org/wiki/WS-Security) pro

[2019-05-05 18:51] ladyada commented on #1843
sounds like a non-circuitpython project/issue then? you want someone to develop a webservice?

[2019-05-05 18:59] Tasm-Devil commented on #1843
Yes and No :)
On the Circuitpython side, we still need a mqtt-module, that uses the ble UARTServer.
I'm working on it

[2019-05-05 19:17] ladyada commented on #1843
ok sounds good! we have a library guide here https://learn.adafruit.com/creating-and-sharing-a-circuitpython-library that can help you get it into good shape!

[2019-05-05 20:04] caternuson commented on #1841
4.0 RC 1 checks.

[code]
remove resistors:
[code]

[2019-05-05 20:05] deshipu commented on #1841
@jdemilledt perhaps you could post a photo of your setup?

[2019-05-05 21:13] skoslowski commented on #1380
This issue came up in a discussion with @tannewt during PyCon19. Only skimmed the comments here, it looks like no one has mentioned the simple scheduler/event loop that is part of the CPython standard library and may be of interest for this:

https://docs.python.org/3/library/sched.html

[2019-05-05 22:23] jdemilledt commented on #1841
https://forums.adafruit.com/viewtopic.php?f=60&t=151338 I've made a forum post.

[2019-05-06 15:15] ericwertz opened #1846 "does time.monotonic() have a unit?"
I cannot tell from the documentation for time.monotonic() if it has units or not -- like seconds or milliseconds, etc.

I'm wondering if this function can be used for measuring time deltas (like Arduino's millis()) or if it can only be used for ordering events time relative to each other.  It _seems_ like the former since it has gone to the trouble of being a float, whereas integers would suffice

[2019-05-06 15:40] ladyada commented on #1846
its in seconds and fractions thereof. good for both cases, its monotonic, like millis() since last hardware reset :)

[2019-05-06 15:45] godlygeek commented on #1451
I'll take a swing at this...

[2019-05-06 16:44] ladyada commented on #1451
yay!

[2019-05-06 18:13] katlings commented on #1636
This sounds fun; I'm going to tackle it for PyCon 2019 sprints!

[2019-05-06 18:43] rhooper opened #1849 "Building with a frozen module that has no tag fails with a confusing error message"
Building with a frozen module that has no tag fails with a confusing error message.

Eg:

[code]

[2019-05-06 19:31] charlesbmale commented on #1839
I do not know which version of Circuit Python you were using but for CircuitPython 4.0.0-rc.1 I received a similar issue with the Test Code you provided and I took that code and fixed the double edged borders with the following code. Hope it helps!!

import board
import displayio

SCALE = 8
WIDTH = 10
HEIGHT = 10
X = 20
Y = 20

bitmap = displayio.Bitmap(WIDTH, HEIGHT, 2)

palette = displayio.Palet

[2019-05-06 20:13] caternuson commented on #1839
Oops, I should have specified CP version. Thanks for mentioning that. I was using 4.0 RC 1.

I tried above and it does seem to render correctly. It looks like all you've done is move the positional information from `group` to `tilegrid`. Was trying to set position via the `group` an incorrect usage?

[2019-05-06 20:31] godlygeek commented on #1451
Also broken:

[code]

This should raise an `OverflowError` instead...

[2019-05-06 20:44] charlesbmale commented on #1839
When tackling your issue I copy and pasted your code and tried to replicate the issue you were having and it displayed a position argument error on line 24. I fixed that error but it turned out that I was using an older version. So when I updated the version, the code I had didn't work but still received a position error. So I copy and pasted the code you had again and received the same issue you

[2019-05-06 20:53] godlygeek commented on #1451
So should:

[code]

[2019-05-06 21:48] caternuson commented on #1839
There have been some changes to the positional argument as 4.0 has moved through the beta releases. At one point it was a tuple. But now both `Group` and `TileGrid` have specific and separate `x` and `y`.
https://circuitpython.readthedocs.io/en/latest/shared-bindings/displayio/TileGrid.html
https://circuitpython.readthedocs.io/en/latest/shared-bindings/displayio/Group.html
So I think either (or bo

[2019-05-06 21:48] makermelissa commented on #1839
Yep, I helped him with that change.

[2019-05-07 01:41] pllim opened #1854 "MemoryError when trying to run IR sensor examples"
I encountered `MemoryError` trying to run [cpx_ir_receive.py](https://github.com/adafruit/PyCon2019/blob/master/Circuit_Playground_Express_cpx_Library_Examples/cpx_ir_receive.py) or [cpx_ir_transmit.py](https://github.com/adafruit/PyCon2019/blob/master/Circuit_Playground_Express_cpx_Library_Examples/cpx_ir_transmit.py) on the circuit boards that was circulated at PyCon 2019 (the red one in swag ba

[2019-05-07 04:38] nickzoic commented on #1800
OK, so I can run the ethernet example code fine from code.py, so long as it successfully connects, and it loads example.com a hundred times without errors then gets to "Code done running".

If there's no ethernet connection then the socket.getaddrinfo() fails (slowly) and then it drops out to the
"Code done running." when it hits the `OSError: -2`.

Either way though, a few seconds after it gets d

[2019-05-07 11:52] nickzoic commented on #1800
OK, so 24934a1 removes nics from the network stack when the network deinits: this seems to fix the problem which I was seeing when loading code from code.py and then dropping out to "Code done running." ... it now drops out to a happy REPL and you can even Ctrl-D to restart or 'import wiznet' to use it from the REPL and it works.

In the process, I noticed that I'd not actually attached the jumper

[2019-05-07 13:26] kevinjwalters commented on #1639
Gemma M0 exhibits the problem with that REPL `raise` with CPX boards not plugged in too, just tried it.

[2019-05-07 14:22] dherrada opened #1857 "Float function rounds to two decimal places."
I've tried this in 3.1.1 on multiple boards and 4.0.0-rc1 on the feather M4. What happens is:
[code]
And the same thing happens when I run that function from a file

[2019-05-07 14:37] dherrada commented on #1857
This is probably a hardware limitation since how accurate float() is depends on the chip itself. One possible solution could be to add a different float function with 2 arguments to allow people to specify how long they want their float to be.

[2019-05-07 15:22] blademckain commented on #1595
+1 need ble scanner! :)

[2019-05-07 17:43] barbudor commented on #1857
@dherrada this is nothing to do with `float()` doing some rounding to N decimal place. This is intrinsic to single precision float.
It is not possible to represent 8051.4091 in, single precision float due to mantissa limited to 23 bits.

Note that (Circuit)Python already support a `round( value [,ndigits])`built-in for rounding.

[2019-05-07 17:55] Tasm-Devil commented on #1843
ok thanks for the link. I will consider doing it the right way when this grows up.
Here is my first demo of a [BLE2MQTT](https://github.com/Tasm-Devil/BLE2MQTT) relay service for Circuitpython.

[2019-05-07 17:55] #1843 closed

[2019-05-07 19:14] ladyada commented on #1800
just popping in to mention that yes, the reset pin is not essential - altho it is handy :)

[2019-05-07 19:25] gvcp commented on #1800
should it just be connected to the "Rst" pin of the feather M4 express so that both are reset at the same time or must it be connected to a special IO pin ?

[2019-05-07 19:25] ladyada commented on #1800
either

[2019-05-07 21:41] nickzoic commented on #1800
The original example uses D10 as CS (chip select) and D11 as RST (reset) and specifies those when constructing the interface, so you can use a different pin for reset if you like:
`eth = wiznet.WIZNET5K(spi, board.D10, board.D11)`
I've made the rst parameter optional so if you've not hooked up reset, or hooked it up to the reset button, you can construct the interface like:
`eth = wiznet.WIZNET5K(

[2019-05-07 23:04] gvcp commented on #1800
Thanks for the information.

And... great work in a short period of time!

I am still testing: in general it works now, sending as well as receiving in code.py and it doesn´t hang anymore, but there are still some confusing points:
- It only works if I add a 3 second delay (2 or less don´t suffice) between ss=socket.socket and ss.connect, otherwise I get an Errno 13, Permission denied
Or is there

[2019-05-07 23:35] gvcp commented on #1800
Found another issue after testing special situations:
If I first have the server not listening I get the error 4 described above and it comes back to the REPL
Then after I activate the server socket and execute the code again by pressing ctrl D it hangs (no REPL in MU, not possible to access drive.)  After a hardware reset of the feather I get circuitpy at least on my computer and can delete code.

[2019-05-08 00:58] nickzoic commented on #1800
Hmmm, so just to confirm, the situation here is:

* you don't have hardware reset hooked up on your wiznet module.
* you have a TCP server ready to run on your network somewhere
* your circuitpython/wiznet client attempts to connect a socket to it, but fails because it isn't running yet
* that drops you out of code.py and into the REPL
* you then start the TCP server and ctrl-D to re-run code.py
*

[2019-05-08 04:19] dherrada commented on #1857
Ok. Thanks for the clarification. I was trying to implement what you suggested for rounding but the problem with using round() was that round() can't round a string without having to convert it to a float with float() first.

[2019-05-08 12:42] evaherrada opened #1862 "Feather M4 does soft reboot when files on it are being edited while a file is also running"
I don't think this is an issue that needs to be fixed, but I think that it would be worth adding something to some docs somewhere telling people to edit the code locally and then copy it across to the board. I was using vim, and I think the creation and modification of .swp files is partly to blame.

[2019-05-08 13:35] #1862 closed, assigned to nobody

[2019-05-08 15:43] terriko commented on #1369
I'm working on this at the pycon sprints and have discovered that setting the LED to any other colour results in it going red -- except if you set it to yellow.  So I think maybe something is using the LED colour to check status and freaking out if it's not one of the expected statuses?  Will do some reading.

[2019-05-08 18:26] deshipu opened #1864 "pybadge: games reset the display after 2-10 seconds"
As we have the ``_stage`` module to work with displayio, and the ``stage`` and ``ugame`` modules frozen on the pybadge, all of the µGame games should JustWork™ on it. And that is indeed how it is on the version D prototype of pybadge that I have and that I have tested it all with. It also works with itsybitsy m4 express with a display connected, and with the minitft featherwing on a feather m4 exp

[2019-05-08 18:27] deshipu commented on #1864
The problem can be reproduced by flashing pybadge with version 4.0.0-rc-1 of CircuitPython firmware, copying the ``jumper.py``, ``level.bmp``, ``walls.bmp`` and ``jumper.bmp`` files onto its disk, and renaming the ``jumper.py`` to ``main.py``.

[2019-05-08 18:53] tannewt commented on #1846
Note, we also support `time.monotonic_ns()` which will be a long int. In practice it will have millisecond resolution due to the way we track time internally.

[2019-05-08 18:53] #1846 closed

[2019-05-08 18:56] #1857 closed

[2019-05-08 18:57] tannewt commented on #1749
@siddacious Mind checking this in the next few days since we're back from PyCon?

[2019-05-08 21:19] tannewt commented on #1826
@stephenvowell what board was it running on?

[2019-05-08 21:26] siddacious commented on #1749
If I recall correctly my next step in testing was to try and get a good wireshark capture. I'll try to do that this afternoon

[2019-05-08 21:49] tannewt commented on #1826
Ah, I see the boot_out.txt says Metro M0. I'm unable to reproduce it. Please reply if it still happens on the latest S3 build and I'll reopen.

[2019-05-08 21:49] #1826 closed

[2019-05-08 22:21] tannewt opened #1868 "Support `microcontroller.on_next_reset` on nrf"

[2019-05-08 23:41] #1842 closed

[2019-05-09 00:23] #1369 closed

[2019-05-09 01:00] dhalbert opened #1871 "Sort filenames in .po translation files"
`xgettext --add-location=file` does not sort the filenames: they seem to be in random order, which causes unnecessary diffs. We could post-process the files to sort the filenames.

I looked in the `gettext` [bug list](https://savannah.gnu.org/projects/gettext/) and don't see this mentioned in any open or closed bug.

[2019-05-09 17:45] #1833 closed

[2019-05-09 19:29] tannewt commented on #1864
So the version that does a re-init mostly works. I think the checked in version suffers from leaving reset floating and therefore very susceptible to cross talk. It doesn't look like a hardware issue to me. (And therefore you should be able to reproduce with yours as well.)

It looks like it's still fighting the native screen update where the terminal is still attempting to show on the screen. `_s

[2019-05-09 19:47] deshipu commented on #1864
@makermelissa reproduced the problem with all versions, no matter what state the reset pin was left in.

I'm closing this issue, but feel free to re-open it if the official api gets fast enough to have the same problem.

[2019-05-09 19:47] #1864 closed

[2019-05-09 20:20] tannewt commented on #1382
@kevinjwalters I don't think so. For external ones, three PWM can be used from user code.

[2019-05-09 20:38] tannewt commented on #1636
Done by @katlings with #1850!

[2019-05-09 20:38] #1636 closed

[2019-05-10 00:00] nickzoic commented on #1800
@gvcp responses to your previous questions:

### the startup issue

this works for me:
[code.py](https://github.com/adafruit/circuitpython/files/3164349/code.py.txt)

It's getting an address by DHCP, then connecting to example.com.
It spins for a few seconds waiting for the DHCP address.
Now, interestingly, `socket.getaddrinfo()` and `socket.socket()` work even without a network, if you pass it a

[2019-05-10 02:21] #1839 closed

[2019-05-10 03:03] #1831 closed

[2019-05-10 12:18] dhalbert commented on #268
Alternatively, we will do this via #1517, adapting the code in #1499.

[2019-05-11 05:09] ladyada opened #1875 "4.0.0 RC2 - Side-effects of https://github.com/adafruit/circuitpython/pull/1860 don't allow assigning various cross-types"
some assignments such as bool to bytearray no longer work, but do in cpython3

[code]
vs

[code]

[2019-05-11 12:47] dhalbert commented on #1875
@tannewt I'm thinking we should revert this PR for now and revisit it for 4.1, because it's breaking known and unknown things, and it's not a vital feature for 4.0.0 (it should have been added in a beta).

[2019-05-11 20:28] dhalbert commented on #1875
I'm working on fixing this instead of reverting. I'm seeing if I can simplify it too.

[2019-05-12 21:06] klardotsh commented on #1769
@dhalbert @kdb424 I was able to confirm catching the `OSError` is a valid workaround by testing the following script (ignore the wildly inaccurate "frequency" function, but it gets the job done) against a Feather M4 Express (1) plugged into computer - received no blinks, and (2) plugged into power-only AC adapter - received frantic blinks.

[code]

[2019-05-13 01:10] nickzoic opened #1880 "Better exceptions for 'socket', 'network', 'wiznet' libraries"
At the moment, the exceptions raised by 'socket', 'network' and 'wiznet' libraries are mostly just in the form `mp_raise_OSError(_errno)` which leads to irritatingly nonspecific exceptions like `OSError: [Errno 4]`.

We should improve these to have proper error messages.

See also #703 (initial implementation from micropython) #1800 (bugfixes for 4.0.0)

[2019-05-13 16:22] tannewt opened #1881 "Crash when assigning attribute before super().__init__() is called"
From @nnja:

[code]

[2019-05-13 16:31] #1875 closed

[2019-05-13 18:58] godlygeek commented on #1451
@tannewt - I believe this can be closed after #1860 and #1879.

[2019-05-13 19:39] tannewt commented on #1451
Thanks @godlygeek !

[2019-05-13 19:39] #1451 closed

[2019-05-13 20:53] godlygeek commented on #1871
Any chance this is just because we just pipe the output of `find` directly to `xargs xgettext` and `find` returns files in an arbitrary order?  Perhaps piping through `sort` in the middle would do it.

[2019-05-13 20:57] tannewt commented on #1881
So it looks like it "just works" in CPython. This prints 1:
[code]

I don't think we'll be able to do this in CircuitPython easily because the native class isn't allocated until its `__init__` is called. I'll take a peek now and at least have it raise a NotImplementedException instead of crashing.

[2019-05-13 20:58] tannewt commented on #1871
It's worth a shot!

[2019-05-13 21:00] dhalbert commented on #1871
I was going to write an awk script or similar, but then discovered that the filenames could be split over multiple lines.

[2019-05-13 22:27] nickzoic commented on #1800
OK that branch is merged back in, @gvcp thanks for your help testing this, if you have further issues please raise a new issue for them and mention me, I'll try and look at it ASAP ...

[2019-05-13 22:27] #1800 closed

[2019-05-13 22:29] nickzoic commented on #703
Some outstanding issues were fixed in #1800 and I've added #1522 and #1880 to cover some potential improvements so closing this one at last.

[2019-05-13 22:29] #703 closed

[2019-05-14 01:03] tannewt commented on #1871
I'm doing this. I think @godlygeek is right.

[2019-05-14 07:21] smurfix commented on #1871
Either that, or freeze PYTHONHASHSEED.

[2019-05-14 18:09] tannewt commented on #1871
@smurfix How does PYTHONHASHSEED fit into it?

[2019-05-14 19:30] #1881 closed

[2019-05-14 19:30] #1871 closed

[2019-05-14 21:07] tannewt opened #1886 "Add check to travis to make sure new boards are built"
Alternatively, have Travis always build everything.

[2019-05-15 19:50] dhalbert opened #1887 "Update arm gcc toolchain from gcc 7.3.1 to gcc 8"
Currently we are using `gcc-arm-none-eabi-7-2018-q2-update`. `8-2018q4-major` is available. There will probably be another release sometime in June 2019.

See this comment, which is interesting, and is cautious about moving forward: https://bugs.launchpad.net/gcc-arm-embedded/+bug/1820593/comments/1.

Compiling the en_US Trinket M0 build with the new release produces slightly smaller code:
`2972 b

[2019-05-15 19:56] dhalbert commented on #1654
I'm wondering if #1870 might have fixed this.

[2019-05-15 22:40] #1694 closed

[2019-05-16 04:09] dhalbert opened #1890 "round(<integer>, <n>) throws NotImplementedError"
Reported by forum user lawrenceyy in https://forums.adafruit.com/viewtopic.php?f=60&t=151793:

`round(<integer>, <n>)` throws `NotImplementedError`. User found this via `round(0, 2)`. `round(<float>, 2)` is OK, as is `round(<integer>)`.

This was working in 3.1.2, but broke as early as 4.0.0-beta.2. MicroPython 1.9.4 seems OK.

[2019-05-16 04:43] dhalbert commented on #1890
This has to do with the default setting of `MICROPY_PY_BUILTINS_ROUND_INT`, which was added by https://github.com/micropython/micropython/commit/b318ebf1015ced6354f8bbaf035308214b3f5c5d. The original idea was to add handling negative rounding of integers, like `round(123,-1)`, but it took significant extra code, so the flag was added. I'm not sure it was Damien's intention to disallow two-arg roun

[2019-05-16 10:10] kevinjwalters opened #1891 "Some boards unintentionally sharing USB_PID values"
I was reviewing USB PID allocations, as you do, and noted that the PyPortal and GrandCentral M4 use the _same_ one, **0x8032**. @tannewt confirmed in discord that this case of sharing is incorrect.

Here's a summary of all of them in PID order generated from the `ports/atmel-samd/board` directory:

[code]

Perhaps the `itsybitsy_m4_express` sharing with `pybadge` is incorrect too? I don't know wha

[2019-05-16 10:20] deshipu commented on #1891
If this is a problem, I can get my own USB VID&PID pair for ugame10 and pewpew10 — however, I'm not sure if the CircuitPython drivers for Windows will then work for them?

[2019-05-16 13:33] dhalbert commented on #1891
@deshipu I don't think that's really an issue. No host program I know of uses the PID for significant things except maybe Arduino.

[2019-05-16 13:34] dhalbert commented on #1891
I'll work up a PR for this. @kevinjwalters The Hallowing PID is a joke :)

[2019-05-16 13:53] deshipu commented on #1891
@dhalbert Mu uses VID/PID to find the devices.

[2019-05-16 13:53] deshipu commented on #1891
I will apply for the new PIDs then.

[2019-05-16 14:15] dhalbert commented on #1891
@deshipu Mu now uses a wildcard: All boards with the Adafruit VID (0x239a) are recognized.

[2019-05-16 20:00] dhalbert commented on #1890
@tannewt Enabling `MICROPY_PY_BUILTINS_ROUND_INT` adds 151 bytes to image. Fixing the code so that `round(x, <negative n>)` is still not implemented but `round(<int>, <positive n>) works adds 16 bytes.

Current trinket build with French translation has 1264 bytes free with this turned on. That may be the largest one right now.

[2019-05-17 13:17] dhalbert commented on #1010
I did some more looking at Bluetooth File transfer. There are some pre-existing specs There's OBEX, a general object exchange protocol which is used for IrDA, Bluetooth, USB, and other protocols. GOEP (Generalized Object Exchange Protocol) is a Bluetooth profile based on on OBEX. There's a File Transfer Profile (FTP).

https://en.wikipedia.org/wiki/OBject_EXchange
https://en.wikipedia.org/wiki/OBj

[2019-05-17 17:01] tannewt commented on #1890
I'm fine adding it back.

[2019-05-17 18:34] kevinjwalters commented on #1891
In Windows I see my new PyPortal boards (running 4.0.0 rc3) as `@oem31.inf,%grand_central_m4_express% circuitpython (8032:00);Adafruit Grand Central M4 Express CircuitPython (8032:00)`. Presumably that's due to the clash?

[2019-05-17 19:38] dhalbert commented on #1891
No, that's a weirdness of driver installation on certain versions of Windows. What version of Windows are you using?

[2019-05-17 19:53] kevinjwalters commented on #1891
Windows 8.1 with the Adafruit 2.3.4.0 drivers.

[2019-05-17 20:07] dhalbert commented on #1891
Yes, that's some mild driver name text formatting bug in Windows 8 and up given certain .inf files. It's not substituting a definition in the .inf file properly. It works in Windows 7.

[2019-05-17 20:13] dhalbert commented on #1891
@kevinjwalters OK, sorry, misread your error report. Yes, the reporting of it as a Grand Central is due to PID mismatch. However, all the CircuitPython boards install the same driver, so it doesn't really matter. I'll need to update the drivers at some point to add new boards.

If you are at all able to upgrade to Windows 10, I would recommend it, since all this would go away. However, I can under

[2019-05-17 20:20] kevinjwalters commented on #1891
Yep, MIDI is fine. The only issue I have is with the boards (plural) all calling themselves `CircuitPython MIDI`, discussed in https://forums.adafruit.com/viewtopic.php?f=60&t=151271. Some things can cope with that to some degree ([Ableton Live](https://forum.ableton.com/viewtopic.php?f=1&t=234679)), other less sophisticated products can't. It would be nice if that could be specified by the progra

[2019-05-17 21:53] dhalbert commented on #1891
Fixed by #1892.

[2019-05-17 21:53] #1891 closed

[2019-05-19 22:05] kevinjwalters commented on #1830
@dhalbert Did you create a separate bug/enhancement issue ticket to look at the file read triggering a reload? I've just noticed even inspecting properties from the Windows Explorer GUI triggers a reload.

[2019-05-19 23:28] kevinjwalters commented on #1830
The file system of my PyPortal just got corrupted by me renaming a file as reported by **chkdsk**. I renamed `cache.bmp` to `cache-iffy.bmp`. That triggered a reload, of course. It's also more complicated because this is the nasa image viewer from Adafruit Learn and that makes the storage accessible and writeable. I've tried a `chkdsk e: /f` whilst at REPL prompt and it claims to be better now.

[2019-05-20 00:06] ladyada commented on #1010
@hathach do you have any thoughts on which one of these would be most universal or best to implement?

[2019-05-20 00:09] ladyada commented on #1010
https://www.howtogeek.com/208365/how-to-use-bluetooth-file-transfer-between-os-x-and-android-5.0-devices/

[2019-05-20 01:01] dhalbert commented on #1830
There is metadata that's written by Windows sometimes (like access times) that we can't distinguish from other writes. If you have some file monitoring, indexing, or anti-virus software on your machine, it can aggravate this. I don't think this is a new issue, but I'll investigate further.

Yes, basically this is dangerous, and especially so on windows. Don't write files while the NASA image viewe

[2019-05-20 11:04] kevinjwalters commented on #1830
It's odd though that a properties view triggers that.

I've been trying to debug a problem with PyPortal / Adafruit IO, see https://forums.adafruit.com/viewtopic.php?f=60&t=151923. I need to be able to preserve images from the file system when it misbehaves for debug.

Years ago a colleague proposed mounting a ufs filesystem read-only from a second host concurrently. I had to explain why even that

[2019-05-20 14:09] dhalbert opened #1899 "Move binascii from extmod/ubinascii.c to shared-bindings/ and shared-module/"
Leave the old code in `extmod/` so we can continue to see changes from upstream.

[2019-05-20 14:10] dhalbert opened #1900 "Move json from extmod/ujson.c to shared-bindings/ and shared-module/"
Leave the old code in `extmod` to continue to see upstream changes.

[2019-05-20 14:13] dhalbert opened #1901 "Move re from extmod/modure.c to shared-bindings/ and shared-module/"
Leave old code in `extmod/` so we can see upstream changes.

[2019-05-20 15:37] RoganDawes commented on #1050
Is there any intention to implement this? I'd love to be able to implement a keyboard/mouse composite device in CircuitPython!

[2019-05-20 16:59] dhalbert commented on #1050
Yes, it is high on the list of features to implement next.

[2019-05-20 19:06] kevinjwalters commented on #1639
`raise AttributeError("abcdefghij" * 12)` on my second attempt on REPL on new PyPortal (4.0.0-rc.3) reproduced bug, same place as the previous examples.

[2019-05-20 19:55] kevinjwalters commented on #1639
I've got a wireshark capture of this if that's of any use? No great revelations based on my inexpert (at USB) glance. When it behaves normally it shows a 208 byte response which I think is 27 header + 181 data. When it doesn't work there's an 80 byte response and then a 157 when user hits a key, as I hit enter an extra **CRLF** is appended explaining the 183 = 80-27+157-27.

[2019-05-20 23:25] dhalbert commented on #1639
Diagnosing:

`supervisor/shared/serial.c` calls `tu_cdc_n_write()`, which calls `tu_fifo_write_n()`. If too many characters are written too fast, the fifo will wrap around and characters will be lost.

Note that in `ib/tinyusb/src/class/cdc/cdc_device.c`, there's this commented-out code:
[code]
CPy should probably wait to write more characters until there's room in the fifo, but maybe tinyusb need

[2019-05-21 04:46] hathach commented on #1010
So far I didn't know/work with a way to transfer file via ble yet. Haven't got any request for this in Arduino

[2019-05-21 12:43] kevinjwalters commented on #1639
In addition to observations on Discord about locking not extending to all the read operations on the values in the fifo that can change (perhaps relying on atomic locks and/or typical style of use).

I see another _very minor_ issue which will probably never get exercised and might well be harmelss even if it was, there's a drop in int precision for `bufsize`, comes in unsigned 32bit but then used

[2019-05-21 16:15] kevinjwalters commented on #1639
If this only affects serial writes then I would say it's not overly important to address quickly.

I find it easy to reproduce on REPL and if there's a good way to debug a board where you can see what function is being used that would give away what's going on. For REPL if you keep trying to reproduce it it then the frequency of occurrence dramatically drops, it's almost as if it goes into hiding!

[2019-05-21 17:41] hathach commented on #1639
thanks @kevinjwalters , we will still need to look at it to see if we could fix it easily enough.

[2019-05-22 18:09] tannewt opened #1905 "Cannot paste unicode into the REPL"
It should echo back unicode characters just fine even if they don't show on the display's terminal.

[2019-05-23 13:01] c-k-dillard opened #1908 "CircuitPython completely freezes upon button click"
While using the cpx, the two buttons crash the entire board after playing a sound. There is no error message and the REPL and serial monitor crash. The buttons are supposed to play a sound when they're pressed. Here is the video of the serial monitor crash: https://imgur.com/O1GLBwN. The board crash is also recorded: https://youtu.be/53wDuqXmbi8. The code that seems to be causing the crash is belo

[2019-05-23 16:24] kevinjwalters commented on #1908
Worth attaching the whole code and all the sound samples too if you're ok with that. Worth a mention of the specific version of CircuitPython and the library bundle you are using too.

[2019-05-24 03:14] dhalbert opened #1910 "Force clean build for certain languages in Travis"
A few `mpconfigboard.mk` files have language-specific build requirements, like this:
[code]
However, `build_release_files.py` doesn't do a clean build for each language for a board. Only the first language is built cleanly: further builds don't do a `make clean; make`, but just a a `make`, reusing already compiled sources. This saves a lot of build time but it renders settings like the above ineff

[2019-05-24 03:19] dhalbert opened #1911 "Fix documentation sections that still refer to u* modules, like ure and ujson"
Some native modules that we've renamed back to their CPython names are still referred to with their `u*` names in the _readthedocs_ documentation, e.g. `circuitpython/docs/library/ujson.rst`.

- Rename these files and also fix the module names mentioned inside them.
- Remove caveat language about these modules not being supported or that they may change.

[2019-05-24 07:28] bbtinkerer opened #1912 "PyPortal RTC/time stops advancing when I2C device connected"
On the PyPortal if I connect any powered I2C device to side 4 pin connector, the RTC/time stops advancing and just pauses. The time continues again (does not restart, just picks up where it paused) after disconnecting the I2C device's power. The code I used to just check the time behavior as follows, then just power on/off the I2C device:

[code]

I know the devices are correctly connected because

[2019-05-24 12:14] c-k-dillard commented on #1908
The entire codebase is here: https://pastebin.com/NT34K32T

The versions of CircuitPython we tried are 3.1 and 4.0.

[2019-05-24 14:58] iraytrace opened #1913 "Crash into the HardFault_Handler"
Got a hard crash
[bug.zip](https://github.com/adafruit/circuitpython/files/3217451/bug.zip)

[2019-05-24 17:40] dhalbert commented on #1913
The BOOT_OUT.TXT file in the zip file says it's beta 7. Could you upgrade to 4.0.1 and try again?

[2019-05-25 19:11] bbtinkerer commented on #1912
I do not think the problem is a software problem. I changed the PyPortal voltage output on the connectors to the 3.3V by cutting the trace 5V trace on SJ1 and solder bridging to the 3.3V. The RTC works now when I2C devices are connected.

[2019-05-28 01:00] jnalezny opened #1917 "Crash at HardFault_Handler"
I was playing around with a circuit playground express and a crickit.  I got this error
[code]

My code:
[code]
[boot_out.txt](https://github.com/adafruit/circuitpython/files/3225230/boot_out.txt)

[crash.zip](https://github.com/adafruit/circuitpython/files/3225235/crash.zip)

[2019-05-28 01:06] dhalbert commented on #1917
What version of CircuitPython are you using? `boot_out.txt` is unreadable, for some reason. Could you paste its contents here if it's readable to you?

[I edited your initial post to reformat the code: you can surround it in triple backquotes and then it formats nicely.]

[2019-05-28 01:43] jnalezny commented on #1917
I am running adafruit-circuitpython-circuitplayground_express-en_US-4.0.1.uf2 that I just downloaded.  the libraries I got from adafruit-circuitpython-bundle-4.x-mpy-20190526.zip.  Both downloaded this afternoon.

[2019-05-28 01:47] jnalezny commented on #1917
I managed to read this off the actual circuitplayground express:
{ D 5 0 9 1 F D A - B B 2 8 - 4 C 5 3 - A 6 4 0 - 6 9 2 F D 9 8 8 0 C B 9 }
if that helps

[2019-05-28 13:44] dhalbert opened #1918 "Remove optional second argument to binascii.hexlify"
MicroPython `ubinascii` added a second argument to `hexlify()`, which specified a separator. This is not compatible with standard Python `binascii.hexlify()`, and does not add much significant functionality. Let's remove it.

[2019-05-28 18:34] brentru opened #1919 "Expose a user-defined Frequency kwarg in BusIO's I2C"
Despite being a kwarg within the constructor (https://circuitpython.readthedocs.io/en/4.x/shared-bindings/busio/I2C.html#busio.I2C), Frequency is not a set-able property.

Would it be possible to set the frequency via a call to `i2c.Frequency`.

[code]

[2019-05-29 05:38] hathach commented on #1696
comment to subscribe since I am doing hid gamepad example in arduino :)

[2019-06-01 17:19] TG-Techie opened #1921 "[docs error] dispio rst param rendering"
In the docs for displayio the first parameter starts with the word or instead of `displayio.FourWire`
docs: https://circuitpython.readthedocs.io/en/4.x/shared-bindings/displayio/Display.html
source: https://github.com/adafruit/circuitpython/blob/aae7cb3eb0ba547b1253b4bf55488465915a9ce4/shared-bindings/displayio/Display.c#L81

[2019-06-02 23:20] C47D commented on #1382
Hi yall,

I have been working on this and feel like i'm almost there, i got a green blink when i plug in the test board but after that the LED stays off, i would love to get this working before sending a PR, mind taking a look at it when you got some time?

First i defined a new board, a copy of the Bast pro mini m0, and edited the mpconfigboard.h by adding the following symbols.
[code]

Here's th

[2019-06-03 07:34] oldav commented on #111
Hi, thank you for your perfect analysis, I have the same problem in a different context, and I spent days to find a solution. I'm not sure to find one now, but I know what to try.
If my case can help to motivate MS to fix this trouble: we use a custom ioT, which has 1MB of flash with USB port. It is used to configurate it, and to copy some data. People tend to forget to eject properly USB mass sto

[2019-06-03 11:13] dhalbert commented on #111
@oldav There is some news about this: we are now in contact with MS about this, and some people there interested in CircuitPython are trying to pursue it.

[2019-06-04 00:00] kevinjwalters opened #1922 "wav sample_rate appears limited to less than 65536"
I wanted to experiment with some non-audio sample playback and made some 8bit wavs to check playback. 64000 is ok but this one at 96000Hz plays slowly and inspecting `sample_rate` shows why:

[code]

That's on 4.0.0-rc1 which happened to be on the CPX I was playing with. Also checked 4.0.1 which has same behaviour.

I had a very quick look and I saw a lot of 32bit values being used by args and var

[2019-06-04 12:36] iraytrace opened #1923 "Displayio / MiniTFTFeatherWing noise at left edge of screen"
The following code:
[code]
Produces the following image with noise on the left side:
![TFT_label_bug_2](https://user-images.githubusercontent.com/3651273/58879240-36e0bc80-86a3-11e9-9e52-5bfecab89642.gif)

This noise persists even if the display is more substantially over-written as in:

[code]

Which produces:

![TFT_label_bug](https://user-images.githubusercontent.com/3651273/58879378-8b843780-8

[2019-06-04 15:12] makermelissa commented on #1923
Hi, which version of CircuitPython are you running this with? I tried it with 4.0.1 and it didn't produce this.

[2019-06-04 15:22] makermelissa commented on #1923
I see on the forum, you grabbed an s3 build. I'm going to try compiling CP with the latest master to see if I can get this to reproduce.

[2019-06-04 15:31] makermelissa commented on #1923
Ok, I was able to reproduce this with the latest build. It appears that the initial screen draw is not completely drawing everything.

[2019-06-04 16:41] tannewt commented on #1923
@makermelissa I can take a look at this. I changed a good amount of this code so I'm not surprised there are bugs.

[2019-06-04 18:37] ATMakersBill opened #1924 "PyPortal download fails"
Hi folks, I have a project that needs the PyPortal to download multiple .wav, .bmp, and .json files from a server.  It then caches them on the SD card.

I am getting these errors when downloading multiple files:
`Fetching stream from http://api.atmakers.org/sounds/Joey/next.wav
Traceback (most recent call last):
  File "code.py", line 92, in <module>
  File "code.py", line 54, in loadBoard
  File

[2019-06-04 18:37] tannewt commented on #1382
@C47D Please make a PR with it and mark it as a draft. That will make it easier to comment on particular portions of the changes. Thanks!

[2019-06-04 18:47] tannewt commented on #1921
I think we need to split the type out of :param: and then define it with :type: I think. Example here: http://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#info-field-lists

[2019-06-04 19:35] ladyada commented on #1924
hiya bill, for issues with `adafruit_esp32spi` please post the issue in that library repo! :)

[2019-06-04 20:03] C47D commented on #1922
Appears to me it's because `sample_rate` is an `uint16_t` in the `audioio_wavefile_obj_t` type.

https://github.com/adafruit/circuitpython/blob/c5a4e19d6f76a09cba73149d5e3d4548da320899/shared-module/audioio/WaveFile.h#L34-L55

[2019-06-05 17:07] #1922 closed

[2019-06-07 00:16] iraytrace opened #1929 "memory allocation / garbage collection error"
There seems to be an issue with adafruit_framebuf.py (perhaps in conjunction with adafruit_ssd1306.py) in some circumstances.

This is observed when running

and using libraries from the 4.0 bundle downloaded today the following behavior is observed:

In the code below line 4 and 12 are identical.  Which one is uncommented determines which behavior is seen.

[code]

if line 4 is uncommented, circu

[2019-06-07 02:09] dhalbert commented on #1929
I don't think this is a bug per se, but is due to memory fragmentation and when garbage collection is triggered. We see this kind of thing due to the limited RAM available on M0 boards. As mentioned in discord, you can intersperse `gc.collect()` calls between imports and that may help.

[2019-06-07 03:46] iraytrace commented on #1929
If you have enough experience with the memory management system to assert this, then I bow to your expertise.

Question:  Give that adafruit_framebuf.py has 148 lines, how is the following happening:

The things that make me scratch my head include:

1) Calling gc.mem_free() shows at least 2K free once code starts executing. (ok so free might not be contiguous)
2) Calling gc.collect() doesn't chan

[2019-06-07 03:57] dhalbert commented on #1929
I agree that it's more problematic than I'd normally expect. I'll try to reproduce this with a debugger running and see exactly where it's failing internally in terms of memory.

https://github.com/adafruit/Adafruit_CircuitPython_framebuf/blob/master/adafruit_framebuf.py is 409 lines. Where did you see only 148?

[2019-06-07 04:04] iraytrace commented on #1929
OK, my total mistake there.  I landed on https://github.com/adafruit/micropython-adafruit-framebuf/blob/master/framebuf.py which of course is not the right repository.  I need to read what google gives me more carefully.

[2019-06-07 04:07] iraytrace commented on #1929
I edited my earlier comment with the second example code to make it easier to understand what code was just run in the output that shows memory usage.

[2019-06-08 03:24] C47D opened #1930 "I2S support on feather nRF52840 express"
Hi,

I'm interested in audio applications using the nRF52840, as far as i know there is no support (yet) for the I2S peripheral on this device.

I did a very basic research and i think i know the big picture on how to add support for this and i would like to know if I am on the right track or if there is work already done in this regard, so i won't duplicate it.

So the nRF hal is based on nrfx wh

[2019-06-08 04:26] sommersoft commented on #1930
@C47D #1035 already has this as a goal.

I don't know of anyone working on it at the moment. I have `PDMIn` started, but its kind of stalled as of late. I will throw this out though: `AudioOut` also isn't done yet on the nRF52, which has proved a bit of a barrier to verify recording for me thus far.

You are correct that `nrfx` is the HAL to use. And I wouldn't worry about the "newcomer" part.

I'

[2019-06-08 04:26] #1930 closed

[2019-06-08 14:13] C47D commented on #1930
Thanks @sommersoft

[2019-06-08 18:39] smurfix commented on #1380
I have ported the Trio core to MicroPython. No interrupt support yet, because lack of time, but adding that shouldn't be too difficult.

Interrupt handling would most likely look like this:
[code]

[2019-06-08 19:11] C47D commented on #1035
Thanks @sommersoft, #1932 is the WIP for this.

[2019-06-09 02:29] shazz opened #1933 "CircuitPython 4.x Performance issue with the pygamer vs. MicroPython"
Hi,

I did a simple loop test in python to compare with my STM32F4 based MicroPython board and the results are quite unexpected. CircuitPython 4.x is **16x** slower than MicroPython for an equivalent CPU frequency.

Details available here:
https://forums.adafruit.com/viewtopic.php?f=60&t=152372&p=753830#p753830

Test code:
[code]

Results:
[code]

C module reference:
[code]

Results:
[code]

Real

[2019-06-11 00:03] tannewt commented on #1933
This doesn't surprise me because performance hasn't been our focus. I'll probably take a glance for simple improvements in the next couple weeks but we'd totally take PRs that improve things.

[2019-06-11 05:06] dhalbert commented on #1933
I did some research on this. I looked at the stm32 port settings in MicroPython. In our ports, we use `MICROPY_VM_HOOK_LOOP` and `MICROPY_VM_HOOK_RETURN to call `run_background_tasks()` very frequently. This happens after every jump opcode and every return. We do this to service USB background tasks that need to use polling instead of interrupts.

If do not define the `HOOK` macros to call `run_ba

[2019-06-11 14:34] shazz commented on #1933
Thanks Dan! Interesting findings! "This happens after every jump opcode and every return" looks pretty scary :)

so everything happens here, ans especially usb_background(), right?

[code]

And yep MICROPY_VM_HOOK_* are called in a lot of places...

[2019-06-11 15:01] dhalbert commented on #1933
Further testing: I have turned on `MICROPY_OPT_COMPUTED_GOTO` which is a performance enhancement in the VM interpreter (adds about 1700 bytes ti firmware). This further speeds up the basic timing loop by a factor of 5. Together these seem to account for pretty much all the speed differences.

The basic test I am using (to avoid any issues about how `range()` is implemented:
[code]

[2019-06-11 15:51] kevinjwalters commented on #1644
Took me a while to get back to this but just found my electronics and reassembled with CPX and worked out I had a duff breadboard track.

Just tested your version and it's far, far worse!

[2019-06-11 16:04] shazz commented on #1933
Interesting ! I'll try tonight on my pygamer to enable MICROPY_OPT_COMPUTED_GOTO  and disable CIRCUITPY_DISPLAYIO. I'll post my results here.

[2019-06-11 16:51] makermelissa opened #1935 "GamePadShift requires a delay"
One of the things that I found while working with GamePadShift is that reading it too fast will sometimes return 0 even if there are buttons pressed. I believe this is because it shifts the bits out when it is read and doesn't maintain state. I'm not sure if this was the intended behavior or just a result of a fast CPU reading faster than the shift register is reading the buttons. I think it would

[2019-06-11 16:54] ladyada commented on #1935
yeah @deshipu mentioned this before i think? it would be nice if we had a queue of button presses!

[2019-06-11 18:46] deshipu commented on #1935
It's not a bug, this is how it is supposed to work, and how it is documented. Reading the buttons state clears the buffer, and it will remain empty until new button presses are registered. This is shouldn't be a problem in any normal application, as the buttons are being read every 30ms or so, and no human is able to see that.
I suppose it can be surprising if you read the button state in a tight

[2019-06-11 18:49] deshipu commented on #1935
We could make it work as expected if instead of clearing the buffer, we set a flag that tells the code that updates the buttons to clear the buffer when it reads their state. But I don't think it's worth the effort without an actual use case that would require it.

[2019-06-11 18:51] makermelissa commented on #1935
The use case is @kattni is working on a library to make accessing buttons easier and is running into them returning 0 sometimes when they're still being pressed.

[2019-06-11 18:53] deshipu commented on #1935
Is there code available?

[2019-06-11 18:54] makermelissa commented on #1935
She'll have to give that to you. However, I had to add a delay for the same reason in https://learn.adafruit.com/pybadge-conference-badge-multi-language-unicode-fonts

[2019-06-11 19:04] kattni commented on #1935
It's a sparse WIP. I can create a quick repo and push the code if you want it. It's designed to work on PyGamer/PyBadge, though only tested on gamer so far.

I'm writing a library that's meant to be designed like the Circuit Playground Express `cpx` library - a general purpose wrapper library that makes all the functionality of the boards available in one place. The first thing I did to test the b

[2019-06-11 19:12] deshipu commented on #1935
I will try to propose a pull request that lets you use it like that.

[2019-06-11 19:50] dhalbert opened #1937 "Create an empty lib folder when creating CIRCUITPY filesystem"
Create an empty `lib` directory (folder) when the root filesystem is created. Suggested by @ladyada.

[2019-06-11 21:43] #1910 closed

[2019-06-12 01:00] shazz commented on #1933
@dhalbert, with the last CircuitPython source code, when I add `#define MICROPY_OPT_COMPUTED_GOTO   (1)` I got this error at compilation time:

[code]

Anything I should do ?

[2019-06-12 01:01] dhalbert commented on #1933
Change both `#if __clang__` to `#ifdef __clang__`. The original is a bit sloppy and we turn on warnings on that.

[2019-06-12 01:01] dhalbert commented on #1933
Note the PR: https://github.com/adafruit/circuitpython/pull/1934

[2019-06-12 01:25] shazz commented on #1933
Thanks!

So I ran again the same test with `MICROPY_OPT_COMPUTED_GOTO` enabled and `CIRCUITPY_DISPLAYIO` disabled:

Results: `35.3ms`

So a huge improvement but still some room for optimization to reach the ~10ms on an equivalent 120MHz STM32F4 board with MicroPython.

Good job @dhalbert !

[2019-06-12 01:38] dhalbert commented on #1933
Thanks! The next step is more work, which is to figure out how to call the background tasks only as often as necessary. That will get the next 2-3x speedup, I think.

[2019-06-12 01:38] dhalbert commented on #1933
We really appreciate your taking the time to do this comparison and point out the big disparity.

[2019-06-12 01:46] shazz commented on #1933
Just tried at 200Mhz: 21.2 ms.

Ah ah, no issue :) It forces me to go into the details to get a better understanding of CircuitPython, I like that. But a beer in the Walking City downtown would be appreciated too.

[2019-06-13 01:05] kflmiami420 opened #1941 "Adafruit SI1145 UV Lux sensor missing libraries for Raspberry Pi in python"
I am working on a a personal project that needs Uv Index I purchased the SI1145 for my raspberry pi .   There are no Adafruit_CircuitPython_SI1145 libraries,drivers in python for this sensor to be used with a raspberry pi.

Please create a driver so I can get UV Index readings from this sensor

[2019-06-13 01:27] ladyada commented on #1941
hiya that sensor isn't recommended for UV readings, as it does not have a true UV sensor. try the VEML7700!

[2019-06-13 12:29] #1169 closed

[2019-06-13 12:29] #1705 closed

[2019-06-13 12:29] #1923 closed

[2019-06-13 19:26] #1935 closed

[2019-06-13 19:31] tannewt commented on #1929
Someone care to summarize where we're at on this?

[2019-06-13 19:34] tannewt commented on #1919
Why do you need to change it as you go?

[2019-06-13 19:35] tannewt commented on #1913
@iraytrace any update on this?

[2019-06-13 20:21] brentru commented on #1919
@tannewt The ATECC608A requires the frequency to be decreased to wake the chip up, then increased again when a command needs to be sent.

[2019-06-14 16:47] anecdata opened #1944 "4.1.0-beta.0 terminalio with ili9341 no longer uses whole screen"
Adafruit Feather M4 Express with samd51j19 (31b)
CircuitPython 4.1.0-beta.0 on 2019-06-13
CircuitPython Library Bundle 20190613
2.4" TFT FeatherWing

[code]
With minor changes to the library example, text only scrolls at the top of the screen,
leaving the bottom always blank.

[2019-06-14 16:50] tannewt commented on #1944
Please post a picture.

[2019-06-14 16:50] anecdata commented on #1944
For comparison, hx8357 with 3.5" FeatherWing works fine in this config.

[2019-06-14 16:57] anecdata commented on #1944
Added a loop cointer so it's clear the print statements are unique. Some code uses a little more of the top of the screen than others, but never more than half, that I've seen.
<img width="957" alt="Screen Shot 2019-06-14 at 11 56 24 AM" src="https://user-images.githubusercontent.com/16617689/59525236-74abc500-8e9b-11e9-9f5c-810561ae1aec.png">

[2019-06-14 17:06] anecdata commented on #1944
Well, now that I'm banging on it more, it seems that maybe the init just got in a funny state. I'm able to get the whole screen now. Successive reloads didn't clear something, had to remove battery and completely power down. Thought I had done that last night, but possibly not. I'll close this if I don't see any strangeness in the next couple of days.

[2019-06-14 17:16] makermelissa commented on #1944
Yeah, sometimes when working with displays they'll stick with the first init codes they see and if you don't unplug completely this can either lull you into a false sense of security or see issues where there aren't any. I've had it happen to me a few times while working on the drivers. :)

[2019-06-14 17:17] makermelissa commented on #1944
Perhaps the display isn't resetting properly.

[2019-06-14 17:27] anecdata commented on #1944
It's possible my display is quirky, I don't have a 2nd to test. But I put 4.0.1 back on and it worked fine. But 4.1.0-beta.0 is still acting up after that.

[2019-06-14 17:28] makermelissa commented on #1944
I'm thinking maybe partial display updates exposed something. Do you happen to have a PyPortal to test with? It also uses the ili9341?

[2019-06-14 17:29] tannewt commented on #1919
Ugh, weird.

[2019-06-14 17:32] anecdata commented on #1944
PyPortal terminalio is fine, but I believe it uses parallel interface to TFT, not SPI.

[2019-06-14 17:34] makermelissa commented on #1944
Yeah, but at least it's a good data point. I can hook up a display in a little bit and see if the behavior is the same on mine. I also have a few different ili9341 displays.

[2019-06-14 17:38] dhalbert commented on #1944
Or maybe the new interpreter speedup means it needs a delay now somewhere in the Python code?

[2019-06-14 17:40] sommersoft commented on #1919
Agreed. I looked at the sheet, and from what I can tell it's similar to a clock stretch, by holding SCL high for a minimum amount of time to wake from sleep.

Dropping the frequency does seem the best approach. I peeked at the M4 sheet and saw an SCL hold register/property, but that would likely be just as bleh to implement; if it would even address this. Not to mention far less useable across the

[2019-06-14 17:40] anecdata commented on #1944
Oddly (though perhaps related), I'm not seeing discernible speedup on the 2.4" FeatherWing.

[2019-06-14 17:58] caternuson commented on #1941
So is this a yay or nay for having a driver?

Related:
https://forums.adafruit.com/viewtopic.php?f=8&t=152822

[2019-06-14 19:06] makermelissa commented on #1944
Ok, here's what I observed while testing it using the above code. When you start it, it paints a  red rectangle on the entire screen fine and then prints test starting from the bottom.

Each time you save the file it repaints the red rectangle just fine showing that the init commands seem fine. However, the terminal seems to shrink a little each time. So this may be related to terminalio.

[2019-06-14 21:07] ladyada commented on #1234
for those who want to try it out - check out @rhthomas code here!
https://github.com/adafruit/Adafruit_CircuitPython_NRF24L01/pull/1

[2019-06-15 14:49] shazz opened #1947 "[pygamer] IOError when reading files from SD card"
Hi,
I just figure out that there is a 'slight' difference when reading files from the flash or from the SD card.

**Version**: master (6/16/2019)

**File generation** (copied to the flash and to the SD card
[code]

**Code**:
[code]

**Results on the SD card:**
[code]

works well from the flash.
`os.listdir()` works, files located on the SD card are shown

Any idea when I can check ? Libraries ?

[2019-06-15 14:57] jerryneedell commented on #1947
When I see this error ```Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
OSError: [Errno 5] Input/output error
[code]

[2019-06-15 15:40] shazz commented on #1947
In fact I ran the test code:

- from the flash
- from the SD card
- from the REPL (line by line)

same result.
I also reformat the SD card. No change.
Running script from the SD card works, but that's really this `readinto()` which fails.

[2019-06-15 17:18] shazz commented on #1947
Ah, looks it comes from here in `extmod/vfs_fat_file.c`

[code]

then....

[2019-06-15 21:14] ladyada commented on #1947
maybe same issue as
https://github.com/adafruit/Adafruit_CircuitPython_SD/issues/14

[2019-06-15 21:22] shazz commented on #1947
There is maybe a link... in this case **read** **crashes** after **200** bytes (versus **hangs** when **write** more than **1023** bytes).

Bu in any case, there is an issue with reading and writing on the SD card...

[2019-06-16 02:56] ladyada commented on #1941
ya, thats the same person. i think this is a very low priority driver, but if someone wants to do it, that would be very welcome :) they may benefit from checking the silabs fm transmitter, the 'i2c data access technique' silabs uses is similar

[2019-06-16 03:38] dhalbert commented on #1947
What is the brand, model, and size of the card? Some cards work worse than others.

We have a C-based library we are planning to use instead of the python-based SD library.

[2019-06-16 03:41] dhalbert commented on #1947
I should say _thinking_ of substituting, since we may not have space on some boards.

[2019-06-16 03:57] shazz commented on #1947
That's a SanDisk 8GB micro SDHC class 4.
I will try with some others...

[2019-06-17 06:29] #1937 closed

[2019-06-17 06:54] tannewt opened #1949 "Implement sys.settrace as the lowest level of a debugger or profiler"
[sys.settrace](https://docs.python.org/3/library/sys.html#sys.settrace) could be a very useful tool for performance analysis via python rather than requiring a lot from the VM/C itself.

There is a PR to micropython for it here: https://github.com/micropython/micropython/pull/4265 from @malinah

[2019-06-17 14:42] tonygo opened #1950 "Si1145"
I've used this Adafruit Si1145 board with an Arduino and would really appreciate a CircuitPython driver to use with CircuitPlayground Express and Itsybitsy M4 Express. Now the sun might come out in UK anytime soon it would be really helpful.

[2019-06-17 14:50] anecdata commented on #1944
MiniTFT FeatherWing exhibits the same display bahevior: graphics are fine, terminalio loses about one text line per reload.

[2019-06-17 16:00] ladyada commented on #1950
duplicate of https://github.com/adafruit/circuitpython/issues/1941
please sub there :)

[2019-06-17 16:00] #1950 closed

[2019-06-17 17:49] anecdata commented on #1944
Some updates to above comments:

The 2.4" FeatherWing does appear to run faster with 4.1.0-beta.0 fresh out of a power cycle.

But now working on the 3.5" FeatherWing more, I am seeing some quirky behavior. It's in a super slow mode now that I can't get out of even through reverting to 4.0.1 (or back) and / or power cycling. Could be specific to my unit (I only have the one to test), or it possibl

[2019-06-17 23:08] anecdata commented on #1944
More testing in the Gist comments. Observations:

- "slow mode" seems independent of whether an external display is actually connected

- therefore, seems to be tied to processor / circuitpython rather than the external display hardware

- hardware reset button during run seems to be a trigger for slow mode

- slow mode persists across reloads

- SPI frequency is sticky across reloads in normal mo

[2019-06-18 13:49] edwios opened #1954 "Timer for nRF52840?"
Instead of using a while True: loop, I would like to use Timer(,,,callback) to periodically trigger a callback function. The reason is, I want to reduce the power consumption as much as possible so that I can deploy, for example, a temperature sensor that can run on a CR2032 coin cell for months.

Is there any way to realise this?

Thanks!

[2019-06-18 16:10] dhalbert commented on #119
Closed in favor of #696.

[2019-06-18 16:10] #119 closed

[2019-06-18 16:10] dhalbert commented on #1954
We have no way currently to do this. Low-power sleep and the like are on our long-term feature list, but we are not.

(Closed in favor of #696.)

[2019-06-18 16:10] #1954 closed

[2019-06-18 17:36] ladyada opened #1956 "[displayio] allow getting from the Palette"
may be handy for palette cycling/swapping. currently can set palette entries but not get em!

`TypeError: 'Palette' object is not subscriptable`

[2019-06-18 22:44] ladyada opened #1957 "Setting a group sprite's index to None deletes it?"
i think it would just cause the group to 'skip' that layer instead?

[turtledemo.zip](https://github.com/adafruit/circuitpython/files/3303695/turtledemo.zip)

[2019-06-19 02:13] mattytrentini commented on #1380
I'm coming to this late too but I guess I don't understand the cons to asyncio; for me it's simple, well documented, well supported and used widely for Python. It requires few language additions and the implementation is available as a python module. Asyncio, like the message queue example, is also synchronous - it provides concurrency but not parallelism - so is relatively straightforward to reas

[2019-06-19 06:43] njsmith commented on #1380
@mattytrentini When you say asyncio, do you mean asyncio, or uasyncio? My impression from talking to Paul Sokolovsky a bit is that they have substantially different APIs, and in fact he strongly disagreed with a lot of choices that asyncio made. Also, the main asyncio devs say that they think Trio generally did things better and their goal is to incrementally convert asyncio into trio... (of cours

[2019-06-19 08:14] smurfix commented on #1380
From my perspective: yes you have that nice little `@when.interval` which works well enough – except when it doesn't: after you learn how to do a simple blinkenlight, the next idea is to vary the blink frequency. Boom you're back at the start line and need to figure out how to do it manually *anyway*.

The point about async-anything is that you can open-code your state machines, which is much easi

[2019-06-19 17:30] ladyada opened #1960 "[displayio] trapezoid/triangle primitive"
this is what graphics engines tend to do. we can have a C-optimized triangle or trapezoid drawing program and everything else uses it (polygons/lines/shapes). outline and fill.
maybe also a circle helper at some point but this is more...primitive! ha.

[2019-06-19 21:05] #1921 closed

[2019-06-20 01:43] mattytrentini commented on #1380
Paul is quite opinionated ;) - but in any case the uasyncio API follows asyncio _reasonably_ closely. Certainly to most _users_ of the API it will feel similar if not the same.

I also agree that you Trio folks have made some _excellent_ decisions and some significant improvements. But I'd rather wait for it to be accepted through a PEP process before having people build on it (and the interface p

[2019-06-20 13:45] kevinjwalters commented on #111
There's a survey about Python use on microcontrollers mentioned on: https://twitter.com/nnja/status/1140807884474732544 . I've mentioned the FAT12 bug on there. I'm not sure if it'll have any effect but I'll try any angle on offer to try to get MSFT to fix this tedious problem.

[2019-06-20 17:02] tannewt commented on #111
@kevinjwalters No need to keep bugging Microsoft about the FAT12 bug. They've gotten the message and the wheels are turning. Just need to have patience now.

[2019-06-20 19:57] dhalbert opened #1962 "nrf: neopixel chains of certain lengths cause hard fault"
Found by @bmeisels in #circuitpython discord. Reduced to simple test case:
[code]
In general, it fails for `neopixel.NeoPixel(board.D6, <n>)` for `n` = 2 through 5, then it works for 6 and above.

[2019-06-20 19:58] jerryneedell commented on #1962
@dhalbert I ran examples discussed in discord on a feather_m4 express with no problems so this is an nrf52840 issue

[2019-06-20 19:59] jerryneedell commented on #1962
never-mind -- I see the nrf tag

[2019-06-21 03:10] nikmolnar opened #1965 "Python version equivalent"
Where can I find which version of Python that CircuitPython implements? I've seen references elsewhere to Python 3.4, but I can't seem to find any official record of this.

Also, I assume CircuitPython will implement newer versions over time, in which case it will become important to know which versions of CircuitPython implement which Python versions.

Thanks!

[2019-06-21 03:20] dhalbert commented on #1965
CircuitPython is forked from MicroPython, and takes its core language interpreter essentially intact. MicroPython has stated that it is currently based on core features in CPython 3.4. Some features are omitted or are slightly different frp, C{utujpm to save time or space. There's now discussion of what to add to MicroPython for the next major release. For background see these MicroPython issues:

[2019-06-21 03:25] nikmolnar commented on #1965
Thank you @dhalbert , that's exactly what I wanted to know!

[2019-06-21 03:25] #1965 closed

[2019-06-21 08:18] kevinjwalters commented on #1922
Thanks @C47D, I tested 4.1.0-beta.0 last night with an 80kHz sample and this now appears to work fine: https://www.youtube.com/watch?v=WME0PRTvCk8

[2019-06-21 13:18] dhalbert commented on #1912
This is still worth looking at, because the I2C implementation should not hang up the RTC if there's something wrong. https://forums.adafruit.com/viewtopic.php?f=60&t=151839

[2019-06-21 13:27] dhalbert commented on #1644
In what way? Could you attach a test program and describe a setup so I can listen for the issues? That would save me from trying changes without testing.

[2019-06-21 13:35] jerryneedell commented on #1912
FWIW - I have reproduced this with a I2C soil sensor on a pyportal  -- time.time() stop incrementing. time.monotonic() continues incrementing.
Just connecting the I2C device stops time.tim() from incrementing - it does not have to be accessed.

[2019-06-21 13:36] dhalbert commented on #1912
@jerryneedell Which sensor? And are you applying 5v or 3.3v via the connector?

[2019-06-21 13:38] jerryneedell commented on #1912
https://www.adafruit.com/product/4026
with he jumper in the default 5V position
Also not that the sensor does not work properly. the temperature values are wrong. I don't want to repeat this test!
at 3V it works fine as reported

[2019-06-21 13:40] jerryneedell commented on #1912
I hav e the jumper set to 3V for portals I use with I2C -- I have one at 5V still so I used it to check.

[2019-06-21 13:44] jerryneedell commented on #1912
I may have damaged the sensor

[2019-06-21 14:19] jerryneedell commented on #1912
hmm -- looking at the schematic for the pyportal -- it looks like with the jumper at 5V, it puts 5V on the I2C VCC -- SDA/SCL are pulled up to 3.3 V on the pyporta for its adt7410 temperature sensor, but the I2C device (the soil sensor) will pull them to 5V -- not sure what this does.  In any case, my soil sensor temperature values are not working properly any more.  I think I'll stop testing this

[2019-06-21 20:39] shazz commented on #1947
So I tested on 3 micro SD cards:

| SD Card       | class | type | size   | Read speed | Access time | Results |
|---------------|-------|------|--------|------------|-------------|---------|
| Sandisk       | 4     | SDHC | 8GB    | 46.8 MB/s  | 0.53ms      | Failed  |
| Team          | 4     | SDHC | 8GB    | 22.5MB/s   | 1.48ms      | Success |
| Sandisk ultra | 10    | SDHx | 128 GB | 86.2 MB/

[2019-06-21 20:59] jerryneedell commented on #1912
the soil sensor that I was giving me bad readings after using 5V I2C on the pyportal still will not work with Circuitpython, but it does work under Arduino!!  I'm confused, but relieved.

[2019-06-21 21:10] shazz commented on #1947
For reference I did some performance tests between the pygamer (120MHz) and my STM32 based board running MicroPython at 84MHz:

| method   | size  | time ms  | time in ms (reference) |
|----------|-------|----------|------------------------|
| readinto | 10    | 0.250244 | 0.02592                |
| readinto | 100   | 1.15051  | 0.08985001             |
| readinto | 1000  | 10.0525  | 0.749

[2019-06-22 09:47] JJJollyjim opened #1966 "Issue running on the makerdairy nrf52840-mdk"
When I flash the latest build (either my own build of master, or [your provided one](https://adafruit-circuit-python.s3.amazonaws.com/bin/makerdiary_nrf52840_mdk/adafruit-circuitpython-makerdiary_nrf52840_mdk-en_US-4.0.0-alpha.5.hex) on an erased nrf52840-mdk (non-dongle version), the chip produces no serial output. This happens whether I flash with the makefile (via pyOCD), DAPLINK, or gdb.

Debu

[2019-06-22 09:53] JJJollyjim commented on #1966
(My only deviation from the https://learn.adafruit.com/circuitpython-on-the-nrf52/ guide was that I didn't run the `./bluetooth/download_ble_stack.sh` script, since it appears not to exist...)

[2019-06-22 10:14] jerryneedell commented on #1966
If I recall correctly - the bluetooth stack no longer needs to be downloaded separately.
FWIW - I have been able to build/ load CP for the makerdary nrf52840 usb dongle, but one difference is tat I installed the UF2 Bootloader to stand use that to load CP.

[2019-06-22 10:21] JJJollyjim commented on #1966
Hmm it looks like the UF2 bootloader isn't supported on the non-dongle (since it comes with its own programming hardware)

[2019-06-22 10:47] JJJollyjim commented on #1966
Heck, I didn't have a softdevice flashed. Nevermind! :)

[2019-06-22 10:47] #1966 closed

[2019-06-22 12:01] jerryneedell commented on #1912
After convincing myself that the soil sensor was not damaged by the 5V I2C I have resumed testing this.

I am now finding that the issue is intermittent.
Here is an example where time.time() does increment wit the I2C sensor connected

I am unable to reproduce the issue now but I have reproduced  it on other occasions.
[code]

this is the code I am running
[code]

[2019-06-22 12:19] jerryneedell commented on #1912
I created a dummy I2C device with just 10K resistors pulled to VCC. Runnig this code
[code]

connecting the "device" to the Pyportal with the 5V I2C you can see that the rime increment stops
[code]

This does not happen on a PyPortal with the 3,3V jumper in place for I2C

[2019-06-22 13:14] kevinjwalters commented on #1875
There's a sine wave function somewhere that's blowing up due to 65536 going into an `"H"` `array.array`. Is this in the same vein as what @dhalbert was commenting on.

Discussed in: https://forums.adafruit.com/viewtopic.php?f=60&t=153174

[2019-06-22 16:09] jerryneedell commented on #1912
I was not able to reduce this on a feather_m4_express.
I tried both with just the Dummy device with its VCC connected to VUSB
and with th dummy device and an ADT7410 connected (like it is on the Py Portal.
The time.time() kept incrementing and the adt7410 works normally.

[2019-06-22 16:23] jerryneedell commented on #1912
hmmm -- if I connect my "dummy" device to the PyPortal -- it takes it along time to boot -- much longer than normal
 ~10 sec or more

[2019-06-22 16:37] jerryneedell commented on #1912
and another observation:
releasing either SDA or SCL starts the time.time() incrementing again. It only stops if both are pulled up.

[2019-06-22 17:33] ladyada commented on #1912
make sure the i2c pins are pulled up to 3V not 5V

[2019-06-22 17:34] jerryneedell commented on #1912
Right -- this only happens if you connect an I2C device to a "default" PyPortal where I2C VCC is set to 5V on the JST connector

[2019-06-22 17:35] ladyada commented on #1912
yeah thats a known issue with the samd51 - it does not like pullups to 5V

[2019-06-22 17:36] jerryneedell commented on #1912
A more prominent warning may be needed for PyPortal -- this comes up a lot.

[2019-06-22 17:38] ladyada commented on #1912
sure, where do you think it should go?

[2019-06-22 17:40] jerryneedell commented on #1912
I guess here https://learn.adafruit.com/adafruit-pyportal/pinouts#i2c-connector-2-18  it says you can set the jumper -- may want say you "should" set the jumper for I2C devices

[2019-06-22 18:15] dhalbert commented on #1912
@ladyada Maybe next board rev should change the jumper to default 3.3V.

[2019-06-22 18:41] ladyada commented on #1912
the next board rev will have a level shifter (its in the mini version already)

[2019-06-22 18:42] ladyada commented on #1912
added!

[2019-06-22 18:56] C47D commented on #1922
Glad it worked, it does look beautiful, great music too. Is your project documented somewhere i would like to know more about it!

[2019-06-22 20:29] jerryneedell commented on #1912
Should we close this? Just say "don't do that"  ;-)

[2019-06-22 20:36] dhalbert commented on #1912
Yes, it's "solved". "If it hurts, don't do that." Since the guide has been updated, this is enough. But thanks for testing.

[2019-06-22 20:36] #1912 closed

[2019-06-22 23:39] ladyada commented on #1912
yep future boards don't have this issue - e.g. the pygamer/pybadge have proper level shifting. things get learned! :D

[2019-06-23 23:24] kevinjwalters commented on #1922
I'm still debugging and cleaning code up but will let you know when it's out on t'Internet.

[2019-06-24 20:00] kattni opened #1967 "PyGamer safe mode crash into Hardfault_Handler"
Working on Adafruit_CircuitPython_PyBadger. At that state of the lib, if I moved the order of things in code.py, it would:

1. Reboot the board.
2. Returns `OSError 5: Input/Output` (not sure past this, it flashes onto the display, so I'm only seeing what fits on to the display)
3. Reboots again into safe mode with `Hardfault_Handler`.

If the `pybadger.badge` line is inside the `while True:` loop

[2019-06-25 18:39] tannewt commented on #1962
Fixed by #1963

[2019-06-25 18:39] #1962 closed

[2019-06-25 19:13] tannewt commented on #1967
I tried to reproduce this but was unable to with a build of 4.0.x latest and with 4.1.0-beta.0. What version were you using? Can you post your full drive? I had to pull down a number of libraries to get it to run.

[2019-06-25 19:27] tannewt commented on #1917
I've reproduced this and am looking at it now.

[2019-06-25 19:52] kattni commented on #1967
I'm using `Adafruit CircuitPython 4.0.1 on 2019-05-22`. I tested it again and it failed to safe mode. Included is the current state that failed to safe mode.

[pygamer_safe_mode_drive.zip](https://github.com/adafruit/circuitpython/files/3327032/pygamer_safe_mode_drive.zip)

[2019-06-25 20:26] dhalbert opened #1970 "Update shared-bindings/index.rst"
The list of supported modules per port is out of date in a number of ways.

It would be nice to have this generated automatically, but that might not be easy.

[2019-06-25 21:45] sommersoft commented on #1970
An **"immediate and unverified"** thought would be to have a python script that scans the base definitions (`circuitpy_mpconfig.mk`, `shared-bindings`, etc), then cycles through each board's `mpconfig.mk` matching against the base. Output is compiled into a JSON file. Then, on the Sphinx side, have a Jinja template that builds the `.rst` page.

Quick related searches:
- https://www.ericholscher.co

[2019-06-25 22:42] tannewt commented on #1917
The cause is a corrupt mpy file (adafruit_crickit.py) that then breaks its code execution. I'm adding validation that catches this case but we should probably add a checksum.

[2019-06-25 22:46] kevinjwalters commented on #1917
Was `adafruit_crickit.py` corrupt in the zip or did it get corrupted on its way to / on the CPX? If latter, do you know how that happened? Simple truncation or with changed bytes?

[2019-06-25 23:08] tannewt commented on #1917
It's corrupt in the crash.zip above. It is the correct length but one block within the file is incorrect. I'm not sure how it happened.

[2019-06-25 23:26] tannewt commented on #1967
This is fixed in 4.0.x. I can repro on 4.0.1 but not 4.0.x. It's the mistaken free of the root Group causing issues which was fixed in #1928. Will release 4.0.2 in the next 24 hours.

[2019-06-25 23:26] #1967 closed

[2019-06-25 23:55] tannewt commented on #1908
I was able to replicate this. It is a hang rather than a crash.

Unfortunately, it's a bit of a complicated example. It'd be great to whittle it down a bit.

Anyone have a CircuitPlayground Express with an SWD attachment?

[2019-06-25 23:56] kevinjwalters commented on #1917
I've seen that hex unique id stuff in `boot_out` once. I think it was FAT corruption from Windows due to user error vs that FAT12 bug. Or possibly crashes, e.g. I have shorted CPX power pads twice and if stuff hasn't flushed the immediate crash that results won't be good as presumably host o/s doesn't know to flush or does it?

@jnalezny What host operating system are you running? Particularly for

[2019-06-26 00:08] kevinjwalters commented on #1917
Does CircuitPython/MicroPython or the CP library build process use Microsoft **UUID** with that particular represesentaiton? My experience in that world is limited but I believe that's where I have seen that format string before. Is it used more widely than Microsoft libraries?

https://docs.microsoft.com/en-us/windows/desktop/rpc/generating-interface-uuids

[2019-06-26 00:58] tannewt commented on #1944
@anecdata can you try the latest S3 build? I made some tweaks for SPI displays in it.

[2019-06-26 01:23] anecdata commented on #1944
Still seeing successive loss of lower display lines on successive reloads using code above on:

Adafruit Feather M4 Express with samd51j19
adafruit-circuitpython-feather_m4_express-en_US-20190625-d3adfde.uf2
CircuitPython Library Bundle 20190625
2.4" TFT FeatherWing (ili9341)

Default SPI speed appears to have been raised from 250000Hx to 24MHz.

[2019-06-27 03:13] loganwedwards commented on #1929
I have a similar experience documented [here](https://forums.adafruit.com/viewtopic.php?f=57&t=153302). Essentially, on my Feather M0 Lora, I am running into MemoryAllocation errors and if it was just due to the number of imports I have, then I would immediately suck it up and aquire a Feather M4 (192k vs 32k RAM), but when I use the verbatim example code (last post by lecreate), I am still seeing

[2019-06-27 13:21] dhalbert commented on #1929
I replied to @loganwedwards in the forum. I was able to get the .py file to load by tweaking some bytearray initializations.

[2019-06-27 20:54] #1944 closed

[2019-06-27 22:48] #1917 closed

[2019-06-28 11:18] arturo182 opened #1976 "Enabling MICROPY_PY_DELATTR_SETATTR for SAMD51"
Has anyone looked at the cost of enabling `MICROPY_PY_DELATTR_SETATTR`?

It's off by default, but it's on for the stm32 port, and I just found out it was off the hard way, by trying to debug why my code doesn't work for 2h :<

According to the commit enabling it in stm32, there's no performance hit in the classes that don't implement it, see https://github.com/adafruit/circuitpython/commit/190c7db

[2019-06-28 17:20] arturo182 commented on #1976
Here's a build straight from master:
[code]

And here's a build with `MICROPY_PY_DELATTR_SETATTR=1`:
[code]

To sum up:
-120B free flash
-0B free stack

This was for `feather_m4_express`.

[2019-06-29 01:54] rce1086 opened #1977 "Metro M4 Express additional UART handling incorrect"
### Metro M4 Express
UART on pins 0/1 used for serial LCD display: attempting to create an additional UART (needed because of no raw serial stream being available from host PC via USB) on pins D10,D11 (as indicated by the example script as a usable pair)
`ascom = busio.UART(
    board.D10,
    board.D11,
    baudrate=9600,
    bits=8,
    parity=None,
    stop=1,
    timeout=0.25,
    receiver_buf

[2019-06-29 03:17] ladyada commented on #1977
thats correct, on SAMD51/M4 boards TX can only be pad 0, RX can be any pin

![image](https://user-images.githubusercontent.com/1214161/60379111-d7a06e80-99fa-11e9-96cc-c87caddac4dc.png)

[2019-06-29 12:12] iraytrace commented on #1929
So what is the status / expectation?

[2019-06-29 12:47] dhalbert commented on #1929
Hmm. I tried the example in your first post with CircuitPython 4.0.1 and 4.1.0-beta.1 and with .mpy's from the 0626 bundle, and it worked fine. I saw "Hello World" on the SSD1306.

Make sure that .py versions of library files are not present on CIRCUITPY. They'll take precedence over the .mpy's when you do an import.

[2019-06-29 21:37] rce1086 commented on #1977
Thanks for confirming this, Lady Ada.
May I request, therefore, that the CircuitPython code be tightened up to reject these inappropriate settings, rather than setting configurations which won't work, thus making the output of the sample script [https://github.com/adafruit/Adafruit_Learning_System_Guides/blob/master/CircuitPython_Essentials/UART_Test_Script.py](url)
reflect reality...
Thanks to al

[2019-06-29 22:03] ladyada commented on #1977
yep we'll look at it - thanks for the bug report :)

[2019-06-30 20:49] iot49 opened #1980 "import multiterminal throws ImportError"
[code]

I tried UNSUCCESSFULLY adding defines to circuitpy_mpconfig.mk.

[code]

and circuitpy_defns.mk

[code]

[2019-07-01 03:20] tannewt commented on #1980
What are you trying to do? multiterminal was only ever implemented for ESP8266 which is no longer supported.

[2019-07-01 17:28] iot49 commented on #1980
I’m trying to catch <stdout> and <stdin> (specifically while executing
“exec()”).

(Assigning sys.stdout is not supported in micro/circuitpython).

Bernhard

On Sun, Jun 30, 2019 at 8:20 PM Scott Shawcroft <notifications@github.com>
wrote:

[2019-07-01 20:34] tannewt opened #1981 "Add dirty tracking to bitmap"
Changing a bitmap doesn't refresh the screen like it should.

[2019-07-01 20:50] tannewt commented on #1977
@rce1086 Would you like to take a stab at fixing this? You found the right place. That test needs an ifdef to correct it for SAMD51 similar to what is done here: https://github.com/adafruit/circuitpython/blob/master/ports/atmel-samd/common-hal/audioio/AudioOut.c#L124

[2019-07-01 20:53] tannewt commented on #1976
Did you try it for all builds? It'd be awesome if it was uniformly on. (Please make a PR for it too.) Thanks!

[2019-07-01 21:08] tannewt commented on #1960
I was trying to avoid having the line algorithms in the C code natively and rely on Shape to store solid colors efficiently.

How would triangle primitives be used and why would they need native speed?

[2019-07-01 21:12] ladyada commented on #1960
i bumped into this when looking at how to draw 'thick' lines, all the algorithms ended up saying "use a trapezoid primitive' - also if/when we do filled triangles or polygons, they're slow to do compared to rect-fills

[2019-07-01 21:15] tannewt commented on #1960
Mind linking me to examples? I'm new to this graphics stuff too. :-)

[2019-07-01 21:40] ladyada commented on #1960
this is the best document on how to draw thick lines.primitives. https://stackoverflow.com/questions/1222713/how-do-i-create-a-line-of-arbitrary-thickness-using-bresenham

[2019-07-01 22:58] siehputz commented on #1908
I think this may be related to memory management. I inserted an "import gc" and made some calls to gc.mem_free to note that the memory was quite low just before the hang. I put in a call to gc.collect() after the 'cpx.pixels.show()' line in the while loop and ran successfully for several minutes ( as opposed to several seconds without the patch). It did, however, eventually hang. I do have a Jlink

[2019-07-01 23:01] DavePutz commented on #1908
I think this may be related to memory management. I added an "import gc" and made some calls to gc.mem_free to note that the memory was quite low just before the hang. I put in a call to gc.collect() after the 'cpx.pixels.show()' line in the while loop and ran successfully for several minutes ( as opposed to several seconds without the patch). It did, however, eventually hang. I do have a Jlink de

[2019-07-02 18:22] iot49 opened #1982 "UART receiver_buffer_size"
`shared-bindings/busio/UART.h` declares the type of `receiver_buffer_size` as `uint8_t`. This prevents defining buffers >255 bytes and results in strange error messages (e.g. for 256, "invalid size").

Changing the type to `uint16_t` (same as in `py/ringbuf.h`) fixes this (corresponding change required also in common-hal).

[2019-07-02 18:54] tannewt commented on #1982
@iot49 mind filing a PR for this fix?

[2019-07-02 21:47] DavePutz commented on #1908
[Circuitpython-hang-stack.txt](https://github.com/adafruit/circuitpython/files/3352425/Circuitpython-hang-stack.txt)

Attached is a stack from the hang state. Apparently we hang while reading a WAV file. Single stepping thru, it looks like the issue is in shared_dma_transfer at the following lines:
    // Channels cycle between Suspend -> Pending -> Busy and back while transfering. So, we check

[2019-07-03 10:47] kevinjwalters commented on #1947
BTW, I asked about SDXC support as a fellow user had found a large SD card didn't work: https://forums.adafruit.com/viewtopic.php?f=19&t=152188&p=751225&hilit=sdxc#p751225

[2019-07-03 10:51] kevinjwalters commented on #1862
Reading a file (on Windows and possibly other host o/s) can also trigger a reload: https://github.com/adafruit/circuitpython/issues/1830#issuecomment-487023904

[2019-07-03 12:06] kevinjwalters commented on #1908
I had a glance at your stack trace. I know nothing about this so bare in mind this is a very uninformed comment but the one arg to `sercom_dma_read` look odd, `uint8_t * buffer  = 0x5 "\002"` is a value that's very low, isn't anything-aligned (possibly irrelevant), isn't in the memory address range of other pointers seen in the trace and hasn't been passed in.

 `common_hal_busio_spi_read` also ap

[2019-07-03 16:47] #1957 closed

[2019-07-03 18:09] kevinjwalters commented on #1639
Just noticed this phenomena on a PyGamer running 4.0.2

[2019-07-05 22:29] rce1086 commented on #1977
Sorry for the delay in replying: yes, I will - I assume you're looking for a pull request?

[2019-07-05 22:31] tannewt commented on #1977
Yes please!

[2019-07-05 22:55] iot49 commented on #1980
I solved the "problem" with a handler function in `supervisor/shared/micropython.c` that, when set, is called with whatever is written to serial. Handles output only and is much simpler than multiterminal.

Contact me if interested.

[2019-07-05 22:55] #1980 closed

[2019-07-06 22:07] pmp-p commented on #553
i think \n should not be replaced at all *anywhere*
Better change instead :
https://github.com/micropython/micropython/blob/master/py/modbuiltins.c#L402
 to allow to chose beetween \r\n or \n for end of lines.
and also https://github.com/micropython/micropython/blob/master/py/modbuiltins.c#L452

ideally for fd < 3 => globally user defined and fd>2  could default to \n

[2019-07-09 17:31] #1382 closed

[2019-07-10 11:58] kevinjwalters opened #1991 "audioio initialisation has strange DAC outputs on PyGamer (SAMD51)"
I've put CircuitPython on a PyGamer. My understanding is the `audioio` libraries nowadays put the output at the midpoint 32768 (3.3V/2) by default.

From REPL on `4.1.0-beta.1` I'm running

[code]

As the third command runs both outputs jump to around 1.65V as expected. They then drift slowly (perhaps 5 seconds) to A0=0.03V and A1=2.46V - drift is almost linear but there is a slight jump.

Other o

[2019-07-10 12:03] kevinjwalters commented on #1991
I'll try this later on Feather M4.

[2019-07-10 17:09] kevinjwalters opened #1992 "audioio does not maintain synchonisation of A0/A1 looping some audioio.RawSample data"
I appear to have made some data which despite being _even_ in length (4930 samples = 2465*2) when passed to `audio.RawSample` with `channel_count=2` and then sent to output with `play()` with `loop=True` it will play but the A0/A1 will not stay synchronised and drift around. At 100kHz playback it takes 60 seconds to return to being very briefly in sync. I might expect this if I passed an _odd_ num

[2019-07-11 17:07] tannewt commented on #1992
I'd expect it to throw an exception when the sample count isn't divisible by channel_count. I'm not positive it does though.

I'd encourage you to dig into the C side of the audio APIs. I bet you could fix a number of these issues.

[2019-07-12 14:56] C47D commented on #1886
I assume we will need to keep track of the built assets versus the boards list?

[2019-07-12 14:56] kevinjwalters commented on #1992
I'm in the middle of some application programming at the moment but will have a look when I get to end of that.

I've also discovered another problem with `dacs.play(something, loop=True)` ceasing output and possibly leaving output on the _last_ sample in something. I thought it was time based but it's not, sometimes it's 20 seconds, sometimes over a 100, sometimes seems to run ok "forever". It's

[2019-07-12 21:56] iot49 commented on #1982
Done.

[2019-07-12 21:56] #1982 closed

[2019-07-13 15:52] NightSkySK commented on #1717
SdFAT library is excellent, I'm looking forward to having it on CircuitPython. One of the features most expected is initialize at the highest speed supported by the board which can be up to 50 MHz.

[2019-07-13 19:21] yesnoio opened #1994 "CircuitPython json.dumps support for JSON Pretty-Print output"
Hoping to propose a small revision to CircuitPython's `json.dumps` so it supports pretty-printing of JSON strings. It seems `ujson.dumps` supports two additional formatting arguments: `json.dumps(parsed, indent=4, sort_keys=True)` (https://stackoverflow.com/a/12944035/6763539).
Some may want this pretty-print functionality, while others may find it unnecessary. Given how Python supports import of

[2019-07-13 19:22] yesnoio opened #1995 "Support for YAML"
Hoping to propose a port of https://pyyaml.org/wiki/PyYAML to a CircuitPython-compatible module.

https://yaml.org

[2019-07-13 19:39] ladyada commented on #1995
i think this would be best done as a pure python library - rather than built into the circuitpython core. is it something you'd like to hack on?

[2019-07-13 19:51] yesnoio commented on #1995
Sure! Do you happen to have link(s) to preferred documentation on making this a Python library that could be easily imported into an environment using CircuitPython? Can CircuitPython use library or package management software like `pip`?

[2019-07-13 19:54] ladyada commented on #1995
we do! https://learn.adafruit.com/creating-and-sharing-a-circuitpython-library
since this isnt hardware dependant, we recommend you can write your code for python3 (using nothing that circuitpython doesn't have access to) for superfast dev, then 'port' it to circuitpython which should be just any clean up

[2019-07-13 19:57] yesnoio commented on #1995
Awesome, thx! Will take a closer look! Hope to have progress to report in the coming weeks...

[2019-07-13 20:37] kevinjwalters commented on #1992
I'm running with a smaller amount of data now (882 * 2 = 1764) and if I transform those values sometimes A0/A1 stay in sync and sometimes they don't. When they are in sync there might be a few samples missing too.

[2019-07-14 13:00] dhalbert commented on #1887
The ARM 8-2019-q3 release, using gcc 8.3.1, was released on July 10. It is not available in a Linux ppa, only as a tarball. It fixes some issues in the previous gcc8 release related to LTO.

[2019-07-15 02:03] jepler commented on #1038
I have begun work on this in a branch in my personal repository, but nothing's ready for integration yet.

nrf's pwm module has some limitations:
 * 16MHz max count rate (A top value of 256 (255?) gives 62.5kHz)
 * Each PWM value can be repeated an integer number of full PWM cycles
 * When AudioOut device is constructed, will claim an entire PWM instance, like a variable-frequency PWM does (normal

[2019-07-15 06:28] tannewt commented on #1886
Right, it should cause an error if a board directory is added but not built.

[2019-07-15 11:57] kevinjwalters commented on #1992
Another observation, I was looking for a workaround and I've noted for similar code/data I've found the bug appears if I use the range 0-32768 on DAC but with same data rescaled to 0-25000 the sync bug goes away.

[2019-07-15 16:42] C47D commented on #1886
Did a quick check of the `travis.yml` and I think the check needs to be added on the `tools/build_release_files.py` script, is it?

I just want to make sure I'm on the right track.

[2019-07-15 16:53] tannewt commented on #1886
I'm not sure where it would be done.

[2019-07-15 17:21] tannewt commented on #1977
Fixed in #1989. Thank you!

[2019-07-15 17:21] #1977 closed

[2019-07-15 22:19] tannewt commented on #1038
They should be shared. Is the trouble with RawSample and WaveFile being in audioio that AudioOut is there as well and can't be implemented?

[2019-07-15 23:17] jepler commented on #1038
@tannewt I think I understand how to share the implementation, it's just a detail I didn't anticipate in estimating because I hadn't read the previous discussion on this issue. My mistake, and not a big deal.

[2019-07-16 10:04] wallarug opened #1997 "Incorrect I2C pins for SAMD51"
As per Discord Chat.

Hi,

I noticed on my ItsyBitsy M4 (SAMD21G19A) that CircuitPython seems to allow a huge number of non-compliant combinations for I2C and UART configurations for SAMD51.

I was just wondering if the datasheet for the SAMD51 is wrong or CircuitPython.

EG:  D3 (PB23) and MOSI (PB22) is said to be supported uart but really you cannot use the TX pin.  (not on PAD[0])

EG:  MOSI (

[2019-07-16 17:07] tannewt commented on #1997
Assume CircuitPython is wrong. UART was just fixed in #1989. Please file a fix for I2C if you have time. Let me know if you have questions about it.

[2019-07-17 07:59] wallarug commented on #1997
No worries @tannewt .  I'll give it a test run in the next version bump of CircuitPython and report back.

[2019-07-17 23:26] sommersoft commented on #1886
After some mental walking through the problem, I don't think `tools/build_release_files.py` is a good home for this.

Since the Travis jobs run as a matrix, and `build_release_files` only gets a limited set of board names, it would be difficult (but not impossible) to keep track of what matches the condition of `board not built, but exists`. (Further explanation if you don't understand the `.travi

[2019-07-18 03:10] C47D commented on #1886
Hi @sommersoft, thanks for the explanation, now the problem to solve and the solution you're proposing are clear to me, i just have one question. Does the result of the search pattern `TRAVIS\_BOARDS\=\"(.+)\" the same as if i get the boards using `os.environ["TRAVIS_BOARDS"]`?
I'm not very familiar with regex, but if it's necessary i can take a look at it.

Meanwhile, what do you think it should

[2019-07-18 10:50] wallarug commented on #1997
@tannewt

Following up on this.

Does CPY support software I2C?  We have got I2C working on PA08/PA09 but the datasheet clearly says that only:

PA16/17
PA12/13
PA22/23

Any ideas?

[2019-07-18 11:22] deshipu commented on #1997
CircuitPython does support software i2c, but you have to explicitly use ``bitbangio`` instead of ``busio``.

[2019-07-18 12:14] wallarug commented on #1997
Follow up Question:  How come busio works on the pins mentioned before PA08/PA09 when datasheet says it shouldn't for SAMD51G19A?

[2019-07-18 12:19] deshipu commented on #1997
Maybe it only seems like it works, and there are some weird corner cases or rare hardware errors that we can't see, so the datasheet says they are not supported? Or maybe the datasheet lies?

[2019-07-18 12:36] dhalbert commented on #1997
I have seen before on the SAMD21 that some pins were excluded from I2C even though they worked. In that case it was because of under-spec current sinking on those pins. The I2C pins had higher current capability than most of the other pins In practice the under-spec work fine. The might be flaky on very long runs, but we have never seen that.

However, on the SAMD51, PA08 and PA09 are supposed to

[2019-07-18 12:43] wallarug commented on #1997
So based on your above comment @dhalbert  it is likely that in most cases they will work (as they appear to be working for me both in CircuitPython and Arduino) but _could_ experience issues.

I understand what you are saying about how much power they can sink and the different supplies.  I just found it strange that they (1) worked and (2) datasheet said otherwise.

I have the same case on PA00 /

[2019-07-18 12:50] dhalbert commented on #1997
@wallarug Yes, the datasheet is saying in an opaque way you shouldn't, as opposed to you can't, or "we don't guarantee it".

AND, I found a previous discussion of this exact issue: https://forums.adafruit.com/viewtopic.php?f=63&t=139056

[2019-07-18 13:23] wallarug commented on #1997
Great information!  Thanks @dhalbert .

There are no issues with I2C and CircuitPython (in fact - it is good that you can use more combinations).

I would still like to keep this issue open so that I can test the UART pins thing mentioned at the top by @tannewt  and report back when I run my next build.

Thank you everyone!  💯